[2020-10-14 10:21] jmprieur commented on #2095
@fuocor
This is now fixed in 4.20.1 released today
cc: @bgavrilMS

[2020-10-14 10:21] #2095 closed

[2020-10-14 15:21] bgavrilMS commented on #1901
Hi @tipa, coming back to this to better understand your concerns...

`when adding a new account, it will also be added into the accounts list on Windows. It could be that I only want to log in with that account into the app only and have no traces of it anywhere else. I also know of users who don't want to add any Microsoft account to their Windows so that could be an issue for them`

Please note

[2020-10-14 19:04] wjvii opened #2099 "[Bug] NGen cannot process MSAL"
**Which Version of MSAL are you using?**
4.19.0

**Platform**
Windows 10, .NET 4.8

**Existing app?**
Yes, the app is in production, and I have upgraded to a new version of MSAL

**Repro**

[code]

**Expected behavior**
I expected it to install without error. I have tried to setup various binding redirects but they all fail.

**Actual behavior**
Failed to load dependency Microsoft.Identity.Client

[2020-10-14 19:10] bgavrilMS commented on #2099
Hi @wjvii

MSAL nuget package contains both lib and ref assemblies. This is allowed in modern version of NuGet. Ref assemblies are what you see in Visual Studio / developer programs against. Lib assemblies are runtime. We use a "bait and switch" technique, i.e. we hide some runtime APIs from the reference assembly to provide a better developer experience.

I can only imagine that the ngen tool is

[2020-10-15 08:43] bgavrilMS commented on #2054
Closing this, please reopen if needed

[2020-10-15 08:43] #2054 closed

[2020-10-15 08:44] bgavrilMS commented on #1918
Closing as a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1991

[2020-10-15 08:44] #1918 closed

[2020-10-15 08:46] bgavrilMS commented on #1847
Just setting expectations here - we are unlikely to get this done anytime soon.
The best experience to avoid these kind of issues would be to call directly MSAL for Android - https://github.com/AzureAD/microsoft-authentication-library-for-android

The native library will have fixed some of these issues.

[2020-10-15 09:39] jmprieur commented on #2090
@bgavrilMS : did it go in 4.20 ?

[2020-10-15 09:44] #2090 closed

[2020-10-15 09:46] bgavrilMS opened #2100 "[Feature Request] Get rid of the ref assembly / bait and switch technique"
# Why?

Ref assemblies are an exotic nuget feature which are unsupported by older tools and by custom build systems:

Example customer problems:

- Azure Web App service
- NGen tool https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2099
- CoreXT build system

Internal problems:

- build is slowed down (by how much ? TBD)
- most tools that integrate with build system do

[2020-10-15 09:52] tipa commented on #1901
Thanks for this explanation!

I could image that this could lead to some confusion and users wondering why the app doesn't work any more, just because they changed something "in Windows". This could be a reason why I would rather stick with the WebView login where the credentials cannot be removed outside the app (I know there's still ways to invalidate the credentials, by changing the account pas

[2020-10-15 09:53] bgavrilMS opened #2101 "[Feature Request] Simplify the API by getting rid of Migration Aid"
MigrationAid was there to help customers move from MSAL v3 to MSAL v4
It should be easy to detect how many apps are still running on MSAL v3, but I would imagine that not that many, since the last major update to MSAL v3 was on 30 Apr 2019.

For people using MSAL v3, we could recommend the following pattern:

- update to MSAL 4.20.1 first and benefit from the Migration Aid helpers
- migrate
- upda

[2020-10-15 09:59] jmprieur commented on #2100
Arguably:
- CCA build on UWP could be useful for the kiosk scenarios that is `AcquireTokenForApp` (probably on android and iOS as well. Think of a tablet that displays the weather?). However we'd probably not want customers to use `AcquireTokenByAuthorizationCodeFlow` or `AcquireTokenOnBehalfOf` which don't make sense in mobile/desktop
- cache hooks on mobile could be expose (we had some requests

[2020-10-15 10:07] bgavrilMS commented on #1901
Thanks @tipa

As for a better WebView, I don't think we'll get to this anytime soon as we need to finish WAM integration and then adding WebView2 on .NET classic and .NET core (the existing browser doesn't support FIDO keys).

You could have a look at using the [extensibility point ICustomWebUi](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.extensibility.icustomwebui?view=a

[2020-10-15 10:11] jmprieur commented on #2089
@bgavrilMS : do you mean without having to use .WithDefaultRedirectUri?
I guess this would be a breaking change?

[2020-10-15 10:23] tipa commented on #1901
Ha, I did not know about that possibility! Seems like this is exactly what I was looking for :)

[2020-10-15 10:23] jmprieur commented on #2083
We can do a pass on MsalErrorMessages, but the problem is bigger than that: there are currently 6059 aka.ms links in 89 files in the MSAL.NET source code.

This work needs to be spec-ed: how to do that efficiently and without causing more harm. Indeed, sometimes the wiki page was showing the end to end which is now split in the scenarios landing pages.

Also:
- P1: fix broken links
- P2: send to d

[2020-10-15 10:31] jmprieur commented on #2063
@bgavrilMS : is any discussion happening?

[2020-10-15 10:32] #2061 closed

[2020-10-15 10:34] jmprieur commented on #2055
@neha-bhargava : I don't understand this issue, what's the customer pain? how do we know that this is fixed?
we might want to take that offline.

[2020-10-15 10:38] jmprieur commented on #2037
@hpsin: if we surfaced this in Microsoft.Identity.Web would that be sufficient?
cc: @jennyf19 @henrik-me @pmaytak

[2020-10-15 10:41] jmprieur commented on #2029
@jennyf19 @bgavrilMS @trwalke @neha-bhargava @henrik-me : I think that we should do this (under PII probably) to help the support team?

[2020-10-15 10:42] jmprieur commented on #2026
@trwalke : do you have anything to share? do we want me to help?

[2020-10-15 10:44] jmprieur commented on #2023
Also this documentation might help? https://docs.microsoft.com/azure/active-directory/develop/scenario-desktop-acquire-token?tabs=dotnet#withcustomwebui

[2020-10-15 10:44] #2023 closed

[2020-10-15 10:45] jmprieur commented on #2013
@trwalke do we need to do more ?

[2020-10-15 10:46] jmprieur commented on #2011
@willfiddes : do you think that customers who need more details could leverage the HttpClient customization?

[2020-10-15 10:52] jmprieur commented on #2004
@neha-bhargava : the icm says: "not an incident". Is it something that has changed in our tests? or in our code? why did the test start failing?

[2020-10-15 10:54] jmprieur commented on #1991
@bgavrilMS : would that issue be related as well to the suppression of the reference library?

[2020-10-15 10:56] jmprieur commented on #1978
See also https://github.com/AzureAD/microsoft-identity-web/issues/454

[2020-10-15 11:03] jmprieur commented on #1952
@NightOwlCoder the sample to look at is https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API

just as @bgavrilMS said you'd replace the URL by the Azure Devops URL, and the scope by  https://app.vssps.visualstudio.com/user_impersonation (or  https://app.vssps.visualstudio.com/.default)

[2020-10-15 11:03] #1952 closed

[2020-10-15 11:04] jmprieur commented on #1940
@jennyf19 : let's work on a spec together if you want

[2020-10-15 11:07] jmprieur commented on #1932
@Crossbow78 : do you use the same clientID ? did you try to use a tenanted authority, rather than common. I suspect that your MSA is a guest of your tenant, and guest scenarios only work with tenanted authorities.

[2020-10-15 11:41] bgavrilMS commented on #1991
Not so much...

[2020-10-15 11:43] bgavrilMS commented on #2013
@jmprieur - the second deliverable is around exposing an interface that enables users to bring their own POP keys.
I'd say that a 3rd deliverable is to align our public API to the Android API, which has been approved in Api Reviews.

[2020-10-15 11:45] bgavrilMS commented on #2029
@jmprieur - not sure what APIs we can use to get the machine info, but otherwise should not be a problem.

[2020-10-15 11:47] bgavrilMS commented on #2063
This is a theoretical race condition...

[2020-10-15 11:51] bgavrilMS commented on #2089
Yes, breaking change...

[2020-10-15 13:51] #1890 closed

[2020-10-15 14:18] jmprieur commented on #1748
@henrik-me @bgavrilMS
I've updated the wiki: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Integrated-Windows-Authentication
I'll update docs.ms when WAM is released on the platforms we want to release it

[2020-10-15 16:32] neha-bhargava commented on #2004
@jmprieur They have pointed me to a person in their team whom I am asking the details. Even I have this question. From the conversation it seems that we are not passing correct resource identifier.

@bgavrilMS was this test passing before?

[2020-10-15 16:46] bgavrilMS commented on #2007
Closing as duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1914

[2020-10-15 16:46] #2007 closed

[2020-10-15 16:58] tal-athena opened #2106 "[Investigate] B2C Xamarin Sample getAccounts does not return an account after first sign-in"
## My Code

[code]

## Expected behavior
After first login, I think _pca.GetAccountsAsync() should return accounts list and be able to refresh token

## Actual behavior
always _pca.GetAccountsAsync() returns empty array so, can't refresh token
So it ask to login every time app launches.

[2020-10-15 17:08] jmprieur commented on #2106
@tal-athena
Did you add a token cache serialization.?
See https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization#token-cache-for-a-public-client
and also https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/wiki/Cross-platform-Token-Cache

[2020-10-15 17:13] jennyf19 commented on #2106
@tal-athena can you provide a repro or a link? Are you using the [Xamarin B2C sample](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native)? If so, which platform are you using?

[2020-10-15 17:18] tal-athena commented on #2106
Yes, I am using that sample, my platform is Xamarin Forms. and tested on Android

[2020-10-15 17:29] tal-athena commented on #2106
@jmprieur , Is the account saved by default when login success? should I add cache serialization to save account data?

[2020-10-15 17:31] jmprieur opened #2107 "[Feature Request] Chain a Microsoft.Identity.Web build after an MSAL.Net release build"
**Is your feature request related to a problem? Please describe.**
We want to make sure that when we do an MSAL.NET release build, a build of Microsoft.Identity.Web is started, which takes the output of the MSAL.NET build, and runs all the Microsoft.Identity.Web tests

**Describe the solution you'd like**
- Use release definitions, or other form of chained build.

[2020-10-15 17:32] hpsin commented on #2037
Is that used to redeem an auth code? An RT? That's where the headers need to be used.

[2020-10-15 17:50] bgavrilMS commented on #2004
This test was passing before.

[2020-10-15 17:52] pseabury commented on #1994
Why is this flow not supported in ADFS Authority?  What is the recommended alternative for users federated via ADFS?

[2020-10-15 17:53] bgavrilMS commented on #2037
@hpsin - it is used everywhere except to communicate with the /authroize endpoint, as the browsers deal with that. We should start a thread with all the MSAL owners to make this a proper API like you propose @hpsin , the HttpClient stuff is very rough.

[2020-10-15 17:54] jennyf19 commented on #2106
thanks @tal-athena we will take a look. Did you change anything in the sample or run it as-is?

[2020-10-15 17:55] tal-athena commented on #2106
@jennyf19 , almost didn't changed, but the authentication code is the code provided

[2020-10-15 18:23] hpsin commented on #2037
Perfect - as long as this is used for the /token request this should be sufficient then, thank you.

[2020-10-15 19:45] bgavrilMS commented on #2076
I'm going to close this because this is related to the broker behaviour and not to MSAL. MSAL is just reporting the error.

@shristikatiyar - please open an ICM to the team, which should be routed to the owners of MSAL Android / Authenticator.

[2020-10-15 19:45] #2076 closed

[2020-10-15 19:56] neha-bhargava commented on #2004
Then maybe this is something to confirm with the lab team. If something is changed with this app or user permissions for this app

[2020-10-15 21:34] jennyf19 commented on #2106
@tal-athena I'm not able to repro this. I do have an account in the cache:
![image](https://user-images.githubusercontent.com/19942418/96188330-61779200-0ef3-11eb-82e8-06550b2ba925.png)
My repro steps are:
- on a Pixel 2 device
- sign-in interactively on first app start
- close the app
- run app again, and on AT silent, i have an account in the cache.

[2020-10-16 08:03] gavinbarron opened #2109 "Is it posible to add additional QueryParameters when using Authentication.Challenge [Question]"
When using MSAL.js I am able to send additional query string parameters to the identity provider using `extraQueryParameters` when calling loginRedirect.
I now need to do this in the context of an ASP.NET MVC application and cannot work out how to add extra query string parameters to the url used when creating the challenge.

If I cannot add the extra param the AzureB2C tenant that I am required t

[2020-10-16 09:44] bgavrilMS commented on #2109
MSAL and OWIN are different technologies. MSAL libraries allow passing extra query params. Not sure about OWIN.
If possible, use ASP.NET Core in conjunction with https://github.com/AzureAD/microsoft-identity-web

[2020-10-16 09:46] #2099 closed

[2020-10-16 10:06] gavinbarron commented on #2109
I raised this here as the examples, https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect, which is linked via the samples link from this repo, set up the MSAL provider and then use OWIN to initiate the challenge.
If MSAL.NET lets me pass additional parameters then please help me find the documentation to solve my issue

[2020-10-16 11:19] Joel-Intact opened #2110 "[Feature Request] Cross cloud B2B scenarios are supported by MSAL"
**Which Version of MSAL are you using ?**
MSAL - Microsoft.Identity.Client 4.20.1

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is t

[2020-10-16 11:53] dawid1 opened #2111 "[Documentation]"
### Documentation Related To Component:

### Please check those that apply
MSAL.NET
- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
Could you provide more clarifications to the text:
"A very important thing to remember is that for Web Apps and Web APIs, there should be one token cache p

[2020-10-16 13:02] bgavrilMS commented on #2110
I'm not sure why it works with Microsoft.Identity.Web. As far as I know, this is a feature called "multi cloud support" that is not currently implemented in MSAL. @jmprieur @henrik-me ?

[2020-10-16 13:08] #1883 closed

[2020-10-16 13:47] jennyf19 commented on #2106
@tal-athena i just did a git clone of master. the sample works as-is without any configuration changes. Are you using a device or simulator?

[2020-10-16 13:48] tal-athena commented on #2106
@jennyf19 , I am using simulator- google pixel-2 Pie 9.0

[2020-10-16 13:53] jennyf19 commented on #2106
@tal-athena okay. thanks for the additional info. any chance you can try on a device? there are some slight performance differences between the simulator and device, as noted in our native android team's [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/Android-Emulator-with-MSAL). I'll try it out w/the simulator.

[2020-10-16 14:15] tal-athena commented on #2106
@jennyf19 , I also tested it on device (Samsung galaxy) but also not cached. I tested with sample repo,
does it need any additional configuration in azure?

[2020-10-16 14:20] jennyf19 commented on #2106
@tal-athena no, you don't need to do anything, as the end-user. the sample should work as-is, with a git clone.
@trwalke @neha-bhargava could you try out the above sample as well? I'm not able to repro this issue atm. thank you.

[2020-10-16 20:47] henrik-me commented on #2101
Looking at the data from Kusto. I think this is not a viable option at the moment.

[2020-10-19 08:06] archanak-msft opened #2115 "[Feature Request] Supporting target resource's ARM id as an optional claim"
I am part of the Azure Arc team; we manage customer's vm and Kubernetes clusters which are deployed on non-Azure infra. For our scenarios, the token validation entities reside on the user's infra.

There can be scenarios where the tokens issued for a given K8s cluster can be replayed for a different K8s cluster if the first K8s cluster is compromised and the same client app has permissions on both

[2020-10-19 08:51] bgavrilMS commented on #2115
CC @jmprieur @henrik-me  - can MSAL really do anything here?

[2020-10-19 09:06] bgavrilMS commented on #2110
Marking as a feature request, because MSAL does not support cross-cloud scenarios at this point in time.

[2020-10-19 09:25] jmprieur commented on #2115
No, @bgavrilMS @archanak-msft this is a question for the STS.
@archanak-msft : do you build a 1P app? do you want to take this offline with us?

[2020-10-19 09:27] archanak-msft commented on #2115
Sure @jmprieur , let's take this offline.

[2020-10-19 09:37] #2101 closed

[2020-10-19 10:04] shristikatiyar opened #2116 "IO_Error Unable to perform cloud discovery"
**Which Version of MSAL are you using ?**
4.17 (Also seen in 4.20)

**Platform**
Mobile android

**What authentication flow has the issue?**
* Desktop / Mobile
  Interactive

**Is this a new or existing app?**
The app is in prduction and we have migrated from ADAL to MSAL

**Repro**
Few User are complaining  to us  that they are not able to signin , after investigating into logs, the error shown i

[2020-10-19 10:04] jmprieur commented on #2110
This would mean that the first part of the auth code flow for confidential client works?
@Joel-Intact : which authority do you use with Microsoft.Identity.Web? MVC, do you mean ASP.NET Core with an MVC web app?

[2020-10-19 10:09] bgavrilMS commented on #2116
@shristikatiyar - to me this looks like some network IO failure. But in any case, this is an Authenticator issue, please open ICM with these details for them. MSAL is only responsible for retrieving the underlying error.

@henrik-me , @jmprieur - we should liase with MSAL.Android team so that they provide a list of possible broker errors. I assume scenarios like network being down are already docu

[2020-10-19 11:05] Joel-Intact commented on #2110
Correct, ASP.NET Core with MVC.  I'm using login.microsoftonline.com/common, below is the AzureAd config section.

[code]

[2020-10-19 14:59] mattallscripts opened #2117 "Documentation Discrepency"
Regarding this statement:

Source: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/scenarios#controlling-the-location-of-the-dialog-with-the-parent-parameters-uiparent

Is this out-of-date? I see it was updated in July 2019 and since then Microsoft has released "shared device mode" which works by MSAL talking to Microsoft Authenticator:

You can support Firstline Worker

[2020-10-19 15:07] bgavrilMS commented on #2117
Hi @mattallscripts - MSAL.NET supports brokered authentication on its Xamarin targets Android and iOS, i.e. you can configure MSAL to use the brokers. See this sample for details: https://github.com/Azure-Samples/active-directory-xamarin-native-v2/tree/master/2-With-broker ... I updated the wiki.

However, MSAL.NET does not support First Line Worker scenarios. As far as I know it is not sufficient

[2020-10-19 15:26] mattallscripts commented on #2117
Ok great thank you @bgavrilMS . I think I was conflating MSAL on Desktop with MSAL on Xamarin, so this helps clarify.

Supported? | MSAL on Desktop | MSAL on Xamarin
------------ | ------------ | -------------
**First Line Worker Scenario** | No | Yes
**Brokered Authentication (i.e. with "Authenticator")** | Yes | Yes

If the above is accurate and given my team is working on MSAL on Xamarin at thi

[2020-10-19 15:30] jmprieur commented on #2117
@mattallscripts : First line worker is not available on MSAL.NET for Xamarin (it's available in MSAL Android/iOS native libraries)

[2020-10-19 15:34] mattallscripts commented on #2117
Ok I've corrected the table in my previous reply.

[2020-10-20 00:42] jennyf19 commented on #2087
fix rolled out oct. 19 on b2c side. closing.

[2020-10-20 00:42] #2087 closed

[2020-10-20 08:52] bgavrilMS opened #2120 "[Bug] Expose Certificate property on IConfidentialClient app"
**Which Version of MSAL are you using ?**
4.20

`Certificate { get; }` is a property on the ConfidentialClientAppliction but it is not found on the interface IConfidentialClientAppliction

In general, public methods and properties should be exposed on the implementing interfaces.

[2020-10-20 08:56] bgavrilMS opened #2121 "[Bug] TokenCache.SetIosKeychainSecurityGroup property wrongly exposed as public API"
**Which Version of MSAL are you using ?**
4.20

Property
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/929bef3d47a565848e71f80255ecca0cecaf5496/src/client/Microsoft.Identity.Client/TokenCache.cs#L107
is not supposed to be public / settable by developers. Developers have `.WithIosKeychain()` method

[2020-10-20 17:16] bgavrilMS opened #2123 "Split MSAL into desktop, confidential and xamarin DLLS"
- [x] Migration Aid (can remove)
- [x] Update tfms
- [x] Update JSON
- [x] Simplify Shared package - build it against NetStandard only
- [x] Fix and / or remove solution files
- [x] Fix integration tests
- [x] Create MetaPackage

- [ ] Fix unit tests
- [ ] Remove all #if PLATFORM from shared package
- [ ] Remove all #if PLATFORM from CCA package

[2020-10-20 17:44] bgavrilMS commented on #1901
Currently the general approach is to use WAM, which we will release shortly. This will become the recommended flow. A future major version will enable WAM by default.

#643

[2020-10-20 17:44] #1901 closed

[2020-10-20 17:57] bgavrilMS commented on #2092
Duplicate of #643

[2020-10-20 17:57] #2092 closed

[2020-10-20 17:59] bgavrilMS opened #2124 "[Feature Request] Enable WAM on .net classic for console apps, WinForms, WPF etc."

[2020-10-20 18:00] bgavrilMS opened #2125 "[Feature Request] WAM support on .NET Core for console WinForms WPF etc."
This requires taking a dependecy on Windows Runtime, which is undesirable for Confidential Client

[2020-10-20 18:01] bgavrilMS opened #2126 "[Feature Request] WAM support for MSA-passthrough"

[2020-10-20 23:19] neha-bhargava commented on #2004
Created a task for the lab team: https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1184052

[2020-10-21 08:19] shristikatiyar opened #2128 "[Bug] Authentication cancelled from some Android phones"
**Which Version of MSAL are you using ?**
4.20

**Platform**
Mobile Android

**What authentication flow has the issue?**
  Mobile (Interactive)

Is this a new or existing app?
The app is existing one we migrated from ADAL to MSAL.

The app is in production, and we have migrated from  ADAL to MSAL

**Expected behavior**
Authentication_canceled  exception should come only when user cancels the authe

[2020-10-21 09:05] jmprieur commented on #2128
@shristikatiyar what pattern do you use?
- do you use try {AcquireTokenSilent}  / catch (MsalUiRequiredException) {AcquireTokenInteractive } ?
  - if yes, do you pass-in the Claims member?
  - do the user have a browser installed that respects the constraints expected by the STS/MSA: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-system-browser-android-considerations?

[2020-10-21 09:43] bgavrilMS commented on #2128
Hi @shristikatiyar - the fact that you get a "user_null" is normal, there is no account info stored by MSAL yet so you have to perform interactive login.

The issue here is the interactive login failing with "user cancelled" exception. This can happen if the user manually closes the browser that pops up or if the browser does not have tabs capabilities. The error message has a link with more detai

[2020-10-21 09:44] bgavrilMS commented on #2128
Note that MSAL is unable to offer a better error message in this case, as the OS is only offering this level of information.

[2020-10-21 15:02] shristikatiyar commented on #2128
yes we  do try try {AcquireTokenSilent}  / catch (MsalUiRequiredException) {AcquireTokenInteractive } ? but we are not passing any claims

[2020-10-21 15:05] bgavrilMS commented on #2128
You can pass in claims as Jean-Marc explains to cover some other advanced scenarios, but the issue here is that `AcquireTokenInteractive` fails because there isn't a good browser on the phone.

CC @jennyf19 who worked on this a while back, in case I forget any details

[2020-10-21 15:11] shristikatiyar commented on #2128
Yes  I agree user_null is the expected error and in this scenario we are doing a interactive call
for system web browser the logic we are using is !pc.IsSystemWebViewAvailable which if return false we fall back to embedded web view ., so  does this flag return false  if any good system web browser is not available or only if no browser is available.

[2020-10-21 22:25] cheenamalhotra opened #2129 "[Bug] Interactive Authentication broken with v4.21.1"
**Which Version of MSAL are you using ?**
**v4.21.1**
No issues till _v4.21.0_

**Platform**
.NET Framework (all versions)

**What authentication flow has the issue?**
Desktop > Interactive

**Is this a new or existing app?**
Tested with SqlClient.
Driver implementation for Token Acquisition: [AcquireTokenInteractive](https://github.com/dotnet/SqlClient/blob/4107f242b61703bb2b05817acdec85acd52d1e3

[2020-10-22 01:34] jennyf19 commented on #2129
@cheenamalhotra thanks for opening the issue. Are you getting an error back or is there a stack trace/logs you can share?

[2020-10-22 02:14] cheenamalhotra commented on #2129
I get this error when I sign in:

![image](https://user-images.githubusercontent.com/13396919/96814471-a3ac4200-13d1-11eb-885b-3c50f40bf053.png)

[2020-10-22 09:34] bgavrilMS commented on #2129
So with MSAL 4.21.0 the interactive authentication was working and with 4.21.1 is is not because of a redirect URI mismatch?

There was a minor single [product change ](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/commit/2dddc6b857f0b3833169f2e5890dc2058eabcbed)introduced and not in an area of code that handles redirect uri.

What is the redirect URI configured in MSAL an

[2020-10-22 09:36] bgavrilMS commented on #2128
The logic around `IsSystemWebViewAvailable`  needs to be investigated.

@shristikatiyar - are you sure the users didn't simply navigate away from the browser?

[2020-10-22 09:39] bgavrilMS commented on #2117
@mattallscripts - MSAL on desktop and MSAL.Xamarin share most of the code, but some features that are available on one may not be on the other. For example, some authentication flows such as AcquireTokenByIntegratedWindowsAuthentication are not available on Xamarin. Broker support also differs. Your table is like this:

Supported? | MSAL on Desktop | MSAL.NET for Xamarin | MSAL Android/iOS native

[2020-10-22 09:41] #2117 closed

[2020-10-22 10:21] pwlodek opened #2130 "[Feature request ] OBO for service principals (was Getting error code 7000114 Application '{appIdentifier}' is not allowed to make application on-behalf-of calls)"
**Which Version of MSAL are you using ?**
MSAL 4.21

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
    * [x] Client Credential Flow
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x] OBO

Description:

I have a dae

[2020-10-22 10:22] shristikatiyar commented on #2128
Users are complainig that they are not able to login it this scenario so i think they will not be doing it
and also I have got similar issues from other users also

[2020-10-22 10:24] bgavrilMS commented on #2130
As far as I know, MSAL does not support OBO for app-to-app tokens, only client-to-app tokens. I am not sure if AAD even allows this.

Why can't you just get a token directly for Data Lake?

CC @jmprieur who's been looking at this scenario.

[2020-10-22 10:26] bgavrilMS commented on #2128
Can you tell us what model and make device affected users have?

[2020-10-22 10:37] jmprieur commented on #2130
No AAD doesn't support it for 3P apps.

[2020-10-22 10:38] pwlodek commented on #2130
@bgavrilMS client-to-app token meaning the users is requesting access not a daemon? Tbh, what difference does it make? Both a user and app (Azure AD app registration) are registered in AD, so why it would work for a "human" user but not the app? Both are valid identities.

The daemon app that wants to talk to the Web API has certain permissions in the data lake (using ACL). The daemon app has clie

[2020-10-22 10:40] pwlodek commented on #2130
And correct this is not really MSAL bug, when I do OAuth2 HTTP Post to Azure AD it also doesnt work. Im just looking for some assistance here. The documentation doesnt mention for what type of client auth flow OBO works.

[2020-10-22 10:44] jmprieur commented on #2130
cc: @hspin and @yordan-msft for the scenario.

[2020-10-23 09:17] bgavrilMS commented on #2129
Thanks for the extra details, I had a look at the traces and found that in the successful case you configure:

`https://login.microsoftonline.com/oauth2/nativeclient`

and in the failing case you configure

`https://login.microsoftonline.com/common/oauth2/nativeclient` (this one is **not** registered in app config so failure is expected)

I can see in your app that you mostly configure the second

[2020-10-23 09:18] #2116 closed

[2020-10-23 09:21] bgavrilMS commented on #2106
@tal-athena - please work with Microsoft support to get your further, we cannot repro the issue

[2020-10-23 09:21] #2106 closed

[2020-10-23 09:23] tal-athena commented on #2106
thanks for your attention
I resolved this error after adding openid scope to my app.
Thanks

[2020-10-23 09:24] bgavrilMS commented on #2053
Not enough info

[2020-10-23 09:24] #2053 closed

[2020-10-23 09:28] tipa commented on #2032
Is this feature request closed because it has been rejected?

[2020-10-23 09:30] bgavrilMS commented on #2032
I'll let our PM @jmprieur  give a definitive answer, but with MSAL we ask developers to do their own user management, such as remembering which is the "Default" user etc.

[2020-10-23 09:36] bgavrilMS commented on #2106
Thanks for getting back to us @tal-athena !

[2020-10-23 15:05] ckrempp91 opened #2131 "[Feature Request] Support prefersEphemeralWebBrowserSession to hide iOS security prompt for system browser"
## Why?
This mandatory popup is very annoying when using the system browser and can cause confusion to users of the application.

![iOS_Prompt](https://user-images.githubusercontent.com/15944499/97018406-bc714080-1514-11eb-8865-37787b1657cf.png)

I got the image from this issue: #512 (Wants to Use "Azure.com" to Sign In - iOS 11)

## How?
If the `prefersEphemeralWebBrowserSession` property is set

[2020-10-23 16:39] jennyf19 commented on #2131
@ckrempp91 we don't plan to make this change. We'll keep our eye on it in case more customers ask for this. Thanks!

[2020-10-23 16:40] jennyf19 commented on #2129
@cheenamalhotra see @bgavrilMS comment above.

[2020-10-23 17:36] ckrempp91 commented on #2131
@jennyf19 If there is a technical limitation for not being able to include this that is fine, but if this is technically possible and just won't be included could you please explain the reason?

[2020-10-23 17:59] cheenamalhotra commented on #2129
@bgavrilMS

Thanks for investigating and providing details.

No, we don't have any other code path that could set redirect URI to `https://login.microsoftonline.com/oauth2/nativeclient`,
we have always only set `https://login.microsoftonline.com/common/oauth2/nativeclient` 🤔

[2020-10-23 22:45] bemartin opened #2133 "[Bug] Interactive Brokered authentication with Android not working with versions 4.20.0 and above"
**Which Version of MSAL are you using ?**
MSAL 4.20.0, MSAL 4.20.1, MSAL 4.21.0, MSAL 4.21.1

**Platform**
Xamarin Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - p

[2020-10-23 23:06] trwalke commented on #2133
@bemartin can you please provide the code for the broker logs?

[2020-10-23 23:12] bemartin commented on #2133
DRTADSE2

[2020-10-24 11:45] tm-eq commented on #2133
I'm having exactly the same issue on versions 4.20.0 onwards.

Log lines from the Authenticator app are as follows:

`10-24 11:40:48:694 UTC DEBUG/App: onPause MainActivity.onPause()@322 [main]
10-24 11:40:49:325 UTC DEBUG/App: onStop MainActivity.onStop()@331 [main]
10-24 11:40:49:325 UTC INFO/App: Clearing the dialog queue. DialogTaskQueue.clear()@138 [main]
10-24 11:40:58:321 UTC INFO/App: App

[2020-10-26 02:58] matthew25187 commented on #1932
I seem to have encountered a similar problem.  Using essentially the same code as in the original post (for the public client application), when attempting to login with my MSA I get the following error on entering the user name (e-mail address):
![image](https://user-images.githubusercontent.com/22909844/97122678-7cb48e00-178c-11eb-8284-b5ae6f25fe79.png)
I don't get an opportunity to enter the pa

[2020-10-26 07:46] jmprieur commented on #1932
What is the sign-in audience of your application @Crossbow78
Did you specify a tenanted authority when that worked, but "common" or "organization" when this does not work with an MSA?

when you use an authority with a tenant, this enables guest accounts to sign-in, and your MSA might be a guest account of the tenant, which would work. When using "common" or "organization", the guest scenario does

[2020-10-26 10:10] bgavrilMS commented on #2129
@cheenamalhotra - please register `https://login.microsoftonline.com/common/oauth2/nativeclient` as a redirect URI. It currently isn't registered. Let us know if this doesn't fix the issue.

[2020-10-26 10:10] #2129 closed

[2020-10-27 00:44] Crossbow78 commented on #1932
I'm trying to understand what you're asking... what is a "tenanted authority"? And what's "common" referring to?

My sign-in audience in the app registration manifest is "AzureADandPersonalMicrosoftAccount" (as mentioned in the original post). When using the interactive browser authentication flow, it brings up the Microsoft Account prompt, but it will not allow me to even attempt to login with a

[2020-10-27 05:53] pmaytak opened #2134 "[Bug] WAM ATI flow for a logged-in account shows account picker"
**Which Version of MSAL are you using ?**
4.22.0

**Platform**
UWP

**What authentication flow has the issue?**
WAM ATI

**Is this a new or existing app?**
[WAM UWP test app](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/master/tests/devapps/WAM/UWPWam)

**Repro**
1. In `ATI_ClickAsync`, replace `.WithAccount(acc)` with `.WithLoginHint(upnPrefix)`.
2. Run the app.
3.

[2020-10-27 07:57] jmprieur commented on #1932
Sorry, I should have been clearer. Yes; the authority you need to use needs to have a tenant (tenanted)

[2020-10-27 07:57] jmprieur commented on #1932
Closing as the question is answered

[2020-10-27 07:57] #1932 closed

[2020-10-27 09:45] bgavrilMS opened #2135 "[Internal] Cannot run integration tests on some developer environments"
Run integration tests with latest VS installed.

**Actual**: StrongNamer tool fails on build
**Workaround**: disable StrongNamer tool and disable strong naming (admin dev cmd prompt> `sn -Vr *`)

Root cause: StrongNamer tool [bug](https://github.com/dsplaisted/strongnamer/issues/52).
Potential fix: split integration test project into .NET Core proj and .NET FX proj

[2020-10-27 13:45] #643 closed

[2020-10-27 13:50] bgavrilMS commented on #1903
@henrik-me @jmprieur - propose to remove this from our backlog. We do not have bandwidth to take care of other team's samples?

[2020-10-27 16:35] henrik-me commented on #1903
@bgavrilMS, not updating these docs hurts adoption of MSAL and makes customers continue to run into problems adopting Xamarin having to go through hoops of ADAL and when they reach out to us we tell them to move to MSAL.
CC: @jmprieur

[2020-10-27 16:55] neha-bhargava opened #2137 "Automate regional tests to run on a VM"
Automate regional tests to run on a virtual machine to reduce manual testing. These tests will test the flow to call imds to auto detect region and get a token from ests-r.

[2020-10-27 17:36] bgavrilMS opened #2138 "Split MSAL into PCA and CCA"

[2020-10-27 17:43] bgavrilMS commented on #2013
Blocked on spec.

[2020-10-27 18:46] #2138 closed

[2020-10-27 18:51] bgavrilMS opened #2139 "[Feature Request] [L] Support for Android 11"
# Android 11 impact

•	Unable to query package manager for and launch browsers that support custom tabs
•	Unable to query package manager for and launch regular browsers that don’t support custom tabs
•	Unable to query package manager for Broker apps installed on the device (We could still see the Authenticators on the device but when trying to query them via Package Manager it would not be found)

[2020-10-27 19:19] shristikatiyar opened #2140 "MSAL does not throw UiRequiredException when it should (Android Broker scenarios)"
**Which Version of MSAL are you using ?**
4.20

**Platform**
Xamrin.Android

**What authentication flow has the issue?**
Mobile

Other? - please describe;

**Is this a new or existing app?**
The app is in production and we have migrated from  ADAL to MSAL

**Repro**

                authResult = await pc.AcquireTokenSilent(scopes, account).ExecuteAsync();

                DataInsightsProvider.Inst

[2020-10-27 20:03] bemartin opened #2141 "[Bug] GetAccountAsync returns null when account is in returned collection from GetAccountsAsync"
**Which Version of MSAL are you using ?**
MSAL 4.17.1, MSAL 4.19.0

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this

[2020-10-28 09:05] bgavrilMS commented on #2141
@trwalke - can you take a look at this as you are investigating other issues in Android area?

[2020-10-28 09:15] bgavrilMS commented on #2140
@shristikatiyar - what exactly are the error codes (verbatim)? You mentioned `no_account_found` and smth related to refresh token.

[2020-10-28 09:15] bgavrilMS commented on #2140
P1 since user impact is that they can't login or app crashes.

[2020-10-28 09:16] bgavrilMS commented on #2140
We need to find out the exact error codes which need to be translated to `MsalUiRequiredException` from Android broker.

[2020-10-28 09:37] shristikatiyar commented on #2140
Hi Bogdan , these are the two error codes we are getting. attaching the screenshot

Broker refresh token is invalid
no_account_found

![Screenshot (137)](https://user-images.githubusercontent.com/72396948/97418717-2469c180-192f-11eb-8db9-e6a923442844.png)

[2020-10-28 11:57] Crossbow78 commented on #1932
The relevance of the app registration's sign-in audience setting of `AzureADandPersonalMicrosoftAccount` and the authority 'override' to `AzureAdMyOrg` remains a mystery to me... and why the error message mentions I cannot use a personal account even when both settings are explicitly set to 'AzureAD**andPersonal**MicrosoftAccount'.
Then again, the whole notion of 'personal' vs 'work/school' accoun

[2020-10-28 13:05] bgavrilMS commented on #1932
Yes, @hotmail, @outlook.com, @live.com (and a few more aliases) are "Microsoft" accounts (aka live accounts or MSA accounts or **personal** accounts). They are all in one big tenant (the MSA tenant).

Work and School accounts are tied to an organization, e.g. joe.blogs@contoso.com is an account in the contoso tenant. Each organization that hosts their directory with AAD gets their own tenant.

In

[2020-10-28 16:54] Pyrobolser opened #2142 "[Documentation] Acquire Token on Desktop - Force MFA"
### Documentation Related To Component:

`AcquireTokenInteractive(...)` of `PublicClientApplication(...)`

### Please check those that apply

- [ ] typo
- [X] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue

I would like to preface this by saying that this might be me misunderstanding how this work but

[2020-10-28 17:10] bgavrilMS commented on #2142
MFA and Conditional Access in general is fully implemented on the service side and you control it via configuration. There is no SDK change.

Have a look at these CA policies that might be used to achieve what you aim: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes ?

[2020-10-28 18:33] ErikMogensen commented on #2130
I created a feature request for this, https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/41768716-support-the-on-behalf-of-flow-for-tokens-gotten-th.

[2020-10-28 18:59] trwalke opened #2144 "[Feature] Implement power optimization flag to enable MSAL to catch the broker's power optimization exceptions."
**Which Version of MSAL are you using ?**
4.22

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Enable power optimizations.
Try to acquire a t

[2020-10-28 19:08] Pyrobolser commented on #2142
Thanks you for your answer, I will look more into that.

[2020-10-28 19:08] #2142 closed

[2020-10-29 10:05] bgavrilMS opened #2146 "[Feature Request] High-Level perf assement scenario"
**Goal**: Be able to asses the performance impact of a M.I.W. (and later MSAL) PRs

### Approach

I propose a simple, not fully automated approach at first.

1. Instrument M.I.W. so that we can read the following perf counters:
- time spent in HTTP communication (by injecting your own HttpClient client that measures time spend on the network, for example [this one](https://github.com/AzureAD/micro

[2020-10-29 10:05] bgavrilMS commented on #2146
@pmaytak - some thoughts on where to take the perf story, let me know what you think.

[2020-10-29 10:12] jmprieur commented on #2130
@hpsin FYI

[2020-10-29 10:50] shristikatiyar opened #2147 "[Bug] Broker on iOS does not pre-populate the username"
**Which Version of MSAL are you using ?**
4.20

**Platform**
Xamrin.iOS

**What authentication flow has the issue?**
Desktop  Interactive

**Is this a new or existing app?**
For iOS the app is not in Production with MSAL , we are planning to migrate from ADAl to MSAL in iOS

**Repro**

   authResult = await pc.AcquireTokenSilent(scopes, account).ExecuteAsync();

            DataInsightsProvider.In

[2020-10-29 11:41] bgavrilMS commented on #2147
Not sure I understand the problem... Let me try to rephrase repro steps:

1. MSAL is configured to use the broker
2. You perform `AcquireTokenInteractive` on a device without broker
3. A browser pops up
4. User enters email
5. Browser asks user to `Enrol their device` and provides a link to app store
6. User enrolls device and gets Authenticator app
7. User returns to the app
8. User hits login
9.

[2020-10-29 12:00] bgavrilMS opened #2148 "[Feature Request] Prevent multiple interactive auth requests on Android / iOS"
**Is your feature request related to a problem? Please describe.**

On Android and iOS, we start a browser or the broker and then give back control to the app (via async)
Many apps do not freeze the UI while waiting for the browser / broker to come back and so the user can click "Login" multiple times.

This causes problems, especially on Android Broker, as the broker actively cancels the "in prog

[2020-10-29 13:43] trwalke opened #2150 "[Feature Request] [L] Implement content provider for communication with the Android broker."
**Is your feature request related to a problem? Please describe.**
The current communication method that MSAL uses (Account Manager) with the broker is one of the broker's fallback mechanisms that uses IBinder  for IPC communication. One limitation here is that the Android OS allocates a maximum of 1MB buffer on RAM per process for IBinder transactions. This buffer size includes all the transactio

[2020-10-29 15:55] bgavrilMS opened #2151 "[Bug] More logging is required for debugging Android broker issues"
We should log the request JSON objects:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/5000f4a5624c1acd4cf1c07b25c6abb5eedf746c/src/client/Microsoft.Identity.Client/Platforms/Android/Broker/AndroidBrokerHelper.cs#L472

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/5000f4a5624c1acd4cf1c07b25c6abb5eedf746c/src/client/Microsoft.Identity.Clie

[2020-10-29 15:56] bgavrilMS commented on #2151
@trwalke - as you're looking in that general area.

[2020-10-29 16:04] trwalke commented on #2133
I think I may have found an issue with how we send the default prompt value to the broker which can cause this issue to occur. Will provide more details after additional testing.

[2020-10-29 21:43] udlose commented on #1417
bump

[2020-10-29 21:48] maliksahil opened #2152 "WS-Fed ability to import federationmetadata.xml from 3rd party IDPs"
**Is your feature request related to a problem? Please describe.**

When you try to import FederationMetadata.xml from a URL, with the current implementation of MSAL, things work when you import from ADFS becasue <wsdl:definitions/> node is the top level node, as shown below.

<img width="666" alt="image" src="https://user-images.githubusercontent.com/4992186/97635866-7d5c5700-1a0e-11eb-824f-05c52

[2020-10-29 23:21] abatishchev commented on #1342
Hi! I found this issue while searching and see it's open since 2019. Should it be finished or closed?

[2020-10-30 00:13] hpsin commented on #2130
Thanks @jmprieur .  This is something we're reasoning over.  The hard part here is that it means something slightly different to everyone, so I really appreciate laying out the expectations in your request @ErikMogensen .

What I'm seeing is that SP A calls SP B, then SP B OBOs the token to call SP C.

The token in the second leg would look like:
[code]

Is that about what you'd expect, and would

[2020-10-30 07:41] pmaytak commented on #2146
Initial thoughts:

For this case, would directly calling MSAL be better then? Similar to what the perf client project does - instantiate CCA/PCA, call methods, and have stopwatch around the method call.

Would it be possible to completely stub/fake the outbound HTTP call, so that we take the network variable out of these tests?

I think it would help to separate testing for MIW pipeline vs MSAL. S

[2020-10-30 09:03] bgavrilMS commented on #2146
Both strategies (targeting MSAL or targeting M.I.W) would work, I have a slight bias of going with M.I.W. because:

- you've already written the test runner that drives M.I.W
- M.I.W scenarios are more perf sensitive than general MSAL scenarios

Instrumenting M.I.W is smth we need anyway. Eventually instrumenting MSAL directly is fairly important as well. Really up to you to decide on the order, t

[2020-10-30 14:25] Bloodyairtimer opened #2153 "[Bug] Authentication webview keeps opening on Android"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.22.0.0

**Platform**
MSAL.Xamarin.Android 29

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ X ] Interactive
    * [ ] Integrated Windows Au

[2020-10-30 16:12] helderdb commented on #1423
Also having this issue, but downgrading to V2.0.0 of the package feels weird since last version is 5 at the time of writing. Any plans for fixing this?

[2020-10-30 16:28] henrik-me commented on #1748
Work done. For better experience customer should use WAM.

[2020-10-30 16:28] #1748 closed

[2020-10-30 16:30] jennyf19 commented on #2147
@shristikatiyar Can you please confirm the repro steps above from @bgavrilMS ?

also, if the user does not have a [CA policy requiring the broker](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#device-platforms), they will not get the link to install the broker, as it's not required, and have the regular sign in experience.

[2020-10-30 18:03] bgavrilMS commented on #1342
Hi yes, it is finished. https://github.com/AzureAD/microsoft-identity-web has GA-ed and it offers all the best practices for this scenario.

[2020-10-30 18:03] #1342 closed

[2020-10-30 18:11] bgavrilMS commented on #2153
Could you collect some logs with PII or capture the full exception details? It's difficult to understand what's going on without the exception messages.

[2020-10-30 19:47] Bloodyairtimer commented on #2153
How should I capture this? I'm now writing the logs from the WithLogging method. Should i capture the exception details from the uirequiredexception?

[2020-10-30 20:14] udlose commented on #1417
understood.  I was confused by your comment:

since my solution *was* integrating with Polly.  I completely understand that you shouldn't have dependencies on an external library.

[2020-10-31 12:27] pavinan opened #2155 "[Documentation]"
### Documentation Related To Component:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/ADFS-support

### Please check those that apply

- [x] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
Typed  "PCKE" instead of  "PKCE".

![image](https://user-images.githubuser

[2020-10-31 14:27] Bloodyairtimer commented on #2153
Captured more logging with PII:

31-10-2020 15:07:05 - (False) MSAL 4.22.0.0 MSAL.Xamarin.Android 29 [10/31/2020 14:07:05 - 2d788e3d-7e92-4af0-85e5-9e47b02d2f0a] Resolving authority endpoints... Already resolved? - FALSE
31-10-2020 15:07:05 - (False) MSAL 4.22.0.0 MSAL.Xamarin.Android 29 [10/31/2020 14:07:05 - 2d788e3d-7e92-4af0-85e5-9e47b02d2f0a] [Instance Discovery] Skipping Instance discovery f

[2020-10-31 18:36] jmprieur commented on #2155
Thanks @pavinan
This is fixed

[2020-10-31 18:36] #2155 closed

[2020-11-01 14:52] bgavrilMS commented on #2153
The "throttled" exception I think is a red herring. It's true that MSAL has a throttling mechanism that is meant to protect the server from being hit with many `AcquireTokenSilent` requests (i.e. refresh_token grant) when the server has already refused to solve this request. In your case, AcquireTokenSilent fails with:

`ResponseBody: {"error":"invalid_grant","error_description":"AADB2C90080: The

[2020-11-01 15:09] bgavrilMS commented on #2148
Potential bug related to this: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2153

[2020-11-01 15:12] bgavrilMS commented on #2153
`AcquireTokenInteractive` seems to fail for this user because of a "state" mismatch error. The `state` parameter is a simple GUID sent along with the /authorize interactive request. The server must respond with the same `state` param. It's a simple anti-replay mechanism.

`Microsoft.Identity.Client.MsalClientException: Returned state(afcfc003-bfbd-4c42-acc2-5f9cf4934e99e6e0a953-9519-4aaf-ab64-4d77

[2020-11-01 15:20] bgavrilMS commented on #2153
CC @henrik-me for the first time we see the throttling mechanism in action (successfully)

[2020-11-02 03:09] ctideamike opened #2156 "Do we have an extra parameter to enforce user to login even the user has an existing login session"
**Is your feature request related to a problem? Please describe.**
We're running an enterprise software and recently we upgrade authentication platform to Azure AD, and we have an important feature "Approve to items" that requires users to verify/re-authenticate themselves by a CAC card or credentials. It seems Azure AD will keep the authentication session and users don't have to input credentials

[2020-11-02 06:35] ctideamike commented on #2156
It seems Prompt.ForceLogin can help me resolve the issue. Close it

[2020-11-02 06:35] #2156 closed

[2020-11-02 09:44] jmprieur commented on #1423
This is a question for Azure service bus, @helderdb : not for this library.

[2020-11-02 10:22] jmprieur commented on #2152
Thanks @maliksahil : this is very clear and actionable!
@trwalke @henrik-me this is a recurrent issue. We might want to prioritize it (#supportability)

[2020-11-02 10:27] helderdb commented on #1423
Is it? The bug is in this package and not in Service Bus. But I’ll file a bug report there as well

[2020-11-02 11:17] bgavrilMS commented on #1423
@helderdb - MSAL.nupkg is a standards compliant nuget package. It's a bit more complex than a vanilla package as it has reference assemblies, but it is standard. msbuild, dotnet, nuget all know how to deal with it.

Apps like Service Bus tend to write their own dependency loading mechanisms which don't deal well with these advanced (but standard compliant) nuget packages.

We are looking at making

[2020-11-02 13:52] jmprieur commented on #1384
@hpsin : can you please confirm that we do want to disallow `organizations` in Client credentials in next major version of MSAL.NET

[2020-11-02 13:54] bgavrilMS commented on #1384
(and `common` as well)

[2020-11-02 13:55] jmprieur commented on #1384
common for sure (it does not make sense for client creds)

[2020-11-02 15:01] pseabury opened #2157 "Target Principal Name Incorrect Error - More details"
I have a detailed question [over here at StackOverflow](https://stackoverflow.com/questions/64615805/msal-error-target-principal-name-incorrect-with-federated-iwa) trying to determine why I'm getting this error.

Why does the response fail to parse in this case?

![image](https://user-images.githubusercontent.com/1918526/97882978-e3d0c600-1ce9-11eb-8477-25ae0820a1ee.png)

[2020-11-02 15:04] bgavrilMS commented on #2157
Hi @pseabury - do you mind using the template for opening bugs on MSAL? It will avoid us asking basic questions like - what version of MSAL do you use, on what platform etc.

[2020-11-02 15:05] bgavrilMS commented on #2157
Also please give us the actual stack trace.

[2020-11-02 15:16] bgavrilMS opened #2158 "[Internal] Add cache compat test for MSAL.node"
JS team have already written the script that should drive cache compat:

https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dc7559a49f3615480fda42df66bdd4d790755fd9/samples/msal-node-samples/standalone-samples/username-password

[2020-11-02 15:21] pseabury commented on #2157
Yeah sorry about that... I wrestled with using a template or not because I'm not sure it's a bug, I'm just looking for any additional information I can get to track down a way out of the MSAL mess.  I'll create a new one from the template.... thanks.

[2020-11-02 17:00] pseabury opened #2159 "MSAL Error - Target Principal Name Incorrect with Federated IWA"
MSAL 4.22.0 via Microsoft.Identity.Client nuget

**Platform**
Net Core 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app

[2020-11-02 17:42] bgavrilMS commented on #2159
The 401 is strange. Are you behind a proxy?

Could you try the exact same code from a .NET classic (not Core) application ? The way .NET handles the default proxy creds have changed between .NET Framework and ".NET" (i.e. .NET core).

[2020-11-02 19:12] pseabury commented on #2159
No proxy normally.  Was behind Fiddler to capture the 401's, but that's only because I was getting the same error without it.  I'll try and repro on .NET 4.X.

[2020-11-02 19:34] pseabury commented on #2159
With .NETFramework 4.7 I get a slightly different Exception Message:

`Microsoft.Identity.Client.MsalClientException: 'Federated service at https://adfs.ad.vandelay.local/adfs/services/trust/2005/windowstransport returned error:' `

But the same textual error code:

Stack:

I have the MSAL logging turned on, but it has PII in it so I can send it along separately if needed.

[2020-11-02 20:54] Bloodyairtimer commented on #2153
I'm currently using a SemaphoreSlim to prevent multiple calls to SignInInteractively.

However now the screens stays locked. The log is not giving alot of information right now.

2-11-2020 21:47:55 - Start SetMainPage - Skip Intro - Login
2-11-2020 21:47:55 - (False) MSAL 4.22.0.0 MSAL.Xamarin.Android 29 [11/02/2020 20:47:55] Found 0 cache accounts and 0 broker accounts
2-11-2020 21:47:55 - (False

[2020-11-02 23:31] hpsin commented on #1384
Yes - `common` and `organizations` are both aliases over multiple tenants, and do not specify which tenant a token should be requested for.  For security and reliability, apps should explicitly indicate what tenant they want to get an app-only token for instead of having AAD do best-effort guesses.

[2020-11-02 23:32] hpsin commented on #1384
`consumers` is ok, as app tokens are valid there and `consumers` is a single tenant. Please do not block use of `consumers`.

[2020-11-03 09:35] jmprieur commented on #1384
Thanks @hpsin

[2020-11-03 10:00] kevcrooks opened #2161 "[Bug] [Mac] Sign in with Apple isn't auto-filling the Apple ID on Xamarin.Mac"
**Which Version of MSAL are you using ?**
Version 4.22.0 of Microsoft.Identity.Client and also Microsoft.Identity.Client.Extensions.Msal 2.16.5

**Platform**
Xamarin.Mac

**What authentication flow has the issue?**
Desktop (Xamarin.Mac), when using a sign-in with Apple user policy defined in Azure B2C, e.g.
https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple

I've tried

[2020-11-03 17:49] nmushovic commented on #1788
I'm getting the same error. Just to test I ran AcquireTokenSilent in a loop sleeping 2 seconds with Fiddler running. When I startup, I see the initial call to http://login.microsoftonline.com:443, it runs 19 times and then fails with AADSTS50196. Doesn't look like it's throttled by the server because I don't see any more calls to http://login.microsoftonline.com:443, just that initial one.

I thou

[2020-11-04 10:26] jmprieur commented on #2161
@jennyf19 @trwalke @neha-bhargava @bgavrilMS what are your thoughts. (I believe this is external)

[2020-11-04 10:56] bgavrilMS commented on #2161
I would also think this is external. While the repro is with xamarin.mac, I think we should be able to repro this issue with a simple .NET classic console app.

@neha-bhargava - didn't you also encounter a similar bug recently?

[2020-11-04 11:36] bgavrilMS commented on #2157
Closing as we're discussing on https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2159

[2020-11-04 11:36] #2157 closed

[2020-11-04 11:39] bgavrilMS commented on #2159
Is the identity provider configured to output SAML 2.0 ? We have a bunch of issues in this area since there are just so many ways of outputting the SAML document.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2159

[2020-11-04 12:59] leemorris opened #2162 "EnablePrivateNetwork registry key"
We have developed a UWP application that is used in an enterprise environment. Our application uses MSAL for authentication to Azure AD. The application was working fine until the recent round of security patches was applied. I found the Troubleshooting  section of your GitHub Wiki  [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/UWP-specifics#troubleshooting)

`

[2020-11-04 13:31] jmprieur commented on #2162
@leemorris : this is documentation related to WAB.
See https://docs.microsoft.com/en-us/windows/uwp/security/web-authentication-broker#debugging

[2020-11-04 13:37] bgavrilMS commented on #2162
@leemorris - the setting that you are talking about affects the WAB broker (i.e. the browser popup). WAB is a Windows Component. Since WAB runs in its own app context, you are enabling "private network" capability for it, similar to how you enable the capability for your own app, except that you don't have the ability to modify WAB's manifest.

Please note that on UWP we have added support for WAM

[2020-11-04 13:51] jmprieur commented on #1788
@nmushovic : what type of app do you have? this is probably the symptom that you are not handling conditional access properly. if you are building an ASP.NET Core web app, please see https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-11-04 13:54] pseabury commented on #2159
2159 is this issue...

Here are the endpoints configured on the ADFS server:

![image](https://user-images.githubusercontent.com/1918526/98119806-bd8a6200-1e72-11eb-8a2e-504f262e8105.png)

[2020-11-04 13:56] bgavrilMS commented on #2159
Apologies, I mean this issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2152

[2020-11-04 13:59] pseabury commented on #2159
I don't think #2152 applies because I am importing from ADFS, not a 3rd party.   On IdP's in my scenario are AAD, and ADFS.

[2020-11-04 14:02] nmushovic commented on #1788
It's a Winforms desktop app. A few call's are made to a secured web api over a short period of time. I call AcquireTokenSilent before each web api, but if I get to 19 calls, then I get the loop error (verified using a console app and just looping calls to AcquireTokenSilent). Checking fiddler though, it only ever hit  http://login.microsoftonline.com:443 once.

Is AcquireTokenSilent not meant to b

[2020-11-04 17:35] jennyf19 commented on #2161
@adamstoffel can you look at this for us? Thank you.

[2020-11-05 10:49] bgavrilMS opened #2163 "Update POP samples"
- Remove the PublicClient Pop sample from the Web API incremental tutorial [native-aspnetcore-v2/4.-Console-app-calls-web-API-with-PoP](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/4.-Console-app-calls-web-API-with-PoP) but ...
- ... add it to the [daemon calls its own web api](https://github.com/azure-samples/active-directory-dotnetcore-daemon-v2) samp

[2020-11-05 10:56] jmprieur commented on #1871
Closing a duplicate of #2152 which is better explained.
and moving to 4.24.0

[2020-11-05 10:56] #1871 closed

[2020-11-05 10:59] jmprieur commented on #2026
Blocked until we have some performance baseline, as this will impact performance

[2020-11-05 11:26] jmprieur commented on #2163
@bgavrilMS @trwalke @henrik-me:
Do we want to have Microsoft.Identity.Web support acquisition of Pop tokens?
cc: @jennyf19

[2020-11-05 11:27] jmprieur commented on #2163
Marking as P1 as Pop is being removed from the public API, and this was the only sample exposing PoP Wilson.

[2020-11-05 13:21] pseabury commented on #2159
Is there any further debugging I can do to figure this out @bgavrilMS ?  Should I check out the source and run the test project against that?

[2020-11-05 15:04] bgavrilMS commented on #2159
@pseabury - did you try to open a support case on Microsoft? My team doesn't know that much about ADFS configuration. Generally this type of issue occurs when the SAML is not 2.0 format, but older version.

@henrik-me @jmprieur - who else could help out here? CxP team maybe?

[2020-11-05 15:22] jmprieur commented on #2159
@maliksahil is it something you could help with?

[2020-11-05 16:35] mifarca commented on #2152
@jmprieur along that, we have the following request for the same issue:
"the same situation but with the: "msal library wrong format for usernamemixed auth request""

Details troubleshooting MSAL auth request issue:
While trying to authenticate a federated account in O365 with MSAL, the authentication fails when the IDP is a third party IDP (siteminder)
When MSAL sends an auth request of  type « u

[2020-11-05 16:48] #1837 closed

[2020-11-05 16:49] bgavrilMS commented on #1939
This was fixed by the B2C team.

[2020-11-05 16:49] #1939 closed

[2020-11-05 16:52] #1835 closed

[2020-11-05 17:02] bgavrilMS opened #2164 "[Bug] ios http stack causing cancellation exceptions"
This is related to an ICM..

I think the issue might be related to https://github.com/xamarin/xamarin-macios/issues/9370

Our SSO extension makes background requests as a result of which the requests got cancelled.
I tried the workaround by using :
`
var handler = new NSUrlSessionHandler() {
  BypassBackgroundSessionCheck = false, // readd the hack
};
var httpClient = new HttpClient (handler);
`

[2020-11-05 17:20] jmprieur commented on #2164
@bgavrilMS let's take it for 4.23.0

[2020-11-05 17:36] kevcrooks commented on #1939
Great, thank you very much @bgavrilMS for the update - I've checked and confirm this is now working for us

[2020-11-05 18:02] Bloodyairtimer commented on #2153
After alot of struggling I managed to get the app to only call the AquireTokenInteractive method once. That is working without any issues, token is correctly updated to a new one.

Keeps me with some issues/questions to get back all my functionality.

1. How can I correctly determine if the user is already logged in? Can I do that by checking if there are any accounts in the PCA. Like this method?

[2020-11-05 18:17] shristikatiyar commented on #2147
![Screenshot_20201105-223629](https://user-images.githubusercontent.com/72396948/98279684-44992080-1fc0-11eb-962e-d8df56037e7c.png)

Hi @jennyf19  and  @bgavrilMS  I have attached the screenshot which comes when  we  apply the CA Policy Required Aproved client App but on clicking the button Get the app it does not redidrect to the app store to install broker (though in tthe message it is mentioned

[2020-11-05 18:38] Bloodyairtimer commented on #2153
In addition to the questions, two more questions which I don't get.

4. If the user is logged out with below method:

[code]
The next time he logs in, the webview opens and only pressing on "Microsoft account" logs him in with the previous account. Like the signout didn't really sign him out.

5. There  could be multiple accounts in the cache or something is there any documentation about how to ha

[2020-11-05 18:59] bgavrilMS commented on #2153
Thanks for the great questions!

1. MSAL does not do account management, that's up to the application to keep track of "who's signed in" etc. It would be great to come up with a higher level API that does account management (CC @jmprieur), but that's not here yet.

Generally there are 2 kind of apps - single account and multi-account. Visual Studio is a multi-account app, they have a nice UI contr

[2020-11-05 22:02] bgavrilMS commented on #2153
4. There are 2 caches at work here:

- MSAL's internal cache, which you have full control over using GetAccounts / RemoveAccount etc.
- the browser's (webview's) cache, which is controlled by the service (AAD) over which you have limited control - you can use `.WithPrompt(Prompt....)`; the default is Prompt.SelectAccount which displays the list of previously logged in accounts. You can use `Prompt

[2020-11-05 22:04] henrik-me commented on #2148
I think this should not be limited to iOS and Android. Probably a good one for all interactive flows, unless provide some kind of handle back to an ongoing authentication session that we keep track of e.g. in the state parameter send to aad.
@bgavrilMS ?

[2020-11-05 22:12] bgavrilMS commented on #2148
Yes, this needs a bit of thought. For example System Browser on Windows does not have this problem - each Interactive request is associated with a different port. It does not matter the order in which the responses come back. Embedded webview and WAM are modal dialogs, so you can't even get back to the app.

For ios and android, we do not have an mechanism to keep track of requests and of cancella

[2020-11-06 10:45] bgavrilMS commented on #2147
Hi @shristikatiyar - can you confirm that the issue only occurs on iOS and not on Android? Can you see what the URL points to?

How do you repro this - using a real device or an emulator? iOS emulators do not have App Store.

[2020-11-06 11:01] shristikatiyar commented on #2147
I am trying this on real Device so the  issue exist in both  ios and Android , in iOS it shoud redirect to Play store and in IOs to App stor both is not happening

[2020-11-06 11:21] #2162 closed

[2020-11-06 11:36] bgavrilMS commented on #1702
Given that we'd have to modify the main APIs significantly, we are refusing this.

[2020-11-06 11:36] #1702 closed

[2020-11-06 11:49] bgavrilMS commented on #2147
@jennyf19 - have you seen this sort of behaviour before? Since we don't control the contents of the browser, I think this just be transferred to the Intune or ESTS folks.

[2020-11-06 11:57] bgavrilMS commented on #1361
Decision is to open up custom token cache serialization, similar to how we do it on UWP.

[2020-11-06 16:11] henrik-me commented on #2164
Should we allow a way for customers to opt. out of us setting this flag (besides from providing own handler)?

[2020-11-06 16:24] devlanfear opened #2165 "Xamarin iOS: XF SDK doesn't allow to force use SFSafariViewController"
**Which Version of MSAL are you using ?**
MSAL 4.22.0

**Platform**
Xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ +] Interactive

**Is this a new or existing app?**
 New app

**Repro**

Xamarin.Forms SDK doesn't allow to force use SFSafariViewController for iOS.
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/c77722d4803d663f6a89fb0

[2020-11-06 19:47] pseabury commented on #2159
@bgavrilMS It looks like someone from the MSFT Identity team answered one of my questions related to this on SO.  At least I'm on to the next step, thanks!

https://stackoverflow.com/questions/64615805/msal-error-target-principal-name-incorrect-with-federated-iwa/64713590#64713590

[2020-11-06 21:12] neha-bhargava opened #2166 "Add source of region discovery to telemetry"
To investigate the source of region discovery, add the source to telemetry. Which can be "ev" if the region is detected from environment variable or "imds" if it is detected from imds call.

[2020-11-08 07:04] will-bartlett opened #2167 "[Bug] WithRedirectUri("http://localhost/myCustomPath") has no effect - library continues to use http://localhost"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.22.0, the latest from nuget.org.

**Platform**
netcore 3.1 on Windows 10.

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ x ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API

[2020-11-09 08:06] stezma opened #2168 "How to handle service down case is Azure AD B2c."
Hi,
I am using **Microsoft.Identity.Client** version **4.22.0** in my Xamarin Forms application for Authentication. I have two questions related to handling of "The webpage is not available". case.

Qn1 : Is there any way I can retry the login request if the service / B2c is down, after a specific time interval?
Qn2: How I can comeback to the calling method if the service is down? So that I can pr

[2020-11-09 08:49] bgavrilMS opened #2169 "[Bug] Throw a better exception when ROPC is attempted with MSA account"
**Which Version of MSAL are you using ?**
4.22

Attempt ROPC, with authority correctly set to `l.m.o/organizations`. Provide an MSA username to the API.

**Expected** an exception explaining the root cause.

Implementation suggestion:

- We could use either the "domain_name" from the userrealm call  (need to confirm with MSA folks)
![image](https://user-images.githubusercontent.com/12273384/985191

[2020-11-09 09:05] bgavrilMS commented on #2167
@jmprieur - could you assign a priority here?

[2020-11-09 09:18] bgavrilMS commented on #2168
Hi @stezma -

I don't think we have a good solution for this yet. The main mitigation developers use today is to [detect if the network is down ](https://docs.microsoft.com/en-us/xamarin/essentials/connectivity?tabs=android) PRIOR to making a token request.

Generally [timeouts in .NET ](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-peri

[2020-11-09 09:35] bgavrilMS commented on #2164
I think this degree of control is too granular / complex and customers are not interested in obscure http stack bugs.

[2020-11-09 10:17] jmprieur opened #2170 "[Feature Request] Provide a strongly typed way of expressing the claims to request"
**Is your feature request related to a problem? Please describe.**
Part of the zero trust app readiness, apps will be able to request some specific claims (for instance for certain resources). Today the .WithClaims method makes it possible to express claims to request, but this is not an easy experience. This was ok when just passing the claims from the MsaUiRequiredException, but now that the sce

[2020-11-09 10:29] stezma commented on #2168
Network checking will only help us to track the network outage. That we are checking already. Our main issue is B2c itself is down that case how we will handle the situation.

Could you pleas elaborate with the point `OperationCancelledException`.  Is it a new change you are proposing to  SDK or a workaround I can make on my client / xamarin code?

[2020-11-09 10:50] bgavrilMS commented on #2168
The more I think about this, I realize that maybe this should be handled on B2C server side. If they encounter a network error downstream, they can signal the error back to the app - which would close the browser and return back control to you. MSAL would throw some `MsalServerException` with `errorCode= network_down` or whatever error code B2C sends. @jennyf19 - thoughts? Could we involve our B2C

[2020-11-09 15:40] bgavrilMS commented on #1485
@jmprieur - currently set to 4.6.1, please let me know if you have data related to others.

[2020-11-09 18:26] trwalke opened #2172 "[Feature Request] Bind MSAL.NET to Native code on android and iOS to eliminate the need of maintaining the features in MSAL.Xamarin"
**Is your feature request related to a problem? Please describe.**
The implementation MSAL.NET in Xamarin Android and iOS has caused a number of development challenges throughout the lifetime of MSAL.NET leading to increased development time, increased support requirements and bugs. These challenges have existed since ADAL and have not gotten better over the years.

**Describe the solution you'd l

[2020-11-09 18:27] trwalke commented on #2133
Fix has been identified, will be in the next release

[2020-11-09 18:33] bgavrilMS opened #2173 "[Intenal] Device Code tests are failing."
AAD and ADFS v4

[2020-11-10 02:24] ani2011 commented on #449
@jmprieur we want to add custom attribute in JWT token generated through client credential grant type to enable authorization at our API gateway. Is it possible to add it via calling a custom policy.? or ant suggestion how to achieve this.

[2020-11-10 08:41] bgavrilMS commented on #449
MSAL allows developers to create their own signed assertions for this grant instead of creating the assertion on their own. We have documented this scenario here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Assertions

[2020-11-10 09:05] jmprieur commented on #1485
This is not information we have, @bgavrilMS. Let's go with 4.6.1.

[2020-11-10 09:14] ani2011 commented on #449
@bgavrilMS can we add custom attribute in JWT while doing client credential grant type. can't find any reference

[2020-11-10 09:20] bgavrilMS commented on #449
In token that you receive from ESTS or in token that you generate based on your cert to send to ESTS?
I don't know about custom attribute (claim) in token that you receive from ESTS.

[2020-11-10 10:10] jmprieur commented on #449
@chrisspen : this does not seem to be related to this issue. In the future, please open another issue with repro steps.
Do you need a claim? or an app role?
Did you see https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims ?

[2020-11-10 10:49] patrickdoodyIRL opened #2175 "Xamarin - AcquireTokenInteractive - NullReferenceException - IOS"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.22.0

**Platform**
Xamarin IOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

**Is this a new or existing app?**
The app is in production, I haven't upgraded MSAL, but started seeing this

[2020-11-10 11:57] patrickdoodyIRL commented on #2175
I have tested this against the versions of MSAL. The latest that works as expected in 4.11.0. From 4.12.0 onwards I see the behaviour as described in previous comment.

[2020-11-10 13:38] harmjonker opened #2176 "50058 Azure AD errors"
We get a lot of Azure AD Sign-in error code 50058 responses when doing silent logins from MSAL based Xamarin apps on Android.
We use brokered login with MS Authenticator. We don't expect the 50058 in most cases.  I read various explanations on internet but can this also be caused by misconfiguration or wrong use of MSAL library?

[2020-11-10 14:23] jmprieur commented on #2175
@thanks @patrickdoodyIRL for the heads-up

[2020-11-10 14:38] bgavrilMS commented on #2176
Hi @harmjonker - could you give us more details please? What flow gives you this 50058 error? What is 50058? Is it an error code from an MSAL exception?

[2020-11-10 14:56] harmjonker commented on #2176
![issue interrupted login](https://user-images.githubusercontent.com/55669455/98690509-4de20e80-236d-11eb-944c-04b27c205092.png)
![issue interrupted login 2](https://user-images.githubusercontent.com/55669455/98690511-4e7aa500-236d-11eb-8031-6e0d9bcfdf91.png)

[2020-11-10 14:57] harmjonker commented on #2176
Error Code | 50058
-- | --
Message | Session information is not sufficient for single-sign-on.
Remediation | This means that a user is not signed in. This is a common error that's expected when a user is unauthenticated and has not yet signed in. If this error is encountered in an SSO context where the user has previously signed in, this means that the SSO session  was either not found or invalid.

[2020-11-10 14:58] harmjonker commented on #2176
We expect this not to happen for every individual app again.

[2020-11-10 15:03] bgavrilMS commented on #2176
I've never seen this error. It looks to be related to the browser, not to the broker - the broker app has a token called PRT (primary refresh token) which it uses to fetch tokens for apps. This is how  "SSO" is achieved.

MSAL falls back to a browser if the broker is not installed. Are you sure you are getting this error from the broker and not from the browser?

[2020-11-10 15:06] harmjonker commented on #2176
We use MSAL.net with broker option on...and we verify that users have MS Authenticator installed.

[2020-11-10 15:19] bgavrilMS commented on #2176
Ok.

Is there any way to capture the broker incident from when this happens?

[2020-11-10 15:23] harmjonker commented on #2176
You mean the code you get when logging is sent from MS Authenticator?

[2020-11-10 15:24] bgavrilMS commented on #2176
Yes.

[2020-11-10 20:33] neha-bhargava opened #2177 "[Feature Request] Optimize and harden IMDS endpoint calling logic"
1. Instead of getting the json response from the imds endpoint for the compute node, there is an option to just get the region as text. Update the imds call to get the region as text.
2. Imds call does not need to retry if it fails. Update the HttpManager to add a method for imds calls.

[2020-11-11 08:51] Mir4ik opened #2178 "Azure Application Proxy access using MSAL token"
Implemented test windows application based on official manual: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-native-client-application

Following code is a result:
[code]

Everything works fine until HTTP request with a token, it is being redirected to login.microsoft.com: https://i.stack.imgur.com/GUe7l.png

Redirect URI to login.microsoft.com: {h

[2020-11-11 09:11] jmprieur commented on #2178
@Mir4ik maybe you need an accept default header to get Json?

[2020-11-11 09:32] Mir4ik commented on #2178
@jmprieur adding JSON accept header do not help, same issue

[2020-11-11 09:57] bgavrilMS commented on #2150
Another support incident related to AddAccount API being banned in enterprises via Android 4 Work.

[2020-11-11 11:23] bgavrilMS commented on #2178
.net classic or .net core?

[2020-11-11 11:28] bgavrilMS commented on #2178
Try
[code]

[2020-11-11 11:38] Mir4ik commented on #2178
@bgavrilMS no changes - https://imgur.com/YNL2NkC
It's both .Net and Core. Also same issue in Java (MSAL for Android) and iOS (MSAL for iOS). Basically I've implemented 2 mobile apps that were working fine with API's directly, but when switched to App Proxy it stopped working (even by following manuals). Now I've implemented test app according to official manual in C# - still no luck.

[2020-11-11 11:55] bgavrilMS commented on #2178
In your picture it seems the Http call returns a 200 OK?

[2020-11-11 11:58] Mir4ik commented on #2178
It redirects to login.microsoft.com asking to log in and login.microsoft.com returns 200, sample URL with parameters in initial post.

[2020-11-11 12:03] bgavrilMS commented on #2178
Got it. I'm afraid I don't know what's going on. If access token is invalid, protected APIs return 401, they should not redirect.

We are not familiar enough with App Proxy to diagnose these issues. MSAL's responsability ends when a token is obtained. I recommend you open a support ticket instead from Azure Portal (they are free as far as I know).

[2020-11-11 12:41] shristikatiyar commented on #2128
Hi @bgavrilMS  we have reach out to customers ,once they share device details I will share details here meanwhile can you share the logic around IsSystemWebViewAvailable  as we use this to fall back on emebedded web view.

[2020-11-11 12:50] bgavrilMS commented on #2128
Sure, the logic is here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/5000f4a5624c1acd4cf1c07b25c6abb5eedf746c/src/client/Microsoft.Identity.Client/Platforms/Android/AndroidPlatformProxy.cs#L180

[2020-11-12 00:50] jrmcdona opened #2180 "Protected Web API example using MSAL .NET (.NET 4.7 and not with .NET CORE)"
I cannot seem to find a Protect Web API example using .NET.

I have an MSAL.JS 2 Angular app and I have a .NET Web API in which I need to validate the Bearer token.

Does this exsit?

Thanks

[2020-11-12 08:53] harmjonker commented on #2176
Hello Bogdan, this is an incident-id from MS Authenticator Log upload: XYGXMQVQ
This morning around 9:00 local time I started various apps to test single signon behavior. The first app failed on the first token acquire call and came back with the account selection box, after choosing an account it succeeded.

[2020-11-12 08:56] jmprieur commented on #2180
@jrmcdona :
Did you look at this one: https://github.com/Azure-Samples/ms-identity-javascript-angular-spa-aspnetcore-webapi

Other protected web API samples are referenced here: https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-apis. You might want to look at https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20ap

[2020-11-12 10:50] bgavrilMS commented on #2176
Hi Harm, I took a look at the logs (I can send them to you if you like). I cannot find anything related to this exception in the logs, even though there are entries for 9 AM.

I think we have 2 options to proceed here:
- give us the [MSAL library logs ](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging) to rule out any issues there, although I don't expect much si

[2020-11-12 11:13] bgavrilMS opened #2181 "Release WAM on .NET classic"
https://aka.ms/msal-net-wam

Known issues:

WAM with console apps #2196
WAM with MSA-passthrough #2126

[2020-11-12 11:19] bgavrilMS opened #2182 "Update WAM + default account feature to use explicit API"
As per https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/2322

[2020-11-12 14:38] jrmcdona commented on #2180
@jmprieur those are ,NET Core.   I am looking for .NET 4.7 or so.   I have a working project with .NET Core but right now I have a first party app and I am trying to move to MSAL so I can get rid of RPS.  But I have yet to find a clear example.

[2020-11-12 14:46] jmprieur commented on #2180
@jrmcdona : indeed, I'm not sure we have a good .NET Framework example for web APIs. Good point;
Note that for the token cache serialization, we just released yesterday a version of MIcrosoft.Identity.Web which provides some implementation for .NET Framework: See https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net#token-cache-serialization-for-msalnet

[2020-11-12 14:47] jmprieur commented on #2180
@jrmcdona : did you look at this sample: https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof ?

[2020-11-12 14:51] jrmcdona commented on #2180
@jmprieur  that sample uses WindowsAzureActiveDirectoryBearerAuthenticationOptions and I was told to use UseJwtBearerAuthentication.   So I have been trying to make it work with Jwt.  Do you know for sure which I should use?

[code]

[2020-11-12 15:03] jmprieur commented on #2180
@jrmcdona : the todolist service is a protected API (which moreover calls a downstream API).
But I just found this one: https://github.com/Azure-Samples/active-directory-dotnet-webapi-getting-started

[2020-11-12 15:05] jmprieur commented on #2180
@kalyankrishna1 : do we have a better sample of protected web API for ASP.NET FW?

[2020-11-12 17:13] jrmcdona commented on #2180
@kalyankrishna1 @jmprieur  Since I am trying to use MSAL.NET should I need ne using client applications to validate the token?

https://identitydocs.azurewebsites.net/static/v2/msal-net-initializing-client-applications.html

[2020-11-12 18:43] joshuapetryk opened #2184 "Is there any way to refresh the ClientAssertion?"
Hi - not sure what issue template to use here, please let me know if you'd like me to update.
I have some odd behavior that I'm not understanding.

I am using the OAuth Auth Code flow and my builder code looks like so:

[code]

I am building the claims like so:

[code]

We build and persist one client per user session. If a user's session is long running (hours) we start getting the following erro

[2020-11-12 18:44] henrik-me opened #2185 "[Telemetry] Add telemetry that shows whether the implementation has implemented the token cache serialization or not."

[2020-11-13 02:24] cghersi opened #2187 "AcquireTokenInteractive crashes on UWP app for ARM64"
Version of Nuget Microsoft.Identity.Client 4.19.0

Platform: UWP on ARM64

In a UWP Desktop App, running on ARM64, we want to authenticate for OneDrive, using the method IPublicClientApplication.AcquireTokenInteractive(...).ExecuteAsync();

**Repro**

[code]

**Expected behavior**
User is shown the login popup to enter credentials, and after successful login, the code receives a valid authResult.

[2020-11-13 09:15] jmprieur commented on #2180
@jrmcdona : no the tokens need to be validated with Middleware. It does not need to use MSAL.NET until you want to acquire a token for a downstream API. I forgot to ask.: did you see https://docs.microsoft.com/azure/active-directory/develop/scenario-protected-web-api-overview ?

[2020-11-13 09:20] jmprieur commented on #2184
@joshuapetryk : don't you want to use .WithClientAssertion on each call?

[2020-11-13 10:56] bgavrilMS commented on #2184
@jmprieur - we do not expose `.WithClientAsserttion` on the Acquire* APIs. Do you think we should add this API?

![image](https://user-images.githubusercontent.com/12273384/99064083-5c167180-259d-11eb-91eb-78fd1a6de6db.png)

@joshuapetryk - if you let MSAL create the client assertions from a certificate (which you cannot do I think), we also use [10 min expiration](https://github.com/AzureAD/micro

[2020-11-13 11:43] vidya091209 opened #2188 "UWP AuthHost encountered a navigation error at URL: https://xxx.b2clogin.com/xxx.onmicrosoft.com/oauth2/authresp with StatusCode: 0x800C000D."
Microsoft.Identity.Client 4.12.0 i have also tested with 4.22 latest version

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive

 I have a UWP app In production from last one I year  I have integrated with  Azure B2C.
I am using MS account Google and Local account as IDP. Every thing is working from last one year.
**from Last one week i am facin

[2020-11-13 12:10] bgavrilMS commented on #2187
Do you have an exception trace or some logs?

[2020-11-13 12:14] bgavrilMS commented on #2187
I wonder if WAM will fare better here. If you have the time, could you try to the WAM broker instead of the browser control ? This is described here https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam

It's a different experience that's more integrated with Windows and which we will probably enable by default at some point. From your point of view you just have to regis

[2020-11-13 14:00] joshuapetryk commented on #2184
Thanks @bgavrilMS for confirming this behavior.

Some background: The reason I am forced to use WithClientAssertion is because we are running .Net Framework 4.5 and WithCertificate was throwing exceptions (don't recall which one exactly).

My personal preference would be passing a callback (`.WithClientAssertion(() => string)`) that would be invoked every time when generating the signature.

If I

[2020-11-13 19:09] henrik-me commented on #2173
@bgavrilMS : I assume this is closed?

[2020-11-13 19:10] bgavrilMS commented on #2173
Ah yes, archiving the "done" tickets does not close them. I'll do it.

[2020-11-13 19:10] #2173 closed

[2020-11-13 19:11] #2135 closed

[2020-11-13 19:12] bgavrilMS commented on #2130
Since this is a request for the service, let's continue to track it there:

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/41768716-support-the-on-behalf-of-flow-for-tokens-gotten-th.

[2020-11-13 19:22] henrik-me commented on #2165
@devlanfear : we have chosen the current approach as these are the preferred options across iOS versions.
Some additional information is available here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-web-browsers#system-web-browser-on-xamarinios-xamarinandroid

If I understand correctly, your scenario is that you have a set of pages (sharepoint) you show embedded in your

[2020-11-13 20:07] cghersi commented on #2187
I don't, because when I step into that line s_publicClientApp.AcquireTokenXXX(), the app crashes miserably. The only thing we have is an event on the Windows Event Logs, stating there has been a crash of the app involving SharedLibrary.dll:

Faulting application name: MyApp.exe, version: 0.0.0.0, time stamp: 0x5fadfb37
Faulting module name: SharedLibrary.dll, version: 0.0.0.0, time stamp: 0x5d27c8

[2020-11-13 20:08] cghersi commented on #2187
We will try this approach, but I also believe that it is worth fixing the methods s_publicClientApp.AcquireTokenXXX() for ARM64. By the way, are you able to reproduce the problem?

[2020-11-16 00:03] alexzaitzev opened #2189 "[Bug] ArgumentNullException in RSACryptoServiceProvider under heavy load"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.22.0

**Platform**
net461

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
Th

[2020-11-16 01:35] akiratoda commented on #1881
I have same issue.

- Which Version of MSAL are you using ?
Microsoft.Identity.Client 4.22.0
Microsoft.Identity.Client.Extensions.Msal　2.16.5
(I use ICustomWebUi)

- Platform
.net core 3.1 wpf

What authentication flow has the issue?

- Desktop / Mobile
Interactive

My code is almost same as [sample code](https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop/blob/133a352aed5ea9c30cf

[2020-11-16 10:53] bgavrilMS commented on #1881
@akiratoda - do you have the exception stack trace and a Fiddler or some network trace?

[2020-11-16 12:13] harmjonker commented on #2176
hello Bogdan,  we got a report from and end-user who could not login into one of the apps where it should be possible.
Authenticator logs sent with Incident-id: 26QPYWH, incident time was 17:20 h NL time, on nov. 15th. app name is Service Coach app. Could you have a look and see what happens around that time?

[2020-11-16 12:53] bgavrilMS commented on #2189
Thanks for raising this issue @alexzaitzev; We are actively working on a similar issue reported by an internal partner and I'll update this thread with the result. Restarting VMs for now is a the only known mitigation.

As an alternative, you can do the signing yourself, MSAL allows this - see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Assertions#signed-asse

[2020-11-16 15:45] bgavrilMS commented on #2158
This is required to validate MSAL.node functionality

[2020-11-16 17:50] bgavrilMS commented on #2100
Fixed with https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/2183

[2020-11-16 17:50] #2100 closed

[2020-11-17 01:58] akiratoda commented on #1881
@bgavrilMS
Here it is.
[stacktrace.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/5550783/stacktrace.txt)
[fiddler.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/5550784/fiddler.txt)

[2020-11-17 12:31] bgavrilMS opened #2193 "[Bug] Azure SDK API - IWA specific call returns 415 on MSAL but works on ADAL"
**Which Version of MSAL are you using ?**
MSAL 4.22

**Platform**
net fwk

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Daemon App
    * [ ] Service to Service calls

Other? - please describe;

**Is thi

[2020-11-17 12:32] bgavrilMS commented on #2193
P1 as this regresses ADAL functionality and is affecting users in production.

[2020-11-17 12:43] bgavrilMS commented on #1881
Thanks for the details @akiratoda (and very cool that you're using ICustomWebUi succesfully).

I can't figure out which header value is causing this problem. The code is here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/5a61d0c7adb2d30ffd6c61ac75501f7af1bfa063/src/client/Microsoft.Identity.Client/Http/HttpManager.cs#L87

Would you be able to debug into MSAL and obse

[2020-11-17 12:50] bgavrilMS commented on #2176
I was able to see a bunch of exception in the broker logs similar to:

11-15 16:19:03:372 UTC ERROR/App: Error getting AAD accounts list Broker.getAllAccounts()@45 [AsyncTask #1]
11-15 16:19:03:374 UTC ERROR/App: java.lang.IllegalArgumentException: rawBytes
	at com.microsoft.identity.common.adal.internal.cache.StorageHelper.getSecretKey(StorageHelper.java:766)
	at com.microsoft.identity.common.ada

[2020-11-17 13:34] RegisStGelais opened #2194 "[Feature Request] Access a OneDrive account from a .Net service"
Hello all,

This is more a question than a feature request.

I need to build a .Net service that will pull files from a OneDrive account, parse it and then push the data to an SQL server.

I know from experience that on Android and iOS we need to have a UI to allow the user to enter its credentials and also accept the access requests.

Is there a way for my .Net service to login to the OneDrive ac

[2020-11-17 13:41] bgavrilMS commented on #2194
Please explore if you can use client credential flow:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-credential-flows

This way, you service asks for tokens on behalf of itself instead of on behalf of a user. Note that the app scopes are different, much more powerful, e.g. instead of being able to access 1 user's files, your service would be able to access ALL t

[2020-11-17 14:16] RegisStGelais commented on #2194
@bgavrilMS,  Thank you for your answer.
 If I use the client credential flow, is my service only able to access my OneDrive account (the one where the client was registered) or can it also access other OneDrive accounts ?

[2020-11-17 14:30] bgavrilMS commented on #2194
It would be able to access other OneDrive accounts. Is this what you are looking for?

[2020-11-17 15:06] bgavrilMS commented on #2124
@mjcheetham - I tested WAM + Fido and at present Work And School accounts can use a Fido Key while Microsoft accounts cannot (work needs to be done on WAM side).

So I think your best bet for FIDO support remains WebView2

[2020-11-17 15:07] bgavrilMS commented on #2125
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2181

[2020-11-17 15:07] #2125 closed

[2020-11-17 15:10] bgavrilMS opened #2196 "[Bug] WAM for console apps"
**Which Version of MSAL are you using ?**
4.23

**Platform**
.NET fwk, .NET Core

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Daemon App
    * [ ] Service to Service calls

**Repro**

WAM does not work

[2020-11-17 17:52] RegisStGelais commented on #2194
I guess the user of the target OneDrive account will need to approve the access to my app somewhere or else my app would be able to access any and all OneDrive accounts.

[2020-11-17 18:10] ssahon commented on #1881
the error happens in HttpManager while trying to CreateRequestMessage
it throws format exception on index 4 of headers collection (x-client-last-telemetry)
![headers](https://user-images.githubusercontent.com/11844179/99429507-bbda8880-28cd-11eb-9caa-b7e0a3fa8b35.PNG)
![codeWithError](https://user-images.githubusercontent.com/11844179/99429512-bd0bb580-28cd-11eb-81d6-cf44ecbbe261.PNG)

[2020-11-17 19:16] bgavrilMS commented on #1881
Very cool, that's a bug in MSAL (I updated the title), thanks.
No idea why that string have is sent in the header, we should only be sending error codes.

[2020-11-17 23:46] #2164 closed

[2020-11-18 03:32] jennyf19 commented on #2163
@bgavrilMS I don't see PoP available in public client? is that correct?

[2020-11-18 04:01] jennyf19 commented on #2083
Docs.MS
- [x] https://aka.ms/msal-net-ios-13-broker
- [ ] https://aka.ms/msal-net-ios-broker
- [ ] https://aka.ms/msal-interactive-android
- [ ] https://aka.ms/msal-brokers
- [ ] http://aka.ms/valid-authorities
- [x] https://aka.ms/msal-net-enable-keychain-access
- [ ] https://aka.ms/msal-net-custom-web-ui
- [ ] https://aka.ms/msal-net-b2c
- [x] https://aka.ms/msal-net-signed-assertion

Goes to Wi

[2020-11-18 06:16] trwalke commented on #2163
@jennyf19  yes. Pop is now limited to only confidential clients

[2020-11-18 08:36] pmaytak opened #2204 "[Perf] Access tokens are listed too many times in AcquireTokenSilent / AcquireTokenForClient"
This issue impacts scenarios of large token cache, which is common for client credential flows (300k+ tokens). MSAL copies access tokens from memory into a list several times, which is a perf impact (TBD - numbers)

Technical details:

`InMemoryTokenCacheAccessor.GetAllAccessTokens()` iterates through the whole AT collection and returns a `List`. When `TokenCacheNotificationArgs.HasTokens` propert

[2020-11-18 09:55] jmprieur commented on #2194
@RegisStGelais : if you use client credentials, and if your application is approved by the **tenant admin**, if will be able to access all the OneDrive accounts of all the users of this tenant. Client credentials apply to all users, not a user in particular.

Are you building a line of business application (in your organization's tenant), or are you an ISV? (building a multi-tenant application) ?

[2020-11-18 10:00] jmprieur commented on #2188
@vidya091209 can you run the user flows for this IDP from the B2C portal? Do you think this is library related? (this seems more service side related)?

[2020-11-18 10:00] jmprieur commented on #2187
@bgavrilMS would it be due to the reference assemblies?

[2020-11-18 10:06] jmprieur commented on #2184
@joshuapetryk thanks for this heads-up.
@bgavrilMS @jennyf19 @trwalke @neha-bhargava @henrik-me, I agree that having a new override of `.WithClientAssertion` on the confidential client application builder taking a delegate to provide the signed assertion would be good. This way the application could even choose to not recompute the client assertion until it expires (as this is a costly operation)

[2020-11-18 10:06] jmprieur commented on #2184
@joshuapetryk meanwhile, the work-around is to recreate the confidential client application for each request. Is it an issue for you?

[2020-11-18 10:10] jmprieur commented on #2177
@neha-bhargava :I believe you've been working on this ?

[2020-11-18 11:14] bgavrilMS commented on #2147
Please transfer to ESTS or Intune via ICM. Not an MSAL issue.

[2020-11-18 11:14] #2147 closed

[2020-11-18 13:27] jmprieur commented on #2083
- https://aka.ms/msal-interactive-android is owned by @bgavrilMS, but the SG alias was not populated.  The link should point to https://docs.microsoft.com/azure/active-directory/develop/msal-net-xamarin-android-considerations

[2020-11-18 13:59] jmprieur commented on #1878
Closing as duplicate

[2020-11-18 13:59] #1878 closed

[2020-11-18 14:05] jmprieur commented on #1339
@bgavrilMS : I think that we can close? this would be a dupe of the support for the system browser in ASP.NET Core?

[2020-11-18 14:07] jmprieur commented on #1094
Closing as the docs where updated in docs.ms: See https://docs.microsoft.com/azure/active-directory/develop/msal-net-xamarin-android-considerations#update-the-android-manifest

[2020-11-18 14:07] #1094 closed

[2020-11-18 14:10] jmprieur commented on #1031
This is an old issue, @bgavrilMS, and I have not seen any recent complain about this.
Proposing to close.

[2020-11-18 14:10] #1031 closed

[2020-11-18 14:11] jmprieur commented on #1812
We don't have much options, @bgavrilMS
We could use System.Text.Json instead, but this does proposed for the lowest SKUs.

[2020-11-18 14:15] jmprieur commented on #1339
Status:
- FIDO2 does not work on embedded browsers yet, but we have a solution (IWebView2). It should work with system browser
- it works with WAM, but only for Work or school accounts, not MSA (known issue)

[2020-11-18 14:18] jmprieur commented on #1812
Closing. We don't know if updating to netstandard 2.0 will work.

[2020-11-18 14:18] #1812 closed

[2020-11-18 15:10] RegisStGelais commented on #2194
My .net service will be installed on the client's (end user) server and it needs to access there OneDrive account.
But the same service will also be installed on other client's servers and it will need to access there respective OneDrive account.

Some of my clients might not have a OneDrive business account. It might be a personal account.

[2020-11-18 15:25] bgavrilMS opened #2207 "[Internal] Device Auth tests are not running."
See https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=666112&view=ms.vss-test-web.build-test-results-tab - not tests found

[2020-11-18 15:30] bgavrilMS commented on #2168
I think this is the best we can do for now. We will take this ask to B2C (@jennyf19 - can we add this to our list?)

[2020-11-18 17:24] bgavrilMS commented on #2187
I don't know, did not have time to repro this.

[2020-11-18 18:01] cghersi commented on #2187
@bgavrilMS Are you going to consider a fix for this issue? If yes, do you have a timeline (at least general, like 1 week, 1 month, 1 year...)?

[2020-11-18 18:17] vfailla commented on #2187
@bgavrilMS it seems the "WithBroker()" method is not available in UWP.

So I cannot do:
`var pca = PublicClientApplicationBuilder.Create("client_id").WithBroker(true);`

Am I missing something?

[2020-11-18 18:23] bgavrilMS commented on #2187
@vfailla  - are you using the latest MSAL ? We've only enabled this in MSAL 4.22 ... I can see the API:

![image](https://user-images.githubusercontent.com/12273384/99571238-ececb300-29ca-11eb-823e-c2537a584966.png)

[2020-11-18 18:24] jmprieur commented on #1903
@henrik-me : working on it.

[2020-11-18 18:26] bgavrilMS commented on #2187
@cghersi - how can I repro this? Is there an ARM emulator I can use? I don't have an ARM device.

[2020-11-18 18:39] cghersi commented on #2187
@bgavrilMS unfortunately the only way I can see to reproduce the issue is by deploying the app on an actual ARM64 machine, e.g. a Microsoft Surface Pro X.

[2020-11-18 18:56] jennyf19 commented on #2168
@bgavrilMS yes, i think this is on our list of asks w/b2c. i'll mark this as external.

[2020-11-18 19:09] bgavrilMS commented on #1881
Is this the "next gen" password reset policy which is in preview? That error code is wrong, error codes are short, like "access_denied" or "invalid_grant". I'll sanitize this string so that it can go in the header, but we need to talk to B2C team to fix this error code.

Since the flow is in preview, I expect them to change it. You should not depend on this string.

[2020-11-18 19:15] ssahon commented on #1881
I do not think so, I used b2c custom policy with almost no modifications, I do not think that I can control those error messages.

[2020-11-18 19:17] bgavrilMS commented on #1881
No, you can't control these messages. There's a new userflow for reset password which I think is has a few issues, see https://github.com/AzureAD/microsoft-identity-web/issues/729#issuecomment-719133705

[2020-11-18 19:27] ssahon commented on #1881
no, I do not use this standard user flows. I use xml based custom b2c policies. https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-overview

[2020-11-18 19:31] bgavrilMS commented on #2187
@henrik-me - can you help here? Is there any ARM Windows device that someone in our team can get to?

@cghersi - the reason why I'm recommending WAM is that on UWP we actually rely on a an old Windows component called WAB (Windows Auth Broker) to pop up the browser. We've had a lot of problems with it in the past. If the root cause of this bug in is WAB, I doubt we will be able to fix it. But I ca

[2020-11-18 19:48] bgavrilMS commented on #1881
I have a fix, but I will also talk to B2C team to see if we can get that error code changed. I'll update the thread either way, but the fix will anyway be shipped with MSAL 4.23, probably end of week next week.

[2020-11-18 19:51] cghersi commented on #2187
@bgavrilMS thanks for the explanation. While trying to integrate WAM, it seems there are some limitations, and you have to choose between personal / work account, AzureChina, etc. which is very inconvenient for us.
Moreover, the documentation refers to methods that are not available.
The ideal solution is to fix the bug in the library for ARM64.
If this is not possible, maybe you can point us out

[2020-11-18 20:14] jmprieur commented on #2194
Then you need to use the On behalf of flow.
Are you using ASP.NET Core ?

[2020-11-18 20:21] premsundaram commented on #2188
hi @jmprieur I am working with @vidya091209 he is my programmer and i manage the app - though i don't know all the programming i am able to go into our portal and run the workflow - if you have a bit of time perhaps we can chat/share screen so you could advise?  we don't think its our app since we never published any updates yet the microsoft login problem has started recently. thanks! Prem

[2020-11-18 21:11] jennyf19 commented on #2207
@bgavrilMS the device auth tests seem to be passing now...maybe it was the build fix from earlier? idk.
![image](https://user-images.githubusercontent.com/19942418/99588519-8dc57900-299f-11eb-844b-f30fc7c52810.png)
https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=666395&view=results

[2020-11-18 21:29] bgavrilMS commented on #2207
They are passing because no tests are found.Test run takes 1s

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jennyf19 <notifications@github.com>
Sent: Wednesday, November 18, 2020 9:11:52 PM
To: AzureAD/microsoft-authentication-library-for-dotnet <microsoft-authentication-library-for-dotnet@noreply.github.com>
Cc: Bogdan Gavril <Bogdan.Gavril@microsoft.com>

[2020-11-18 21:50] bgavrilMS commented on #2207
![image](https://user-images.githubusercontent.com/12273384/99592357-04866480-29e8-11eb-8c83-c5efd770cc78.png)

[2020-11-18 21:57] bgavrilMS commented on #2187
@cghersi - I'd like to understand more about the inconvenience. There is no distinction between personal / work account exposed to developers. Sovereign clouds (such as AzureChina) are supported both by WAM and by MSAL and the API is the same. WAM is the best alternative I can suggest right now.

We'll try to find an ARM device, repro the issue and fix MSAL, but currently we are all working from h

[2020-11-18 22:37] jennyf19 commented on #2207
oh i see.

[2020-11-18 22:45] bgavrilMS opened #2212 "[Bug] When using "common", "organizations" or "consumers", client credential flow always misses the cache"
**Which Version of MSAL are you using ?**
all

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Daemon App
    * [x] Service to Service calls

The title says it all. I propose we ban "common" and "organizat

[2020-11-18 22:46] bgavrilMS commented on #2212
CC @henrik-me

[2020-11-19 02:54] vidya091209 commented on #2188
Hi @jmprieur  we have even one working web app integrated with same B2c app.
i think this might be related with Library. but i am not sure about the this response AuthHost encountered a navigation error at URL: https://xxx.b2clogin.com/xxx.onmicrosoft.com/oauth2/authresp with StatusCode: 0x800C000D. captured in event viewer while in fiddler i can see the response which is redirect to local url aft

[2020-11-19 06:41] henrik-me commented on #2212
Let's get telemetry on how much this is actually used.

[2020-11-19 09:28] Bloodyairtimer commented on #2153
Thanks for the fast and complete answers. Did some more testing and somehow the Prompt.ForceLogin doesn't seem to do anything. (Microsoft account)

In my scenario the user is de-installing the app and want's to use a different microsoft account. (I personally use 3 accounts for testing purposes) if the app is started the first time I even do a logout of the account before starting the login proces

[2020-11-19 09:58] bgavrilMS commented on #2212
Apollogies, after more careful inspection it looks like we simply store "realm: common"  in the token cache, as MSAL has no way of knowing the actual tenant ID, EVO does not tell us:

![image](https://user-images.githubusercontent.com/12273384/99650818-c6bc2700-2a4d-11eb-88cc-bc66d7c605cc.png)

[2020-11-19 09:58] #2212 closed

[2020-11-19 11:20] bgavrilMS commented on #2185
Can be picked up by anybody?

[2020-11-19 16:26] trwalke commented on #2207
ill take a look

[2020-11-19 16:31] trwalke opened #2218 "[Bug] Sign-in is stuck for indefinite period for M365 admin mobile app customers using broker auth"
**Which Version of MSAL are you using ?**
4.22.0

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Daemon App
    * [ ] Service to Service calls

**Is this a new or existing ap

[2020-11-19 16:31] trwalke commented on #2218
Currently an ongoing investigation

[2020-11-19 18:03] Steve0212a opened #2219 "[Bug][M] Interactive + System Browser fails if listening to localhost is forbidden - better error required"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.22.0

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Daemon App
    * [ ] Service to Service calls

Other? - ple

[2020-11-19 20:47] cghersi commented on #2187
@bgavrilMS we are using this library to connect to OneDrive from our UWP app on behalf of the user, so that the user is able to:
1) browse her content on OneDrive (navigate thru folders, etc.)
2) download some files from her OneDrive account
3) upload some files into her OneDrive account.
For this to happen we need the AccessToken that we retrieve from the AuthenticationResult object, the result o

[2020-11-19 22:36] jmprieur commented on #2163
@neha-bhargava : we want to add a **new folder** to the daemon sample. This new folder would be pretty much like `https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/2-Call-OwnApi`, but:
- we'd call **4-Call-OwnApi-Pop**
- The service would be the same as the following: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/4.-Conso

[2020-11-19 23:45] henrik-me opened #2220 "[Fundamentals] Rename master branch to main"
**Main branch**
_An inclusive new default_
New repos created within Microsoft orgs now have the default branch name of 'main'.

Teams are encouraged to rename their default branches if they are still using the 'master' branch name. This is an important, but not urgent, change.

**See more:**
https://repos.opensource.microsoft.com/

[2020-11-20 06:16] henrik-me commented on #2218
Supporting Content Provider is a feature: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2150

[2020-11-20 07:58] jmprieur commented on #2220
If we decide to do it, we also need to make sure we do a pass on the wiki, the Readme.md (all the .md files, actually, contribution.md etc ...), and docs.ms ....

Requires spec ....

[2020-11-20 10:31] bgavrilMS commented on #1881
We're still trying to track down why that error code is a full blown sentence. @akiratoda @ssahon - would it be possible to capture the authorization URI ? It looks like this:

http[s]://<your_redirect_uri>/#error=access_denied&error_description=AADB2C90118%3a+The+user+has+forgotten+their+password.%0d%0aCorrelation+ID%3a+ac553bd9-2031-4a50-9b39-f638a7cc06de%0d%0aTimestamp%3a+2020-11-19+22%3a33%3a1

[2020-11-20 14:13] jmprieur commented on #2163
Proposal:

In the https://github.com/azure-samples/active-directory-dotnetcore-daemon-v2 (.NET Core daemon) sample repo:

1. Create a new sub-folder **4-Call-OwnApi-Pop**
2. In this new folder:
   1. Copy the content of the [2-Call-OwnApi](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/2-Call-OwnApi) folder. It's a good basis for this sample. We'll modify it lat

[2020-11-20 14:38] ssahon commented on #1881
from fiddler:
GET /oauth2/nativeclient?error=access_denied&error_description=AADB2C90118%3a+The+user+has+forgotten+their+password.%0d%0aCorrelation+ID%3a+fd6ec535-3877-46c0-8d5a-d6e3221e3e95%0d%0aTimestamp%3a+2020-11-20+14%3a25%3a22Z%0d%0a&state=04f1e84c-dff0-46ed-9acf-09f97bbfef0e98960226-a3c8-40a6-83e4-3794684494c8 HTTP/1.1

this url is used before the error.

in my case it shows UI to verify em

[2020-11-20 15:10] bgavrilMS commented on #1881
Interesting. And the MsalException in your first screenshot shows the ErrorCode as being "The user has forggoten their password..."?

[2020-11-20 15:14] bgavrilMS commented on #2187
We will update the UWP sample with WAM and get back to you. Probably in line with our next release, around end of next week
 CC @jmprieur

[2020-11-20 15:14] bgavrilMS opened #2223 "Update UWP and desktop samples with WAM"

[2020-11-20 15:18] bgavrilMS commented on #2193
Root cause seems to be a missing header `Content-Type: application/soap+xml` but MSAL clearly sets it

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/1a6fc5ab0f7fa0afbde67832bcda8b41aab8a843/src/client/Microsoft.Identity.Client/WsTrust/WsTrustWebRequestManager.cs#L69

[2020-11-20 15:19] ssahon commented on #1881
new fiddler traces. As you can see there additional requests after your url
[reset_password - modified 2.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/5574375/reset_password.-.modified.2.zip)
error happens when it tries to inject wrong value into header. Yes this is reset password flow (in my case custom policy) but it happens not immediately after user clicks t

[2020-11-20 16:14] bgavrilMS commented on #2219
Thanks for investigating the root cause @Steve0212a, we prioritize #supportability bugs high.

[2020-11-20 16:16] Steve0212a commented on #2219
Glad to hear it.  Thanks for the update!

[2020-11-20 16:18] bgavrilMS opened #2226 "[Bug] Token cache incompatibility with MSAL.python"
**Which Version of MSAL are you using ?**
4.21

Details in this PowerShell issue:
https://github.com/Azure/azure-powershell/issues/13467

[2020-11-20 16:39] henrik-me commented on #2226
@rayluo

[2020-11-20 16:47] bgavrilMS commented on #2219
@Steve0212a - do you know what could cause this ? Does the end-user have Win Server or maybe an admin policy that prevents listening on localhost:port ?

[2020-11-20 17:19] Steve0212a commented on #2219
I honestly have no idea.  It is a corporate Win 10 Pro system.

However, I was just installing a Win 10 Pro system in a VM..  It was not joined to a domain as it was a brand new install.  I ran "netsh http show iplisten".  The list was empty on the brand new machine.

[2020-11-20 17:23] bgavrilMS commented on #2219
On my machine that list is also empty and the auth flow / http listener works fine

[2020-11-20 17:31] Dimdron opened #2228 "[Bug] Migration on Android 29+"
I've migrated my project to AndroidX due to upgrading the target framework from 28 to 30 and it has broken the usage of the CustomTabsService. Currently, MSAL opens the Google Chrome browser instead of CustomTabs activity.

**Logs and Network traces**
MSAL Warning False (False) MSAL 4.22.0.0 MSAL.Xamarin.Android 30 [11/20/2020 16:54:19 - 7fe5b2e7-d520-4048-bcf2-035889a9387c] Browser with custom ta

[2020-11-20 19:09] jmprieur commented on #2187
@bgavrilMS : we have updated it for 4.22.0.
The only missing thing is the new static property

[2020-11-20 19:36] Steve0212a commented on #2219
strange - that change fixed the auth flow immediately as soon as I ran the "add iplisten" command.  definitely was something preventing the listener from listening.  Not sure how yours can work without that setting.

[2020-11-20 21:25] jennyf19 commented on #2228
@jamesmontemagno looks like this was added as part of your AndroidX PR. can you give context as to why it's commented out?

[2020-11-20 22:36] jennyf19 commented on #2175
@patrickdoodyIRL which OS version are you using?

[2020-11-20 23:03] jennyf19 commented on #2175
@patrickdoodyIRL can you try with this [branch](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/jennyf/iosNullRef) and set logs to Pii? I'm curious what the "Start Uri" value is, which will appear in the Pii logs where, in the regular logs you see "Starting the iOS embedded webui..."

[2020-11-22 11:50] vidya091209 commented on #2188
Warning (False) MSAL 4.22.0.0 MSAL.UAP N/A [11/22/2020 11:47:04 - 5e0f2404-8c40-48a6-adb1-d8ea3ea0b3e7] Attempt 1 to call WAB failed
Warning (True) MSAL 4.22.0.0 MSAL.UAP N/A [11/22/2020 11:47:04 - 5e0f2404-8c40-48a6-adb1-d8ea3ea0b3e7] System.IO.FileNotFoundException: The specified protocol is unknown. (Exception from HRESULT: 0x800C000D)
   at Microsoft.Identity.Client.Platforms.uap.WebUI.<>c__Di

[2020-11-22 16:48] devlanfear commented on #2165
@henrik-me Thank you for answer!
1) Scenario: yes, you are right. That's why we want to use SFSafariViewController in MSAL authentication flow and then use it for user browsing.
2) Do you plan to implement OpenBrowserAsync (part of SystemWebViewOptions) property on mobile? Now it is available only for Desktop platforms. This will probably allow us to use SFSafariViewController
3) What are the reas

[2020-11-23 05:41] jennyf19 commented on #2207
@trwalke i think i've got them working .i'll probably push up a PR tomorrow. have one more small issue to sort out w/publishing.

[2020-11-23 11:09] rfurmaniak opened #2231 "[Bug] HoloLens 2 device code flow does not work"
**Logs and Network traces**
`Error setting value to 'TenantDiscoveryEndpoint' on 'Microsoft.Identity.Client.Instance.Discovery.InstanceDiscoveryResponse'.  at Microsoft.Identity.Json.Serialization.ExpressionValueProvider.SetValue (System.Object target, System.Object value) [0x00000] in <00000000000000000000000000000000>:0 \r\n  at Microsoft.Identity.Json.Serialization.JsonSerializerInternalReader.

[2020-11-23 11:25] bgavrilMS commented on #2231
Hi @rfurmaniak - when you say that the platform is "Unity 2019.4.0f1, UWP, IL2CPP, ARM for HoloLens 2", how does this resolve to a platform supported by MSAL? https://www.nuget.org/packages/Microsoft.Identity.Client/

Do you target the .netstandard version of MSAL? Or the UWP version?

The root cause is pretty clear - the json serialization fails. This is because it's probably using reflection in

[2020-11-23 11:28] rfurmaniak commented on #2231
Hi @bgavrilMS, thanks for quick response.
To build Microsoft.Identity.Client.dll I was using .NETStandard 1.3 version.

[2020-11-23 14:14] bgavrilMS commented on #2165
Hi @devlanfear, to implement your own "browser", please use this extensibility mechanism: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token?tabs=dotnet#use-withcustomwebui

I hope the comments on that interface are sufficient - essentially we give you an URL that you have to navigate to and expect you to give us the final URL which contains the authoriz

[2020-11-23 14:33] patrickdoodyIRL commented on #2175
@jennyf19 Hi, I'm using macOS Catalina v 10.15.7. I won't be in a position to try your branch this week, sorry. I'll post results when I get a chance.

[2020-11-23 14:59] bgavrilMS commented on #2219
I can think of a few things that could go wrong in this whole setup. As per https://stackoverflow.com/questions/20778771/what-is-the-difference-between-0-0-0-0-127-0-0-1-and-localhost, it's clear that either a bad DNS entry or a custom configuration where localhost is not mapped to 127.0.0.1 could cause a problem. Aso see https://github.com/github/VisualStudio/issues/2554

We could try an actual f

[2020-11-23 15:27] PetrPospisil opened #2232 "AcquireTokenOnBehalfOfParameterBuilder does not support WithForceRefresh"
**Is your feature request related to a problem? Please describe.**
We are using Microsoft.Identity.Web library. They internally use AcquireTokenOnBehalfOfParameterBuilder in order to get token. But this way the API lacks the WithForceRefresh functionality. Our application needs to refresh the OBO token in some cases, but we are unable to do so.

I read the docs [https://github.com/AzureAD/microsof

[2020-11-23 15:34] bgavrilMS commented on #2232
Yes, we should allow for `ForceRefresh` on all APIs that make use of the cache by themselves.

[2020-11-23 15:35] bgavrilMS commented on #2232
I think the only workaround at the moment is to to do `RemoveAccount` which will remove all accounts associated with that user, no matter what the original assertion cache is.

[2020-11-23 17:00] jamesmontemagno commented on #2228
Hmmm been a while, don't remember, could try to put it back in and see if that fixes it up.

[2020-11-23 17:01] jamesmontemagno commented on #2228
OH, i left a comment. I am pretty sure -> _customTabsServiceAction  is used only to check if it exists and we shoudl use the legacy one?... maybe we should check both...

[2020-11-23 17:16] jamesmontemagno commented on #2228
The other thing that could be happening is that the migration tool is changing the string maybe..... it really should be the old one to check the service -> https://github.com/zhanghai/CustomTabsHelper/blob/master/library/src/main/java/org/chromium/customtabsclient/CustomTabsHelper.java#L49

[2020-11-23 17:30] jennyf19 commented on #2175
Sounds good @patrickdoodyIRL ...are you using a device or simulator? Please tag me when you are ready.

[2020-11-23 17:49] bgavrilMS opened #2233 "[Bug] WAM - AcquireTokenInteractive with picker does not need to force user to enter credentials"
**Which Version of MSAL are you using ?**
4.22

**Platform**
.net + uwp

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Daemon App
    * [ ] Service to Service calls

**Repro**

1. Call AcquireTokenIntera

[2020-11-23 18:08] jmprieur commented on #2188
@vidya091209 is it something that happened with previous versions of MSAL.NET ?

[2020-11-23 18:14] PetrPospisil commented on #2232
Hi, it seems that the workaround does not work.
The code looks similar to this.
`var authenticationResult = await tokenAcquisition.GetAuthenticationResultForUserAsync(TokenAcquisitionConstants.Scopes);
var type = tokenAcquisition.GetType();
var info = type.GetMethod("GetOrBuildConfidentialClientApplicationAsync", BindingFlags.Instance | BindingFlags.NonPublic);
var app = ((Task<IConfidentialClient

[2020-11-23 18:18] jamesmontemagno commented on #2228
Yes, the issue is when you compile against Android 11 there is a new security system in place called package visibility:
https://devblogs.microsoft.com/xamarin/android-11-package-visibility/

You need to add this into your manifest -

[code]

For reference:
[code]

[2020-11-23 18:27] bgavrilMS commented on #2232
Ok, we will make sure this gets prioritized in the next release, 4.24

[2020-11-23 18:29] bgavrilMS commented on #2232
I think you can still avoid loading the "Bad" tokens from the cache by completely avoiding the cache, but that may be complicated, for example by creating a new instance of ConfidentialClientApplication and by setting the cache serialization to NOT read the cache, but only write to it.

[2020-11-23 18:56] jennyf19 commented on #2228
@Dimdron please see @jamesmontemagno 's response above, and you can also try this [branch](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/jennyf/customTabs) which has included the commented code. thank you.

[2020-11-23 18:59] bgavrilMS commented on #1398
WebView2 has GA-ed. Let's try to use it in 4.24

[2020-11-23 19:58] PetrPospisil commented on #2232
I could reset the instance of ConfidentialClientApplication using the reflection. Better then nothing. Thx for the tip.

[2020-11-23 21:07] RegisStGelais commented on #2194
No it's not ans ASP.NET

It's a Windows Service (.NET Framework) Visual C#

[2020-11-24 00:30] trwalke commented on #2172
Current status:
Project is now building properly and all missing api issues are resolved.
The MSAL.Android code is recognized by the intelligence and the object browser is visual studio.
I am able to implement the android interfaces by inheriting from the Java.Object class in every JAVA interface implemented in c#.
The project and all dependencies are able to build and deploy to a device.

The cur

[2020-11-24 02:03] jennyf19 commented on #2207
@trwalke I'll leave these Todo's for you to follow up on, as you set up the VM w/the lab and are more familiar w/the feature. Thanks.
TODO:
- [ ] Check which version of VS is on the windows 8 VM
- [ ] Try running the test on the VM, as it's not running correctly currently, as noted in the build logs, but it runs locally. Maybe the VM is missing something.
It's failing before even starting the test

[2020-11-24 03:44] vidya091209 commented on #2188
i ma facing this issue with Microsoft.Identity.Client 4.12.0 and 4.22 both

[2020-11-24 04:28] jennyf19 commented on #2188
@vidya091209 what is your b2c tenant? do you have a repro (like a zip file or Github link) you can share?

[2020-11-24 05:21] vidya091209 commented on #2188
@jennyf19 sample app here https://github.com/vidya091209/uwpissue

[2020-11-24 08:47] PetrPospisil commented on #2232
I did what you suggested. I modified original cache implementation to remember and be able to remove all its entries and I reset ConfidentialClientApplication instance inside TokenAcquisition using reflection to be able to get the fresh token. It is really ugly hack, but at least it works with original Microsoft.Identity.Web nuget... Thx.

[2020-11-24 10:03] bgavrilMS commented on #2232
CC @jmprieur and @jennyf19  as this affects M.I.W
We will add .WithForceRefresh in MSAL 4.24, not sure if you need to make any changes on your side?

[2020-11-24 10:21] jmprieur commented on #2232
Sure we'll also update Microsoft.Identity.Web (as we'll need to call it).

[2020-11-24 11:36] bgavrilMS commented on #2226
I made some progress on this. I am updating the bug repro steps.

[2020-11-24 13:30] #2133 closed

[2020-11-24 13:30] #1881 closed

[2020-11-24 13:30] #2151 closed

[2020-11-24 13:30] #2140 closed

[2020-11-24 13:31] #2013 closed

[2020-11-24 13:31] #2055 closed

[2020-11-24 13:31] #2181 closed

[2020-11-24 13:42] #2182 closed

[2020-11-24 13:42] #2166 closed

[2020-11-24 13:48] #2223 closed

[2020-11-24 13:52] bgavrilMS commented on #1993
We would probably need to introduce another LogCallback delegate to be able to do this, but I am in favour of doing it. Needs some spec.

[2020-11-24 15:24] trwalke opened #2239 "[Bug] Null reference thrown sometimes during brokered authentication on android."
**Logs and Network traces**
2020-11-17 21:22:09.784;Error: Non-Graph Authentication Error: Object reference not set to an instance of an object. Exception : MSAL.Xamarin.Android.4.23.0.0.MsalClientException:
	ErrorCode: android_broker_operation_failed
Microsoft.Identity.Client.MsalClientException: Object reference not set to an instance of an object ---> System.NullReferenceException: Object refer

[2020-11-24 16:49] ssahon commented on #1881
ok it fixed http header issue but now I have error "no account or login hint was passed" after reset password while calling AcquireTokenSilent

I checked claims after signin and after reset password they look the same

should I create new bug?

[2020-11-24 17:09] jennyf19 commented on #2239
@trwalke can you have the customer try to repro w/the latest MSAL (4.23), as we have increased the logging there. Pii logs will have more details for us.

[2020-11-24 18:10] Steve0212a commented on #2219
I think the error message approach is good - and also perhaps add a way to override the default value of localhost on the line below.  That would give end users the ability to change it to 127.0.0.1 if needed...

`string urlToListenTo = "http://localhost:" + port + "/"; `

[2020-11-24 18:15] kkrzysiek opened #2240 "[Documentation] Nuget description error"
https://www.nuget.org/packages/Microsoft.Identity.Client/

there is a typo in the sentence: "(...)  These tokens again access to Mic(...)" -> should be "gain", not "again".

[2020-11-25 02:04] jennyf19 commented on #2240
thanks for bringing this to our attention @kkrzysiek , will be in the next release.

[2020-11-25 02:33] jennyf19 commented on #2169
I would lean towards (1), as it doesn't make sense to continue if we know it's going to fail. I'll sync w/msa tomorrow (11.25) to ask about this.

[2020-11-25 11:26] bgavrilMS commented on #2169
Yeah, I think approach 1 is cleaner.

[2020-11-25 11:33] bgavrilMS opened #2243 "[Feature Requset] ROPC should only be allowed on tenanted authorities"
As per discussion with ESTS:

`Frankly, I don’t believe we should support ROPC for MSA. All usages are migration scenarios, and we shouldn’t encourage this anymore. In fact, we should even block ROPC on /common. Tenanted is ok, since admins control their policies, but I would really like to see a bit more of a principled stance from client SDKs. We are phasing out legacy auth everywhere, so eventu

[2020-11-25 15:45] IeuanWalker opened #2245 "[Bug] Sitting behind a gateway"
I've created a web app that is sitting behind an azure application gateway.

The web app isn't accessible directly and is only able to be accessed via the gateway endpoint, and using a multipath rule it forwards the requests to the azure web app address.

The Azure web service has an IP restriction on it, which only allows the WAF to communicate with it.

The identity package is redirecting users

[2020-11-25 16:03] bgavrilMS opened #2246 "[Bug] WAM - AcquireTokenInteractive.WithAccount(DefaultOSAccount) should not show the account picker"
**Which Version of MSAL are you using ?**
4.23

**Repro**

ATS with default account, but get UIRequiredException (e.g. because of consent)
ATI using the same default account (as per sample app)

Actual: the account picker pops up
Expected: the account picker should not be used

[2020-11-25 16:06] bgavrilMS commented on #2246
I tried to use

`RequestTokenForWindowAsync(IntPtr _parentHandle, WebTokenRequest webTokenRequest)` instead of
` RequestTokenForWindowAsync(IntPtr _parentHandle, WebTokenRequest webTokenRequest, WebAccount wamAccount)`

Now the account picker isn't shown, but the WAM interactive window. On my machine I have 2 AAD accounts, so the window shows them both. I wonder if this is the expected behavior?

[2020-11-25 16:14] bengimblett opened #2247 "[Bug] ASP.NET Classic projects fail to build because of MSAL's WinRT reference (Must use PackageReference)"
**Logs and Network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described at https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.23

**Platform**
netfx 4.7.2

**What authentication flow has the issue?**
* Desktop /

[2020-11-25 16:26] bgavrilMS commented on #2247
Hi @bengimblett , thank your logging this bug. Indeed, MSAL started taking a dependency on Microsoft.Windows.SDK.Contracts (although it will not be used for web site scenarios). This is a new style dependency and requires you to use <packagereference>

Instead of using Visual Studio to add this reference, which uses packages.config, do the following:

1. Unload your project (right click, unload)
2

[2020-11-25 16:50] szalapski opened #2248 "[Bug] MSAL on Blazor WebAssembly fails to initiate sign-in when an invalid_grant or AADSTS700081 error occurs--as in when the refresh token is expired."
**Which Version of MSAL are you using ?**
Microsoft.AspNetCore.Components.Authorization 5.0.0
Microsoft.Authentication.WebAssembly.Msal 5.0.0
Microsoft.AspNetCore.Identity 2.2.0

**Platform**
Blazor WebAssembly on .NET 5.0

**What authentication flow has the issue?**
* Web App - Authorization code

**Is this a new or existing app?**
The app is in production, and I have upgraded to a new version of

[2020-11-25 16:59] jmprieur commented on #2245
@IeuanWalker : would this help you? https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers ?

[2020-11-25 17:10] jmprieur commented on #2248
@szalapski : this might be more a question for aspnetcore.
Blazor web assembly uses MSAL.js (as you've noticed in your possible solution).

@hamiltonha @DarylThayil : do you have an answer?

[2020-11-25 17:14] szalapski commented on #2248
Thanks for the quick reply.  It feels like this is a concern that should be addressed by the code resulting from builder.Services.AddMsalAuthentication, so that's why I posted here.

[2020-11-25 17:15] IeuanWalker commented on #2245
@jmprieur I don't think so.

For example, the external address is https://external.com/HWRCBookingAdmin/ sends the request down to https://interal.com/HWRCBookingAdmin/. But when MS auth library redirects the user it's using the internal address.

So for example if the user doesn't have access, it redirecting the user to https://interal.com/AzureAD/Account/AccessDenied?ReturnUrl=%2FHWRCBookingAdmi

[2020-11-25 17:19] jmprieur commented on #2248
@szalapski yes, I understand your point. And this code does not belong to MSAL.NET (even if it says MSAL, and is in .NET :)). It belongs to ASP.NET Core: https://github.com/dotnet/aspnetcore/blob/2588e246e5ca469603d3253225a5dcecda45a1cd/src/Components/WebAssembly/Authentication.Msal/src/MsalWebAssemblyServiceCollectionExtensions.cs#L25, which leverages [MSAL.js](https://github.com/AzureAD/microsof

[2020-11-25 17:22] szalapski commented on #2248
OK, should I repost somewhere, or just sit tight?

[2020-11-25 17:23] jmprieur commented on #2245
@IeuanWalker. I'd suggest you ask the question in the [aspnet core repo](https://github.com/dotnet/aspnetcore)
I would think that https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer would have solved your issue.

BTW, given that you are using ASP.NET Core we strongly recommend that you use [Microsoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web/wiki/

[2020-11-25 17:25] jmprieur commented on #2248
Maybe you want to repost to the [aspnet core repo](https://github.com/dotnet/aspnetcore) to speed up

[2020-11-25 17:29] IeuanWalker commented on #2245
@jmprieur thanks I'll take a look

[2020-11-25 17:48] jennyf19 commented on #2228
@Dimdron any update on your side?

[2020-11-25 17:57] jennyf19 commented on #2188
@vidya091209 i was able to repro w/your sample. thank you. i need to sync w/someone on b2c side, but w/the thanksgiving holiday this week, that probably won't happen until next week.

[2020-11-25 18:46] bgavrilMS commented on #2124
This was done, with some known issues described here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam (there are also tracking items)

[2020-11-25 18:46] #2124 closed

[2020-11-25 18:47] bgavrilMS opened #2249 "WAM - Update desktop sample"
We have an initial sample for UWP that integrates with WAM: https://github.com/Azure-Samples/active-directory-xamarin-native-v2/tree/master/2-With-broker

We need to update our .NET sample as well: https://github.com/azure-samples/active-directory-dotnet-desktop-msgraph-v2 either in a separate directory (with-broker) or directly

Intgrating with WAM is fairly straight-forward and I'm looking forwa

[2020-11-25 19:44] premsundaram commented on #2188
Thank you so much!
Prem

________________________________
From: jennyf19 <notifications@github.com>
Sent: Wednesday, November 25, 2020 9:57:31 AM
To: AzureAD/microsoft-authentication-library-for-dotnet <microsoft-authentication-library-for-dotnet@noreply.github.com>
Cc: Prem Sundaram <prem@sundaram.net>; Comment <comment@noreply.github.com>
Subject: Re: [AzureAD/microsoft-authentication-library-fo

[2020-11-25 21:43] dkrasnove commented on #2247
@bgavrilMS I too am having this issue in an ASP.NET MVC 5 project. I had to upgrade to 4.23.0 to fix the B2C bug. Just to clarify, the only thing I need to do is add that ItemGroup to the project file? Do I need to erase existing references to 4.22.0 from the project file or packages.config?

[2020-11-26 02:16] jennyf19 commented on #2083
this has been fixed.

[2020-11-26 02:16] #2083 closed

[2020-11-26 07:32] tipa opened #2251 "[Bug] PlatformNotSupportedException in macOS App"
**Which Version of MSAL are you using ?**
MSAL 4.23.0
MSAL Extensions 2.16.5

**Platform**
Xamarin.macOS

**Is this a new or existing app?**
a. The app is in production, and I have upgraded to a new version of MSAL

**Repro**

[code]

**Expected behavior**
After updating MSAL to 4.2.30 I get a PlatformNotSupportedException when trying to add a token cache which is being thrown here: https://github

[2020-11-26 14:45] Dimdron commented on #2228
Oh, thanks for your updates! I will try your recommendation and answer soon!

[2020-11-27 08:16] jspuij commented on #1593
@bgavrilMS A common way (although not an ideal UX experience, especially on the apple OSes if you use [ASWebAuthenticationSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession)), is to use the same flow as sign in, but with the logout URL instead of the authorize URL and a logout-callback instead of the normal redirect url.
After confirmation of the r

[2020-11-27 11:47] javiercn commented on #2248
@jmprieur we are looking at this on the ASP.NET Core repo, you can close the issue here.

[2020-11-27 14:03] jmprieur commented on #2248
@Thank @javiercn

[2020-11-27 14:03] #2248 closed

[2020-11-27 14:50] Dimdron commented on #2228
Yeap, the reason was in package visibility changes. I've checked both SDK versions(4.22/2.23) and they are working properly with a query for ❗️`support.customtabs`❗️
I've missed this item in the android 11 migration tutorial.. 🤦‍♂️

[2020-11-27 14:50] #2228 closed

[2020-11-29 11:44] rahul24 opened #2253 "Resilient of any downtime of AAD"
### Documentation Related To Component: MSAL

https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.authenticationresult.isextendedlifetimetoken?view=azure-dotnet

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue

I'm looking for a way t

[2020-11-29 20:34] b3hdad opened #2254 "Error "Must use PackageReference""
When I upgraded from v4.22.0 to v4.23.0, I get the error "Must use PackageReference" and compilation fails.

**Platform**

.net4.8

**Is this a new or existing app?**
The app is in production, and I have upgraded to a new version of MSAL

**Expected behavior**
Should compile

**Actual behavior**
Fails to compile with the specified error

[2020-11-30 08:21] jmprieur commented on #2253
@rahul24 : this is a legacy feature which is going to be deprecated in our next major version (and this is driven service side).
Let us come back to you with advice for resiliency.

[2020-11-30 10:23] rahul24 commented on #2253
Thank you @jmprieur. I will be waiting for your reply on the resiliency part.

[2020-11-30 10:27] bgavrilMS commented on #2253
Hi @rahul24 - there are a few ideas around resilience here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/High-availability

There are a few initiatives that are being tried out internally, please email us for more details.

[2020-11-30 11:01] bgavrilMS commented on #2189
Just an update that we're still working on this.

[2020-11-30 11:54] bgavrilMS commented on #2254
Hi @b3hdad - this is a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2247

[2020-11-30 11:54] #2254 closed

[2020-11-30 12:34] jspuij commented on #1593
There was a bit of discussion about this in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/425 as well.

[2020-11-30 12:40] bgavrilMS commented on #1593
Hi @jspuij - I think the main question here is "what are you trying to achieve"?

There are a set of scenarios collectively known as "First Line Worker" scenarios, where the idea is that the device is passed on from worker to worker, for example in a shop where employees pass it on as their shit ends. It is not ok for employee 2 to be able to login as emploee1 via the browser session. Is this what

[2020-11-30 12:41] bgavrilMS commented on #1593
CC @jmprieur

[2020-11-30 12:58] bengimblett commented on #2247
Thanks @bgavrilMS - to play devils advocate , why the new dependency ? is this to support MSAL better with winRT ? Also i cant find mention in our docs that the you can manually edit the aspnet project to overcome the limitation. The docs suggest a hard limitation. I will look at a PR for that

[2020-11-30 13:13] bgavrilMS commented on #2251
Keeping it open until we ship 4.24

[2020-11-30 13:29] bgavrilMS commented on #2247
The new dependency is because MSAL is now able to call into WAM (Windows Authentication Manager). This is for public client scenarios only (i.e. rich client and console apps). I have added some details and screenshots here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam

The actual dependency will not be loaded into memory for confidential client (website etc. scen

[2020-11-30 15:22] dkrasnove commented on #2247
Side note: One mildly annoying quirk of manually adding the PackageReference node to the project file is that it overrides the package manifest in the VS NuGet GUI. If I want to manage packages listed in packages.config via the GUI, I have to first remove any PackageReference nodes from the project file. Otherwise, the GUI will only display PackageReference items and ignore packages.config.

The s

[2020-11-30 15:41] bgavrilMS commented on #2247
@dkrasnove - could you try this trick https://github.com/NuGet/docs.microsoft.com-nuget/issues/860#issuecomment-409207305 to make the tool work?

[2020-11-30 16:10] bgavrilMS commented on #2247
For the current status of migration tool support see https://github.com/NuGet/Home/issues/5877 - many of the actual issues have been resolved.

[2020-11-30 16:14] cveld opened #2255 "[Documentation] AcquireTokenByUsernamePassword throws AADSTS50020 error"
### Documentation Related To Component:
MSAL AcquireTokenByUsernamePassword

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
I am trying out AcquireTokenByUsernamePassword to get an access token but I get the following error:

[code]

I am using the fo

[2020-11-30 16:56] bgavrilMS commented on #2255
Tenants (aka Directories) have a name (carlintveld.onmicrosoft.com) and a GUID (probably 4e2c9ebc-13a3-4967-a599-8269be6d22f6). Most error messages tend to reference the GUID. In app registration, you can also see the GUID:

![image](https://user-images.githubusercontent.com/12273384/100639091-abde9200-332c-11eb-9f66-97c2003ba4c9.png)

A few things to try:
- are you sure you have created that test

[2020-11-30 19:44] cveld commented on #2255
@bgavrilMS carlintveld.onmicrosoft.com has tenantid 1fea1d7a-95b0-4ebc-b422-bcc75a77c9a0. I tried the alternate way to specify the authority with a guid to no avail. The same error is thrown.
`WithAuthority("https://login.microsoftonline.com/1fea1d7a-95b0-4ebc-b422-bcc75a77c9a0")`

Your confirmation that I was exploring in the right direction made me spot a mistake I made. Apparently I was using c

[2020-11-30 23:02] bgavrilMS commented on #2247
By the way, here's a PR of how we upgraded one of our samples (ASP.NET) from packages.config to PackageReference using the technique described at https://github.com/NuGet/docs.microsoft.com-nuget/issues/860#issuecomment-409207305

[2020-11-30 23:24] jennyf19 commented on #2232
@PetrPospisil this has been fixed in MSAL.NET, working on adding it to identity web. we need MSAL .NET to release first before we can have it in id web (fyi).

[2020-12-01 00:11] jennyf19 commented on #2188
@vidya091209 @premsundaram Just an update, we've created an incident w/B2C, so they will investigate. Going to mark this as external for now. Hopefully, we'll have an update by end of week.

[2020-12-01 00:13] premsundaram commented on #2188
thank you!

[2020-12-01 00:47] dkrasnove commented on #2247
@bgavrilMS It turns out the hybrid PackageReference/packages.config method breaks our Azure CI pipeline. My guess is that it works locally because the packages are cached, but  Azure isn't caching packages and tries to do a fresh nuget restore on every build. Like before, it looks like if there is a PackageReference node in the csproj, NuGet will ignore the packages.config.

Luckily, after a lot o

[2020-12-01 09:34] jmprieur commented on #2255
@cveld
The new logic (put in place for security reasons) does not require Publisher Verification to be complete before a multi-tenant app can be created (which seems to be implied in your last sentence). What this limitation does is restrict end-users from consenting to newly registered multi-tenant apps that are asking for user consent to permissions greater than the standard **openId scopes + us

[2020-12-01 10:31] bgavrilMS commented on #2247
Thanks for updating the thread @dkrasnove , this is not a great experience :(

[2020-12-01 10:50] bgavrilMS commented on #2255
To go back to your point around external users, I just tried this out. It looks like `AcquireTokenByUsernamePassword` is unable to login a guest user, however `AcquireTokenIntreactive` **does allow this login.**

My setup was:

authority: https://login.microsoftonline.com/<TenantA> with a user who a guest in TenantA

This seems to be a service limitation or a bug. `AcquireTokenByUsernamePassoword`

[2020-12-01 11:55] rahul24 commented on #2253
@jmprieur - Can you confirm - this legacy feature is getting deprecated from server side code ("this is driven service side") or client side as well (MSAL.js)?

[2020-12-01 13:14] SunshineCoast1000 opened #2256 "[Question]: Recovering from a MsalThrottledUiRequiredException."
I'm not sure if this is a bug or a change made to Microsoft.Identity.Client (M.I.C) between version 4.8.1 and 4.23.0.

But I used to be able to 'reset' a silent signin as below ...
{note: this isn't exactly my coding but it should explains my problem)
----------------------------------------------------------------------------

[code]

--------------------------------------------------------------

[2020-12-01 13:25] jmprieur commented on #2256
@SunshineCoast1000 : given MsalThrottledUiRequiredException inherits from MsalUiRequiredException don't you think that your catch(MsalUiRequiredException) was in fact already catching an MsalThrottledUiRequiredException ?

[2020-12-01 13:27] jmprieur commented on #2256
Also I don't understand how resetting the Graph DelegateAuthenticationProvider ever worked, given this is the same confidential client application.

[2020-12-01 13:30] jmprieur commented on #2253
See also https://aka.ms/AzureADresilience

[2020-12-01 13:39] SunshineCoast1000 commented on #2256
I apologize for the horrendous formatting as I'm a first time user on GitHub.

The code in my message isn't exact as I am trying to reduce it some but basically I can reset a silent sign in
using M.I.C  4.8.1 but now I have upgraded to M.I.C 4.23.0 I can't do it anymore.

I suspect that MsalThrottledUiRequiredException has been added to an upgrade version of M.I.C 4.8.1
and it has stopped me from

[2020-12-01 13:52] bgavrilMS commented on #2256
I'm not sure what you mean by "reset a silent login"?

We have introduced a throttling feature to prevent apps from calling `AcquireTokenSilent` when we know it would fail. In you code sample, you make 2 calls to `AcquireTokenSilent`. If the first call fails because ESTS tells you "you need to interactievly login this user" (e.g. consent is required, or 2FA etc.), then there is no point in calling

[2020-12-01 14:03] SunshineCoast1000 commented on #2256
I apologize for the confusion but its difficult as an independent developer to know how to do everything.  My 'reseting' a silent signin works with M.I.C 4.8.1 so I will keep using it and we can close this thread.  Thanx for your time and knowledge.

[2020-12-01 14:06] bgavrilMS commented on #2256
Would it be possible to get a network trace (e.g. using Fiddler) trace to see what's going on? We fix many things in subsequent versions of MSAL, staying on an old version is not great. We may have a bug in the throttling logic, and would definitely like to understand if that is the case.

The Fiddler trace may contain sensitive information, so please send it via email at bogavril @ microsoft.com

[2020-12-01 14:08] bgavrilMS commented on #2256
Or logging, as described here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#logging-in-msal

[2020-12-01 14:15] SunshineCoast1000 commented on #2256
Using M.I.C 4.8.1 I do this,

1. Create a PublicClientApplicationBuilder > Signin > GraphServiceClient > browse files on OneDrive
2. When MsalUiRequiredException fired due to looping I basically did a 'reset' by doing the above again
3. RESET > Create a new PublicClientApplicationBuilder > GraphServiceClient > browse files on OneDrive

but with M.I.C 4.23.0 I can't do that anymore because this Msa

[2020-12-01 14:18] bgavrilMS commented on #2256
At step 2, can you detail what this MsalUiRequiedException looked like? Is there an error code like "invalid_grant" ? What was the error message?

[2020-12-01 14:31] SunshineCoast1000 commented on #2256
with M.I.C 4.8.1 I get this,

Exception thrown: 'Microsoft.Identity.Client.MsalUiRequiredException' in System.Private.CoreLib.dll
OpenGraphClient: MsalException = AADSTS50196: The server terminated an operation because it encountered a client request loop. Please contact your app vendor.
Trace ID: d35bdd8d-2aaf-4eb2-a466-a3d68ccbd101
Correlation ID: 72b321c8-23fd-4b6a-b663-bf9e851d9498
Timestamp:

[2020-12-01 14:48] SunshineCoast1000 commented on #2256
I believe that this new MsalThrottledUiRequiredException terminates silent signin capability and forces an interactive signin ... but I also suspect that even after you do the forced interactive signin, you can't get a silent signin again because the MsalThrottledUiRequiredException keeps forcing an interactive signin continuously.

[2020-12-01 15:01] bgavrilMS commented on #2256
Ok, this is starting to make more sense. ESTS (the server) is blocking you because you request tokens too often "the server terminated an operation because it encountered a client request loop". "Request Loop" is a what ESTS calls a throttling event, i.e. you make the same request too often.

With MSAL 4.8.1, simply catching the exception and making a new request is probably enough time (a few ms!

[2020-12-01 15:09] SunshineCoast1000 commented on #2256
I'm still in product development but these are the scopes i been testing with,

Scopes = "User.ReadWrite.All offline_access Directory.ReadWrite.All offline_access Files.ReadWrite.All offline_access Sites.ReadWrite.All offline_access";

[2020-12-01 15:13] bgavrilMS commented on #2256
I will have a look at this, it's probably a bug in MSAL (thanks for bearing with me!).

For now, delete `offline_access`. MSAL adds `offline_access` for you anyway, it is required for its inner logic. Hopefully this will solve the issue.

[2020-12-01 15:17] SunshineCoast1000 commented on #2256
OK ... many thanx for your help and time ... I should be fine with my work as I generally find a work around for everything.

[2020-12-01 15:19] bgavrilMS commented on #2256
No problem, and thanks for reporting this @SunshineCoast1000 . It's a fairly important bug.
Let me know if things work without `offline_access` if you get the change to try it out.

[2020-12-01 20:02] neha-bhargava commented on #2177
@jmprieur Just saw this comment. Yes I investigated this and will work on this.

[2020-12-01 21:20] neha-bhargava opened #2259 "[Feature Request] Add optional api to provide region for regional auth scenarios"
Add an optional api to provide region by the service.

[code]

Refer to [this](https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/2363?path=%2FPinAuthToRegion%2FAAD%20SDK%20Proposal%20to%20Pin%20Auth%20to%20region.md&_a=files&anchor=add-api-to-provide-an-option-to-specify-the-region-when-opting-for-regional-auth.) document for details.

[2020-12-01 22:09] neha-bhargava opened #2260 "[Bug] Once the region discovery is done calls with WithAzureRegion set to false should not hit the regional token endpoint"
**Which Version of MSAL are you using ?**

Latest

**Repro**

[code]

**Expected behavior**
The 2nd call should go to global token endpoint.

**Actual behavior**
The 2nd call is going to regional token endpoint.

**Possible Solution**
This is happening because we are caching the network metadata with preferred network as the regional endpoint once the region is discovered for both the original aut

[2020-12-02 07:39] SunshineCoast1000 commented on #2256
My problem is resolved and working fine ... however ... just as a quick observation,

A 'File Picker' must allow the user to browse a directory all they want to open/save a folder/file.  Because mobile platforms are now restricting external storage, mobile apps need the ability to open/save data on cloud accounts. Therefore we need the ability to produce quality 'File Pickers' for cloud accounts t

[2020-12-02 10:08] bgavrilMS commented on #2256
Microsoft.Identity.Client is only responsible for getting you a token for the scopes you request. I agree with you that we should minimize the number of API calls, but I do not know the inner workings of Graph.

The Graph service and SDK are responsible for what you describe, i.e. better APIs around cloud storage, so I suggest you open a issue with the Graph SDK or you open a case in the Azure Por

[2020-12-02 10:18] jmprieur commented on #2256
And the graph SDK is a wrapper around the graph API.

[2020-12-02 11:09] jmprieur commented on #1854
Moving to P3 as we'd want to reconsider vs the native wrapper.

[2020-12-02 11:11] jmprieur commented on #1739
@bgavrilMS @henrik-me do we consider this to be an MSAL.NET bug? or an external issue?

[2020-12-02 11:14] jmprieur commented on #1760
Moving to P3 as this as been a long time, and we did not have more complain
@dmeatte-aq do you have a fix?

[2020-12-02 11:50] dmeatte-aq commented on #1760
I’m afraid I don’t have a fix. Priorities changed and I never got the chance.

[2020-12-02 12:02] bgavrilMS commented on #1739
This is an ADFS bug, because they should behave like AAD.

[2020-12-02 12:10] rfurmaniak commented on #2231
Hi @bgavrilMS,
I have created a separate Unity Project, with only MRTK and MSAL, just to check if the issue can be reproduced there - and it can.
Please find the link to the repository:
https://drive.google.com/file/d/1Bsj1fL04GKABYS_x5QBB_J8Irv1YjqEf/view?usp=sharing
Only think to do is to build it for HoloLens 2 and deploy it (it works ok in the editor). After launching the app on HoloLens, ther

[2020-12-02 12:51] jmprieur commented on #1760
Thanks for the update, @dmeatte-aq !

[2020-12-02 13:24] cveld commented on #2255
@jmprieur You are completely right I was missing the nuances here because I did not get the reason you were still able to create multi-tenant principals but not use them. So fantastic news that the OpenId scopes + user.read is still allowed. That is the majority of our use cases.

@bgavrilMS Yes I got that `AcquireTokenByUsernamePassoword` is strongly discouraged. I am exploring if this would be a

[2020-12-02 14:16] ghelyar commented on #2251
For reference, we're also using this on Xamarin.Mac in order to use the macOS keychain as the token cache.

Without this, [iOS uses the keychain](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/Platforms/iOS/iOSPlatformProxy.cs#L119), but [macOS does not](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/b

[2020-12-02 14:18] bgavrilMS commented on #2251
Ack, please stay on MSAL 4.22 for now. Will get this shipped in 1-2 weeks.

[2020-12-02 14:30] bgavrilMS commented on #2255
Some notes on why Username / Password is discouraged here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Username-Password-Authentication#this-flow-is-not-recommended .May not affect your scenario...

Not sure I understand what you mean by "not a valid service to request support for". AAD / ESTS is the service.

[2020-12-02 14:34] bgavrilMS commented on #2231
@jmprieur  - is this something for our friends in CXP to engage with again?

[2020-12-02 14:43] jmprieur opened #2263 "[Bug] AcquireTokenOnBehalfOfAsync is still visible in the Intellisene"
**Which Version of MSAL are you using ?**
MSAL.NET 4.23.0

**Platform**
netcore

**Repro**
![image](https://user-images.githubusercontent.com/13203188/100887367-2fc38600-34b5-11eb-99d1-bf7450e0ac46.png)

**Possible Solution**
Apply the EditorBrowsable(false) attribute

[2020-12-02 15:11] keerthinathganjam commented on #1683
Were you able to fix the issue ? I Am also getting the exact same issue. Are there any fixes for the same?

[2020-12-02 15:57] cveld commented on #2255
AAD / ESTS is not in the list. I have access to two tenants and neither are providing this. Maybe I don't have the authorisation? Many other Azure services are there.

[2020-12-02 16:15] trwalke commented on #2239
Took a look at this and was not able to reproduce. Asking customer for more info

[2020-12-02 17:12] henrik-me commented on #1683
@keerthinathganjam : which version of MSAL are you using? Do you have a repro?

[2020-12-03 06:25] keerthinathganjam commented on #1683
@henrik-me : I tried in multiple verions i tried with 4.16.0 and latest 4.23.0 as well. its same issue when i set .WithBroker(true), If i remove this middleware it works, How ever For setting conditioanl Access broker app has to be enabled.

public AuthService()
        {
            _pca = PublicClientApplicationBuilder.Create(ClientID)
                .WithIosKeychainSecurityGroup(AppId)

[2020-12-03 06:47] keerthinathganjam commented on #1683
https://github.com/keerthinathganjam/MSAL-Xamarin-Sample here it the sample where issue can be reproduce.

Note you may have to update the Client Id, App Id and Hash with your client ids

string RedirectUri
        {
            get
            {
                if (DeviceInfo.Platform == DevicePlatform.Android)
                    return $"msauth://{AppId}/<<SignatureHash>>";
                else

[2020-12-03 06:58] keerthinathganjam commented on #1683
I was follwing this blog https://www.thewissen.io/implementing-msal-authentication-in-xamarin-forms/, i have made few changes to the code from their sample like adding .WithBroker(true) and adding my Client Id, App Id and Signature Hash

[2020-12-03 08:32] jmprieur commented on #2255
@cveld it can also happen that the guest account's home tenant admin has setup rules to prevent username/password or has setup conditional access policies which prevent this flow.

[2020-12-03 08:34] keerthinathganjam commented on #1683
I was follwing this blog, the sample i have provided is from the same blog. HOwever i have made some chnges to the same like adding .WithBroker(true), Updgading the "Microsoft.Identity.Client" to latest Version i.e.,"4.23.0" and udating the Azure Client ID AppId and Signature Hash which i configured in my Azure AD App Registrations

[2020-12-03 09:52] AroglDarthu opened #2267 "Microsoft.Identity.Client forces assembly redirect for System.Runtime.WindowsRuntime"
We are referencing version `Microsoft.Identity.Client` 4.23.0
This causes the symptom described in the following issue: https://github.com/dotnet/runtime/issues/28603

**Platform**
.NET Full Framework 4.7.2

![image](https://user-images.githubusercontent.com/5527014/100993341-96987c00-3555-11eb-9268-30161a97ba89.png)

Ultimately this forces to use the version of `System.Runtime.WindowsRuntime` fro

[2020-12-03 11:52] bgavrilMS commented on #2267
Interesting, ok I'll need to play with this as it is not clear what the actual fix is. We package MSAL using `msbuild /t:pack`

[2020-12-03 11:52] bgavrilMS commented on #2267
Please stay on MSAL 4.22 as it does not have this dependnecy.

[2020-12-03 13:42] bgavrilMS commented on #2255
This is a fair usage of Username / Password. App scopes are too powerful or not granular enough, and automating certain tasks can only be done with Username / Password.

[2020-12-03 18:04] bgavrilMS commented on #2218
Please follow the 2 underlying issues:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2144
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2150

[2020-12-03 18:04] #2218 closed

[2020-12-03 18:09] #2128 closed

[2020-12-03 18:49] bgavrilMS opened #2272 "[Internal] CacheCompat with node tests are failing"
They used to pass yesterday... Need to investigate. Tests run fine manually.

[2020-12-03 21:16] bgavrilMS commented on #2193
Ack @henrik-me l, I'll focus on this

[2020-12-03 23:31] j5aenz commented on #2124
i'm working with .net 5 right now and I have now way of accessing the .Broker() function or any of the features related to WAM. I am currently using the 4.23.0 version specified. is WAM currently available on .Net 5 for WPF or only other platforms? perhaps i have a fundamental misunderstanding of how the various libraries are colliding. thx.

[2020-12-04 10:10] bgavrilMS opened #2274 "[Feature] Enable WAM on net5.0-windows10.0.17763.0"
WAM to be enabled on net5.0-windows10.0.17763.0, the lowest net5-windows framework available. See https://blogs.windows.com/windowsdeveloper/2020/11/10/announcing-c-winrt-version-1-0-with-the-net-5-ga-release/ for more details about net5.0-windows

[2020-12-04 10:14] bgavrilMS commented on #2124
@j5aenz - apologies for the confusion. We plan to enable WAM on NET5 in the 4.25 release (probably early next year, but if you have an urgent need I could try to speed it up).

Let's use this work item to track NET5 work: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2274

[2020-12-04 17:09] #2256 closed

[2020-12-04 21:18] jennyf19 opened #2277 "[Feature Request] Add telemetry on power optimization on/off/na information"
related to this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2144)

[2020-12-04 21:29] henrik-me commented on #2245
@IeuanWalker : closing, however feel free to re-open if you have additional information or questions.

[2020-12-04 21:29] #2245 closed

[2020-12-05 00:01] jennyf19 opened #2278 "[Fundamentals] Ensure all tests runs on a release build including the UI tests"
**Goal:** It must be simple to answer the question, which tests have run as part of the bits we are shipping, and are the tests passing. Additionally it must be easy to detect if any tests which is supposed to run as part of the test sheet was run or not.

- [ ] Add unit test/integration tests to release yaml.
- [ ] Ensure the UI tests are started with a release build
- [ ] Document which tests ha

[2020-12-05 00:42] neha-bhargava commented on #2204
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:42] #2204 closed

[2020-12-05 00:43] neha-bhargava commented on #2240
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2240 closed

[2020-12-05 00:43] neha-bhargava commented on #2233
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2233 closed

[2020-12-05 00:43] neha-bhargava commented on #2169
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2169 closed

[2020-12-05 00:43] neha-bhargava commented on #2232
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2232 closed

[2020-12-05 00:43] neha-bhargava commented on #2251
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2251 closed

[2020-12-05 00:43] neha-bhargava commented on #2185
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2185 closed

[2020-12-05 00:43] neha-bhargava commented on #2263
Fixed in [Msal release 4.24.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.24.0)

[2020-12-05 00:43] #2263 closed

[2020-12-05 01:56] rayluo commented on #2169
FWIW, I tested this with MSAL Python just now, and approach (2) would not fail with "406 Not Acceptable", but its response would contain no wstrust endpoint for further interaction. So, we ended up using an "approach (3): if no wstrust endpoint was available, we emit an actionable error message". Of course, approach (1) is also viable.

[2020-12-05 02:11] jennyf19 commented on #2169
@rayluo that's interesting because we do get the 406 error. We went w/option 1 based on conversation w/ests. will loop you in on the email.

[2020-12-06 21:12] jennyf19 commented on #2163
@jmprieur
[PR](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/pull/100) for daemon sample - i need to test still
[PR](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/pull/180) to remove pop sample

Related [issue in id web](https://github.com/AzureAD/microsoft-identity-web/issues/110) to add pop support

[2020-12-06 21:14] jennyf19 commented on #2163
@jmprieur also, not sure about step 5, and need to test the new sample. eta 1 more day.

[2020-12-07 00:23] amirvenus commented on #2251
Now that this issue is resolved, it would be great to add the macOS target to the existing Xamarin.Forms project as well.

[2020-12-07 02:41] RhomGit commented on #2219
I have a solitary production user on Win 10 Pro experiencing an issue with interactive (no UI is presented when Sign In is clicked).

Did you run something to resolve this issue? I have only just begun investigating my issue and wonder if its the same. Difficult for me since its a remote client in a different timezone so any info would be great. I don't have the luxury of them running source code

[2020-12-07 04:23] jennyf19 opened #2280 "[Feature Request] Include `.WithTenantId()` in `AbstractAcquireTokenParameterBuilder`"
In MS Identity Web, we include the tenant if it's provided by the customer when doing the acquire token calls, but it would be better to use `.WithTenantId()`, like we can on the cca builder. This would enable us to remove the string parsing & concatenation we currently have to do to include the tenant w/the authority.

cc: @jmprieur

---

In fact, `WithTenantId()` should be the only option allowe

[2020-12-07 08:04] jmprieur commented on #2251
@amirvenus : which existing Xamarin.Forms project? do you mean the test app in this repo? or a sample? (AAD? B2C?)

[2020-12-07 08:30] bgavrilMS commented on #2219
@RhomGit I think the solution proposed by @Steve0212a was to run `netsh http add iplisten 127.0.0.1` from an Admin cmd line.

[2020-12-07 10:12] bgavrilMS commented on #2278
I removed the unit tests and integration tests from the release build, because we already run them as part of CI build and they take a long time and are flaky. I've also noticed that sometimes we include some tests in CI build but forget to include them in the Release build (i.e. need to refactor the templates etc.), for example the cache compat tests never ran on release builds.

I'm ok with runn

[2020-12-07 10:19] bgavrilMS commented on #2277
My understanding is that Content Provider mechanism does not have power optimisation issues? @trwalke to confirm.

Is this really necessary? All the workarounds and protection around power optimizations seem to amount to 2 weeks of work, which would otherwise be required to move to Content Provider mechanism, which would also improve customer behaviour.

Also, we keep adding to telemetry, but we h

[2020-12-07 12:15] amirvenus commented on #2251
I meant this repo:
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

[2020-12-07 15:08] devlanfear opened #2282 "[Feature Request] Sample for ADAL and ADFS (2016)"
Are there any samples available for .NET for ADAL and ADFS 2016?

**Describe the solution you'd like**
Sample for .NET for ADAL and ADFS 2016 integration.
Xamarin as platform preferrable.

**Additional context**
Unfortunately, we can't use MSAL, because it requires ADFS2019

[2020-12-07 18:47] #2158 closed

[2020-12-07 19:19] j5aenz commented on #2178
i have not been able to successfully connect to azure sql using msal as used above or with any of the examples using .Net 5 with WPF. I can use keyvault no problem to credential. but once i go through the msal process and try the different non-embedded views, and redirectURI recommendations, I still end up with code that never receives a response. The exact same approach works fine in the .net fra

[2020-12-07 19:50] j5aenz commented on #2274
Thank you for setting up separate tracking on this. I think it's going to be the best bet for .Net 5 WPF with MVVM.

[2020-12-07 22:00] bgavrilMS commented on #2178
@j5aenz - I think this is a different problem. OP is getting a token, but the token is not valid. In your case, you're not getting a token.

We plan to release a .NET 5 version that has both system webview (the one with http://localhost) and an embedded webview, see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1398

[2020-12-07 22:06] bgavrilMS commented on #2274
Keeping this open until we release 4.25

[2020-12-07 22:35] trwalke commented on #2278
I know I have needed to run a quick release build in the past to create a preview package for a customer so it is nice to have the build be quick. I think the best of both worlds is to have the release build trigger a set of test runs from our CI and UI Auto pipelines.

[2020-12-07 22:40] henrik-me commented on #2278
It's was not easy to validate that all tests had run. These tests needs to run as part of the release build. Happy to get more details on what is flaky. Moving back to P1. It took me almost 2 hours to get the information I needed before being able to give sign-off and still I wasn't sure everything had run on the actual bits we shipped.

[2020-12-08 01:57] jennyf19 commented on #2282
@kalyankrishna1 can you help with this one?

[2020-12-08 09:17] jmprieur commented on #2278
We could also have an environment variable (settable in the build properties) to skip the test in case you want to have  a quick build?, but the tests would run by default?

[2020-12-08 10:04] ronaldbarendse commented on #2247
I'd like to add that migrating to PackageReference isn't always possible, e.g. if you're depending on other packages that use NuGet `Install.ps1` scripts. The only thing to do for now is keep the version at 4.22.0 by limiting the `allowedVersions` in the `package.config`:

[code]

[2020-12-08 10:09] jmprieur commented on #2247
Thanks for your feedback, @ronaldbarendse

[2020-12-08 10:19] bgavrilMS commented on #2278
A setting (not necessarily env variable) would be my preference as well. We also to reorganize the existing templates a bit to ensure all tests run on both builds with minimal yaml duplication.

[2020-12-08 11:25] bgavrilMS commented on #2247
Ok, will explore a mechanism for removing this dependency.

[2020-12-08 13:18] bgavrilMS opened #2284 "[Bug] AcquireTokenInteractive WithAccount fails with user_mismatch exception in some cases"
**Logs and Network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described at https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

**Which Version of MSAL are you using ?**
4.24

**Platform**
all

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    *

[2020-12-08 13:20] pschaeflein commented on #1993
The rest of the Azure SDK for .Net uses an EventSource for logging instead of a callback.
https://docs.microsoft.com/en-us/dotnet/azure/logging
I would prefer a consistent approach.

[2020-12-08 13:24] bgavrilMS commented on #1993
MSAL is not part of the Azure SDK, but Azure SDK uses MSAL for most of its identity flow.
That said, you are free to define whatever logging mechanism you wish, including EventSource, see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

`enableDefaultPlatformLogging: true` uses EventSource on .NET (FWK and Core)

Will this work?

[2020-12-08 13:28] bgavrilMS commented on #2187
I just tried this out on a Surface Pro X and the code above works for me. I have to say that the remove debugging experience was horrible, I spent about 2h getting everything to work, but that's besides the point.

I tried your code and I also tried WAM in debug mode and things seem to work fine.

I am using Windows 10 20H2 version.

[2020-12-08 13:59] bgavrilMS commented on #2115
Closing. Please reopen if required.

[2020-12-08 13:59] #2115 closed

[2020-12-08 14:02] pschaeflein commented on #1993
Sorry I wasn't clear - I would prefer not to write code that listens on an AzureEventSource **and** a logging callback from MSAL.

The location of AAD/MSAL/Azure in the greater Microsoft organization is not relevant to most consumers of the SDK. I just want to add value to my customers by consuming the services. Increasing the amount of code that I need to write and maintain is not a goal of any S

[2020-12-08 14:37] bgavrilMS commented on #1993
I agree that from an organizational point of view, it does not matter if MSAL is part of Azure SDK or not. But from a package dependency point of view, it does. MSAL will not take a dependency on `AzureEventSource` or any other Azure building blocks. Whenever we add a new dependency to MSAL, we break people due to diamond dependency issues. MSAL is at a lower level than Azure SDK. The idnentity pa

[2020-12-08 14:44] pschaeflein commented on #1993
Ah yes, I understand the dependency bit. A purist would argue that Logging is a building block as well, but I am a pragmatist.

If MSAL could move closer to a similar approach, that would help consumers. Maybe an event source or yours. I would just prefer to not have multiple classes in my app that are just capturing diagnostics.

Thanks for the discussion.

[2020-12-08 21:36] trwalke opened #2285 "[Feature Request] add an override of the constructor of PopAuthenticationConfiguration with an HttpVerb parameter"
**Describe the solution you'd like**
Add an override of the constructor of PopAuthenticationConfiguration with an HttpVerb parameter so that this is more discoverable. There should also be a property to allow changes after initialization of the configuration object.

**Additional context**
This is a minor modification to this feature here: [POP](https://github.com/AzureAD/microsoft-authentication-

[2020-12-08 23:21] skerr4311 commented on #2247
Thanks a lot for your solution @bgavrilMS this issue has been plaguing me since yesterday.
Workaround 2 - migrate manually: worked for .NET Framework 4.7.2

[2020-12-08 23:30] neha-bhargava opened #2287 "Add logic to fallback to global endpoint if region detection through environment variable and imds fails."
In case MSAL fails to detect the region, fallback to global endpoint.

Please refer to the [design doc](https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/2363?path=%2FPinAuthToRegion%2FAAD%20SDK%20Proposal%20to%20Pin%20Auth%20to%20region.md&discussionId=22632&_a=files&anchor=proposed-changes-to-add-resiliency-to-auto-region-detection) for details.

Currently w

[2020-12-09 00:05] jennyf19 commented on #2163
closing as fixed.

[2020-12-09 00:05] #2163 closed

[2020-12-09 03:13] jennyf19 commented on #2280
not a P1 issue.

[2020-12-09 11:59] bgavrilMS opened #2288 "[Feature Request] [Perf] Investigate caching signed assertions statically instead of at CCA level"
Today when the developer configures a certificate and calls

`ConfidentialClientApplication.AcquireToken*`

MSAL signs an assertion (a JWT with an expiry of 10 min) and caches it alongside the certificate. Subsequent calls use the cached assertion for the next 5 minutes.

However, in many scenarios (web site, daemon app), this does not work well, as developers re-created the CCA object on each req

[2020-12-09 13:54] bgavrilMS opened #2289 "[Feature Request] [WAM] Do not show account picker if tenant is organizations or guid"
Platforms: .NET and .NET FWK (not UWP)

Current experience of WAM.AcquireTokenInteractive is to show the account picker.
However, if the tenant explicitly dismisses MSA users, i.e. `oranizations` or `guid`, then the experience can be improved by showing the WAM AAD plugin interactive experience only.

This overcomes the issue of console apps not being able to display the account picker and other i

[2020-12-09 19:29] cghersi commented on #2187
@bgavrilMS we repro the issue on multiple ARM64 machines with winver 1909 (build 18363.1198).
Do you have the chance to try on that configuration?
Moreover, could you share the PoC project that you set up to try this behavior?

[2020-12-09 21:52] dsancho opened #2292 "[Bug] Using Xamarin.ios on an iPad, if user touchs outside the login window, it disappears without returning to app"
**Logs and Network traces**
No logs available.

**Which Version of MSAL are you using ?**
Microsoft.Identity.Client v4.23 (iOS)

**Platform**
xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
The app is in production, I haven't upgraded MSAL, but started seeing this issue

**Repro**
[code]

**Expected behavior**
Th

[2020-12-10 01:28] jennyf19 commented on #2292
@dsancho thanks for opening the issue. Do you have `OpenUrl` set up correctly in AppDelegate.cs to handle the callback?

[code]

Also, are you setting the ParentWindow to anything for iOS?

Can you point us to a repro or code?

[2020-12-10 14:09] bgavrilMS commented on #2187
@cghersi - I will try with the version you mentioned, I think I have to reset my machine to rollback. I might not be able to do until January.

I tried with your code (but updated with my own client ID and scope). I also tried with our UWP sample https://github.com/Azure-Samples/active-directory-xamarin-native-v2/tree/master/2-With-broker which is preconfigured - could you try it please? I'm curio

[2020-12-10 14:22] dsancho commented on #2292
Yes, I have override the OpenUrl function:
[code]
**Also, are you setting the ParentWindow to anything for iOS?**
Yes, as parent window I'm using `new UIViewController()`.

**Is this a previously working scenario?**
I don't know. I haven't test this scenario before.

This is the code I use to create authClient:
[code]
and later I execute:
[code]

[2020-12-10 16:48] jennyf19 commented on #2292
@dsancho
What do you have in the `info.plist` for CFBundleURLSchemes?
Also, what about the redirect URI? ` .WithRedirectUri($"msal{ClientID}://auth")`

[2020-12-10 17:05] dsancho commented on #2292
There is no problem trying to login.
Login works as expected if I push any of the buttons (apple, google, facebook).

The problem it's if the user touches the screen outside the login window (I suppose it's the webview). Then the login window hides and the application keeps waiting for the login but no way to show again the login window.

I'm sorry if I didn't make myself clear.

[2020-12-10 17:32] jennyf19 commented on #2292
Yes, i understood. Just making sure everything is set-up correctly, but good to know regular sign-in works.

@trwalke have you tried this before?

[2020-12-10 17:55] dsancho commented on #2292
I'm using the simulator and an iPad with iOS 14.2

[2020-12-10 18:26] jennyf19 commented on #2188
@vidya091209 @premsundaram if you can try this again and provide us with a correlation_Id, b2c can look it up in their logs. Based on the domain name & client_id, they are not seeing any issues.
Thank you.

[2020-12-10 21:00] crmann1 opened #2294 "[Bug] Account deleted from MSAL cache when a bad_token result is received"
**Logs and Network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described at https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

**Which Version of MSAL are you using ?**
4.17.1

**Platform**
.net, .net core

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x ] In

[2020-12-11 00:24] trwalke commented on #2292
@jennyf19 yeah, but usually there is a cancellation exception. Ill try again

[2020-12-11 07:09] mmctest888 opened #2295 "[Bug] silent WIA fails on AAD seamless SSO with password hash synchronization"
**Logs and Network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described at https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

**Which Version of MSAL are you using ?**
4.24

**Platform**
net 4.6.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive

[2020-12-11 09:35] jmprieur commented on #2295
@mmctest888 : I'm a bit confused. You're writing that you are using IWA, your repro is using AcquireTokenSilent only
Do you mean

[code]

[2020-12-11 09:48] c-mckeown opened #2296 "Login page unresponsive after cancelling iOS sign in"
Hello,
I have found an issue where the buttons on our B2C login page can become unresponsive. Using the following steps:
-	Open login page
-	Tap on sign in with Apple (using iOS device with iOS > 13
-	Cancel the login
-	App returns to login screen, but all other buttons are not clickable now
-	Only option for the user is to cancel at the top of the screen to go back to start page of app.
(Video di

[2020-12-11 11:24] Mek7 opened #2297 "How to implement custom token cache in Redis?"
Hi,
I'm trying to implement a custom token cache so that tokens would be stored in Redis cache instead of in memory.
I have started with this [sample application](https://github.com/Azure-Samples/active-directory-dotnet-webapp-multitenant-openidconnect). Unfortunately, it's using ADAL so I had to rework it to use MSAL. I know that sample has been archived and there is a newer version, but that one

[2020-12-11 11:31] jmprieur commented on #2297
@Mek7
We'd recommend you look at this sample which is both for .NET Core and .NET.
https://github.com/Azure-Samples/active-directory-dotnet-v1-to-v2/tree/master/ConfidentialClientTokenCache

Microsoft.Identity.Web provides a token cache adapter for distributed token cache, and .NET proposes a redis implementation
https://github.com/Azure-Samples/active-directory-dotnet-v1-to-v2/blob/8040d7895fdef2

[2020-12-11 13:08] Mek7 commented on #2297
Thank you for your reply. I used the HasTokens property and now the cache entry is deleted instead of left pretty empty.
That, however, does not explain why, upon second login, no cache entry appears at all.
Anyway, I tried the example you suggested. Unfortunately, Microsoft.Identity.Web doesn't support .NET Framework 4.6.1 that I'm stuck with and upgrading to 4.7.2 is currently not possible.
[cod

[2020-12-11 13:40] jmprieur commented on #2297
@Mek7 : On the second login, do you get an account? there are several claims depending on the endpoint (Azure AD v2.0 / v1.0), and what the web API requests

you might want to have a look at this: https://github.com/AzureAD/microsoft-identity-web/blob/c5c714729e8aed1b2045105c732e8e51eea140d0/src/Microsoft.Identity.Web/ClaimsPrincipalExtensions.cs#L19

as well as this ASP.NET sample: https://github

[2020-12-11 14:30] Mek7 commented on #2297
OK, I got it. I was missing a call to AcquireTokenByAuthorizationCode in AuthorizationCodeReceived callback of
OpenIdConnectAuthenticationNotifications
[code]
I had to create a second IConfidentialClientApplication because there is a different callback url for sign in than for sign up.
Now values are inserted and updated in the cache everytime I would expect 👍
One more question though. The Redis c

[2020-12-11 15:21] bgavrilMS commented on #2294
@trwalke - we need to agree on how to handle "bad_token" suberror with the other MSAL teams, so marking this as blocked.

[2020-12-11 16:24] trwalke commented on #2294
ok, thanks @bgavrilMS
ill look at something else

[2020-12-11 16:32] bgavrilMS commented on #2292
Not blocking, let's keep it as P2.

[2020-12-11 17:14] jennyf19 commented on #2296
@c-mckeown does this happen w/any other log in providers or just w/Apple?

[2020-12-11 19:15] neha-bhargava commented on #2292
Similar [issue](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1139) was reported in the iOS native sdk. They have reported a bug to Apple.

[2020-12-11 19:45] jmprieur commented on #2297
@Thanks for the update @Mek7.
Yes, if the record disappeared, the user will need to be re-signed-in (Challenged in ASP.NET terms)
For your last question about values, let's follow-up in https://github.com/AzureAD/microsoft-identity-web/issues/786 if you don't mind.

[2020-12-11 20:09] jmprieur commented on #1120
@henrik-me proposing to act on the case by case basis based on feedback. I don't think that we are ever going to do a non-specific task like this one.

[2020-12-11 20:11] jmprieur commented on #1152
Closing as external per @ashikns's comment

[2020-12-11 20:11] #1152 closed

[2020-12-11 20:12] jmprieur commented on #1246
Proposing to handle this part of the work on the embedded web view on .NET Core
@bgavrilMS

[2020-12-11 20:14] jmprieur commented on #1272
@bgavrilMS @pmaytak drawing your attention on this one which is about the performance of the cache.
This is probably already addressed by the last fix you proposed, @pmaytak. Can you please confirm?

[2020-12-11 20:18] #1291 closed

[2020-12-11 21:14] pmaytak commented on #1272
@jmprieur I think the last fix partially addressed this - we reduced internal cache calls when no serialization cache is enabled.
@bgavrilMS I think we touched on this in our previous discussions, but maybe we can discuss this more next week?

[2020-12-11 22:52] henrik-me commented on #1120
@jmprieur : agree

[2020-12-11 22:52] #1120 closed

[2020-12-11 23:10] neha-bhargava commented on #2296
@c-mckeown are you using system browser or embedded webview? Can you please share how are you creating your app?

[2020-12-11 23:22] henrik-me opened #2298 "[Documentation] Add “SECURITY: some security fix” and “RESILIENCY: some resiliency fix” to existing release notes"
Update all past release notes to point out security and resilience improvements and fixes.

“SECURITY: some security fix”
“RESILIENCY: some resiliency fix”

[2020-12-11 23:28] henrik-me opened #2299 "[Bug] Remove WAM support from .NET FwK as it's causing issues for asp.net"
Remove WAM support for .net fwk.

See details of the challenges:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2247

Will add support for WAM for .net fwk in a separate package.

[2020-12-11 23:31] henrik-me opened #2300 "[Feature] Add WAM Support to a separate package for netfwk and netcore"
Issues with dependencies are/were causing trouble updating to the latest MSAL for ASP.NET to address this we will be adding WAM support to a separate package.

Final design TBD

**Related Issues:**
Removal from Core package: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2299
Challenge: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/224

[2020-12-11 23:39] Licantrop0 opened #2301 "IAsyncEnumerable support"
Example:

`IPublicClientApplication.GetAccountsAsync` should return an `IAsyncEnumerable<IAccount>` instead of a `Task<IEnumerable<Account>>`

This way I can easily await foreach the collection to remove all the accounts during a logout operation.

[2020-12-12 00:16] premsundaram commented on #2188
Hi @jennyf19 we were finally able to solve this situation by upgrading our user flow to the new method in Azure. Even though Microsoft said that this would not be necessary until later this year. Thank you all for helping!
Prem

From: jennyf19<mailto:notifications@github.com>
Sent: Thursday, December 10, 2020 10:26 AM
To: AzureAD/microsoft-authentication-library-for-dotnet<mailto:microsoft-authent

[2020-12-12 00:27] jennyf19 commented on #2188
@premsundaram that's interesting. Thanks so much for the update.

@vidya091209 can you try upgrading the user flow as well?

[2020-12-12 00:32] jennyf19 commented on #2188
@vidya091209 going to close, as @premsundaram seems to have a solution. Please reopen and tag me if you still have the issue after updating the user flow OR if you need assistance w/something related to this. thank you.

[2020-12-12 00:32] #2188 closed

[2020-12-12 00:33] jennyf19 commented on #2175
@patrickdoodyIRL any update on this?

[2020-12-12 00:34] jennyf19 commented on #2292
@dsancho closing, as external to MSAL, but we will update here when we hear from our iOS team on progress from Apple. you can also follow the issue that @neha-bhargava linked above. thanks for letting us know on this one.

[2020-12-12 00:34] #2292 closed

[2020-12-12 03:51] jennyf19 commented on #2161
@kevcrooks sorry for the delay. we are working on getting some help from the people working on Apple sign-in.

[2020-12-12 12:07] WilliamWatterson86 commented on #2296
@jennyf19 @neha-bhargava @c-mckeown
This only seems to happen with Apple provider - other login providers launch their own web page, can cancelling the webpage seems to be ok..  It only happens when the apple login popup is cancelled on iOS - if we are using a version of iOS < 13 then the apple webpage comes up, and cancelling that is ok.

It happens in system and embedded webview.

@jennyf19 I ha

[2020-12-12 19:22] henrik-me commented on #1617
@bgavrilMS @jmprieur : I'm not sure what the fix is from our side here? Is this just adding the file back?

[2020-12-12 19:27] henrik-me commented on #2216
@bgavrilMS @jmprieur : not really sure what we should do here. Are we only thinking about locking? or ware we also thinking about L1/L2 caching? Additionally are we considering options that prevents writing the entire cache (imo: that seems to be a better option especially for services)? Perhaps it should be an opt. in.

Also marking this as an enhancement rather than a bug. It's by current design

[2020-12-12 19:30] henrik-me commented on #2026
@trwalke : it this still happening? I thought we had this done?

[2020-12-12 19:39] henrik-me commented on #1090
@trwalke : were you able to validate this scenario and do we have a repro?

[2020-12-12 19:40] henrik-me commented on #1090
@jmprieur : I generally agree with the scrub, given this only repro's when there are no browsers on the device.

[2020-12-12 23:26] charlesroddie commented on #2300
How are you going to make this discoverable? I assume that WAM is necessary to make authentication work correctly on Windows. Then how are consumers of this library informed that they will need to install it and integrate it on order to get their windows App working properly?

[2020-12-13 16:35] jmprieur commented on #2300
We are still thinking of what the best experience could be

@charlesroddie: If you are using .NET 5, there is a distinction between the the desktop platform and the web platform, and therefore, .WithBroker(true) would be available.

For .NET 4.6.1, 4.5, we could have .WithBroker throwing a meaningful exception telling you to add the separate NuGet package

Any feedback or idea is welcome.

[2020-12-13 16:44] jmprieur commented on #2216
Don't we want to try to honor the "don't reload" flag?

[2020-12-13 22:15] b3hdad commented on #2247
I am having the same issue as well. When I upgrade my **Microsoft.Identity.Client**  from 4.22 to 4.23 or 4.24, I get the error Must Use PackageReference. I have tried all workarounds but they cause other issues. For example the closest I came to fix this was following @bgavrilMS's instruction above. However, even though, that fixes this issue , it seems to break package updates. Basically, after

[2020-12-14 07:14] Mek7 commented on #2297
Ok, this problem was solved so I am closing the issue.

[2020-12-14 07:14] #2297 closed

[2020-12-14 10:29] bgavrilMS commented on #2247
Thank you for all the feedback. Although moving to PackageReference is generally better, I agree that the tooling and the old packages will make this very difficult.

We're going to create a plugin for the new functionality, thus eliminating this dependency form the main Microsoft.Identity.Client

Tracking issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2300

[2020-12-14 10:30] patrickdoodyIRL commented on #2175
Hi @jennyf19 , issue occurred on both device and emulator. I hope to get a chance to look at this again midweek.

[2020-12-14 10:52] bgavrilMS commented on #2026
IMO we need to stop advertising PKAuth just to later say "we don't support PKAuth", which is what we do today on a miriad of platforms:

- UWP
- win32 on Win10
- mobile

[2020-12-14 10:56] bgavrilMS opened #2302 "[Feature Request] Review sending PKAuth on unsupported platforms"
Today, on pretty much all platforms, MSAL advertises that it is PKAuth capable, and when ESTS challenges the app, MSAL simply states "oh, I can't actually do PKAuth". This seems very wasteful for ESTS (extra network call). Behaviour was copied from ADAL but no actual confirmation from ESTS that it is the right thing to do.

Affected platforms:

- .NET (FWK and Core) on Win10
- UWP
- mobile

[2020-12-14 11:00] bgavrilMS commented on #1617
We never actually removed that file: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/Properties/Microsoft.Identity.Client.rd.xml

We can't repro the issue so I don't know how to fix it.

[2020-12-14 11:04] bgavrilMS commented on #2301
This feature isn't compatible with most of the target platforms that we support: net45, netstandard13, netcore21 so marking it as an improvement for when we bump the major version.

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.iasyncenumerable-1?view=dotnet-plat-ext-5.0