[2018-11-02 21:38] henrik-me commented on #662
@AlexSchuetz : Interestingly enough though this sample works for me:
https://github.com/Azure-Samples/active-directory-b2c-dotnet-uwp

Sure you need to have a resource/scope to get an AT.

What would be your scenario for not having a scope?

[2018-11-02 21:52] henrik-me commented on #662
@AlexSchuetz
I just cleared the cache for my account in the sample, and now it works. I'm no longer able to reproduce the error I saw initially.

Please validate using a scope.

[2018-11-02 21:55] AlexSchuetz commented on #662
I am not having a scenario. I just stumbled over it during the process of
registering my native in a b2c administrating by the customer.

Nevertheless: if the app doesn't use a resource, but needs authentication
would be one scenario.

Am Fr., 2. Nov. 2018, 22:38 hat henrikm <notifications@github.com>
geschrieben:

[2018-11-02 21:57] jennyf19 commented on #661
@Bloodyairtimer did your issue get resolved?

[2018-11-02 21:59] henrik-me commented on #662
I believe for no resource you should use the client id. Will need to validate this though.
In most cases the API/service you are protected is registered and thus you will be able specify the scope.

[2018-11-02 22:00] jennyf19 commented on #669
Related to this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/632)

[2018-11-02 22:10] AlexSchuetz commented on #662
I remember specifying the client ID as scope raised exceptions well.

Sending no scope is the use case and at least works on android. I don't know about UWP.

On IOS an ANE is thrown. This is not meaningful. Looking at the stacktrace and the sources it seems to be a missing null check.

[2018-11-02 22:14] henrik-me commented on #665
That is not expected behavior. However what I read from the log is that the service returns time_out and the flow is started again. I do not see retries. For one of the entries I see request started @ 11/01/2018 16:00:46 and the time-out is received @16:00:49 - that is 3 seconds.

[2018-11-02 22:42] tipa commented on #665
I tried to understand what calls are being made in what order and with what timeout the best that I could, but the library is too complex for me to do that, especially if I cannot reproduce the problem myself but can only rely on the log I got. As you can see from the timestamps, the whole process started 15:56:53 and ended 16:00:49, which is about 4 mins. I can't tell, why some requests seem retu

[2018-11-03 00:37] valnav commented on #655
@taimila - I have tried to recreate the problem, but unable to do it. Have you made sure that you've followed the steps for Android. For example there is the androidmanifest.xml which you need to update the **AppId/ClientId**
`<data android:scheme="msal[`**clientId**`]" android:host="auth" />`

[2018-11-03 00:51] henrik-me commented on #662
Thanks. We will look into it.

[2018-11-03 17:00] Journeyman42 commented on #570
This issue is still in the latest versions - i was messing with this for an hour before rolling back all the way to version 1.1.2 preview 0008 when it just worked immediately. Why has the fix not been included in the updated versions?

[2018-11-03 17:48] jennyf19 commented on #570
@Journeyman42  This particular bug was not an issue for v2, as we moved the code to a common repository for refactoring, so I think you're running into a different issue. The format of the [cache between MSALv1 and v2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#you-can-now-enable-sso-between-adal-and-msal-apps-on-xamarinios) has changed, so now

[2018-11-03 20:03] Journeyman42 commented on #570
@jennyf19 Sorry, another question - I've just gone back through the link above checking everything again and one thing i noticed is the direction in AppDelegate to use SetBrokerContinuationEventArgs instead of SetAuthenticationContinuationEventArgs, only the former isn't available in the very latest version of Microsoft.Identity.Client?

[2018-11-03 21:04] jennyf19 commented on #570
@Journeyman42 - That is not correct. We do not have broker for MSAL yet. I will update the wiki. It should be:
[code]

Can you open an issue in MSAL with the logs and stack trace? this will help us investigate the issue you're running into. thanks.

[2018-11-04 23:39] tipa commented on #559
+1

[2018-11-05 10:02] taimila commented on #655
I have and it does work **most** of the time just fine. I've been able to replicate the issue with [sample app](https://github.com/Azure-Samples/active-directory-xamarin-native-v2) built by Microsoft, just by changing the configuration to point to our Azure AD B2C tenant.

[2018-11-05 12:35] tomas-dainovec opened #672 "iOS calling AcquireTokenAsync after cancellation throws cancellation exception second time but still displays WebView"
---
name: iOS calling AcquireTokenAsync after cancellation throws cancellation exception second time but still displays WebView
about: On iOS using embedded WebView after cancelling authentication and calling AcquireTokenAsync again it immediately re-throws previous exception but still presents a WebView.

---

**Which Version of MSAL are you using ?**
2.3.1-preview

**Which platform has the issue

[2018-11-05 12:53] Bloodyairtimer commented on #661
Yes, adding the User's Object ID to the claim resolved my issue. Issue can be closed.

[2018-11-05 12:53] #661 closed

[2018-11-05 13:49] tipa opened #673 "Error code is not verbose enough to find reason for auth failure"
**Which Version of MSAL are you using ?**
MSAL 2.3.1-preview

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
Xamarin.Android

**Repro**

[code]

**Expected behavior**
User can finish the auth process either successfully or a meaningful error is returned

**Actual behavior**
For an increasing number of my users, the auth process fails with the error c

[2018-11-05 15:53] bgavrilMS commented on #667
@henrik-me - the Confidential Client assumes there is a secure connection between the "server" and the IdP. There is no way to deploy a secret to a client app (UWP, Android, iOS) to ensure this secure connection. I believe @jmprieur described this here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Right-usage-of-confidential-client-flows

@toddsharpe - we do have extens

[2018-11-05 15:56] bgavrilMS commented on #640
@henrik-me - not sure that we need an extra exception type here, I was thinking that throwing a client exception here is a bug, it should be a service exception. This is a breaking change.

[2018-11-05 17:35] henrik-me opened #674 "Add support for SecureString in .netcore"
**Is your feature request related to a problem? Please describe.**
The feature is tied to improving security of the library. Adding SecureString well help with that.
See Customer ask here:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1026

**Describe the solution you'd like**
Add SecureString for the ClientSecrets and for password in .netcore (similar to how it's done

[2018-11-05 17:38] henrik-me commented on #673
We are working with the service side bring more detailed error codes to the client library. We haven't settled on everything yet and thus we can't speak to the timeline. However this has high priority for us.

[2018-11-05 17:40] henrik-me commented on #559
We are still working with the service on how to expose this and how to get more details from the service.

[2018-11-05 17:41] henrik-me commented on #673
Currently keeping this open, however this is as far as I can see the same ask as what you linked to. Though there might be some thing additional we can/should do for Xamarin, thus keeping it open for now.

[2018-11-05 18:35] dansiegel opened #675 "Setting the Policy when Getting the Token"
# Description

Using the latest 2.3 preview, I'm trying to determine how I might specify which B2C policy I want to use when getting the token for my user. For example I may want to generically allow my user to Sign Up or Sign In... I may have a flow in which my UI has a button to Sign In and thus want a Sign In Policy, or a Facebook icon that when tapped would go to a SUSI policy specific for Fac

[2018-11-05 18:48] dansiegel opened #676 "Remove the UI Parent"
# Description
While I understand that the UI Parent may be necessary for the underlying API it would seem to me that this could be removed from the public API and what the developer needs to track.

The UIParent seems to be responsible for 2 things:

1. Tracking the Main Activity for Xamarin.Android
1. Determining whether to use an Embedded Browser or System Browser on iOS/Android.

This seems to

[2018-11-05 21:04] jennyf19 commented on #672
@tomas-dainovec I am unable to reproduce the error. I tried with our dev app and with the [Xamarin b2c sample](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native). When I hit "cancel" I get a UserCancelledAuth error and then I can hit acquire token again and get the sign-in page again.

I'm using iOS 12.1 simulator. Can you try with the sample I linked above and see if you get th

[2018-11-05 21:05] jennyf19 commented on #672
@tomas-dainovec Did you try with Android or UWP by chance?

[2018-11-05 23:47] jennyf19 commented on #662
@AlexSchuetz Have you tried with [2.3.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.3.1)?
Which AcquireToken method are you using?

[2018-11-06 00:51] jennyf19 commented on #659
@stevehurcombe are you still having issues with this?

[2018-11-06 01:16] jennyf19 commented on #615
@skorpionet100 - I'm getting a redirect_uri invalid issue on that sample. Can you send the logs or stack trace? Are you using the authority in the sample or {tenant}.b2clogin.com?

[2018-11-06 03:08] toddsharpe commented on #667
@bgavrilMS Thank you for the reply.

Keeping with the original architecture of the IOT device running UWP, what is the recommended way to solve this scenario if both MSAL cache extensions and OBO require .net standard?

I tried to build a .net standard 2.0 library and reference it from my UWP project (min ver: 16299, Target: 17134) but had runtime errors.

[2018-11-06 09:13] stevehurcombe commented on #659
@jennyf19 Not since I added ```android:allowBackup="false"``` to my project. I think you're right about the old cached token and it kept coming back because for some reason Visual Studio deployments were triggering a restore of local storage. I'm glad I raised the issue though, it's something to be aware of. Something for the Visual Studio to team to look into disabling on debug deployments!

If t

[2018-11-06 10:14] AlexSchuetz commented on #664
@jmprieur I am sorry. At the moment I don't have the spare time to test this.

[2018-11-06 10:15] jmprieur commented on #664
no issues @AlexSchuetz. Thanks for the update. We should release in the near future

[2018-11-06 10:20] tudor06 commented on #617
I am getting the exact same error using Microsoft.Identity.Client 2.3.1 - same as @brunokc, things are working very well with 1.1.4.
Have ensured that keychain is enabled and the Entitlement list is correctly set.

Any ideas?

[2018-11-06 10:55] tomas-dainovec commented on #672
Sorry for the poor repro, I rushed through it without checking... I've forked the sample and modified it to reproduce the issue. It doesn't happen on Android and I'm not targeting UWP. The key point of my approach is to keep presenting authentication WebView until user is authenticated. Modified sample is here https://github.com/tomas-dainovec/active-directory-b2c-xamarin-native

[2018-11-06 11:45] bgavrilMS commented on #676
Great idea, but I'd like to propose a different approach / API. We could have a factory / builder for UIParent that is a superset of all platform specific UIParent objects, i.e.

[code]

Note that OwnerWindow is of type object and will be upcasted on each platform (to Activity on Android etc.).

[2018-11-06 13:23] bgavrilMS commented on #667
The way .net multi-targetting works is that at edit time, you are coding against the .net standard library. At runtime, the UWP library is used. So trying to use OBO will result in a MissingMethodException.

I agree that MissingMethodExceptions are poor and we need to do better, i.e. throw a PlatformNotSupported("OBO is not supported in UWP").

I was not aware of the UWP + IoT scenario. If there i

[2018-11-06 15:46] Journeyman42 opened #677 "MSAL 2.0 deprecates IUser but IAccount methods documented are not implemented"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**

2.3.1

**Which platform has the issue?**

Xamarin Forms (all)

**What authentication flow has the issue?**

* Mobile
    * [ ] Xamarin.iOS
    * [ ] Xamarin.Android

**What is the identity provider ?**

* [ ] Azure AD B2C

If B2C, what social identity did you use?

Email

**Repro**

Docu

[2018-11-06 15:50] #677 closed

[2018-11-06 15:50] bgavrilMS commented on #677
FirstOrDefault is not part of MSAL, it is part of System.Linq.

[code]

[2018-11-06 15:50] Journeyman42 commented on #677
Please ignore, beginner error

[2018-11-06 15:51] bgavrilMS commented on #677
No prob :)

[2018-11-06 16:41] toddsharpe commented on #667
@bgavrilMS Due to the nature of IOT, I don't think a client secret would be the best idea.
1. The IOT UWP is different than the non-IOT UWP. The non-IOT UWP is fine doing interactive authentication so it can pass the token to the IOT-UWP

2. For IOT UWP there doesn't seem to be a way to extract these tokens. Is there? All I really need is the refresh token.

What I'm trying to avoid is taking the

[2018-11-06 16:59] dansiegel commented on #676
I don't mind the pattern here, or even if it's implemented on the Platform level... What I would like to avoid is having to track an object (the UIParent or "Parent Window") from my shared (NetStandard) code base. The onus should be on MSAL not the consuming developer.

[code]

For Xamarin projects I might have some initialization like:

[code]

Thus freeing me up in shared (NetStandard) code to s

[2018-11-06 17:14] jennyf19 commented on #617
@tudor06 - Have you tried restarting the mac and VS, and disconnecting/reconnecting the pairing to the mac. Also, you could try uninstalling the app, clearing the cache completely.
Please send the stack trace and logs, and we'll take a look. thanks.

[2018-11-06 17:15] jennyf19 commented on #659
@stevehurcombe Thanks for the update...i'm glad you opened the issue as well. Please do so again if you run into any other issues. Glad you're unblocked. 😸

[2018-11-06 17:21] brunokc commented on #617
@tudor06, one key difference for me between 1.1.4 and the current releases was the need to specify an [UIParent parameter](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#controlling-the-location-of-the-dialog-with-the-parent-parameters-uiparent) to the call to ``AcquireTokenAsync``. In other words, as far I can tell, calling ``AcquireToke

[2018-11-06 17:41] mehamm commented on #669
Any progress on this issue?
Is this expected to be resolved before login.microsoftonline.com is deprecated?

[2018-11-06 17:51] jennyf19 commented on #669
@mehamm Fix should be out in our next release, so later this week or early next week.

[2018-11-06 18:42] WilliamWatterson86 commented on #647
I think so yes, I put a call to GetAccountsAsync after I initalise the Public Client Applocation and it seems to work. Happy to close

[2018-11-06 18:46] jennyf19 commented on #647
awesome...thanks for getting back so quickly @WilliamWatterson86  If you run into any more issues, please open another issue. thanks. I'll update the wiki as well, for others who run into this issue.

[2018-11-06 18:46] #647 closed

[2018-11-06 18:51] Journeyman42 commented on #526
@valnav

I have exactly the same issue as @valuesoft-dk although I am implementing a Xamarin forms app using MSAL. The appeal of doing this was so I could allow users to sign up via email and then use the resulting token to call a secured API in the active directory

It's utterly bizarre to me that you allow a user to be created and a token returned which is of absolutely no use to the software if

[2018-11-06 20:18] jennyf19 commented on #672
@tomas-dainovec Thanks for the repro. So you want the Android behavior? (where the Wingtip Tops UI is displayed always, and you're never redirected back to the app, until after sign-in?)

[2018-11-06 21:07] tomas-dainovec commented on #672
@jennyf19  On Android instead of a cancel button you have an Android back button so by default the behaviour is same as iOS. In the actual app I'm working on I put the app in to the background when back button is pressed and when the app comes back to the foreground the Authenticaion is displayed again. On the iOS there is no way to do this and the user expectaions are different. It would be great

[2018-11-06 21:14] jennyf19 commented on #672
@tomas-dainovec thanks...that's what I thought. can you email me and I'll send you a package to try out? jeferrie@microsoft.com

[2018-11-06 23:30] jennyf19 commented on #617
@tudor06 there's a [discussion](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/676) on the UIParent if you want to give feedback or suggestions.

[2018-11-07 00:20] jennyf19 commented on #630
@Surfrat - I've narrowed down the issue. Looks like we need to make a network call as part of the cache lookup. Will see if it's possible to decouple this or if it's part of the cache design. Will update here when I have more information.

[2018-11-07 04:46] zeeshandad commented on #630
I confirm that this issue is reproducible on Xamarin UWP application using version v2.3.0 Preview.

Is it a bug or expected behavior?

It should work if we have some user in cache already.

[2018-11-07 04:48] jennyf19 commented on #630
@zeeshandad - thanks for confirming. We are currently exploring options right now.

cc: @somkape

[2018-11-07 04:51] zeeshandad commented on #630
Is it a bug or expected behavior?

[2018-11-07 09:29] tudor06 commented on #617
@brunokc : Thank you! That worked!
@jennyf19 : I think it is Ok to keep the issue closed.

[2018-11-07 12:55] upskydownshoes commented on #533
Had same problem. Putting @jmprieur suggestion in the sign in buttons code fixed it thanks! So with the recent switch from IUser to IAccount it looks as so:

    async void OnSignInSignOut(object sender, EventArgs e)
            {
                IEnumerable<IAccount> accounts = await App.PCA.GetAccountsAsync();
                try
                {
                    if (btnSignInSignOut.Text ==

[2018-11-07 14:44] bgavrilMS commented on #630
This is expected behavior, and it does not have to do with users in the cache per se. We have to make a discovery call to get all the aliases of AAD (e.g. "login.windows.net", "login.microsoftonline.com etc. ). This information is used, among others, to identify the users in the cache.

Technically, we could live without this discovery call if you configure your app in this way, but this would be

[2018-11-07 20:42] Journeyman42 opened #678 "MSAL v2.0+ on iOS failing even after making keychain changes"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
2.3.1

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**

* Mobile
    * [ ] Xamarin.iOS

**What is the identity provider ?**

* [ ] Azure AD B2C

If B2C, what social identity did you use?
Email

**Repro**

I am using a clean Xamarin Forms project

[2018-11-07 21:06] jennyf19 commented on #678
@Journeyman42 can you please provide msal logs?

[2018-11-07 22:10] Journeyman42 commented on #678
I've added logging and set to verbose but literally the only additional output I see is this one line preceding the error listed above

Info (False) MSAL 2.3.1.0 MSAL.Xamarin.iOS 12.1 [11/07/2018 22:09:28] MSAL MSAL.Xamarin.iOS with assembly version '2.3.1.0', file version '2.3.1.0' and informational version '2.3.1-preview' is running...

[2018-11-07 22:12] jennyf19 commented on #678
@Journeyman42 Can you attach the logs or email them? Thanks. jeferrie@microsoft.com

[2018-11-07 22:50] Journeyman42 commented on #678
Not a bug, Jenny pointed out my error in not specifying UIParent in AppDelegate, I'd not thought it necessary as versions prior to 2.0 MSAL worked with that. thanks for the help

[2018-11-07 22:50] #678 closed

[2018-11-07 22:58] jennyf19 commented on #678
Thanks @Journeyman42  - glad it was a quick fix. Here's our documentation on the [UIParent for iOS](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#controlling-the-location-of-the-dialog-with-the-parent-parameters-uiparent) in case others stumble upon this issue as well.

[2018-11-08 05:39] dansiegel commented on #675
@jmprieur thanks for the links. It seems that in the massive updates to the docs in the v2 push, the B2C links had disappeared. It's something that needs better documentation. I was able to get my sample running with B2C.

I would still really love to see a way that we could more easily select a specific policy so that when I already have the PCA, I can invoke GetTokenAsync and get a different exp

[2018-11-08 07:53] jmprieur commented on #675
Thaks for the update, @dansiegel
I agree we need to improve the B2C support in MSAL.NET's conceptual documentation. We have plans to have specific APIs for B2C in MSAL.NET (no ETA yet)
@parakhj for the feedback.
Do you want to close the issue?

[2018-11-08 11:38] Surfrat commented on #630
I disagree. MSAL version 1 worked offline. v2 does not. Please add the same offline functionality as v1.

[2018-11-08 11:56] jmprieur commented on #630
@Surfrat : we are looking at what we can do here.

[2018-11-08 12:12] zeeshandad commented on #630
My scenario wants user to remain login (on subsequent Application launches as well), until he manually Sign Out.

[2018-11-08 15:52] tmarkovski commented on #632
Would be great to have this resolved in next release!

[2018-11-08 18:57] jennyf19 commented on #662
@SravanthiKare - Can you share your acquire token call w/the overloads you are using?
Also, did you set up the [UIParent](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#controlling-the-location-of-the-dialog-with-the-parent-parameters-uiparent)?
If you want, you can email me the [MSAL logs](https://github.com/AzureAD/microsoft-authenticat

[2018-11-09 01:57] jennyf19 commented on #662
@AlexSchuetz @SravanthiKare - This is fixed in our next release.

[2018-11-09 02:46] SravanthiKare commented on #662
@jennyf19
AccesToken Call - App.PCA.AcquireTokenAsync(B2CConstants.Scopes, LoginHelper.GetUserByPolicy(accounts, B2CConstants.PolicySignUpSignIn), App.UiParent)

I am setting up UIParent in iOS AppDelegate.cs class.
App.UiParent = new UIParent();

Can you please let me know the release date for 2.4.0-preview. We are planning to release our app in mid of November, but we are blocked with this issue

[2018-11-09 05:50] dansiegel opened #679 "Standardize IPublicClientApplication"
# Description

An interface should define a common contract that is available across all Target Frameworks. By using compiler directives to change the API, this further makes the library untestable for mobile applications as methods that exist in netstandard simply do not exist in netcore unit tests.

Note that the idea of a contract does not mean that each method is expected to also be implemente

[2018-11-09 09:54] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/48255596-801ea580-e40d-11e8-8c26-cf167388d5c4.png)

[2018-11-09 13:03] bgavrilMS commented on #662
@SravanthiKare - the current plan to do a release today or early next week.

[2018-11-09 23:41] jennyf19 commented on #672
@tomas-dainovec
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:41] #672 closed

[2018-11-09 23:42] jennyf19 commented on #669
@mehamm
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] jennyf19 commented on #664
@AlexSchuetz
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #664 closed

[2018-11-09 23:42] jennyf19 commented on #662
@AlexSchuetz @SravanthiKare
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #662 closed

[2018-11-09 23:42] jennyf19 commented on #654
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #654 closed

[2018-11-09 23:42] jennyf19 commented on #653
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #653 closed

[2018-11-09 23:42] jennyf19 commented on #652
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #652 closed

[2018-11-09 23:42] jennyf19 commented on #651
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #651 closed

[2018-11-09 23:42] jennyf19 commented on #632
@DaRosenberg @AlexSchuetz @tmarkovski
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #632 closed

[2018-11-09 23:42] jennyf19 commented on #3
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).

[2018-11-09 23:42] #3 closed

[2018-11-09 23:51] jennyf19 commented on #649
Fixed in latest release [Msal2.4.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0).
@AlexSchuetz

[2018-11-09 23:51] #649 closed

[2018-11-10 08:32] hannespreishuber opened #680 "Microsoft.Identity.Client missing reference"
ASP.NET webforms website VB.NET (not a project)
.net 4.6.2
installed  via nuget (placed in bin)
microsoft.identity.client 2.4 preview
(tried also earlier)

Private Property _tokenCache As TokenCache

TokenCache is unknown
also object browser doens't show complete dll

my intend is to create a prototype for adding items from a website to teams/planner- the sample code is from hell

[2018-11-10 10:59] tipa commented on #665
I was able to reproduce the timeout with `2.4.0-preview` on an Android 9.0 emulator (/w Google Play) **after disabling Google Chrome**. It then launched an alternative browser:
![image](https://user-images.githubusercontent.com/2863198/48300492-dd365c00-e4de-11e8-8457-7fe3a38d5c85.png)

After granting my app the permissions, the view went back to my app, but got stuck again. As can be seen from th

[2018-11-10 13:08] Journeyman42 commented on #678
Jenny could you please try and give me a hand with another error I’m receiving on iOS, it’s only just started happening and cannot see what I’ve done to trigger it

the error is occurring after the user has entered login info and when trying to return the access token

Info (True) MSAL 2.3.1.0 MSAL.Xamarin.iOS 12.1 [11/10/2018 13:04:07 - b725e538-723c-421f-880a-9119f48e75e0]
=== Request Data ===
A

[2018-11-10 17:58] Journeyman42 commented on #678
Unfortunately not

Ought it be possible to run ADAL and MSAL in the same project without conflicts? I appear to need the former in order to access the Graph API

[2018-11-10 20:34] jennyf19 commented on #678
@Journeyman42 Are you using a local B2C account for the login?
What exactly do you need from ADAL
that you are not getting from MSAL?
cc: @jmprieur

[2018-11-10 21:03] fileman commented on #632
Hi, even with 2.4.0-preview I got same exception.

I've used "ValidateAuthority = false" and the following:
- tenant.b2clogin.com/{Tenant}/
- tenant.b2clogin.com/tfp/{Tenant}/

other changes to code or b2c settings are required?

[2018-11-10 22:06] Journeyman42 commented on #678
Yes a local account. That’s why I used MSAL, so they can register email with AAD B2C.

Trouble is MSAL doesn’t allow you to read any aspect of their profile, so the token returned on login can’t give name, or email.

that’s apparently why I need graph, and hence ADAL. It’d be much simpler if I could just get username etc via MSAL alone but I’ve seen no evidence you can and some that it’s just not

[2018-11-10 22:14] tmarkovski commented on #632
@jennyf19 I can confirm the same as @fileman - still getting the same exception.

I tried every variation of URL
- https://[tenant_name].b2clogin.com/tfp/{Tenant_Guid}/{PolicySignUpSignIn}/v2.0/.well-known/openid-configuration
- https://[tenant_name].b2clogin.com/tfp/{Tenant_Guid}/{PolicySignUpSignIn}/v2.0/
- https://[tenant_name].b2clogin.com/tfp/{Tenant_Guid}/{PolicySignUpSignIn}/

With every co

[2018-11-10 23:00] Journeyman42 commented on #678
The info I had came from this page

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/526 <https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/526>

which links to this

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet <https://docs.microsoft.com/en-us/azure/active-directory-b2c/active

[2018-11-11 01:07] Journeyman42 commented on #678
When I build on device I get this

/Users/dbrickley/Projects/MicroliseMobile/MicroliseMobile.iOS/MTOUCH: Error MT4116: Could not register the assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory': error MT4118: Cannot register two managed types ('Microsoft.Identity.Core.UI.EmbeddedWebview.UniversalView, Microsoft.IdentityModel.Clients.ActiveDirectory' and 'Microsoft.Identity.Core.UI.EmbeddedW

[2018-11-11 15:44] tipa opened #681 "Throw error when requesting scope "Files.ReadWrite.AppFolder" with a OneDrive for Business account"
**Which Version of MSAL are you using ?**
MSAL 2.3.1-preview

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
Xamarin.Android

**Repro**

[code]

I am using the scope `Files.ReadWrite.AppFolder`, which [is only valid for personal accounts](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/permissions_reference?view=odsp-graph-onlin

[2018-11-11 16:04] Journeyman42 commented on #678
I came up with my own solution, tho I know it’s not perfect

I’ve removed ADAL from the Xamarin app but added the Nuget package to the secure API I’ve deployed to azure

Now I just get the session token via MSAL and make one call to the API containing the unique ID from the session token, the API takes that and with the client secret  returns the user name / profile info by making a call to graph

[2018-11-11 17:36] jmprieur commented on #678
Thanks @Journeyman42
I still don't understand why you need ADAL to access Microsoft Graph. MSAL does it fine. Do you want to share a bit of code so that we see what can be improved?
(unless you are happy with your solution)

[2018-11-11 17:38] bgavrilMS commented on #678
@jmprieur - aside, it is a good finding / P2 bug that ADAL and MSAL do not work toghter on iOS because they both try to register some obj-C classes with the same name. Possibly the same issue will be on Android...

[2018-11-11 17:38] jmprieur commented on #678
@bgavrilMS : I agree. we overlooked this issue and need to fix it.

[2018-11-11 17:38] Journeyman42 commented on #678
well as I mentioned I got the info from this link (that it wasn’t possible or designed to work that way)

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/526 <https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/526>

I had a play around with some samples of ConfidentialClientApp to try and make use of the token I already had but failed to get

[2018-11-11 17:39] jmprieur commented on #678
@parakhj who should we work with to change this page to use MSAL.NET ?
 https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet

[2018-11-11 17:55] jennyf19 commented on #632
@fileman @tmarkovski - thanks for the info. Will get back to you on this.

[2018-11-11 19:12] tipa commented on #681
I wasn't sure about that myself, but I think you are right

[2018-11-11 19:15] #681 closed

[2018-11-11 20:17] hannespreishuber commented on #680
after 8 h nuget package uninstall install
I stuck on
System.IdentityModel.Tokens.ISecurityTokenValidator assembly could not be load

[2018-11-11 20:49] bgavrilMS commented on #680
Hi @hannespreishuber

Please follow the template for logging issues ... Could you give a code sample of what you are trying to do?

Also, what sample are you following that you are finding problematic?

TokenCache is part of the public API, I can see it with dotPeek, most of our samples use it and the code shows it is public:

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blo

[2018-11-11 20:59] parakhj commented on #550
@jmprieur and @AlexSchuetz you need to make individual calls separately to the authorize endpoint for getting tokens to different API's. Did you try that or did you run into problems there too?

We do not support user consent (only admin consent).

[2018-11-11 22:51] bgavrilMS opened #682 "MSAL is difficult to test because AuthenticationResult is not mockable"
MSAL is not easily mockable because the AuthenticationResult is an immutable sealed class with no public constructors.

There has been an attempt to correct this in MSAL 1.x by adding an IAuthenticationResult interface, but this seems that it did not make it into MSAL 2.x

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/253/files

This is related to issue https://github

[2018-11-11 23:04] bgavrilMS commented on #679
@dansiegel - thank you opening these issues, this is great feedback.

I opened a separate issue for AuthenticationResult: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/682 - let's keep this one focused on the IPublicClient interface.

We've discussed internally several approaches to improving the experience when using the api across multiple platforms and across net

[2018-11-12 05:14] dansiegel commented on #682
@bgavrilMS basing it on IAuthenticationResult would be great actually... from what I've had to do to try to test with AuthenticationResult, there's a little bit of a rabbit hole of currently internal classes that make this work.

[2018-11-12 07:59] jmprieur commented on #550
Thanks @parakhj for clarifying. So the extraScopesToConsent  probably does not make sense in B2C (as it's about user consent). I've updated the wiki page.

[2018-11-12 07:59] #550 closed

[2018-11-12 08:01] jmprieur commented on #680
ISecurityTokenValidator is part of [Identity Model Extensions for .NET](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/), not MSAL.NET. We'd really need to see some code, @hannespreishuber

[2018-11-12 08:09] hannespreishuber commented on #680
thanks for help, it is a bigger project, where I added the azureAD instead ASP.net membership- worked- then I added the dll for Microsoft Graph, got 1st error in code, removed everything and added again packages.  Now i have a compilation error, not related to code

Schweregrad	Code	Beschreibung	Projekt	Datei	Zeile	Unterdrückungszustand
Fehler		Reference.svcmap: Der Typ "System.IdentityModel.Token

[2018-11-12 08:13] jmprieur commented on #680
@hannespreishuber : please ensure that all the Microsoft.IdentityModel. nuget packages have the same version. Closing this issue from here (MSAL.NET) as external. Feel free to open a question in  [Identity Model Extensions for .NET](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/)

[2018-11-12 08:13] #680 closed

[2018-11-12 08:16] jmprieur commented on #663
yes, for this scenario that's the best approach.
Closing this issue. Knowing that we want to improve the exceptions (to an answer to the initial question See #679)

[2018-11-12 08:16] #663 closed

[2018-11-12 08:18] jmprieur commented on #657
@ImadElayyan : I'm assuming the previous conversation unblocked you. Closing this issue for now, but fee free to reopen

[2018-11-12 08:18] #657 closed

[2018-11-12 09:02] AlexSchuetz commented on #664
UNfortunately the issue seems not to be fixed completely in 2.4.0-preview. The exception is gone and I get the login screen, but after logging in I don't get redirected to my app. Instead I see a black window (standard browser) containing my app-package in the navigation bar.

My redirect-url doesn't follow "msal{appid}://auth" but "myapp{appid}://auth" this hasn't been a problem until now.

[2018-11-12 09:14] AlexSchuetz commented on #664
Strange thing: On the login screen (default browser with API 6.0) the navigation bar show the following url:

`https://login.microsoftonline.com/<tenant>.onmicrosoft.com/oauth2/authorize?client_id=<...>&redirect_uri=https%3a%2f%2flogin.microsoftonline.com%2fte%2f<tenant>.onmicrosoft.com%2foauth2%2fauthresp&response_type=id_token&scope=email+openid&response_mode=query&nonce=zWO%2fbsXSlzUc7QOn0VHTRg

[2018-11-12 10:35] AlexSchuetz commented on #664
@jmprieur Unfortunately I cannot give you any hints on how the B2C tenant is configured, since I am no admin for this tenant. I just can provide the parameters I am using to configure MSAL:

[code]

[2018-11-12 11:30] jmprieur commented on #664
oh! this works fine with Chrome, but not with the other browser.
Which browser is it? Did you see this page? https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Android-system-browser
cc: @jennyf19

[2018-11-12 12:55] AlexSchuetz commented on #664
@jmprieur Thanks for the link. I tested with the standard browser on Android 6.0 (the blue world globe) and no other browsers installed.

[2018-11-12 15:39] dansiegel commented on #679
@bgavrilMS Personally I don't think there should be any bait/switch on the signature of the interface regardless of platform. While I find it a shame that there is no intent to implement authentication with credentials on iOS/Android, I also understand it.

Whether my actual code is in a netstandard library or actually on iOS I would still expect to see this method signature on the interface with

[2018-11-12 16:48] bgavrilMS commented on #679
Thanks @dansiegel, that makes sense. I'll prototype a version with bait/switch and without and see the implications.

We will not implement Confidential Client flows on mobile platforms because that would lead to a security issue, i.e. there is not secure way of deploying a secret to a mobile app and the OAuth spec reinforces this. Otherwise, it would be just a matter of enabling them ...

I'll ha

[2018-11-12 17:36] myokeeh opened #683 "Arg_NotImplementedException at Microsoft.Client.TokenCach.GetAllRefreshTokensForClient()"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
2.4.0-preview

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop
    * [X] Interactive (UWP Windows 10 App)
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [ ] Xamarin.iOS

[2018-11-12 17:54] #586 closed

[2018-11-12 17:55] #634 closed

[2018-11-12 17:57] dansiegel commented on #679
I'd be happy to setup a call sometime to discuss the Confidential Client flow issue. I'm not sure that I would make the jump to there is no secure way of embedding an application secret.

Any yes the testing tools for iOS and Android need a lot of work before they can be truly usable.

[2018-11-12 21:53] jennyf19 commented on #683
@myokeeh Can you provide logs?

[2018-11-12 22:15] myokeeh commented on #683
Is there a special log that you're referring to that can be generated or just more of the text from the Exception?

[2018-11-12 22:45] bgavrilMS commented on #682
Thinking a bit more about - if we introduce this interface and have all AcquireToken* methods return IAuthenticationResult - it will be a breaking change.

If I just introduce the interface, but keep returning AuthenticationResult, the classes will not be mockable.

I think we are ok with taking some breaking changes while in Preview (we'd still bump the major version of course). Alternatively we

[2018-11-12 22:49] bgavrilMS commented on #679
Sounds good @dansiegel - I plan to take a look at all these changes next week, so that might be a good time to talk. Should I send you an invite for sometimes next week ?

[2018-11-12 22:55] dansiegel commented on #679
I will have some time on Monday/Wednesday. Feel free to send over an invite dsiegel@avantipoint.com

[2018-11-12 23:07] myokeeh commented on #683
@jennyf19 sounds good. I'll try to get the log. Unfortunately, it works while debugging in VS or if I reset (uninstall/reinstall) the app. I've noticed something was wrong on my other test machines that are getting the update. I pushed out another update that allowed me to get the Exception info I included in my post.

I think it has something to do with my switch over from ADAL to MSAL--not neces

[2018-11-12 23:14] jennyf19 commented on #683
thanks @myokeeh - so you're seeing this when updating from ADALv4 to MSALv2.4? or ADALv3 to MSALv2.4? did you see this when updating from ADAL to MSALv2.3?
Sorry for all the questions, but it will help us narrow down the root cause.

[2018-11-12 23:21] myokeeh commented on #683
@jennyf19 I think it's this:
I was using Microsoft.IdentityModel.Clients.ActiveDirectory 4.4.0 then switched to Microsoft.Identity.Client 2.4.0-preview

[2018-11-12 23:22] jennyf19 commented on #683
@myokeeh Thanks. We'll take a look.

[2018-11-13 06:02] myokeeh commented on #683
@jennyf19 I tried to see if anything logged on the machines getting this Exception, but the logs are empty. I was able to get something logged on the machine that's working--so the logging seems to be working.

   at MyUWPApp!<BaseAddress>+0x1a29528
   at MyUWPApp!<BaseAddress>+0x1a2ee10
   at MyUWPApp!<BaseAddress>+0x1b616e4
   at MyUWPApp!<BaseAddress>+0x1b580bb
   at MyUWPApp!<BaseAddress>+0x1b

[2018-11-13 07:02] toddsharpe commented on #667
Just wondering the status on this. I'm confused how to move forward with this scenario, besides downloading the MSAL on github and hacking in refresh token support

[2018-11-13 09:44] jmprieur commented on #667
@toddsharpe : is the Client ID of both apps the same? (this is possible with MSAL)

@bgavrilMS @henrik-me
I think we should expose the custom serialization (as an option ) in UWP in the same way it's available in .NET Framework and .NET Core?

[2018-11-13 11:56] jmprieur commented on #664
@jennyf19 is it something you tested? do we want to update the table?

[2018-11-13 21:09] myokeeh commented on #683
I just confirmed on another machine that an app Reset (via Windows 10 settings) fixes the issue.

[2018-11-13 21:10] jennyf19 commented on #683
Thanks for the update @myokeeh ….glad you found a work around. You should be able to migrate seamlessly between adal and msal cache, so we will continue to look into this issue.

[2018-11-13 21:20] dansiegel commented on #682
@bgavrilMS I would tend to say that while this is a breaking change it should be low enough impact that I wouldn't worry about bumping to v3, particularly since there has never been a "stable" release for MSAL.

That said if you instead simply introduced a factory method on AuthenticationResult that could create an AuthenticationResult from a Jwt that could work too. It would certainly have the be

[2018-11-13 23:13] bgavrilMS opened #684 "Contributors are confused by master / dev branches"
---
name: Bug report
about: Create a report to help us improve

---

Contributors have reported that our branch naming and branch housekeeping is confusing. Namely:

1. We have a master branch that is severely outdated. "master" is the git default, so people instinctively go there. We should get rid of master because we decided not to follow the "git flow" branching strategy, so there is no value

[2018-11-14 01:59] henrik-me commented on #684
Suggestion, (ADAL repo):
Remove/Delete master
rename dev to master
rename adalv3dev to adalv3-master.
Remove unused branches

Not sure though this brings the clarity. As we have already described what is where in the read.me file.

[2018-11-14 02:01] henrik-me commented on #684
Seems very related to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/648

[2018-11-14 06:33] toddsharpe commented on #667
@jmprieur Correct both Client IDs are the same

[2018-11-14 06:55] henrik-me commented on #667
@jmprieur : I believe we can mark that as a feature request as we have been discussing previously (already done).

[2018-11-14 14:19] bryans2k opened #685 "UIParent doesn't work on Android 4.4"
**Which Version of MSAL are you using ?**
2.4.0-preview

**Which platform has the issue?**
xamarin android

**What authentication flow has the issue?**
* Mobile
    * [X ] Xamarin.Android

Other? - please describe;

**What is the identity provider ?**
* [X] Azure AD

[code]

**Expected behavior**
When ran on an Android 4.4 AVD after authenticating I expected to return to the Xamarin App instance.

[2018-11-14 16:05] jmprieur commented on #685
See also https://github.com/Azure-Samples/active-directory-xamarin-native-v2/issues/54 for repro steps.
cc: @jennyf19

[2018-11-14 16:41] jennyf19 opened #686 "B2Clogin.com authority does not work with GetAccountsAsync() because of metadata discovery call"
---
name: Bug report
about: B2Clogin.com authority does not work with GetAccountsAsync() because of metadata discovery call in TokenCache class
---

**Which Version of MSAL are you using ?**
2.4.0-preview

**Which platform has the issue?**
Mobile/desktop

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password

[2018-11-14 16:47] myokeeh commented on #683
@jennyf19, how/where is the cache? Could it be hitting some kind of limit with the cache?

`ApplicationData`, `LocalSettings`

https://msdn.microsoft.com/en-US/library/windows/apps/hh465094.aspx

[2018-11-14 17:33] stevehurcombe commented on #650
Same here. This article is implying UIParent is now expected for iOS.
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#choosing-between-embedded-web-browser-or-system-browser-on-xamarinandroid

[2018-11-14 23:39] mehamm commented on #669
Same issue after updating to Msal2.4.0-preview

[2018-11-15 15:55] erdmenchen commented on #630
Same here:
Currently the call to 'GetAccountsAsync()'  throws an exception when the device is offline / in plane mode, when it should instead return the cached user account from the last login.

[2018-11-15 23:34] jennyf19 opened #687 "MSAL performance degradation in .NET Framework compared to .NET Core"
Issue opened in [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1406)

[2018-11-16 03:48] jennyf19 commented on #669
@mehamm Can you send me a fiddler trace and the tenant (jeferrie@microsoft.com)? Thanks.
Also, do you have the [identity providers](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-fb-app) set up correctly?

[2018-11-16 03:49] jennyf19 commented on #632
@fileman @tmarkovski @mixxit - Can you send me a fiddler trace and the tenant (jeferrie@microsoft.com)? Thanks.
Also, do you have the [identity providers](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-fb-app) set up correctly?

[2018-11-16 07:54] jmprieur commented on #687
Fixed with PR https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1407

[2018-11-16 12:19] mehamm commented on #669
@jennyf19 I am using Local accounts (by email) in Azure AD B2C - Identity Providers. I haven't set up any other social or custom providers.

[2018-11-16 12:38] erdmenchen commented on #682
@dansiegel Can you provide a sample about how you are mocking the AuthenticationResult currently via Reflection in your unit tests? I am in the same situation and just want to mock the AuthenticationResult for my unit tests.

[2018-11-16 14:35] bgavrilMS commented on #484
Current approach is to expose an all param ctor for AuthetnicationResult, which is an immutable class, this will be less intrustive than adding an interface.

[2018-11-16 16:33] thutson commented on #669
Same issue occuring in the example app. Change the authority here to use b2clogin.com and you will get a not found error.
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Core/App.cs#L22

[2018-11-16 16:39] jmprieur commented on #669
Did you use $"b2clogin.com/{Tenant}" ?

[2018-11-16 16:50] thutson commented on #669
@jmprieur Yes, Also tried $"https://{TenantName}.b2clogin.com/{TenantID}/" and $"https://{TenantName}.b2clogin.com/tfp/{TenantID}/" and many other variations.

All errored with "Microsoft.Identity.Client.MsalServiceException: AADSTS50049: Unknown or invalid instance."

Have fallen back to $"https://login.microsoftonline.com/tfp/{Tenant}/" until this gets sorted out.

[2018-11-16 17:29] jennyf19 commented on #669
@mehamm @thutson Thanks for your patience while we sort this out. The issue is with the `GetAccountsAsync()` method, which is making a network call to the instance discovery endpoint. See this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/686). If this method runs before the AT call, then you'll get the eSTS exception you are seeing. We are working on a fix

[2018-11-16 17:47] jennyf19 commented on #632
@tmarkovski @fileman @mixxit Thanks for your patience while we sort this out. The issue is with the `GetAccountsAsync()` method, which is making a network call to the instance discovery endpoint. See this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/686). If this method runs before the AT call, then you'll get the eSTS exception you are seeing. We are worki

[2018-11-19 17:29] jennyf19 commented on #687
Release [2.4.1](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.1)

[2018-11-19 17:29] #687 closed

[2018-11-20 00:55] jennyf19 commented on #669
@mehamm @thutson updates are in dev, if you want to try it out. we will release with these changes very soon. thanks.

[2018-11-20 00:56] jennyf19 commented on #632
@tmarkovski @fileman @mixxit updates are in dev, if you want to try it out. we will release with these changes very soon. thanks.

[2018-11-20 01:28] jennyf19 opened #688 "b2clogin.com with embedded webview and Google auth not allowed"
## For tracking purposes

**Expected behavior**

Can use embedded webview for authentication with Google in B2C scenario using `{tenant}.b2clogin.com` as authority

**Actual behavior**
[Google auth](https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html) does not work with embedded webview
![image](https://user-images.githubusercontent.com/19942418/48745441-66

[2018-11-21 03:12] jennyf19 commented on #686
Fixed in [MSALv2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)

[2018-11-21 03:12] #686 closed

[2018-11-21 03:12] jennyf19 commented on #682
Fixed in [MSALv2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)

[2018-11-21 03:12] #682 closed

[2018-11-21 03:13] jennyf19 commented on #630
@Surfrat @zeeshandad @erdmenchen
Fixed in [MSALv2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)

[2018-11-21 03:13] #630 closed

[2018-11-21 03:13] jennyf19 commented on #669
@mehamm @thutson
Fixed in [MSALv2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)

[2018-11-21 03:14] jennyf19 commented on #632
@DaRosenberg @tmarkovski @fileman @mixxit
Fixed in [MSALv2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)

[2018-11-21 15:14] AlexSchuetz opened #689 "RedirectUrl is opened in Safari instead of app"
**Which Version of MSAL are you using ?**
MSAL 2.5.0-preview

**Which platform has the issue?**
xamarin iOS 9 and 10

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [X] Xamarin.iOS
    * [ ] Xamarin.Android
    * [ ] UWP
* Web App
    * [ ] Authorizat

[2018-11-21 15:20] jmprieur commented on #689
@AlexSchuetz :  Did you try to enable the embedded web view?
See [Choosing between embedded web browser or system browser on Xamarin.iOS](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#choosing-between-embedded-web-browser-or-system-browser-on-xamarinios)

[2018-11-21 15:40] jmprieur commented on #582
@bgavrilMS : assigning to you part of the work you've been doing on the .NET Standard platform

[2018-11-21 15:44] jmprieur commented on #588
Proposal is to add a new constant named `NoPrompt` to the `UIBehavior` structure.
When the uIBehavior parameter is be set to `NoPrompt` in overrides of AcquireTokenAsync on public client application, MSAL.NET won't send a prompt=xxx clause any longer.

cc: @henrik-me

[2018-11-21 17:08] henrik-me opened #690 "AquireTokenByRefreshToken to enable ADALv2 migration to MSAL and other integration scenarios"
**Enabling ADAL.NET v2 migration to MSAL.NET 2.x.**

ADAL.NET v2.X was exposing the refresh token in `AuthenticationResult`, as well as methods to acquire a token from a refresh token in `AuthenticationContext`. Customers have developed solutions around caching the refresh token (something we discourage) and using these `AcquireTokenByRefreshToken` methods.

**The kind of scenarios:**
* Long runni

[2018-11-21 17:10] henrik-me commented on #690
CC: @jmprieur

[2018-11-22 07:30] Surfrat commented on #630
Thank you for all the effort so far.

I think we are half way there. GetAccountsAsync() now returns the account while offline but the next line causes an exception.

![image](https://user-images.githubusercontent.com/2066487/48887704-f32a1200-ee38-11e8-9ac1-2f35ddf25ab7.png)

Here is my GetAccountByPolicy code which returns an account.

![image](https://user-images.githubusercontent.com/2066487/48

[2018-11-22 14:30] jmprieur commented on #630
@Surfrat: which claims did you retrieve in which token (IDToken? or AccessToken?)

[2018-11-23 07:00] Surfrat commented on #630
@jmprieur here is the info from the token. I am not sure as to which it is. I got this while offline.

![image](https://user-images.githubusercontent.com/2066487/48931259-07841280-eefe-11e8-9d1b-4fcd4c258f38.png)

![image](https://user-images.githubusercontent.com/2066487/48931290-31d5d000-eefe-11e8-8b35-739f26e109f4.png)

Please let me know if I can give you more info.

[2018-11-23 07:37] anmolkarol commented on #671
https://www.powershellgallery.com/packages/MSAL.PS/1.1.4.1

[2018-11-23 10:47] jmprieur commented on #671
@anmolkarol
We (MSAL.NET team) don't own this PowerShell module (which BTW seems to use an old version of MSAL.NET) did you try to [contact its owners](https://www.powershellgallery.com/users/account/LogOn?ReturnUrl=%2Fpackages%2FMSAL.PS%2F1.1.4.1%2FContactOwners) ?

Closing as external

[2018-11-23 10:47] #671 closed

[2018-11-23 14:53] erdmenchen commented on #630
We use the IdToken to transfer user details for UI customization with multiple custom claims from the IdToken.
E.g. the surename and given name and the organisation/company of the user.

The IAccount does not provide this information, as @Surfrat  already stated.

(we are in a AD B2C context as well)

[2018-11-23 15:45] jmprieur commented on #630
@erdmenchen @Surfrat can you please share with us the kind of code you had when using accounts offline?

[2018-11-23 23:00] jnevins-gcm opened #691 "Device code flow and token cache"
Is token caching using the device code flow supported?

I’m seeing behavior such that my device code callback fires on every request, even after deserializing a cache that should already have cached a previously retrieved token.

[2018-11-24 11:00] AlexSchuetz commented on #689
I was looking for a way to use the webview, but didn't look at this
constructor.

This did the trick. Thanks a lot.

Am Mi., 21. Nov. 2018, 16:20 hat Jean-Marc Prieur <notifications@github.com>
geschrieben:

[2018-11-24 11:47] bgavrilMS commented on #691
Hi @jnevins-gcm - please follow the template when you open an issue.

Can I see a sample of you code? I think you are not calling AcquireTokenSilent - in MSAL, the pattern for acquiring tokens is to check the cache explicitly. I updated the sample code on our wiki to reflect this:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Device-Code-Flow

[2018-11-24 12:13] jmprieur commented on #689
Thanks for the update @AlexSchuetz.
Closing the issue.

[2018-11-24 12:13] #689 closed

[2018-11-24 18:19] jnevins-gcm commented on #691
That was it!

Sorry and thanks for the quick response

[2018-11-24 18:19] #691 closed

[2018-11-26 07:37] Surfrat commented on #630
@jmprieur  I dug out my old test project using MSAL v1.1.4.preview. It is attached.

Offline is aeroplane mode with no internet connection. The results are as follows:

UWP:
Token details displayed while on and offline. The following screenshot is the same for both.
![image](https://user-images.githubusercontent.com/2066487/48997758-aa849880-f159-11e8-840e-9a2991c56def.png)

Android (Nokia 8):

To

[2018-11-26 07:59] bgavrilMS commented on #691
No problem, glad it worked!

[2018-11-26 08:42] WilliamWatterson86 opened #692 "Xamarin ios - Webview not showing password autofill - B2C"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
MSAL 2.2.1-preview

**Which platform has the issue?**

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [X ] Xamarin.iOS
    * [ ] Xamarin.And

[2018-11-29 10:20] jmprieur opened #693 "AcquireTokenByAuthorizationCodeAsync should not return a token from the cache if the requested scopes are more than the scopes for the token contained in the cache"
*Which Version of MSAL are you using ?**
MSAL.NET 2.4.1-preview

**Which platform has the issue?**
net4.5, netcore 2.1 (Web)

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [ ] Xamarin.iOS
    * [ ] Xamarin.Android
    * [ ] UWP
* Web App
    * [ x] A

[2018-11-29 10:40] jmprieur commented on #693
See also [Process incremental consent by sending a challenge to the user.](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/24) for details.

[2018-11-29 11:04] jmprieur commented on #692
Thanks for your feedback.
This is by design: the embedded web browser is a web control, and does not provide the full experience you see with the system browser when the system browser adds completion, secret management etc …

Normally the embedded web view adapts the best to the OS. Which version of iOS are you running on?

[2018-11-30 09:13] WilliamWatterson86 commented on #692
Ok thanks for replying @jmprieur  - I thought this might be expected with the webview.  The version I have tried with is iOS 12.1.  There is an overall "Passwords" button as shown in the screenshot above.  So the user will just have to tap that and select which password they want to use.  The password suggestions dont come up.

[2018-11-30 10:05] jmprieur commented on #692
@jennyf19 do you think that there would be options to set on the embedded web view to enable these features?

[2018-11-30 19:08] jennyf19 commented on #692
@jmprieur is correct, this is a limitation with embedded webview.

[2018-11-30 19:29] jennyf19 commented on #692
@WilliamWatterson86 We'll make an update here if anything changes. We're looking into this with our iOS team, but things don't look promising at the moment.

[2018-11-30 22:45] atiqhaqu opened #694 "Cannot Acquire token for resources other than home tenant"
---
name: Bug report
about: Cannot Acquire token for resources other than home tenant
---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

v2.5.0-preview

**Which platform has the issue?**

net45

**What authentication flow h

[2018-11-30 22:59] atiqhaqu opened #695 "MsalClientException during AcquireTokenSilentAsync with forcerefresh true"
---
name: Bug report
about: MsalClientException during AcquireTokenSilentAsync with forcerefresh true
---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

v2.5.0-preview

**Which platform has the issue?**

net45

**What authe

[2018-12-02 01:57] jmprieur commented on #693
@jennyf19. Thanks for investigating. Summarizing here what you found:
- MSAL.NET does not look at the cache (so it's not a bug in MSAL.NET. Removed the "bug" label)
- what we are seeing is that when the Web App calls AcquireTokenByAuthorizationCodeAsync ASP.NET's middleware intercepts the call to AAD and does not event send the code redemption to AAD because it has already an Access Token
- the ri

[2018-12-02 01:57] #693 closed

[2018-12-03 06:31] Surfrat commented on #630
Any feedback?

[2018-12-03 08:53] YUVRAJ1912 opened #696 "Android Blank Screen On WLAN"
Hey,

I am trying to run ADAL code on Xamarin android with 4.4.1 version but I get blank screen on WLAN. Where as working fine with mobile network. I get below message on application output and shows blank screen.

I get [InputMethodManager] [IMM] startInputInner - mService.startInputOrWindowGainedFocus
[VideoCapabilities] Unsupported mime video/sorenson
[InputTransport] Input channel constructed:

[2018-12-03 13:32] jmprieur commented on #696
@YUVRAJ1912, If this is an ADAL issue, can you please raise it in the [ADAL repo](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet) (here this is MSAL).
Also can you please follow the template that we provide? there is not enough information here for us to be able to help you.

[2018-12-04 10:18] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/49435190-4f385300-f7b6-11e8-8a83-7e468e5fd124.png)

[2018-12-04 14:44] #692 closed

[2018-12-04 14:44] jmprieur commented on #688
Closing as external

[2018-12-04 14:44] #688 closed

[2018-12-04 14:46] jmprieur commented on #648
Closing this issue as it's no longer relevant. The code is now back in the MSAL.NET repo
cc: @bgavrilMS @henrik-me

[2018-12-04 15:22] jmprieur commented on #684
@bgavrilMS : proposing to close this issue if you agree.

[2018-12-04 15:58] bgavrilMS commented on #684
I think we should still do this at least for MSAL. Either move to the master branch, or delete it completely.

[2018-12-06 00:09] jennyf19 commented on #695
Expected behavior:
With ForceRefresh = true in the silent call, we should ignore any access token in the cache and attempt
to acquire a new access token using the refresh token

Issues:
1) With ForceRefresh = true in the silent call, we check for access tokens in the cache (more below w/Fix 1)

2) After fixing ForceRefresh logic, if passing in ForceRefresh = false, or nothing, the cache should add

[2018-12-06 11:50] bgavrilMS commented on #676
I have fixed this with https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1428 - there is now a UIParent ctor that takes in (object parent, bool useEmbeddedWebview). This is available on all platforms, including netstandard (note that it's hidden on some platforms using a bait-and-switch technique).

Will be available with the next release of MSAL 2.6.0-preview, for which we

[2018-12-07 05:31] jennyf19 commented on #695
fix will be out in msal2.6.1-release

[2018-12-07 08:55] WilliamWatterson86 opened #712 "Add code in Webview renderer to allow Target="_blank" to work for iOS"
**Is your feature request related to a problem? Please describe.**
I have a Xamarin app.  In my B2C pages I have a hyperlink included at the bottom which redirects to our website and terms and conditions.  I have recently moved to using the built in WebView rather than launching the Safairi browser.  However, a webview cannot seem to use Target="_blank" to launch the hyperlink in a new browser win

[2018-12-07 10:45] jmprieur commented on #712
@WilliamWatterson86
@jennyf19 will confirm, but I think it's a limitation of the iOS browser control (as it works on Android).

Out of curiosity, what specificities of the embedded web view do you need (that prevents you to use the system browser?). In the case of B2C, if your users want to sign-off with google, I believe that might not be able to (See  #688)

[2018-12-07 12:37] WilliamWatterson86 commented on #712
The main reason I want to use the embedded web view is so I can use Xamarin UI Test to run automated tests on the app. If I use the normal browser the UI tests do not recognise the elements on the login page so I can’t automate the tap on the username and password fields and I need to login to use the app even in the UI tests

[2018-12-07 15:12] bgavrilMS commented on #674
This is done. SecureString is now supported by all our platforms:

- on .netcore ,net desktop and .net standard  in order to support U/P
- on Android, iOS and UWP in order to be able to throw a nice PlatformNotImpl exception

[2018-12-07 15:12] #674 closed

[2018-12-07 17:21] #648 closed

[2018-12-09 04:00] jennyf19 commented on #655
@taimila Are you still have the issue with the latest release of [MSALv2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)? If so, you can you email me the [logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#sample-for-logging-in-msal-2x) and we'll check with B2C and see what they're seeing on their end

[2018-12-10 14:08] jmprieur opened #715 "The scope parameter should be less strict in some of the AcquireTokenXXX methods (allow an empty set of scopes)"
**Is your feature request related to a problem? Please describe.**
In Web scenarios, the authorization code is requested by the ASP.NET / ASP.NET core middlewre, and redeeming the code is often done with MSAL.NET, but **only** to have a token in the cache, so that it can be used from controllers, using `AcquireTokenSilentAsync`. For instance in the *Web app calls web api* sample

[code]

Note that

[2018-12-10 14:09] jmprieur commented on #715
@henrik-me : raised as discussed last week

[2018-12-10 20:13] 23W opened #716 "Script error on login page "Unable to get property 'reject'"."
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

v2.4.0-preview
v2.5.0-preview

**Which platform has the issue?**

net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integr

[2018-12-10 23:26] Kritarie opened #717 "Access cached IdToken offline"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
MSAL 2.5.0-preview

**Which platform has the issue?**
Verified on Xamarin.Android, but it does not seem platform specific

**What authentication flow has the issue?**
* Deskto

[2018-12-11 10:59] jmprieur commented on #717
@Kritarie : isn't the `Username` property of `AuthenticationResult.Account` enough ? (See  [IAccount](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-Tokens#iaccount-msal-2x))

Also we'd like to understand better the offline scenarios, which we had not optimized for. What do you do offline?

[2018-12-11 13:37] Surfrat commented on #717
This looks like a duplicate of my [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/630)....

[2018-12-11 13:57] jmprieur commented on #716
@23W
this issue is not actionable:
1) we don't know which app topology you are using.
2) we don't know if you are using B2C or not.

Please re-word your issue using the template we provide.

[2018-12-11 14:24] Kritarie commented on #717
@jmprieur the `Username` property in our case is the user's email. During sign up we also have the user enter their given name and family name, which is delivered back to us via the `IdToken`. Ideally we would like to provide most or all of the same functionality offline as we do online (assuming some prior online connectivity for caching). Right now we want to access the user's given name in orde

[2018-12-11 15:51] Surfrat commented on #717
My issue is the same. This is in my post "I think we are half way there. GetAccountsAsync() now returns the account while offline but the next line (AcquireTokenSilentAsync) causes an exception".

[2018-12-11 16:17] shoatman commented on #717
Assuming this is related....There's working happening in MSAL to cache Azure AD cloud instance discovery document.

[https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/common/oauth2/v2.0/authorize&api-version=1.1](https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/com

[2018-12-11 18:16] 23W commented on #716
@jmprieur
Thanks, I've updated issue.

[2018-12-11 21:07] jennyf19 commented on #694
@atiqhaqu has confirmed this is also fixed with [these changes](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/714)

[2018-12-12 07:39] jmprieur commented on #716
Thanks @23W
there is an issue on the service side (AAD Login Page). It's fixed, but still need to be rolled out.
Leaving the issue open until it's deployed.

[2018-12-12 07:40] #684 closed

[2018-12-12 17:26] mikerunnals opened #722 "JWT IdToken AcquireTokenSilentAsync forceRefresh Not Updating After Edit Profile"
**Which Version of ADAL are you using ?**
Microsoft.Identity.Client  2.5.0-preview

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

**Repro**

[code]

**Given**
A User has successfully edited their Profile `given

[2018-12-12 17:30] jmprieur commented on #722
@mikerunnals : I believe that @jennyf19 just fixed this one. We'll check that this is the case and will release a hotfix ASAP..

[2018-12-12 18:21] jennyf19 commented on #722
@mikerunnals If you email me (jeferrie@microsoft.com), I will send you a nuget package with the fix and you can try it out, or you can pull from the master branch, the fix is there.

[2018-12-13 01:12] jondmcelroy opened #725 "Token Cache Does not appear to be User Specific"
**Which Version of MSAL are you using ?**
2.3.1-preview

**Which platform has the issue?**
dotnetcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [X] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Re

[2018-12-13 10:49] jmprieur commented on #588
This is now available in ADAL.NET 2.6.0 preview

[2018-12-13 10:49] #588 closed

[2018-12-13 10:51] jmprieur commented on #676
This is now solved in [MSAL.NET 2.6.0](https://aka.ms/msal-net-2-6)

[2018-12-13 10:51] #676 closed

[2018-12-13 10:51] jmprieur commented on #679
This is now solved in [MSAL.NET 2.6.0](https://aka.ms/msal-net-2-6)

[2018-12-13 10:51] #679 closed

[2018-12-13 10:52] jmprieur commented on #582
This is now solved in [MSAL.NET 2.6.0](https://aka.ms/msal-net-2-6)

[2018-12-13 10:52] #582 closed

[2018-12-13 10:59] jmprieur commented on #693
@GeoK FYI, in the context of the work of documenting the interaction of ASP.NET Core and Wilson.

[2018-12-13 11:02] jmprieur commented on #683
@myokeeh : do you want to try with MSAL.NET 2.6.0 (just released yesterday).

[2018-12-13 11:06] #694 closed

[2018-12-13 11:06] #695 closed

[2018-12-13 17:17] jennyf19 commented on #722
@mikerunnals thanks for the additional information in email. Things look good from our library perspective, and am waiting to hear back from B2C. Will keep you posted.

[2018-12-13 19:25] shivbijlani opened #727 "When the client id entered is invalid, the error messages can be better"
I tried creating a windows desktop app. I entered in the wrong client id in the code (due to copy paste challenges :-).

I got some interesting errors, hoping these can be improved:
1. When signing into the app with an MSA user, the popup shows a "We're unable to complete the request" generic error message.
2. On cancelling the popup, i get this error in the result window. This is not expected sin

[2018-12-14 08:07] reneschulte opened #728 "Azure AD device Code Flow with personal accounts"
Azure AD v2 recently added support for device code flow for login but only for tenanted endpoints, but not personal accounts which are not supported at the moment (or only via a workaround that won’t work for us).
See docs here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code

Is support for personal accounts planned and if so what is the timeline?

[2018-12-15 14:10] #716 closed

[2018-12-15 14:12] jmprieur commented on #426
@bgavrilMS : this one is poachable

[2018-12-15 14:16] jmprieur commented on #728
@teichgraf : the library is ready, whenever the service implements it.
What is your scenario (to help pushing up the priorities on the service side)? are you building command line tools or portable tools and want to sign-in MSA accounts? can you please share more with us?

[2018-12-15 14:18] jmprieur commented on #712
@bgavrilMS, @trwalke  : would you have recommendations for @WilliamWatterson86 on how to test a Xamarin UI app with system browser?

[2018-12-15 14:20] jmprieur commented on #608
Fixed in MSAL.NET 2.6.0-preview

[2018-12-15 14:20] #608 closed

[2018-12-16 10:58] 23W commented on #716
Thanks

[2018-12-17 04:04] myokeeh commented on #683
@jmprieur I just tried, and still seems to be an issue. Nothing getting logged still.

[2018-12-17 07:46] teichgraf commented on #728
We are trying to implement a login-flow for the HoloLens in order to access M365 Graph APIs and load data from there. For the HoloLens and it's limited text input UX we a need a login scenario without a browser on the HoloLens. For that we developed a companion website where the user logs in on his mobile or desktop computer, after that it shows a QR code and the HoloLens user just has to look at

[2018-12-17 09:46] SravanthiKare commented on #678
@jennyf19
We are using ADB2C for login and ADAL AzureValut for fetching encryption key. We are getting below build error as both couldn't co-exist. Please suggest a way?

Could not register the assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory': error MT4118: Cannot register two managed types ('Microsoft.Identity.Core.UI.EmbeddedWebview.UniversalView, Microsoft.IdentityModel.Clients.Active

[2018-12-17 14:57] LucasLibis commented on #716
Hello,

I still encounter the same issue. Does the fix need more time to be rolled-out?

![image 1](https://user-images.githubusercontent.com/2340039/50094567-c4bf0d00-0213-11e9-86c1-a3fcb51f5328.png)

Thanks

[2018-12-17 17:42] jmprieur commented on #716
you are right. I asked the service team and it has not been fully rolled out yet.
It should be completed by end of the (Redmond) day.

[2018-12-18 11:38] bgavrilMS commented on #712
I believe we also use the embedded browser in our Xamarin UI Tests. @trwalke can confirm and provide his insight on the iOS automation

[2018-12-18 11:41] bgavrilMS commented on #426
@jmprieur - I propose that we make sure the docs emphasize where redirect URI can be null and fix the exception for OBO flow and client creds.

Alternatively, I can obsolete the calls requiring a redirectUri so that we can remove them in when we get rid of the -preview tag?

[2018-12-18 13:31] jmprieur commented on #426
@bgavrilMS : I'd prefer the first option (allow null, fix the exception for Client credentials. Not sure for OBO?)
The alternative would touch the constructor … and most confidential client flow require the redirect URI. I would think OBO does?

[2018-12-18 16:43] trwalke commented on #712
I am not sure if it is possible on app center using the xamarin.uitest framework. We are trying to use the system browser for our testing but it never works. So far, we have had to stick with the embedded webview

[2018-12-19 03:08] aespino27 opened #737 "UWP Cache storage limit hit with b2clogin.com authority"
**Which Version of MSAL are you using ?**
MSAL 2.6.1

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive

Using MSAL 2.6.1 against Azure AD B2C.

As per [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) recommendation, I changed authority to b2clogin.com, instead of login.microsoftonline.com, and now applica

[2018-12-19 03:43] jennyf19 commented on #737
@aespino27 Was a previous version of MSAL working for you? if so, which one?

[2018-12-19 03:53] aespino27 commented on #737
I didn't try the b2clogin.com thing in any previous version of MSAL.
I've been using almost every single preview version up until today, as it seems it is finally GA.
So today I upgraded to 2.6.1 and was still using login.microsoftonline.com, but looking into the Azure AD B2C documentation I found the recommendation to move to b2clogin.com as login.microsoft.com will eventually be deprecated, and

[2018-12-19 03:59] jennyf19 commented on #737
@aespino27 Msal has been able to handle b2clogin.com since [Msalv2.4.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.4.0), and we have UI automation tests and samples using the new authority. I think there's a different issue here.

Things work fine with login.microsoftonline.com w/2.6.1? but not b2clogin.com?
Does b2clogin.com work with 2.6.0-preview?

[2018-12-19 05:57] aespino27 commented on #737
Q: Things work fine with login.microsoftonline.com w/2.6.1? but not b2clogin.com?
A: Yes

Q: Does b2clogin.com work with 2.6.0-preview?
A: No

Q: Also, could you send logs?
A: Showing logs using 2.6.0-preview, using 2.6.1 resulted in the exact same logs. As far as the logs "speak", when using b2clogin.com, it looks like it gets the token, but the problem is when trying to save it into the cache?

[2018-12-19 06:01] jennyf19 commented on #737
Thank you @aespino27

[2018-12-19 07:35] jmprieur commented on #737
@aespino27 : the authority should not have the `oauth2/v2.0/authorize` part (what you have described is an endpoint, not an authority).
Did you try with `$"https://{myadb2ctenantshortname}.b2clogin.com/tfp/{Tenant}/{PolicySignUpSignIn}/"` ?

[2018-12-19 13:57] aespino27 commented on #737
@jmprieur : Removing the oauth2/v2.0/authorize, that is, using $"https://{myadb2ctenantshortname}.b2clogin.com/tfp/{Tenant}/{PolicySignUpSignIn}/", yields to the exact same exception and stack trace … System.Exception: The length of the state manager setting name has exceeded the limit.

So @jennyf19, I concur it might be related to hitting the cache storage limit for UWP, I mean, the stack trace

[2018-12-19 16:19] bgavrilMS commented on #737
@aespino27 - how many does $myadb2ctenantshortname have?

[2018-12-19 16:46] aespino27 commented on #737
23

[2018-12-20 15:01] bgavrilMS commented on #737
Understood, the url is long and is causing the issue. I will look at providing a fix as soon as possible.

[2018-12-20 17:15] jennyf19 commented on #505
@BtrJay @dgonzalezp Fixed in [MSAL 2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0)

[2018-12-20 18:12] aespino27 commented on #737
Thx

[2018-12-21 11:04] thchuong-x11 opened #741 "[Question] How do I impersonate a user with ConfidentialClientApplication without knowing the user's password."
### Description Of The Issue
I am working on an application where I need access to data of users within my Azure AD without having to know the user's password.

I don't know if that is possible using `ConfidentialClientApplication`.

I have read the documentation of 'On-behalf-of' flow https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow but I have an impress

[2018-12-22 17:24] 23W opened #743 "AcquireTokenSilentAsync ignores AccessToken and refreshes it by RefreshToken on each call when requesting certain scopes and account is MSA"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
v2.6.2-preview

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth

[2018-12-23 16:06] sergioacortes opened #744 "PublicClientApplication constructor throws MissingMethodException exception"
**Which Version of ADAL are you using ?**
Microsoft.Identity.Client v.2.6.2

**Which platform has the issue?**
Android 9.0 (Api level 28) and visual studio 2017
iOS 11 and visual studio for mac

**Repro**
[code]

[2018-12-24 12:51] bgavrilMS commented on #744
I cannot repro this, I created a new Xamarin Forms app, and added that line to MainPage.xaml.cs in the MainPage() ctor of the shared app. I did not get any exceptions.

I used VS 2017 on a Win10 machine. I don't have acccess to a Mac right now.

A few questions:

- do you get this only with VS for Mac?
- Where is your code? In the shared assembly or in the Android / iOS assembly?
- If in shared, w

[2018-12-24 14:16] hearbeathorror commented on #547
@jennyf19, @jmprieur .. not sure if I am posting in the right issue or branch but I wanted to know if it possible with the medal android SDK to open a custom webview or embedded webview instead of the Chrome browser for authentication. ? Or is that still under development? Kindly let me know please. Thanks

[2018-12-24 17:00] jennyf19 commented on #547
@hearbeathorror You can use embedded webview in the current version of MSAL. Here is information on the [embedded webview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#you-can-also-enable-embedded-webviews-in-xamarinios-and-xamarinandroid-apps) and [system browser on androd](https://github.com/AzureAD/microsoft-authentication-library-for-dot

[2018-12-24 20:04] narindermakin commented on #744
I am having same issue when building with Microsoft.Identity.Client version 2.6.2 on android target. Version 1.1.12-preview008 works fine.

12-24 14:18:57.775	Asus _Z01BDC	Error	4458	AndroidRuntime	android.runtime.JavaProxyThrowable: System.MissingMethodException: string[] string.Split(char,System.StringSplitOptions)
  at Microsoft.Identity.Client.Instance.Authority.CreateAuthority (Microsoft.Iden

[2018-12-25 00:08] jennyf19 commented on #744
@narindermakin Thanks for the update. From [msal v.2.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.0.0) we've had support for embedded webview. I'll take a look at the issue your reported this week.

[2018-12-25 02:59] hearbeathorror commented on #547
Thank you for these.. I did go through them, but then i got confused. So
will this work on native android? Or MSAL-.net is a different app
altogether? I mean can i do this from native android, or set it in native
android to use the embedded webview? Or do i need a backend team to do it
for me? Or the portal or something of the sort?

On Tue, Dec 25, 2018 at 12:00 AM jennyf19 <notifications@github.

[2018-12-25 08:53] 23W commented on #716
@jmprieur , sorry do you have some information when it will be fixed?

[2018-12-26 07:54] vikram-ma commented on #744
I am having same issue when building with Microsoft.Identity.Client version 2.6.2 on iOS target

[2018-12-26 08:31] vikram-ma opened #745 "'Link Framework SDKs Only' causes MT2101 can't resolve the reference error"
**Which Version of ADAL are you using ?**
Microsoft.Identity.Client 2.6.2

**Which platform has the issue?**
Xamarin iOS

**Repro**
Add Microsoft.Identity.Client 2.6.2 package to Xamarin Forms project
Set linker behavior to 'Link Framework SDKs only'
Compile+Link

**Expected behavior**
There should not be any linker error.

**Actual behavior**
Setting Linker Behavior to 'Link Framework SDKs Only'

[2018-12-26 13:48] chixlol commented on #745
I can reproduce this issue with 2.6.1 and Xamarin Forms.

My Android Build fails with 'Link Framework SDKs only' and with 'None' the build runs till the end, but the App crashes during the splash screen.

[2018-12-26 14:02] chixlol commented on #655
I have the same issue, but can't give you steps to reproduce it either.

Sometimes it works, and I receive an AuthenticationResult from AcquireTokenAsync within a few seconds.

But sometimes it just gets "stuck" and AcquireTokenAsync does not return until a timeout exceptions gets thrown.
The strange thing is, that this only happens when the App build was done from the build pipeline in debug mode

[2018-12-26 17:44] jennyf19 commented on #547
@hearbeathorror MSAL .NET uses xamarin to work cross-platform on android and ios, but you can also use our native [android library](https://github.com/AzureAD/microsoft-authentication-library-for-android) as well.

[2018-12-26 22:34] narindermakin commented on #744
The issue also exists on iOS target for me too for Microsoft.Identity.Client version 2.6.2. The 1.1.12-preview008 works fine on iOS.
regards,Narinder.
    On Wednesday, December 26, 2018, 2:54:50 AM EST, Vikram.M.A <notifications@github.com> wrote:

I am having same issue when building with Microsoft.Identity.Client version 2.6.2 on iOS target

—
You are receiving this because you were mentioned.

[2018-12-27 00:18] vikram-ma commented on #745
@chixlol Crash in splash screen is due to MissingMethodException, it is already logged, issue number 744 https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/744

[2018-12-27 02:55] irjudson commented on #745
I am having this issue as well. In fact none of the link options compiles successfully in my Azure DevOps Pipeline -- which is quite discouraging.

[2018-12-27 04:42] RhomGit opened #746 "iOS, keychain access groups and com.microsoft.adalcache"
**Which Version of MSAL are you using ?**
MSAL 2.6.2

**Which platform has the issue?**
Xamarin iOS, Xamarin Forms .NET Standard 2.0, Visual Studio 2017 15.9.3 running on iPhoneSimulator

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ x] Interactive (Azure B2C)

**Repro**
[code]

**Expected behavior**
After entering user/pass the app should authenticate and return token.

*

[2018-12-27 04:47] RhomGit commented on #746
... and I removed the first row from the the plist file, just to test it, and it worked /facepalm.

Closing now, sorry.

[2018-12-27 04:47] #746 closed

[2018-12-27 08:57] hearbeathorror commented on #547
@jennyf19 , i did get a way to let the android sdk open a webview instead of using the browser. However, i face another issue: https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/305, is there some one who could assist? I do not know if the android team is active on github.

Thanks

[2018-12-27 17:19] jennyf19 commented on #547
@hearbeathorror I'll ping the android team.

[2018-12-27 19:19] Rashun001 commented on #745
Seeing the same issues with DevOps Pipeline.  I raised this issue in the Visual Studio for Mac Group, and back channelling through them.  But does anyone have a direct connect with the DevOps Team.  A simple request, create an Agent that has all version of Tooling and SDK, or Libraries needs Unit Tests for DevOps?  Not sure which.

[2018-12-28 00:21] narindermakin commented on #745
I can reproduce it with version 2.6.2. The cause seems to be the TrimStart method in JsonSchemaModelBuilder. This method is not present in mscorlib version 4.0.0.0 and fails. Could have used TrimStart(new char{'#'}) instead of TrimStart('#').

private JsonSchema ResolveReferences(JsonSchema schema)
        {
            if (schema.DeferredReference != null)
            {
                string ref

[2018-12-28 10:16] yhvicey opened #747 "Resource url's trailing slash is omitted, which caused sql auth failure"
**Which Version of ADAL are you using ?**
`Microsoft.Identity.Client v2.6.2`

**Which platform has the issue?**
`net462`

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - ple

[2018-12-31 14:47] jmprieur commented on #744
@sergioacortes @vikram-ma @narindermakin : did you add the MSAL.NET NuGet package both on the shared project and the platform specific projects?
See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-2.6.0-released#msalnet-helps-you-build-multi-platform-applications-more-easily

[2018-12-31 14:47] jmprieur commented on #744
(close by error)

[2018-12-31 14:52] sergioacortes commented on #744
I took this sample repo and fails. This sample repo use version 2.6.2
https://github.com/Azure-Samples/active-directory-xamarin-native-v2

Same code with version 2.4.1-preview works fine wth both platforms Android and iOs

Kind regards

[2018-12-31 15:08] jmprieur commented on #741
you could not know the user's password, but have the user sign-in and consent in a public client application that acquires a token for your confidential client application that, then, can call another API on behalf of the user?
.

[2018-12-31 15:41] dallancarr commented on #741
@thchuong-x11 this is predicated on storing and retrieving the user's password. Which is something you want to avoid.

[2018-12-31 20:37] bukkabalakrishna commented on #744
I am facing the below issue when trying to build xamarin ios project with nuget  Microsoft.Identity.Client version 2.6.2 on mac os . I have later tried building the below xamarin forms sample repo and was able to reproduce the issue.
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

System.MissingMethodException: string[] string.Split(char,System.StringSplitOptions)
  at Micros

[2019-01-01 07:11] vartika29 commented on #716
Hi,

Even I am facing the same issue. Sorry but is the issue fixed now?

Thanks

[2019-01-01 16:09] bgavrilMS commented on #744
@bukkabalakrishna @sergioacortes @narindermakin @vikram-ma

1. Are you using Visual Studio 2017 on Windows or Visual Studio on Mac?
2. Which version of the above?
3. Which version of xamarin SDK is installed. You can get this by going to VS > About and scrolling down in the installed products

![image](https://user-images.githubusercontent.com/12273384/50574378-9af31200-0ddf-11e9-9083-892ceaa553cc

[2019-01-02 11:34] bgavrilMS commented on #745
Looking at these 2 issues

[2019-01-02 13:12] stezma opened #752 "Azure Devops / VSTS build fails with given error - Xamarin Forms"
**Version using  - Microsoft.Identity.Client Version 2.6.2**
After updating the package VSTS build fails with below error.

C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(2053,5): Error MSB4018: The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'Microsoft.Identity.Json.Schema.Jso

[2019-01-02 13:34] bgavrilMS commented on #752
Hi @stezma  - where does the build take place? Are you using a VSTS hosted agent - which one (the VS 2017 one, the Mac one). Or an on-prem agent (is your VS up to date on it?)

[2019-01-02 13:37] bgavrilMS commented on #752
In any case, this looks like a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/745 - see the solution there:

Update VS to 15.9.4

[2019-01-02 13:37] stezma commented on #752
VS 2017 - Android. I haven't try in iOS

[2019-01-02 13:38] bgavrilMS commented on #752
Closi

[2019-01-02 13:38] #752 closed

[2019-01-02 14:00] bgavrilMS commented on #745
@narindermakin - thanks for digging this up. Indeed I can see that the VSTS Hosted 2017 agent is still using  VisualStudio/15.8.7, which would explain why I can see this issue at all (I use the latest 15.9.4).

Will investigate some more and contact the VSTS team to get an update on when the hosted agent image will be updated.

[2019-01-02 14:44] bgavrilMS commented on #744
This issue is a duplicate - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/745

It looks like there is a bug in the .net fwk or in mono, as String.Split and String.TrimStart are actually available.

If you use a linker, then you get into issue #745, because the linker does a static analysis of your code to try to remove parts of the framework to reduce app size. The

[2019-01-02 15:33] bgavrilMS commented on #745
I logged a bug on the Xamarin folk. Still investigating on Mac.

[2019-01-02 17:11] bgavrilMS commented on #744
I have logged an issue https://github.com/mono/mono/blob/master/mcs/class/referencesource/mscorlib/system/string.cs#L1286 to the Xamarin folks to understand the root cause.

The current workaround is to update Visual Studio to the latest version (15.9.4 on Windows, 7.7.2 build 21 for VS on Mac)

[2019-01-02 20:32] thchuong-x11 commented on #741
Understood.
Thank you very much.

[2019-01-02 20:32] #741 closed

[2019-01-02 20:42] bgavrilMS commented on #745
It looks like a Mono bug. I can repro it with VS 15.8.7 on Windows.

Please upgrade to latest VS (15.9.*) or VS for Mac.

[2019-01-02 20:57] bukkabalakrishna commented on #744
@bgavrilMS Updating the vs for mac has fixed the issue. Thanks for your support.

[2019-01-02 20:58] bgavrilMS commented on #744
Thank you for confirming @bukkabalakrishna !

[2019-01-03 01:03] narindermakin commented on #745
@bgavrilMS  thank you for confirming the resolution. One more assistance needed - Could you re-confirm the dependency list of packages that are needed to make version 2.6.2 version work on iOS?  The samples are using older versions and not up to date.

[2019-01-03 03:22] jennyf19 commented on #747
@yhvicey
You need to add another `/` to the scope value:
[code]

Note the double `//` in `database.windows.net//`

MSAL does not look inside the access token claims, we just return it as a string. This works with ADAL because you're hitting a v1 endpoint, and eSTS uses the resource you define as the "aud" claim.

I heard from eSTS, and in your case, you're hitting the v2 endpoint with MSAL using a

[2019-01-03 03:35] yhvicey commented on #747
Adding another slash solved the issue. Thanks for your help!

[2019-01-03 03:35] #747 closed

[2019-01-03 03:36] jennyf19 commented on #747
@yhvicey Great! thanks for the quick response.

[2019-01-03 04:12] irjudson commented on #745
I am using the latest version of VS for mac; still have the problem with Azure Devops...

[2019-01-03 04:15] irjudson commented on #745
see above

[2019-01-03 09:59] bgavrilMS commented on #745
@irjudson - what agent are you using on VSTS? I just checked and all the hosted Mac agents use VS for Mac 7.7.1 or earlier.

@narindermakin - when do you get that exception? It looks like a runtime exception - please provide more details. Are you just performing normal interactive auth in iOS in a Xamarin XForms app? I will try our Xamarin sample on iOS and report back.

[2019-01-03 11:00] LucasLibis commented on #716
Hello,

The issue seems to be solved since this morning

[2019-01-03 11:16] sergioacortes commented on #744
Hi @bgavrilMS,

Updated Visual Studio (windows and mac). Now it works on both platforms.

Tanks for your help

Regards

Sergio Antonio Cortés Ocampo

[2019-01-03 16:31] bukkabalakrishna commented on #512
@jmprieur  I am facing something similar and thought of posting my question here. Please let me know if I need to create a new ticket.

                   In my ios app i am seeing a similar dialogue asking for permission as below and I understand why that is happening. Is there any way I can show the full tenant url (something like https://<tenantName>.b2clogin.com> instead of just "b2clogin.com"

[2019-01-03 18:45] bgavrilMS commented on #745
@narindermakin - I can't repro that exception. I tried with our sample https://github.com/Azure-Samples/active-directory-xamarin-native-v2 but also with an upgraded version (same code, but added to a brand new XForms project, using the latest xforms.dll)

[2019-01-03 19:52] jennyf19 commented on #512
@bukkabalakrishna This pops up anytime the app uses SFAuthenticationSession or ASWebAuthenticationSession, we cannot change what is displayed there, as that is the point of the pop up. From Apple's developer site: " users are prompted by a dialog to give explicit consent, allowing the application to access the website’s data in Safari. When the webpage is presented, it runs in a separate process,

[2019-01-03 20:39] Rashun001 commented on #745
Which version of XForms are you using latest v.Next 4.0 or 3.x.

Also are you seeing this via Azure DevOps, or are you only running a local agent?

[2019-01-03 20:54] bgavrilMS commented on #745
I am using latest stable 3.x. I have seen this running on my local machine. It should not matter if it is local machine or Azure DevOps, it's the Visual Studio version that matters.

[2019-01-03 22:09] narindermakin commented on #745
I am using 3.4.0.1008975 last stable version of Xamarin.Forms with VS 15.9.4 on Windows paired with a Mac (cleared cache on mac also). The exception comes in the call App.PCA.AcquireTokenAsync(scopes, account, App.UiParent). Note that App.PCA.AcquireTokenSilentAsync(scopes, account, authority, false) works as expected and returns below, (since account is null)

ex = {Microsoft.Identity.Client.Msal

[2019-01-04 11:40] ibigbug commented on #575
hi @jmprieur  sorry for commeting an closed issue, but I registerd my app at apps.dev.microsoft.com, but why I still get the v1 access token? using the oauth/v2.0 endpoint?

my app id: 2a5f0cd9-7b82-46d9-b4dd-c2478575c347

[2019-01-04 20:54] MSAppsDev commented on #426
Hi,
Is this fixed?

[2019-01-04 23:13] ggirard07 opened #757 "System.Windows.Forms dependency added when installing Microsoft.Identity.Client in an ASP.Net project"
**Is your feature request related to a problem? Please describe.**
Currently installing `Microsoft.Identity.Client` in an ASP.Net project result in a reference to `System.Windows.Forms` added to the web project despite it makes no sense.

Is it possible to conditionally pulls-in this reference only when needed, ie when targeting the Windows platform?

**Describe the solution you'd like**
Not too f

[2019-01-05 17:01] bgavrilMS commented on #426
@MSAppsDev - no, the issue is still open.

[2019-01-05 19:37] jmprieur commented on #575
@ibigbug : the kind of token you'll get does not depend on the endpoint, but depends on what the Web API you call is capable of supporting. See the **accessTokenAcceptedVersion** property of the [App manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest) (the Web API app manifest)

[2019-01-05 19:54] jmprieur commented on #716
Thanks for the update @LucasLibis

[2019-01-06 02:19] ibigbug commented on #575
@jmprieur thanks for reply.

what I'm doing is I want to use OBO for AzureDevops(VSTS), when requesting the OBO accessToken, if I used V2 endpoint, I'll get a message:

if I use V1 endpoint, I'll get:

seems neither v1/v2 works in my case, any idea for this?

[2019-01-06 10:58] bgavrilMS commented on #757
Hi @ggirard07 - MSAL indeed takes a dependency on Win Forms, because in client apps (e.g. a .net console app or a WPF app), we need to be able to pop up a web browser hosted in a WinForms panel.

I can't see an easy way for us to remove this dependency - we'd have to split the nuget package in 2, a base one and one that provides the WinForms based auth.

While I understand that win forms does not

[2019-01-07 00:04] jmprieur commented on #575
@ibigbug
If I understand correctly you are writing a Web API, which needs to call an Azure DevOps API, and you are trying to use MSAL.NET / the v2.0 endpoint in your API.

The reason why you get the first message (using the V2 endpoint), is because your Web API is not declared as accepting V2 tokens, and therefore the client that calls gets a v1 token from Azure AD.

what you need to do is to acce

[2019-01-07 00:38] jmprieur commented on #575
sorry if I was not clear, @ibigbug
1. Today VSTS only accepts v1.0 tokens so MSAL will have to get from Azure AD a v1.0 token for VSTS (that works). MSAL is called into your app.
2. as you mentioned you were using OBO, I thought your app calling MSAL was a Web API. Is it right? if yes, is if called by a Web App or a Desktop / Mobile app?

[2019-01-07 00:42] ibigbug commented on #575
Thanks @jmprieur. It's clear now.

it's an Web API. As VSTS only accepts v1.0, does that mean I can only use the v1 (instead of the v2.0).

If that's the case, I'm getting the invalid signature error message using the v1 endpoint, does that mean the token I got is somehow broken, can I fix that on my Web API side?

[2019-01-07 00:44] jmprieur commented on #575
actually @ibigbug, you can also use the v2.0 endpoint (and MSAL.NET) provided your web API accepts v2.0 tokens. Did you look at the link I provided above: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2

[2019-01-07 00:54] ibigbug commented on #575
thanks @jmprieur I'm looking into the sample project.

But I'm still confused, since you were saying VSTS only accepts v1.0 tokens, given my WebAPI accepts v2.0, could I use the token to acquire token for VSTS using OBO?

[2019-01-07 01:03] jmprieur commented on #575
yes  @ibigbug, your v2.0 Web API can use MSAL.NET [AcquireTokenOnBehalfOfAsync](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/on-behalf-of) to Acquire, from the v2.0 token it received, a (v1.0) token for VSTS. This is because Azure AD knows that VSTS accepts only v1.0 tokens, and therefore will provide to MSAL.NET a v1.0 token so that your API can call VSTS.

[2019-01-07 02:38] ibigbug commented on #575
@jmprieur changed my Web API App Registration manifest to accessTokenAcceptedVersion = 2, still getting v1 accessToken ..

[2019-01-07 03:46] jmprieur commented on #575
@ibigbug : I'm assuming your're getting a v1.0 token in your Web API. Did you clear the cache of the client application calling your API (otherwise until the token has expired, it would be taken from the cache, and would still be a v1.0 token)
Alternatively I believe that you could call AcquireTokenSilentAsync (in the client calling you Web API) with the override having a force Boolean (to force t

[2019-01-07 07:08] taimila commented on #655
The problem has disappeared from my app and I still don't understand at all why. :( On Xamarin.iOS project I use old `1.1.2-preview0008` version of the Nuget and on Xamarin.Android I have a version `2.4.0-preview`. The issue doesn't seem to be version specific, since it did fail with these specific versions.

I have done other seemingly unrelated changes to the app, but can't understand how those

[2019-01-07 09:36] naxxxel opened #758 "iOS build fails due to issue with iOS SDK when resolving authentication classes"
**Which Version of ADAL are you using ?**
MSAL 2.6.2
Probably originally caused in 2.2 (https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-2.2.0-released#xamarinios-now-leverage-the-best-web-view-depending-on-the-os-version)
Xamarin.Forms 2.5.0.122203

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile

[2019-01-07 17:17] jennyf19 commented on #655
@taimila @chixlol If either of you manage to get logs from a failed acquire token call, that would be really helpful.

[2019-01-07 21:48] chixlol commented on #655
@jennyf19 From my side, I am not able to give you logs from a failed acquire token call, because there is no failed call!? In adb2c and my app everything seems to work fine, except that the function does not return until an exceptions gets thrown.

The interesting thing is, that that three different exceptions get thrown when i try to log in several times. It seems to be completely random what exc

[2019-01-07 21:53] jennyf19 commented on #655
@chixlol And this is only with b2c local accounts? Do you see the same w/FB or Google accounts? Stack traces would be interesting to see. Could you also get logs when these exceptions are thrown? You can email them if you want: jeferrie@microsoft.com

[2019-01-08 05:37] myokeeh commented on #683
Still present in 2.6.2

[2019-01-08 16:40] myusrn opened #763 "use of AcquireTokenByUsernamePasswordAsync for msa signin fails"
**Which Version of ADAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For MSAL, please log issues to https://github.com/AzureAD/microsoft-authentication-library-for-dotnet
MSAL v2.6.2

**Which platform has the issue?**

netcore 2.1 and netfx 4.6.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Int

[2019-01-08 18:00] jennyf19 commented on #683
@myokeeh What is the issue you're having in 2.6.2?

[2019-01-08 20:21] myusrn commented on #763
@bgavrilMS, thanks for response and related details.

I'm not able to use interactive authentication in this case. When you add Msal Microsoft.Identity.Client to a xUnit .net core unit / integration test project the `AcquireTokenAsync()` method is not exposed.

Presumably the nuget package has logic that knows when its being used in a non-UI based project environment and so that method is blocked.

[2019-01-08 21:08] bgavrilMS commented on #763
@myusrn - thank you for the detailed scenario, it's great that you take testing so seriously and we need to make it easier for people to test and provide guidance.

AcquireTokenAsync does not (yet) exist on .net core because .net core does not have any UI functionality. .NET classic however will pop-up a browser hosted in a WinForm panel. Is it possible for you to switch your unit test project fro

[2019-01-08 23:02] myusrn commented on #763
@bgavrilMS switching my unit test project from .net core to .net framework would mean having to switch them all from vs17/vs19 xUnit project type to the mstest based unit [ & integration ] project type.

If msa folks will never allow u/p authentication, even in the case of a unit & integration test project case with perhaps some guards around how frequently it gets called, i'm guessing this means

[2019-01-09 07:21] ibigbug commented on #575
thanks @jmprieur I've been researching this and sent an follow up email to you

[2019-01-09 08:34] Surfrat commented on #630
Welcome to 2019. I see there are now more similar issues logged. Can you please give me some feedback on this? Can you run the sample I supplied to confirm my findings?

Thanks.

[2019-01-09 12:15] bgavrilMS commented on #763
Hi @myusrn . A few thoughts:

1. xUnit supports both .net core and .net classic. Just go edit the csproj file and change the TargetFramework to a .net classic framework (e.g. "net46"). I just tried it in VS 2019 and it works fine.

![image](https://user-images.githubusercontent.com/12273384/50897628-998ba000-1404-11e9-9a50-5a090330956a.png)

This being said, you did not specify what platform and f

[2019-01-09 13:04] myusrn commented on #763
@bgavrilMS, thanks for the continued followup on how to address this scenario

wrt 1.  didn't know I could do that but in this case I am unit & integration testing asp.net core web api implementations that include some .net core class libraries they reference

wrt 2.  currently I use a separate app to do signin and token acquisitions for three different web api endpoint audience Uri's I need to te

[2019-01-09 16:00] bgavrilMS commented on #745
Closing, I will update this thread when I hear back from the VSTS people about them updating the Hosted build images.

[2019-01-09 16:00] #745 closed

[2019-01-09 16:01] bgavrilMS commented on #744
Closing, I will update the thread when I hear back from the VSTS folk about hosted build image update

[2019-01-09 16:01] #744 closed

[2019-01-09 16:06] onovotny commented on #449
Seems like this is documented here, but MSAL could do a better job at validating these with the client credential flows:
https://docs.microsoft.com/en-us/graph/auth-v2-service#4-get-an-access-token

@bgavrilMS ?

[2019-01-09 17:04] #757 closed

[2019-01-09 17:47] paule96 commented on #728
hi @jmprieur,

I have a simular issue. I write a dotnet tool to list and download the onedrive albums. (because the website and the client can't handle big albums download (2000 Items and more per album))
But in a dotnet tool I can't open a browser. So I must use the device code flow.

[2019-01-09 18:07] bgavrilMS commented on #763
Got it now, thanks.

Firstly, I did some investigation and it turns out MSA does not support Device Code Flow, but I believe they plan to fix it (https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/728#issuecomment-452787875)

With regards to your scenario, the reason you only get ~1h out of your tokens is because the access token does indeed have 1h expiration. The refre

[2019-01-09 18:08] myokeeh commented on #683
@jennyf19, the same issue originally reported.

To check on this issue easily, I've put in some code to allow me to switch between ADAL and MSAL easily, and as reported, when the app is using MSAL, this exception comes back.

Workaround to Reset the app via Windows 10 settings fixes it, but is not ideal for production.

[2019-01-09 18:13] jennyf19 commented on #683
@myokeeh any chance you can send me the sample you are using?

[2019-01-09 19:54] paule96 commented on #728
Oh and I have missed one detail. A dotnet core tool can only be build with dotnet core and not with full framework. :(

[2019-01-09 22:03] myokeeh commented on #683
@jennyf19, unfortunately, it's not a project I can easily send without a lot of modification.

[2019-01-09 22:45] jennyf19 commented on #683
@myokeeh okay...i understand. Can you send me detailed repro steps so I can try to replicate the issue on my end? you could be hitting a cache limit w/UWP, as you mentioned earlier.

[2019-01-10 01:01] myusrn commented on #763
@bgavrilMS thanks the device code flow seems like localhost releavent strategy for acquiring bearer token w/o having to provide unit & integration tests access to a test user's credentials.  The ability for refresh token to make the Microsoft.com/devicelogon code entry process a once every 90days experience really is significant especially if they are eventually going to also add msa support.

Tha

[2019-01-10 01:10] minaairsupport commented on #745
I think Appcenter face the same issue

  `CSC : error CS1705: Assembly 'AgentWay' with identity 'AgentWay, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' uses 'Microsoft.Identity.Client, Version=2.6.2.0, Culture=neutral, PublicKeyToken=0a613f4dd989e8ae' which has a higher version than referenced assembly 'Microsoft.Identity.Client' with identity 'Microsoft.Identity.Client, Version=2.1.0.0,

[2019-01-10 01:22] jmprieur commented on #763
@myusrn
MSAL only provide an implementation for the token cache serialization on Mobile platforms. For .NET Desktop and .NET Core (which I understand your tests are), you need to provide a custom token cache serialization. This is explained in : https://aka.ms/msal-net-token-cache-serialization

[2019-01-10 01:47] myusrn commented on #763
@jmprieur thanks for the response and pointer to article on token cache including code for simple file based one.

I'm guessing that the [Msal]TokenCacheHelper.cs use of System.Security.Cryptography.ProtectData for creating a local disk secured file to contain refresh tokens is going to be machine specific.  In other words i'm not going to be able to run a set of "Web Performance and Load Test" *.

[2019-01-10 09:49] bgavrilMS commented on #763
For testing, you don't need to call the ProtectData APIs, just read/write to a plain file. Try to get it working on a single machine first.

If you need the token cache to be available across multiple machines, perhaps you should write it to a file share, or to some other storage mechanism that is cross-machine, such as a database or a redis cache.

The cache is not machine specific, so as long as

[2019-01-10 10:37] bgavrilMS commented on #745
Yes, App Center will have the same problem.

The VSTS (Azure DevOps) team have a tentative deadline of end of January for updating the Hosted agents build. It seems to take longer because the new image is very large.

[2019-01-10 12:01] bgavrilMS commented on #683
@myokeeh - you way that you are facing this issue when you upgrade MSAL. This seems like a token cache issue, because when you reset the application, it will delete it's ApplicationData where we store the cache.

What version of MSAL are you upgrading from?

[2019-01-10 13:51] naxxxel commented on #758
So maybe you can wait it out if you prefer..

[2019-01-10 21:31] jennyf19 opened #776 "Cannot register two managed types - iOS webviews"
**Which Version of MSAL are you using ?**
2.6+

**Which platform has the issue?**
ios

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**
Use ADAL 4

[2019-01-10 21:31] jennyf19 commented on #776
fixed here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/767

[2019-01-10 21:34] jennyf19 opened #777 "MSAL should resolve TeamID"
Devs are forced to include the TeamId prefix, which will change between dogfood and development time. MSAL should resolve the TeamId prefix during runtime.

[2019-01-10 21:34] jennyf19 commented on #777
fixed here https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/771/files

[2019-01-10 21:40] jennyf19 commented on #758
@naxxxel have you followed the [troubleshooting guidelines](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Pre-requisites-to-build-ADAL.NET-and-MSAL.NET#troubleshooting). For ASWebAuthenticationSession to work, you need to have XCode10 on the Mac and latest VS (at least 15.8.7).

[2019-01-11 01:58] jmprieur commented on #449
No @bgavrilMS : the scope should be "resource/.default". I wrote scope as we cannot request tokens for several resources. So the rule is
scopes.Length == 1
and scopes.First().EndsWith(".default")

[2019-01-11 06:33] jmprieur commented on #635
@MarkZuber (for memory): something we'll do systematically with the builder-based AcquireTokenXXX

[2019-01-11 06:35] jmprieur commented on #426
@MarkZuber : done part of the confidential client builder based app configuration

[2019-01-11 13:29] minghan opened #778 "ADAL.net fails to AcquireToken for Integrated Windows Auth when VPN with RasCredential is used"
**Which Version of MSAL are you using ?**
Microsoft.IdentityModel.Clients.ActiveDirectory, Version=2.28.1.741, Culture=neutral, PublicKeyToken=31bf3856ad364e35

**Which platform has the issue?**
Windows 10, Net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless

[2019-01-11 14:59] Jmaharman commented on #725
I've found the same issue / confusion. Bearing in mind the TokenCache is a new instantiation each time, I wouldn't expect to have previous tokens in there. On top of that, the implementations that wrap it, such as MsalSessionCache, all make it look like you would only be serializing the current user's token, not all tokens in memory from the point that the server was started.

I've looked at this

[2019-01-11 15:14] jmprieur commented on #725
There seem to be a problem with the B2C Web samples. I need to have a look at them and fix them.
Confidential client applications, should managed one user token cache per user, keyed by the user unique ID, as shown in this sample:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/27cb318134f88fe2004f3932f06995b2f0195881/Extensions/InMemoryTokenCacheHelper.cs

[2019-01-11 15:46] WilliamWatterson86 opened #779 "Xamarin B2C - The provided grant has not been issued for this endpoint"
**Which Version of MSAL are you using ?**
v2.6.2

**Which platform has the issue?**
Xamarin

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
I have a Xamarin app.  I initi

[2019-01-11 16:06] jmprieur commented on #779
@parakhj. what would be your recommendation?

[2019-01-11 16:12] jmprieur commented on #763
@myusrn : are you happy with the answer. do you want to close the issue? (I think this diverged a bit from the original question :) )

[2019-01-11 16:41] myusrn commented on #763
@jmprieur yes i'll close issue with this comment.  My take away is that device code flow should eventually include support for test msa token acquisitions  Related to that a redis or unencrypted file other user token cache implementation can be used to enable non-interactive token acquisitions for test msa [ and wsa ] accounts during localhost and cloud load test scenarios.

[2019-01-11 16:41] #763 closed

[2019-01-11 17:41] MarkZuber commented on #635
@jmprieur -- agreed.  I don't think a work item for full plumbing of CancellationToken was added to that work item list I sent you.  Can you please add it when you file them?

[2019-01-11 19:23] parakhj commented on #779
Interesting. Yea, you will have to reauthenticate the user using the sign-up or sign in (SUSI) policy. Because the user will already be signed in, SSO should kick in and so the user shouldnt have to sign in again. The only problem is that they may see a flash.

That being said, any reason why you have a SUSI and a sign up policy?

[2019-01-14 06:52] naxxxel commented on #758
@jennyf19 thanks, altough this only mentions the simulator. Also, in our scenario XCode10 is installed. However, the build is done with iOS 11 SDK due to some system configuration.

=> If MSAL >=2.2 does not support building against iOS 11 SDK, you can close this.

[2019-01-14 12:44] MagicBulletDave opened #783 "Microsoft.Identity.Client.MsalClientException: The application does not have keychain access groups enabled...failure to save to the iOS keychain."
**Which Version of MSAL are you using ?**
MSAL 2.5.0-Preview

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive

**Repro**
We currently have an interoperability issue with MSAL and Microsoft App Center. We have set up MSAL correctly with the required keychain sharing capabilities in Entitlements.plist. We build in Az

[2019-01-14 15:09] Jmaharman commented on #725
Thanks for the quick response @jmprieur, I'd be interested to see how you fix the problem.

Personally I think once you look into fixing it, you'll find the same issue myself and @jondmcelroy have come across.

I was finding that even a completely newly instantiated TokenCache, with no state deserialized, had the previous users accounts still in the cache. I also tried to reload the state with a n

[2019-01-14 15:25] jmprieur commented on #725
@Jmaharman : are you telling me that using the approach I proposed (One token cache per account ID), you still see  several accounts in the token cache?
I'll look at that

cc: @henrik-me

[2019-01-14 17:53] jennyf19 commented on #758
@naxxxel Closing, as you will need iOS 12.1 sdk.

[2019-01-14 17:53] #758 closed

[2019-01-14 18:08] jennyf19 commented on #783
@MagicBulletDave We have a change coming out with how MSAL handles the TeamId, which we are currently testing. You can pick up the release package now from [myget](https://www.myget.org/F/aad-clients-nightly/api/v2/)...Msal v2.7.0. Can you try it and see if you get different behavior? If you can email [logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#sample

[2019-01-14 22:45] jennyf19 commented on #783
@MagicBulletDave related -> https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/777

[2019-01-15 09:15] Jmaharman commented on #725
That is what I was suggesting, however in modifying the sample to prove my point I've not been able to re-produce.

I will come back to you when I've got a concrete example, or if I find where I was going wrong.

[2019-01-15 10:24] cherici-simone opened #787 "App kept switch back to login screen with every tap after successfully login"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 2.6.2

**Which platform has the issue?**
xamarin forms (iOS)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windo

[2019-01-15 14:53] jmprieur commented on #725
ok. thanks @Jmaharman. Looking forward to having repro steps.

[2019-01-15 14:56] jmprieur commented on #787
@cherici-simone : can you please share repro steps? or code snippets?
did you follow the instructions in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities ?

[2019-01-16 06:48] Kunjahamed-P opened #789 "AccessToken Token validation in Dot net core app"

[2019-01-16 09:58] Kunjahamed-P commented on #789
.

[2019-01-16 09:58] #789 closed

[2019-01-16 17:15] jennyf19 commented on #783
@MagicBulletDave closing, as this seems to be an AppCenter bug at the moment. Our fix for TeamId is one part of this. We are communicating via email, so if needed, i'll reopen.

[2019-01-16 17:15] #783 closed

[2019-01-16 17:15] #777 closed

[2019-01-16 17:15] #776 closed

[2019-01-16 17:15] #690 closed

[2019-01-17 05:47] myokeeh commented on #683
@bgavrilMS latest attempt is from ADAL v4.5.0 to MSAL v2.7.0. Issue remains.

I'm looking at C:\Users\{User}\AppData\Local\Packages\{package} subfolders looking for the cache, but it's not there. Am I looking at the wrong place?

Can I just force delete the cache at launch of my app to try? If so, how?

[2019-01-17 10:44] bgavrilMS commented on #683
Hi @myokeeh - on UWP ADAL keeps it's cache in AppData - there are 4 containers you need to delete. See details in the source code:

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/uap/UapTokenCacheAccessor.cs#L62

You should however be able to migrate an ADAL app to MSAL. I will investigate this bug, but if

[2019-01-17 15:37] myokeeh commented on #683
@bgavrilMS, I just switched back to ADAL to test. AppData remains 0 bytes after logging in and closing the app.

I'll push out an update that will specifically `DeleteContainer` those 4.

`ApplicationData.Current.LocalSettings.DeleteContainer(LocalSettingsAccountContainerName);                            ApplicationData.Current.LocalSettings.DeleteContainer(LocalSettingsRefreshTokenContainerName);

[2019-01-18 00:45] trwalke opened #796 "IByRefreshToken api needs to be implemented for ClientCredential Flow to store application tokens"
**Which Version of MSAL are you using ?**
Latest

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
Refresh token flow Via IByRefreshToken API

**Expected behavior**
The AcquireTokenByRefreshToken method should be able to support application tokens

**Actual behavior**
Only user token are supported

[2019-01-18 00:47] trwalke opened #797 "IByRefreshToken API is exposed on mobile platforms which are not supported."
**Which Version of MSAL are you using ?**
Latest

**Which platform has the issue?**
UWP, xamarin android, xamarin iOS

**What authentication flow has the issue?**
IByRefreshTokenFlow

**Expected behavior**
Should not be accessable on mobile platforms

**Actual behavior**
the api is accessable

[2019-01-18 02:50] myokeeh commented on #683
So doing the above seems to allow the app to prompt sign-in. Unfortunately, it results in a different reason for the exception. Now, it has logged something that I can send. Watch out for my email.

   at MyUWPApp!<BaseAddress>+0x2abca08
   at MyUWPApp!<BaseAddress>+0x2ac8267
   at MyUWPApp!<BaseAddress>+0x2c5c514
   at MyUWPApp!<BaseAddress>+0x2c52f0b
   at MyUWPApp!<BaseAddress>+0x2c65ea0
   at

[2019-01-18 03:08] myokeeh opened #799 "domain_hint Not Working"
**Which Version of MSAL are you using ?**
2.7.0

**Which platform has the issue?**
UWP Desktop

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

MSAL version (DOES NOT show

[2019-01-18 03:36] jmprieur commented on #722
@parakhj @valnav: do you have an update on this issue
cc: @jennyf19

[2019-01-18 10:46] bgavrilMS commented on #683
Hi @myokeeh - I will be able to investigate this issue on Monday.

You might want to delete and then recreate those containers, but I am not able to test this now.

Just to understand your scenario here - you have an app that uses ADAL and you are upgrading it to use MSAL. You don't get this type of issue when deploying the new app (with MSAL) on a clean device, but only when upgrading.

[2019-01-18 15:37] myokeeh commented on #683
I'll try recreating the containers. Not automatically done?

Correct. I don't see it debugging in VS. It's only an issue with existing installs using ADAL upgrading to one using MSAL. I can go back and forth and is very reproducible. No issues on new install with MSAL.

[2019-01-18 17:00] jennyf19 commented on #783
@MagicBulletDave AppCenter has identified a bug on their end, where they were changing the entitlements to use a wildcard during signing of the app. Their fix should be out Jan. 21.

[2019-01-19 12:51] Mephisztoe commented on #715
I am new to MSAL and have been playing around with it using a sample that uses the first preview of MSAL released (1.0.3041...). I implemented a Xamarin Mobile App using MSAL only for signing in and up - now API Access included (yet). The corresponding call to AcquireTokenAsync passed the ClientID as Scope and it worked.

Now that I am Setting up a base Project on my own using the most up to date

[2019-01-19 17:45] jennyf19 commented on #715
@Mephisztoe You might find this interesting on the [differences between msal v1 and v2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#changes-in-msalnet-between-1x-and-2x) as well as [how to migrate from v1 to v2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#migrating-from-msalnet-1x-to-msalnet-2x)

[2019-01-19 18:34] jmprieur commented on #799
@MarkZuber @henrik-me  didn't you say this week that extraQueryParameters were not sent to the STS in MSAL 2.x ?
This will be fixed in MSAL 3.x.

[2019-01-20 20:13] Mephisztoe commented on #715
Thanks @jennyf19! I was Looking for information exactly like this (migration notes, etc.). If these details don't help, I will come back to you. I believe my problem is related to some misunderstanding of the concepts behind. For example: Practically any sample shows how to define scopes for getting token to access specific API methods. However, My app doesn't have any API yet and all I want to ge

[2019-01-21 03:04] jmprieur commented on #715
What is your scenario, @Mephisztoe
What do you want to do with the signed-in user if you don't call an API?

Would it be an issue if you just passed new string[] {"user.read"} as a scope?

[2019-01-21 14:13] bgavrilMS commented on #683
Hi @myokeeh

I spent some time on this today but I cannot get this to repro. I created an UWP app that references both ADAL and MSAL. I login with a user in ADAL and then I log into MSAL as well. This seems to work.

Here are some thoughts:

1. Try the sample app and see if it works on your scenario. Try to adapt it so that it reproduces the bug

https://github.com:443/AzureAD/microsoft-authentica

[2019-01-21 15:28] phatcher opened #805 "Documentation/Samples need updating for current API"
### Documentation Related To Component:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ x] documentation needs clarification
- [x ] error(s) in example
- [ ] needs example

### Description Of The Issue
Documentation is based on an obsolete version of the API e.

[2019-01-21 20:08] StephenHodgson opened #807 "Please include signed dlls in github releases"
Please include built and signed dlls in releases.

[2019-01-21 21:47] livehop opened #808 "Moving from login.microsoftonline.com to b2clogin.com causes `The IDP client key/secret is not properly configured` error with Facebook IDP"
I upgraded to MSAL 2.7.0 and tried to move to <tenant>.b2conline.com
I am using Xamarin Forms

In my Xamarin Forms application, the login screen appears, I am able to register and also get my user created but the control never gets redirected to my app. (the application just hangs).
Am I missing a redirect setting somewhere ? In my native app; I set my redirect to
msal<tenantid>://auth

**What aut

[2019-01-22 08:19] jmprieur commented on #807
Hello @StephenHodgson
Can you please elaborate on why to add the DLLs?  Aren't the NuGet packages enough?

[2019-01-22 08:21] StephenHodgson commented on #807
Can't download nuget packages inside of Unity game engine.

It would just be a lot easier to download and consume without having to create an empty project to download the nuget packages every time there's an update or building from the source each time as well.

[2019-01-22 11:30] jmprieur opened #810 "[New API] Improved 3.x API leveraging builders"
## Problem to solve: The API needs simplification, it has many overrides and we need more.

### Summary
We want to add more information to the constructors of applications, and some flows (AcquireTokenAsync), and therefore we need more overrides. But we already have too many overrides. Also every customer needs to implement the configuration of apps.

This issue proposes to solve these problems.

[2019-01-22 13:39] mcetkovsky opened #812 "Access Token Signature validation fails"
**Which Version of MSAL are you using ?**
2.7.0

**Which platform has the issue?**
.NET 4.6 / Win 10 1809

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Repro**

[code]

1. Provide a `ClientId` value, put breakpoint to the last line, run the code and sign in to Azure.
2. Grab the `accessToken` value and put it into the `Encoded` field at https://jwt.io/
3.

[2019-01-22 19:05] jennyf19 commented on #808
@livehop Which platform (iOS, Android, UWP) is having the issue?
for the redirect uri, do you have the client_id in there? $"msal{client_id}://auth"

[2019-01-22 19:06] jennyf19 commented on #787
@cherici-simone can you provide the above information?

[2019-01-22 19:38] livehop commented on #808
I am testing this on Android; on further debugging I found that the problem is with Facebook and MSAL; the same settings works when I use the web but on Android it says your credentials and key are incorrectly set up.

The other ways of logging (Microsoft / gmail ) work ok; facebook just gives an exception. I also tried the same thing with the MSAL active-directory-b2c-xamarin-native-master projec

[2019-01-22 19:40] livehop commented on #808
Sorry .. just to clarify, the "hang" that I was saying was incorrect; the thread was just existing; -- I am just getting an exception with Facebook. I have deleted the IDP and recreated it twice -- not sure if I am missing some subtle step.

[2019-01-22 19:42] jennyf19 commented on #808
@livehop Thanks for the additional information. Can you send the exact error message you're getting? Are you using system browser or embedded webview for auth?

[2019-01-22 19:47] livehop commented on #808
I am using the system browser; attached is the Display error message I get
on my actual device

Thanks!

On Tue, Jan 22, 2019 at 2:42 PM jennyf19 <notifications@github.com> wrote:

[2019-01-22 19:48] livehop commented on #808
![screenshot_20190122-144642](https://user-images.githubusercontent.com/11602611/51561280-c902c980-1e54-11e9-8360-a936adafc559.png)

[2019-01-22 19:53] jennyf19 commented on #808
@livehop Thanks...very helpful. You're getting an error back from B2C. Did you follow the [b2c documentation for setting up a FB IDP](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-fb-app)?

[2019-01-22 19:57] livehop commented on #808
I tried repeating this document twice -- not sure what is wrong; if I do it
using the 'run workflow' on azure b2c (for webapp account); the same
facebook IDP  works. For now, I am just going to remove Facebook from my
policy :(.

Thinking of deleting and recreating the Facebook IDP again (just to double
confirm I am not missing any step).

On Tue, Jan 22, 2019 at 2:53 PM jennyf19 <notifications@gi

[2019-01-22 21:33] StephenHodgson commented on #728
Looking down into the code I noticed that we're [forcing the replacement of common with organizations for some reason](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/Microsoft.Identity.Client/Features/DeviceCode/DeviceCodeRequest.cs#L82).

Could we get clarification if the discovery endpoint is online and availible to use so this work can be completed?

[2019-01-22 21:56] devigned opened #818 "Allow for building the project using OSX / VS Code"
**Is your feature request related to a problem? Please describe.**
When attempting to contribute to the project using OSX it is very difficult to configure / build the project.

**Describe the solution you'd like**
It would be great if the project could build under OSX using cmd line or VS Code. Preferably, just be able to run `dotnet restore` and `dotnet build`. Clearly, this would not include fu

[2019-01-22 23:55] henrik-me opened #820 "Ensure we send client headers to the user realm end-point"
**Is your feature request related to a problem? Please describe.**
AAD is not able to tell which library is calling the user realm end-point. We should ensure AAD has this information available allowing them to inform us should our calls not succeed.

**Describe the solution you'd like**
Add client sku, etc. headers to all the calls we make to the AAD user realm end-point.

**Additional context**

[2019-01-23 01:06] MarkZuber commented on #799
Verified this is not being sent on 2.7.0.  This is fixed in our dev3x branch as part of our upcoming 3.x release.  We don't have locked down timelines for a 3.x release but it should be within the next two weeks.  is this blocking you @myokeeh or can you wait for our 3.x release?

[2019-01-23 01:36] MarkZuber commented on #426
In 3.x, constructing with null will set the default redirecturi to be urn:ietf:wg:oauth:2.0:oob and that redirecturi will get used during any requests as needed.

I've added unit tests to explicitly cover this case in dev3x.

[2019-01-23 01:37] jennyf19 commented on #426
@MarkZuber just for confidential clients?

[2019-01-23 01:37] MarkZuber commented on #799
Thanks for the quick reply @myokeeh .  Keep an eye out for announcements of our 3.x release.

[2019-01-23 02:33] jmprieur commented on #426
yes, just for Client Credentials, actually (daemon apps)

[2019-01-23 03:00] jmprieur commented on #812
@mcetkovsky what scope do you request? is it for Graph?
if this is for graph, did you consider the nonce?
adding @brentschmaltz

[2019-01-23 03:19] jmprieur commented on #808
Adding @parakhj
I think that the application your created on facebook is not well configured, or you did not copy the client secret correctly. I would not think that this is an MSAL issue.
cc: @jennyf19

[2019-01-23 06:12] mcetkovsky commented on #812
The token is consumed by the PHP server only to call https://graph.windows.net/me?api-version=1.6 to retrieves user's userPrincipalName. The signature verification is being performed before placing this call.
The client mentioned "user.read" scope and receives a token with `scp` set to `Directory.Read.All User.Read profile openid email`.
Yes, there is a nonce in the header.

[2019-01-23 07:39] jmprieur commented on #812
@mcetkovsky if this is a token for AAD Graph, it's only meant to be validated by the AAD Graph (which knows how to validate it). It's not for your PHP Web API (which should not even try to look at it). IF you had issues with a token for your own Web API that would be different.
Note that it's a good token, but it has a nonce, which is used to prevent replay scenarios (where you’d store the token a

[2019-01-23 07:55] jmprieur opened #823 "`Build and test` wiki page needs to be updated"
**Which Version of MSAL are you using ?**
MSAL 2.5.7

Other? - please describe;
The wiki page helping contributors building and testing MSAL.NET still references the ADAL.NET page. This is no longer correct as we have moved MSAL back to its own repo in December 2018.

**Repro**
Go to [Build & test MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/build-and-test)

[2019-01-23 09:17] jmprieur commented on #812
@mcetkovsky the right way of doing would be:
- have your .NET client request a token **for your PHP Web API**, not for the Graph. You Web API could therefore validate the token, and look at the tid. (You'll get a token for your Web API so you can look into it). You can then apply your logic to check the tenant.
- then your Web API should use the [On Behalf Of](https://docs.microsoft.com/en-us/azur

[2019-01-23 09:18] mcetkovsky commented on #812
The Web site is in PHP.

[2019-01-23 09:37] jmprieur commented on #812
your Web Site has a clientID that you obtained by registering your application in https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredAppsPreview (or through PowerShell). If you change accessTokenAcceptedVersion  to 2, your Web API will now get v2.0 tokens, which will directly contain the prefered_username claim.

[2019-01-23 09:53] 0k1 commented on #728
Authenticating all account users with device code flow is something of great interest. Hoping to have this [limitation](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Device-Code-Flow#Constraints) resolved soon.

[2019-01-23 09:53] mcetkovsky commented on #812
I finally see, the `manifest` refers to a Azure AD app registration rather than to a .NET manifest. I'll play with it a bit.

[2019-01-23 10:23] jmprieur commented on #812
closing as agreed. but feel free to keep commenting

[2019-01-23 10:23] #812 closed

[2019-01-23 10:24] jmprieur commented on #728
We hope that it will be available in this Quarter.

[2019-01-23 12:54] mcetkovsky commented on #812
I am almost done. However, I get an `Your access token has expired. Please renew it before submitting the request.` error when calling `https://graph.windows.net/me?api-version=1.6` with the token I get from the `on_behalf_of` flow.

1. .NET app requests a token for a web-api's `access_as_user` scope and pass the token to the web app.
2. The web app successfully verify the token signature and valu

[2019-01-23 12:56] jmprieur commented on #812
For the issue with the issuer, this is expected as `sts.windows.net` is an alias of `login.windows.net` and `login.microsoftlonline.com`.

If you look at what is returned in https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize, you'll notice that the json blob has a property named metadata which

[2019-01-23 13:48] bgavrilMS commented on #823
Done.

[2019-01-23 13:48] #823 closed

[2019-01-23 14:01] mcetkovsky commented on #812
I have failed to find a documentation how to use the discovery/instance url (Google returns no result when searching for that url).

It seems to require some values of `version` and (`authorization_endpoint` or `issuer`) parameters. It also contains `common` in its url which is usually used for non-tenant specific calls.

I wonder whether what does the `version` means, whether I should put a speci

[2019-01-23 14:09] mcetkovsky commented on #812
Neither I found what does `cloud_graph_host_name` and `msgraph_host` means in the `openid-configuration` endpoint. I searched for `cloud_graph_host_name site:docs.microsoft.com` but did not found any useful hit. I wonder whether I can use these values to build an Graph API url instead of hard-coding `graph.windows.net` in the code.

[2019-01-23 14:48] bgavrilMS commented on #818
Hi David,

Thank you for considering contributing! I updated our wiki based on your feedback  https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Build-and-Test

MSAL is a multi-target library so you need to use `msbuild` command line, which is able to build Xamarin and UWP. `dotnet` only targets .Net Core.

VS for Mac unfortunately does not understand multi-target framewor

[2019-01-23 14:53] jmprieur commented on #812
@mcetkovsky
for your token expired issue:
1. you should request a token for a web-api's .default scope (GUID_for_your_web_API/.default)
3. I suggest that you call the Microsoft Graph instead of the Azure AD graph. You probably want to request "user.read". MSAL.NET also requests openid profile offline_access (but this is to manage the cache, I don't think you need them.
4. then you want to call `ht

[2019-01-23 14:58] livehop commented on #808
Actually this was working before I went to b2conline.com Secondly, when I
test it using the webapp flow; I am able to authenticate by my jwt.ms
webpage does not show tokens returned (blank). On my android, it does not
even get to the authentication page; directly gives the exception I pasted
above.

I have deleted and re-created the ID's in Facebook and Azure twice;
following the exact instruction

[2019-01-23 15:20] bgavrilMS commented on #737
Hi @aespino27 - apologies for the long wait. I have a fix for this, would it be possible for you to try it out?

I created a nuget packge with MSAL with the fix and you can get it here: https://www.myget.org/feed/aad-clients-nightly/package/nuget/Microsoft.Identity.Client/2.7.1-internal02302uwp2x

If you don't know how to install nuget package from sources other than NuGet.org, check this wiki pag

[2019-01-23 15:37] aespino27 commented on #737
Thank you, I'll try to give it a shot during the weekend and let you know the outcome.

[2019-01-23 17:18] jennyf19 commented on #808
@livehop Are you using `$"https://{your-tenant-name}.b2clogin.com/tfp/{your-tenant-ID}/{policyname}"` as the authority? You mention b2conline.com above, but it should be [b2clogin.com](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin).
You can email us anything you want regarding your set-up. jeferrie@microsoft.com

[2019-01-23 17:27] livehop commented on #808
Yes I am using $"https://{your-tenant-name}.
b2clogin.com/tfp/{your-tenant-ID}/{policyname}
<http://b2clogin.com/tfp/%7Byour-tenant-ID%7D/%7Bpolicyname%7D>"

I mist-typed it as b2conline (quick typing  -- sorry for the confusion). I
am following the exact guide lines from the Azure documentation to change
to b2clogin . I used to be on the older way of doing things until I saw
that they are going t

[2019-01-23 17:29] parakhj commented on #808
What is the reply URL that you specified in the FB app registration?
Parakh
________________________________
From: livehop <notifications@github.com>
Sent: Wednesday, January 23, 2019 9:27 AM
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: Parakh Jain; Mention
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] Upgrading to B2COnline user registers but I dont get control

[2019-01-23 17:51] livehop commented on #808
My
redirect URL is :   https://<tenant name all lower case>.b2clogin.com/
<tenantname>.onmicrosoft.com/oauth2/authresp
site URL is : https://<tenant name all lower case>.b2clogin.com/

thanks

On Wed, Jan 23, 2019 at 12:29 PM Parakh Jain <notifications@github.com>
wrote:

[2019-01-23 17:57] mcetkovsky commented on #812
Its quite challenging to translate `token expired` into its actual meaning `you have not requested a token for this scope`.

It works now. I just still wonder how does the https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize works as I mentioned in https://github.com/AzureAD/microsoft-authentica

[2019-01-23 18:01] jmprieur commented on #812
I agree with you @mcetkovsky
I'll raise a bug against Azure AD for the error message.

how did you make it work? did you only request User.Read?

[2019-01-23 18:18] mcetkovsky commented on #812
Yes, I request `https://graph.microsoft.com/User.Read`. However, I failed to get a list of scopes in docs but I managed to get the list from the `Add a permission` action in the Azure portal.

If you can guide me through the discovery/instance endpoint or point me to the right doc page, so I understand how to use it properly, I would make the issuer check in the code aware of aliases.

[2019-01-23 19:02] jmprieur commented on #812
I'm confused, @mcetkovsky : isn't https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/812#issuecomment-456791675 enough guidance?

[2019-01-23 23:42] mcetkovsky commented on #812
It was somewhat enough. However, I was trying to find an official docs or specification of this endpoint so I can study details. I failed to find any. The only thing I found are official libraries like [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/Microsoft.Identity.Client/Instance/AadInstanceDiscovery.cs).

While playing with that endpoint I discove

[2019-01-24 00:46] livehop commented on #808
I used the jwt.ms just as a placeholder because it was recommended in the
documentation.... I can point it to localhost or my site, however I don't
think it will change the outcome :(, since on my native app also I get an
exception.

Very strange I am getting this issue., if it helps I can share my client ID
pwds.... And recreate then later once we find the issue

On Wed, Jan 23, 2019, 4:29 PM Par

[2019-01-24 02:40] jmprieur commented on #812
I have not found any doc either, @mcetkovsky
I'll ask our protocol team about documenting this. Also, I'll try to figure out how to use issuer.

[2019-01-24 07:16] mcetkovsky commented on #812
Thanks @jmprieur, you helped a lot.

[2019-01-24 14:21] sfm2222 opened #830 "Unable to find implementation of microsoft login for windows form applications"
#documentation doesn't exist

Unable to find the implementation of Microsoft login for windows form applications.

How can I integrate Microsoft account login in C# windows application? I have tried going through the documentation but all the steps are for either web or ASP.NET core.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-2.2

[2019-01-24 14:24] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/51684356-28471200-1fec-11e9-937a-009f02268aae.png)

[2019-01-24 15:51] 0k1 commented on #728
@jmprieur Will domain accounts also work within a different tenant then? Will we be able to sign in an external user without adding him to our tenant?

[2019-01-24 16:31] jmprieur commented on #728
@0k1 : I believe that this is already the case. If your app is multi-tenant (audience = organizations), this works already.
Did you see: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Device-Code-Flow#constraints ?

[2019-01-24 18:12] 0k1 commented on #728
Confirmed. Thank you.

[2019-01-24 21:31] parakhj commented on #808
Fiddler/network trace is probably the easiest way to track down the issue.  Other option is, could you paste the response from facebook to B2C right after click on "Facebook" to sign in

[2019-01-24 22:05] livehop commented on #808
I have the fiddler trace also from the jwt page response; the error is the
same (not properly configured); apologies for wasting all our time -- I am
going to re-configure this one last time and I will also document it screen
by screen blurring the sensitive information to see what mistake I am
making.

Following is the response header of jwt :-

https://jwt.ms/#error=server_error&error_descriptio

[2019-01-24 22:16] livehop commented on #808
Just tried again -- configured but the same error; would you guys want to
come on my teamviewer for exactly 2-3 minutes; I can go over the changes
live and show you it is not working;
Wondering if I should just delete and start with a new facebook app from
scratch.

Let me try that.

On Thu, Jan 24, 2019 at 5:04 PM Dhiru Jadhav <dhirujadhav@gmail.com> wrote:

[2019-01-24 22:21] jennyf19 commented on #808
@livehop sorry you're having so many issues with this. @parakhj let me know if you want to join a call, you are the expert in this area.

[2019-01-24 22:33] jennyf19 commented on #808
@livehop Thanks for the update. So, to rephrase, you were not able to update an existing app that uses login.microsoftonline.com with b2clogin.com? However creating a new FB app directly with b2clogin.com worked?

This only happened w/the FB IDP? were you able to update other IDPs successfully?

@parakhj according to the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b

[2019-01-24 22:39] livehop commented on #808
That is correct; my existing app with microsoftonline (which was working);
I tried to change the site URL's etc to b2clogin.com; and that kept giving
me an error however when I created a new app and did the same changes; that
worked. Also, right now I have two appid's on facebook both exactly
identical but only one of them works (the newly created one).

Also, this happened only for FB IDP, the ot

[2019-01-24 22:53] parakhj commented on #808
Can you send a screenshot of your facebook settings (of the non-working app)

[2019-01-25 01:44] livehop commented on #808
Please let me know if you want to try it -- I will not delete it for now
(just incase we want to reproduce the error).

Thanks

On Thu, Jan 24, 2019 at 5:53 PM Parakh Jain <notifications@github.com>
wrote:

[2019-01-25 03:21] jennyf19 commented on #808
@livehop Can you email us (jeferrie@microsoft.com) a screenshot of your facebook settings for the non-working app? As asked by @parakhj above...thanks!

[2019-01-25 03:55] MattLisson commented on #737
I'm still having this issue even with your fixed build: Microsoft.Identity.Client/2.7.1-internal02302uwp2x

I've altered the UWP test app in this Repo to try and find out why I'm getting a longer Key, and found one assumption in ```GetUWPFixedSizedKey()``` that doesn't hold:
 'accountId' is two guids plus separator (73 chars).

My ```MsalTokenResponse``` from ```InteractiveRequest.SendTokenRequest

[2019-01-25 17:32] bgavrilMS commented on #818
Will close , please don't hesitate to come back to this this issue.

[2019-01-25 17:32] #818 closed

[2019-01-25 17:35] bgavrilMS commented on #830
Have a look at our wiki, particularly at the Interactive flow. MSAL will pop-up a WinForms panel that hosts a browser for your users to log in. When they login, you get given a access token that you can use to access protected APIs, like the Graph.

I am not sure how you'd find the skype username though.

[2019-01-25 17:35] #830 closed

[2019-01-25 17:36] bgavrilMS commented on #807
Nuget packages are just zip archives, all the DLLs are inside.

[2019-01-25 17:40] bgavrilMS commented on #805
Yes, thank you @phatcher - we are updating our samples with the new MSAL 3.x but it will take a bit of time.

I've moved HasStateChanged from the TokenCache to the args that you get in the BeforeAccess, AfterAccess etc. It's now read-only.

[2019-01-25 17:41] bgavrilMS commented on #787
No more info, closing.

[2019-01-25 17:41] #787 closed

[2019-01-25 17:44] bgavrilMS commented on #737
Thanks @MattLisson , much appreciated. I can hash the entire key to ensure it is used as is.

Alternatively, I can move the token cache from the "native" platform dictionary to a blob, which will need to be loaded everytime. Trying to avoid this as it means that we'd have to either migrate the token cache or break existing users (i.e. when you upgrade your UWP app, your users will have to re-sign

[2019-01-26 17:56] StephenHodgson commented on #807
Aren't you guys using CI/CD for delivery?

This process could be automated.

[2019-01-28 18:54] bgavrilMS commented on #745
@stezma  - I am sorry I do not have any update. I will ping the DevOps guys again.

[2019-01-28 19:38] bgavrilMS opened #842 "Multiple entries in ADAL cache when migrating to MSAL"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 2.7 and ADAL 4.5

**Platform**
all

**Repro**

1. Create an app upgrade scenario. Scopes set to  "https://graph.windows.net/.default" and Resource set to "https://gra

[2019-01-28 20:49] ajtruckle opened #843 "Migrate from 1.1.0-preview to 2.7.0"
Are there any code breaking changes if I update my Nuget Packer from 1.1.0-preview to 2.7.0?

Thank you.

[2019-01-28 20:51] MarkZuber commented on #843
There has been quite a bit of change between 1.1.0-preview and 2.7.0.  We have migration aids in the code and samples to help with the v1-v2 migration.  You can also see specifics about the API differential here:

https://www.fuget.org/packages/Microsoft.Identity.Client/2.7.0/lib/netstandard1.3/diff/1.1.0-preview/

[2019-01-28 20:51] jennyf19 commented on #843
@ajtruckle See this [blog post](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#changes-in-msalnet-between-1x-and-2x) with details on how/what to change from v1 to v2.

[2019-01-28 20:56] ajtruckle commented on #843
Thanks for the link. It is a bit concerning that I read:

"The supported platforms were modernized<https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#modernization-of-the-platforms-supported-by-msalnet>, dropping support for Windows and Windows Phone 8/8.1, and supporting .NET core explicitly"

My application supports Windows 8.1 with the latest service

[2019-01-28 20:57] MarkZuber commented on #843
No.  That's dropping support for Windows Phone 8 and Windows Phone 8.1.   Windows desktop is supported for Win7 and up.

[2019-01-28 20:59] ajtruckle commented on #843
@MarkZuber OK, but it does state:

[2019-01-28 21:02] MarkZuber commented on #843
Oh, I see the confusion.  That's Windows 8/8.1 UWP.  We only support UWP apps on Win10 and above.  But we support desktop (.net framework 4.5) on win7 and above.

[2019-01-28 21:05] ajtruckle commented on #843
Ah. Ok. Phew. Looks like I will have to try it out then. My application is fairly simple and allows user to connect to calendar to delete and create calendar events.

If I get compile errors I assume I can come here. 👍

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Mark Zuber <notifications@github.com>
Sent: Monday, January 28, 2019 9:02 pm
To: AzureAD/microsof

[2019-01-28 21:06] jennyf19 commented on #843
@ajtruckle yes...let us know if you run into any issues. Feel free to open another issue, or ping us here.

[2019-01-28 21:06] MarkZuber commented on #843
I'm going to close out this issue for now.  Please re-open this or open a new issue if you have future concerns/questions.

[2019-01-28 21:06] #843 closed

[2019-01-28 22:59] MarkZuber commented on #807
Yes, we use CI/CD and the output of that process is signed and published nuget packages which is the standard distribution mechanism for .net assemblies.  You shouldn't need to create a new project just to download the nuget package, you can use the nuget.exe command line or the nuget.org website to grab the contents, rename .nupkg to .zip and extract the files where you need them.

See this for a

[2019-01-29 09:58] jmprieur commented on #620
@ajtruckle : Bogdan meant

[code]

[2019-01-29 10:01] ajtruckle opened #845 "//tokencache.hasstatechanged"
Using 2.7.0 I have this warning:

My current code:

`if (args.TokenCache.HasStateChanged)`

Is there a new `TokenCacheHelper `class?

[2019-01-29 10:11] jmprieur commented on #845
Just use `args.HasStateChanged`

From which sample did you copy your TokenCacheHelper class.
@bgavrilMS : we need to update all the samples ...

[2019-01-29 10:14] ajtruckle commented on #845
Alas, it was in 2017 so I don't remember. Here is the file. It is flagging several warnings:

https://www.dropbox.com/s/a0tx85ozob0uzwb/TokenCacheHelper.cs?dl=0

[2019-01-29 10:16] ajtruckle commented on #845
I made the change but there is a second issue here:

[code]

This bit fails `args.TokenCache.HasStateChanged = false;`.

[2019-01-29 10:21] jmprieur commented on #845
you can safely remove this bit. it's not used by MSAL

[2019-01-29 10:21] bgavrilMS commented on #845
Please delete that line `args.TokenCache.HasStateChanged = false;` - you no longer need to set this flag.

[2019-01-29 10:21] #845 closed

[2019-01-29 10:28] ajtruckle opened #846 "users.first"
With 2.7.0 this method of mine fails now:

[code]

Can you please direct me to the new example for these?

After the above are resolved I hope that i have just one warning left.

Thanks.

[2019-01-29 10:32] ajtruckle opened #847 "2.7.0 Explicit binding warning"
With 2.7.0 I now get a explicit binding warning:

The explicit binding redirect on "System.Net.Http, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" conflicts with an autogenerated binding redirect. Consider removing it from the application configuration file or disabling autogenerated binding redirects. The build will replace it with: "<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4

[2019-01-29 10:34] ajtruckle opened #848 "Migrate SignOut and DisplayBasicTokenInfo"
How should these change?

[code]

Thanks.

[2019-01-29 10:34] #846 closed

[2019-01-29 10:36] ajtruckle commented on #848
I sorted one of them:

[code]

[2019-01-29 10:44] ajtruckle commented on #848
Is this correct for `SignOut`:

[code]

[2019-01-29 15:10] bgavrilMS opened #849 "Xamarin dependencies are out of date"
1. Create a new XForms app with the latest official Visual Studio
2. Take a reference on MSAL from the iOS and Android heads
3. Build

Actual: build errors because of diamond dependencies - MSAL uses xamarin dependnecies version 27.0.2 but the new app uses version 27.0.2.1;

Expected: it should build with 0 warnings and errors

Note: this has already been fixed by a a user in ADAL

https://github.

[2019-01-29 16:43] jennyf19 opened #850 "U/P flow account null reference on acquire token silent"
**Which Version of MSAL are you using ?**
v2

**Platform**
Desktop

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**
Repro with MSAL desktop app:

[2019-01-29 18:26] StephenHodgson commented on #807
So you're not open to providing an easy way to download and utilize your library outside of Nuget for customers that may not be able to utilize that distribution path.

Got it.

[2019-01-29 18:31] bgavrilMS commented on #847
You could try to take a dependency on System.Net.Http directly from your app, that ussually takes care of diamond dependencies.

[2019-01-29 18:32] ajtruckle commented on #847
How do I do this?

________________________________
From: Bogdan Gavril <notifications@github.com>
Sent: 29 January 2019 18:31
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: ajtruckle; Author
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] 2.7.0 Explicit binding warning (#847)

You could try to take a dependency on System.Net.Http directly from your app, that ussual

[2019-01-29 18:35] bgavrilMS commented on #847
Using Visual Studio, open NuGet package manager. Search for System.Net.Http. Install it to your project. See if it builds.

[2019-01-29 18:38] ajtruckle commented on #847
It is already installed. v 4.3.4.

________________________________
From: Bogdan Gavril <notifications@github.com>
Sent: 29 January 2019 18:35
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: ajtruckle; Author
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] 2.7.0 Explicit binding warning (#847)

Using Visual Studio, open NuGet package manager. Search for System.Net.Ht

[2019-01-29 23:54] cansado2930 commented on #810
Hi,
I’m going to share my opinion about this. I’m accord with you. It is more easy and clear with the new proposal method instead of overrides. The part for single account, yes, I can understand other developers although for me it is normal because users may have various accounts on the same device or on the same app. I have developed apps for common users of world as specific cases of business. B

[2019-01-30 08:04] rkshnair opened #852 "Azure DevOps iOS build fails with Microsoft.Idendity.Client"
Version of lib - Microsoft.Idendity.Client 2.7.0
Platform - iOS
Build - Azure DevOps - Mac Agent.

**Background**
In our application the build get fails(in Azure DevOps) when we include **Microsoft.Idendity.Client** library for B2C authentication. I found many users reported the same issue, but nowhere I can find any solution for this issue. I am facing this issue from Dec 2018 and yet to find a s

[2019-01-30 09:49] jmprieur commented on #849
@henrik-me that's some low hanging fruit, which will avoid a supportability storm. I'd take it ASAP.

[2019-01-30 14:40] Jmaharman commented on #725
Sorry for the delay. In looking closer I noticed a colleague set the project up with a preview version of the Microsoft.Identity.Client nuget package. Getting the latest version resolved the issue I described above.

No more problems here.

[2019-01-30 15:30] jmprieur commented on #725
Thanks for the update, @Jmaharman !
Closing the issue since all is good.

[2019-01-30 15:30] #725 closed

[2019-01-30 15:33] jmprieur commented on #848
@ajtruckle
please look at this sample. the migration work has already been done: https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop

Please close the issue if you are satisfied with the answer.

[2019-01-30 15:34] jmprieur commented on #847
@ajtruckle : you probably have other dependencies. I suggest you look at the output (in the combo-box named NuGet) which will tell you more about what to do

[2019-01-30 15:34] #847 closed

[2019-01-30 16:25] MarkZuber commented on #849
This PR is waiting on our decision about Net461 since it also updates our desktop version.  I'd also like to get final answers on whether we can move to netcoreapp2.0 and whether we want to update netstandard version for v3.x so we can do this in one fell swoop.

[2019-01-30 16:27] jmprieur commented on #849
I've requested more info from the .NET team …

[2019-01-30 19:44] jondmcelroy commented on #725
I just tested and it appears the token cache is now no longer persisting even towards new instances with the newest version.
Problem can be reproed on 2.3, but is fixed by 2.6 at least. Thanks.

[2019-01-30 21:08] jennyf19 commented on #722
**Update from B2C**
-	Each B2C policy is its own OIDC endpoint, which means each policy will have its own refresh token in the cache.
-	Here is the scenario:
o	User signs-up via the sign-in/sign-up policy (gets a refresh token for si_su policy)
o	Then user goes to edit their profile (gets a refresh token for edit profile policy)
o	Then, using the original RT (si_su policy one), client redeems the

[2019-01-30 21:08] #722 closed

[2019-01-31 11:46] bgavrilMS commented on #849
Oren has advised several times that we can easily move to NetCore 2 since most of our users are there and NetCore <2 is deprecated. Are technical reasons to do move, e.g. new APIs that we need to use etc.

I strongly advise against moving to NetStandard 3 because of XForms. Today, if you create an XForms project it will generate a shared project that targets NetStandard 2.0; This means that develo

[2019-01-31 16:43] MarkZuber commented on #849
NetCore2 would let us all have the same versions of many of the packages (see our nuget update/consolidate area in libsandsamples.sln).  NetStandard should be able to stay on 1.3 or maybe we move it to 1.4 which aligns directly with net 461.  We should definitely not move to netcore 3 or netstandard 3 since that hasn't even shipped yet and adoption is low.

[2019-01-31 19:29] baywet opened #857 "MSAL Upgrade: AcquireTokenForClientAsync System.Security.Cryptography.CryptographicException : Key not valid for use in specified state"
**Which Version of MSAL are you using ?**
2.7.0

**Platform**
Azure App Service, (webjob), dot net classic 4.7.

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO
    * [x] Application

[2019-02-01 12:43] jmprieur commented on #559
@pkkj : this is now fixed, and will be relased with MSAL.NET 3.x preview (ETA in a couple of weeks)

[2019-02-01 13:11] jmprieur commented on #635
Done part of MSAL 3.x

[2019-02-01 21:44] myusrn commented on #763
fyi, just published https://github.com/myusrn/dnccore nuget package which has .net core compatible File [ configurable path and protected or unprotected ] TokenCache and Redis TokeCache implementation.  Intention is for with msft authentication library [msa] PublicClientApplication() and ConfidentialClientApplication() in released app and unit/integration/load test case scenarios that were discuss

[2019-02-01 22:47] cormacpayne opened #863 "Allow public applications to acquire token via authorization code"
**Is your feature request related to a problem? Please describe.**

Currently, only the `ConfidentialClientApplication` supports acquiring tokens via authorization code, but this functionality should be able to extend to the `PublicClientApplication` (as demonstrated by the Python ADAL/MSAL libraries). This prevents our public application with no secret/certificate credential from authenticating u

[2019-02-02 16:44] bgavrilMS commented on #863
Hi @cormacpayne - we are looking into this we have to approaches:

1. The strategy that you have described. The difficulty there is to provide a layer of security against man in the middle attacks. The OAuth spec provides a mechanism called (PKCE)[https://oauth.net/2/pkce/] - it's pretty simple. Looking into this...

2. A second approach is to reuse the infrastructure of MSAL and "bring your own b

[2019-02-04 15:19] jmprieur commented on #857
Where does your certificate come from, @baywet  ? how do you get it?
I've noticed that for instance when loading a certificate from a file, one needs to use

[code]

note the **X509KeyStorageFlags.EphemeralKeySet**

[2019-02-04 15:20] jmprieur commented on #848
Closing as I've answered

[2019-02-04 15:20] #848 closed

[2019-02-04 15:23] baywet commented on #857
Salut Jean-Marc!
In both cases the code to get the certificate is the same and loads it from the store:
(isolated in a different class, but I'll put the code here for reference)
[code]

[2019-02-04 18:39] cormacpayne commented on #863
@bgavrilMS awesome, thanks for the update, Bogdan

[2019-02-04 20:02] MarkZuber commented on #810
@cansado2930 thanks for your feedback.  I'm glad to hear that you think it's the right direction for the API surface.  Please let us know if you have suggestions for improvement or further details on your account cases and how we can make that clearer/easier.

[2019-02-04 20:12] jennyf19 commented on #808
@livehop @parakhj Do we have an update on this?

[2019-02-05 00:57] vikram-ma opened #866 "LinkAll causes NullReferenceException in AssemblyUtils.GetAssemblyFileVersionAttribute method"
**Which Version of MSAL are you using ?**
MSAL 2.7
(Same issue happens with MSAL 2.6.2 as well)

**Platform**
Xamarin.iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - pl

[2019-02-05 22:15] livehop commented on #808
Give me a week's time; I will remove code from my Xamarin application and
create a sample application pointing to existing profiles that don't work
for your test. We could either do a screen share or I could send that app
over to you and changes the id's later.

Regards,
Dhiru

On Mon, Feb 4, 2019 at 3:12 PM jennyf19 <notifications@github.com> wrote:

[2019-02-05 22:35] jennyf19 commented on #808
@livehop sounds good

[2019-02-05 22:45] jennyf19 commented on #850
update...w/a fix to our desktop app, I am no longer able to repro the issue. Our RefreshUserList() was not getting called on the u/p flow, which created the null account.

I checked w/Cormac, and he is unable to repro now as well, but he is going to do more testing to see if he can repro it again. Leaving open for a few more days.
cc: @henrik-me

[2019-02-05 23:11] jrmcdona opened #871 "IIssuerSecurityTokenProvider not available in newer versions of Microsoft.Owin.Security"
### Documentation Related To Component:

### Please check those that apply

- [ ] typo
- [x ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ x] needs example

### Description Of The Issue
Hello,  There is no example of using OAuthBearerAuthenticationOptions with Microsoft.Owin.Security.* 4.0.

The sample uses 3.0
https://github.com/AzureADQuickSta

[2019-02-06 00:00] livehop commented on #808
Hi,
While I was cleaning up my code; I am encountering an exception; (which I
am not sure why); apologies for the dumb question in advance.

I have a login page; which calls the MSAL authenication page (on the click
of a button -- Command) this is working perfectly; however I tried to get
rid of my redundant login page such that after the splashscreen I should
directly go to my MSAL login page; wh

[2019-02-06 00:11] jennyf19 commented on #808
@livehop Here are the details on passing the activity to the UIParent on [android](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#choosing-between-embedded-web-browser-or-system-browser-on-xamarinandroid)

[2019-02-06 01:43] henrik-me commented on #850
@jennyf19 can you add a link to what you believe have addressed this? Is it about developer guidance more than anything? Not sure I fully understand, but happy that it seems to work :)

[2019-02-06 02:08] jennyf19 commented on #850
@henrik-me - I could "repro" it because our test app wasn't [refreshing the user list](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/870) after the interactive call, so deleting/removing accounts and tokens was enough to show the behavior. So, right now, because Cormac cannot repro it either, we don't have a clear cause or reason. But Cormac and I agreed it was best t

[2019-02-06 02:18] henrik-me commented on #850
@jennyf19 : ack. thanks for the update. now I finally get it

[2019-02-06 07:46] jmprieur commented on #857
@brentschmaltz @GeoK @mafurman : do you have an idea of what could happen?
cc: @henrik-me @bgavrilMS @MarkZuber @jennyf19 @trwalke

[2019-02-06 13:38] Blin4ik91 commented on #438
Same issue here, how to fix it ?

[2019-02-06 13:39] Blin4ik91 commented on #438
still not working correct, same issue here....
don't know how to fix it

[2019-02-06 13:57] jmprieur commented on #438
@Blin4ik91
this is now fixed. Did you read this: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-Android-specifics ? and this https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Android-system-browser ?

[2019-02-06 14:40] Blin4ik91 commented on #438
@jmprieur
yes, Xamarin Android specifics are set, even Chrome is not working.
I tested it on a Nokia and a Samsung device.

[2019-02-06 16:48] jennyf19 commented on #438
@Blin4ik91 Do you have the android:scheme identified in the manifest:

`<data android:scheme="msal{client_id}" android:host="auth" />`

And the following values in the manifest:

[code]

[2019-02-06 17:06] Blin4ik91 commented on #438
Yes, it is all definied.
The Login-View appers only if there was no login before (eg. reinstallation)
after that I can't Logout myself because it logs me automatically in again.
(WebView appears for a few milliseconds)

[2019-02-06 17:09] jennyf19 commented on #438
@Blin4ik91 Can you share the code for the AcquireToken calls (interactive and silent)?

[2019-02-06 17:55] henrik-me commented on #857
Will try to reproduce.
@baywet Assuming that the .net version targeted for the two scenarios is the same and also expecting the cert being the same.
This should work the same on both ADAL and MSAL.

[2019-02-06 18:17] baywet commented on #857
@henrik-me : yes the only changes between the working and non-working scenario are ADAL => MSAL and the changes in code I mentionned.
I do have the project on my end, if you can't repro, let me know if you need me to clean it up and put it somewhere.

[2019-02-07 05:35] henrik-me commented on #857
@baywet : I've tried what you mentioned. Using ADAL 4.5 and MSAL 2.7 in the same console app getting tokens for an app I have hosted on my local box and calling that local service with the AT returned. I run ADAL and MSAL side by side and make the same calls. Both works. From what I can see I'm doing exactly what you are doing. I have tried running the app both with .NET 4.5 and .NET 4.7. If you h

[2019-02-07 07:39] Blin4ik91 commented on #438
@jennyf19
// Logout
`_currentAuthenticationResult = null;
if (!(await _adClientApp.GetAccountsAsync()).Any())
  return;

(await _adClientApp.GetAccountsAsync()).ToList()
.ForEach(u =>
{
 _adClientApp.RemoveAsync(u);
});`

// Login
`user = null;
_currentAuthenticationResult = await _adClientApp.AcquireTokenAsync(Settings.Scopes, user,
UIBehavior.NoPrompt, null, new string[0], Settings.Authority, _u

[2019-02-07 07:47] rkshnair commented on #852
I managed to fix the issue with below script.
We need to execute this script before the build task.
`- script: |
    echo "Setting mono version to 5_16_0_0"
    SYMLINK=5_16_0_0
    MONOPREFIX=/Library/Frameworks/Mono.framework/Versions/$SYMLINK
    echo "##vso[task.setvariable variable=DYLD_FALLBACK_LIBRARY_PATH;]$MONOPREFIX/lib:/lib:/usr/lib:$DYLD_LIBRARY_FALLBACK_PATH"
    echo "##vso[task.setv

[2019-02-07 08:56] jmprieur commented on #852
@trwalke fyi

[2019-02-07 10:21] rdeveen opened #873 "MsalServiceException: AADSTS53001: Device is not in required device state: domain_joined."
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client v2.7.0

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a n

[2019-02-07 12:23] jmprieur commented on #873
@rdeveen : does the exception have a non empty .Claims member?

[2019-02-07 12:29] rdeveen commented on #873
Yep, .Claims is null.

"error_codes":[53001]
"suberror":"message_only"

[2019-02-07 14:20] bgavrilMS commented on #745
Possible workaround for VSTS https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/852#issuecomment-461318277

[2019-02-07 14:21] bgavrilMS commented on #744
Possible workaround for VSTS https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/852

[2019-02-07 16:28] jennyf19 commented on #438
@Blin4ik91 I think you are seeing the UI flash because of `UIBehavior.NoPrompt`. You should be using `UIBehavior.SelectAccount`, as it's recommended to only use NoPrompt with B2C scenarios where you already have the user logged in but don't want to show them another prompt or UI dialog. Then you should be able to log out as well. Can you try and see if this fixes the issue for you?

[2019-02-07 17:24] chixlol commented on #655
@jennyf19 Hello and sorry for not answering your message from 7 jan.

I can't tell you if this issue is still present, since it only appeared when I did build with the devops ci build.
Due to issue 852 we are currently not able to run the CI build and dont have this issue any more.

[2019-02-07 18:52] jennyf19 commented on #655
@chixlol Thanks for the udpate.

@jmprieur - not sure if we want to leave this open or close?

[2019-02-07 19:54] baywet commented on #857
Hey @henrik-me
Here is the repro:
- Create a self signed certificate (I added the script I'm using to the archive)
- upload the private certificate to the web app using the SSL settings section
- Create an azure web app (windows)
- Register an application on AAD with permissions granted to SharePoint online, add the certificate as an authentication method
- Set the following app settings to the we

[2019-02-08 07:20] jmprieur commented on #655
proposing to close, and @chixlol, feel free to reopen if this repros when you are able to run the CI build?

[2019-02-08 07:20] #655 closed

[2019-02-08 07:22] jmprieur commented on #871
@jrmcdona in Web APIs, you should use JwtBearerToken, not OAuth.
Proposing to close this one as
1) we had the conversation in the sample itself
2) this is an ASP.NET / Microsoft Identity Extension for .NET issue, not an MSAL.NET issue

[2019-02-08 07:22] #871 closed

[2019-02-08 07:39] jmprieur commented on #797
Fixed in 3.0

[2019-02-08 07:44] Blin4ik91 commented on #438
@jennyf19
great this works fine, I thought you have to log in with your credentials with this setting every time
but it's not true.

[2019-02-08 08:25] jmprieur commented on #383
@henrik-me what do we want to do with this? is it related to the bug than Vincent observed?

[2019-02-08 08:29] jmprieur commented on #449
Closing this issue (this is documented in https://aka.ms/msal-client-credentials). The scope to request is "https//graph.microsoft.com/.default"

[2019-02-08 08:29] #449 closed

[2019-02-08 08:31] jmprieur commented on #545
Closing. Feel free to reopen if you are still interested in this issue

[2019-02-08 08:31] #545 closed

[2019-02-08 08:35] jmprieur commented on #578
@mbalsam : coming back to this, is it an option for you to have the same ClientId for your mobile application and your Web API? this is possible in MSAL / Microsoft identity platform v2.0 (AAD v2.0). This way your mobile could get a token for a resource (with the consent etc ...), and pass it to your application, which would access the resource. Or the mobile app could get a token for itself and t

[2019-02-08 08:36] jmprieur commented on #578
proposing to close as I believe this is answered.
but feel free to reopen if this does not work for you

[2019-02-08 08:36] #578 closed

[2019-02-08 08:48] jmprieur commented on #850
@jennyf19 @henrik-me can we close this one if we cannot repro?

[2019-02-08 08:50] jmprieur commented on #799
Fixed in 3.x (with the new builder API)

[2019-02-08 13:47] jennyf19 commented on #438
thanks for the update, @Blin4ik91

[2019-02-08 13:54] pdeliot opened #875 "Microsoft.Identity.Client.srclink missing"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 2.7.0

**Platform**
UWP

Error when generating native binary while creating store package.

 Generating fixups for native code
4>C:\Program Files (x86)\Microsoft SDKs

[2019-02-08 14:04] #850 closed

[2019-02-08 14:05] henrik-me commented on #850
Issues can always be re-opened if it turns out they are reproducable.

[2019-02-08 14:08] henrik-me commented on #383
I don't think those things are related. Closing this one. When we get to change anything on Crypto we would have it in our backlog.

[2019-02-08 14:08] #383 closed

[2019-02-13 17:54] ramonesteban78 commented on #852
I was able to make my Azure DevOps build works like @rkshnair indicated, but I have received this message from Apple once I uploaded the file to iTunes Connect :

SDK Version Issue - This app was built with the iOS 12.0 SDK. Starting March 2019, all iOS apps submitted to the App Store must be built with the iOS 12.1 SDK or later, included in Xcode 10.1 or later.

Any advice? I thought I was select

[2019-02-14 08:11] jmprieur commented on #643
### More information about WAM
**Conceptual documentation**
https://docs.microsoft.com/en-us/windows/uwp/security/web-account-manager

**Reference doc**
https://docs.microsoft.com/en-us/uwp/api/Windows.Security.Authentication.Web.Core.WebAuthenticationCoreManager

**Samples**
- https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/WebAccountManagement.
- https://github.com/Azu

[2019-02-14 15:49] jmprieur opened #882 "Enable ROPC in mobile platforms"
**Is your feature request related to a problem? Please describe.**
Even if we strongly discourage it, some B2C customers want to be able to provide their own UI to get username and passwords. This is currently disabled in mobile platforms (Xamarin, UWP)

**Describe the solution you'd like**
Enable ROPC in Xamarin.iOS, Xamarin.Android and UWP

[2019-02-14 15:50] jmprieur commented on #882
@henrik-me as discussed, per Yordan's guidance.

[2019-02-14 16:16] jmprieur opened #883 "Throw a meaningfull bug when the openid configuration document is not found"
**Which Version of MSAL are you using ?**
MSAL.NET 3.0

**Platform**
Any (console app below)

**Is this a new or existing app?**
Existing B2C app moving to a sovereign cloud (maybe not well configured)

**Repro**

[code]

**Expected behavior**
1. Ideally, we get a token
2. but since the openid connect description document (https://login.chinacloudapi.cn/tfp/name.partner.onmschina.cn/b2c_1_siupin/v

[2019-02-14 16:17] jmprieur commented on #883
@henrik-me, as discussed.

[2019-02-18 11:29] WilliamWatterson86 commented on #636
@bgavrilMS - any update on this one?  I too am seeing these errors in App Center and Play Console.

[2019-02-18 13:17] omerlh commented on #516
I'm experiencing a similar issue - trying to use `AcquireTokenForClientAsync` to request a token for a specific AD application, using another AD application. I take the scope from Azure AD portal (the preview, the one that shows the scopes) and tried to use it to acquire a token, but the request failed with the same issue. Can you please help?

[2019-02-18 13:22] jmprieur commented on #516
@omerlh
for a given resource, `AcquireTokenForClientAsnc` takes only one possible scope which is "{resource}/.default". For instance if the resource is Microsoft Graph, this would be "https://graph.microsoft.com/.default".

Did you read MSAL.NET's conceptual documentation: https://aka.ms/msal-net-client-credentials, and in particular https://github.com/AzureAD/microsoft-authentication-library-for-

[2019-02-18 13:24] jmprieur commented on #636
@jennyf19 and @trwalke, FYI

[2019-02-18 15:55] jmprieur commented on #875
@pdeliot
do you please have repro steps that we could follow?

[2019-02-18 16:06] omerlh commented on #516
Sorry, no - my mistake. I saw the comment - but I assumed that if this scope was valid, it will be displayed in the portal. Thanks!

[2019-02-18 18:12] tipa opened #889 "MSAL isn't able to decrypt credentials (UWP)"
**Which Version of MSAL are you using ?**
MSAL 2.7.0

**Platform**
UWP

**Is this a new or existing app?**
a. The app is in production, and I have upgraded to a new version of MSAL

[code]

**Expected behavior**
No exception

**Actual behavior**
An exception is thrown - rarely! I am unable to provide a project to easily reproduce this issue, but it has happened recurrently for some of my users now

[2019-02-18 18:54] jmprieur commented on #889
@tipa: does it only happen with MSAL 2.7 ?

[2019-02-18 19:15] tipa commented on #889
No, it also happened with 2.6.2 and older versions (the first log that I have is from April 28th '18, at that time v1.1.2-preview0008 was the latest MSAL version.

[2019-02-18 22:45] svrooij opened #891 ".WithCertificate with /common audience scenario is broken"
**Which Version of MSAL are you using ?**
`<PackageReference Include="Microsoft.Identity.Client" Version="2.7.0" />`

**Platform**
netcore 2.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    *

[2019-02-19 12:27] lybax commented on #632
It is also useful to specify that the Authority url should be like :

https://**TENANT**.b2clogin.com/**tfp**/**TENANT**.onmicrosoft.com/**POLICY**/v2.0/.well-known/openid-configuration

(never properly mentioned in any documentation)

[2019-02-19 12:31] jmprieur commented on #632
@lybax actually no, the Authority URL should not have `/v2.0/.well-known/openid-configuration`
It should be https://TENANT.b2clogin.com/tfp/TENANT.onmicrosoft.com/POLICY

Do you think that we should make the following clearer: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#authority-for-a-b2c-tenant-and-policy ?

[2019-02-19 13:31] lybax commented on #632
@jmprieur, you are right.
My mistake, I was in this case referring to the `OpenIdConnectAuthenticationOptions.MetadataAddress`, but in both case "tfp" seems to be mandatory.

[2019-02-19 14:09] jmprieur commented on #891
@svrooij : I just checked with the certificate variation of the following sample:https://github.com/azure-samples/active-directory-dotnetcore-daemon-v2

 The `ClientAssertionCertificate` is working fine in daemon applications (BTW the ClientID, in MSAL.NET, contrary to ADAL.NET, is provided at the creation of the application, and therefore does not need to be repeated. See https://aka.ms/msal-net-

[2019-02-19 23:02] svrooij commented on #891
Does this mean you think there is something wrong with the v2 endpoints of the Azure ad endpoints?
Or should I change something to the code I used?

You’re right about the part that the ClientID should be set twice that seems unnecessary

[2019-02-19 23:17] stweedie opened #894 "Cannot use access token from MSAL to connect to Azure SQL database"
**This is a bug that's not entirely related to MSAL, so if someone can direct me to the proper bug tracker, I would appreciate it.**

There are a few issues that I'm seeing when trying to set up access token authentication for an Azure SQL Server database connection.

1. Passing a token with an ```aud``` attribute that does NOT have the trailing slash ```https://database.windows.net/``` gives a "L

[2019-02-20 10:50] jmprieur commented on #891
After investigation:
- the client assertion is indeed bad:

[code]

the library:
1. Looks at /common/<discovery_endpoint>
2. takes the `issuer` field, which happens to be "https://login.microsoftonline.com/{tenantid}/v2.0" in the case where the authority is common (this works fine for a tenanted endpoint)
3. sets the `aud` claim of the client assertion to the value of this field.

Note that OAuth

[2019-02-20 11:27] jmprieur commented on #891
@henrik-me FYI.

[2019-02-20 11:28] jmprieur commented on #891
@svrooij I've provided the analysis above.
is it an option for you to use a tenanted authority (until we fix the issue)

[2019-02-20 11:40] jmprieur commented on #894
@stweedie
can you please try with the following scope: `"https://database.windows.net//.default"`

See also [Warning: Should you have one or two slashes in the scope corresponding to a v1.0 Web API](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal#warning-should-you-have-one-or-two-slashes-in-the-scope-corresponding-to-a-v10-web-api)

[2019-02-20 11:46] jmprieur commented on #779
@WilliamWatterson86 : can we close this issue? or do you expect something from us?

[2019-02-20 11:49] jmprieur commented on #597
@federicobarera : suggesting that you post your idea to user voice: https://feedback.azure.com/forums/169401-azure-active-directory

also proposing to close this issue as it's not related to the library per se

[2019-02-20 11:49] #597 closed

[2019-02-20 11:52] jmprieur commented on #665
@tipa
proposing to close this issue (you seem to say this could have been fixed in later versions of MSAL.NET)
feel free to reopen if you disagree

[2019-02-20 11:52] #665 closed

[2019-02-20 11:54] jmprieur commented on #712
Closing as the answers were provided

[2019-02-20 11:54] #712 closed

[2019-02-20 11:56] jmprieur commented on #589
Duplicate of #425

[2019-02-20 11:57] jmprieur commented on #589
Closing as dupe of #425

[2019-02-20 11:57] #589 closed

[2019-02-20 12:00] jmprieur commented on #619
Closing as this was documented in
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-2.6.0-released

[2019-02-20 12:00] #619 closed

[2019-02-20 12:03] jmprieur commented on #673
Closing as duplicate of #173  #559 (fixed in #841)

[2019-02-20 12:03] #673 closed

[2019-02-20 12:04] jmprieur commented on #675
Closing as we have documented the B2C specificities

[2019-02-20 12:04] #675 closed

[2019-02-20 12:12] jmprieur commented on #805
Closing as all samples were fixed as well as the wiki.

[2019-02-20 12:13] #805 closed

[2019-02-20 12:14] jmprieur commented on #849
@jennyf19 is it fixed?

[2019-02-20 12:15] jmprieur commented on #852
@trwalke : isn't this fixed in Azure DevOps now?

[2019-02-20 12:16] jmprieur commented on #873
Closing as duplicate of #643

[2019-02-20 12:16] #873 closed

[2019-02-20 12:59] phatcher commented on #805
@jmprieur If I go to that repository I can't see a aspnet2-2 branch - is it public?

[2019-02-20 13:15] jmprieur commented on #805
Oops … you are right … wrong sample I meant this one:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/aspnetcore2-2-signInAndCallGraph

I had missed the one you referenced (and confused it with the other) as, by its name I thought it was just signing-in users. anyway it's fixed as well

[2019-02-20 14:21] WilliamWatterson86 commented on #779
@jmprieur sorry should have commented back. I just removed the link to the register page and all good now. So forcing users to use the signup sign in flow

[2019-02-20 14:49] jmprieur commented on #779
Thanks for the update @WilliamWatterson86

[2019-02-20 14:49] #779 closed

[2019-02-20 15:32] stweedie commented on #894
Alright, thanks for the quick respons @jmprieur.

I figured it wasn't directly an MSAL.net issue, but wasn't sure where I could even go to file a bug report for any of the underlying services.

[2019-02-20 15:32] #894 closed

[2019-02-20 15:38] jmprieur commented on #894
Thanks for the update @stweedie :)

[2019-02-20 17:48] jennyf19 commented on #849
@jmprieur the PR was merged with the changes.

[2019-02-20 21:32] svrooij commented on #891
In my specific application I would need it to work with any tenant.
But in the flow i’m using `id-token code` I know which tenant it’s because I’m able to extract that from the identity token before exchanging the code for an access token.

Can I specify that upon requesting the access token with the code?

[2019-02-20 22:40] jennyf19 opened #897 "Handle sovereign clouds for B2C"
**Is your feature request related to a problem? Please describe.**
The next set of B2C support clouds are US Government, Germany, and China. However, currently, MSAL only supports US public cloud.

**Describe the solution you'd like**
Include *.b2clogin.us, *.b2clogin.cn, and *.b2clogin.de to the allowed domain list for b2c authorities.

[2019-02-20 22:57] jmprieur commented on #891
yes @svrooij , you can by setting the authority in the constructor to confidential client application to be "https://login.microsoftonline.com/{TenantIdExtractedFromIdToken}/"

[2019-02-21 00:09] jmprieur opened #899 "Typo (suppored) in exception message for AcquireTokenByIntegratedWindowsAuthAsync"
**Which Version of MSAL are you using ?**
MSAL 3.0.0-preview

**Platform**
.NET Core

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**

**Repro**
T

[2019-02-21 02:31] jennyf19 commented on #899
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/900
cc: @jmprieur

[2019-02-21 07:49] jmprieur opened #901 "`AcquireTokenByIntegratedWindowsAuthAsync(scopes)` should be available on .NET Core, when running on Windows"
**Is your feature request related to a problem? Please describe.**
Partner quote:
*"As a .NET Core or .NET standard developer, if I call an API called `AcquireTokenByIntegratedWindowsAuthAsync(scopes)`, and it doesn’t work because I might not be on windows, that’s a fairly frustrating experience.*

*The kind of work required to get the UPN is something like the following:*

[code]
 *Lots of custom

[2019-02-21 10:41] pdeliot commented on #875
Working on the repro.
I’m fighting to simplify the project and keep the beahvior.

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

De : Jean-Marc Prieur<mailto:notifications@github.com>
Envoyé le :lundi 18 février 2019 16:55
À : AzureAD/microsoft-authentication-library-for-dotnet<mailto:microsoft-authentication-library-for-dotnet@noreply.github.com>
Cc : Pasc

[2019-02-21 15:32] trwalke commented on #852
@jmprieur the default version of the azure devops macOS hosted agent still does not have support for ASWebAuthenticationSession. Looks like we will need to run the script provided by @rkshnair.

[2019-02-21 18:23] jennyf19 commented on #897
fixed in [2.7.1 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/2.7.1)

[2019-02-21 18:23] #897 closed

[2019-02-21 18:23] jennyf19 commented on #883
fixed in [2.7.1 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/2.7.1)

[2019-02-21 18:23] #883 closed

[2019-02-22 14:39] jmprieur commented on #640
@bgavrilMS : As you are testing the managed/federated scenarios, I thought we'd want to reconsider this issue: Is it something we've made progress on with all our refactorings? or does it still need to be adressed.

[2019-02-22 14:48] bgavrilMS commented on #640
I don't think the latest refactgoring made any changes here.

[2019-02-23 00:44] atiqhaqu opened #907 "[PMA] The sign in dialog does not scale properly"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

We are currently using ADAL, but the issue likely is in newest ADAL as well.

**Platform**

net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x

[2019-02-25 10:03] bgavrilMS commented on #907
What is PMA?

[2019-02-25 10:05] jmprieur commented on #907
@bgavrilMS : PMA = Per Monitor Awareness

[2019-02-25 13:30] jmprieur opened #909 "The MSAL.NET nuget package should reference the Microsoft identity platform for developers"
**Which Version of MSAL are you using ?**
3.0.0-preview

**Platform**
Any

**Repro**
Go to https://www.nuget.org/packages/Microsoft.Identity.Client/

*Expected behavior**
The description mentions Microsoft identity platform for developers

**Actual behavior**
It mentions Azure AD v2.0

[2019-02-25 13:46] jmprieur opened #911 "Add .WithKnownB2CAuthorityHost"
**Is your feature request related to a problem? Please describe.**
Enable B2C developers to tell MSAL about their known authority hosts, and the corresponding OAuth2.0 metadata

**Describe the solution you'd like**
Add the possibility of adding to the ApplicationBaseBuilder the following method:
.WithKnownB2CAuthorityHost(string authorityHost, struct describing the metadata)

**Describe alternativ

[2019-02-25 17:17] bgavrilMS commented on #737
The 3.0.0-preview release will have a fix for this. It should be out in 1-2 weeks max.

[2019-02-26 09:04] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/53400353-f5f35080-39ad-11e9-8270-7e12e34a4ac4.png)

[2019-02-26 09:30] jmprieur commented on #535
Confidential client apps

![image](https://user-images.githubusercontent.com/13203188/53402109-60f25680-39b1-11e9-868a-0dcad865cb31.png) ![image](https://user-images.githubusercontent.com/13203188/53402132-6ea7dc00-39b1-11e9-8c59-79d39e38f6bd.png) ![image](https://user-images.githubusercontent.com/13203188/53402143-74052680-39b1-11e9-9c8e-57cdca0a9c1d.png)