[2021-06-16 11:18] bgavrilMS commented on #2705
@yantang-msft  - there is no drawback really, creating those objects is very fast and it eliminates some bottlenecks associated with having 1 app + multiple requests, which internally uses some locks. Microsoft.Identity.Web also does this - it creates a new app for each request, and points the app to the common cache. This is recommended pattern that works for all flows.

[2021-06-16 11:25] psignoret commented on #2612
@dmcweeney A bit late to the conversation, but just confirming what @hpsin says: the replication delays here are not ideal, but currently expected. We're looking into what options we have to reduce the delay here, but we don't have anything concrete to share yet.

[2021-06-16 12:02] dmcweeney commented on #2612
@psignoret thanks for the confirmation.

[2021-06-16 13:49] bgavrilMS commented on #2650
VS 4 Mac have fixed this issue by re-implemeting the webview. We can use their implementation to fix ours:

https://github.com/xamarin/vsmac/blob/dev/mrward/identity-use-wkwebview-instead-of-webview/main/src/addins/Xamarin.Ide/Xamarin.Ide.Identity/Xamarin.Ide.Identity.Gui/EmbeddedBrowserWindowController.cs

[2021-06-16 14:03] bgavrilMS commented on #2486
We have nullable structs since C# 3.0 or smth. The "nullable reference types" feature is C# 8.0 only, so MSAL can't use that.

Another way of achieving this is to set the expiry to max, via `DateTimeOffset.MaxValue`, but I feel that `null` is more descriptive.

[2021-06-16 15:07] bgavrilMS commented on #2697
@trwalke - can you take a look?

[2021-06-16 16:53] yantang-msft commented on #2705
@bgavrilMS Thanks for the confirmation!

[2021-06-16 16:53] #2705 closed

[2021-06-16 18:26] trwalke commented on #2697
@timdriever It appears that the logs are cut off after the exception. There should be logs that indicate that MSAL is attempting to use the account manager broker. Can you provide the full logs? Also, Is it possible to repro locally or get the broker logs from one of the affected users?
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Broker-Troubleshooting

[2021-06-16 18:54] hkuadithya opened #2708 "[Feature Request] ECR: MSAL support for dynamic certificates"
Usually, this is how an MSAL application is built using a certificate or a Client Assertion.

[code]

Now, this works great when we're dealing with **static certificates**.

However, most Microsoft Services are now using ECR (Emergency Certificate Rotation) wherein, the certificates are renewed dynamically and the running applications are expected to reload their certificate stores and certificate

[2021-06-16 20:35] jmprieur commented on #1966
@bgavrilMS, now that we'll have OBO refresh the tokens, don't we want to do something here?

[2021-06-17 07:21] pmaytak opened #2711 "[Feature Request] Add additional duration metrics"
**Describe the solution you'd like**
Add metrics to the `AuthenticationResultMetadata`.
- `DurationInInternalCache` - either just how long `ITokenCacheInternal.FindAccessTokenAsync` takes or an aggregate of all cache access (FindAccessToken + FindRefreshToken + etc.) during an AcquireTokenX call.
- `DurationInMsalOnlyInMs` - for an AcquireTokenX call, duration of internal MSAL code minus the exter

[2021-06-17 12:43] bgavrilMS commented on #2711
`DurationInInternalCache` - is this with or without loading / saving the data to Redis etc?
`DurationInMsalOnlyInMs` - don't we already have that, as TimeSpentInTotal - TimeSpentInHttp - TimeSpentInCache ? I guess what you are saying is that we should also substract time spent in authorization (in the browser) for `publicClientApp.AcquireTokenInteractive` calls?

[2021-06-17 13:47] geoffreygeslin commented on #2523
I do reed the docs and here is a quick sum up on choosing the right token cache library :
 * Use "Microsoft.Identity.Client.Extensions.Msal" with Msal.Net for public client applications (wich can use file system to store tokens)
 * Use serializers from "Microsoft.Identity.Web" for confidential Web App or Web APIs ("backends" wich may be replicated and use some distributed database or cache system

[2021-06-17 15:13] bgavrilMS commented on #1966
I think might be a breaking change @jmprieur, especially for people using a flat token cache. Maybe we move it to MSAL 5?

[2021-06-17 15:20] #2523 closed

[2021-06-17 16:45] pmaytak commented on #2711
- `DurationInInternalCache` - without the serialization, since `DurationInCacheInMs` measures that.
- Yes, we can calculate it. Would be good to verify for all the flows, like interactive.

[2021-06-17 17:55] #2623 closed

[2021-06-17 20:39] hkuadithya commented on #2708
@bgavrilMS @jmprieur Could you guys please take a look at this? Basically, we would like the MSAL client to support certificate rotation scenarios. Ideally, we don't want to create a new MSAL confidential application every time the cert gets rotated due to ECR. Please acknowledge and review this.

[2021-06-18 00:25] jennyf19 commented on #2708
@hkuadithya if you are on [net framework 462 or 472](https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net) or [ASP.NET Core](https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates), you can use Microsoft identity web, which does certificate rotation for you.

[2021-06-18 06:35] jmprieur commented on #2523
Thanks for the summary @geoffreygeslin
I've copied and adapted it in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Token-cache-serialization#quick-summary

[2021-06-18 07:32] jmprieur commented on #2708
@hkuadithya : apart from AcquireTokenForClient, we do recommend that you create a IConfidentialClientApplication for each request, and enable to token cache serializer. This is quick to create and has a small footprint. What's your concern about instantiating a new confidential client application?

[2021-06-18 09:15] timdriever commented on #2697
We catch the MsalClientException in our code if the AquireTokenSilent fails. So no logging is available after this. Because the Silent method failed, we then start the AquireTokenInteractive ourselves. Below are the full logs we have available.

We cannot reproduce it locally. If it happens locally and we have more logs I will of course share them.

[code]

[2021-06-18 11:04] bgavrilMS commented on #2711
Sounds good. Can you think of any other time spent outside MSAL except the ones below?

- http
- cache
- waiting for browser to come back to MSAL for AcquireTokenInteractive?

[2021-06-18 17:15] hkuadithya commented on #2708
@jmprieur So, if you use a global/singleton Token cache serializer, will the same token cache will be used multiple `IConfidentialClientApplication`? My only argument for using a global MSAL confidential application was to reduce computation footprint and have a global shared token cache used in the running service.

And how does this token cache serializer solve the issues with Automated Certific

[2021-06-18 18:47] maliksahil opened #2714 "[Documentation] MSAL features"
**Documentation related to component**
MSAL

**Please check those that apply**

- [ ] typo
- [ ] documentation doesn't exist
- [x ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

**Description of the issue**
From this page, https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-supports-multiple-application-architectures-and-multiple-

[2021-06-18 22:21] bgavrilMS opened #2716 "[Bug] Log messages about token filters are recorded multiple times"
4.32.1

Verbose log messages such as "Filtering by tenant_Id. Items before: 3" are logged several times.

[2021-06-20 00:26] SwimlaneBuilder opened #2719 "[Bug] B2C stuck at login page"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**
Microsoft.Identity.Client 4.3 in Xamarin on iOS

**Platform**
Xamarin Forms for iOS

**What au

[2021-06-20 07:32] jmprieur commented on #2719
@SwimlaneBuilder. You need to provide repro steps. Providing a link to a folder doesn't allow us to repro this issue.
And maybe raise the issue in that sample?

[2021-06-21 10:07] #2719 closed

[2021-06-21 10:28] #2498 closed

[2021-06-21 10:28] bgavrilMS opened #2720 "Follow up on WebView2 related work items. Investigate, create bugs in [WebView2 repo](https://github.com/MicrosoftEdge/WebView2Feedback) if needed."
#2482, #2591, #2685

We should also consider removing WV2 support from MSAL if state is not good enough. On .NET Classic this can be done without breaking change.

[2021-06-21 10:56] bgavrilMS commented on #2714
Thanks for pointing this out @maliksahil . I fixed it.

[2021-06-21 10:56] #2714 closed

[2021-06-21 13:41] jmprieur commented on #2708
@hkuadithya
Think of Microsoft.Identity.Web as MSAL for Web.
MSAL.NET itself cannot take a dependency on KeyVault, the Azure SDK etc (the Azure SDK depends on MSAL.NET, and also there are scenarios were customers and partners want the library to be lightweight)

See https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net#some-of-the-samples-illustrating-token-cache-serialization-or-certific

[2021-06-21 14:18] jmprieur commented on #2682
#2465 (comment)

[2021-06-21 18:41] neha-bhargava commented on #2583
FYI: PR for Java's implementation of tenant profiles in api review: https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/3515?path=%2FAccountDomainModel%2FOverview.md

[2021-06-22 08:23] #2716 closed

[2021-06-22 10:55] bgavrilMS commented on #2558
Support for this has been completed in MSAL, see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2623

Microsoft.Identity.Web may choose to further improve this scenario in ASP.NET Core, as it requires hanging on to the original assertion, even if it has expired.

[2021-06-22 10:59] bgavrilMS commented on #2706
P3 as this is not a supported OS

[2021-06-22 11:58] bgavrilMS commented on #2443
Some of the work has been done. Here's what I think is left:

- [ ] Remove cache locks from confidential client.
- [ ] Fail (exception) if token cache contains tokens for multiple users for OBO and AcquireTokenByAuth code. It is insecure and we should not even encourage usage of a dictionary cache as it does not scale (?). Can we do this in MSAL4?
- [ ] Add a convenience method similar to Microosf

[2021-06-22 12:15] bgavrilMS commented on #2583
@neha-bhargava  @jmprieur's there is subtle difference between this proposal and the one in Java lib. The Java proposal suggest to hide the extra API behind an interface that is not exposed to developers:

[code]

Is the purpose of this interface solely to hide the API?

[2021-06-22 15:12] jmprieur opened #2725 "[Bug] CCS routing requires partners to know the spec, which is an unfair requirement to push on them. We need a helper: WithCcsRoutingHint"
## Why?
Today, customers writing ASP.NET MVC web apps, need to understand the CCS routing spec, which is not something we want.

## What?
Have a dedicated API `CcsHintExtensions` on the AcquireTokenXXBuilders to pass-in the necessary information (oid, tid, or even better claims)

Example (non intrusive sample using an extension method, to get the idea)

[code]

[2021-06-22 15:46] jmprieur opened #2726 "[Internal] Test .WithClaims on AcquireTokenForClient"
**Is your feature request related to a problem? Please describe.**
AcquireTokenForClient now needs to support .WithClaims(claimsChallenge) (for CAE with Service principals)

**Describe the solution you'd like**

[code]

[2021-06-22 15:50] jmprieur commented on #2726
This is a partner request (Oren/Jay)

[2021-06-22 15:56] jmprieur commented on #2726
This might exist already. When the service supports it we'd want to test.

[2021-06-22 18:01] kyle-rader opened #2727 "[Documentation] WAM overview has incorrect target framework moniker"
**Documentation related to component**

**Please check those that apply**

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in example
- [ ] needs example

The target framework require for WAM on Windows 10 is listed as `net5.0-windows10.0.17763.0` in the [this section](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wa

[2021-06-22 22:29] trwalke commented on #2694
Waiting for reply from support on the best way to resolve this issue
https://msazure.visualstudio.com/One/_workitems/edit/10208323

[2021-06-23 02:10] #2559 closed

[2021-06-23 02:30] pmaytak commented on #2727
Hi @kyle-rader Can you clarify why `net5*`? What is the behavior when you use `net5.0-windows10.0.17763.0`?

[.NET 5+ OS-specific TFMs](https://docs.microsoft.com/en-us/dotnet/standard/frameworks#net-5-os-specific-tfms), specifies `net5.0*`. (Although both `net5*` and `net5.0` do to work.)

[2021-06-23 10:48] bgavrilMS commented on #2727
I confirm what Peter said, both work for me.

In my setup (I'm running a net5 WinForms app), Visual Studio can't seem to figure out if my project changes and doesn't rebuild. I have to manually rebuild the project, otherwise it'll run an old version. Maybe this is the issue?

[2021-06-23 12:36] bgavrilMS commented on #2725
Seems more like a feature request @jmprieur, as you can inject the same information via `WithExtraHttpHeaders`. I agree that a convenience mechanism would be good though, we should take this.

[2021-06-23 12:59] bgavrilMS commented on #2726
Yes, the `WithClaims` API exists everywhere.

[2021-06-23 13:01] jmprieur commented on #2725
@bgavrilMS that's not the point.
I'm fine with having a generic mechanism to inject extra http headers
but we **cannot** ask partners who don't use Ms.Id.Web to do that to optimize the CCS routing. This requires too much knowledge and goes in the way of getting **out of the box** resilience.

[2021-06-23 13:46] MaxymShtoyko commented on #1671
@dpaulino hi, did you manage to find a solution to this problem?

[2021-06-23 13:49] dpaulino commented on #1671
Yes, don't use MSAL. If you are building an app, create your own webview to manually authenticate to ADO. I used these docs: https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/oauth?view=azure-devops

[2021-06-23 14:05] MaxymShtoyko commented on #1671
@jmprieur looks like I don't have access to the AzureAdMultipleOrgs.AnyOrg property cause there is no namespace that contains appropriate enum.

![image](https://user-images.githubusercontent.com/74073293/123110794-167c2a00-d445-11eb-8f29-cfc904c60e2e.png)

[2021-06-23 14:10] MaxymShtoyko commented on #1671
@jmprieur are there other ways to support a personal Microsoft account email for the "499b84ac-1321-427f-aa17-267ca6975798 / user_impersonation" scope (other than creating your own webview to manually authenticate to ADO).

[2021-06-23 15:22] kyle-rader commented on #2727
Ah I figured it out. I had `net5.0-...` in my csproj for a console app, but a script was passing `-f net5.0` elsewhere overriding it, which was causing this runtime error:
[code]

Thanks for confirming both work!

[2021-06-23 15:22] #2727 closed

[2021-06-23 15:23] jmprieur commented on #1671
Sorry @MaxymShtoyko , I mean `AadAuthorityAudience.AzureAdMultipleOrgs`

[2021-06-23 15:39] MaxymShtoyko commented on #1671
@jmprieur AadAuthorityAudience.AzureAdMultipleOrgs works, but not in the case of a personal MSA
![image](https://user-images.githubusercontent.com/74073293/123126784-5a296080-d452-11eb-9c86-903bf1141645.png)

[2021-06-23 16:32] neha-bhargava commented on #2583
@jmprieur to confirm but seems like it to me too. We don't expose the api directly.

[2021-06-23 17:46] jmprieur commented on #2583
@neha-bhargava @bgavrilMS
What would be the point for us of having a hidden APIs. Our customers want to get the claims.

I would think that, in Java, this is related to the fact that they support front line workers, and have explicitly multi-tenant accounts. In MSAL.NET I'd say, we expose the API directly, and if there is only one tenant, there is only one tenant?

Is there code that I can try out

[2021-06-23 18:02] AndaBucsa commented on #2172
Hi @trwalke ,

Is there a timeline to publish the bindings as dedicated Nuget packages for Xamarin.iOS and Xamarin.Android?

We are interested in using the native libraries rather than the existing cross-platform (Xamarin.Forms) one.

Thank you,
Anda

[2021-06-23 18:14] neha-bhargava commented on #2583
@jmprieur That is the old branch I created when trying to add claims to Auth result. Kept this for reference. Still working on it. Will update when the branch is ready.

[2021-06-24 00:07] knasher commented on #2175
Same problem for me with 4.33.1, I've downgraded to 4.7.1 for now (as is used in this [sample](https://github.com/xamarin/xamarin-forms-samples/blob/e9792d200f56ef0260849b5ee16ed0b1c4de9352/WebServices/AzureADB2CAuth/ADB2CAuthorization/ADB2CAuthorization.csproj)) and that seems to have fixed the problem

[2021-06-24 00:53] jennyf19 commented on #2175
thanks for the additional info, i'll try to get this prioritized. @knasher @patrickdoodyIRL @mauro-dasilva
cc: @jmprieur

[2021-06-24 07:46] MaxymShtoyko commented on #1671
@jmprieur do you have any other ideas on how to resolve the problem?

[2021-06-24 07:53] jmprieur commented on #1671
@MaxymShtoyko, given this is a desktop app, I would just use the Azure devops SDKs. Here is a snippet to connect to Azure DevOps interactively and get access to the work items:

[code]

The project should reference the following:

[code]

[2021-06-24 08:07] MaxymShtoyko commented on #1671
@jmprieur actually I'm trying to integrate MSAL into a mobile application, maybe there are some other ways to help fix this problem in a mobile application besides using Azure DevOps SDKs

[2021-06-24 08:12] MaxymShtoyko commented on #1671
I noticed that if I leave the scope field blank, the MSAL allows me to use a personal account, but in that case, I'm able to get an appropriate permissions

[2021-06-24 08:14] MaxymShtoyko commented on #1671
so looks like the problem is related to "499b84ac-1321-427f-aa17-267ca6975798/user_impersonation" scope

[2021-06-24 08:41] jmprieur commented on #1671
@MaxymShtoyko : the Azure portal seems to recommend: `https://app.vssps.visualstudio.com/user_impersonation`. Did you try this one?
![image](https://user-images.githubusercontent.com/13203188/123231721-c0f15d00-d4d8-11eb-8752-96db25471d3f.png)

[2021-06-24 10:28] bgavrilMS opened #2731 "[Bug] Better error messages for IWA"
Msal 4.33

- [x] IWA on pure ADFS (see customer bug https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2620)
- [x] review IWA implementation, MSAL C++ seem to be doing things a bit differently - increase robustness in parsing mex document
- [x] improve error messages when Mex document cannot be parsed and when UserRealm endpoint cannot be reached

It's simply disabled ht

[2021-06-24 11:41] bgavrilMS commented on #2172
Hi Anda,

We've got the Android bindings to work, but are still working on the ios ones. If you're interested, we can send a nuget package with the Android bindings.

[2021-06-24 11:43] bgavrilMS commented on #2583
Agreed that we should expose tenant profiles by default.

[2021-06-24 12:32] jmprieur commented on #1763
Controlled by the IDP.
Will reopen if there are customers requests

[2021-06-24 12:32] #1763 closed

[2021-06-24 12:47] jmprieur commented on #2443
- Let's implement the LRU cache on all confidential client applications flows.
- remove the semaphores by default? Settings in ConfidentialClientApplicationOptions ?

[2021-06-24 17:18] jmprieur commented on #2731
we discussed:
- direct to ADFS was never supported. We'd want to support it
- need better exceptions (more actionable).
More.
@maliksahil : would you be interested in helping specing what needs to be done:

[2021-06-24 17:53] maliksahil commented on #2731
Yep, happy to help. Will discuss and come up with a spec.

[2021-06-24 21:17] pmaytak commented on #2685
@twieczor You are right it was removed since 1.0.774.44.
I created a test app (net461/netcoreapp3.1) that uses just MSAL. WebView2 works correctly since 1.0.705.50 version is pulled from MSAL.
If I add a direct reference to a newer WebView2 NuGet in my app, the newer WebView2 reference is picked up and the error does happen. Do you directly import a newer version of WebView2 SDK in your app? The w

[2021-06-24 23:29] karezza commented on #2620
Any troubleshooting I can do for you to help out?

[2021-06-25 07:56] jmprieur commented on #2620
@trwalke can you please have a look at this one?
@maliksahil would you please be able to help?

[2021-06-25 09:54] jmprieur commented on #2012
Looking at using device identity.
Waiting for Sasha's answer

[2021-06-25 10:45] bgavrilMS commented on #2620
Hi @karezza - thank you for the very detailed issue. We've also had a recent report of this issue internally.

Sadly, IWA [is simply disabled](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/e7fd6b8abfdb63dcf2aaa460aeec3616b40ba3ea/src/client/Microsoft.Identity.Client/Internal/Requests/IntegratedWindowsAuthRequest.cs#L54) when the authority is pure ADFS. Back when we di

[2021-06-25 15:17] jmprieur opened #2733 "[Feature Request] Allow customers to provide a key to access the OBO token for long running process"
**Is your feature request related to a problem? Please describe.**
1. Long running processes in web APIs are now possible since OBO tokens are refreshed automatically; however this requires the web API to keep the user assertion, to call AcquireTokenOnBehalfOf, even if it has expired. The following article [How to get an OBO token in an event handler or a long running process](https://github.com/A

[2021-06-25 19:13] Ponant commented on #1473
Good evening,
Look @jmprieur and @bgavrilMS, I started from scratch considering that I and  @tedvanderveen are wrong. So I made
`dotnet new webapp --auth IndividualB2C` (.Net 6 latest preview as of today and also tried .Net 5), as you suggested.

Entered in appsettings

[code]

 Register an app in the portal as Web with a reply url "https://localhost:5001/signin-oidc" and checked the AccessToken (

[2021-06-25 19:34] jmprieur commented on #1473
@Ponant:
- did you update to the latest version of Microsoft.Identity.Web ?
- I disagree that the redirect URI should be registered as a SPA. It should be registered as "web".

[2021-06-25 20:39] tedvanderveen commented on #1473
@jmprieur please be advised that in order to keep PKCE mode work, you now also have to set `UsePkce` to `true` in the config.
Somehow a change was introduced in more recent versions that requires this setting, that was previously not required. Found out about this undocumented breaking change, after bumping the version in my project last week.

[2021-06-26 00:21] Ponant commented on #1473
- @jmprieur , yes I am on the latest version (1.14.0)
- Yes it should be web as this is a confidential RP website, but it must be set as spa in the portal to get the code_challenge

**Did you or can you try it out????**

I even wonder if it is not because I am based in Europe, thus somehow seeing another version of the portal
Please advise

@tedvanderveen on version 1.14.0 pkce defaults to true in

[2021-06-26 04:23] tedvanderveen commented on #1473
That SHOULD be the case, PKCE FTW!

But it seems like it now defaults to `false` lately, as I had to explicitly set `UsePkce` flag to `true`. Not sure what/why/how..

[2021-06-26 04:51] tedvanderveen commented on #1473
[IETF](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-11#section-2.1.1) view on PKCE with confidential apps.

[2021-06-26 05:06] tedvanderveen commented on #1473
I guess in B2C the choice options Web and SPA could be merged into one. And users can opt-out from PKCE (and thereby opt-in to use a confidential client_secret during token exchange).

[2021-06-26 16:26] jmprieur commented on #1473
@tedvanderveen @Ponant

First, if you create your app with `dotnet new webapp --auth IndividualB2C`, you will only create an app that signs-in user, it won't call an API, and therefore, there is no reason to use PKCE (which is only used when you get an access token to call an API)

If you want to enable PKCE, you need to create you app with `dotnet new mvc --auth  IndividualB2C --called-api-url "h

[2021-06-26 16:28] jennyf19 commented on #1473
I'm not sure how AAD handles when both are used (client credentials and PKCE) and which one is used to bind to the auth code. I will need to ask on the server side. @tedvanderveen

[2021-06-26 16:37] jennyf19 commented on #1473
@tedvanderveen in this case, web app/web API, you have to always include the secret, which is what is used to validate the client on the server side, the use of  PKCE in this case is just an additional security layer, but due to the nature of the [confidential client](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3), they are secure by default against the type of attack PCKE is used for.

[2021-06-26 16:47] tedvanderveen commented on #1473
@jennyf19 no. Just no. PKCE is there to REPLACE the client secret requirement. Please read the spec..

[2021-06-26 16:52] jennyf19 commented on #1473
@tedvanderveen you're talking for a SPA scenario then? to not have to provide a client_secret, which means it's a public client application. I was talking about web apps scenarios. For SPAs, use MSAL.JS.

[2021-06-26 17:09] tedvanderveen commented on #1473
@jennyf19 can you please take a moment to read up in the official spec I shared earlier today before posting a reply??
Let me sum it up for you here: the current best practice is to use PKCE on confidential (web)apps too. As a replacement for any client secret stuff.
Thanks.

[2021-06-26 17:12] tedvanderveen commented on #1473
And FYI: we are already using PKCE in full production workload on a .Net backend environment. With zero limitations. And no client secret blabla whatsoever.

[2021-06-28 07:57] queequac commented on #2682
@jmprieur My gut feeling is that @23W was talking more about official documentation. This should be somewhere on https://docs.microsoft.com, maybe along with the API documentation.
Currently this is just an information shard hidden within a github issue...

[2021-06-28 11:16] AndaBucsa commented on #2172
Hi @bgavrilMS,

Due to time constraint we already integrated the cross platform library into our project but definitely when time comes and we  need more customisations we'll replace the cross platform library and use the nuget that has the native bindings.

Thank you,
Anda

[2021-06-28 12:02] NWessel commented on #2733
Perfect! Thank you so much

[2021-06-28 17:23] crazydef opened #2734 "Include x64 Builds in Nuget Package"
Hi, I just started looking at integrating MSAL into our application stack and the first hurdle that jumps right out at me is that the Nuget Package doesn't contain any 64-bit binaries.

It would save me (and others) a ton of work if the Nuget package contained 64-bit builds.

As it stands, it looks like I currently have to spend (read: waste) time turning my wrappers (all our code is C++) into a C

[2021-06-28 20:32] jmprieur commented on #2734
What do you mean @crazydef ? it's "any CPU". Would you like us to use .NET native to pre-generate for all platforms?

[2021-06-28 22:05] crazydef commented on #2734
Sorry, ignore me.  It was a long day of many things not quite working that suddenly started working for no obvious reason after a clean build.

[2021-06-28 22:05] #2734 closed

[2021-06-29 04:14] karezza commented on #2620
Thank you, understood.

[2021-06-29 08:26] WilliamWatterson86 opened #2735 "ios - Facebook IDP: Non-HTTPS URL redirect is not supported in webview"
**Logs and network traces**
Stack trace from AppCenter:

Microsoft.Identity.Client.Internal
AuthCodeRequestComponent.VerifyAuthorizationResult (Microsoft.Identity.Client.UI.AuthorizationResult authorizationResult, System.String originalState)
Microsoft.Identity.Client.Internal
AuthCodeRequestComponent.FetchAuthCodeAndPkceInternalAsync (Microsoft.Identity.Client.UI.IWebUI webUi, System.Threading.Ca

[2021-06-29 08:56] bgavrilMS commented on #2735
The root cause for this is that our embedded webviews reject navigation to `http`. There are many redirects that occur in the auth page (i.e. get username > redirect > get password > redirect > consent > redirect etc.)
 We simply do not expect the IDP to ever redirect to an HTTP page and we error out.

Verbose logs will show each redirect as it occurs. Can you let us know where the http redirect o

[2021-06-29 10:54] SirElTomato commented on #2558
Thanks for the fix.

@jmprieur I am now getting the following error after updating the Microsoft.Identity.Client package to 4.33.0:

[code]

I am creating and using the graph client like this:
[code]

I have tried changing it to use ClientCredentialProvider instead of AuthorisationCodeProvider (can you confirm if this is correct?) but now get the following error:

[code]

[code]

Please can you ad

[2021-06-29 11:10] jmprieur commented on #2558
@SirElTomato : this is not OBO: OBO is for web APIs calling downstream web APIs.
AuthorizationCodeProvider is for web apps that calls APIs
ClientCredentialProvider for apps (web apps, web APIs, console apps), that call APIs on their own behalf: that is daemon apps

- What are you building? a web app? or a web API?
- Which technology? ASP.NET Core? or ASP.NET classic ?
-

[2021-06-29 11:36] WilliamWatterson86 commented on #2735
@bgavrilMS - thanks for getting back to me.

I have turned on verbose logs there and this the only thing I see with redirect URL:

2021-06-29 12:14:34.279 AppiOS[441:24053] MSAL!!!!!! - Info False MSAL 4.33.0.0 MSAL.Xamarin.iOS 14.6 [06/29 11:14:34.27 - 7b0aed4c-970b-4db4-8219-538dda9a24bb] Starting the iOS embedded webui. Redirect URI: msal78c90f20-48cd-414f-a772-880b8124fec8://auth/

Maybe somet

[2021-06-29 12:40] SirElTomato commented on #2558
@jmprieur

 - What are you building? a web app? or a web API?
      - The user signs in from the mobile app and gives permission to read emails.
From our webapi, we use OBO to cache the tokens so that we can perform a long running scan of the users inbox, and repeat these scans at any point the user wants.
 - Which technology? ASP.NET Core? or ASP.NET classic ?
      - ASP.NET classic

[2021-06-29 12:55] jmprieur commented on #2558
@SirElTomato
then I think you want to use the On-behalf-of provider:
https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?tabs=CS#OnBehalfOfProvider

[2021-06-29 14:06] SirElTomato commented on #2558
@jmprieur Perfect that worked! Thank you for all your help

[2021-06-29 14:33] Ponant commented on #1473
@jmprieur,
What I do not get is that virtually anyone is heading towards deprecating the implicit flow. When using only a web app I do have to set the implicit flow in the portal, just to get the idtoken. Otherwise it throws "AADB2C90057: The provided application is not configured to allow the 'OAuth' Implicit flow."
Also,
https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c

[2021-06-29 15:27] tedvanderveen commented on #1473
@Ponant I had same when upgrading to recent version. I could fix it by explicitly setting config options `UsePkce` to `true`. Did you give that a try?

[2021-06-29 15:41] Ponant commented on #1473
@tedvanderveen , yes I did because you mentionned it a few days ago, but it did not work out. In short, SPA with idtoken and access token checked out in the portal does not work anymore. Even with `options.UsePkce=true` form the `MicrosoftIdentityOptions`.

[2021-06-29 16:09] rabenshm opened #2736 "MSAL 4.33 throws on mismatch authority"
Hello

After upgrading to MSAL 4.33.0 we are getting exception  Microsoft.Identity.Client.MsalClientException:
 The application is configured for cloud login.microsoftonline.com and the request for a different cloud - login.windows.net. This is not supported - the app and the request must target the same cloud.
See https://aka.ms/msal-net-authority-override for details.

We are using KeyVaultClien

[2021-06-29 16:14] bgavrilMS commented on #2736
This is blocking Kusto from upgrading. The environments "login.microsoftonline.com" and "login.windows.net" are the same, MSAL should do instance discovery before throwing.

[2021-06-29 16:38] tedvanderveen commented on #1473
@Ponant sad story. Assuming nothing changed on the side of B2C, this means it's client tooling was broken since version 1.14.0? Good to know, will hold off on bumping until workaround is found.

[2021-06-29 17:25] jmprieur commented on #1473
@Ponant

Yes, this is an issue the B2C service is aware of, and they are working on it.

Thanks for the heads-up on this one. This should no longer be necessary when using AAD (it's still with B2C)
But this is not implicit flow. It's **hybrid flow**

[2021-06-29 17:51] Ponant commented on #1473
Yes you are right but I feel all of this is very confusing. I saw a few posts on stackoverflow. In the end even of pkce is a spec it remains a naturally more viable solution than the implicit or hybrid flow. So I still do not understand why we can’t have this with a confidential app with proper documentation or code + portal configuration. In any case thank you for having taken the time to answer

[2021-06-29 18:11] tedvanderveen commented on #1473
@Ponant @jmprieur PKCE on B2C works. This .Net client handles it fine. We have it running in production .Net backend app. Without client secrets.
It's just that you have to pick the "single page application" branded option in B2C to set things up.

[2021-06-30 07:21] pmaytak commented on #2685
For reference: https://github.com/MicrosoftEdge/WebView2Feedback/issues/1453

[2021-06-30 07:34] pmaytak commented on #2591
For tracking: https://github.com/MicrosoftEdge/WebView2Feedback/issues/1410

[2021-06-30 09:56] jmprieur commented on #2683
@bgavrilMS : do you think we still need it, now that we have the following:https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization?tabs=aspnetcore

[2021-06-30 12:18] jmprieur commented on #2012
@NelsonLamprecht
We are going to close this one as won't fix.
To use a certificate the best would be that you create a web app, that would be launched by your kiosk.

[2021-06-30 12:18] #2012 closed

[2021-06-30 22:05] NelsonLamprecht commented on #2012
I'm disappointed as I feel the use case is there but I understand some of the risks are too great. So I can share the solution that others might use, from our UWP kiosk app, we used a certificate, which we can control a bit more than plain text client id's and secret and use that certificate to authenticate to a web app that is only accepting client certificates which then relays the requests, sin

[2021-07-01 07:29] pmaytak commented on #2685
@bgavrilMS Based on the https://github.com/MicrosoftEdge/WebView2Feedback/issues/1453#issuecomment-871711806, if we upgrade WebView2 SDK version, we'll have to use `OnKeyDown` instead of `AcceleratorKeyPressed`.

Another point is that these events block all shortcut keys like CTRL + V, arrow keys. I think we might need to update the event handler to allow copy, paste, and such. Another alternative

[2021-07-01 07:31] pmaytak commented on #2482
Update: Seems like the workaround doesn't work when the library is consumed as a NuGet. Left comment in the WebView2 feedback issue.

[2021-07-01 07:31] pmaytak commented on #2720
Status updates are in the issues themselves.

[2021-07-01 07:31] #2720 closed

[2021-07-01 08:50] jmprieur commented on #2012
Thanks @NelsonLamprecht
I suppose you meant web APIs (web apps interact with users)

[2021-07-01 13:00] NelsonLamprecht commented on #2012
Yes, web api. I was speaking more generally but this is the right place to be specific :). Updated comment

[2021-07-01 16:15] tedvanderveen commented on #1473
#1294

[2021-07-01 16:17] tedvanderveen commented on #1473
Dit some further investigation using Fiddler to compare B2C communication between version 1.10.0 and 1.11.0
See https://github.com/AzureAD/microsoft-identity-web/issues/1294

[2021-07-01 16:45] #2700 closed

[2021-07-01 19:46] trwalke opened #2738 "[Testing] Validate Desktop scenarios on Windows 11 to ensure compatability"
We need to do a full test pass with desktop authentication scenarios to ensure compatibility with windows 11.
- [ ] Interactive auth with WebView1 embedded/System browser
- [x] WAM
- [ ] IWA
- [ ] Pure ADFS

Please contact WevView2 team for more details about WebBrowser deprecation.

etc...

 For the moment, Windows 11 is available for windows insiders https://insider.windows.com/en-us/getting-sta

[2021-07-02 13:30] jmprieur opened #2739 "[Feature Request] Improve the error message when people use .WithAzureRegion(region) locally."
**Is your feature request related to a problem? Please describe.**
Partners try to run their services locally, and get the following exception:

[code]

and they are confused as this is not actionable.

**Describe the solution you'd like**
- work with EVO to improve the error message and have it more actionable (with an aka.ms link) | my preferred option. @hpsin can we do that?

**Describe alterna

[2021-07-04 09:08] qetza commented on #2597
Hi @jmprieur,
I found this issue while trying to deal with MSI and caching in Azure.Identity and seeing that no cache was provided 😞

As @henriblMSFT says using Azure.Identity is not only for support of MSI but also for its support of fallback authentication mechanism. As developers are developing and testing locally without MSI, the DefaultAzureCredential class allows them to work without having

[2021-07-04 14:24] jmprieur commented on #2597
@qetza @henriblMSFT
- Azure.Identity is going to add support for OBO, and therefore will leverage MSAL cache.
- We also have discussions for MSAL to support MSI.

[2021-07-04 18:48] earora97 opened #2740 "Question - Validate token using MSAL"
Hi,

I was going through the code and I am trying to understand if MSAL has the support of validating tokens too? If yes can you please point me to the code snippet? If not, can you please help me understand how can I validate my token generated using MSAL library? Thanks!

[2021-07-04 19:30] jmprieur commented on #2740
@earora97
No msal.Net doesn't validate tokens.
And a client app shouldn't validate a token and sometimes can't even as it can be encrypted. Only the protected web API for which the token was acquired should validate it. See which sdk you want to use to do that in https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-overview

[2021-07-05 05:48] qetza commented on #2597
@jmprieur, will Azure.Identity leverage MSAL cache for authentication mechanism (MSI, VS, Azure CLI...) or only for OBO flow? If it's only for OBO, it's a start but i think that what we would like is to have integrated caching for all mechanism :smile:

[2021-07-05 06:25] #2740 closed

[2021-07-05 08:39] jmprieur commented on #2597
that's more a question for the Azure SDK team, @qetza.

[2021-07-05 13:24] SirElTomato commented on #2558
@jmprieur I am still getting the following error after an hour. I have updated Microsoft.Identity.Client to 4.33.0

[code]

[2021-07-05 13:39] SirElTomato commented on #2558
Here is a breakdown of the flow I am using:

- Login from mobile app to retrieve JWT.
- Send JWT to our API and execute the following to acquire a token and cache the token in cosmos:
[code]
- Save the JWT to the user object so that it can be used to acquire the token again in future
- Call this again when a token is needed to call the Outlook api using the original jwt which was saved to the user

[2021-07-06 16:37] jennyf19 opened #2743 "[Feature Request] Use response_mode=form_post for B2C requests"
Investigate if MSAL.NET can/should use a response mode of form_post with system browser for B2C when sending a request. This is so the auth code will not be part of the URL, causing limit exceeding. MSAL is doing response_mode=query.

Related issues:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2607
https://github.com/AzureAD/microsoft-authentication-library-for-do

[2021-07-06 20:32] agolotin opened #2746 "[Bug] Cross-cloud calls to eSTS break when region discovery enabled"
**Logs and network traces**

When issuing a request from Azure Gov cloud to Public identity endpoint we found the following issue:

[code]

After digging into our internal logs, we found that the issue had to with the auto region discovery and how MSAL.NET handles the client assertion when creating a token request. More details below

**Tl;Dr:**
Audience claim contains the auto discovered region o

[2021-07-06 20:44] jmprieur commented on #2746
@agolotin : do you think it's a regression?
@neha-bhargava can you please have a look?
cc: @henrik-me

[2021-07-06 21:01] agolotin commented on #2746
I am unsure whether this is a regression since 4.29.0 when IMDS based region discovery was introduced. The issue could have existed previously, I have not dug into the code before 4.29.

[2021-07-06 21:43] neha-bhargava opened #2747 "[Bug] Remove the null check for .WithAzureRegion()"
When a null value is passed in the .WithAzureRegion() api, we point skip region discovery and use the global endpoint and null is a valid value for this api.

Remove the null check made here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/ee3cd9c2fe59c0c34ff3a65142bc16f017fd7b27/src/client/Microsoft.Identity.Client/AppConfig/ConfidentialClientApplicationBuilder.cs#L206

[2021-07-06 23:42] jennyf19 opened #2748 "[Bug] CCS routing hint sends "missing from token response" as UPN in case of B2C"
![image](https://user-images.githubusercontent.com/19942418/124679190-dd967900-de78-11eb-85fb-45894378312e.png)
repro:
Sign-in w/a b2c account. Close the app. Sign-in again using `.WithLoginHint()`, and you'll see "Missing from the token response" in the UI, then in the routing hint, it is sent. Probably should not send it in this case? Or not send for B2C.

[2021-07-07 00:59] maliksahil commented on #2706
Ideally an error like this should return the PlatformNotSupportedException.
The error message should clearly mention which platforms are supported.

[2021-07-07 09:01] markrobert194 commented on #745
Did anyone find a fix for this?

[2021-07-07 09:08] HWouters opened #2749 "B2C login with federated identity is broken in 4.33"
**Logs and network traces**
Since version 4.33.0 I can not login anymore with federated identity in B2C. Login with username password is still working. The following errors occurs:
AADB2C90090: The provided JWE is not a valid 5 segment token. Correlation ID: b0e306ce-96f0-4c1f-a9a8-2dc0fc5b6dc2
or
AADB2C90090: The provided JWE contains a field that is not base64 compliant.
Correlation ID: 41e39615

[2021-07-07 09:25] HWouters commented on #2749
I now think it has nothing to do with federated id. I think it has to do with the token size, if I remove claims it works.
However, it's a regression issue, because in 4.32 it works without removing claims.

[2021-07-07 09:58] jmprieur commented on #2749
Probably a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2607
cc: @jennyf19 FYI

[2021-07-07 15:10] twieczor commented on #2685
@pmaytak Unfortunately, we use WebView2 SDK directly, and can't downgrade it. Hopefully the new MSAL will solve this.

[2021-07-07 20:24] trwalke commented on #2748
Yes, probably should not send. Thanks for finding @jennyf19

[2021-07-08 16:18] trwalke commented on #2725
released in [4.34.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.34.0)

[2021-07-08 16:18] #2725 closed

[2021-07-08 16:18] trwalke commented on #2486
released in [4.34.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.34.0)

[2021-07-08 16:18] #2486 closed

[2021-07-08 16:18] trwalke commented on #2679
released in [4.34.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.34.0)

[2021-07-08 16:18] #2679 closed

[2021-07-08 16:57] trwalke commented on #2525
Tested end to end and it works as expected.
Documentation
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/CCS-Routing-Hint

[2021-07-08 16:57] #2525 closed

[2021-07-08 17:44] maliksahil opened #2752 "[Bug] When using AcquireTokenByIntegratedWindowsAuth against ADFS, we should send a better error message when encountering 401"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**

4.33

**Platform**

Windows, all versions of .NET

**What authentication flow has the issue?*

[2021-07-08 21:24] jennyf19 commented on #535
![image](https://user-images.githubusercontent.com/19942418/124992678-245ead00-dff8-11eb-816c-aaf3edc70aa3.png)

[2021-07-08 22:51] SameerK-MSFT commented on #2175
We tried with the same code as you and cannot repro. Can somebody please share a demo project? @patrickdoodyIRL @knasher @mauro-dasilva Thx

[2021-07-10 00:29] henrik-me opened #2754 "Enable deterministic builds for CI MSAL builds."
Open the nuget package with NugetPackageExplorer
Under Health it can be observed that deterministic (dll/exe) is flagged for an error.

The solution is that the ContinuousIntegrationBuild MSBuild property has to be set to true when built on CI. In practice that means something like this in your directory props/targets file.

[code]
[Reference](https://www.mitchelsellers.com/blog/article/net-5-dete

[2021-07-10 01:28] jennyf19 opened #2755 "[Bug] Do not throw if no ccs routing hint provided"
@trwalke i don't think MSAL should throw if no ccs routing hint is provided, because maybe there isn't a user present, so MSAL should not apply the header if the value is string.Empty or null. What do you think?
`throw new ArgumentException(MsalErrorMessage.CcsRoutingHintMissing, nameof(userObjectIdentifier));`

this way, the app will continue to work. doesn't seem like an issue that should preven

[2021-07-10 05:31] trwalke commented on #2755
I took a look at some of the other apis that are not critical to authentication and they do not check for null values so I think you are right.

These two apis do not check for null for example:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/517598c185e1010b4a161d54a9fb53a3fde49b3a/src/client/Microsoft.Identity.Client/ApiConfig/AcquireTokenInteractiveParameterBuilder.c

[2021-07-10 07:03] pmaytak commented on #2743
Findings:
- I was able to repro this only on **embedded legacy** browser (not system browser). Since legacy browser is based on Internet Explorer, it also has a max URL length of 2083 characters. So longer URLs get cut off and result in parsing errors.
- Embedded WebView2 works because it's based on Microsoft Edge, which has a longer URL limit.
- System MS Edge also works for the above reason.
- S

[2021-07-10 15:38] jennyf19 commented on #2755
makes sense, thanks @trwalke

[2021-07-11 15:04] jmprieur opened #2756 "[Bug] Some XML comments have <item> without <description>"
Some XML comments have `<item>` without `<description>`, which leads to an empty text:

For instance:
- [NoPromptFailedError](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/MsalError.cs#L98-L105) - has `<description>`, has bullet text
- [NoTokensFoundError](https://github.com/AzureAD/microsoft-authentication-library-for-dotne

[2021-07-12 01:19] #2756 closed

[2021-07-12 07:56] bgavrilMS commented on #2743
Is there a reason to do this only for B2C? We could do this for AAD and ADFS as well, to have simpler logic in the lib, unless you can think of any issues with using POST ...

[2021-07-12 08:32] jmprieur commented on #2747
@henrik-me I think you didn't want to take this one.
Can we please get to a closure?
cc: @bgavrilMS @jennyf19 @trwalke @pmaytak

[2021-07-12 08:41] bgavrilMS commented on #2747
It's one of those API rules where we haven't been very consistent:

`WithAccount(null)` `WithLoginHint(null)` - ignores setting
`WithRedirectUri(null)` and most others - throw

IMO, we should standardize on the second option, i.e. throwing, to make the APIs more intentional.

[2021-07-12 08:45] bgavrilMS commented on #2754
This has to be done for: MSAL, MSAL.Desktop, MSAL cache extension and MIW

[2021-07-12 17:33] #2747 closed

[2021-07-12 17:36] hkuadithya commented on #2708
@jmprieur I'll be closing this issue now. Please highlight Certificate Rotation scenarios in the Identity Client docs as well (link to Identity Web APIs and Samples). Else, you'll keep receiving several issues like these.

[2021-07-12 17:36] #2708 closed

[2021-07-12 18:18] jmprieur commented on #2708
@hkuadithya : can you share links where you'd want to see this info from?

[2021-07-12 20:45] bgavrilMS commented on #2743
@pmaytak - please ask the affected customers to see if they can move to .NET Core and to use WebView2 - I think it's stable there.

You can have a look to see how the WebBrowser can be modified to parse a POST response, I think the relevant code is here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/0d53f3e80e29f9c6d172e069c10e02d71e24f65e/src/client/Microsoft.Identit

[2021-07-12 21:26] paulvwarner opened #2759 "[Bug] issue using WithIosKeychainSecurityGroup (app hangs at AcquireTokenSilent)"
**Logs and network traces**
Device log from when the AcquireTokenSilent() call occurs to after authentication times out:
[full device log.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/6804438/full.device.log.txt)

**Which version of MSAL.NET are you using?**
Microsoft.Identity.Client Nuget version 4.34.0

**Platform**
Xamarin.Forms (iOS app)

**What authenticati

[2021-07-12 21:47] pmaytak commented on #2482
cc @bgavrilMS @mjcheetham
I may have found another workaround for this. In the client app project add `<PlatformTarget>AnyCPU</PlatformTarget>` and directly reference WebView2 NuGet.

[2021-07-13 00:38] paulvwarner commented on #2759
It looks like there was a Xamarin.Forms update today that may have fixed this.  Once I made the following updates, everything worked with no issues:

updated Xamarin.Forms from 5.0.0.2012 to 5.0.0.2083
updated Microsoft.Intune.MAM.Xamarin.iOS from 14.0.0 to 14.3.5
updated Newtonsoft.Json from 12.0.3 to 13.0.1

changed Release|iPhone config in iOS.csproj file:
- removed: <MtouchFloat32>true</Mtouch

[2021-07-13 00:38] #2759 closed

[2021-07-13 05:14] pmaytak commented on #2607
Hi @NickVandewalle
Please see my investigation in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2743#issuecomment-877583645
Could you try some of these workarounds?
- Use default system browser instead of the embedded ones [System browser wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/System-Browser-on-.Net-Core#how-to-use-the-syst

[2021-07-13 05:15] pmaytak commented on #2749
Hi @HWouters
Please see my investigation in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2743#issuecomment-877583645
Could you try some of these workarounds?
- Use default system browser instead of the embedded ones [System browser wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/System-Browser-on-.Net-Core#how-to-use-the-system-bro

[2021-07-13 07:39] SirElTomato commented on #2558
@trwalke I don't believe this is fixed, please see my comments and suggest where I am going wrong if that is the case

[2021-07-13 07:43] jmprieur commented on #2482
@pmaytak do we want to document this in the wiki?

[2021-07-13 15:52] #2643 closed

[2021-07-13 15:59] henrik-me commented on #2443
@bgavrilMS
Seems like the work items should be updated to what has been done and what is remaining? Having these items inline will not likely be seen, especially not if going back later to explore what we wanted to do.

[2021-07-13 16:09] pmaytak commented on #2482
@jmprieur We do have it in a wiki: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/WebView2#troubleshooting. But thanks, for the reminder, I'll update it.

[2021-07-13 17:29] bgavrilMS commented on #2752
Not sure about UnAuthroizedException. MSAL throws MsalClientException or MsalServiceException exceptions to denote library problems and server problems respectively.

I think MsalServiceException is better here.

But totally agree that we need to improve this experience by throwing a good exception.

[2021-07-13 17:30] bgavrilMS commented on #2752
CC @trwalke for general IWA

[2021-07-14 15:55] eusebiu opened #2765 "[Bug] Unable to use WAM in Unity 2021"
**Logs and network traces**
None

**Which version of MSAL.NET are you using?**
4.34 - the Microsoft.Identity.Client.dll is added as a Unity plugin (for Editor and Standalone only)

**Platform**
.NET 4.5, Unity 2021

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [x] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow

[2021-07-14 16:04] eusebiu opened #2766 "[Bug] Interactive flow not working in Unity 2021"
**Logs and network traces**
None

**Which version of MSAL.NET are you using?**
4.34 - the Microsoft.Identity.Client.dll is added as a Unity plugin (for Editor and Standalone only)

**Platform**
.NET 4.5, Unity 2021

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow

[2021-07-14 17:07] bgavrilMS commented on #2766
Unity doesn't use the .NET Framework, it uses Mono. AcquireTokenInteractive uses a WinForms based browser, which Mono does not support.

As far as I know, only [device code flow](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Device-Code-Flow) works with Mono.

But it may be worth trying the system browser by doing

1. Register http://localhost as redirect uri
2. Add `

[2021-07-14 17:08] bgavrilMS commented on #2766
Also see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2305, of which this is a duplicate.

[2021-07-14 21:31] eusebiu commented on #2766
Indeed, Unity uses Mono but Windows Forms APIs can be invoked from Unity apps (using the dll from .Net Framework) - Windows only.
Also, your workaround seem to work. Thanks!

[2021-07-14 21:31] #2766 closed

[2021-07-15 04:21] SameerK-MSFT opened #2767 "[Feature Request] Provide WithCertificateName API to fetch certificate by name"
**Is your feature request related to a problem? Please describe.**
To provide certificate to confidential client, developer has name of the cert available; but needs to write code to fetch it.

**Describe the solution you'd like**
Provide a WithCertificateByName API that will accept the name of certificate and provide the first found certificate for configuration.

**Describe alternatives you've c

[2021-07-15 04:25] SameerK-MSFT opened #2768 "[Feature Request] Provide certificate loading APIs (by thumbprint / by name etc.)"
**Is your feature request related to a problem? Please describe.**
Use Case: To provide certificate to confidential client, developer has thumbprint of the cert available; but needs to write code to fetch it.

**Describe the solution you'd like**
Provide a WithCertificateByThumbprint API that will accept the thumbprint of certificate and provide the certificate for configuration.

**Describe alter

[2021-07-15 08:27] trwalke commented on #2694
The solution we have today works fine and is the right thing to do. Get conformation from ADO support

[2021-07-15 09:24] #2694 closed

[2021-07-15 09:26] #2685 closed

[2021-07-15 11:36] crazydef opened #2769 "How to refresh a token?"
Hi,

I'm using MSAL for .Net (wrapped in two DLLs - why is there no c++ version?) to manage authentication for this application.

I've set up a token cache, and I can retrieve a token with:

[code]

However the token I receive has expired.  It was my understanding that tokens would be automatically refreshed, or, if they have totally expired, the above function would throw an exception so that I c

[2021-07-15 11:43] jmprieur commented on #2769
@crazydef : this should just work.
- do you have repro steps?
- How do you know that the token has expired?
  - is it the web API that you use it for that tells you this?
  - or is it the expiry on the token itself?
- which flow did you use to acquire the token i the first place?

[2021-07-15 12:43] crazydef commented on #2769
@jmprieur

Apparently it is working.  There was a stupid bug in my code that was confusing the issue.  :)

[2021-07-15 12:43] #2769 closed

[2021-07-15 12:53] jmprieur commented on #2769
Thanks for the update, @crazydef

[2021-07-15 13:27] bgavrilMS opened #2770 "[Bug] AuthorityEndpoint caching causes memory leaks"
msal 4.33

![image](https://user-images.githubusercontent.com/12273384/125795603-a423c177-7af1-49ec-b151-bee650ce4003.png)

Repro steps:

- MSAL + MIW  using OBO with 100,000k of tenants
- MSAL caches authority endpoints
- All those strings add up and memory slowly rises on the machine

Potential Solution:

Review MSAL's static caches. It is acceptable for MSAL to cache enviroment (i.e. cloud) rel

[2021-07-15 13:28] bgavrilMS commented on #2770
Found by MyApps

[2021-07-15 13:36] bgavrilMS commented on #2749
@pmaytak - we should consider releasing as soon as you have a fix, at least a preview version for folks to try out.

[2021-07-15 16:00] trwalke opened #2771 "[Feature Request] Enable MSAL to perform IWA in pure ADFS environments"
**Is your feature request related to a problem? Please describe.**
At the moment. MSAL is unable to perform IWA when connected to an ADFS `WithAdfsAuthority()` which results in an exception being thrown. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2731

**Describe the solution you'd like**
There is an authentication flow available for MSAL to use to handle this sc

[2021-07-15 16:29] trwalke commented on #2731
Issue for supporting IWA in ADFS https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2771

[2021-07-15 18:19] HWouters commented on #2749
@pmaytak that's a very nice investigation. I'm sure the default system browser will solve this issue. But I'm not keen on changing to different browser, we have many products out in the field and I'm afraid for potential other problems with the system browser. Especially if I see that port assigning is not supported in B2C...
Question remains why it breaks in 4.33 and is working fine in 4.32.

[2021-07-15 20:15] igalfsg commented on #2673
Is this planned for 4.35.0?

[2021-07-15 20:36] Avivskie opened #2772 "[Bug] System.UriFormatException: Invalid URI - when creating ConfidentialClientApplicationBuilder with auto region discovery"
Opening bug after discussing it with Jenny Ferries from the MSAL team.
Getting the below exception when the code is deployed into Geneva synthetic runners, but when running locally the exact same code it works fine.

**Logs and network traces**

TraceMessage: 'MSAL: False MSAL 4.34.0.0 MSAL.Desktop 4.8 or later Windows Server 2016 Datacenter [07/15 20:04:04.21] ConfidentialClientApplication 227795

[2021-07-15 21:28] Avivskie commented on #2772
It seems that the bug is related to the auto discovery with WithAzureRegion(), when removing that part it works fine.

**Code that didnt work:**

[code]

**Code that worked:**

[code]

[2021-07-15 21:31] pmaytak commented on #2749
@HWouters Understandable. I'm working on a fix for the next release. Also, I was able to repro this on 4.32 and 4.30.

[2021-07-16 08:19] SirElTomato opened #2773 "[Bug] Inconsistent results using OBO flow"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**
Microsoft.Identity.Client 4.34.0
Microsoft.Identity.Web 1.14.0

**Platform**
.Net Framework 4.

[2021-07-16 09:54] jmprieur commented on #2773
@SirElTomato
- do you see this happening recently? or also with previous versions of MSAL?
- what scopes are you requesting?
- do you have MSAL logs? https://aka.ms/msal-net-logging

[2021-07-16 10:28] SirElTomato commented on #2773
@jmprieur I've just found out that this error is happening with personal microsoft accounts only, it works fine with organisational accounts.

I have had this issues previously but fixed it by adding the extra scopes to the acquire token interactively method from the mobile app. I believe it is because the scopes required are already consented to for the whole of the organisation for the organisat

[2021-07-16 10:35] bgavrilMS commented on #2771
Do we have a test environment? I'd like to try to see why WAM can't achieve this.

[2021-07-16 10:55] SirElTomato commented on #2773
When I get the consent screen popup I get asked for consent for "Maintain access to data you have given Revoke access to" and "View your basic profile" but nothing about email read access

[2021-07-16 11:38] #1559 closed

[2021-07-16 11:38] #2583 closed

[2021-07-16 13:02] jmprieur commented on #2673
It's going to be investigated first. We need to understand what needs to be done, @igalfsg
If you know already, don't hesitate to provide hints.

[2021-07-16 13:05] jmprieur commented on #2773
@SirElTomato.
user.read is "view your basic profile".

In If your web API calls downstream web APIs, you can also roll-up consent of these APIs.
For details, see https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-overview
and https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Gr

[2021-07-16 13:13] jmprieur commented on #2772
@Avivskie:

The `$Region` environment variable is set to  "East US" which contains a space, and therefore cannot be a part of the URI for the regional Azure AD. You need to provide the region **short name**. See https://identitydocs.azurewebsites.net/static/v2/msal-net-regional-adoption.html#how-to-provide-region-value

I guess 'eastus' ?

cc: @jennyf19  and @bgavrilMS

[2021-07-16 13:23] SirElTomato commented on #2773
what about mail.read, thats what i need to call the outlook api?

[2021-07-16 13:24] jmprieur commented on #2773
I would think you need the api://xxx part.
Did you try without user.read?

[2021-07-16 13:25] Avivskie commented on #2772
@jmprieur
I didnt provide anything, the "East US" is the result of the MSAL auto region discovery,
Note that this Environment Variable is on a machine I do not necessarily control nor have access to (cloud service/azure function etc.).

I think you need to have validation for the auto discovery, and if the auto discovery is the full name then convert it to short region name.

[2021-07-16 13:34] SirElTomato commented on #2773
I have api://xxx set as a scope on the initial consent from mobile app.
I don't have user.read set as a scope anywhere in my code

[2021-07-16 13:35] SirElTomato commented on #2773
Mobile app code:

[code]

[2021-07-16 13:37] SirElTomato commented on #2773
My api service to call downstream api (outlook)

[code]

[2021-07-16 14:13] jmprieur commented on #2773
@SirElTomato, is your issue solved? or do you need more from us?

[2021-07-16 14:14] SirElTomato commented on #2773
@jmprieur nope still having the issue

[2021-07-16 14:15] SirElTomato commented on #2773
Can you review the scopes used in the code samples above and let me know if they are correct

[2021-07-16 14:21] bgavrilMS commented on #2772
What the Azure system that you deploy to ? I was under the impression that the environment variable is supposed to be set to the region short name. If there is a variation, the owners of the system should fix it to ensure consistency.

The only validation we can do is to make sure there is no space in the name. The list of region keeps expanding, we can't hardcode it.

[2021-07-16 14:42] Avivskie commented on #2772
@bgavrilMS
We provide the above MSAL code as part of a client library/nuget we publish to multiple consumers in Azure, we do not know where they will deploy it. we can ask them to pass us a string with the region, but then we will need to validate our self if it is a valid region, this is why we prefer the auto discovery feature over passing the string of the region.

I understand the list of regi

[2021-07-16 15:04] timdriever opened #2775 "[Bug] The same command was already received and is being processed."
**Logs and network traces**
[code]

**Which version of MSAL.NET are you using?**
4.30.1

**Platform**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [

[2021-07-16 15:29] bgavrilMS commented on #2772
Ack. What I'm trying to say is that we should try to track down the azure system where the application was deployed to and work with them to fix the issue.

The algorithm for region auto-detection is:

1. Try to read env variable REGION_NAME.
2. If not present, try to make an HTTP call to the IMDS endpoint `http://169.254.169.254/metadata/instance/compute/location?api-version=2020-06-01` - this mi

[2021-07-16 15:53] Avivskie commented on #2772
Okay, I will contact the team that owns those machines and try to set a meeting between all parties, meanwhile I think we will remove the auto discovery altogether from our code.

[2021-07-16 16:49] jennyf19 commented on #2775
@timdriever do you have a broker incident id you can share?

[2021-07-16 17:15] timdriever commented on #2775
No, unfortunately we don't have a broker incident id. We receive complaints from employees that they regularly have to log in to our apps again. Then we looked in our logging and see the exception mentioned. So for now this is the only information.

[2021-07-16 17:24] jennyf19 commented on #2775
@timdriever would be helpful to get an incident id, if that's possible from one of the customers. do you know which version of broker is installed on the device and which devices are having the issue?

[2021-07-16 17:27] bgavrilMS opened #2777 "[Bug] Regional - if regional is configured, and original authority is known to MSAL, do not perform instance discovery"
msal 4.34

1. Configure .WithAzureRegion("westus1")
2. Configure a well known authority like "login.microsotonline.com"

Expected:

- no instance discovery should be performed
- we're ok to live with potential SSO islands. It's better than global traffic.

Actual:

- instance discovery on the non-regional environment

[2021-07-16 17:31] Avivskie commented on #2772
@bgavrilMS I've checked and that problematic run was built on Azure Function, so you might want to check with them regarding that env variable on their machines.

[2021-07-16 17:53] bgavrilMS opened #2778 "[Bug] Regional - on sovereign clouds, use preferred_network environment to construct regional env"
msal 4.34

1. Configure WithAzureRegion("westus1");
2. Configure a sovereign authority like `.WithAuthority("login.usgovcloudapi.net/common")`

Actual:
- The actual authority becomes `westus1.login.usgovcloudapi.net`

Expected:

- MSAL should respect the preferred_network semantics  and keep traffic on `westus1.login.microsoftonline.us`

[code]

[2021-07-16 18:04] trwalke commented on #2775
@timdriever  Please follow the steps here to acquire the broker logs.

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-use-brokers-with-xamarin-apps#troubleshooting-tips-for-android-brokered-authentication

[2021-07-16 18:57] timdriever commented on #2775
Thank you for your response. It's difficult for us, because we have about 10k users that we don't have direct contact with. In addition, due to privacy, we do not see any employee data in the logging, so we cannot contact them about this error. I will consult with my colleagues to consider how we can obtain the relevant broker incident id's.

It happens on Android 8, 9 & 10 and on multiple devices

[2021-07-16 20:24] jennyf19 commented on #2775
@timdriever can you provide the exact version number of the authenticator that users have installed?

[2021-07-16 20:29] jennyf19 commented on #2775
@timdriever also, if possible, can we get more specifics on how the users get into this scenario. ex. Are they double clicking something in the UI which initiates two simultaneous requests?

[2021-07-16 20:35] jennyf19 commented on #2775
@timdriever also, are you rolling out a feature called "sign-in frequency", as a conditional access policy? We've seen issues where if the app isn't handling the failure properly the app will try to make multiple requests, and multiple failures.

[2021-07-16 21:06] trwalke commented on #2775
Seems like the broker has introduces throttling a while back. i wonder if there is a retry after value returned somewhere in the broker response that we need to expose

https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1101#issuecomment-662016695

[2021-07-16 21:07] bgavrilMS commented on #2735
Potential root cause, as advised by MSAL.ios team: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1272

I think we should:

- [ ] log every http uri in the embedded browser
- [ ] add a special rule for `about:srcdoc`, i.e. don't block on this URI

@sameerkapps  - could be an interesting issue for you to look at, to better understand how our internal browsers work

[2021-07-17 13:08] igalfsg commented on #2673
@jmprieur I haven't looked into the library's code. However, version 4.27.1 still works with Win UI 3. That was before it was switched from the in app prompt to browser authentication so I would guess it has something to do with how that feature was implemented.

[2021-07-18 17:24] Avivskie opened #2779 "[Documentation] WithRegionName documentation summary provide incorrect region name link"
**Documentation related to component**
Region Name

**Please check those that apply**

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [-] error(s) in example
- [ ] needs example

**Description of the issue**
![image](https://user-images.githubusercontent.com/10419623/126076414-048e58ee-f691-441e-9238-b9bb7b791203.png)

The link provided in the documntation g

[2021-07-19 10:05] JoshB82 commented on #2773
Hello,

My name is Josh and I work with @SirElTomato on a project using this code.

@jmprieur When you're available please can you take a look at the scopes in @SirElTomato's code above. We need to know if this is a problem on our end or not and we cannot ship a feature without this working.

Feel free to message me if you have any more questions.

Many thanks for your time.

[2021-07-19 10:08] michel-douma commented on #2775
Since @timdriever is away for the week, i will answer your questions to troubleshoot this error. I've added an export of the Authenticator versions that our users have installed on their device (Galaxy A8 2018, Galaxy S7, Galaxy S9, Galaxy A50 as mentioned). Hope that helps.

![Screenshot_20210719-094725_WhatsApp](https://user-images.githubusercontent.com/11157348/126143501-268ec784-52ae-4b38-8563

[2021-07-19 10:09] jmprieur commented on #2773
@SirElTomato @JoshB82 the scopes look good.
In fact MSAL.NET always requests "openid profile offline_access" so that the cache works correctly, so you could use only "mail.read" if you wish.

[2021-07-19 11:18] michel-douma commented on #2775
The user doesn't have to perform a click action to sign in. Acquiring the token silently or interactively happens when the app is started and when our backend is being called.

Not that i'm aware of. Azure Active Directory is being managed by another team. Should i ask them?

[2021-07-19 13:07] michel-douma commented on #2775
We will try a workaround for now (SemaphoreSlim lock around acquire token silent) because when acquiring token silent fails the method acquire token interactive is being called which is not what we want to happen in this scenario...

[2021-07-19 13:23] JoshB82 commented on #2773
Authenticating with an @outlook.com email address results in `AADSTS70000: The request was denied because one or more scopes requested are unauthorized or expired. The user must first sign in and grant the client application access to the requested scope.` This occurs for both `"mail.read"` and  `"offline_access", "mail.read", "openid"` scopes set in the code.

Do you think there is a problem with

[2021-07-19 13:56] #2770 closed

[2021-07-19 17:47] bgavrilMS commented on #2175
Sorry, we can't reproduce this, please reopen if you can provide more info.

[2021-07-19 19:13] wangyuan8421 commented on #2772
I have another input. I'm using nuget Microsoft.Identity.Client 4.34.0.

Same error(Invalid URI). Same solution(Disable WithAzureRegion fist).

Two things a different.
1. I'm using MSAL in AzureFunction. As the comment in source code: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/0d53f3e80e29f9c6d172e069c10e02d71e24f65e/src/client/Microsoft.Identity.Client/AppConfig/C

[2021-07-19 20:12] trwalke opened #2781 "[Bug] InvalidRegion_GoesToInvalidAuthority_Async test is failing"
**Logs and network traces**
InvalidRegion_GoesToInvalidAuthority_Async test is failing.

"Test method Microsoft.Identity.Test.Integration.HeadlessTests.RegionalAuthIntegrationTests.InvalidRegion_GoesToInvalidAuthority_Async threw exception:
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: The remote name could not be resolved: 'invali

[2021-07-19 21:06] jennyf19 commented on #2775
Thanks for the additional information @michel-douma

Assigning to @wainaina from our Authenticator team.

[2021-07-20 05:19] trwalke commented on #2620
Issue tracking here https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2771

[2021-07-20 10:54] #2515 closed

[2021-07-20 10:54] #2607 closed

[2021-07-20 10:54] #2743 closed

[2021-07-20 10:54] #2749 closed

[2021-07-20 20:06] stmoor opened #2786 "AcquireTokenInteractive hangs - never returning"
**Logs and network traces**
[] False MSAL 4.34.0.0 MSAL.Xamarin.Android Mono 6.12.0 (2020-02/b4a385816ed) 28 [07/20 19:59:59.77 - c7481e64-385e-4a62-bb0d-c3cbb4e509b8] === InteractiveParameters Data ===
[] LoginHint provided: False
[] User provided: False
[] UseEmbeddedWebView: Embedded
[] ExtraScopesToConsent:
[] Prompt: select_account
[] HasCustomWebUi: False
MSAL Info False False MSAL 4.34.0.0

[2021-07-20 22:13] lbaralgeen commented on #1188
UrlEncodeSegment??   Where did get this function?  google does not know about it.

[2021-07-20 22:32] trwalke commented on #1188
@lbaralgeen this function is created by us. see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/0d53f3e80e29f9c6d172e069c10e02d71e24f65e/src/client/Microsoft.Identity.Client/Internal/JsonWebToken.cs#L67

Have you seen this?
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Assertions

[2021-07-20 23:00] jennyf19 commented on #2786
@stmoor was this working for you previously?

[2021-07-20 23:03] stmoor commented on #2786
Yes, I did some changes to the project like moving the calls to the B2CAuthenticationService instead of being directly on the login page, but that is it. Other than that, the calls are identical, no change in the way I call the library.

[2021-07-21 01:59] jennyf19 commented on #2786
@stmoor could you provide a link to your project?

[2021-07-21 07:43] trwalke commented on #2752
While debugging the code I did not get back the 401. It was 200 actually. I added a better message to the parsing error that is encountered.

[2021-07-21 09:18] #2772 closed

[2021-07-21 11:34] bgavrilMS commented on #2777
Looks like this isn't actually an issue. If the authority is known to MSAL, then we don't do validation.

[2021-07-21 11:34] #2777 closed

[2021-07-21 11:52] #2512 closed

[2021-07-21 19:34] stmoor commented on #2786
Here is the link - you should have access to https://github.com/stmoor/TestApp

[2021-07-21 19:51] jennyf19 commented on #2786
Thanks...actually could you give access to @SameerK-MSFT ? I'll have him take a look. thank you @stmoor

[2021-07-21 19:53] stmoor commented on #2786
Done. Thanks!

[2021-07-21 20:21] SameerK-MSFT commented on #2786
I will try to repro. But it looks like a threading issue. Have you used ConfigureAwait(false)? It may address the issue.

[2021-07-21 22:19] stmoor commented on #2786
@SameerK-MSFT Yes I tried ConfigureAwait(false) and it did not fix it. Thanks for looking into it.

[2021-07-22 10:53] bgavrilMS commented on #2786
@stmoor

Does the browser pop up? Does the user complete authentication but the browser never goes back to the app?
Where there any changes to the redirect URIs or to the manifest? The browser needs to redirect via the URI back to the app.

In your app you should have some code like - can you see that this is hit and report back on the codes?

[code]

[2021-07-22 14:24] bgavrilMS commented on #2779
There seems to be no public documentation of the short region names. This issue is blocked.

[2021-07-22 14:27] bgavrilMS commented on #2767
Closing as duplicate of #2768

[2021-07-22 14:27] #2767 closed

[2021-07-22 14:31] bgavrilMS commented on #2765
@eusebiu - MSAL needs to call WAM via Windows API (COM) invocation. To do this, we had to add a reference to https://www.nuget.org/packages/Microsoft.Windows.SDK.Contracts/10.0.17763.1000 which provides these APIs.

Can you consume this package directly in a Unity project? If not, we should follow up with the respective team. I am not sure they plan on supporting Mono.

[2021-07-22 14:42] bgavrilMS commented on #2706
Windows 2012 is not a supported OS.

[2021-07-22 14:44] bgavrilMS commented on #2695
How did you setup your token caching?

[2021-07-22 14:58] #2614 closed

[2021-07-22 16:42] stmoor commented on #2786
@bgavrilMS yes the browser pops up, and the user selects a Microsoft account and then it immediately redirects back to the app. No changes to the redirect urls or the manifest.

I could not find this piece of code on my app. Where should it go? I can add it.

[2021-07-22 16:48] #2726 closed

[2021-07-22 19:43] bgavrilMS commented on #2786
Something like this https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Droid/MainActivity.cs#L35

[2021-07-23 05:56] eusebiu commented on #2765
After installing the Desktop package using NuGet for Unity (which installs the dependencies too), I still get errors:
Assembly 'Assets/Packages/Microsoft.Web.WebView2.1.0.705.50/lib/net45/Microsoft.Web.WebView2.Wpf.dll' will not be loaded due to errors:
Unable to resolve reference 'PresentationFramework'. Is the assembly missing or incompatible with the current platform?
Reference validation can b

[2021-07-23 07:23] bgavrilMS commented on #2743
Will will fix this in MSAL 4.35, please ignore the workaround.

[2021-07-23 09:46] bgavrilMS opened #2793 "[Bug] Azure functions region auto-detection is broken"
MSAL 4.35

Follow up from https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2772
REGION_NAME variable is set to long region name and cannot be used. AFAIK IMDS uri is not accessible from Azure Functions (have not checked).

See https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/382 for similar Python issue.

[2021-07-23 09:48] #2754 closed

[2021-07-23 09:48] #2752 closed

[2021-07-23 09:49] #2778 closed

[2021-07-23 09:49] #2731 closed

[2021-07-23 14:13] #2755 closed

[2021-07-23 14:13] #2736 closed

[2021-07-23 14:13] #2701 closed

[2021-07-23 22:20] stmoor commented on #2786
@bgavrilMS  Okay, interesting. I ran the app today and it worked fine. Not sure what changed other than me adding this piece of code above. The requestCode was 0 and the resultCode was Adroind.App.Result.Ok.

[2021-07-26 07:30] SirElTomato commented on #2773
@jmprieur no consent is requested for the mail.read scope for personal accounts. Is there something we are doing wrong?

When I get the consent screen popup I get asked for consent for "Maintain access to data you have given Revoke access to" and "View your basic profile" but nothing about email read access

[2021-07-26 08:25] SirElTomato commented on #2773
I will collect some logs now following [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging), do you want me to send you logs with pii direct to your email?

[2021-07-26 08:53] bgavrilMS commented on #2773
There may be a different way consent and actual tokens are handled for Mail.Read between AAD (work and school) and MSA (personal) accounts. I'll try to repro.

[2021-07-26 13:36] bgavrilMS commented on #2786
Ok, thanks for confirming. As far as I remember, this hook gets invoked everytime a browser goes back to your app. MSAL then uses the data to extract an auth code which can be exchanged for a token.

[2021-07-26 13:36] #2786 closed

[2021-07-26 13:41] bgavrilMS commented on #2773
In the app registration portal in Azure, if you go to the Manifest, can you confirm that both apps have:

[code]

`

[2021-07-26 13:45] SirElTomato commented on #2773
Yes I confirm that this is in the Manifest:
[code]

[2021-07-26 13:46] SirElTomato commented on #2773
Although there is only one app registration which handles both the mobile app and the private api as per [this](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/3.-Web-api-call-Microsoft-graph-for-personal-accounts)

[2021-07-26 16:28] bgavrilMS commented on #2773
I think I can repro this even with User.Read, the consent seems to be handled differently. Still investigating...

[2021-07-26 17:04] bgavrilMS commented on #2773
@jennyf19  - I do not fully understand how Microsoft.Identity.Web constructs the WWWAuthenticate challenge. It seems ok, but consent is still needed. If you login with the tenant administrator, you get a different experience. Can we take a look at this toghter.

@SirElTomato - is it possible to pre-consent on behalf of the tenant there?

[2021-07-27 00:15] jennyf19 commented on #2773
@bgavrilMS ID web doesn't construct the WWW-Authenticate header.

[2021-07-27 02:51] vinhdp195 opened #2794 "[Bug] WithForceRefresh Not working with WAM broker"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.34.0

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [o] Interactive
    * [o] Integrated Windows Authentication

Other:
UPW App is using WAM
I also use WithForceReresh(true)
However, WithForceReresh is not working properly
WithForceReresh does not provide new tokens immediately
New tokens can be obtain

[2021-07-27 06:18] rymeskar opened #2795 "[Bug] Preemptively refresh tokens in the background"
**Which version of MSAL.NET are you using?**
Latest

**Platform**
All

**What authentication flow has the issue?**
All with the support of refresh_in coming from eSTS.

**Repro**

Right now, the request that performs the preemptive cache refresh before expiry of a token gets a live latency hit. As discussed with @bgavrilMS, this is not intended behavior.

**Expected behavior**

The expectation is

[2021-07-27 06:26] rymeskar opened #2796 "[Feature Request] Add ability to add probabilistic jitter to expiry and refresh times in cache"
**Is your feature request related to a problem? Please describe.**
Right now, when concurrent requests arrive to fetch an expired token, they might both end up making an HTTP call to eSTS. Such calls are redundant and cause extra CPU and network cycles on both eSTS and the service.

**Describe the solution you'd like**
A probabilistic way to decrease the amount of such redundant calls to eSTS is t

[2021-07-27 07:59] SirElTomato commented on #2773
@bgavrilMS It's not possible to pre-consent on behalf because the issue is for personal accounts. i think the reason it is working for organisational accounts is because I have granted consent on behalf of the tenant.

[2021-07-27 08:50] bgavrilMS commented on #2794
This is correct, we do not pass the "force_refresh" flag to WAM. I will reach out to see if this is supported.

What is the issue that you are trying to solve?

[2021-07-27 09:25] vinhdp195 commented on #2794
@bgavrilMS
I have a function, it forces a token refresh, whenever it's activated
So, I need .withForceRefresh()

[2021-07-27 09:28] bgavrilMS commented on #2796
refresh_in is associated with longer lived tokens, at least >2h but in practice 12-24h. With that in mind, would this work ?

- read refresh_in value from ESTS
- randomly generate a number between -N and N
- update refresh_in = (refresh_in + N)

Questions:

- value of N ? 5 min?
- should we do this for expires_in as well?

I'm thinking that we do not expose a public API for refresh_in jittering, w

[2021-07-27 11:25] rymeskar commented on #2796
I think that for the refresh_in, the internal proposal with +-5 mins makes complete sense. We could theoretically do even some statistical modeling if we had the eSTS latency numbers.

For the expires_in, do you have some more context on the throw-away 5 mins before the actual expiry? For 90+% of cases, this effectively leads to 10 mins before the token stops being accepted at the server side (the

[2021-07-27 12:14] Mikozans opened #2797 "[Bug] Unable to work without consenting tracking"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.35.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive

The app is in production, I haven't upgraded MSAL, but started seeing this issue.

I'm facing a problem with my app's Apple store submission.

This is what they are claiming:

I've tried to skip this prompt using "Prompt.NoPrompt" and it worked in prev

[2021-07-27 13:44] bgavrilMS commented on #2773
@jennyf19 - MIW does create a WWWAuthenticate header and I think there is a bug there. The code is [here](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/20b616af1cc159fc5ed5b754b1570309568d9c24/2. Web API now calls Microsoft Graph/TodoListService/Controllers/TodoListController.cs#L77) - `ITokenAcquisition.ReplyForbiddenWithWwwAuthenticateHeader`

In my testing,

[2021-07-27 13:58] bgavrilMS commented on #2773
@SirElTomato  @JoshB82 - as a workaround, try the following:

- in the sample, instead of `await DisplayErrorMessage(response)` (e.g. line 304 for AddItem), you can get consent like this:

[code]

This will force the consent screen. Let me know if this works and we see about doing an actual fix.

[2021-07-27 14:03] SirElTomato commented on #2773
@bgavrilMS I can't try the workaround you suggested because the initial aquisitioin of the token is done on the mobile app side using [this code as previously commented](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2773#issuecomment-881455315).

The mobile app is react native and uses [this package](https://github.com/stashenergy/react-native-msal)

The private API

[2021-07-27 14:10] bgavrilMS commented on #2773
Does the mobile app not open the browser and prompt the user to consent to both scopes? You can check if the MSA user has indeed consented by reviewing consent for apps here: https://account.live.com/consent/Manage

[2021-07-27 14:14] SirElTomato commented on #2773
No consent is requested for the mail.read scope for personal accounts.

When I get the consent screen popup I get asked for consent for "Maintain access to data you have given Revoke access to" and "View your basic profile" but nothing about email read access.

When I check the consent though the link you provided, it only shows consent for the two listed above, nothing for the mail.read scope.

[2021-07-27 14:21] bgavrilMS commented on #2797
I asked the Apple dev team about this, waiting for a reply.

To login, MSAL kicks off the system browser and navigates to `https;//login.microsoftonline.com/oauth/v2.0/authorize?scopes=foo&client_id=bar`.

[2021-07-27 14:25] bgavrilMS commented on #2794
@vinhdp195 - why does your function need to force a token refresh? MSAL / WAM will always give you a valid token with at least a few min of expiry left.

[2021-07-27 15:49] SameerK-MSFT commented on #2797
The behavior has not changed from Microsoft side. Apple started prompting this from iOS 13.x+

I will look into it.

[2021-07-27 16:19] pmaytak commented on #2457
Closing this; please re-open if the issue still persists with the newer MSAL versions.

[2021-07-27 16:19] #2457 closed

[2021-07-27 16:59] bgavrilMS opened #2798 "[Bug] Race condition around ConfidentialClient cached assertion"
MSAL 4.35

Repro steps:

1. Create 1 CCA app with a cert
2. Each request uses a different tenant ID
3. Fire lots of requests in parallel

**Actual**: some requests will fail because the internal JWT assertion (the client assertion) has invalid audience

Exception seen:

Invalid audience...

The root cause for this is the cached assertion feature MSAL uses to try to save some CPU time by avoiding t

[2021-07-27 18:40] SameerK-MSFT commented on #2797
I ran the sample "https://github.com/Azure-Samples/active-directory-xamarin-native-v2". It seems to run fine. Did you add ".WithUseEmbeddedWebView(false);"?

[2021-07-28 03:29] vinhdp195 commented on #2794
I already know how msal works
However, due to specific work reasons, it is forced to refresh the token
I would consider not using ForceRefresh

[2021-07-28 06:17] Mikozans commented on #2797
Yes, and still the same, prompt is shown (even with no prompt) and if I click on "Don't allow" I can't login.

This is my public client in case it helps:
[code]

[2021-07-28 08:53] bgavrilMS commented on #2773
Ok, I think I get your point now.

This is what happens when I try the following call in a client desktop app using MSAL.NET:

[code]

1. MSAL opens a browser which makes a call to the /authorize endpoint. It asks for scopes "api://GUID/access_as_user", "user.read" and "mail.read". The consent screen that comes up is asking for these 3 scopes.

2. After user consent , MSAL makes a call to the /tok

[2021-07-28 09:16] bgavrilMS commented on #2797
Might be an OS update that disabled this? Feature or bug ? :)

Just to add a little context - the cookies stored in the browser after login does make the login experience better, as the user will not be asked to re-enter their username / password etc. We can this browser SSO. This is why the cookies are useful.

[2021-07-28 09:21] bgavrilMS commented on #2794
Ok thanks. The reason I am asking is that I don't remember WAM APIs supporting this flag, so we might need to make a feature request and it helps to understand the developer scenario when making feature requests.

[2021-07-28 09:36] michel-douma commented on #2775
The workaround seems to do the trick. Hope you will fix it soon.

[2021-07-28 16:18] dmcweeney opened #2799 "[Bug] GetAccountAsync not finding Guest account?"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.35.0

**Platform**
Asp.Net Core 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [x] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [ ] Service to Service calls

[2021-07-28 22:33] SameerK-MSFT commented on #2797
@Mikozans Thanks for sharing the creation code. I could repro it in the sample code after adding ".WithAuthority(AadAuthorityAudience.PersonalMicrosoftAccount)".

It **reproduces only with my corp account and not with my personal Microsoft account**. Did you try login with both personal and corp account?
I will investigate in the meantime.

[2021-07-29 01:52] jennyf19 commented on #2775
@wainaina do you have any updates on this? thanks.

[2021-07-29 07:34] SirElTomato commented on #2773
@bgavrilMS
The mobile app is react native and uses [this package](https://github.com/stashenergy/react-native-msal)
I am using [this code as previously commented](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2773#issuecomment-881455315).

[2021-07-29 14:11] bgavrilMS commented on #2797
AadAuthorityAudience.PersonalMicrosoftAccount translates to `https://login.microsoft.com/consumers/` which means allow auth with "any MSA account". You should not able to login with an AAD (i.e. work and school) account when hitting the /consumers endpoint.

[2021-07-29 17:06] trwalke commented on #2673
The same issue seems to be open in the Microsoft.UI.XAML repo
https://github.com/microsoft/microsoft-ui-xaml/issues/5143

I also tried using VS 2022 to build but I run into the same error

[2021-07-29 18:53] sander1095 commented on #2596
@jmprieur could you link me to the documentation on using certs that auto rotate?

If i understand correctly I would use put them in a keyvault and my appsettings.json would reference it. My azure ad app would just have an empty list of secrets/certs then, right?

[2021-07-29 23:04] #2798 closed

[2021-07-30 06:31] Mikozans commented on #2797
Yes, I know. I have 2 different login options for Microsoft's accounts:

-  Microsoft Professional Account (works flawless with no prompt) -> .WithAuthority(AadAuthorityAudience.AzureAdMultipleOrgs)

-  Microsoft Personal Account -> .WithAuthority(AadAuthorityAudience.PersonalMicrosoftAccount)

[2021-07-30 06:41] Mikozans commented on #2797
Just to add more info, this seems to be the same issue: [https://answers.microsoft.com/en-us/outlook_com/forum/oaccount-oother/unable-to-log-on-to-any-microsoft-site-on-safari/fadf795c-9148-4e0e-9c94-70b87cf57441](url)

[2021-07-30 06:44] Mikozans commented on #2797
Yes, but it only happens to me with personal accounts. the only differences between them in my code are the AadAuthorityAudience and scopes (user.read and user_impersonation in corp ).

[2021-07-30 10:41] bgavrilMS opened #2803 "[Bug] support for REGION_NAME env variable should be more resilient to user friendly region names"
msal 4.35.1

REGION_NAME env variable does not seem reliable. Azure Functions sometimes populate it with the long region name (which is unusable).

The solution is:
`string region = Environment.GetEnvironmentVariable("REGION_NAME")?.Replace(" ", string.Empty).?ToLower();`

[2021-07-30 13:05] bgavrilMS commented on #2596
@sander1095 - cert support in Microsoft.Identity.Web (MIW) is described here https://github.com/AzureAD/microsoft-identity-web/wiki/Certificates#using-certificates-with-microsoftidentityweb

If you keep your cert in KeyVault, MIW will attempt to re-load the cert when it sees that the current cert has expired. KeyVault allows you to store multiple certificates under the same name.

So the way it wo

[2021-07-30 14:17] bgavrilMS commented on #2773
Sadly AzureAD is not the author of https://github.com/stashenergy/react-native-msal . I think this may be a bug on their side. I believe they are wrapping MSAL.JS.

It might be possible to workaround this bug by using `.WithExtraQueryParameters("scope=OBOscope,Mail.Read")` but I would check with them or with MSAL.js

[2021-07-30 14:30] bgavrilMS commented on #2673
This is most likely due to WinUI. MSAL has a tfm of `net5.0-windows10.0.17763.0` and WinUI app has `net5.0-windows10.0.19xxx`. MSAL calls into WinRT on its own.

[2021-07-30 14:41] bgavrilMS commented on #2799
Do you use Microsoft.Identity.Web?

@jennyf19 as she has this oid / tid problem fresh in her mind

[2021-07-30 14:55] dmcweeney commented on #2799
@bgavrilMS  no we do not use Microsoft.Identity.Web - it is on our backlog to move to it but would require a sizable amount of testing.

[2021-07-31 02:40] jennyf19 commented on #2799
@dmcweeney was this working in previous versions? before 4.29?

[2021-08-01 12:10] dmcweeney commented on #2799
Hi @jennyf19

It did not work in 4.29 but for a different reason.

When we were adding support for Guest accounts I noticed that
- args.Account.HomeAccountId.Identifier is set for the AcquireTokenByAuthorizationCode flow.
- args.Account is null for the AcquireTokenSilent flow

However args.Account.HomeAccountId.Identifier does not work for the Guest account as it points to the "HOME" account detai

[2021-08-02 06:40] hpsin opened #2804 "[Feature Request] Allow developers to set SendX5C once, rather than on every single request, as SNI creds don't work without it."
**Is your feature request related to a problem? Please describe.**
When setting up SNI with Azure AD, every single STS request must come with an X5C claim, otherwise the credential cannot be used.  Currently, developers are forced to mark up every single token request with "SendX5C", and if they miss one, the request will fail. It would be easier to indicate, while setting the client credential, t

[2021-08-02 09:27] bgavrilMS commented on #2794
We will not be fixing this. It is not recommended to force refresh.

[2021-08-02 09:27] #2794 closed

[2021-08-02 09:32] bgavrilMS commented on #2804
The only reason why a request would not need a cert if is the request can serve a token from its cache.

[2021-08-02 09:40] bgavrilMS commented on #2804
I think this makes sense, we can simply add:

[code]

However, the problem with configuration options at both APP level and at REQUEST level is that they can conflict. In this case, if you'd set sendX5C to false in a request, but the app has it set to true, we'd just throw.

@hpsin - what if MSAL were to send the X5C claim all the time? Is this where you are saying that it cannot be done?

[2021-08-02 10:51] SirElTomato commented on #2558
This is still broken, still getting this.

[code]

[2021-08-02 11:36] bgavrilMS commented on #2558
Hi @SirElTomato - can you provide some logs please? I'd like to better understand what is happening.

The idea here is that a refresh token is cached. If the existing AT (obtained via OBO) has expired, then the RT is refreshed (i.e. refresh_token flow) instead of the OBO flow. We chose this pattern because the OBO flow fails with this error when the original assertion expires.

[2021-08-02 11:53] bgavrilMS commented on #2771
We don't have time to work on this issue at present. The scenario should be possible via WAM, see https://aka.msa/msal-net-wam

[2021-08-02 13:15] SirElTomato commented on #2558
@bgavrilMS are you saying that I need to change my code to use the refresh token flow or this is how it works in the background?

I will get some logs for you.

[2021-08-02 13:44] bgavrilMS commented on #2558
No need to change your code, this should work, we need to investigate what is happening.

[2021-08-02 13:45] SirElTomato commented on #2558
@bgavrilMS where can I send the logs to?

[2021-08-02 13:48] SirElTomato commented on #2558
I have sent them to your Microsoft email

[2021-08-02 13:49] bgavrilMS commented on #2558
bogavril at microsoft.com

[2021-08-02 15:13] bgavrilMS commented on #2558
`No access tokens found in the cache. Skipping filtering. `

I had a look at the logs and it seems that the OBO call is not able to find the correct token cache entry. So OBO behaves as if there are no tokens cached - it takes the original assertion and tries to obtain a new token from AAD. But since the original assertion has already expired, you get this exception. What we'd want to happen howev

[2021-08-02 15:21] SirElTomato commented on #2558
@bgavrilMS you can see the code I am using above or [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2558#issuecomment-874122196)

I am calling
[code]

Tokens are stored in a Cosmos container using the Microsoft Cosmos Caching package

[2021-08-02 15:37] bgavrilMS commented on #2558
I'm not very familiar with ASP.NET Core's DI model to fully understand if you are injecting the token cache or not. Can you see in Cosmos if values are written or not? I expect the cache key to be `Hash(original_assertion)` so a fairly random string.

Also I see that `InitializeAsync` from ` Task.Run(() => cosmosTokenCacheProvider.InitializeAsync(app.UserTokenCache)).Wait();` was deprecated, can y

[2021-08-02 15:43] bgavrilMS commented on #2799
It will be easier for you to move to Microsoft.Identity.Web. What you are doing now is reverse-engineering what we had to to do in MIW to get all of this working.

The args have a `SuggestedCacheKey` property - you can use it for caching. Yes, it is set to account.HomeAccountId which is, as the name suggest, the **same** for home and guest account for the same user. But MSAL will do the right thin

[2021-08-02 15:49] jennyf19 commented on #2558
@SirElTomato thanks for all the details, i'll need some time to catch up on this.
We have simplified the cache serialization, if you are interested: [example here](https://github.com/AzureAD/microsoft-identity-web/wiki/asp-net#cosmos-db).

If you could enable [logging](https://github.com/AzureAD/microsoft-identity-web/wiki/Logging#how-do-i-enable-the-msal-net-logs), you would need to install Micro

[2021-08-02 15:51] SirElTomato commented on #2558
@bgavrilMS yes the cache is populated with data after the initial log in

[2021-08-02 15:51] jennyf19 commented on #2799
@dmcweeney I agree with @bgavrilMS. If you provide details on your scenario, we can provide links, etc...to help w/the migration, if needed. let us know.

[2021-08-02 15:52] SirElTomato commented on #2558
@jennyf19 do you need more logs other than the ones I have given to @bgavrilMS ?

[2021-08-02 15:54] jennyf19 commented on #2558
@SirElTomato I haven't seen the logs yet, didn't know you had already sent something. Will let you know. thanks.

[2021-08-02 16:26] bgavrilMS commented on #2558
I'll share the MSAL logs with @jennyf19. The MSAL logs simply show that now AT or RT were found in MSAL's memory. This can be due to:

- this is the first time you call OBO with that assertion OR
- something is wrong with the cache and you do not locate the right cache node to feed it to MSAL

I think that next we need to understand why there are no cached tokens.

[2021-08-02 16:50] hpsin commented on #2804
I'd expect per-request setting to override the per-app setting, not to throw. (The request may fail, but we're doing what the dev asked for). See below for why we'd maybe want that.

This would have a perf impact if MSAL sent the claim in 100% of requests across all apps, the x5c claim isn't unnoticeable in size. This is me paying due respect to [Chesterton's Fence](https://en.wikipedia.org/wiki/G

[2021-08-02 18:28] marb2000 commented on #2673
**I couldn't repro the bug**. I created a Blank C# WinUI 3 app using the Windows App SDK 0.8.1, added the MSAL.NET library, and the project was built. I got an error that does not block the build. WinUI 3 supports arm64 and I guess MASL.NET doesn't:

_There was no runtime pack for Microsoft.WindowsDesktop.App.WindowsForms available for the specified RuntimeIdentifier 'win10-arm64'._

[2021-08-02 19:03] trwalke commented on #2673
Thanks @marb2000. Ill verify that I installed 0.8.1 and try again.

[2021-08-02 19:50] henrik-me opened #2806 "PROTOTYPE Enable Managed Service Identity tokens obtained by Azure.Identity via IMDS to store be stored in the MSAL Cache"
Issue/Feature:
Azure.Identity obtains MSI tokens via the IMDS endpoint today. In order to leverage the same caching across all libraries it may be benefitial for MSAL to allow Azure.Identity to cache MSI tokens using the MSAL cache. An alternative is to move the logic of obtaining the MSI token to MSAL.

Suggestion:
Provide an API for ConfidentialClientApplications which can take an AT and persist

[2021-08-02 21:26] Strifex commented on #1593
@bgavrilMS hey just curious if there is any ETA for this? My team is currently working on a shared device scenario where the ability to logout properly from the mobile device would be very useful

[2021-08-02 23:33] mdobric opened #2807 "[Bug] Change OnActivityResult requestCode on Android from 0 (zero) to something else"
**Logs and network traces**
MyMsalApp.MainActivity.OnActivityResult(int requestCode, Android.App.Result resultCode, Android.Content.Intent data)
Android.App.Activity.n_OnActivityResult_IILandroid_content_Intent_( Parameters)
Android.Runtime.DynamicMethodNameCounter.8( Parameters)

**Which version of MSAL.NET are you using?**
4.35.1

**Platform**
Xamarin Android

**What authentication flow has the

[2021-08-02 23:37] jennyf19 commented on #1593
@Strifex we currently have no ETA for shared device mode. @SameerK-MSFT is looking into a binding library so c# customers can use our native libraries, which do support shared device mode, but we are not able to give an ETA at this time. If you're interesting in testing anything at some point, please let @SameerK-MSFT know.

[2021-08-03 05:32] mancyc commented on #2686
I hit this issue in national clouds where caching was not working because app.GetAccounts() call returned no accounts, thereby resulting in throttling from ESTS.
Upgrading from 4.31.0 to latest version(4.35) fixed the issue.

[2021-08-03 07:20] SirElTomato commented on #2558
@bgavrilMS I am calling OBO with the assertion immediately after logging in from the mobile app as described above (or [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2558#issuecomment-874122196). When this is called, an entry is added to the MSAL cache Cosmos container. I can then successfully get a token for calling a downstream api (outlook graph api) within

[2021-08-03 07:23] SirElTomato commented on #2558
Mobile app code:

[code]

Service which handles the MSAL auth

    public class MicrosoftService : IMicrosoftService
    {
        public IConfidentialClientApplication ConfidentialClientApplication { get; set; }
        private readonly ICompanyUserRepo _userRepo;
        private readonly IAuthenticationSettings _authenticationSettings;
        private readonly IDatabaseSettings _databaseSettings

[2021-08-03 07:27] SirElTomato commented on #2558
- Login from mobile app to retrieve JWT.
- Send JWT to our API and execute the following to acquire a token and cache the token in cosmos:
[code]
- Save the JWT to the user object so that it can be used to acquire the token again in future
- Call this again when a token is needed to call the Outlook api using the original jwt which was saved to the user object

[code]

[2021-08-03 08:41] djee-ms opened #2808 "[Bug] Fix error message and document throttling (AADSTS50196)"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.32

**Platform**
.NET Framework 4.7.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [ ] Service to Service cal

[2021-08-03 11:09] timdriever commented on #2697
This issue has been moved to 'Blocked/Waiting' and the tag 'external' has been added. Does this mean you are waiting for more information from me or are you waiting for another team?

[2021-08-03 12:22] bgavrilMS commented on #2697
We have an ongoing incident with the MSAL Android team, who are also responsible for the auth part of Authenticator. They are looking into this issue. @trwalke or myself will update the thread once we hear from them. I don't think we need more info from you Tim.

[2021-08-03 12:41] bgavrilMS commented on #2558
Ok, so the first time the service works, OBO gets tokens and stores them in the cache.
Are there any eviction policies on the Cosmos cache? Maybe the entry gets deleted before MSAL needs to read it again?

We'd really need to see what's happening in the cache logic, which you get from Microsoft.Identity.Web. Can you try to add logging as described here: https://github.com/AzureAD/microsoft-identit

[2021-08-03 12:46] SirElTomato commented on #2558
@bgavrilMS are there similar instructions for .net framework (4.7.2)?

[2021-08-03 13:21] bgavrilMS commented on #2558
Ah, I do not know. @jennyf19  or @jmprieur can you please advise? I think the token caching is not set up correctly. The caches are from Microsoft.Identity.Web, but the app is .net classic.

[2021-08-03 16:26] bgavrilMS opened #2809 "[Feature Request] Add experimental POP support to public client with special TS nonce"
API governance doc: https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/2614?_a=files&path=%2F[Xplat]%20AT-PoP%20Client%20Side%2Fserver_nonce%2Fclient_handling.md

Proposed changes in MSAL

- [ ] Add back experimental support for POP to public clients. It should be noted that this does not provide security benefits because the RT remains a bearer RT

Logic for e

[2021-08-03 16:59] bgavrilMS commented on #2809
@maliksahil  @henrik-me @jennyf19 - please review this proposal to support POP.

[2021-08-03 17:01] jennyf19 commented on #2558
@SirElTomato have you seen the guidance on [implementing a long running process](https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler), and this [sample](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/WebAppCallsWebApiCallsGraph/TodoListService/Controllers).

@bgavrilMS can you send me the logs that you mentioned earlier? thx.

[2021-08-03 17:50] bgavrilMS commented on #2809
CC @mjcheetham

[2021-08-03 18:37] SameerK-MSFT commented on #2797
Here are the findings with more options:
**AzureAdMultipleOrgs**
Corp account - no prompt no problem
Personal account - not allowed prompt not applicable

**AzureAdAndPersonalMicrosoftAccount**
Corp account - no prompt no problem
Personal account - no prompt no problem

It appears that the issue happens only when there is mismatch in the account type and the authority.

[2021-08-03 23:29] trwalke commented on #2809
Just a few thoughts: I think the first options would will be a better experience overall and it seems to be more inline with what the API governance doc is proposing. Also, this nonce value is not something that RPs will respond with today correct? If that is the case we probably should not make the header mandatory as some RPs wont be able to prove the required header.

Finally, what is the reaso

[2021-08-04 13:45] bgavrilMS commented on #2809
@trwalke - we want to understand the app dev experience of using POP: changes to calling patterns, latency etc. This is the reason for bringing back POP at public client level. It will not be a security feature.

[2021-08-04 13:59] bgavrilMS commented on #2797
So there is no issue? Can we close this?

[2021-08-04 14:05] bgavrilMS commented on #2797
@Mikozans - can you please update your authority to smth like "https://login.microsoftonline.com/common" if you want to accept both AAD and MSA accounts? And also get rid of Prompt.None?

[2021-08-04 15:41] djee-ms commented on #2808
We've confirmed that sharing more broadly a token cache across all our tests, and therefore reducing the number of actual queries to the authn server to one per test run, does in fact work around the issue.

[2021-08-05 08:18] pmaytak commented on #2655
I was able to repro the issue and found a way that works. I think this is related to Visual Studio versions 2019 Preview vs 2022 Preview. I added MSAL NuGet reference to the [HelloMaui](https://github.com/dotnet/maui-samples/tree/main/HelloMaui) Android project. When I built the project with VS 2019, it pulled netcoreapp2.1 MSAL binary (which doesn't have the Android stuff). When I built with VS 2

[2021-08-05 08:37] SirElTomato commented on #2558
@jennyf19 the problem isn't that it is a long running process. The problem is that trying to get a token fails when an hour has elapsed since the initial authentication and token caching, irrespective of how long anything takes.

[2021-08-05 09:28] pmaytak opened #2810 "[Feature Request] Validate MSAL works on .NET 6"
General issue to track validating MSAL on .NET 6

- [x] Interactive
- - [x] Legacy WebView
- - [x] WebView2
- - [x] System browser
- - [x] WAM
- - [x] AAD and B2C (local and MS IdP)
- [x] Device code
- [x] Client credential
- [x] U/P
- [x] IWA
- [x] OBO
- [x] Mobile**
- - [x] Build, run Android (native and MAUI)
- - [x] Build iOS
- [x] Unit, integration tests

Behavior when app targets .NET 6:
App

[2021-08-05 09:50] Mikozans commented on #2797
If I change it to AzureAdAndPersonalMicrosoftAccount there's another issue.

I use different scopes depending if it's a corp account ({AadBackendId/user_impersonation", "user.read"}) or not ({ "wl.basic", "wl.signin", "wl.offline_access", "wl.emails" }).

So using AzureAdAndPersonalMicrosoftAccount  + { "wl.basic", "wl.signin", "wl.offline_access", "wl.emails" } throws

[2021-08-05 09:56] jmprieur commented on #2558
@SirElTomato.
Let's recap what I understand;
- you have a protected web API, for which a client has acquired a token.
- from the web api request a token for a downstream web api using acquireTokenOnBehalfOf.
- after one hour this fails. But what fails?
  - can you still use the token from the client to call your web api ? (you shouldn't).
  - or do have your web api call itself through a long runn

[2021-08-05 10:37] SirElTomato commented on #2558
@jmprieur [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2558#issuecomment-891605711) is the what I am doing. Is this not correct? Should I not be using the original jwt when calling acquireTokenOnBehalfOf even though this works within in the first hour?

[2021-08-05 14:52] bgavrilMS commented on #2793
We will be removing the REGION_NAME auto-detection feature. We do not currently have a solution for Azure Functions.
ETA: MSAL 4.36
tracking item: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2803

[2021-08-05 14:52] #2793 closed

[2021-08-05 14:53] bgavrilMS commented on #2620
We have improved the error message and will continue to track the feature request of supporting IWA in ADFS via #2771.
Closing this.

[2021-08-05 14:53] #2620 closed

[2021-08-05 14:54] bgavrilMS commented on #2620
As an alternative, please try to use WAM - see https://aka.ms/msal-net-wam

[2021-08-05 15:18] bgavrilMS commented on #2804
- [ ] Needs a consistency item and design
- [ ] Need to inform Azure SDK as it will simplify their model

[2021-08-05 15:22] hpsin commented on #2804
Perfect, thanks @bgavrilMS!
This was mostly driven out of azure SDK not having a solution readily evident for confidential clients (only client creds flows).
I have updated the PR per comments, but still waiting on @jmprieur for some final updates before we call it ready I think

[2021-08-05 15:31] bgavrilMS commented on #2809
See the DownstreamApi abstraction on MIW

[2021-08-05 15:55] bgavrilMS commented on #2804
We can pick up the reminder work @hpsin, it will be faster this way.

[2021-08-05 19:03] pmaytak commented on #2443
@bgavrilMS In what scenarios would a static cache be needed that reusing a CCA instance doesn't cover?

[2021-08-06 12:02] jmiddour commented on #2673
I can confirm that the behavior still remains.  I don't know if it's WinUI's issue to fix or the identity client.
I've messed with the tfms and runtime ids a _lot_, and haven't gotten a working combination with v4.35 yet running vs16.11 preview.  Though for me, the missing runtime pack is a build blocker.

[2021-08-06 12:56] bgavrilMS commented on #2673
This is unlikely to be a Microsoft.Identity.Client problem. The error comes from a targets file introduced by WinUI

`Microsoft.UI.Xaml.Markup.Compiler.interop.targets(465,9): Xaml Internal Error error WMC9999: **Operation is not supported on this platform.`

MSAL is a standard .NET library with a target on .net5-windows10.0.17763.0, which calls into WinRT APIs.

[2021-08-06 14:21] jmiddour commented on #2673
My opinion is that it is interaction issue, not an issue with one or the other inherently.

The operation being called that is not supported is System.Runtime.InteropServices.RuntimeEnvironment.GetRuntimeInterfaceAsObject(Guid clsid, Guid riid)
To me this suggests something in the identity client is asking for something that is not included by winui3 by default and winui3 (for some reason) is atte

[2021-08-06 16:01] bgavrilMS commented on #2673
We are discussing with the WinUI team and they are investigating. Will post updates here. We found a similar issue here: microsoft/microsoft-ui-xaml#5143

net5.0-windows10.0.19041.0 means that you want to use NET5, with general purpose Windows Features (such as WinForms), and with access to the Windows SDK version 19401
You app consumes MSAL, which is built against net5.0-windows10.0.17763.0, whic

[2021-08-06 17:03] jmiddour commented on #2673
I opened that issue 😄.   I'm glad both teams are working on it.  In the meantime, I'm using 4.27.1 as a workaround.  I'm not thrilled to be using an unsupported version, but that's what works at the moment.

[2021-08-07 09:14] logcorner opened #2812 "Microsoft.Identity.Client.MsalServiceException: 'AADB2C90086: The supplied grant_type [client_credentials] is not supported"
Hi
Following the docs here https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types,  I can read the following  :

Current limitations > Unsupported application types > Daemons/server-side applications
........
Although the OAuth 2.0 client credentials grant flow is not currently directly supported by the Azure AD B2C authentication service

So , what the recommendations for s

[2021-08-07 16:41] jmprieur commented on #2812
@logcorner
indeed, Azure AD B2C supports neither client credentials, nor on-behalf-of.

[2021-08-07 17:28] logcorner commented on #2812
Hi @jmprieur , thank you I read that is the documentation.
So how to authenticate a background service  that call an API protected by azure AD B2C ?
I think that the Azure AD B2C team should add such feature
Regards

[2021-08-07 18:15] tajmaun commented on #2187
This solved my problem too

[2021-08-07 18:42] jmprieur commented on #2812
@logcorner
yes we all agree. It's on their backlog.

[2021-08-08 22:46] rbanks-willow commented on #2655
I wonder if this was a behaviour change between the preview 5 & 6 SDKs? Regardless, the code now compiles and BrowserTabActivity can be referenced, so let's call this issue closed 😊

Thanks!

[2021-08-09 09:12] SirElTomato commented on #2558
@jmprieur ?

[2021-08-09 13:56] jmprieur commented on #2558
@SirElTomato : you should use the token that was used to call you own web API (not the token that you got from Microsoft.Identity.Web)

[2021-08-09 15:20] SirElTomato commented on #2558
@jmprieur I am using the token that I am using to call my own web API as described [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2558#issuecomment-891605711)

[2021-08-09 15:21] SirElTomato commented on #2558
the following from the app code
[code]

calls GetAccessTokenAndUpdateUser on the MicrosoftService

[2021-08-09 17:09] pmaytak commented on #2655
Possibly. I did only test with .NET 6 Preview 6 SDK.

[2021-08-09 17:09] #2655 closed

[2021-08-09 22:57] chwarr opened #2813 "[Documentation] How to acquire only an id token"
**Documentation related to component**
"Acquiring Tokens"

**Please check those that apply**

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

**Description of the issue**

Sometimes, a public client app only needs an id token--and not an access token. (If you need even more details about this, please find me in the

[2021-08-10 03:02] rayluo commented on #2813
It is unlikely that any MSAL would introduce a (family of!) `AcquireIdToken` APIs, because that would be confusing for 2 reasons:

1. Semantically, all MSAL's `AcquireTokenByXyz(..., scopes, ...)` APIs mean to acquire access token;
2. And most `AcquireTokenByXyz(...)` APIs would already acquire ID token during the access token acquisition, for free.

What you want is the sign-in only behavior. Wit

[2021-08-10 11:29] dmcweeney commented on #2799
@jennyf19 @bgavrilMS  will try the upgrade ans see how it goes.
I may need some assistance with the step up consent changes.

[2021-08-10 13:28] SirElTomato commented on #2558
@jmprieur how can I change the token lifetime so that this is easier to test?

[2021-08-10 14:38] bgavrilMS commented on #2813
As Ray mentioned, you should be able to do `AcquireToken***(null)` - i.e. request no scopes. In this case, MSAL will make a request for `openid`, `profile` and `offline_access`.  The 3 scopes are required for MSAL's internal use, so we can't skip them otherwise there's no token caching.

AAD optimizes the response and may choose to send your app an access token containing scopes for which the user

[2021-08-10 21:39] abatishchev opened #2816 "[Feature Request] Why not overload AcquireTokenForClient() accepting string or string[]?"
**Is your feature request related to a problem? Please describe.**

Currently `IConfidentialClientApplication` [providers](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/0d53f3e80e29f9c6d172e069c10e02d71e24f65e/src/client/Microsoft.Identity.Client/IConfidentialClientApplication.cs#L61) single method without overloads:

[code]

However in real world, `scopes` often cons

[2021-08-11 02:56] chwarr commented on #2813
Thanks for confirming!

After re-reading the [Microsoft identity platform ID tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) documentation and the [Microsoft Graph permissions reference](https://docs.microsoft.com/en-us/graph/permissions-reference#openid-permissions), I see now that requesting an access token for the OpenID Connect scopes from the v2 endpoint is

[2021-08-11 02:56] #2813 closed

[2021-08-11 09:12] #2810 closed

[2021-08-11 10:56] bgavrilMS commented on #2599
Assuming this is no longer an issue. Please reopen if it is.

[2021-08-11 10:56] #2599 closed

[2021-08-11 11:00] bgavrilMS commented on #2558
@SirElTomato  - I believe you can use a conditional access policy to set the AT lifetime to 10 min https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Why I suspect is happening in this case is a cache miss problem.

- the first time you call OBO, MSAL will cache the response using `Hash(mobile_app_access_token)`
- the second time you call

[2021-08-11 20:55] bgavrilMS commented on #2706
Looks like this is supported until 2023, we should fix this.

[2021-08-11 21:49] SameerK-MSFT opened #2817 "[Feature Request] [SPIKE] OBO for SP does not work when refreshing the RT"
The spike should focus on reusing the existing APIs and the UserTokenCache.

- [x] Do the existing OBO APIs make sense for SP?
- [ ] What does it take to refresh the RT?
- [ ] Should the API use the AppTokenCache?
- [ ] How will token caching be done? (e.g. cache keys)

[2021-08-11 22:46] sea1jxr commented on #2544
@pmaytak It appears your change didn't remove the original error message that was the reason for this issue.  Should it be removed?

_2021-04-12 15:34:11Z KD.MSAL (False) MSAL 4.29.0.0 MSAL.Desktop Microsoft Windows NT 10.0.19042.0 [04/12/2021 15:34:11 - ] The default token cache provided by MSAL is not designed to be performant when used in confidential client applications. Please use token cache

[2021-08-11 22:57] pmaytak commented on #2544
@sea1jxr can you verify which MSAL version you used? In the log above it shows MSAL 4.29 and this change was in 4.30.

[2021-08-11 23:02] sea1jxr commented on #2544
@pmaytak I was using 4.34.0  Also you can look at the change and see that the error message still exists.
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/2550/files#L80

[2021-08-12 07:45] pmaytak commented on #2544
Yep, the message is still there, but since there's a default token serialization cache in the confidential client app now, the message won't be shown.

[2021-08-12 11:02] bgavrilMS commented on #2812
Closing this, as there is nothing the SDK can do to help.

[2021-08-12 11:02] #2812 closed

[2021-08-12 11:06] bgavrilMS opened #2821 "[Bug] [Internal] PKeyAuthNonInteractiveTestAsync test failing"
Looks like our build is failing because of the PKAuth device test. The error is "AADSTS53000: Device is not in required device state: compliant. Conditional Access policy requires a compliant device, and the device is not compliant. The user must enroll their device with an approved MDM provider like Intune.". Since this is Win8, PKAuth should have taken care of this. So - either there is an AAD r

[2021-08-12 12:18] ZwapKillrath commented on #1572
Tried your code, but keep getting:
Microsoft.Identity.Client.MsalUiRequiredException: 'AADSTS65001: The user or administrator has not consented to use the application with ID 'xxx' named 'yyy'. Send an interactive authorization request for this user and resource.

Even though I have registered the app in Azure portal and have set the API permissions and granted them to admin:

![image](https://use

[2021-08-12 13:06] bgavrilMS commented on #1572
That's an app scope - it essentially means "I want to read the directory for ALL the users in my tenant". App scopes can be obtained via AcquireTokenForClient / client_credential only.

[2021-08-12 15:49] bgavrilMS opened #2822 "VS + WAM fix for MSA-PT"
WAM does not work with MSA-PT config, even if the app is configured for MSA tokens.

[2021-08-12 16:21] bgavrilMS commented on #2746
Regional is not supported on these clouds yet. Please contact Randeep for details.

[2021-08-12 16:21] #2746 closed

[2021-08-12 16:22] bgavrilMS commented on #2806
@schaabs - please have a look and we can prioritize this if Azure SDK can provide the info above.

[2021-08-12 21:22] ccarpediem opened #2823 "How to call AcquireTokenInteractively synchronously?"
**Logs and network traces**
This issue originated with an issue upgrading our application from Microsoft.Data.SqlClient 2.1.3 to version 3.0.  That issue is here https://github.com/dotnet/SqlClient/issues/1209.  After the SqlClient team reviewed the issue, they validated the issue and suggested it seems to originate with MSAL and suggested I should open a ticket here to engage the MSAL team about

[2021-08-13 14:43] bgavrilMS commented on #2823
I don't think this is an actionalble issue for MSAL @ccarpediem . We'd need a repro using MSAL APIs - have a look at `AcquireTokenInteractive`. I can't even get the code you send to run, it fails with some missing dll exception.

Please note:

- All of MSALs APIs are async because they rely on async operations such as HTTP calls. We do not offer sync APIs. I recommend you refactor your app to use

[2021-08-13 14:45] bgavrilMS commented on #2823
By the way - MSAL does not integrate with Azure Managed Identity, only Azure SDK does.

[2021-08-13 16:31] ccarpediem commented on #2823
OK, thanks I'll revert with the SqlClient team with this info

[2021-08-13 16:32] pmaytak commented on #2544
To-do: error message reported to be shown in 4.34. Need to investigate/repro.

[2021-08-13 17:13] ccarpediem commented on #2823
Actually attached is a much simpler sample only using Microsoft.Identity.Client.  This bypasses all the complexity around Azure Managed Identity, SqlClient/etc and still reproduces the issue.

in case for some reason it still won't compile below is the entire app.  Run the below inside a WinForms app and it freezes. Run as a console application all works.

using System;
using System.Threading;
usi

[2021-08-13 18:15] #2808 closed

[2021-08-13 19:04] pmaytak opened #2826 "[Feature Request] Improve performance of the default partitioned CCA cache"
**Is your feature request related to a problem? Please describe.**
Starting in MSAL 4.30, there's a default in-memory partitioned cache for confidential client applications. For each cache operation, the data is serialized/deserialiazed, which causes a performance hit. Seems to be a bigger issue for apps that have single-tenant partitions with many

**Possible solutions**
- Since the default cache

[2021-08-14 01:47] sea1jxr commented on #2544
I just checked our logs, and we are using 4.34.0 and default serialization and we are getting the message when calling AcquireTokenOnBehalfOf not AcquireTokenForClient.   Does this make more sense, and should I be getting the message in that case?

[2021-08-14 13:08] stmoor opened #2827 "[Bug] AcquireTokenInteractive never returning"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.35.0

**Platform**
Xamarin Forms

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [ ] Service to Service calls

*

[2021-08-16 10:00] bgavrilMS commented on #2826
Let's treat this as a performance regression. Since before MSAL 4.30, AcquireTokenForClient would not use any JSON operation, but afterwards it does, leading to increased number of allocations.

[2021-08-16 10:06] bgavrilMS commented on #2827
This is ussually a configuration problem. Have a look at the sample https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-xamarin-native/integrate-azure-ad-b2c-xamarin-forms/

[2021-08-16 10:14] SirElTomato commented on #2558
@bgavrilMS I have sent you some logs via email

[2021-08-16 11:07] bgavrilMS commented on #2823
You might have missed a few details from the article I sent. You cannot call .Wait() on the UI thread, it will deadlock.

The following works fine for me:

[code]

[2021-08-16 13:18] bgavrilMS commented on #2544
@sea1jxr - yes, the default user (i.e. not app / S2S) MSAL cache is pretty horrible, as it will hold all tokens in memory. This simply does not scale for a web app or for a web api, where there is 1 token (well, 1 access token, 1 refresh token and 1 ID token) for **each user**. Unfortunately, MSAL cannot offer a better default implementation, as we cannot introduce breaking changes.

If you are no

[2021-08-16 14:20] bgavrilMS commented on #2558
Thanks for the latest round of logs @SirElTomato. I had a look and double checked OBO functionality, but can't seem to find the issue.

In your logs you have shown me 3 entries. These are simply base64 encoded over some JSON which is pretty easy to understand.

1st and 2nd entries are tokens associated with assertion hashes. Inside the payloads are an AT and an RT. Each of them have a field named

[2021-08-16 15:22] SirElTomato commented on #2558
@bgavrilMS I have not called the front-end app twice, all three entries are from a single authentication.

I have no idea what happens to the three entries, it seems that they just get removed after an hour.

[2021-08-16 15:23] bgavrilMS commented on #2799
@jennyf19 - I believe this is a Microsoft.Identity.Web potential bug

[2021-08-16 15:28] SirElTomato commented on #2558
I have just tried using "AddDistributedSqlServerCache" instead of "AddCosmosCache" and it seems to have worked. I will double check this after a longer time period has elapsed tomorrow. Maybe the bug is with the Microsoft.Extensions.Caching.Cosmos package

[2021-08-16 16:23] jennyf19 commented on #2544
@sea1jxr Actually you can use Microsoft Identity Web to help with the caching. See [documentation here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization?tabs=aspnet).

You can just use the `app.AddInMemoryTokenCaches();` or
[code]
and you will benefit from correct partitioning and a much more performant cache, without having to set up redis or anot

[2021-08-16 17:20] bgavrilMS commented on #2558
@SirElTomato  - the first token you cached was for `api://<guid>/ScanEmails`  and then 1 ms later the second one was for "mail.read". The 3rd one (which is not from OBO) came 15ms later also for "Mail.Read".

[2021-08-16 19:20] ccarpediem commented on #2823
@bgavrilMS, thanks you!  It looks like you are right and I've been able to find a change in the internal SqlClient code that does change the way some AquireTokenAsync is called which seems to be the root cause.  So it doesn't seem to originate in this project.  Thanks for you time!

[2021-08-16 19:20] #2823 closed

[2021-08-17 08:34] SirElTomato commented on #2558
@bgavrilMS I have just retried using the "AddDistributedSqlServerCache" approach and I am still getting the expiry error. I will send you the logs.

[2021-08-17 08:37] SirElTomato commented on #2558
Would it be possible to schedule a call to go through this to see where the problem is? This has been ongoing for a long time

[2021-08-17 10:04] dmcweeney commented on #2799
@jennyf19 - just wondering why MIW does not use the IConfidentialClientApplication.GetAuthorizationRequestUrl and should we be following suit?

[2021-08-17 10:55] bgavrilMS commented on #2558
Yes, let's meet

[2021-08-17 13:04] jennyf19 commented on #2558
@SirElTomato which access token are you using as the cache key for the long running process? Is it the token that you got from AcquireTokenOnBehalfOfUser or the token sent to your web API by the client?

[2021-08-17 13:08] jennyf19 commented on #2799
@dmcweeney there is something wrong with the URI above, as `scope` and `scopes` are both listed. Can you provide a link to a repro?

[2021-08-17 13:50] SirElTomato commented on #2558
I have tried it with both. Which should I be using?
Currently I am updating the user object with the new access token which I get from the AcquireTokenOnBehalfOf call.

[2021-08-17 13:59] jennyf19 commented on #2558
You should be using the token sent to your web API by the client as the cache key. Using the token from AcquireTokenOnBehalfOfUser will not work.

[2021-08-17 14:12] dmcweeney commented on #2799
@jennyf19 I just called the ReplyForbiddenWithWwwAuthenticateHeader to see what it would return passing in the scopes I was requesting and the MsalUiRequiredException thrown by GetAccessTokenForUserAsync

            string consentUrl = $"{application.Authority}/oauth2/v2.0/authorize?client_id={mergedOptions.ClientId}"
                + $"&response_type=code&redirect_uri={application.AppConfig.Red

[2021-08-17 16:21] ashinzekene commented on #1788
I'm facing this issue on a .Net Framework project. The project also doesn't use async await.

I updated to this
[code]

but `GetAccountsAsync` always returns empty

[2021-08-17 18:02] bgavrilMS commented on #2826
Have a look at ITokenCacheAccessor - maybe we can have a smarter implementation there for app token cache only.

[2021-08-18 01:32] jennyf19 commented on #2799
@dmcweeney are you using this from a web app or a web API? It's designed for a web API, but not web apps.

[2021-08-18 09:32] lukaspechar commented on #2558
@bgavrilMS thanks for the chat yesterday. I'm just going to update the thread here. Unfortunately the cache table is empty again. Something seems to be cleaning it up.

[2021-08-18 09:33] rymeskar commented on #2826
+1, had a similar discussion with @bgavrilMS and @jennyf19 yesterday on the amount of tokens in a single cache line in CCA when targeting multiple downstream dependencies.

One of the quick-non-breaking options discussed for cache implementors is to provide some more context in the [TokenCacheNotificationArgs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/3e113455677a

[2021-08-18 11:50] bgavrilMS commented on #2558
I was under the impression that you are not even running your asp.net website after 1h. Could it be some Cosmos cleanup policy that gets rid of it?

[2021-08-18 15:12] jennyf19 commented on #2558
Can someone provide a summary of the discussion yesterday? thanks. @bgavrilMS @SirElTomato @lukaspechar

[2021-08-18 17:14] dmcweeney commented on #2799
@jennyf19  I was trying it out from a web app - just kicking the tyres

[2021-08-18 17:44] #2706 closed

[2021-08-18 20:23] sea1jxr commented on #2826
Ideally there would be a way to skip all serialization for an in memory cache.

[2021-08-19 07:33] SirElTomato commented on #2558
Sure.

- Switch provider which is used to create the Graph Client. I am now using a DelegateAuthenticationProvider instead of OnBehalfOfProvider. There seemed to be an issue with OnBehalfOfProvider although I'm not sure what:
[code]

- Ensure original jwt assertion from client is used as the token stored on our user object.
[code]

- Ensure the correct scope(s) is used in the GetAccessTokenWithJWT

[2021-08-19 07:40] SirElTomato commented on #2558
Found that TTL was set on the cosmos cache container, have removed this so expect it to work now.

[2021-08-19 07:51] PaulSorauer-IPG commented on #2673
So I'm using WinUI in .NET 6.0-pre (`net6.0-windows10.0.19041`) as part of the standard project template that shipped with MAUI Preview 7. It's using ProjectReunion 0.8.1.

I get a hard crash in my Startup.ConfigureServices routine when trying to build a `IPublicClientApplication` using Microsoft.Identity.Client.

Having read through this post I have tried various versions of the Microsoft.Identit

[2021-08-19 08:59] bgavrilMS commented on #2826
@pmaytak - I think you should focus on idea 1, i.e. a token cache accessor that is key based, i.e. pre-filtered by tenant id. If this works, we can think about generalizing this idea, maybe the app developer can tell us "partition by tenant id AND scope".

For idea 2 - we cannot change the SuggestedCacheKey as it would break existing token caches. Instead, we can expose more fields in TokenCacheNo

[2021-08-19 10:50] bgavrilMS commented on #2137
This was done

[2021-08-19 10:50] #2137 closed

[2021-08-19 10:54] bgavrilMS commented on #2314
This has been fixed, see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/836272468a92153e7d79e43440729704f139cd4b/tests/Microsoft.Identity.Test.Unit/PublicApiTests/ClientCredentialWithRegionTests.cs

Tokens obtained from the regional authority will be stored in the cache with the non-regional authority value. This ensures that switching from regional to global works.

[2021-08-19 10:54] #2314 closed

[2021-08-19 10:56] bgavrilMS opened #2830 "[FeatureRequest] Expose an indication that regional worked"
Today, we ask customers to verify that regional worked by looking at Kusto telemetry.

MSAL can do more here - it can add the actual authority used to fetch the token to the AuthenticationResultMetadata.

[2021-08-19 11:08] #2822 closed

[2021-08-19 11:53] bgavrilMS commented on #1788
@ashinzekene - please open a new issue

[2021-08-19 13:12] ashinzekene opened #2831 "[Bug] AADSTS50196: The server terminated an operation because it encountered a loop while processing a request"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.35.1

**Platform**
 .NET 4.5.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Authentication
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
    * [ ] Username Password

* Daemon app
    * [ ]

[2021-08-19 13:20] bgavrilMS commented on #2831
By default, caching happens in memory. So if you restart your app, the cache will be destroyed.

You can persist the token cache in an encrypted file. Here's a solution that works on Windows, Mac and Linux - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization#token-cache-for-a-public-client-application

[2021-08-19 13:21] ashinzekene commented on #2831
The app was not restarted

[2021-08-19 13:25] bgavrilMS commented on #2831
If you call `app.GetAccountsAsync().Result;` immediately after `AcquireTokenByUsernamePassword` returns a result, does it not return 1 account?

[2021-08-19 14:00] ashinzekene commented on #2831
The function was called multiple times and `app.GetAccountsAsync().Result;` kept returning an empty result even after successfully logging in

[2021-08-19 14:11] bgavrilMS commented on #2831
Do you re-create your PublicClientApplication object (app)? Unlike ADAL, the cache is not static, it is attached to the app object. If you create a new one, the cache will go away.

[2021-08-19 14:26] ashinzekene commented on #2831
Yeah, I think this is the issue

[2021-08-19 14:54] jmiddour commented on #2673
@PaulSorauer-IPG -- I think I might have run into the same problem you did on the hard crash.  I reported it [here](https://github.com/microsoft/microsoft-ui-xaml/issues/5673).  If this is the same, and you find a work around of any sort, please let me know!

[2021-08-19 15:07] PaulSorauer-IPG commented on #2673
Hi @jmiddour - I did previously come across that thread but it didn't immediately appear to be directly related. In my case, because of the hard crash, I can't get any stack trace / exception details - there's a quirk in VS2022 at the moment that doesn't allow debugging of WinUI apps, so you have to deploy and run from the desktop and then attach the debugger, which doesn't help if your app is cra

[2021-08-19 15:09] bgavrilMS opened #2832 "[Feature Request] Expose indication of Refresh In"
It's difficult for app developers to know if refresh_in was configured or if it works.

We could expose some values in the AuthenticationResultMetadata:

- [p1] time remaining before the AT will be refreshed
- [p2] the reason why a call to the identity provider was made (we already collect this for telemetry)

        None = 0, // When the cache is not hit to make the request (interactive call, us

[2021-08-19 15:32] jennyf19 commented on #2826
I thought we were doing Perf testing consistently and on PRs impacting the cache, so why did we miss this perf issue? are we missing tests? wasn't the cache serialized/deserialized before 4.30 release? Do you we have current numbers on perf compared w/previous versions, to see how much of a perf issue we are talking about.

[2021-08-19 15:37] ashinzekene opened #2833 "[Bug] Federated service at https://msft.sts.microsoft.com/adfs/services/trust/2005/usernamemixed returned error: ID3242: The security token could not be authenticated or authorized."
**Which version of MSAL.NET are you using?**
MSAL.NET 4.35.1

**Platform**
 .NET 4.5.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
    * [x] Username Password
* Daemon app
    * [ ] Service to Service calls

**I

[2021-08-19 15:44] jmprieur commented on #2558
Thanks for the update @SirElTomato

[2021-08-19 21:58] bgavrilMS commented on #2832
We should be able to test this now, the lab has accounts that can be used for this, see

https://msidlab.com/api/config?optionalclaim=refresh_in&usertype=federated&signInAudience=azureadmyorg
https://msidlab.com/api/config?optionalclaim=refresh_in&usertype=cloud&signInAudience=azureadmyorg

[2021-08-20 00:09] #2831 closed

[2021-08-20 09:56] bgavrilMS opened #2835 "[Bug] user_realm_discovery_failed exception does not provide reason for failure"
**Which version of MSAL.NET are you using?**
4.35.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Authentication
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [ ] Service to Service calls

Other?

**Is this a new or existing ap

[2021-08-20 10:45] SirElTomato commented on #2558
Trying to test it but running into issues with various microsoft nuget packages, currently I am experiencing [this](https://github.com/Azure/Microsoft.Extensions.Caching.Cosmos/issues/50)

[2021-08-20 15:48] bachoang opened #2836 "[Bug] ADFS 2019 + WAM throws exception"
**Which version of MSAL.NET are you using?**
MSAL.Net v4.35.1

**Platform**
.Net WPF app

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ x] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [ ] Service to Service calls

[2021-08-20 15:50] bachoang commented on #2771
Tried out WAM with ADFS but this does not work.  See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2836

[2021-08-20 20:46] bgavrilMS commented on #2806
As discussed with @schaabs , we should prototype this first and share it with Azure SDK via private nuget package.

[2021-08-21 10:07] chrisbecke commented on #1538
Oh crikey.

MSAL seems to be the one dotnet library that manages token refreshing, and is properly integrated with AspNetCore.

But, applications frequently need to integrate with other applications. Its the reason we use open startards alike OpenID and OAuth.

I need to deal with federated auth that only includes AzureAD as part of the stack. Finding out I can't use Microsoft.Identity.* to get an

[2021-08-23 18:06] sander1095 commented on #2596
So if I understand correctly it will still require some effort and timing? It feels like a SSL scenario that often are forgotten to be refreshed.

I can not make this a "set it up once, never worry about it again" thing?

[2021-08-23 19:14] trwalke opened #2837 "[Bug] NullReferenceException from MSAL when using region with CCA"
**Logs and network traces**
CorrelationId == "a95592bb-f6c4-4f96-8e09-1ed652ec76fd"

**Which version of MSAL.NET are you using?**
4.35.1.0

**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ]

[2021-08-23 19:59] jmprieur commented on #2837
What are the repro steps, @trwalke. is it for a specific region?

[2021-08-23 20:02] trwalke commented on #2837
@jmprieur gathering more info from the customer at the moment

[2021-08-23 21:10] jmprieur commented on #2596
@sander1095 : can you please elaborate on the SSL scenario? I don't understand how MSAL could be involved?
With SendX5C, you can rotate the keys without having to change them in Azure AD.

[2021-08-23 21:20] sander1095 commented on #2596
Sorry, that was a bad example. Ssl is not related to MSAL at all. Let me explain:

Currently I use a Client Secret which expires in 2023. I have to set up calendar events, alerts, notify other colleagues, etc.. so no one forgets to refresh this secret in 2023. This is whaf I compared SSL certs to; devs that dont have auto-refreshin SSL certs on their site often forget to refresh them and get inval

[2021-08-24 07:49] michel-douma opened #2838 "[Bug] No account or login hint was passed to the AcquireTokenSilent call when passing the account"
**Logs and network traces**
[code]

**Which version of MSAL.NET are you using?**
4.35.1

**Platform**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [

[2021-08-24 09:54] BethanyZhou opened #2839 "[Bug] Browser pop up failed but no exception throws when Browser is no permission to run"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**

MSAL 4.30.1

**Platform**

.NET Core

**What authentication flow has the issue?**
* Desktop /

[2021-08-24 09:56] bgavrilMS commented on #2839
Very cool bug, will look into it.

[2021-08-24 11:06] bgavrilMS commented on #2839
So what is happening here is that MSAL uses a tool called "xdg-open" to find and launch the browser. This is the standard approach for launching browser on Linux.

According to https://ss64.com/bash/xdg-open.html we should not call xdg-open with root. But since the user starts from root, the login command is called with root, it in turns invokes MSAL from root, who in turns does a `Process.Start("

[2021-08-24 17:15] bgavrilMS commented on #2836
1. AcquireTokenIntegratedWindowsAuth should probably just call the broker (ATS) if enabled
2. Investigate the bug

[2021-08-24 17:16] bgavrilMS commented on #2833
Are you internal @ashinzekene ? Can you post on the migration channel?

[2021-08-24 17:29] bgavrilMS opened #2841 "[Documentation] Document migration to WAM"
Migration to WAM is not documented, especially msa-pt.

[2021-08-24 19:54] jmprieur commented on #2841
cc: @maliksahil as he's updating the doc for PCA

[2021-08-25 02:05] BethanyZhou commented on #2839
Cool！

[2021-08-25 04:28] karavar commented on #2806
What problem are we trying to solve here?

[2021-08-25 07:43] #2821 closed

[2021-08-25 08:18] bgavrilMS opened #2844 "[Feature Request] Client Side higher level API POP support"
Currently, MSAL knows how to do access token POP using the low level API  `.WithProofOfPossession(popConfig)`, recommended only for `AcquireTokenForClient`. Higher Level constructs are needed on the client side:

- [ ] Parsing `WWWAuthenticate` header for POP scheme details
- [ ] Parsing `AuthenticateInfo` header for 200 OK details
- [ ] A `DownstreamAPI` abstraction that selects between Bearer an

[2021-08-25 08:50] michel-douma commented on #2775
I guess not ¯\_(ツ)_/¯

[2021-08-25 09:11] bgavrilMS commented on #2775
I wonder if this is really an external issue. Seems like you cannot call AcquireTokenSilent several times when talking to Authenticator. I think in MSAL we can add a semaphore around this.

[2021-08-25 09:15] #2773 closed

[2021-08-25 09:16] bgavrilMS commented on #2571
The scenario you are looking for is "OBO for long lived processes" - see https://github.com/AzureAD/microsoft-identity-web/wiki/get-token-in-event-handler

[2021-08-25 09:16] bgavrilMS commented on #2571
Closing for now, please reopen if you have other questions.

[2021-08-25 09:16] #2571 closed

[2021-08-25 09:31] bgavrilMS commented on #2830
Note: user flows might not need this because we have `Account.Environment` as part of the result, but S2S flow does need it.

[2021-08-25 09:48] bgavrilMS commented on #2839
@BethanyZhou - the top level method `AcquireTokenInteractive.ExecuteAsync(CancellationToken)` allows you to pass a cancellation token, which you can use to cancel this operation (manually or via timeout).

We do not recommend setting a timeout because authentication can take a long time, for example if the user has to perform MFA or if the user is prompted to change their password.

Instead, we re

[2021-08-25 09:59] bgavrilMS commented on #2804
After discussing with ESTS server folks, it looks like sending both X5C and X5T will introduce a perf penalty for 3rd parties, because X5C will be attempted first (and will fail - 3p cannot use X5C auth), then fallback to X5T.

As such, I recommend we move back to @hpsin original proposal:

- add a mechanism to turn X5C on at the app level, i.e. `WithCertficate(x509cert cert, bool sendX5C)`
- conf

[2021-08-25 11:26] rymeskar opened #2845 "[Feature Request] [SPIKE] Add support for multi-layered caching"
**Is your feature request related to a problem? Please describe.**
Add out-of-the-box extensibility for multi-layered caching. If necessary, this can result in a re-design of the caching API.

**Describe the solution you'd like**
Based on discussion with @bgavrilMS, the necessary features and considerations are:
* encryption in the distributed cache (with support of outage-free encryption key roll

[2021-08-25 12:11] rymeskar commented on #2844
It would be great if the downstream API & related infra could also solve the mockability requirements [[1](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2449), [2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1702)].

What I've also seen in the wild is customers struggling with the lifetimes of I..Clients. Whether they are intended p

[2021-08-25 12:11] bgavrilMS commented on #2596
send5xc is a feature available only for some 1st Microsoft internal tenants by which the certificate is identified via it's CA chain instead of the thumbprint. It's better described [here](https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/60). Trust is based on Subject Name and Issuer instead of thumbprint. Unfortunately I am not aware if this feature will be made avail

[2021-08-25 13:38] bgavrilMS opened #2846 "[Bug] Inconsistent AuthenticationResult.Account property for AcquireTokenForClient"
msal 4.35.1

[code]

[2021-08-25 15:27] #2285 closed

[2021-08-25 15:41] jmprieur commented on #2804
I like that this is not disruptive for current users.
Let's plan to update the 1p doc

[2021-08-25 16:14] dmcweeney commented on #2799
@jennyf19  @bgavrilMS  Just an update on this - I have implemented MIW and for the most part it was fairly straightforward.

I had to take care of the consent myself - mainly because of the way our client and backend talk.

In the signout I had to inject some code in the RedirectToIdentityProviderForSignOut to target the correct tenant signout endpoint - not organizations.

Another thing I noticed

[2021-08-25 16:54] jmprieur commented on #2799
Thanks @dmcweeney for your feedback.
we have a few questions for you. In general are there things that MSAL.NET or Microsoft.Identity.Web can do differently or better to support your scenario? (would it be more a Microsoft.Identity.Web issue?)

Can you please elaborate? what did you have to do? didn't the override of the prompt work?

Would you think we should we do it by default in Microsoft.Iden

[2021-08-26 16:24] bgavrilMS opened #2848 "[Feature Request] Disable cache syncronization for confidential client apps"
WithEnableCacheSynchronization is set to true by default, but can be set to false for a perf improvement on S2S / AppTokenCache.

[2021-08-27 13:32] bgavrilMS opened #2849 "[Feature Request] In-memory shared cache cache in MSAL (like ADAL), with good performance"
Many customers have problems migrating from ADAL to MSAL because of the token caching. The cache is no longer static / shared.

Our current solutions to this problem are not great because:

- Microsoft.Identity.Web has many dependencies, making it difficult to adopt due to diamond dependency hell.
- implemeting cache serialization using the callbacks is easy to get wrong and isn't even the fully d

[2021-08-27 13:44] bgavrilMS opened #2850 "[Feature Request] Add an indication that the token cache is not used"
We can detect that the token cache is not used, for example by using the throttling idea:

- take a hash of each successful request (hash most the request params, e.g. not the correlation ID)
- keep a static cache of [hash] -> [num_requests, last_request_date] (or use WilsonLRU dictionary which has eviction policies)
- if a certain threshold is met, start logging errors and emit telemetry

Note: w

[2021-08-27 18:12] deep260996 opened #2852 "pass-in an App ID URI as a client ID, as this is supported by AAD"
**Is your feature request related to a problem? Please describe.**
For ADAL to MSAL migration I want to use AppID URI as client ID to generate tokens for my app. The problem is discussed in detail in this Teams channel post. https://teams.microsoft.com/l/message/19:3f112ecb27024f2682379a7af3667869@thread.tacv2/1628538375509?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=7e394638-cacd-40c7-9

[2021-08-28 01:27] henrik-me commented on #2806
Having a way for customers to cache tokens using MSAL even when the token is not obtained by MSAL. This work is specifically focused on MSI scenarios where the token is obtained by Azure.Identity.

[2021-08-28 03:27] karavar commented on #2806
Is it not possible to add the caching mechanism in Azure.Identity directly? Just curious why are we expecting developers to use two different libraries?

[2021-08-29 02:22] jmprieur commented on #2806
@karavar : Azure.Identity leverages MSAL.NET ...
As @bgavrilMS mentioned earlier, we are also looking if we want MSAL.s to support managed identity directly

[2021-08-29 16:16] karavar commented on #2806
Would that mean MSAL would be part of Azure SDK somehow? Just trying to understand what the end goal is here and how would/should a developer write code to connect to Key Vault or other target services using an MSI.

[2021-08-29 17:41] jmprieur commented on #2806
@karavar : yes, the Azure SDK takes a dependency on MSAL anyway. This issue is to investigate if we want other token sources that eSTS (in this case the MSI endpoint) to benefit from MSAL.NET's cache, and how this would work. It's purely internal, it doesn't change the current developer experience which is still using the [DefaultAzureCredential](https://docs.microsoft.com/en-us/dotnet/api/azure.i

[2021-08-29 19:15] karavar commented on #2806
Awesome! No change to developer experience for using Azure.Identity but automatic benefit of token caching. Please make that super clear in the description.

Now most other tokens are valid for much shorter period, while MSI tokens are valid for 24 hours. In addition, IMDS and ESTS-R already cache tokens. This already confused developers because the changes to authorization don’t get reflected aut

[2021-08-30 03:51] jmprieur commented on #2849
I would recommend:

[code]

This is:
- to avoid confusing customers with the existing in memory token cache. Maybe the fact that we used that term (in memory) in the current implementations for a serialization which is outside the internal MSAL memory is unfortunate, but it's there. We've to do with it. With this github issue, we are really talking here of the internal MSAL token cache (default ca

[2021-08-30 11:14] ashinzekene commented on #2833
What's the migration channel?

[2021-08-30 12:32] bgavrilMS commented on #2833
https://teams.microsoft.com/l/channel/19%3a3f112ecb27024f2682379a7af3667869%40thread.tacv2/ADAL.NET%2520to%2520MSAL.NET%2520Migration?groupId=7e394638-cacd-40c7-9e80-c4434c4c90df&tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47

[2021-08-30 12:52] bgavrilMS commented on #2849
I agree with the some of the wording suggestions, but the current proposal:

- leads the develop to believe that if they use `WithSharedDefaultCache(false)` they will disable in-memory caching. This is not possible.
- is confusing if app developer wants to add customization of the non-static in-memory cache:

[code]

Perhaps `.WithDefaultCache(shared: bool)` is better? Which would then evolve to`.

[2021-08-30 21:38] bgavrilMS commented on #2806
@karavar - can you please give more details on the authorization and caching issues described here? I'd expect IMDS to give a token for resource R, authority A (env + tenant) with expiry EXP. This should be enough for MSAL to cache the token. When there is <5 min of expiry left from the token, MSAL will attempt to fetch a new token, which we haven't really defined in the scope of MSI.

If authoriz

[2021-08-30 21:44] bgavrilMS opened #2855 "[Bug] client_credentials throttling error is not easy to understand"
msal 4.35.1

If app developers mis-configure their app with regards to token caching (i.e. no token cache), AAD replies with HTTP status 429 and a Retry-After header.

**Expected**:  the exception should make the potential root cause clear - throttling because lack of app cache - and provide an https://aka.ms/ link

**Actual:** The application developer sees the following exception:

Microsoft.Ide

[2021-08-30 22:01] karavar commented on #2806
If the authorization is not based on information in the token, then everything works fine. But there are scenarios where authorization is based on the information in the token - such as group membership and AAD App Roles. That is, a managed identity is added to a group and the group is authorized via Azure RBAC for example, to have access to resources. The token includes the Group membership claim

[2021-08-30 22:43] henrik-me commented on #2806
Such scenarios should be rejected by the resource via CAE/PAS/RBAC/ABAC not by MSAL validating tokens. The resource should send an appropriate www-authenticate header back indicating that a refresh of the token is required. MSAL have other scenarios which includes long lived tokens today. It the same for those scenarios. Perhaps what you are saying here is that IMDS is the real cache and we should

[2021-08-31 01:19] RhomGit opened #2856 "B2C & PCA: Missing scopes in token"
MSAL 4.35.1.0 MSAL.Desktop 4.8 or later Windows 10 Enterprise

Issue: Everything runs fine when getting the token but no scopes are in the token according to jwt.ms
Note: "signInAudience": "AzureADandPersonalMicrosoftAccount" is on for everything.

Am I doing something wrong?

![image](https://user-images.githubusercontent.com/25700833/131425820-4b2e808a-ed4a-4e6f-b235-46f8ac75afdb.png)

![image](

[2021-08-31 01:24] RhomGit commented on #2856
The desktop app has been granted access to those api scopes:
![image](https://user-images.githubusercontent.com/25700833/131426383-bfd03cce-ea57-4224-af15-cabad0b09bb9.png)

[2021-08-31 01:43] karavar commented on #2806
Yes, we're investigating a CAE based solution. All I am pointing out is today there is no caching in Azure.Identity. But if we start caching the 24-hour MSI tokens in Azure.Identity (via MSAL or otherwise), and there is a CAE event that invalidates IMDS cache and/or ESTS-R cache, then somehow Azure.Identity cache also needs to be invalidated. I am not sure how that'd work, but we need to think thr

[2021-08-31 06:33] timdriever commented on #2697
Last Friday I emailed you logs of the exception. Did you receive the logs?

[2021-08-31 06:57] trwalke commented on #2697
@timdriever Yes I have them. looking into them and will get back to you by tomorrow

[2021-08-31 09:29] bgavrilMS opened #2857 "[Internal] Microsoft.CodeAnalysis.NetAnalyzers.targets(632,5): warning : The .NET SDK has newer analyzers with version '6.0.0' than what version '5.0.3' of 'Microsoft.CodeAnalysis.NetAnalyzers' package provides. Update or remove this package reference."
Analyzer needs upgrade as per warning:

Microsoft.CodeAnalysis.NetAnalyzers.targets(632,5): warning : The .NET SDK has newer analyzers with version '6.0.0' than what version '5.0.3' of 'Microsoft.CodeAnalysis.NetAnalyzers' package provides. Update or remove this package reference.

[2021-08-31 09:48] bgavrilMS commented on #2856
Can you give a few more details about what you are trying to do?

- you have a desktop app and you call AcquireTokenInteractive
- you ask for 2 scopes, which are scopes for your own web API?
- do the desktop app and the web api have the same client id?
- are the desktop app and the web api defined in a B2C tenant or is one of them an non-B2C tenant (il.e. AAD tenant)

[2021-08-31 11:21] RhomGit commented on #2856
- yes
- yes
- no, <DesktopClientid> and <APIid> in the MSAL log above
- same B2C tenant

[2021-08-31 12:14] ashinzekene commented on #1258
Having the same error on a .NET Framework app
[code]

[2021-08-31 13:04] ashinzekene opened #2858 "[Bug] AcquireTokenForClient throws Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0 in .Net Framework"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**
MSAL.NET 4.35.1.0

**Platform**
.NET 4.7

**What authentication flow has the issue?**
* Deskto

[2021-08-31 13:05] ashinzekene commented on #2858
Probably the same as this https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1258

[2021-08-31 19:54] henrik-me commented on #2806
Ack, that scenario is relatively well known to MSAL (for user tokens) App tokens seems to be a bit in the future for CAE.

[2021-08-31 20:06] sander1095 commented on #2596
I just got it to work, so I don't need further help. But I do have the following suggestions/findings:

- make it very clear in the docs that sendx5c is not usable for 3rd parties.
- I found it weird that most docs from docs.microsoft.com on the subject of azure ad auth are rather limited compared to the wiki of this repo. I believe that the docs site might need to reference more strongly to the e

[2021-08-31 20:24] jennyf19 opened #2859 "[Bug] SuggestedCacheExpiry can be in the past and results in System.ArgumentOutOfRangeException: The relative expiration value must be positive."
A customer reported this issue with their InMemory OBO cache.

full exception:
[code]
Could be that there was an old cache with an expired token, and the expiry computed by MSAL was done in an older version, the newer version of MSAL no longer computes the expiry for OBO tokens, so the cache doesn't know how to process it. not sure, needs to be investigated. Have not been able to repro locally.

[2021-08-31 20:53] bgavrilMS commented on #2859
Do you know the MSAL version they were using?

[2021-08-31 21:07] bgavrilMS commented on #2859
What's possibly happening is that CalculateSuggestedCacheExpiry is called in the finally clause.

So if an exception occured (e.g. during serialization to Redis), we still try to compute the cache expiry, but we will have not added a tokens to the cache. We should check if we indeed added them?

[2021-08-31 21:52] trwalke commented on #2697
@timdriever  I am not able to reproduce the error at the moment and the the request that I see in your logs looks valid. Are you in contact with any of the users who are experiencing this issue?

The logs from the authenticator app would help us further diagnose this if they are available:

Acquiring Microsoft Authenticator logs:

Select the menu button in the top-right corner of the app.
Select S

[2021-08-31 22:04] #2738 closed

[2021-09-01 00:27] pmaytak commented on #2826
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).

[2021-09-01 00:28] pmaytak commented on #2796
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).
cc: @rymeskar

[2021-09-01 00:28] pmaytak commented on #2835
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).

[2021-09-01 00:28] pmaytak commented on #2809
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).

[2021-09-01 00:29] pmaytak commented on #2822
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).

[2021-09-01 00:29] pmaytak commented on #2706
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).

cc: @nthurner

[2021-09-01 00:29] pmaytak commented on #2808
Included in [MSAL.NET 4.36.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.36.0).
cc: @djee-ms

[2021-09-01 07:51] djee-ms commented on #2808
As I told @SameerK-MSFT on the review I'm not very happy with the fix. The message was changed but it's thrown from an unrelated exception, reusing it for a different purpose, which forces developers to do some exception message string comparison, which is poor practice. Also that exception does not document that it can be thrown in that case, and the instructions on how to deal with that exceptio

[2021-09-01 08:36] bgavrilMS commented on #2808
@djee-ms - I updated the wiki page with details on how AAD throttles applications and how to setup token caching. We're not expecting apps to handle this exception - the app needs to make proper use of cache. I hope the new wiki page makes this clearer:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Throttling

[2021-09-01 09:57] djee-ms commented on #2808
That looks good, thanks for the update @bgavrilMS. I still think a separate exception would make more sense, though I get that this is one that would only be seen during development (before you fix the app to use the proper flow) so that's a bit awkward. Thanks.

[2021-09-01 11:17] BurkusCat commented on #1144
Hi @bgavrilMS, I am seeing this error in a production version of our app sometimes in Microsoft.Identity.Client 4.34.0. It seems to be causing crashes for a few hundred users. The vast majority of reports are Android 9, 10, 11 but most of our users fall within this bracket so it makes sense most of the crashes are on those versions.

[code]

[code]

[2021-09-01 13:39] bgavrilMS commented on #2596
Great feedback, thanks @sander1095 . CC @jmprieur @henrik-me

[2021-09-01 14:28] charlesroddie opened #2860 "WAM + B2C"
Currently with B2C set up, a user choosing choosing a Microsoft login flow will get a web browser which doesn't remember usernames and passwords.

Attempting to use WAM runs into the limitation:

Is this limitation intrinsic to WAM or B2C, or is it something that MSAL can address?

[2021-09-01 16:33] bgavrilMS commented on #2848
I don't think so. The locking would only affect the AppTokenCache.

[2021-09-01 17:12] jmprieur commented on #2848
@bgavrilMS I realize i wasn't clear. I meant.
- app is deployed on several deployment slots.
- each deployed code has the same client ID and goes to the same distributed redis app token cache

[2021-09-02 00:31] karavar commented on #2806
I wonder if it's possible to incorporate some kind of (retry?) logic in the Azure SDK clients (like KeyVaultClient) that sends a signal to Azure.Identity/MSAL to invalidate this proposed MSAL cache, so that developers don't have to worry about having to manually flush the cache and they're not left wondering why is my code not getting the latest token.

[2021-09-02 00:32] karavar commented on #2806
Also note that CAE story for Managed Identities is not too far out. We're starting to discuss that already with the CAE team who is building an MVP story for CAE for SPs.

[2021-09-02 03:51] pmaytak commented on #2857
Is this from your local machine or from the build pipeline? If we upgrade the analyzers, we have to upgrade the .NET target in the pipeline to .NET 6 too, otherwise, it'll probably break.

[2021-09-02 09:34] jiasli commented on #2806
## Getting a certificate for VM SSH

As Azure CLI developer, another scenario I would like to bring out is **VM SSH** which requires **getting a certificate** through the [`data`](https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/e65731ece2233faf7d1061b5069693617d4d8ca5/msal/application.py#L799) argument.

## Why Azure CLI dropped Azure Identity

Azure Identity has explic

[2021-09-02 10:27] bgavrilMS commented on #2857
It's a good point, this is because I'm using .NET 6 runtime. Let's keep as is until .NET 6 goes GA

[2021-09-02 14:29] bgavrilMS commented on #2848
This is a great question. If machine A and machine B compete for tokens, there is no way for MSAL to reconcile these anyway. The locking mechanism is in process and per application object only. The logic of AcquireToken* calls is:

[code]

By removing the locks, we can no longer guarantee the order of operations. I think this is fine for AcquireTokenForClient.

For the other scenarios, the problem

[2021-09-02 16:14] maliksahil commented on #2806
@karavar raised the concerns well. There is one other thing I would like to raise. MSI and distributed cache are fundamentally incongruent, and implemented as is will lead to bad patterns from a developer point of view when using MSI. We should keep that in mind when we implement caching with MSI - perhaps MSI caching should be somehow limited to just in memory cache?

[2021-09-02 17:23] karavar commented on #2806
@jiasli Your issue seems to be related to this prototype but deserves its own tracking item. Can you please create one? I feel we should not overload this prototyping effort of using MSAL for caching without changing any developer experiences of Azure.Identity.

[2021-09-02 17:44] rayluo commented on #2806
Indeed. I would suggest @jiasli to copy his comment to [MSAL Python's issue 58](https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/58). We will reopen that issue and keep track there.

[2021-09-02 18:50] jmprieur opened #2861 "[Feature Request] In memory token cache in confidential client application is well partitioned for all flows, non longer serialized and can be shared between instances of confidential client apps"
**Is your feature request related to a problem? Please describe.**
For context see [Token cache vision 1-pager](https://microsoft.sharepoint.com/teams/aad/devex/Shared%20Documents/DotNetDocs/Vision%20-%20MSAL.NET%20token%20cache.docx?web=1)

**Describe the solution you'd like**
Out of the box, confidential client applications should internally have a token cache which is:
- well partitioned for al

[2021-09-03 01:11] schaabs opened #2863 "[Feature Request] ConfidentialClientApplicationBuilder.WithClientAssertion assertion should provide an async overload"
Currently `ConfidentialClientApplicationBuilder` has two overloads of `WithClientAssertion` one which simply takes a string and once which takes a synchronous callback `Func<string>`.  There are many scenarios where the assertion, or the key to sign the assertion is not actually in memory, and fetching or creating the assertion requires some I/O. It would be good if `WithClientAssertion` had an ov

[2021-09-03 10:29] bgavrilMS commented on #2860
This is a WAM limitation indeed.

[2021-09-03 10:50] bgavrilMS opened #2864 "[Feature Request] Improve Azure Region detection and docs"
The following are gaps around Azure Region support, in particular around auto-discovery and around documentation.

- [x] List all Azure systems where auto-detection works and doesn't work (e.g. where IMDS / Antares is available and where it isn't)
- [x] Plan for region auto-detection on all systems
- [ ] Integration tests to ensure that region auto-detection works and that discovered region is in

[2021-09-03 10:52] bgavrilMS commented on #2864
CC @henrik-me

[2021-09-03 13:05] bgavrilMS commented on #2402
NET 45 goes out of support in a few months, and given our backlog, and the fact that there is a workaround, it's unlikely that we can find time to fix this.

If you have another implementation of HttpClient that works better, please share it us and we could consume it.

[2021-09-03 13:05] #2402 closed

[2021-09-03 14:18] smartstoremx commented on #2858
Dear All,

We are trying to get the  access token to use to request my own api. I am using Microsoft. Identity.Client nuget. version: 4.36.0

a) In Net core  MVC web application, unit test, console , Library projects works.
b) In Net framework 4.7.2 in unit test, console, library projects  works.

c) In MVC web application with net framework 4.7.2 do not work.  When you execute **await app.Acquire

[2021-09-03 15:00] bgavrilMS commented on #2858
@ashinzekene - .net 45 is going to be deprecated in a few months, so we are declining to fix this.
The workaround is to sign your own assertion - see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Assertions#option-1---using-microsoftidentitymodeljsonwebtokens-library-recommended

[2021-09-03 15:06] sparkspriya opened #2865 "[Bug] - MSAL.Desktop.4.36.0.0.MsalServiceException: User canceled authentication' - Account picker automatically closes on Windows Server 2016"
**Logs and network traces**
MSAL.Desktop.4.36.0.0.MsalServiceException:
    ErrorCode: authentication_canceled
Microsoft.Identity.Client.MsalServiceException: Broker response returned error: User canceled authentication.
   at Microsoft.Identity.Client.Internal.Broker.BrokerInteractiveRequestComponent.ValidateResponseFromBroker(MsalTokenResponse msalTokenResponse)
   at Microsoft.Identity.Client.I

[2021-09-03 15:34] bgavrilMS commented on #2861
# Flow 1 - TokenCacheAdapter to move to MSAL

	- interface vs abstract class
	- force encryption, i.e. add Protect / Unprotect to interface ?
	- API review
	- MSAL Implementation
	- MIW implementation

## MIW work

	- Split the package
	- Hook into the new MSAL interface
	- A more aggressive way to force people to use encryption

# Flow 2  - Well partitioned cache for User Cache (lots of testing r

[2021-09-03 16:33] jennyf19 commented on #2861
What do you mean by flows?
also, i have a slightly different perspective on flow 1 and the id web work and have already made a plan for it.

as discussed yesterday, none of the work, except removing the id web memory cache is dependent on the other work.

nit: can you write out id web or microsoft.identity.web so it's clear what you are referring to? we never use an acronym for it. thx

should thi

[2021-09-03 20:10] ashinzekene commented on #2858
Sorry, It's .NET 4.7 not 4.5

@bgavrilMS

[2021-09-03 21:01] bgavrilMS commented on #2861
Just work streams for the problem we are trying to solve. The work streams can be tacked in parallel. The first one is indeed not mandatory for tackling this problem and we should take the time to design right.

@pmaytak  is looking at 2, @trwalke is looking at 4, and I'm looking at 3

For 1, since Id web is taking a breaking change, let's make sure we get the right token cache interface in place.

[2021-09-03 22:01] jennyf19 commented on #2861
Flow 1 is actually two separate items.
One is separating Id Web into smaller nuget packages for fewer dependencies for .NET Framework.
 - this work is in progress
 - we might take a major version for this (2.*), as is a binary breaking change
 - involves a good amount of testing w/samples and 1P.

Two is moving the MsalAbstractTokenAdapter to MSAL.NET
 - not dependent on any other tasks/flows.
 -

[2021-09-04 00:30] #2852 closed

[2021-09-06 02:30] Zoe-ms commented on #2402
Thanks for the update. Given that we will move to net 472 shortly, unlikely we will implement the workaround as well. Thanks.

[2021-09-06 07:34] rymeskar commented on #2796
Thanks a lot for closing the issue so fast.

I noticed that in the end the jitter has been added to only refresh_in and not expiry. I would then like to follow up on the previous conversation:
"For the expires_in, do you have some more context on the throw-away 5 mins before the actual expiry? For majority of C# cases, this effectively leads to 10 mins before the token stops being accepted at the

[2021-09-07 01:52] jmprieur commented on #2865
@bgavrilMS @trwalke @SameerK-MSFT @pmaytak : do you have an idea?

[2021-09-07 01:56] jmprieur commented on #2838
@michel-douma are you using a token cache?

[2021-09-07 02:12] RhomGit commented on #2856
I have a repro for the token acquisition here: https://github.com/RhomGit/MSALDesktopRepro
If you use your own B2C variables do you get scopes returned with the token when using this?
I can email my B2C variables to someone for validation also if necessary.

Its really important for me to get this up and running, I am happy to pay for someones time to look into it. I could be doing something stupi

[2021-09-07 02:22] RhomGit commented on #2856
Nevermind, I found the problem. I was using the wrong property on AuthResult (idToken instead of AccessToken).

[2021-09-07 02:22] #2856 closed

[2021-09-07 08:04] bgavrilMS commented on #2865
Hi @sparkspriya - is this machine upgraded to R2 or not? Is it domain joined?

[2021-09-07 08:23] bgavrilMS opened #2866 "[Feature Request] Bump MSAL support to netcore 3.1"
.net core 2.1 is end of life as of Aug 19 2022
.NET Core 3.1 is the next min version of .NET Core, supported until Dec 2022

[2021-09-07 08:29] bgavrilMS opened #2867 "[Feature Request] Better default HTTPClient on .NET Core"
MSAL's default HttpClient does not handle DNS changes.

**Proposal**: use `System.Net.Http.SocketsHttpHandler` on confidential client flows

The configuration should be similar to
[code]

[2021-09-07 09:29] rymeskar commented on #2280
+1. Introducing such configuration method would be in sync with what is on [AbstractApplicationBuilder](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.abstractapplicationbuilder-1.withtenantid?view=azure-dotnet#Microsoft_Identity_Client_AbstractApplicationBuilder_1_WithTenantId_System_String_). Also, this way customers are no longer asked to worry about the authority base ur

[2021-09-07 09:59] rymeskar commented on #2280
Is there any target date for this feature?

[2021-09-07 13:08] rymeskar opened #2868 "[Feature Request] Better align the WithLogging callback with the Microsoft.Extensions.*"
It's clear why MSAL in today's form and environment state cannot take a direct dependency on Microsoft.Extensions.Logging.
This being said, it would still be great if the logging setup mimicked the Extensions.Logging API a bit more.

Notably, the [IsEnabled](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.ilogger.isenabled?view=dotnet-plat-ext-5.0) is a dynamic callback (t

[2021-09-07 16:04] bgavrilMS commented on #2858
@ashinzekene - can you try to see if `certificate.PublicKey.Key.KeySize` works on your cert?

[2021-09-07 18:31] robk9e commented on #1737
On my side, everything is working and is correctly set up. The Kerberos token was issued correctly to autologon but the Microsoft does not recognize my domain as federated:

https://login.microsoftonline.com/common/userrealm/robson@robsoncarvalho.com.br?api-version=1.0 says my account_type is managed.

`{
"ver": "1.0",
"account_type": "Managed",
"domain_name": "robsoncarvalho.com.br",
"cloud_insta

[2021-09-07 18:59] robk9e commented on #1737
@jabbera nevermind. I have just confirmed that it indeed works :)
I used the following example:
https://github.com/Azure-Samples/active-directory-dotnet-iwa-v2

[2021-09-07 19:46] jmprieur opened #2869 "[Feature Request] Help service owners by producing metrics to watch and warn them if they don’t respect the guidance"
**Is your feature request related to a problem? Please describe.**
Partners and customers who don't follow the guidance on how to use the token cache or MSAL confidential client application lifecycle might run into problem such as:
- they will be throttled by AzureAd if they keep asking for the same token (if the cache is not used)
- they will run in perf issues if only the user token default cach

[2021-09-07 21:21] rymeskar opened #2871 "[Feature Request] Provide granular PII obfuscation mechanism"
Today, the pii handling in the [log callback](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.logcallback?view=azure-dotnet) forces the consumers to one of the following:
* receive the same log messages twice
  * once with blurred out PII so missing the possibility for backtracking/debugging the issue in all the detail.
  *  once in plaintext but without the possibility to se

[2021-09-07 21:35] jsquire opened #2872 "Pointless page"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET, [#23805](https://github.com/Azure/azure-sdk-for-net/issues/23805).

### Please be aware that @Sectaur is the author of the original issue and include them for any questions and replies.

## Details

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-09-07 21:35] rymeskar opened #2873 "[Feature Request] Provide structured logging ala Microsoft.Extensions.Logging"
@bgavrilMS was proposing to alert on log messages.
Having structured logs around the MSAL codebase would significantly ease setting up the alerts in more detail.

The helpful features of the structuring would be:
* eventId
* [Log message templates](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0#log-message-template-1)
* passing strong-typed state to allow fu

[2021-09-07 21:46] bgavrilMS commented on #2872
Hi @secatur @jsquire - can you please provide a repro ? This issue is not actionable.

[2021-09-07 23:19] jmprieur commented on #2872
@bgavrilMS : there is no XML comment, it does not tell how to use it ...

[2021-09-08 01:41] jmprieur commented on #2868
https://github.com/AzureAD/microsoft-identity-web/blob/51af003c90604e165e0a9a1cea806e43398dbd3e/src/Microsoft.Identity.Web/TokenAcquisition.cs#L995-L1043 might help

[2021-09-08 01:42] jmprieur commented on #2869
See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2850 which could be part of the solution

[2021-09-08 06:05] maliksahil commented on #2869
Would it be possible to detect where someone should use a distributed cache, but isn't - and given an appropriate error message? For instance, a developer develops something on their machine (works on my machine), and pushes it to a load balanced farm (doesn't work there) -- can we give an obvious suitable error message?

[2021-09-08 07:30] rymeskar commented on #2868
The `ConvertMicrosoftExtensionsLogLevelToMsal` is statically calculated at startup and guides what MSAL should log. Whereas `IsEnabled` is a dynamic callback.

[2021-09-08 08:50] rymeskar opened #2877 "[Feature Request] Provide ability to turn off the default retry-once policy and recommend retry policy"
By default, MSAL retries http calls once on 5xx with [a delay of 1 second](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/ef3b2f61d9f0d441a1d2232ca2062a8d60e13437/src/client/Microsoft.Identity.Client/Http/HttpManager.cs#L162).

**Scenario**
In expert and high traffic scenarios, customers might want to provide own retry strategies, retry periods and resilient http clien

[2021-09-08 09:27] bgavrilMS commented on #2869
We can only detect if cache serialization is used or not from MSAL. We don't know where bytes are stored. For web site and web app scenarios, we already issue a log.error if cache serialization is not used.

[2021-09-08 09:29] bgavrilMS commented on #2869
Other guidance ideas:

- client_credentials over `common` or `organizations`
- use of WithAuthority at the request level, without setting WithAuthority at the app level (they will get into problems when they use a different cloud).
- internal cache size hitting some upper limit?

[2021-09-08 11:40] bgavrilMS commented on #2872
Got it, looks like "Summary' is bad casing, "summary" should be ok.

[2021-09-08 16:09] dmcweeney commented on #2799
Hi @jmprieur some feedback as promised and apologies for the delay.

I would have assumed that the default behavior for `GetAccessTokenForUserAsync` would have been to get the access token for the tenant that the current web app user is authenticated against - ie the tenantId specified in the `http://schemas.microsoft.com/identity/claims/tenantid` claim. I only discovered this was not the case **w

[2021-09-08 16:47] jennyf19 opened #2880 "[Bug] using app Id URI instead of client_id in web API, results in bad token for OBO RT redemption."
1.16.1

ResponseBody: {"error":"invalid_grant","error_description":"AADSTS70000: Provided grant is invalid or malformed.\r\nTrace ID: 7c2d5c69-da2d-4b9a-969b-3770520f0d01\r\nCorrelation ID: eb26b440-88f2-405f-be22-4d389627372b\r\nTimestamp: 2021-09-08 14:51:19Z","error_codes":[70000],"timestamp":"2021-09-08 14:51:19Z","trace_id":"7c2d5c69-da2d-4b9a-969b-3770520f0d01","correlation_id":"eb26b440-88f

[2021-09-08 22:58] jmprieur commented on #2880
I agree with @jennyf19's proposal:
- `AcquireTokenOnBehalfOf`: no longer acquires the OBO RT. This will have the advantage that, for customers who don't want long running processes, the cache will expire (the SuggestedExpiry property of the TokenAcquisitionArgs will have a value). Then if the developer tries to call `AcquireTokenOnBehalfOf` with an expired user assertion, MSAL.NET would throw with

[2021-09-08 22:58] jmprieur commented on #2880
See also https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/2820

[2021-09-09 00:20] jmprieur commented on #2869
- for WithAuthority at the request level, we would avoid the issue by having .WithTenant()

[2021-09-09 06:25] trwalke commented on #2869
One additional proposal is the use of telemetry to allow us to understand how MSAL is used. Perhaps we can gather usage data that will help us identify customers who are violating our guidance with some sort of Kusto query or even a dashboard. It also may be beneficial to add S360 items that will notify customers of bad practices. While it is certainly going to take some time to identify the best

[2021-09-09 10:12] #2872 closed

[2021-09-09 13:45] #2863 closed

[2021-09-09 17:23] jmprieur commented on #2804
Agreed:

- `.WithCertificate` will now takes a new `sendX5C` boolean with a default value of `false`

- `.WithClientClaims` will now takes a new `sendX5C` boolean with a default value of `false`

[2021-09-09 20:27] jmprieur commented on #2869
@bgavrilMS : we cannot at detect where things are serialized at runtime. but we could detect by code analysis.

[2021-09-09 21:32] maliksahil commented on #2869
You could also detect situations such as "I am asking for a token when I shouldn't be - even if I am using the cache" or "I am running into deserialization issues" -- and create a support/troubleshooting guide, where one possible reason for this could be, you are using in-memory cache when you really should be using distributed cache.

[2021-09-09 22:23] jmprieur commented on #2869
What would be situations where i'm asking for a token when i shouldn't be, @maliksahil ?

[2021-09-10 04:12] maliksahil commented on #2869
You should be renewing a token once every hour or so. If you find that you are frequently asking for a new access token sometimes every hour, but randomly much sooner (few minutes), is a sign that you are using in memory cache, when you should be using distributed cache.

[2021-09-10 13:45] rymeskar commented on #2826
It's great to see the rate at which you manage to improve the caching and resiliency experience in the past weeks and months.

At this front, @pmaytak and @bgavrilMS I was wondering whether are you planning to add support for more granular partitioning even for the non-in-memory-cache scenarios?

[2021-09-10 15:29] jmprieur commented on #2826
@rymeskar this is already realized thanks to the SuggestedCacheKey property of the TokenSerializationArgs.

[2021-09-10 15:49] jmprieur commented on #2869
I still don't understand why this is the sign you are using an in memory cache? do you mean if your app is restarted?

[2021-09-10 16:04] maliksahil commented on #2869
Think containerized apps, or load balanced apps - the individual instances are not sharing the in memory cache.

[2021-09-10 16:23] maliksahil opened #2883 "[Feature Request] Add support for Auth transfer to native AAD using transfer token"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Customers that need to support WAM with MSAPT are faced with the difficult task of either modifying an existing app registration, or creating a new app registration and go through preauthorization. Modifying the existing app registration i

[2021-09-10 16:43] bgavrilMS opened #2884 "[Bug] Friendly error message when using regional with 3rd party app"
Is your feature request related to a problem? Please describe.
Partners try to run their services locally, and get the following exception:

AADSTS100007: Regional Cache Auth Service token requests for audience App that is not MSI are forbidden
and they are confused as this is not actionable.

Describe the solution you'd like

work with EVO to improve the error message and have it more actionable

[2021-09-10 19:12] rymeskar commented on #2826
My understanding was that SuggestedCacheKey is coarsely partitioned; i.e. it does not partition by scope/resourceId.

[2021-09-10 21:53] rslavey commented on #2307
@bgavrilMS Please see https://github.com/microsoft/microsoft-ui-xaml/issues/5143

[2021-09-10 22:24] jmprieur commented on #2826
Being partitioned by resource ID would not allow for using the refresh token to acquire a token for a different resource.

[2021-09-10 23:10] #2795 closed

[2021-09-13 09:00] rymeskar commented on #2826
This makes sense.
For CCA and for app-only scenarios, this should be fine. For CCA and OBO, should we give the customers an otpion to pick either better RT re-use or finer granularization? After all the RT is re-usable just for the validity period of the original user assertion.

[2021-09-13 10:27] rymeskar commented on #2796
@jmprieur do you happen to have more information on the behavior of expires_in and the skew?

[2021-09-13 11:27] bgavrilMS commented on #2883
In terms of public API, I suggest we add `MsaPassthroughTransferClientId ` to the existing `WindowsBrokerOptions`

[code]

If `MsaPassthrough` is set to true and `MsaPassthroughTransferClientId` is not set, then we use the `app_client_id` to perform the transfer logic (this is alternative a) or b), where MSA-PT still needs to be used).

[2021-09-13 11:36] bgavrilMS commented on #2796
MSAL logic for AT expiry is - if an AT has fewer than 5 min left before expiry, we consider it expired. If possible, MSAL will attempt to get a new AT (e.g. via "refresh_token" grant if you call AcquireTokenSilent or AcquireTokenOnBehalfOf, or via "client_credentials" flow for AcquireTokenForClient).

Not sure how this 5 min adds up with Wilson's 5 min?

[2021-09-13 12:13] rymeskar commented on #2796
Wilson calculates the token expiry as exp+[skew](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.clockskew?view=azure-dotnet). The default skew is 5 mins. So for majority of scenarios, MSAL considers the token expired even when the resource provider would still technically accept the AT for up to 10 mins.

So I was wondering whether you experien

[2021-09-13 12:13] bgavrilMS commented on #2307
Yes, tracking external issue - https://github.com/microsoft/microsoft-ui-xaml/issues/5143

[2021-09-13 12:37] bgavrilMS commented on #2796
From what I see from reading Wilson code, this is the other way around, i.e. if a token has expired in the last 5 min, Wilson will consider it valid:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d6f2b66d788195b50f2b1f700beb497851194c73/src/Microsoft.IdentityModel.Tokens/Validators.cs#L358

Failure condition:
if (notBefore.HasValue && (notBefore.Value >

[2021-09-13 12:51] rymeskar commented on #2796
I agree with this.

` nbf`  is more as the start of the token lifetime. The logic for expires is captured on [the next lines](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d6f2b66d788195b50f2b1f700beb497851194c73/src/Microsoft.IdentityModel.Tokens/Validators.cs#L362).

NOW: 1:33PM

with 5 min skew
EXP: 1:30 PM
NOW - SKEW = 1:33PM - 5min = 1:27 PM
OK

[2021-09-13 13:06] LaurensAdema opened #2886 "[Feature Request] Allow adding certificate as Base64 String to ConfidentialClientApplication"
**Is your feature request related to a problem? Please describe.**
We load our certificate's from Azure Key Vault using the IConfiguration provider. This means that certificates are stored as Base64 strings in the provider. When building ConfidentialClient applications we need to convert these to X509Certificate2 which according to the profiler uses a lot of CPU capacity. Since we build quite a lo

[2021-09-13 13:17] bgavrilMS commented on #2886
Hi @LaurensAdema

MSAL uses the certificate to create and sign a small piece of JSON (an assertion) which it then sends to AAD. It does not send the whole cert over. MSAL needs at least:

- cert.GetCertHash() // we send the cert thumbprint in the assertion, so that AAD can match it with the cert it has
- cert.Sign(); // MSAL signs the assertion

When it receives the request, AAD first looks at the

[2021-09-13 13:23] LaurensAdema commented on #2886
Yes, that would be wonderful. We use the Microsoft.Identity.Web solution in the link you've provided where this is posible, but this is not yet possible on the ConfidentialClients right? I saw only ClientSecret could be loaded with CreateWithApplicationOptions.

[2021-09-13 15:50] jmprieur commented on #2886
@LaurensAdema : look at this sample:
https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/1-Call-MSGraph/daemon-console

in particular: https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/blob/e9b986b14c3911a53a593b84f1d9e16dc3d9e950/1-Call-MSGraph/daemon-console/Program.cs#L140 where you can use the loading by thumbprint
you could also read directl

[2021-09-13 16:03] jmprieur commented on #2826
nom @rymeskar the RT for OBO token is reusable for 90 days (provided, today you give the userassertion, which might have expired, but is used as a key to the cache). @pmaytak is actually improving the experience for OBO tokens used in long running processes:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/2820

[2021-09-13 16:32] maliksahil commented on #2883
How much API pollution do we have around stuff that 3P developers will  never use? And is it a reasonable ask to put that in a separate nuget package intended for 1P devs?

Or do we want to keep something like `.WithMsaPassthroughTransferClientId(..)` .. to perhaps one day facilitate such separation? Will PassthroughTransferClientId ever apply to non broker scenarios?

[2021-09-13 16:43] bgavrilMS commented on #2883
`How much API pollution do we have to have around?` It's a fair question. Today, we have at least 3 features which I believe we only offer to 1p:

- regional auth (planned to go to 3p as well, not sure when)
- cert rotation support via SN/I (sendX5C) - no plans for 3p
- MSA passthrough options in WAM - no plans for 3p

Extracting the entire logic (API + implementation) in a separate packge would b

[2021-09-13 18:56] maliksahil commented on #2883
Ok I will create an issue for this so we can discuss this and collectively decide if we want to further pollute the API surface/stop where we are/or undo the pollution. I don't know how big of a concern this is, but I cannot argue against keeping the API clean.