[2019-05-28 17:00] henrik-me commented on #1173
@jmprieur : I believe it's more correct to say this requires the authenticator app, but not the broker. from what I can see @myokeeh is doing what is expected. Will have to understand why this error comes up. (aside: I have used pwd less for a very long time and I have never encountered such issues)
@myokeeh : do you have a correlation id from when you saw this?

[2019-05-28 19:18] parakhj commented on #575
Given that you are making a request to B2C, you're going to get a B2C token (which you are, as I can tell by the tfp claim above).

The API now needs to validate the B2C token against the B2C openid metadata endpoint, and ensuring the keys and signature and other things match. So in the API, you must have configured the openid metadata endpoint somewhere. That's the configuration i was referring t

[2019-05-28 21:00] myokeeh commented on #1173
@henrik-me
f2cdde05-fdb3-4151-8eef-eb6ba7924d57
b91d7c46-88a2-49b5-8da4-4c48f7fcb487

[2019-05-29 02:29] jennyf19 opened #1176 "MSAL writing null family_id value in JSON string on iOS"
**Which Version of MSAL are you using ?**
i think from 3.0.1-preview

**Platform**
xamarin iOS

**Actual behavior**
In the JSON string, we are writing null for the family_id value, it should be string.empty or ""

[code]

Am working on a repro of this to provide more context. will update tomorrow.

[2019-05-29 04:21] henrik-me commented on #1173
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes, which are all subject to change mentions the error is:
DeviceAuthenticationFailed - Device authentication failed for this user.
Still investigating.

[2019-05-29 04:40] henrik-me commented on #1173
According to the service logs you successfully authenticated for both those correlation id's today. Still trying to understand exactly what the logs means, both have triggered MFA flows (used for passwordless as it's similar to MFA by letting the device ack).
@myokeeh : a few questions
Did anything change for your account? E.g. MFA?
Is it an MSA (hotmail/live) account or an AAD account (work or sc

[2019-05-29 06:57] myokeeh commented on #1173
@henrik-me Right. If I just go by the results of the log-in UI, nothing's amiss--it sure projects a successful authentication. Actually, can you check this? I attached a log with some details redacted.

23df78f9-fbf8-476f-868a-44deafc921d5

There's only myself and another person who could change our AzureAD config/settings. No recent changes to MFA. We use AAD (work or school) accounts.

[MSALLog.

[2019-05-29 08:08] mjcheetham commented on #1174
Is there a possibility to store this kind of configuration information in a similar way to tokens (`UserTokenCache` .. `ConfigurationCache`)?

[2019-05-29 09:07] jmprieur commented on #1158
Closing as a dupe of aspnet/AspNetCore#10447

[2019-05-29 09:07] #1158 closed

[2019-05-29 09:09] jmprieur commented on #1154
@trwalke is this issue fixed now? if yes, you might want to close it?

[2019-05-29 09:14] jmprieur commented on #1040
@stevehurcombe the startup delay a different issue: this is instance discovery. you might want to follow #1174 for that one.

Closing this one as it's fixed.

[2019-05-29 09:14] #1040 closed

[2019-05-29 09:16] jmprieur commented on #1003
@trwalke : is it something that you started? (if my memory is right).

[2019-05-29 09:16] jmprieur commented on #983
@jennyf19 : did you have some update from the iOS team?

[2019-05-29 09:18] bgavrilMS commented on #1176
No need to spend time reproducing this, we probably have unit tests around it.

According to the JSON spec, null is a valid value and is equivalent to empty string: http://www.json.org/
See also: https://stackoverflow.com/questions/21120999/representing-null-in-json

I do not understand customer impact here.

[2019-05-29 10:09] bgavrilMS commented on #1174
@mjcheetham - yes, this is our current approach but I need to figure out how we do expiration (i.e. 24h expiry? more? ) and refresh (i.e. refresh when the info is missing or expired, or also try to refresh whenever a non silent request is made).

Other proposals are:

- use HTTP request caching
- let the developers pass in a list of aliases

[2019-05-29 12:09] Mephisztoe commented on #717
After calling AcquireTokenSilentAsync, I extract the idToken from the AuthenticationResult, but what's more important to me is the AccessToken which I encapsulate in a JObject to be passed to MobileServiceClient.LoginAsync as zumoPayload. This way I can make use of MSAL for easy authentication against AADB2C and MobileServiceClient for easy working against Azure App Services Tables.

However, sinc

[2019-05-29 12:57] jmprieur opened #1179 "TokenCacheNotificationArgs should have a new member AccountId for confidential client application serialization/deserialization"
**Which Version of MSAL are you using ?**
MSAL.NET 3.0.8 or 4.0.0 rc

**Platform**
netcore or net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ x] Authorization code
    * [ x ] OBO
* Web API
    * [ x ] OBO

Other? - please describe;
Th

[2019-05-29 13:11] stevehurcombe commented on #1174
@jmprieur You pointed me at this issue, from #1040 but you also tagged this as Desktop. We're getting this on mobile.

[2019-05-29 13:14] stevehurcombe commented on #1174
@bgavrilMS my expectation is that if the token hasn't expired yet then there should no need to go out and update anything. If you *have* to do this then can it be done in a way that doesn't impact startup, especially on mobile?

[2019-05-29 13:16] jmprieur commented on #1174
@stevehurcombe , I've added the scenarios for mobile as well.

[2019-05-29 14:01] stevehurcombe commented on #1174
#1144 sounds like it's a closely related issue.

[2019-05-29 14:09] trwalke commented on #1003
@jmprieur Yes I did but it was deprioritized once we started working on MSAL GA

[2019-05-29 14:09] trwalke commented on #1154
@jmprieur no, not fixed yet.

[2019-05-29 14:09] jmprieur commented on #1174
yes, indeed. They all are related to the fact that MSAL does instance discovery (to discover the aliases of issuers across clouds), and this takes time, and prevents offline scenarios.

[2019-05-29 16:13] jennyf19 commented on #1176
@bgavrilMS Here's the issue:
1) We are omitting all the other missing fields, and only writing "null" for family_id
2) Null is valid, but in Obj-C it can cause issues as it's translated to NSNull, which can result in issues for apps that don't except NSNulls.
3) When we did cache compat testing w/native iOS, we were behaving like the other SDKs and not writing null fields to JSON. This change migh

[2019-05-29 22:12] jennyf19 commented on #983
@jmprieur no update, but based on how our Uris are formed in C#, i'm going to push back on the iOS team to handle upper/lower case bundleIds. Will follow up with them this week. Going to close, as I think the fix should be in broker.

[2019-05-29 22:12] #983 closed

[2019-05-29 23:26] trwalke opened #1180 "Update AcquireTokenSilent api to handle single accounts"
The acquireTokenSilent API currently has 2 overloads:
acquireTokenSilent(scopes, account)
acquireTokenSilent(scopes, loginHint)

These two methods require that you provide details of the desired account in order for the cache to find the correct AT/RT. However, there are scenarios where the application will only ever have a single account(mobile scenarios for example). In these scenarios, it shoul

[2019-05-30 02:27] jennyf19 commented on #1165
@devdeer-stephan any update? are we able to close this issue? thanks.

[2019-05-30 06:35] jmprieur commented on #1173
@myokeeh
There is an issue on the Azure AD  (service) side, which is being fixed.
We'll update you when we know more about the ETA for deployment publicly

[2019-05-30 06:38] jmprieur commented on #1179
Note: This is not blocking ASP.NET Core scenarios (as in those scenarios, we can always get access to the HttpContext and therefore the user. See PR above

[2019-05-30 06:40] jmprieur commented on #1180
@trwalke : we should not change the name/signature of the existing methods (we don't want to break the existing applications, just make it easier to use MSAL.NET in the single account case

adding @shoatman for his feedback as yesterday he pinged me about work in progress on the mobile platforms with which we should probably align

[2019-05-30 06:42] jmprieur commented on #1154
@trwalke: isn't it highest priority to fix the failing test, than doing the new feature work?

[2019-05-30 06:58] jmprieur commented on #983
Thanks for the update, @jennyf19

[2019-05-30 09:00] #1179 closed

[2019-05-30 17:45] Rick-Kirkham opened #1184 "GetAuthorizationRequestUrlParameterBuilder.ExecuteAsync() method returns wrong datatype"
**Which Version of MSAL are you using ?**
Latest 3.x.x

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
c. This is a new app

[2019-05-30 19:01] cdacle opened #1185 "MSAL running on HoloLens Unity app generates deserialization error: No set method for property 'Claims' in type 'Microsoft.Identity.Client.OAuth2.OAuth2ResponseBase'"
**Which Version of MSAL are you using ?**
MSAL 3.0.8

**Platform**
UWP Hololens Unity App

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [X] Integrated Windows Auth
    * [X] Username Password
    * [X] Device code flow (browserless)

Other? - please describe;

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**

[code]

The

[2019-05-30 20:58] cdacle commented on #1185
Some additional detail:

Stepping through [OAuth2Client.cs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/Microsoft.Identity.Client/OAuth2/OAuth2Client.cs), `public static T CreateResponse<T>(HttpResponse response, RequestContext requestContext, bool addCorrelationId)` shows `response.StatusCode` = `HttpStatusCode.OK` and `response.Body` is

[code]

`T` is

[2019-05-30 21:00] jmprieur opened #1186 "Add .WithDefaultRedirectUri() method to the PublicClientApplicationBuilder to simplify's developer's life"
**Is your feature request related to a problem? Please describe.**

1. Currently on Desktop applications, MSAL.NET uses the `urn:ietf:wg:oauth:2.0:oob` per default as a Redirect URI. However, the recommendation is now to use `https://login.microsoftonline.com/common/oauth2/nativeclient` for desktop applications. We could update all the samples to change the app registration and add a call to `.Wit

[2019-05-30 21:03] jmprieur commented on #1186
@jennyf19 : this is the spec for `.WithDefaultRedirectUri()`

[2019-05-30 21:04] #933 closed

[2019-05-30 21:14] jmprieur commented on #1180
@trwalke : I've updated the description of the issue. Please check.

[2019-05-30 21:15] jmprieur commented on #1176
@bgavrilMS : is it the issue you fixed?

[2019-05-30 21:20] jmprieur commented on #1165
@devdeer-stephan : the right way to handle the cache is to subscribe to the serialization events. Please see this PR about what's right to do: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/106

proposing to close this issue. Don't hesitate to reopen (or open a more explicit issue) if you disagree

[2019-05-30 21:20] #1165 closed

[2019-05-30 21:23] jmprieur commented on #1141
Closing as nothing needs to be done in MSAL.NET.

[2019-05-30 21:25] #1136 closed

[2019-05-30 21:26] jennyf19 commented on #1141
@jmprieur I was leaving this open until the b2c fix rolls out (should be eow) and then update docs

[2019-05-30 21:29] jmprieur commented on #1135
Thanks @peterhee
I've added `WithTenantId` calls.

Feel free to reopen if that's not what you meant.

[2019-05-30 21:29] #1135 closed

[2019-05-30 21:30] jmprieur commented on #1134
@parakhj @valnav : can you please the B2C user here? that's not MSAL related ...

[2019-05-30 21:33] jmprieur commented on #1120
@bgavrilMS : How would you suggest we move this forward?
any recommendation of which docs to change? (All the ExecuteAsync with cancellation token? new article?

[2019-05-30 21:34] jmprieur commented on #1119
Closing this issue as it's being discussed by the bigger team.

[2019-05-30 21:34] #1119 closed

[2019-05-30 21:35] jmprieur commented on #1115
@bgavrilMS @henrik-me
I would propose to add this part of the Desktop incremental tutorial. what do you think?

[2019-05-30 21:36] jmprieur commented on #1105
@valnav @parakhj : do you have a doc on this?

[2019-05-30 21:38] jmprieur commented on #1095
@bgavrilMS @MarkZuber I agree with an override with a delegate
cc: @henrik-me

[2019-05-30 21:39] jmprieur commented on #1093
See also https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1186

[2019-05-30 21:41] jmprieur commented on #1069
@henrik-me. do we know why they are ignored?

[2019-05-30 21:49] jennyf19 commented on #1069
@jmprieur it's because the UI Ids are different on iOS then Android.

[2019-05-30 21:51] jmprieur commented on #1141
ok. Reopened @jennyf19

[2019-05-30 22:34] valnav commented on #1105
While this uses client credential, you can still query the groups using this [AD Graph Example](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet)

Alternatively, you can use [IDP Pass through token](https://docs.microsoft.com/en-us/azure/active-directory-b2c/idp-pass-through-user-flow)

[2019-05-30 22:37] kdawg1406 commented on #933
@jmprieur does MSAL 3 support Azure AD auth for Azure Functions?  As of MSAL 3.0.8 it does not work.

Is it corrected now?

Thank you.

[2019-05-30 22:45] valnav commented on #1134
Sorry about not jumping on this thread earlier. I looked into the code briefly (will continue to look)... and the best i could glean is that it happens when there is an invalid response from from an external OAuth2 provider.

Can you tell me your scenario - is this a local user or social or something else?

[2019-05-30 22:47] jennyf19 commented on #1134
@valnav it's w/Google as the IdP....could you look up the correlation id? I lost access and have to apply again :/

[2019-05-30 23:09] jennyf19 commented on #1134
@Skirtek Could you enable logs and include those? @valnav  is not finding anything with the correlation id you provided above. Thanks.

[2019-05-30 23:11] valnav commented on #1134
I just saw the date it was 4-25 which is more than a month old and we have logs only for only 30 days.

[2019-05-31 03:19] henrik-me commented on #1069
Updating priority. Should be part of the next release after 4.0.

[2019-05-31 14:25] bgavrilMS commented on #1115
Sounds good, although in 4.1 we will have UI on Linux via System Browser.

[2019-05-31 14:27] bgavrilMS commented on #1176
Waiting for @henrik-me with instructions on this. PR is out, but not merged.

[2019-05-31 15:45] Skirtek commented on #1134
@valnav Thank you for your reply. I'm pretty sure that is social user, very likely that it is Google account.

[2019-05-31 15:45] Skirtek commented on #1134
@valnav "Luckily" it happend again one day ago. Here is full exception from AppCenter with correlation-id. Thanks in advance for your investigation :)

 Correlation ID: 94a8dd77-2c06-46ad-b9f3-860c45ccdbcf
 Timestamp: 2019-05-30 10:54:27Z

[2019-05-31 16:01] ericcox opened #1187 "Removed Account reappears after application restart"
(Not sure if there is a bug in MSAL, a glitch on my Android device, or a bug in my code)

On Android, Is there a manual way of clearing all accounts at the OS level?  I seem to have got an Account that is "stuck" in the cache on my testing device.

I'm using the standard pattern from the samples: I call `PCA.GetAccounts()`, and if there is only one account, I attempt to use that with `PCA.AcquireT

[2019-05-31 16:18] jennyf19 commented on #1187
@ericcox Thanks for all the details, very helpful. One of us will try to repro this. Could you provide [logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#with-msalnet-3x) as well? You can email them if you prefer.
Can you also share how your code is set up, for creating the PCA and the acquire token calls? Thanks.

[2019-05-31 17:06] valnav commented on #1134
@Skirtek thanks for sharing that. Just to make sure i understand.
You are using App Center Auth;
the social login the logs say is from facebook
Can you confirm if you are using the Authorization Grant code flow? if so the code is null
OR
if not, the [CSRF token](https://stackoverflow.com/questions/5207160/what-is-a-csrf-token-what-is-its-importance-and-how-does-it-work) is null

[2019-05-31 17:10] ericcox commented on #1187
@jennyf19 Thanks for the response.

I completely forgot I had debug logging on.  There is voluminous amounts of Android logging going on so I don't have MSAL logs by themselves at the moment, but here are all the lines with "MSAL" in them. (I can add the logging code to isolate the MSAL logs if neccessary - let me know.):

[code]

Here is the code for creating the PCA:

[code]

The code for acquir

[2019-05-31 17:57] jennyf19 commented on #1186
@jmprieur Thank you.

[2019-05-31 18:02] Skirtek commented on #1134
@valnav It is surprising information for me, thank you! Yes, we are using Authorization Grant code flow.

[2019-05-31 18:07] ericcox commented on #1187
I added the logging code and it yielded better results (there were some long wrapped lines that weren't captured in the logs above).

I redacted the Tenant ID simply because I didn't want it publicly enshrined here forever. Happy to PM it if needed.

[code]

[2019-05-31 19:37] jennyf19 commented on #1187
@ericcox thanks. much appreciated. Could you update to MSAL 3.0.8 and see if the issue repros there as well? And then include the logs for 3.0.8. Sorry, didn't notice this earlier when you sent the first set of logs. Thank you!

[2019-05-31 21:46] henrik-me opened #1188 "Add .WithClientAssertion to support client assertions"
ADAL supports ClientAssertions. We will need to support the same in MSAL.
See more:

- [ADAL FAQ](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/ADAL-.NET-Q-&-A#what-overload-of-acquiretoken-should-i-call)
- [ADAL ClientAssertion Description](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Client-credential-flows#clientassertion-in-adalnet)

Note:

[2019-05-31 22:01] henrik-me commented on #1188
@jmprieur

[2019-05-31 23:04] jmprieur commented on #1188
@henrik-me : something like ^^

[2019-05-31 23:06] jennyf19 commented on #1134
@Skirtek do you have access to the MSAL code or are you using it through app center? if so, which platform are you using (android or ios)

[2019-05-31 23:19] ericcox commented on #1187
@jennyf19 That's strange, I was so certain I was on 3.0.8 already...

Anyway - I removed references to the locally-built libraries and referenced 3.0.8 from Nuget again.

The lines marked with "=== MSAL ===" are coming through the `.WithLogging()` mechanism.  I assume the rest are being dumped to debug output directly by the MSAL libraries.

[code]

[2019-05-31 23:20] jennyf19 commented on #1187
@ericcox again...thanks!

[2019-05-31 23:25] ericcox commented on #1187
@jennyf19 Oops, I forgot to capture logs during the `RemoveAsync()` call. Here they are:
[code]

Have a great weekend!

[2019-05-31 23:46] henrik-me opened #1189 "Change json serialization behavior to ignore null"
**Is your feature request related to a problem? Please describe.**
For certain older auth libraries there is an issue with null handling in json thus we should move to not adding fields which values is null. Especially important is the handling of foci_id.

**Describe the solution you'd like**
Ensure the json serializer doesn't write values to the json for which the values are null.

**Describe al

[2019-06-02 19:51] jmprieur opened #1191 "Telemetry classes have empty XML comments"
**Which Version of MSAL are you using ?**
MSAL 4.0 rc

**Repro**
Look at the XML comments of the telemetry classes

**Expected behavior**
There is a description of the comment, possibly an aka.ms link to an article about telemetry

**Actual behavior**
They are empty

[2019-06-02 20:04] jmprieur opened #1192 "Confidential client applications should have easier ways of setting certificates creds"
**Is your feature request related to a problem? Please describe.**
Confidential client appplication builders have a .WithCertificate(X509Certificate2) method, which is good as we are not blocked. However MSAL could provide comfort methods (some on all OSes, some only on Windows)

**Describe the solution you'd like**
There should be methods to provide a certificate from:
-  its Base64 encoded strin

[2019-06-03 07:18] rfurmaniak commented on #1185
Having the same issue, did a rollback to 2.7.1.0, now the error is:
`Error on deserializing read-only members in the class: No set method for property 'ErrorDescription' in type 'Microsoft.Identity.Client.OAuth2.OAuth2ResponseBase'.`

[2019-06-03 10:31] bgavrilMS opened #1193 "GetAuthorizationRequestUrl ExecuteAsync with no cancellation token has bad signature"
**Which Version of MSAL are you using ?**
3.0.8

**Platform**
all Confidential CLient

**What authentication flow has the issue?**
GetAuthorizationRequestUrl

Other? - please describe;

**Repro**

[code]

**Expected behavior**
ExecuteAsync on this object should return an Uri on both overloads (ExecuteAsync() and ExecuteAsync(CancellationToken)

**Actual behavior**
ExecuteAsync() returns an Authent

[2019-06-03 10:34] bgavrilMS commented on #1193
@jmprieur @henrik-me - fix is trivial, propose we take it for 4.0.0 or 4.0.1

[2019-06-03 12:51] jelledruyts opened #1196 "Confidential client specifying Instance in ConfidentialClientApplicationOptions fails to retrieve OIDC metadata and acquire tokens"
**Which Version of MSAL are you using ?**
MSAL.NET 3.0.8

**Platform**
netcore22

**What authentication flow has the issue?**
* Web App
    * [X] Authorization code
    * [X] OBO
* Web API
    * [X] OBO

**Is this a new or existing app?**
This is a new app

**Repro**

[code]

**Expected behavior**
Get a token result.

**Actual behavior**
Error: "AADSTS90002: Tenant 'v2.0' not found. This may happe

[2019-06-03 13:00] jmprieur commented on #1193
Go ahead. This is a breaking change (even if the previous one was useless)
BTW, this issue is a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1184 ?

[2019-06-03 13:00] jmprieur commented on #1184
@bgavrilMS fyi

[2019-06-03 13:59] bgavrilMS commented on #1193
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1184

[2019-06-03 13:59] #1193 closed

[2019-06-03 15:08] bgavrilMS commented on #1184
Fix will be available in 4.0 release

[2019-06-03 16:55] cdacle commented on #1185
Yeah, it'll complain about whichever member field is declared last in the class. So in your case of 2.7.1.0, I expect ErrorDescription is that last member.

As an experiment, I copied these same classes into my own Unity scripts, and tried deserializing the same json response and I don't repro the deserialization error.

[2019-06-03 17:28] myokeeh commented on #1173
@jmprieur As of today, this seems resolved, but given severity, would like to understand what happened, and if there's anything I can do in my app to handle it gracefully.

[2019-06-03 22:35] henrik-me opened #1199 "Fundamentals: Ensure we have standard/cross library cache tests in the repo"
**Expected behavior**
All tests described for basic cache compat should be part of the list of unit tests.
https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview?path=%2FUnifiedSchema%2Ftestcases&version=GBdev

All tests should be green, and the test should be clearly marked as "UnifiedSchema_Validation", ensuring we can properly report on the state of these tests.

[2019-06-03 23:07] jennyf19 commented on #1141
@arek-avanade B2C rolled out their fix for this. You should be receiving an IdToken now w/the ROPC flow. I verified it works on my end, but you have time to verify and get back to us that you see the same, that would be great. Thanks.

cc: @jmprieur @henrik-me

[2019-06-03 23:09] jennyf19 commented on #926
@tmarkovski @GammaFour @mrochon
B2C rolled out their fix for this. You should be receiving an IdToken now w/the ROPC flow. I verified it works on my end, but you have time to verify and get back to us that you see the same, that would be great. Thanks.

cc: @jmprieur @henrik-me

[2019-06-04 00:02] jennyf19 commented on #1191
fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:02] #1191 closed

[2019-06-04 00:02] jennyf19 commented on #1184
@Rick-Kirkham Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:03] #1184 closed

[2019-06-04 00:03] jennyf19 commented on #1149
Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:03] #1149 closed

[2019-06-04 00:03] jennyf19 commented on #1147
Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:03] #1147 closed

[2019-06-04 00:03] jennyf19 commented on #1146
Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:03] #1146 closed

[2019-06-04 00:03] jennyf19 commented on #1139
Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:03] #1139 closed

[2019-06-04 00:03] jennyf19 commented on #1137
@arek-avanade  Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:03] #1137 closed

[2019-06-04 00:05] jennyf19 commented on #891
@jmprieur is this needing a fix or documentation? moving to 4.1 milestone, but feel free to close or modify as needed.

[2019-06-04 00:06] jennyf19 commented on #481
Fixed in [MSAL 4.0.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0)

[2019-06-04 00:34] Rick-Kirkham commented on #1184
@jennyf19 Has 4.0 officially GAed or is it still preview/beta?

[2019-06-04 00:47] jennyf19 commented on #1184
@Rick-Kirkham We actually GA'ed w/3.0.8, so 4.0 is also GA.

[2019-06-04 01:02] Rick-Kirkham commented on #1184
??? You GAed two versions at once? Why? I can't make sense of that.

[2019-06-04 01:04] jennyf19 commented on #1184
@Rick-Kirkham we GA'ed w/3.0.8 and 4.0 is not in preview or beta. We [GA'ed at the beginning of May](https://developer.microsoft.com/en-us/identity/blogs/msal-net-is-now-generally-available/).

[2019-06-04 06:36] Rick-Kirkham commented on #1184
@jennyf19 Just last week I installed the NuGet package for MSAL in a Visual Studio project. The most recent version available was 3.0.8. There was no 4.0.

[2019-06-04 06:45] rfurmaniak commented on #1185
Found solution when working on IL2CPP backend - it is connected to IL2CPP stripping the assemblies.
Put "link.xml" file in your Assets folder, it should contain:
`<linker>
<assembly fullname="Microsoft.Identity.Client" preserve="all"/>
</linker>`
Worked for my project.

[2019-06-04 06:47] jmprieur commented on #1185
@cdacle, @rfurmaniak  : does it also work for you?

[2019-06-04 07:11] jmprieur commented on #891
@jennyf19 ideally we'd make a fix.

[2019-06-04 08:10] heymega commented on #1029
@jmprieur - I can understand why this has been done for Microsoft APIs as they exist outside my domain (different AUD) but it seems rather odd that I need to do this when protecting your own APIs inside my domain.

I would not expect to request an Access Token per Resource API (AKA Application in Azure AD). In fact I would to share that access token to across resource APIs in my domain.

As far as

[2019-06-04 08:15] jmprieur commented on #1029
You can always decide how you want to validate the access token in your Web APIs, @heymega . In particular if you really want to use the same token for all your resources, you can validate the audience of the token accordinly. This would not be done with MSAL.NET though but with the middleware. See [token validation](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dot

[2019-06-04 08:41] heymega commented on #1029
Or are you suggesting having a single resource in Azure AD which contains all the scopes across my services?

Because getting a single Access Token containing scopes across resources doesn't seem supported by Azure AD.

[2019-06-04 08:47] jmprieur commented on #1029
yes, you can also use the same client ID and different scopes if you wish
Or have several client ids, but have a special logic to accept the audience of the tokens in your web APIs

[2019-06-04 08:52] dmcweeney commented on #481
Thank you...

[2019-06-04 09:29] bgavrilMS commented on #1115
This is documented here (feel free to review) https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Using-the-System-Browser

[2019-06-04 09:29] #1115 closed

[2019-06-04 09:29] bgavrilMS commented on #1115
Also https://aka.ms/msal-net-os-browser

[2019-06-04 16:31] jmprieur commented on #1173
@myokeeh It was a bug on our side (service), this error code should never have been surfaced in this scenario and there is nothing you could do in you app to fix the issue on you end.

[2019-06-04 16:31] #1173 closed

[2019-06-04 18:10] Rick-Kirkham commented on #1184
@jmprieur
I see. Thanks. When will 4.0 be available in NuGet?

[2019-06-04 18:12] jennyf19 commented on #1184
@Rick-Kirkham It's available now [msal 4.0.0](https://www.nuget.org/packages/Microsoft.Identity.Client/4.0.0)

[2019-06-04 18:19] Rick-Kirkham commented on #1184
Got it. Thanks.

[2019-06-04 21:44] Skirtek commented on #1134
@jennyf19 This exception message came from our AppCenter crashes monitoring. We are using both platforms and exception appeard for users on both platforms

[2019-06-04 22:02] William-Au-Yeung opened #1201 ""Key not valid for use in specified state" - happens in .Net Framework 4.7.2 only, not on .Net Core 2.2"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client Version=3.0.8

**Platform**

my library in .Net Core
and a web job console in .Net Framework 4.7.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    *

[2019-06-04 22:58] jennyf19 commented on #1134
@Skirtek Did you use the MSAL auth component that comes w/AppCenter or did you include MSAL separately? Asking because AppCenter uses our native Android and Obj-C library, and want to find the right place to get your question answered, unless you are including MSAL separately and using the .NET library. If using MSAL.NET, can you enable logging and send us the results from a failed test? thanks.

[2019-06-05 05:08] tipa commented on #866
Can this please be fixed? This issue grows my app size to 100MB while it just needs to be 50MB with LinkAll..
@akamud Did you build the lib yourself to use the commented out line?

[2019-06-05 06:29] jmprieur commented on #866
@tipa : do you have suggestions on how we can fix this?  My understanding is this is external? (Xamarin)

[2019-06-05 06:32] tipa commented on #866
@jmprieur: @akamud pointed out that the alternative at line 37 seems to work, so why not use that line?

[2019-06-05 07:01] jmprieur commented on #866
@bgavrilMS : could you please have a look?

[2019-06-05 08:30] Skirtek commented on #1134
@jennyf19 Sorry for missunderstanding! Yes we are using MSAL library from NuGet. We have task to enable logging from MSAL but it do not depends on me when we will do it :(

[2019-06-05 16:14] jennyf19 commented on #1134
@Skirtek Awesome, thanks for clarifying. Having MSAL lots would be helpful, but do you have AppCenter logs that can be shared from a failed case? You can email them too.

[2019-06-06 17:52] msminski opened #1206 "Redis caching sample request"
### Documentation Related To Component:

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue

Hi:
My team is currently waiting for the release of MSAL v4.1 that would contain the implementation of ClientAssertion class(we are currently on v3.x)
Knowing tha

[2019-06-06 17:53] msminski commented on #1206
For some reason all the contents I've posted got wiped out. Will edit the issue body rn

[2019-06-06 18:23] jmprieur commented on #1206
@msminski : do you want to contribute one?

[2019-06-07 07:00] WilliamWatterson86 opened #1209 "android.runtime.JavaProxyThrowable crash"
**Which Version of MSAL are you using ?**
2.7.1

**Platform**
<Xamarin Android>

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

Other? - please describe;
App using the webview login (not launching browser).

**Is this a new or existing app?**
a. The app is

[2019-06-07 12:32] luismanez commented on #1206
Hi @jmprieur , have you guys considered to use the IDistributedCache interface, so that later you can inject the specific provider? With MSAL 2.0 I implemented the TokenCache using the IDistributedCache, and then in asp.net yu can use the Extension "AddDistributedSqlServerCache" or "AddStackExchangeRedisCache". I took the approach from here>
https://docs.microsoft.com/en-us/azure/architecture/mult

[2019-06-07 17:16] jennyf19 commented on #1141
@arek-avanade Closing as the fix has been rolled out.

[2019-06-07 17:16] #1141 closed

[2019-06-10 11:39] svrooij commented on #891
@jmprieur is there something I can do to resolve this issue so it doesn’t get moved every time a new version comes around.
Do you have a link to the git version of the documentation so I can improve it.

[2019-06-10 12:50] jmprieur commented on #1206
@luismanez : i like the idea. I'll have a look at it.
Meanwhile, I understand you are busy, but if you find time, feel free to propose a PR in https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 ?

[2019-06-10 14:09] jmprieur commented on #891
@svrooij : I've sent a PR to update this page: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-app-configuration
It's in the pipe. I could take a few hours to come-up publicly

Note that I'd still want to fix the issue in MSAL.NET @henrik-me @jennyf19

[2019-06-10 23:26] msminski opened #1211 "Enhancement: ADAL to MSAL transition: setting Correlation Id."
**Is your feature request related to a problem? Please describe.**
With ADAL, our current implementation of WebAuth library assigns our own correlation Id value to the AuthenticationContext instance before calling to AAD. This way, we could assure that one correlation Id is used throughout the flow. In our attempt to transition to MSAL, we've found out that ConfidentialClientApplication(or other r

[2019-06-11 02:49] henrik-me commented on #1148
Design complete. The details have been updated. Marking this for the next update we have planned for MSAL.

[2019-06-11 09:44] bgavrilMS commented on #866
I can't really repro this bug, at least not on the simulator. I have however removed those reflection calls, so hopefully this will work - please give it a go:

https://www.myget.org/feed/aad-clients-nightly/package/nuget/Microsoft.Identity.Client/4.0.1-internal16102master

[2019-06-11 11:34] bgavrilMS commented on #1211
AFAIK a correlation ID is generated for each request and:

- MSAL will log it
- MSAL will send it to AAD, and if AAD encounters an error it will also display the correlation ID

This should be sufficient to track problems across both MSAL (client side) and the Identity Provider (AAD).

@jmprieur to confirm

[2019-06-11 13:13] bgavrilMS commented on #1188
Shouldn't this go through an API review?
I don't understand what the constructor with certificate and claims is supposed to do and how it is different than the .WithCertificate option.

[2019-06-11 13:31] jmprieur commented on #1211
@msminski : can you describe your scenarios a bit more: do you need to trace things beyond authentication?
you mention that you'd like the CorrelationId to be on ConfidentialClientApplication, do you really mean for the duration of the application? or would you need more something like .WithExternalCorrelationId(guid) on each AcquireTokenXX request?

[2019-06-11 17:45] msminski commented on #1211
@jmprieur: we definitely meant to ask for the latter, something like .WithExternalCorrelationId(guid) on each AcquireTokenXX request. The purpose of this is to provide our partners an option to trace their scenarios that involve authentication with single correlation Id. Previously we achieved it by setting CorrealtionId in AuthenticationContext instance, but now that I think about how Confidentia

[2019-06-11 17:47] jmprieur commented on #1211
+ @MarkZuber  and @henrik-me  as maybe the right answer to the scenario is not the correlation id, but the telemetry API?

[2019-06-11 19:33] trwalke commented on #1188
This is different from the .WithCertificate option because we allow the user to pass in their own claims to be signed by the certificate rather than signing a predefined set of claims for the authentication call.

I dont think this should go through the api review as we are simply bringing MSAL to parity with ADAL. However, it may be warranted since we are allowing the user to pass in the claims(D

[2019-06-12 00:58] akamud commented on #866
I think this happened only in certain versions of Mono, unfortunately I don't have the repro environment anymore.

[2019-06-12 09:04] jmprieur commented on #1188
@trwalke : I think we should got through API review. the shape of the API might be different from ADAL. I like @bgavrilMS's proposal actually. What about?

[code]

With custom signed assertion:

[code]

[2019-06-12 17:18] skanvk15 opened #1213 "AcquireTokenInteractive for AD B2C on .NET Core 3.0 WPF desktop client does not work"
**Which Version of MSAL are you using ?**
MSAL 4.0.0

**Platform**
.NET Core 3.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
This is a new app

[2019-06-12 17:22] jmprieur commented on #1213
@skanvk15 is it possible to add `http://localhost:*` as redirect URIs in the B2C application?
@valnav can you please answer?

[2019-06-12 17:30] jmprieur commented on #1213
@skanvk15 : @bgavrilMS just told me that he has been engaging with the B2C team, and they don't support it today;
Would you know of .NET Core 3.0 comes with a Web browser control?

[2019-06-12 17:37] skanvk15 commented on #1213
@jmprieur using http://localhost:* causes a parsing exception "Invalid RedirectURI was received (http://localhost:*)  Not parseable into System.Uri class."
For the second question, yes, I am able to add a WebBrowser control in my WPF .NET Core 3.0 app. Can this be used to complete the interactive login? Are there any examples?

[2019-06-12 18:19] jmprieur commented on #1213
@bgavrilMS has a sample: https://github.com/bgavrilMS/msal-interactive-netcore
it would probably need to be adapted, but that could help you.

[2019-06-12 22:23] skanvk15 commented on #1213
I was able to use the code from the sample, with few minor changes, where it is now working up to the point of launching the browser and getting user name and password. For this to work I had to register the app on the AD B2C tenant with a custom redirect URI (e.g. myappname://auth) which I then use in the creation of PublicClientApplication:

[code]
The problem now is how to setup the TCP listene

[2019-06-12 22:41] saketkataruka opened #1214 "IPublicClientApplication.AcquireTokenInteractive API throws NullReferenceException"
**Which Version of MSAL are you using ?**

v4 of Microsoft.Identity.Client

**Platform**
.net 4.7

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive

Other? - please describe;

**Is this a new or existing app?**
New app

**Repro**

// create public client using WithAdfsAuthority
IPublicClientApplication _app = PublicClientApplicationBuilder.Create(ClientId)

[2019-06-13 16:55] henrik-me commented on #1211
@jmprieur : I believe it would be ok to allow developers to specify a correlation id. I don't think the answer here is in the telemetry.

[2019-06-13 18:03] jennyf19 commented on #1214
@saketkataruka confirms the fix.

[2019-06-14 00:44] jmprieur commented on #1211
This makes sense @henrik-me.
The only question is: at the app building time? token aquisition time ? or both?

[2019-06-14 09:30] jmprieur commented on #1211
Proposed spec

### Scenario 1: developer wants to access the correlation ID (which is generated by MSAL.NET)

In that scenario, the developer does not want to set the correlation ID, but just get it from MSAL.NET. This is already possible in the case of service errors (through the  `MsalServiceException.CorrelationId` property), but not in the case of successful transactions. The proposal is to ad

[2019-06-14 09:54] bgavrilMS commented on #1213
@skanvk15 - indeed, B2C does not allow this redirect uri to be used. We are discussing with them to remove the limitation.

Until then unfortunately, I do not see any other workarounds except:

a. Do not use .Net Core, use .Net Classic
b. Implement your own ICustomWebUI using the UI controls available in .Net Core (@jmprieur - we might want to add this to the backlog, we should provide an implemen

[2019-06-14 11:01] jmprieur commented on #1189
@MarkZuber : I believe this is fixed?

[2019-06-14 11:04] jmprieur commented on #1196
@MarkZuber. FYI

[2019-06-14 12:37] nkumars commented on #550
@jmprieur, is there any way to get access token from different applications without prompting the user login again in B2C?

[2019-06-14 12:44] ak-ambi commented on #550
You can check up my [previous comment](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/550#issuecomment-388325315). I proposed workaround that I was using at a time. It works fine on Windows, but there was screen flickering visible on iOS and Android. Haven't tried it on newer MSAL versions, though.

[2019-06-14 14:59] MarkZuber commented on #1189
Yes.  It’s fixed.

________________________________
From: Jean-Marc Prieur <notifications@github.com>
Sent: Friday, June 14, 2019 4:01:16 AM
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: Mark Zuber; Mention
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] Change json serialization behavior to ignore null (#1189)

@MarkZuber<https://nam06.safelinks.protection.outlook

[2019-06-14 16:20] jennyf19 commented on #550
@ak-ambi @nkumars @pasn You can use `Prompt.NoPrompt` which will not send any prompt behavior to the server and the server will determine which UI to show based on the previous sessions, if any. You should not see any flickering or UI flashes.

[2019-06-14 17:00] jennyf19 commented on #1209
@WilliamWatterson86 Can you update to [MSAL 4.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.0.0) and send full MSAL logs for a crash?

[2019-06-14 17:05] jennyf19 commented on #1134
@Skirtek any update on this?

[2019-06-14 17:07] jennyf19 commented on #1145
@soooraj I tried w/the latest version of MSAL (4.0) w/the sample and did not repro what you saw. Would you mind trying it out again? The sample is updated to 4.0 currently.

[2019-06-14 17:53] WilliamWatterson86 commented on #1209
Thanks @jennyf19 yes I am in the middle of updating to MSAL 4 so maybe it will resolve the issue. If I see it again I will update this one. Closing this one for now.

[2019-06-14 17:53] #1209 closed

[2019-06-14 18:25] jennyf19 commented on #1209
@WilliamWatterson86 sounds good...keep us posted if you run into any issues.

[2019-06-16 12:03] tipa commented on #866
Seems to be working with 4.0.1 - thanks for the fix!

[2019-06-16 15:14] zulander1 opened #1218 "Multiple uri for WithRedirectUri"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.00 ?

**Platform**
netcore

**What authentication flow has the issue?**
* Web App
    * [x ] Authorization code

We have multiple domain for the same site. (using multiple server, with a dns load balancer)

Example:

abc.site.com
abc1.site.com
abc2.site.com
The problem is that when the site is initialized with a domain, it will

[2019-06-17 06:41] nkumars commented on #550
@jennyf19, your solution is not working to me. I followed exactly as you said.

Let me explain you what exactly I do in my application:

1. I sign-in using below code
[code]
NOTE: DefaultApiScopes are those I always want to authorize the user
2. I want to call an Api hosted in different domain and the code to get the access token is as below:
[code]
Here is accessToken returns ```null```.

[2019-06-17 10:32] tranb3r opened #1219 "On Android, Embedded WebView doesn't get resized or panned when soft keyboard is overlayed"
**Which Version of MSAL are you using ?**
MSAL 4.0.0

**Platform**
Xamarin Forms on Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
This i

[2019-06-17 12:06] arek-avanade commented on #1141
@jennyf19 Thanks! I can confirm I'm able to get ID Token with ROPC. I haven't verified MSAL library behavior itself, since we switched to manual REST requests in the meantime, but I assume this would work now.

[2019-06-17 16:40] jennyf19 commented on #1141
@arek-avanade Thanks for the confirmation!

[2019-06-17 17:15] jennyf19 commented on #550
@nkumars Are `authResult` and `result` related? Which authority are you using for `result`? You may not be providing the right scopes, so I would check that first.

Also, you might want to try removing `.WithAccount(App.Account)` and `.WithAuthority(App.Authority)` and even `.WithPrompt()` to see if that makes any difference. `.WithAccount` is optional and provides a hint to the STS about which us

[2019-06-18 05:42] skanvk15 commented on #1213
@bgavrilMS thanks for the update. Option (a) will not work for my solution, I have many other dependencies with .NET Core. Option (b) seems like the only choice for me. If an implementation in an extension lib can be provided that would be great.

[2019-06-18 06:15] nkumars commented on #550
@jennyf19, in both the method calls, I'm using the below Authority;
[code]
I had even tried using a different authority _(below)_ with no luck;
[code]
I then tried to follow you, removing `.WithAccount(App.Account)` and `.WithAuthority(App.Authority)`, I received the below error.

I then later tried removing `.WithPrompt()`, also by giving `.WithPrompt(Prompt.NoPrompt)`. Nothing seem to be working

[2019-06-18 14:18] mjcheetham opened #1222 "`TokenCache.SerializeAdalV3` returns `null` even with a populated in-memory cache"
**Which Version of MSAL are you using ?**
MSAL 4.0.0

**Platform**
.NET Framework 4.6.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
The app is in pre-production, we want to move from ADAL to MSAL, but this issue would prevent us from doing so.

**Repro**

[code]

**Expected behavior**
Both the ADAL and MSAL bytes are not

[2019-06-18 15:04] bgavrilMS commented on #1222
This is a Family client ID and so the RT that is retrieved is a family RT. MSAL will not serialize it in the ADALv3 format, because ADAL does not know about FOCI (Family of client ID).

I can add a small fix for MSAL to write an normal RT back to the ADAL cache though, but not sure if it makes any difference.

[2019-06-18 15:40] mjcheetham commented on #1222
Correct. This is a 1P application that supports the 'family'.

This would be a useful fix for 3P applications which don't have the 'family' concept, and also for 1P applications that share client IDs.

[2019-06-18 16:13] AlexandreArpin opened #1223 "Error in example of Acquire Token Interactively in Wiki"
### Documentation Related To Component:
Acquiring Tokens Interactively

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [X] error(s) in example
- [ ] needs example

### Description Of The Issue
:wave:

There's currently an error in the first example

[code]

Should be

[code]

https://github.com/AzureAD/microsoft-authenticat

[2019-06-18 17:20] jennyf19 commented on #550
@nkumars how are you creating the public client? You will need to use

[code]
Which will look like this:
[code]

and this for the Acquire Token call:
[code]

Another idea is to try this [B2C sample](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native)? You can just switch out all the [values here](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/Use

[2019-06-18 17:23] jennyf19 commented on #1223
@AlexandreArpin fixed. great catch. thanks.

[2019-06-18 17:23] #1223 closed

[2019-06-18 21:22] bgavrilMS commented on #866
Great, thx for confirming @tipa !

[2019-06-18 21:22] #866 closed

[2019-06-18 22:01] MarkZuber commented on #1196
This should also work if you have Instance = "https://login.microsoftonline.com" (no trailing space).  I have a repro of this and will fix to handle the double-slash concatenation which is causing the problem.

[2019-06-18 22:06] MarkZuber commented on #1176
effectively a dup of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1189 which is fixed.

[2019-06-18 22:08] MarkZuber commented on #1097
no lab support for creating multiple accounts, provided API doesn't work (401 unauthorized).  infrastructure for the individual tests is in place to test multiple accounts.

[2019-06-18 22:23] MarkZuber commented on #1218
You're OIDC configuration within asp.net core is requesting the authorization code using https://abc1.site.com and then you're trying to redeem that authorization code with MSAL providing a redirect uri of https://abc.site.com.  This is not allowed.

[2019-06-19 01:40] zulander1 commented on #1218
@MarkZuber: So, if the configuration at startup is https://abc1.site.com/ (which means that the uri is cached). Then it means that i cannot change the URI dynamically.   Can you think of a workaround or a alternative way of doing it ?

My senario :

DNS load balancer: https://abc.site.com (x.x.x.100, x.x.x.101,x.x.x.103)

Server1 (ip: x.x.x.100) - listening to
       ---  https://abc.site.com/

[2019-06-19 02:40] MarkZuber commented on #1218
Are abc1, abc2, and abc3 actual customer-visible sites (like foo.microsoft.com and bar.microsoft.com) that have different meaning?  Or are these just aliases for the individual boxes behind the load balancer and abc is the only site that matters (e.g. www.microsoft.com)?

If it's the former, then I'm not sure why you have a load balancer for this configuration since you're effectively exposing thr

[2019-06-19 02:58] zulander1 commented on #1218
The abc1, abc2, and abc3 as not customer-visible sites, only abc is.  Currently everything works.. However, sometimes we need to access  individually (Server3 (https://abc3.site.com/)) for x reason.. this is not working...

[2019-06-19 04:52] jennyf19 commented on #1219
@tranb3r Thanks for reporting this and for the screen shots and detailed repro information. Will update here when we have more information.

[2019-06-19 07:12] paule96 commented on #728
Thx for your feedback :) I will stay tuned.

[2019-06-19 16:02] MarkZuber commented on #1218
This is by design since you can't use a different redirect for auth code versus retrieval.  "Fixing" this would break security validations.  Glad to hear the front line case is working as it should for abc.site.com.

[2019-06-19 16:02] #1218 closed

[2019-06-19 23:30] jennyf19 commented on #1145
@soooraj any update on this? I'm not able to repro.

[2019-06-20 03:17] henrik-me commented on #1176
Yup, it's a dupe as 1189 is more generic. Should validate this scenario though with the fix for #1189

[2019-06-20 17:53] rkshnair opened #1225 "Azure AD B2C error trying to sign in / change Password"
I am using Microsoft.Idendity.Client(V4.0.0) library along with Xamarin for login to Azure AD B2C account.

Previously I was using external browse(chrome) for opening the login window. And yesterday I changed the code like given below.

[code]

I have changed the behavior to open the embedded browser for login by adding the `.WithUseEmbeddedWebView(true)` configuration.

After changing this, I am

[2019-06-20 17:59] jennyf19 commented on #1225
@rkshnair Are you using login.microsoftonline.com or b2clogin.com?

[2019-06-20 18:28] rkshnair commented on #1225
I am  using **b2clogin.com** something like this,

https://xxxxb2c.b2clogin.com/tfp/xxxxb2c.onmicrosoft.com/

[2019-06-20 18:32] jennyf19 commented on #1225
@rkshnair you might have cookies accumulating from multiple log-ins (is this for a test/dev account or from a customer?) [b2clogin.com](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) has the benefit of "Space consumed in the cookie header by Microsoft services is reduced", because when using login.microsoftonline.com this was a bigger issue with cookies accumulating.

do you

[2019-06-20 18:35] rkshnair commented on #1225
It is a QA account from customer. I will try to reproduce this again and will update you the details. By the way, from where I can take the correlation id. I haven't tried this before.

[2019-06-20 18:45] jennyf19 commented on #1225
@rkshnair The correlation id will be in the [logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#with-msalnet-3x). you can email them if you rather (jeferrie@microsoft.com)

MSAL.NET does not handle the cookies, so you would have to implement something, but first, let's look at the logs.

also, do you know which policy is being used when this error happens? If

[2019-06-21 00:53] jennyf19 commented on #1069
Local accounts are not working due to bug on Xamarin.UITest w/iOS, as elements are placed on the same text field.

[2019-06-21 02:30] jennyf19 commented on #1026
We have a lab account, needs testing.

[2019-06-21 14:07] rkshnair commented on #1225
Sadly.. Right now I am not getting the error. I will try to send the details once I reproduce the issue.

[2019-06-21 18:53] jennyf19 commented on #1225
@rkshnair that's okay...when it does, just ping me here or send an email with the logs. thx.

[2019-06-21 22:01] zulander1 commented on #1218
Can we override the check?

[2019-06-24 00:58] jennyf19 commented on #1166
Issue resolved. B2C configuration issues were resolved. not an MSAL.NET issue.

[2019-06-24 00:58] #1166 closed

[2019-06-24 11:09] dmcweeney opened #1227 "CCA.AquireTokenSilent and cache access?"
**Which Version of MSAL are you using ?**
4.0.0

**Platform**
Asp.Net Core 2.2

**What authentication flow has the issue?**
* Web App
    * [ ] Authorization code
    * [x ] OBO

**Is this a new or existing app?**
The app is in production, and I have upgraded to a new version of MSAL

**Expected behavior**
I would have expected the cache to get loaded just once for the following sequence as descri

[2019-06-24 12:09] roederja2 opened #1228 "Why does the Windows integrated authentication flow require federation?"
The seamless sign on feature (seamless SSO) does not require federation and essentially achieves the same thing. So why does the Integrated Windows authentication flow require federation when seamless SSO does not?

See: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Integrated-Windows-Authentication

Update: In ADAL this seems to have worked without federation in the

[2019-06-24 16:33] bgavrilMS opened #1230 "AcquireTokenSilent access the cache too many times"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4

**Platform**
all

Repro -
AcquireTokenSilent causes 4 accesses to the cache should be 3 or even 2 in case a valid AT is not found.

- load all access tokens from t

[2019-06-24 16:33] bgavrilMS commented on #1227
Hi Donal,

I can explain most of the token cache accesses, I think we can (and should) optimize one of them.

ClientCredentialRequest.ExecuteAsync - 2 cache accesses

- this looks in the AppTokenCache. You don't need to call AcquireTokenSilent in this flow!
- so it first tries to see if an access token already exists in the cache => cache access
- if not, it makes a network call to AAD, AAD sends

[2019-06-25 11:26] dmcweeney commented on #1227
@bgavrilMS we are using Azure Redis for token cache storage. My concern is why would the cache be accessed 3 times for the same set of data. OR am I doing something really silly to cause this or did I miss a piece of documentation or guidance! It also seems crazy that there are 3 redis cache reads for every graph api call.

What also concerned me is that **after** the MSAL log line:

`(False) ***

[2019-06-25 12:48] bgavrilMS commented on #1227
I agree Donal, that is another case where a token cache access can be avoided. I updated the bug to reflect this.

If a valid AT is found, our current logic is to then load Id Tokens from the cache (second access)

Generally MSAL so far has a strategy of making a cache call for each piece of information it requires. This is like making separate SELECT * calls to a database, instead of sending a bi

[2019-06-25 13:05] dmcweeney commented on #1227
@bgavrilMS glad I asked the question... looking forward to the bug fix.

[2019-06-25 13:05] #1227 closed

[2019-06-26 11:12] jmprieur commented on #1148
@henrik-me : I've added a paragraph proposing a .NET implementation.
Feel free to assign for implementation if you are happy.

[2019-06-26 11:15] jmprieur commented on #891
@jennyf19 : the proposed fix is described in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/891#issuecomment-465524589

before setting the "aud" claim, we should replace the "{tenantid}" string by "common".

[2019-06-26 12:32] luisabreu opened #1233 "Xamarin Forms 4 + MSAL.Net: build error when referencing net standard assembly"
Version: Latest stable
Plaform: Xamarin Forms project (net standard + android project)

Problem: error building solution: error XA2002: Can not resolve reference: `Microsoft.Identity.Client`, referenced by 'net standard assembly'

Reproducing the problem:

1. Open VS 2019
2. Create a new project
3. Choose Mobile App (Xamarin.Forms), empty template
4. Update the Xamarin Forms nuget package to the l

[2019-06-26 12:51] bgavrilMS commented on #1233
Are you using VS 2017 or VS 2019?

[2019-06-26 13:22] bgavrilMS commented on #1233
I replied on SO as well -  can't repro the bug using a vanilla project as you describe. In your SO question, there's another project that you use, and it seems the error is comming from there.

[2019-06-26 13:23] bgavrilMS commented on #1222
No 3rd party user impact, non-supported scenario for 1st party (FOCI is not supported by ADAL). Closing.

[2019-06-26 13:23] #1222 closed

[2019-06-26 13:50] luisabreu commented on #1233
Hello.

I've added a comment to the stackoverflow entry. I'm also putting that info here:

1. I'm using VS 2019.
2. I've added references to the MSAL.Net Nuget package to all the projects (ie, I've added the reference to the net standard project that has the xaml pages, to the android and to the ios projects). The 1st csproj that is listed on the stackoverflow post is the net standard project that

[2019-06-26 13:53] bgavrilMS commented on #1233
Can you build and run the sample? It is an older xforms template that it uses, but the project dependencies will be the same.

[2019-06-26 13:53] jmprieur commented on #1233
@luisabreu did you check, in the xamarin .csproj, that the HintPath is right? I've sometimes seen NuGet to mess-up the HintPath for Xamarin projects.

[2019-06-26 14:24] luisabreu commented on #1233
Yes, I can build the sample and it does run. However, it's still using Xamarin.Forms 2.5 (instead of the latest 4.0)...Btw, just updating the Xamarin.Forms package in that demo solution is enough for breaking it (with a different error, though)

I see no hint path in either csproj file created from VS 2019 (unlike the csproj found on the sample, which does have a hint for the Microsoft.identity.Cl

[2019-06-26 14:28] MatLeger opened #1234 "Add access to refresh_token in Microsoft.Identity.Client.AuthenticationResult"
**Is your feature request related to a problem? Please describe.**
I need to use IPublicClientApplication.AcquireTokenWithDeviceCode(...) to handle authentication on some UI limited devices. These devices are running legacy code which requires ***both*** the **access_token** and the **refresh_token**. I can get the AuthenticationResult.AccessToken but there is no AuthenticationResult.RefreshToken.

[2019-06-26 14:34] jmprieur commented on #1234
@MatLeger
MSAL.NET (and MSALs in general) don't expose the refresh tokens as they handle refreshing tokens automatically when you call AcquireTokenSilent. Refreshs may become obsolete when you use them, and therefore the code using them could easily break.

Can we understand a bit better what your legacy code with Token does? and why it needs the refresh tokens? would passing an IPublicClientAppli

[2019-06-26 15:15] MatLeger commented on #1234
In this case the user is authorizing our application to access their OneDrive account at a later date. The back end system that does this stores both of the tokens and when needed handles the refresh on its own. All I'm doing with MSAL.NET is adding a new (better) way for the user to authenticate on the client if the back end system doesn't already have their tokens. After the DeviceCodeFlow is co

[2019-06-26 15:45] jmprieur commented on #1234
Yes, you are right (I did not elaborate on that, but this is true)

Did you consider have the back end perform the On-behalf-of flow (that is from the token it gets from your client, gets its own Access Token/Refresh Token): See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-overview

Of would the backend have the same client Id as your client? In any cas

[2019-06-26 15:59] bgavrilMS commented on #1148
I started implementing this but I can't figure out how to E2E test this:

1. Acquire a token interactively
2. Manually delete the AT or force it to look expired
3. AcquireTokenSilent, which will trigger a RereshToken flow

What could I do to get the errors described above? I tried resetting the user's password and got a "bad_token" response back.

[2019-06-26 20:48] MatLeger commented on #1234
The same ClientId is used for IPublicClientApplication and on the backend. The backend code uses the Microsoft.OneDriveSDK nuget package to create an instance of a Microsoft.OneDrive.Sdk.IOneDriveClient with the refresh token using the Microsoft.OneDrive.Sdk.BusinessClientExtensions class:

[code]

I'm not sure how to create an authenticated IOneDriveClient with just the access token acquired by I

[2019-06-27 02:09] MatLeger commented on #1234
I created a small test app that pulled in the IPublicClientApplication code and the Microsoft.OneDrive.Sdk that the legacy code uses and tried to get them to work together in the same method. Unfortunately I'm not seeing how to do it without the refresh token.

[code]
And here's the DeviceCodeFlow class that I implemented to wrap IPublicClientApplication
[code]

[2019-06-27 02:15] jennyf19 commented on #891
@svrooij @jmprieur
The bug has been fixed in this [branch](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/jennyf/clientCertFix), if you want to try it out. It was interesting that the behavior w/the ClientSecret and ClientCertificate was different.
If you're interested, here is why:
In `AuthorityEndpointResolutionManager`, we are just checking for `{tenant}` and replac

[2019-06-27 06:56] henrik-me commented on #1234
@MatLeger @jmprieur

I'm not familiar with the OneDrive SDK, however I took a quick look at the AuthenticationProvider for desktop. I'm not sure why they use the overloads that takes a refresh token as the token cache contains both the refresh token as well as the access token. Also, it's based on ADAL and not MSAL. As far as I can see it's possible to create an AuthenticationProvider which doesn'

[2019-06-27 07:53] jmprieur commented on #891
thanks @jennyf19
yes, with a certificate we really compute a client assertion including the issuer and audience
Thanks for fixing this, @jennyf19

[2019-06-27 12:14] soooraj opened #1239 "Azure AD B2C with SSO implementation in Xamarin Forms"
Is it possible to implement Single Sign On along with Azure AD B2C.
If yes,
Could you please suggest some sample / Documentation about the same.

I am trying to implement the same in my Xamarin Application.

[2019-06-27 12:27] MatLeger commented on #1234
We are using the refresh token for other things as well.

If there is a way to get the OneDrive SDK to work using only the DeviceCodeFlow access token, then I'd like to understand how that's done because it's not obvious to me how to do it. Yet the OneDrive SDK is very clear how it can _easily_ work with a refresh token.

[2019-06-27 17:19] jmprieur commented on #907
@jmprieur for investigation

[2019-06-27 17:24] jennyf19 commented on #891
@svrooij fixed...will be in 4.1 release, out in a few days.

[2019-06-27 17:40] MatLeger commented on #1234
The easiest solution I could find to get around this problem is to create my own refresh token DelegateHandler and inject that into the HttpClient pipeline and execute a lambda when the refresh token comes back in a response. Now I'm able to pass the refresh token to the OneDriveClient and keep the legacy code as is. I still feel I should not have to do this and the refresh token should be part of

[2019-06-27 17:55] svrooij commented on #891
Thanks @jennyf19 and guys!

I really liked the detailed explanation! Great fix.

[2019-06-27 20:43] pritchie99 commented on #830
Can you provide a little more explicit guidance where winforms is documented in the wiki please?
I can get wpf to work but not winforms, and can't find an example.  I have tried with and without the following:-
AcquireTokenByUsernamePassword(),
AcquireTokenInteractive(),
WithParentActivityOrWindow(form.Handle).

and
WithParentActivityOrWindow(new WindowInteropHelper(form).Handle)
gives the error "

[2019-06-27 20:48] MarkZuber commented on #830
WithParentActivityOrWindow(form) should work since your form is a Window.  We don't take the handle object directly.

[2019-06-27 21:10] pritchie99 commented on #830
I am not sure my Form is a "Window" as per the error at the end.  My form is a subclass of System.Windows.Forms.Form.

No doubt this will be me not getting these Guids aligned once again, however at the moment it just "hangs" without raising an exception, and without showing a UI.

[2019-06-28 00:56] TiagoBrenck opened #1241 "Guest Accounts Identifier on args.Account.HomeAccountId.Identifier"
**Which Version of MSAL are you using ?**
MSAL 4.0.0

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

After investigating the issue, https://github.c

[2019-06-28 01:05] jmprieur commented on #1241
@TiagoBrenck : given the sample used to work fine with guest accounts, are you suggesting there is a regression in MSAL.NET ?

[2019-06-28 04:21] antonGritsenko commented on #1241
@jmprieur yes, there is a regression somewhere in MSAL.NET either Azure AD itself.

When I sent request for JWT token the answer contains following:

and same id returned by GetMsalAccountId() extension method.
And this Id is of the guest account in the app's tenant:

[code]

But Microsoft.Identity.Client.AccountId returned by TokenCacheNotificationArgs contains totally different id. This id match

[2019-06-28 06:35] henrik-me commented on #1234
Agree, that is the easiest and definitely not a very elegant situation. We are trying really hard to have people not need the refresh token and let the library handle the refresh token as that will enable the library to manage SSO state. We are also aware that there are scenarios where having the refreshtoken is needed. Ideally the OneDrive SDK would be different. We are still discussing internall

[2019-06-28 06:56] henrik-me commented on #1239
I recommend reading the wiki:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively
that will walk you through b2c details as well as point to a sample.

You can find the same sample by searching Azure-Samples:
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

[2019-06-28 07:00] henrik-me commented on #1241
@MarkZuber: can you pls. investigate this one?

[2019-06-28 07:02] henrik-me commented on #1228
@bgavrilMS @rayluo : can you pls. help investigate

[2019-06-28 07:37] yacuzo commented on #1185
This is definitely Unity's IL2CPP bytecode stripping. I don't think you working on MSAL can do anything about it, other than mention it in the docs somewhere.

[2019-06-28 09:03] luisabreu commented on #1233
Hello again guys,

Just to give more info, here's a simple project that is not working on my machine. I'm also sending the detailed output of the build.
I've also tried clearing the local nuget caches. Unfortunately, the result is always the same.

Any pointers on how to solve this? Thanks

[msal-Output-Build.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/3338395

[2019-06-28 09:08] soooraj commented on #1239
I cannot see anything related to SSO in the link / sample provided by you. It is a generic B2C sample could you please verify.

[2019-06-28 09:14] jmprieur commented on #1239
What do you mean by SSO, @soooraj. SSO with what?
Can you please provide repro steps? what do you do? what is expected? what does not work?

[2019-06-28 09:27] jmprieur commented on #830
@pritchie99 : do you want to share a small repro solution (attach a zip file) ?

[2019-06-28 09:58] soooraj commented on #1239
I have 3 apps, If I login to any one of the app and the token is active. I need to restrict the user to Login again and again for other apps.

I was just wondering is there any way to implement this in Azure AD B2C with Identity Client. I know after every successful login the sdk is persisting the account details.

So what will happen if I try to login using **AcquireTokenSilent** through other ap

[2019-06-28 10:34] bgavrilMS commented on #830
You don't need to use WithParentActivityOrWindow(form) except if you want to pop-up browser to be centered on a window. Please try without it first.

A small repro would be helpful.

[2019-06-28 10:44] bgavrilMS commented on #1233
I am able to build and even deploy the app on an Android emulator. Could you try from a different machine?

![image](https://user-images.githubusercontent.com/12273384/60337101-063a2d00-999a-11e9-9415-a3d811e555d4.png)

[2019-06-28 11:18] jmprieur commented on #1239
Thanks for the clarification, @soooraj
I believe that this is a current limitation with B2C. @valnav @parakhj can you please confirm?
cc: @jennyf19

[2019-06-28 11:24] luisabreu commented on #1233
Hello again.

I have just tried and it seems to work...does this mean that I should reinstall vs again? Any ideas on what might have happened on this machine?

[2019-06-28 11:38] bgavrilMS commented on #1233
I am not sure Luis. From my own experience, when I installed VS 2019 side by side with VS 2017, it broke UWP  and sadly I had to reinstall the entire OS. It looks like some installation scenarios were not super well tested...

[2019-06-28 11:41] bgavrilMS commented on #1233
I'm going to close the issue as external, but feel free to reopen or open a new one if you encounter more problems.

[2019-06-28 11:41] #1233 closed

[2019-06-28 12:56] jmprieur commented on #1241
About https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/115:
I've looked at the history for the ASP.NET Core Web App tutorial and although I know I tested it in guest scenarios (and it worked), I could not find out how we made it work. I suppose that this was before the advanced cache implementations we've done since. (and the coordinates of my test app us

[2019-06-28 13:15] antonGritsenko commented on #1241
Thanks for detailed clarification.
IMHO, as a customer, the solution 1 is more preferred, because if we talking about claims then there is no any information about a home account inside of the JWT (at least by default), and additional query to get home account is the performance penalty.

[2019-06-28 15:34] luisabreu commented on #1233
Sure...Removing and reinstalling vs was not enough to solve this...

[2019-06-28 15:47] bgavrilMS commented on #1233
That's not cool :(. Yeah, I ussually have to do a clean install (i.e. reinstall Windows) if I get into deep VS installation issues. The VS guys have done a lot of work to test these scenarios, but problems still remain sometimes.

[2019-06-28 17:26] jmprieur commented on #1241
yes, @antonGritsenko you're right
BTW the claims would be the claims in the IDToken. The claims in the Access token are only for the Web API for which the token was emitted (the Web App should not even look at them)

[2019-06-28 19:00] rayluo commented on #1228
I believe the first question, "seamless SSO should not require federation", is the same topic that one of our [internal work item](https://identitydivision.visualstudio.com/DevEx/_workitems/edit/360185) mentioning the "federation lie".

I can not comment much on [ADAL .Net issue 1478](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1478), but if it "worked in the past bu

[2019-06-28 19:44] pritchie99 commented on #830
Thank you all - File|New has worked with UI shown so presumably the case is related to artefacts from my old Winforms app.

[2019-06-28 21:20] TiagoBrenck commented on #1241
On `TokenCache.ITokenCacheInternal.cs`, line 500 and 502, a `TokenCacheNotificationArgs` is instantiated with account null then passed to OnBeforeAccessAsync, which will trigger our TokenCacheProviders and it wont be able to get they key from `args.Account?.HomeAccountId?.Identifier;`. The reason that account is null, is because that method, on line 500, is the one to find an account. It makes tot

[2019-06-28 21:35] henrik-me commented on #1134
Closing. Please open if you still need our help.

[2019-06-28 21:35] #1134 closed

[2019-06-28 21:41] henrik-me commented on #1061
@ferronsw @zulander1 : did you try starting from the sample @jmprieur pointed out above? (Please re-open if you would need us to help)

@jmprieur : If we need to update a sample, then pls. re-open or consider if creating an issue in the Sample repo is a better approah.

[2019-06-28 21:41] #1061 closed

[2019-06-28 21:46] henrik-me commented on #1045
@DaveBrickley : I recommend reaching out to the B2C team via SO.
https://stackoverflow.com/questions/tagged/azure-ad-b2c

Note: The latest MSAL library is v4, we generally recommend updating to the latest as it contains both bug fixes and other enhancements (you can see what in our release notes).
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases

Please re-open if yo

[2019-06-28 21:46] #1045 closed

[2019-06-28 21:53] henrik-me commented on #985
Closing. Please re-open or create an new issue if we can assist.

[2019-06-28 21:53] #985 closed

[2019-06-28 22:02] henrik-me commented on #958
Please follow the progress via the link provided above and re-open if you believe there is anything we can help with.

[2019-06-28 22:02] #958 closed

[2019-06-28 22:06] henrik-me commented on #857
@baywet We are now on v4. Do you still see this issue? If it is would be great if you can help with a simplified repro.

Please re-open of you still see this issue and would like us to investigate further. Please when re-opening assist with a simplified repro.

[2019-06-28 22:06] #857 closed

[2019-06-28 22:08] henrik-me commented on #808
@livehop : closing this one. Please re-open if you have any updates or need us to look further into this.

[2019-06-28 22:08] #808 closed

[2019-07-01 06:23] soooraj commented on #1239
@henrik-me @jmprieur @jennyf19 : Since the marked answer is not complete, could you please reopen the issue?

[2019-07-01 09:53] stezma opened #1244 "Restrict Internal Login Browser / Window to Portrait mode"
Library - Microsoft.Idendity.Client (V) 4.0.0
Platform - Xamarin Forms.

In my app I am using Embedded WebView for login ( ` .WithUseEmbeddedWebView(true)`). The issue I am facing here is,
I am restricting my app to work only on Portrait Mode through code. But even though I restrict it through code, Only on login WebView(Embedded WebView)  it is not working. The orientation is not locked for Azure

[2019-07-01 14:22] bgavrilMS opened #1245 "Supportability: MsalException message should contain the framework and version for easier debugging"
**Is your feature request related to a problem? Please describe.**
ICMs and github issues often contain exception stack traces, but no logs, no version and no target framework (tfm)

Requirements

- Improve the stack trace enable easier debugging.
- Improve Error Message to make it easier to find the location in the code
- Reduce back and forth communication

**Describe the solution you'd like**
M

[2019-07-01 15:06] jmprieur commented on #1245
#supportability!

[2019-07-01 15:44] henrik-me commented on #1239
@soooraj : re-opening

I expect that your 3 apps have different app id's/client id's. The cache is based on the client id. The user will therefor have to sign-in to the 3 different apps. One option would be to combine your 3 apps into one app. Microsoft identity protection does not currently support linking different app id's. Only work around that I know if would be that your 3 apps uses the same

[2019-07-01 19:02] fdbeirao commented on #1214
After more than 2 days struggling with this issue, I want to give you my most heartfelt **Thank you!** for the resolution of this issue. 🙏 ❤

[2019-07-01 19:39] jennyf19 commented on #1214
@fdbeirao thanks for the feedback and ❤️ ...this fix will be out shortly in the 4.1 release.

Sorry it took you two days of struggling...any suggestions on what we could have done to make this issue more searchable? ex. a short write-up in the wiki (until the fix is released), or a better title for the issue?

[2019-07-01 19:51] trwalke opened #1246 "Default Redirect URI for System Browser on .NET Core"
**Is your feature request related to a problem? Please describe.**
This feature is an improvement on https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1186. Currently, when using WithDefaultRedirectUri() on .NET Core the default redirect URI will be set to "http://localhost". It may not be the best idea to set the default redirect uri to local host on .net core but a be

[2019-07-02 06:49] fdbeirao commented on #1214
Hey @jennyf19 . I don't think there was something you could have done. ADFS is a quite complex beast, and when something goes wrong it's always going to be difficult. Together with a "random" NRE, it becomes slightly harder even.

I was providing consulting for a friend who is using this library. Even after downloading the debug symbols, the NRE was still in a somewhat unrelated place (`null.Conta

[2019-07-02 12:51] jmprieur commented on #1239
B2C makes it worse as you cannot even get a token for a 2nd API without re-signing in.

[2019-07-02 14:05] jmprieur commented on #1196
@jelledruyts : this is now fixed and available in MSAL.NET 4.1

[2019-07-02 14:05] #1196 closed

[2019-07-02 14:05] jmprieur commented on #1176
this is now fixed and available in MSAL.NET 4.1

[2019-07-02 14:05] #1176 closed

[2019-07-02 14:06] jmprieur commented on #1214
@saketkataruka @fdbeirao : the fixe is now available in MSAL.NET 4.1
cc: @jennyf19

[2019-07-02 14:06] #1214 closed

[2019-07-02 14:06] jmprieur commented on #1211
@msminski : this is now fixed and available in MSAL.NET 4.1

[2019-07-02 14:06] #1211 closed

[2019-07-02 14:07] jmprieur commented on #1186
this is now available in MSAL.NET 4.1

[2019-07-02 14:07] #1186 closed

[2019-07-02 14:07] jmprieur commented on #1154
this is now fixed and available in MSAL.NET 4.1

[2019-07-02 14:07] #1154 closed

[2019-07-02 14:08] jmprieur commented on #891
@svrooij : the fixe is available in MSAL.NET 4.1
Thanks for your patience
cc: @jennyf19

[2019-07-02 14:08] jmprieur commented on #1189
this is now fixed and available in MSAL.NET 4.1

[2019-07-02 14:08] #1189 closed

[2019-07-02 14:09] jmprieur commented on #1188
this is now available in MSAL.NET 4.1

[2019-07-02 14:09] #1188 closed

[2019-07-02 14:09] jmprieur commented on #1069
this is now available with MSAL.NET 4.1

[2019-07-02 14:09] #1069 closed

[2019-07-02 14:11] jmprieur commented on #1241
Thanks for confirming, @TiagoBrenck
closing.
cc; @henrik-me @MarkZuber

[2019-07-02 14:11] #1241 closed

[2019-07-02 15:36] valnav commented on #1239
@soooraj - given a b2c policy, you can restrict sso to an app, policy or tenant.

Can you review this and see if it helps - https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-token-session-sso

[2019-07-02 15:53] MarkZuber commented on #1199
fixed and merged.

[2019-07-02 15:53] #1199 closed

[2019-07-02 19:09] jelledruyts commented on #1196
Confirmed that it fixes the problem, thanks @jmprieur !

[2019-07-02 19:10] jmprieur commented on #1196
Thanks for confirming, @jelledruyts

[2019-07-03 07:14] jmprieur opened #1248 "Provide a better documentation to help customers migrate from MSAL 2.x to MSAL 3.x/4.x"
### Documentation Related To Component:

MSAL.NET provides migration help (obsolete attributes), but some customers want to understand the change of coding style (to the builder pattern) ahead of doing the modification. This issue is about providing a better documentation to help customers migrate from MSAL 2.x to MSAL 3.x/4.x

### Please check those that apply

- [ ] typo
- [ ] documentation does

[2019-07-03 08:40] soooraj commented on #1239
@valnav I don't want to add any restriction, Instead I am trying to validate the token with the SDK/Library. That means, If I am already login to one app I may keep my token into some shared storage. And in my other apps I will take this token and validate. But right now SDK is not allowing me to validate.

[2019-07-03 09:23] luismanez commented on #1248
very needed yes! specially the TokenCache changes. Thanks for open this issue

[2019-07-03 11:25] bgavrilMS opened #1249 "Cryptic exceptions when attempting IWA / UP / Device Flow with an app that isn't registered as a public client"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [x] Username Password
    * [x] Devi

[2019-07-03 11:26] bgavrilMS commented on #1249
Related bug reported by customer: https://github.com/Azure-Samples/active-directory-dotnetcore-devicecodeflow-v2/issues/9

[2019-07-03 15:15] henrik-me commented on #1239
@soooraj : What do you mean by validating? Do you mean using the token for another API call? or do you mean opening the token to validate what's in the token?

[2019-07-04 12:58] inghak commented on #1201
Same issue, .NET 4.7.2 and Microsoft.Identity.Client 4.1.0.

[2019-07-04 14:26] ilya-spv commented on #1201
As far as I could figure what happens is that on 4.7.2. the library tries to export certificate with private key and if it is marked as non exportable it fails. If the key is exportable, then it works fine.

It's strange though that depending on framework version the library reads the key in a different manner.

[2019-07-05 07:32] soooraj commented on #1239
In simple word multiple applications going to share the same token, So validating in this context would be calling AcquireTokenSilent() from Secondary App.

I am ok to share the same resources in both app.

[2019-07-05 09:21] jmprieur commented on #1201
@henrik-me, @MarkZuber, @bgavrilMS
We might want to provide a better error message when the certificate is not exportable?
Or do we need to use the X509KeyStorageFlags.EphemeralKeySet flag ? to avoid the exception?

[2019-07-05 23:18] jennyf19 commented on #1187
@ericcox I was unable to repro this issue today. I used MSAL 4.1, and both system webview and embedded browser with two different users. I followed your repro steps (which are great) but when I cleared the cache and reloaded the app, I did not have any users present.
Do you have a link to a repro or a zip file you can send us? Also, could you try w/4.1 and see if it still repros for you? I did not

[2019-07-05 23:45] jennyf19 commented on #601
@ameem85 Sorry this issue was not responded to faster. I was not able to reproduce this using `FormsAppCompatActivity` . If it's still relevant, please try w/the latest release of MSAL 4.1, and see if it still repros there. Here's [how to update from msalv2 to v3](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-3-released#configuring-an-app-got-simpler) and the

[2019-07-08 09:21] bgavrilMS commented on #1174
A large part of the work for this has been shipped in 4.1 - AcquireTokenSilent (with a valid AT in cache) and GetAccounts are fixed.

[2019-07-08 09:29] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/60799285-2d031b00-a173-11e9-9d28-ac07a7ae894a.png)

![image](https://user-images.githubusercontent.com/13203188/60799366-4c01ad00-a173-11e9-934f-f02e26c9429e.png)

![image](https://user-images.githubusercontent.com/13203188/60799411-60de4080-a173-11e9-9dcc-d39a45826d42.png)

![image](https://user-images.githubusercontent.com/13203188/6079

[2019-07-08 12:54] henning-krause commented on #1201
Hitting this very problem today. It would be great if the authentication would work without needing the private key to be exportable.

[2019-07-08 14:58] stevehurcombe commented on #1174
@bgavrilMS still seems much the same:
[code]
This is a Samsung S7 Edge.

Maybe we need some more pieces??
Cheers

Steve

[2019-07-08 15:03] bgavrilMS commented on #1174
Thanks for checking @stevehurcombe . All this work is cross platform, so it should work for Xamarin. Are you saying that in your case a discovery call was made?

[2019-07-08 15:34] stevehurcombe commented on #1174
Not necessarily. If I'm offline then the login process seems quicker. If I'm online then it's still as slow as before, even though the token has not expired.

[2019-07-08 15:41] bgavrilMS opened #1256 "1s delay after identifying a valid AT and returning it, when AT is not expired"
**Which Version of MSAL are you using ?**
MSAL 4.1

**Platform**
Android

**What authentication flow has the issue?**
Silent

**Repro**
AcquireTokenSilent takes too long on Android. In particular, it takes 1s to return the AT after it has found it.

Logs:

[code]

[2019-07-08 15:43] bgavrilMS commented on #1174
I see what you're saying. I can see a spike of ~600ms when it says "Looking up a token in the cache". This is understandable because it will access the token cache (on Android, we store in Shared Preferences, which are just files).

I can't explain the 1s difference at the end though, after it found a valid token and it returns a token. Will need to investigate (that APK log message from Xamarin i

[2019-07-08 17:52] William-Au-Yeung commented on #1201
If the behavior is not planned to be fixed, then a better error message is a must. This is a really confusing experience.

[2019-07-08 18:34] jmprieur commented on #1201
@henning-krause @ilya-spv @inghak @William-Au-Yeung
When you read the certificate, do you use the [X509KeyStorageFlags](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509keystorageflags?view=netframework-4.8)`.EphemeralKeySet` flag` ?

[2019-07-08 18:38] William-Au-Yeung commented on #1201
Nope. My code is reading the certificate out from the certificate store only.

[code]

[2019-07-08 19:37] henning-krause commented on #1201
@jmprieur  if I import my certificate from a file, it is pretty much irrelevant whether I specify Ephemeral or Exportable - I can do any of those things.

But if I want to use a certificate from a store (like @William-Au-Yeung), ephemeral is not an option (since the key is already persisted on the system) and I might not be able to control the "exportable" setting, because I'm forced to use a spec

[2019-07-08 20:35] jennyf19 commented on #1026
latest UI tests are targeting FB now w/the new user.

[2019-07-08 20:35] #1026 closed

[2019-07-09 13:09] venkatesh-bhupathi opened #1258 "AcquireTokenForClient throws Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0 in .Net Core ASP .Net Web API"
We have a **.Net Core 2.0 based Web API**, we are using Microsoft.Identity.Client version 4.1.0 to get the token based on Certificate credential. Following is the code,

IConfidentialClientApplication app;
Microsoft.Identity.Client.AuthenticationResult output;
var cert = GetCert();

app = ConfidentialClientApplicationBuilder.Create(clientId)
          .WithTenantId("Microsoft Tenant ID")

[2019-07-09 14:18] bgavrilMS opened #1259 "Allow users to specify their own instance metadata"
For details see https://aka.ms/msal-net-custom-instance-metadata

[code]

[2019-07-09 14:25] bgavrilMS commented on #1174
I'll close this so that it's clear that is has been done in 4.1.

`GetAccountsAsync` and `AcquireTokenSilent` (when a valid AT is in the cache) no longer make network calls unless an atypical authority host is used (i.e. something other than `https://login.microsoft.com` etc.). For a full list of these authorities, see https://aka.ms/msal-net-custom-instance-metadata

[2019-07-09 14:25] #1174 closed

[2019-07-09 18:29] baywet commented on #857
@henrik-me thanks for the follow up. Upgraded to 4.1.0 and it seems to be working properly so far.

[2019-07-09 18:57] henrik-me commented on #1046
related? https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/857

@MrDoctorJ : Have you tried this with MSAL .NET v4.1?

[2019-07-09 21:06] MrDoctorJ commented on #1046
@henrik-me I thought I closed this. The issue was that we were using a public certificate and not a private certificate. Changing to a private certificate fixed the issue. But, the error could be more informative to let the user know that its a simple issue.

[2019-07-09 21:06] #1046 closed

[2019-07-10 02:48] venkatesh-bhupathi commented on #1258
@jmprieur Could you please help us with this issue in getting access token based on certificate credentials in .Net core 2.0. This is blocking our deployment, would like to understand if there is a fix for this issue or do we need to convert the API to full framework from .Net core.

[2019-07-10 05:01] henrik-me commented on #1258
May be related to: https://github.com/dotnet/corefx/pull/18689 however seems from the stack trace that some net45 stuff is loading when we are running netcore. @bgavrilMS or @MarkZuber  something you can take a look at?

[2019-07-10 05:05] henrik-me commented on #1258
@venkatesh-bhupathi : can you pls. share additional details on the dotnet core version? Also can you pls. attach [logging](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging) and provide the additional details from the logs? (please ensure to remove PII)

[2019-07-10 05:42] venkatesh-bhupathi commented on #1258
Following are the dependency details from the API project,

`
TargetFramework - **netcoreapp2.0**

"Microsoft.AspNet.Cors  Version="5.2.4"
"Microsoft.AspNetCore.All" Version="2.0.0"
"Microsoft.AspNetCore.Http.Features" Version="2.0.2"
"Microsoft.AspNetCore.Mvc.Versioning" Version="2.2.0"
"Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer" Version="2.2.0"
"Microsoft.Data.Services.Client" Version="5.8

[2019-07-10 09:53] jmprieur commented on #1258
@venkatesh-bhupathi : apprently the MSAL.NET logs don't to indicate that this is a  .Net Core 2.0 Web API, This seems to be a .NET Framework one.
Would you have repro steps to share ? We have an ASP.NET Core 2.0 Web API sample you might want to start from? https://aka.ms/msidentity-aspnetcore-webapi-calls-msgraph ?

[2019-07-10 12:05] mpghelli opened #1263 "[Bug] Failed to resolve "AuthenticationServices.ASWebAuthenticationSession" on Xamarin.IOS"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

Microsoft.Identity.Client 4.0.0

**Platform**

Xamarin.iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Wind

[2019-07-10 15:31] jmprieur commented on #911
Closing as we've decided not to particularize B2C in public API

[2019-07-10 15:31] #911 closed

[2019-07-10 15:49] bgavrilMS commented on #1259
CC @mjcheetham - this mechanism should speed up GCM in all scenarios.

[2019-07-10 15:50] jmprieur commented on #1144
@bgavrilMS : I would think it's fixed as well?

[2019-07-10 15:54] jmprieur commented on #1201
I agree @henning-krause
We need to improve the exception to have a meaningfull and actionable message that the certificate should be exportable.

[2019-07-10 15:57] henning-krause commented on #1201
@jmprieur No, the requirement that the certificate must be exportable should be removed. I don't see why this is required. The code should be able to sign the JWT without exporting the private parameters.

[2019-07-10 15:58] jmprieur commented on #907
This is a key pillar for VS 16.

[2019-07-10 16:19] rub8n commented on #907
This blog post will give you an quick overview as well as how to enable PMA in the IDE:
https://devblogs.microsoft.com/visualstudio/a-better-multi-monitor-experience-with-visual-studio-2019/

[2019-07-10 16:19] bgavrilMS commented on #1144
Yes, we might need something to track the work of storing instance metadta in the token cache, but we can talk about that later.

[2019-07-10 16:22] jmprieur commented on #907
thanks @rub8n !

[2019-07-10 16:27] henning-krause commented on #1201
I just took a quick look at https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/396913a0eedea58409c2faa328dd629c95e65bb6/src/Microsoft.Identity.Client/Platforms/net45/NetDesktopCryptographyManager.cs#L86:

[code]

Why can't you just take the certificate.PrivateKey, cast it to RSA and call SignData on it?
[code]

Still, that code wouldn't work with certificates created with

[2019-07-11 07:00] ilya-spv commented on #1201
I completely agree that there should not be any rule that the certificate should be exportable. The code in the old ADAL library works just fine without certificate being exportable. Likewise this library does work on .net 4.6.2. So it would be strange if that just won't be allowed

[2019-07-11 07:02] omghb opened #1264 "[Bug] "MsalClientException: Non-HTTPS url redirect is not supported in webview""
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.1.0

**Platform**
xamarin android

**Expected behavior**
My app has implemented this: https://docs.microsoft.com/en-us/graph/tutorials/xamarin but with latest NuGet packages of Xamarin and MSAL.
Auth should work.

**Actual behavior**
Auth runs on iOS and UWP but on Android I get the following exception:
[code]

**Possible Soluti

[2019-07-11 07:11] venkatesh-bhupathi commented on #1258
Thanks for your insight here @jmprieur, the Core API is referencing a Full Framework assembly which uses MSAL to fetch the token. We have moved the token resolver component to a Net Standard assembly, then Core API started working fine.

[2019-07-11 07:35] jmprieur commented on #1258
Thanks for the update, @venkatesh-bhupathi
Do you want to close the issue?

[2019-07-11 11:08] #1258 closed

[2019-07-11 14:31] jgoyvaerts opened #1266 "[Bug] Azure changes redirect_uri from http to https causing TcpInterceptor to fail in parsing the response"
**Which Version of MSAL are you using ?**
4.1

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**
New

[2019-07-11 15:10] jmprieur commented on #1266
Which redirect URI did register in the app registration portal, @jgoyvaerts ?

[2019-07-11 15:11] jgoyvaerts commented on #1266
I registered both http://localhost and http://localhost:4001

[2019-07-11 15:13] jmprieur commented on #1266
Do you need to specify a port? Did you try with just "http://localhost" ?

[2019-07-11 15:17] pfresnay commented on #643
Hi again @jmprieur :)
Any update ?
Just to mention that it does not affect only MSA : you could have a microsoft organizational account on a machine without AAD joined. Sometimes you want you want to use "invited" microsoft organizational account ona an AAD joined shared PC (like Surface Hub 1 & new Surface Hub 2). In both cases, WAM integration is essential for SSO experience.

[2019-07-11 15:21] jmprieur commented on #643
@pfresnay : @MarkZuber is currenlty investing.

[2019-07-11 15:59] jmprieur commented on #1264
@bgavrilMS : do you think this is related to the web view customization changes?

[2019-07-11 16:09] jgoyvaerts commented on #1266
Same behavior with just http://localhost as redirect uri in the app registration portal

[2019-07-11 20:38] ismael9291 commented on #425
Any updates on the possibility of signing out

[2019-07-11 22:09] MouthOfMadness commented on #745
Is there a workaround, I just started getting this bug:

(default target) (1) ->
(_CompileToNative target) ->
  MTOUCH : error MT2101: Can't resolve the reference 'System.String System.String::Trim(System.Char)', referenced from the method 'System.Threading.Tasks.Task`1<FFImageLoading.Work.DataResolverResult> FFImageLoading.DataResolvers.BundleDataResolver::ResolveFromBundlesAsync(System.String,Sy

[2019-07-11 22:41] cormacpayne opened #1267 "Silent authentication when migrating from ADAL to MSAL results in AADSTS65001"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

ADAL: 3.19.5
MSAL: 3.0.8

**Platform**

.NET Standard 2.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windo

[2019-07-12 20:08] henrik-me commented on #425
@ismael9291 : do you mean in the Xamarin iOS or native iOS library? if native iOS please post the question here: https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2019-07-12 23:43] henrik-me commented on #1234
@MatLeger We have been discussing this internally. For now the best option is to ask the One Drive SDK team to update. When customers ask it's much more useful than us asking them, thus I recommend that you open an issue for them. You can cross reference us here and we can follow up with them.
CC: @jmprieur

[2019-07-13 00:46] jennyf19 commented on #535
![image](https://user-images.githubusercontent.com/19942418/61164749-fb6cb580-a4cc-11e9-9b1d-2823cda3eebe.png)

[2019-07-15 07:50] Crazyconv opened #1270 "[Bug] Using PublicClientApplicationBuilder and WithAuthority(string cloudInstanceUri, string tenant, bool validateAuthority) throws exception when acquiring token"
**Which Version of MSAL are you using ?**
MSAL 4.1.0

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * Username Password

**Is this a new or existing app?**
This is a new app

**Repro**

[code]

**Expected behavior**
An AuthenticationResult result is returned.

**Actual behavior**
Exception is thrown.
Microsoft.Identity.Client.MsalServiceException: "AADSTS90

[2019-07-15 21:07] dwightbennett opened #1271 "[Feature Request] Blazor Support"
**Is your feature request related to a problem? Please describe.**
I am currently writing a Xamarin mobile app and a Blazor web app and attempting to share the backend of the two applications.  Our web server uses the B2C authentication and was really easy to setup with Xamarin.  I thought that i could try to use this library with Blazor since its now a part of the .net core family but it did not

[2019-07-15 23:37] cormacpayne commented on #1267
@jmprieur Hey Jean-Marc, let me know if there's anything you need from me for this issue 😀

[2019-07-16 08:55] jmprieur commented on #1271
@dwightbennett. What is your scenario? Is it a Web app using Blazor calling a Web API?
Or a Web API calling a downstream web api?

[2019-07-16 10:27] bgavrilMS opened #1272 "[Feature Request] Further reduce token cache access calls for apps that do not share cache"
**Is your feature request related to a problem? Please describe.**
Token cache access is expensive and should be reduced in frequency. After 4.2, we perform 2 cache accesses per call, i.e. `AcquireTokenSilent` and `AcquireTokenWithCertificate` will perform a read call (to see if there is smth in the cache) and a write call (if there's nothing in the cache, go to the network and save the results).

[2019-07-16 11:24] bgavrilMS commented on #1266
I can't repro this. Here's what I tried:

1. Create a new app registration
2. Set "http://localhost:4001" as a redirect uri
3. Add API permission for KeyVault
4. Grant admin access for API permissions
5. Run the code you provided

Actual: authentication was successful.

![image](https://user-images.githubusercontent.com/12273384/61290738-80551900-a7c4-11e9-8edf-75ecefda5e02.png)

We also run this

[2019-07-16 12:13] jgoyvaerts commented on #1266
Followed your exact same steps, even with a new app I get the same behavior.

Below you can find the app registration manifest:
[code]

[2019-07-16 12:28] bgavrilMS commented on #1266
Are you using a .net core app? What .net core version?

[2019-07-16 12:47] jgoyvaerts commented on #1266
.Net core 2.2
Not sure how that's relevant since it's azure who's changing the http to https?

The url which is being requested on azure side:

https://login.microsoftonline.com/{TENANTID}/oauth2/v2.0/authorize?scope=https%3A%2F%2Fvault.azure.net%2F.default+offline_access+openid+profile&response_type=code&client_id=9a6dd9c8-4dec-4ee5-b4e0-b668d623c03b&redirect_uri=http%3A%2F%2Flocalhost%3A4001&cli

[2019-07-16 12:59] jmprieur commented on #1266
@jgoyvaerts
where is your application deployed? are you using a proxy?

[2019-07-16 13:05] jgoyvaerts commented on #1266
I'm running the application locally, from visual studio debugging. No proxies are involved.

I just checked my chrome network tab, the request is first being sent to http but chrome is upgrading the request to https because a different site hosted on my localhost has HSTS enabled (and HSTS is domain based, not domain + port based).

Closing this ticket since it's a local pc issue, sorry for the co

[2019-07-16 13:05] #1266 closed

[2019-07-16 13:16] bgavrilMS commented on #1266
Thanks for following up!

[2019-07-16 13:24] jmprieur commented on #1266
@bgavrilMS : do you think we should document this behavior?

[2019-07-16 15:16] dwightbennett commented on #1271
Hi @jmprieur My scenario is a client side Blazor app calling a Web API.

[2019-07-16 17:48] jmprieur commented on #601
Moving to 4.3. We need more info.

[2019-07-16 19:28] mfeingol commented on #1264
I am seeing the same issue with 4.1.0 on an Android app. 4.0.0 works.

[2019-07-16 20:50] henrik-me commented on #1187
@ericcox : Closing, please re-open and provide additional infor if this is still an issue.

[2019-07-16 20:50] #1187 closed

[2019-07-16 20:52] henrik-me commented on #743
Moving back to 4.2. Really would like to have this investigated. It's an important part of our performance an reliability work. This has been open for a very long time.

[2019-07-16 20:54] henrik-me commented on #601
@ameem85 : Closing, please provide additional info an re-open. Moving out of milestone.

[2019-07-16 20:54] #601 closed

[2019-07-16 20:57] henrik-me commented on #1234
@MatLeger : Closing for now. For now we will not be exposing the RT.
CC: @jmprieur

[2019-07-16 20:57] #1234 closed

[2019-07-17 07:31] dsanghan opened #1274 "[Bug] MSAL OAuth2 + EWS not working"
**Which Version of MSAL are you using ?**
4.1.0

**Platform**
Net 4.7

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ x ] Interactive

Other? - please describe;

**Is this a new or existing app?**
New App

**Repro**
Follow:
https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-authenticate-an-ews-application-by-using-oauth

Use an outlook.c

[2019-07-17 09:51] jmprieur commented on #1274
@dsanghan :
This does not seem to be an issue with MSAL.NET, but with the sample?

Apparently https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-authenticate-an-ews-application-by-using-oauth forgot to mention that you had to go to the **API permissions** tab, and add a permission to **Exchange** (in the **Supported legacy APIs** section).

BTW, depending on wh

[2019-07-17 09:54] dsanghan commented on #1274
@jmprieur: The above sample does work for Exchange Online accounts, but does not work for personal accounts (Outlook.com, etc). I tried adding the API permission you've suggested but that does not fix it. I'm still getting the invalid token error.

AFAIK, Graph doesn't work for on-premises exchange.

[2019-07-17 09:57] jmprieur commented on #1274
@dsanghan : are you hitting on premises exchange?
Did you use EWS access as user as a scope?

![image](https://user-images.githubusercontent.com/13203188/61366490-f7081a00-a889-11e9-9917-999fbf6101ee.png)

[2019-07-17 10:02] dsanghan commented on #1274
@jmprieur Presently testing with an Office 365 account. But we also want to support on-premises exchange, so don't want to use Graph.

Yes, here's the permission enabled:
<img width="485" alt="Screen Shot 2019-07-17 at 3 30 51 PM" src="https://user-images.githubusercontent.com/6698354/61366803-e8306000-a8a7-11e9-8c44-4fad4912243f.png">

Also verified that we're asking for the correct scope:
[code]

[2019-07-17 10:03] dsanghan commented on #1274
To be clear, the token works if I sign in with an Office365 account, but does not work if I sign in with an Outlook account.

[2019-07-17 10:20] jmprieur commented on #1274
@dsanghan : I can repro it as well, and I see that MSAL.NET does it job (it gets an access token), however, this access token is not a standard JWT (it's an MSA token)

OAuthCredentials is probably trying to crack open it (which it should not do as the toke is only for EWS), and this fails.

[2019-07-17 10:26] dsanghan commented on #1274
@jmprieur: Great. Would be great if you could link the issue here once it's opened so I can track it.

[2019-07-17 11:03] jmprieur commented on #1274
@dsanghan : do you want to open an issue on https://github.com/officedev/ews-managed-api ?
I see that they don't take any feature requests, though?
Maybe you should raise the issue is on the article : https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-authenticate-an-ews-application-by-using-oauth  ?

In any case closing this MSAL.NET (as external) issue as thi

[2019-07-17 11:03] #1274 closed

[2019-07-17 11:47] dsanghan commented on #1274
@jmprieur I did open one on https://github.com/officedev/ews-managed-api - but no replies yet.

The issue also happens on different platforms and libraries - I see the same issue on:
https://github.com/AzureAD/microsoft-authentication-library-for-objc

Feels like the backend should be sending a proper JWT instead of MSA token?

Is there a way I can use the MSA token for auth? Is there a way to con

[2019-07-17 11:56] jmprieur commented on #1274
The thing is that EWS is legacy technology and they probably use a dual stack (AAD for Work or School account and live for personal accounts). They would need to move their API to the new clean stack, but this would not necessarily work on premise.

The issue here is that OAuthCredentials is trying to validate the token whereas it should not: it's client code and the client shoud **never** look in

[2019-07-17 12:48] dsanghan commented on #1274
Hmm, ok. I tried using the token directly, but that gives a strange 403 - no error description, just a 403 status.

[2019-07-17 13:31] bgavrilMS commented on #743
ACK, I can repro this.

[2019-07-17 13:42] bgavrilMS commented on #743
So it looks like the scopes that are sent are not identical to the scopes that are sent. In particular, we send these to the token endpoint:

Files.ReadWrite Files.ReadWrite.All offline_access openid profile User.Read **User.ReadBasic.All**

and we get back:

Files.ReadWrite Files.ReadWrite.All openid profile User.Read **User.ReadWrite**

We store the AT along with the scopes that we receive from

[2019-07-17 13:46] jmprieur commented on #743
@bgavrilMS : I think that this is what Dejan proposed. There is an aPI review about this problem.
@psignoret : do you have an explanation for the scopes?

[2019-07-17 13:47] bgavrilMS commented on #743
Note that this only happens with an MSA account. AAD accounts return User.ReadBasic.All

[2019-07-19 01:57] minghan commented on #778
@bgavrilMS  Please re-open this bug.

[2019-07-19 04:43] jennyf19 opened #1276 "[Bug] MSAL.NET throws a MsalClientException and not a MsalServiceException for the reset password exception from AAD B2C"
**Which Version of MSAL are you using ?**
First noticed in 4.1, but not sure which version introduced the change in behavior

**Platform**
mobile, desktop, web app

**Repro**

example, include this code:
[code]
Can be tried w/B2C desktop sample.

**Expected behavior**
MSAL.NET should throw a `MsalServiceException` with the following error message:
`AADB2C90118: The user has forgotten their passwor

[2019-07-19 13:24] ashikns opened #1277 "[Bug] ExtraScopesToConsent is not working as expected for accounts outside of the home tenant"
**Which Version of MSAL are you using ?**
MSAL 4.1.0

**Platform**
netcore console app, possibly existent on android too

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a

[2019-07-19 13:58] jmprieur commented on #1277
@ashikns, I agree that this should work, but I suspect that there is a provisionning issue.
To narrow down the issue, I've 2 questions:
- you use the default authority ("common"). Which audience did you register for your app? Does it work with a tenanted authority (https://login.microsoftonline.com/tenantId or https://login.microsoftonline.com/domain)?
- Did you try to invert the scopes and extra

[2019-07-19 14:49] ashikns commented on #1277
@jmprieur
- Both applications are set to allow login by any microsoft work or personal account.
- Yes it works if I ask token for the service. This is what I tried to describe in the Possible Solution section.

[2019-07-19 14:57] jmprieur commented on #1277
Thanks for confirming, @ashikns. I need to check on the Azure AD side
When you got this error were you login with an account from the same tenant as where the app was created? or a different tenant?

[2019-07-19 14:59] ashikns commented on #1277
Logging in from an account under the same tenant works. Personal accounts don't work. I have not tried with accounts from other tenants but our client reported that doesn't work either.

[2019-07-19 15:02] jmprieur commented on #1277
Thanks for @ashikns
My recommendation for the moment is to use the Web API for the scope. I'll check with the service people what we can do.

[2019-07-19 16:04] bgavrilMS commented on #1276
So what is happening is:

- Upon clicking on that URI, the server returns an url containg "ErrorCode=access_denied" and "ErrorDescription = AADB2C90118: The user has forgotten their password"
- This translates to an AuthorizationResult with Status = ProtocolError
- Based on this AuthorizationResult, we throw an MsalClient exception (logic [here](https://github.com/AzureAD/microsoft-authentication-

[2019-07-19 16:05] bgavrilMS commented on #1276
Workaround: catch MsalException instead.

[2019-07-19 16:07] jennyf19 commented on #1276
@bgavrilMS Thanks for investigating. I'll update the sample

[2019-07-19 19:29] bgavrilMS commented on #743
So the root cause for this seems to be an incorrectly configured app. The scope `User.ReadBasic.All` is an Application scope, so it cannot be returned in the context of a user. The scope `User.ReadWrite` is returned because it has been provisioned in the app registartion - AAD will create tokens that can be used with all provisioned APIs.

Solution: Stop requesting `User.ReadBasic.All` - this is a

[2019-07-19 19:29] #743 closed

[2019-07-19 20:10] bgavrilMS opened #1278 "[Feature Request] Throw on Declined scopes"
**Is your feature request related to a problem? Please describe.**
user asks a token for scopes A, B, C
user gets a token for scopes A, B

How can this happen?

- C has been declined (for example, it is an application scope requested in the name of a user - see bug https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/743)

Why is this a problem?

1. MSAL saves the AT with

[2019-07-19 23:31] henrik-me commented on #1263
@mpghelli : Does this https://stackoverflow.com/questions/52896045/error-failed-to-resolve-authenticationservices-aswebauthenticationsession-ref
answer your question?

[2019-07-19 23:36] henrik-me commented on #1267
@cormacpayne : We'll look into this. Sorry for the delay. Any reason you are not using the lastest MSAL?

[2019-07-21 02:29] mfeingol commented on #1264
Do you need a repro?

[2019-07-21 06:50] jmprieur commented on #1264
@mfeingol : yes please

[2019-07-21 15:01] jennyf19 commented on #1264
@mfeingol can you share the code you use for creating the public client and the acquire token calls? Thx.

[2019-07-21 16:40] mfeingol commented on #1264
Your official Xamarin sample exhibits the issue with code almost identical to my app, so I've updated and attached that.

[active-directory-xamarin-native-v2.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/3414803/active-directory-xamarin-native-v2.zip)

Let me know if you don't see the problem.

[2019-07-21 17:11] jennyf19 commented on #1264
@mfeingol thanks for the additional info. Will try the sample out

[2019-07-22 00:56] jennyf19 commented on #1276
@jmprieur I'm not clear how this is an enhancement and not a regression, as the expected behavior has changed w/out intention. Can you explain? Or, we can sync off-line too. Would like to make sure i have the same understanding as you of the definitions :) thanks!

[2019-07-22 17:30] cormacpayne commented on #1267
It looks like I was using the wrong endpoint for the scope -- changing it to `https://management.core.windows.net` instead of `account.Environment` (which resolved to `https://login.microsoftonline.com`) fixed the issue.

@henrik-me I'm using the same version of MSAL (and the extensions library) that VS is going out with.

[2019-07-22 17:30] #1267 closed

[2019-07-23 05:09] henrik-me commented on #1278
@bgavrilMS : I'm not sure this was finally confirmed

[2019-07-23 13:41] mpghelli commented on #1263
Hi. I dont think so.

I dont want to downgrade de library to a preview version. It should work in a actual version.

[2019-07-23 16:33] henrik-me commented on #1263
I don't suggest to downgrade. Did you update VS and all the Xamarin components?
See also: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/852

[2019-07-23 16:44] henrik-me commented on #1276
Absolutely a regression. Assuming when this is fixed we will have improved test coverage for the exceptions. Aside: The sample is doing something it really shouldn't do thus there should probably also be an update to the sample.

[2019-07-23 16:55] henrik-me commented on #1271
@dwightbennett : Can you pls. share a bit more of your code and how you are using the factory? In the call to MSAL .NET you specify and object of type IMsalHttpClientFactory.
Did you create your own class? See e.g. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/HttpClient
Not sure exactly where/how this is failing however if you have a sample that would be great.

[2019-07-23 16:59] henrik-me commented on #1271
Not sure which limitations WebAssembly has, however it's very likely that the http stack is a bit different and thus something has to bridge that. Perhaps netcore/blazer already has functionality for this?

[2019-07-23 17:00] henrik-me commented on #1271
A few relevant links:
https://devblogs.microsoft.com/aspnet/blazor-now-in-official-preview/
https://dotnet.microsoft.com/apps/aspnet/web-apps/client
https://github.com/aspnet/Blazor

[2019-07-23 17:09] henrik-me commented on #1180
@jmprieur : Shouldn't we just close this instead?

[2019-07-23 17:17] henrik-me commented on #715
@jmprieur : Is this issue still relevant? I believe we support null and empty scopes. not sure if we handle the std. oidc scopes nicely though. Did you get to validate current behavior? Perhaps this can be boiled down to ignoring if oidc scopes are passed in?

[2019-07-23 17:20] henrik-me commented on #580
@jmprieur : did you consider this further? I suggest closing or prioritizing

[2019-07-23 17:22] henrik-me commented on #640
@bgavrilMS @jmprieur : Was this ever re-tested? I suggest won't fix given MSAL has shipped and it would probably be a breaking change if we need to change type?

[2019-07-23 17:24] henrik-me commented on #636
Marking for 4.3. Validate if still relevant and explore options if it is.

[2019-07-23 17:26] trwalke commented on #1270
Hi @Crazyconv I believe I have a working solution for you. Do you have an email where I can send a preview nuget for you to verify the fix?

[2019-07-23 17:27] henrik-me commented on #592
@bgavrilMS : still relevant? Putting this in 4.3.
@jmprieur : fix or close? (#Supportability)

[2019-07-23 17:30] henrik-me commented on #425
We are still awaiting for the service to be able to support sign-out. Also this needs to be aligned with other libraries to ensure consistent behavior.

[2019-07-23 17:31] henrik-me commented on #670
@jmprieur : let's prioritize completing this? (easier sign-off on releasees)

[2019-07-23 17:42] brentschmaltz commented on #670
OK @GeoK put together the Wilson work.

[2019-07-23 17:57] MarkZuber opened #1280 "Update iOS Broker Logic and re-enable WithBroker"
Current broker logic always does interactive flow first and only if msauth:// is in the auth code response (meaning broker isn't installed and MAM/CA policy is required) will we launch the broker.

Broker logic should do this in InteractiveRequest:

If IsBrokerEnabled (by developer)
	if CanOpenUrl(msauth://) {
	   send request to broker
	} else {
    try interactive flow
  }
}	else {
  show intera

[2019-07-23 19:40] dwightbennett commented on #1271
Thanks @henrik-me for the suggestion.  I added the WithHttpClientFactory method to the builder and implemented the factory for blazor.  The next error I received was platform not supported.  I will strip down my code to bear bones and try to get you an example project posted tonight or tomorrow morning.

[2019-07-23 21:27] MarileeTurscak-MSFT opened #1283 "[Documentation]"
### Documentation Related To Component:

### Please check those that apply

- [x ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue

.WithSignedAssertion() should be .WithClientAssertion(). This was confirmed with the product group and the release notes are the only place where this has not be

[2019-07-23 21:29] MarileeTurscak-MSFT commented on #1283
Closing as it seems this is being resolved internally.

[2019-07-23 21:29] #1283 closed

[2019-07-23 21:35] #1144 closed

[2019-07-23 21:35] #1148 closed

[2019-07-23 21:35] #1201 closed

[2019-07-23 21:35] #1230 closed

[2019-07-23 21:35] #1245 closed

[2019-07-23 21:35] #1249 closed

[2019-07-23 21:35] #1259 closed

[2019-07-23 21:37] MarkZuber commented on #580
This only works on Windows.  The developer can use the callback to fire off ETW events if that's desired but I don't see a need to implement it in the core library.

[2019-07-23 21:37] #580 closed

[2019-07-23 22:45] jmprieur commented on #1180
@henrik-me : yes, I agree

[2019-07-23 22:45] #1180 closed

[2019-07-23 22:47] #640 closed

[2019-07-24 02:09] mpghelli commented on #1263
Yes.

The error didnt occur On Visual Studio, but On AzureDevops Build Pipeline. I managed to make it work with Mac OS hosted agent using a console script similar to the existing On link you have passed. But i could not make it work in a custom agent, even with Xcode and mono updated, using the console script or dont.

[2019-07-24 02:27] Crazyconv commented on #1270
@trwalke Thanks for the quick response. My email is conanconv@gmail.com.

[2019-07-24 02:44] henrik-me commented on #1263
not sure, this works on our Azure DevOps build pipelines. @bgavrilMS @trwalke thoughts?

[2019-07-24 07:46] tipa commented on #1095
the new API doesnt seem to be available to me after updating to v4.2, am I missing something?

[2019-07-24 16:09] dwightbennett commented on #1271
@henrik-me I created a repo of a really simple blazor app with a login button that makes a call to login interactively.  [BlazorMsal](https://github.com/dwightbennett/BlazorMsal) You will need to add in client/application id, redirect uri, and authority in the StartUp.cs for the page to load.  You can then see it hits the error found here [WebUIFactory](https://github.com/AzureAD/microsoft-authent

[2019-07-24 17:05] jennyf19 opened #1285 "[Bug] System browser not on by default in iOS and Android"
**Which Version of MSAL are you using ?**
4.2

**Platform**
 xamarin android, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Repro**
Do AT

[2019-07-24 18:08] henrik-me commented on #1095
@MarkZuber investigating

[2019-07-24 18:09] MarkZuber opened #1286 "Java cache tests failing on Azure DevOps build machines"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.1.0 / MSAL 4.2.0

Java cache tests are failing on the azure devops machine.  Looks like maven is missing on the image.  Tests are disabled until this is resolved.

[2019-07-24 18:15] trwalke commented on #1286
very strange, according to the details of the hosted agent maven 3.6.1 should be installed
https://identitydivision.visualstudio.com/IDDP/_settings/agentqueues?queueId=90&view=details

![image](https://user-images.githubusercontent.com/30090357/61817805-40b1b100-ae04-11e9-9911-18ee0d46497c.png)

[2019-07-24 19:08] henrik-me commented on #1271
@dwightbennett : thanks. We will take a closer look. Not sure right now on the actual timeline but hoping we can at least get a first glance at this in the next few weeks.
CC: @jmprieur

[2019-07-24 19:30] fuocor opened #1289 "OBO Flow through a PublicClientApplication"
**Which Version of MSAL are you using ?**
3.0.7

**Platform**
netcoreapp3.0 on windows 10

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [x ] OBO
* Web API
    * [x ] OBO

**Is this a new or existing app?**
New ap

[2019-07-24 20:50] trwalke commented on #1263
Have you tried remote connecting to the custom agent and building from VS manually? If you are able to manually build from VS on the custom hosted agent then azure devops should be ale to build on the same machine.

[2019-07-24 22:12] #1095 closed

[2019-07-24 22:12] #1285 closed

[2019-07-24 22:28] henrik-me commented on #1095
Thanks @tipa for raising this. We found the issue and have 4.2.1 out which does this right on all platforms.

[2019-07-24 22:32] mpghelli commented on #1263
Hi.

It build On Visual Studio For Mac installed On custom agent.

[2019-07-25 01:49] jmprieur commented on #1289
@fuocor, please have a look at:
- this scenario landing page: [Scenario: Web API that calls web APIs](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-overview)
- this sample [ASP.NET Core Web API tutorial](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph)
to understan

[2019-07-25 12:35] fuocor commented on #1289
thanks for the reply, but my scenario not exactly what is described.

I have a PublicClientApplication calling web API who then wants to call another web API.
The guy in the middle needs the OBO flow but cannot acquire it using the access or id token supplied by the PublicClientApplication.

rich

[2019-07-25 13:33] jmprieur commented on #1289
@fuocor what would be the flow available for the guy in the middle?
See [Authentication flows and application scenarios](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios) ?

If none, then can you draw a picture with what is possible?

[2019-07-25 14:25] jennyf19 commented on #1264
@mfeingol @omghb I just tried with the repro you provided w/and Android device (pixel 2) and could not reproduce the issue. I updated to the latest version of MSAL 4.2.1.

I also have not run into this issue when testing w/our samples lately...can you try w/4.2.1?

[2019-07-25 14:27] sameer-kumar opened #1291 "MSAL for Integrated Windows Authentication Kerberos"
I've my asp.net mvc dotnet application running in IaaS boxes. Authentication is handled via on-prem AD using Kerberos and Ping federation. Is there any workflow supported using MSAL for IWA and web applications?
I see this doc [here](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-Integrated-authentication-on-Windows-(Kerberos)) but it demonst

[2019-07-25 15:10] fuocor commented on #1289
![scenarios-with-users](https://user-images.githubusercontent.com/15656129/61885607-1a574880-aecc-11e9-95f0-a0d61ce48abf.png)

The user signs in to the PublicClientApplication on the left which sends a token to the service in the middle in order to use it for calls the downstream service.

All the applications are in the same active directory tenant, and I've tried sending the access token and id

[2019-07-25 15:16] jmprieur commented on #1289
@fuocor  . I think you mismatch the scopes. Can you please share the scopes that you used in your public client application to get a token for your middle tier application? and then in your middle tier application to call your Web API?

Ideally, share the acquire Token calls you've used

Did you you try the OBO samples I pointed you to ? (and did you read the README.md) ?

[2019-07-25 15:58] fuocor commented on #1289
I have worked with OBO using direct rest calls without issue. I will post an example this afternoon.

[2019-07-25 18:31] fuocor commented on #1289
I figured out the problem.
The PublicClientApplication has to request an access token for a scope from the web API (ie. not "https://graph.microsoft.com/.default").
That access token can be use used by the Web API ConfidentialClient to execute the OBO from which a graph token can be aquired.

[2019-07-25 19:12] msabansal commented on #891
@jennyf19 @jmprieur The sample from https://github.com/microsoftgraph/aspnetcore-connect-sample (modified to use certificate) still doesn't work with the new version. It only works when the call on this line https://github.com/microsoftgraph/aspnetcore-connect-sample/blob/226d820a5bdf4b2cfde46749107d7cc571fc7761/MicrosoftGraphAspNetCoreConnectSample/Helpers/GraphAuthProvider.cs#L69 uses tenant'ed

[2019-07-25 23:08] mfeingol commented on #1264
4.2.1 appears to work with my app on Android, so I'll consider this fixed.

That said, you might want to check with 4.1.0 just to make sure that you can reproduce the issue before calling it fixed.

[2019-07-26 00:09] trwalke opened #1292 "MSAL ignores custom ports set on authority URI's"
**Which Version of MSAL are you using ?**
4.2.1

**Platform**
all

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [x] Integrated Windows Auth
    * [x] Username Password
    * [x] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [x] OBO
* Web API
    * [x] OBO

**Repro**
Try making an interactive call to the authority "https://

[2019-07-26 02:43] jmprieur commented on #1289
Thanks for confirming you had a scope mismatch

[2019-07-26 02:43] #1289 closed

[2019-07-26 06:18] omghb commented on #1264
The version 4.2.1 seems to fix this issue in my App. Sign-in works again on Android.

[2019-07-26 09:01] jennyf19 commented on #1264
@mfeingol @omghb I tried w/4.1 and 4.2.0 w/embedded webview and system browser and could not reproduce the issue. Going to close this, as you've both confirmed that 4.2.1 works, but please reopen if you see this again. Thanks for bringing this to our attention.

[2019-07-26 09:02] jennyf19 commented on #1264
@mfeingol @omghb and I confirm this is working in 4.2.1. I was not able to reproduce in earlier versions, closing this issue.

[2019-07-26 12:29] bgavrilMS commented on #535
![image](https://user-images.githubusercontent.com/12273384/61951596-6330ff00-afa9-11e9-9203-e4b93d78a8b8.png)

[2019-07-26 13:00] jennyf19 opened #1293 "[Feature Request] Remove requirement for including /tfp/ for B2C"
**Is your feature request related to a problem? Please describe.**
If you are using B2C, you have to pass in this authority:
`https://{tenantName}.b2clogin.com/tfp/{tenant}/{policyName}`

Most B2C users do not use `/tfp/` anywhere in their code, so it doesn't make sense to require it for MSAL libraries as part of the authority. Leads to confusion.

**Describe the solution you'd like**
Braindump:
-

[2019-07-26 17:20] TiagoBrenck opened #1294 "[Feature Request] HasTokens property on the Token cache serialization argument"
**Is your feature request related to a problem? Please describe.**
As discussed on this thread, https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/130, an empty `MsalCacheItemBase` JSON is generated when clearing the token cache. This is not that harmful but we could avoid saving this empty JSON structure.

**Describe the solution you'd like**
As suggested

[2019-07-27 09:05] jennyf19 commented on #636
@nhsimarsden @WilliamWatterson86 Apologies for letting this issue slip through. :/ Can either of you confirm that this is still happening with the latest version of MSAL 4.2.1? I have not been able to reproduce it. Thanks so much.

[2019-07-27 16:59] WilliamWatterson86 commented on #636
@jennyf19 I haven’t seen it either, so looking good

[2019-07-27 20:19] jennyf19 commented on #636
@WilliamWatterson86 thanks for the quick reply.

@henrik-me I'll let you decide how to proceed on this.

[2019-07-29 01:48] jennyf19 commented on #1276
@henrik-me @jmprieur  ...so here's the [commit where the change happened](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/commit/1c9147e1fd458805a29cf24a1c1667bba3bc13eb#diff-f250a3c721318d17c5faaeb8a8b30cdfL255), i think, because the changed happened between 3.08 and 4.0 release, and this commit changes from catching a client exception to a service one. I haven't had any cu

[2019-07-29 08:11] bgavrilMS commented on #636
Closing issue if it can't be reproduced. Please reopen if new information arises.

[2019-07-29 08:45] jaymins93 commented on #1213
i ran in to same issue , waiting for update

[2019-07-29 10:54] skhushalani opened #1297 "[Unsupported scenario] OBO for Service Principal fails using MSAL (client info is null)"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

MSAL.net v 4.2.1

**Platform**

.Net Core

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [

[2019-07-29 12:04] bgavrilMS commented on #1213
CC @jennyf19 who may be able to get an update from the B2C team on allowing http://localhost redirect uri

@jmprieur @henrik-me - as an alternative, we could investigate MSAL for .Net Core 3 with WinForms support. This will require a bit of fiddling around:

- integration with msbuild extras sdk (someone has already done a WPF migration https://github.com/onovotny/MSBuildSdkExtras/issues/135)
- ma

[2019-07-29 13:55] jmprieur commented on #1297
@skhushalani : This is expected: OBO *for service principals* is not a supported scenario yet in 3rd party applications.

[2019-07-29 15:34] crmann1 opened #1298 "[Bug] With FOCI enabled windows integrated auth does not return foci ID"
**Which Version of MSAL are you using ?**
4.2.0

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
desktop

Other? - please describe;

**Is this a new or existing app?**
VS

**Repro**
 var publicClient = PublicClientApplicationBuilder.Create(clientID WITH FOCI)
                                      .WithAuthority(AzureCloudInstance.AzurePublic, AadAuthorityAudience

[2019-07-29 15:36] bgavrilMS commented on #1298
As far as I know, this is by design. FOCI was invented to circumvent the need for interactive auth, however IWA is not interactive so FOCI is not needed. The server will not send us "foci=1".

How are you affected? Is it a perf issue or are you seeing other failures?

[2019-07-29 15:43] jmprieur commented on #1298
@bgavrilMS : the refresh tokens which does not have FOCI overrides the ones which has foci=1 ..

[2019-07-29 15:46] henrik-me commented on #1213
@bgavrilMS : Thanks for the suggestions. I would like to be mindful of the time we have available for this investigation and ideally not bring something on this until netcore 3 has shipped. Will be happy to take contributions from people on this thread as well as others.

[2019-07-29 15:48] bgavrilMS commented on #1298
Have you observed this in the token cache? We store foci and non-foci refresh tokens different keyes in the cache.

[2019-07-29 16:16] bgavrilMS commented on #1298
Discussed with @jmprieur and I understand what is happening.

The server will only send the FOCI=1 flag on `AcquireTokenInteractive` and `AcquireTokenSilent` via refresh token. But if you use any other flow (e.g. IWA, ROPC or Device Code Flow) in conjunction, then the server does not send this flag. MSAL will then assume that the app is not part of the family and mark it as such, which breaks SSO.

[2019-07-29 17:24] rayluo commented on #1298
Thanks for the nudge. I would personally vote for "for server to send Foci=1 in all flows" because that would be semantically more correct: a family app is a family app, it should not suddenly "become" or behave as a non-family app only because it uses a different flow.

The other way, "(for the app/sdk) to set AppMetadata only in response to `AcquireTokenInteractive` and `AcquireTokenSilent`", lo

[2019-07-29 17:25] jennyf19 commented on #1213
@bgavrilMS there is no ETA yet, but this work is planned for Q1. Once I get a work item link, I'll forward it to you.

[2019-07-30 00:11] henrik-me commented on #1276
@jennyf19 @jmprieur : I suppose we should consider fixing this as it's a regression betwen 3 and 4. 4.3 seems like a good vehicle for this change imo.

[2019-07-30 03:43] jmprieur commented on #1276
yes agree. even if this is a behavioral breaking change.

[2019-07-30 08:54] nweseloh opened #1300 "IConfidentialClientApplication.GetAccounts() does not return any accounts if static In-Memory-TokenCache was reset"
**Which Version of MSAL are you using ?**
MSAL 4.2.1

**Platform**
.NET Core

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing a

[2019-07-30 15:14] jmprieur commented on #1300
@nweseloh : As you wrote yourself, if you use an in-memory cache, then each time the app is restarted, the memory is lost.

We have been providing all kind of caches in this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-2-TokenCache, and we advise you rather look at that sample which already shows how to sign-in with

[2019-07-30 16:22] henrik-me opened #1301 "[Bug] Perf degradation in Confidential Client flow"
Copy of
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1630

Evaluate if this issue also exists in MSAL

ADAL version: 5.0.5
ADAL version where this doesn't repro: 3.13.7

[code]

Our most recent deployment shows that dependency call as taking longer and longer over time, eventually resulting in our service being unable to handle any more requests. Strangely enough othe

[2019-07-30 23:07] MarkZuber opened #1304 "[Bug] Set exception on TCS so it is thrown in correct place"
**Which Version of MSAL are you using ?**
MSAL 3.0.8, MSAL 4.2.1

**Platform**
Net45

Set exception on TCS so it is thrown in correct place given VS/Watson crash reports.

[2019-07-30 23:07] MarkZuber commented on #1304
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1302

[2019-07-31 08:56] bgavrilMS commented on #1301
Following up with the customer, this needs more investigation. Most likely  external.

[2019-07-31 09:28] bgavrilMS commented on #592
I had a look at this and I propose we fix it by removing the custom exception from .net (this is a breaking behavioural change though), but then again so is the proposed change.

The reasons:

- Network is down exceptions are fairly common and app developers should treat them. Even a generic "Something went wrong" message would do.

- MSAL makes many calls to the network, such as discovery calls.

[2019-07-31 15:06] jmprieur commented on #592
This makes sense to me.
Let's provide guidance, then. Let's show this in our sample and the Mobile scenario landing page, as well as the error handling wiki/docs.ms page?

[2019-07-31 20:13] joemather opened #1308 "Customize the Embedded WebView screens in Xamarin"
How do we customize the embedded webview screens in Xamarin.Android and Xamarin.iOS?

Specifically, I'd like a top bar that matches the styling of the other screens in my app.

On Android, AuthenticationAgentActivity doesn't have a support Toolbar and there doesn't seem to be a way to add one.  On iOS, MsalAuthenticationAgentUINavigationController is there, but it doesn't seem customizable.

I don

[2019-07-31 23:04] henrik-me commented on #1308
@joemather : We currently do not support customizations and have no current plans of doing this. Can you pls. share a bit more on what kind of customizations you would like, e.g. as Mocks?

CC: @jmprieur

[2019-08-01 00:54] FrankHu-MSFT opened #1311 "[Feature Request] More Docs/Explanation on Logging - Add Logging Result Samples"
**Is your feature request related to a problem? Please describe.**
**A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]**

No, this is not related to an issue. This is a doc feature request asking for more information in regards to the logging. Could you all please provide more information in regards to logging? For example some sample logs of what the res

[2019-08-01 02:27] jennyf19 commented on #1308
@joemather If you're looking to customize the UI, you can look into [AAD B2C](https://azure.microsoft.com/en-us/services/active-directory-b2c/) which allows you to customize the log-in screen. Not sure if that is an option for you though.

[2019-08-01 02:40] henrik-me commented on #592
I'm ok with this. Only reason to consider leaving is the consideration for a major version bump.

[2019-08-01 02:41] dmprantz opened #1312 "[Feature Request] Allow non-interactive authentication using OIDC"
**Is your feature request related to a problem? Please describe.**
When calling PublicClientApplication.AcquireTokenByUsernamePassword the behaviour is to call the IdP and get a User Assertion using WS-Trust and SAML.  This is not the same behaviour as PublicClientApplication.AcquireTokenInteractive, which uses OIDC directly.  This behaviour is inconsistent and leads to problems in situations wher

[2019-08-01 09:38] bgavrilMS commented on #1312
What IdP do you use that doesn't work? Do you use AAD, ADFS or B2C? If you're using AAD, do you use it with an @outlook account or with a corporate account?

[2019-08-01 10:50] #1008 closed

[2019-08-01 11:44] dmprantz commented on #1312
We are using mixed mode AAD and ADFS.  The WS-Trust call goes into ADFS, and fails there.  I do not have control over the ADFS system and have asked the team who does to resolve through reconfiguration, however even if this can be resolved, I fail to see why it makes sense to authenticate using two different approaches depending on the where the password comes from.

[2019-08-01 11:47] bgavrilMS commented on #1312
No I agree, MSAL should behave in a similar way across AAD and ADFS.

When you say that you use ADFS:

- is it ADFS 2019?
- do you interact with it directly? Meaning that you when you create the PublicClientApplicaiton object, do you set the authority as being the ADFS url?

[2019-08-01 13:59] dmprantz commented on #1312
Good :)

No.  ADFS 2016.

PublicClientApplication is configured to use AAD (AzureCloudInstance = AzureCloudInstance.AzurePublic)  I believe the flow is that it looks up the authentication provider using QueryUserRealmDataAsync and then attempts WS-Trust for federated users.  When logging in interactive, users are still redirected to ADFS, but this succeeds.  I don't believe this is performing a WS

[2019-08-01 14:22] dmprantz commented on #1312
I meant to include this article which documents the differences in behaviour.

https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/msal-net-adfs-support

It says it does not support direct communication with ADFS 2016.  Does that mean that my use case is not valid, or is a Federation partner not what is being discussed?  I have the same results (same code) with ADAL.net.

[2019-08-01 14:34] bgavrilMS commented on #1312
No, it is a valid use case. If you set your authority to AAD (which you do), then AAD will federate the flows to your ADFS.

In fact we even have integration tests for the ROPC flow for ADFS 2016 (UsernamePassword):
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/b6cda49edbba9bb88f380ddf0b7e482e0bc727f9/tests/Microsoft.Identity.Test.Integration.net45/HeadlessTests/Usern

[2019-08-01 16:22] dmprantz commented on #1312
I am seeing two different issues, and I JUST figured out why the disparity, and it's due to internal DNS issues.  Let's skip the first issue itself, except for the potential bug that it uncovered:

"internal async Task<WsTrustResponse> GetWsTrustResponseAsync" sometimes returns a null.  When I force this to happen, I see that Authentication is failing with "MSIS7068: Access denied."  The null is r

[2019-08-01 19:02] jennyf19 commented on #1293
@jmprieur and I synced on this...we are leaning towards something like this:

- Remove `.WithB2CAuthority` and use introduce `.WithAuthority(string authorityBase, string trustFrameworkPolicy)`, which would look like this:

`.WithAuthority("https://catsCity.b2clogin.com", "b2c_sisu")`

And have `.WithTrustFrameworkPolicy(string trustFrameworkPolicy)` on the AT builders, as MSAL will already know th

[2019-08-01 20:19] shripathi-kamath commented on #425
Any progress on this?  Or any workarounds?  The use case for me is the desktop.  I need to implement an inactivity timeout to sign out the logged in user and prompt him to log in again.  Trouble is, the sign-on screen shows the last logged in user as already logged in.  Despite removing the accounts as described in the API.

[2019-08-01 21:43] henrik-me commented on #1293
Does anyone but B2C use this terminology? Will this (ever) be relevant for AAD/MSA?

[2019-08-01 22:02] jennyf19 commented on #1293
@henrik-me You're referring to TrustFrameworkPolicy? I'm not sure, but can find out.

[2019-08-02 01:40] henrik-me commented on #592
Fix for consistency means the library will not handle network down type of errors.

[2019-08-02 03:11] valnav commented on #1293
With external identities- we are bringing trustFramework to AAD. Initially only for 1 policy in AAD for Vibranium

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jennyf19 <notifications@github.com>
Sent: Thursday, August 1, 2019 3:02:23 PM
To: AzureAD/microsoft-authentication-library-for-dotnet <microsoft-authentication-library-for-dotnet@noreply.github.com>
Cc:

[2019-08-02 05:44] henrik-me commented on #891
@jennyf19 : reactivating to start investigation.

[2019-08-02 05:44] henrik-me commented on #891
CC: @jmprieur

[2019-08-02 06:00] henrik-me commented on #1278
This is a breaking change. Considering having an opt-in option for change of behavior to avoid making this a breaking change (can then decide to make it on by default as part of a major version update). For now placed this in the "Future Major Version Update" until we agree on the potential opt-in option.

[2019-08-02 08:32] bgavrilMS commented on #1278
Makes sense Henrik. We currently have feature flags, but don't have a way to expose them to the user. I doubt this feature will interest anybody, so we can just schedule it as part of our next major release.

[2019-08-02 10:04] bgavrilMS commented on #1311
I updated our wiki with more details, including example logs

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

[2019-08-02 10:04] #1311 closed

[2019-08-02 12:59] bgavrilMS commented on #425
Hi @shripathi-kamath - you have some control over the browser by using the `.WithPrompt` method. AFAIK Prompt.ForceLogin will always force the user to enter their password.

[code]

[2019-08-02 13:27] bgavrilMS commented on #1301
As discussed with customer, this occurs in ADAL when the default Shared cache is used. MSAL does not have this concept - by default a new in-memory TokenCache is used per PCA or CCA instance.

[2019-08-02 13:27] #1301 closed

[2019-08-02 19:06] shripathi-kamath commented on #425
Thank you, kindly, Bogdan.  I tried your suggestion and it appears to be adequate for my workflow.

[2019-08-03 04:28] henrik-me commented on #1278
ack, thanks.

[2019-08-05 12:04] groyal commented on #1213
Hi I would like to register our interest in this problem too. We are developing on dotnet core 3 preview 7 and WPF application.
We have the same issue, that the only way to authenticate is local loopback to default browser.
Our preference is to have behavior the same as Net Framework and UWP ie pop up login.

dot net core <3.0.0-preview7-27912-14>
Identity Client <4.2.1>
Thanks
greg

[2019-08-05 12:49] bgavrilMS commented on #1213
This work item is not scheduled for now, and we will probably not tackle it until .NET Core 3 is released with a non-preview tag.

You can however implement your own, MSAL has an extensibility point that allows you to bring your own browser:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/CustomWebUi

[2019-08-05 14:41] robiharid opened #1316 "Xamarin.Forms ClientSecret Authentication"
Confidential Client Credential flow is disabled on mobile platforms
(https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-credential-flows#availability)

But the article does not even suggest an alternative way of doing it.

What options do I have to authenticate a service account for my Xamarin forms app.

[2019-08-05 14:43] bgavrilMS commented on #1316
You may only use Public Client Application, namely the Interactive flow, to get tokens. This is because on a mobile app, you cannot safely deploy a secret.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively

[2019-08-05 15:17] robiharid commented on #1316
Thank you.

I am not concerned with deploying secrets, this is a private app.

I have acquired tokens interactively previously. Is there any way we can do it without user interaction? Passing a service account username and password seems to be much more unsecure than passing client secrets.

My end goal is to simply read a list of users in the current AD group. No admin permissions.

[2019-08-05 15:23] bgavrilMS commented on #1316
When you get a token interactively, MSAL will actually fetch a Refresh Token as well as an Access Token. The Refresh Token can be silently used to get fresh ATs, and it has a default expiration of 3 months (rolling). All you need to do is invoke `AcquireTokenSilent`.

We don't expose Confidential Client flows on mobile because we want to guide developers to better security. If you know what you ar

[2019-08-05 18:39] msminski opened #1317 "On behalf of flow returning AADSTS50013: Assertion failed signature validation"
Hi:
We have been trying to make a transition from ADAL to MSAL.

While validating my On-Behalf-Of flow, our call was returning "Assertion failed signature validation."

Full error message from the call:
{"AADSTS50013: Assertion failed signature validation. [Reason - The provided signature value did not match the expected signature value., Thumbprint of key used by client: 'FAA38DEAC2FDDFC470BFCE74

[2019-08-06 06:22] jmprieur commented on #1317
@msminski : please contact "Identity DevEx DotNet Team" directly as this is 1P.

[2019-08-06 10:15] robiharid opened #1319 "Azure AD Single Tenant not working"
I am trying to sign onto my Xamarin app using my @company.com email address. However, signing in gives me this issue:

Message:  AADSTS50194: Application 'id'(AppName) is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

My Ap

[2019-08-06 10:37] bgavrilMS commented on #1319
Hmm, I'm not sure I saw this error before. If you go to your application registration, have a look at the manifest, what does the signInAudience say?

`	"signInAudience": "AzureADandPersonalMicrosoftAccount",`

Also, are you allowed to change this value from the UI?

![image](https://user-images.githubusercontent.com/12273384/62532901-5e880880-b83d-11e9-8d6a-408eafea0df5.png)

**Potential solution

[2019-08-06 10:41] bgavrilMS opened #1320 "[Bug] WithAuthority ignores WithTenantID"
**Which Version of MSAL are you using ?**
4.2.1

**Platform**
all

**What authentication flow has the issue?**
public client builder
possibly the acquireToken* API as well

**Repro**

[code]

**Expected behavior**
PCA should be constructed - it has enough info.

**Actual behavior**
InvalidOperationException (!!) with message:

`System.InvalidOperationException: 'When specifying AadAuthorityAudienc

[2019-08-06 10:43] bgavrilMS commented on #1319
You can find out more about authorities here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-Applications#authority-instance--audience

[2019-08-06 10:59] robiharid commented on #1319
Perfect, thank you!

The signInAudience originally said AzureADMyOrg, I had to change to ADandPersonal but now it is back to MyOrg after I used your fix!

Side question: Where can I change the Access Token expiration? Is this done from App Registrations?

My code looks like this:
`
                    if (TokenForUser == null || expiration <= DateTimeOffset.UtcNow.AddMinutes(5))

[2019-08-06 11:07] bgavrilMS commented on #1319
I am not sure where you can change that, but I don't think you should worry too much:

- MSAL will handle token expiration for you, you don't even need to check
- MSAL will use a refresh token to fetch brand new access tokens silently as long as you call `AcquireTokenSilent`

Check https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-to

[2019-08-06 11:22] bgavrilMS commented on #1319
Closing the issue for now, feel free to reopen if the original ask is giving you problems

[2019-08-06 11:22] #1319 closed

[2019-08-06 11:23] bgavrilMS commented on #1316
Closing the question / issue

[2019-08-06 11:23] #1316 closed

[2019-08-06 11:51] robiharid opened #1321 "Invalid object identifier accessing members list in Graph groups"
I am trying to read the list of users in my organization.

I have successfully authenticated as a user in my organization through the AcquireTokenInteractive method. and I am passing in my AuthProvider to the GraphClient.

I get the error: Invalid Object Identifier following the docs here: https://docs.microsoft.com/en-us/graph/api/directoryrole-list-members?view=graph-rest-1.0&tabs=csharp

My cod

[2019-08-06 13:28] jmprieur commented on #1321
If you want to read all the users in your org, you'll probably want to use Users.ReadBasic.All, and use the /users ?

BTW this is not an MSAL.NET question, but a Microsoft Graph question ...

[2019-08-06 13:37] jmprieur commented on #1317
@msminski : the user assertion you are using is a token for Graph (the scope (scp) is "user.read"). You need to pass-in a token for the Web API that performs the On-behalf-of flow. Please see https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

[2019-08-06 13:39] #1300 closed

[2019-08-06 13:39] #1297 closed

[2019-08-06 13:56] robiharid commented on #1321
Thank you very much - apologies for mixing it up. Will post next time in Graph github. The users list is currently only retrieving 100 users. We can page data through the query string (https://docs.microsoft.com/en-us/graph/paging) but how can we do that through C#?

`
                var users = await _graphClient.Users
                    .Request()
                    .GetAsync();`

[2019-08-06 18:05] msminski commented on #1317
Thanks @jmprieur
I will make sure to contact above alias next time.
Will go through the documentation you've posted and then contact the alias if I need further clarification.

[2019-08-07 16:45] poizan42 opened #1324 "[Bug] "System.Security.Cryptography.CryptographicException: Invalid algorithm specified." when using certificate on NET 4.8"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

MSAL 4.2.1

**Platform**

net48

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username

[2019-08-07 17:03] poizan42 commented on #1324
If anyone else encounters this issue then the following workaround can be used until it is fixed:

[code]

Call Sha256NotSupportedWorkaround on the certificate before handing it off to the builder.

[2019-08-08 05:01] jennyf19 commented on #1244
@stezma this has been fixed and is in master branch. Feel free to verify. Will be in next release.

[2019-08-08 12:40] bgavrilMS opened #1328 "[Bug] Claims not sent to /authroize endpoint"
**Which Version of MSAL are you using ?**
4.3

**Platform**
all

**Problem**
According to the OIDC spec https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter claims is a parameter relevant to the /authorize endpoint.

MSAL only sends this param to the /token endpoint.

[code]

Actual: claims param sent in request to the **/token** endpoint but not to the **/authorize** endpoint
Exp

[2019-08-08 12:53] bgavrilMS commented on #1328
Spec on claims: https://identitydivision.visualstudio.com/DefaultCollection/IDDP/_git/first-party-docs/pullrequest/537?_a=files&path=%2Fdocfx-src%2Fdevex%2Fsdks%2Fclientcapabilities.md

Claims should actually be sent to both /authorize and /token endpoints

[2019-08-08 15:13] rhep49 opened #1329 "[Bug] Passwordless Experience not working when .WithLoginHint() used"
**Which Version of MSAL are you using ?**
MSAL v4.3.0

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app

[2019-08-08 15:24] bgavrilMS commented on #1329
@rhep49 - does this work as expected when you do not set .WithLoginHint ?

[2019-08-08 15:24] bgavrilMS commented on #1329
Or when you do not set .WithPrompt(ForceLogin) ?

[2019-08-08 15:28] rhep49 commented on #1329
@bgavrilMS  Passwordless does not work when the .WithLoginHint() method is used. If i exclude the method call (see below) the Passwordless experience works as expected.
[code]

[2019-08-08 15:31] bgavrilMS commented on #1329
Is this the recommended pattern to enable passwordless? Is this documented?

I am asking because the authentication flow is handled by AAD directly, MSAL is just hosting the browser. I will need to log a bug on the service for this.

[2019-08-08 15:43] rhep49 commented on #1329
Passwordless is still in preview:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone

I haven't seen any documentation in regards to recommended patterns for passwordless & the interactive flow.

[2019-08-08 16:18] bgavrilMS commented on #1329
So if you exclude the param, it will be set to Prompt.SelectAccount by default, i.e. the user will be presented with a list of accounts and they have to select one. Potentially they will skip authentication because they have already authenticated and there is a browser cookie to prove it (it's all secure).

If I understand correctly, your scenario is that you want users to ALWAYS perform authentic

[2019-08-08 16:33] rhep49 commented on #1329
Yes, our goal is to provide a Passwordless authentication experience with minimal interaction for a user known to our system. Our software runs on a shared computer and we do not want to remember user credentials for security reasons.

Example Scenario:
1. We obtain a username from a separate process in our application (user scans smart card and we map it to a username for example)
2. We call the

[2019-08-08 16:46] bgavrilMS commented on #1324
@trwalke - can you also take a look at this?

[2019-08-08 16:48] jennyf19 commented on #1304
Included in [4.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.3.0) release

[2019-08-08 16:48] #1304 closed

[2019-08-08 16:49] jennyf19 commented on #1280
Included in [4.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.3.0) release

[2019-08-08 16:49] #1280 closed

[2019-08-08 16:49] jennyf19 commented on #592
Included in [4.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.3.0) release

[2019-08-08 16:49] #592 closed

[2019-08-08 16:49] jennyf19 commented on #1276
Included in [4.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.3.0) release

[2019-08-08 16:49] #1276 closed

[2019-08-08 16:49] jennyf19 commented on #1270
Included in [4.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.3.0) release

[2019-08-08 16:49] #1270 closed

[2019-08-08 16:49] jennyf19 commented on #640
Included in [4.3.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.3.0) release

[2019-08-08 16:51] trwalke commented on #1324
Hi @poizan42, I have been working on a very similar issue already and the fix is currently in PR. Can you give me your email and I will send you a demo package with the potential fix to see if it also solves your issue?

[2019-08-08 16:56] trwalke opened #1331 "Fix certificate signing regression"
See PR for details https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1307

[2019-08-08 16:57] rhep49 commented on #1329
I was able to reproduce the issue calling AAD directly via Chrome. If I pass login_hint in the URL I am prompted for a password.

[https://login.microsoftonline.com/<TenantID>/oauth2/authorize?
client_id=<ClientID>
&response_type=id_token
&redirect_uri=http%3A%2F%2Flocalhost%3a12345
&response_mode=form_post
&scope=openid
&state=12345
&login_hint=<passwordless enabled user email>
&nonce=7362CAEA-9C

[2019-08-08 20:36] poizan42 commented on #1324
@trwalke You can send it to my work mail at kb AT cbrain.com

[2019-08-08 22:54] trwalke commented on #1263
Hi @mpghelli I have reached out to the xamarin team who owns the "AuthenticationServices.ASWebAuthenticationSession" api to see if they have any ideas on how to resolve this. I will update you with more info soon

[2019-08-09 14:01] bgavrilMS commented on #891
When using certificates, MSAL will create and sign a JWT that includes (among others), an `audience` claim. In MSAL.NET the value of this claim is the issuer, which is taken from the discovery endpoint. The problem arrises when using `common`.

According to the ESTS team:

`ESTS would accept either tenant specific issuer URL or **common token endpoint URL**`

Issuer (not good): https://login.micro

[2019-08-09 16:13] bgavrilMS commented on #1329
Makes sense @rhep49 - I created a bug on the internal tracker on the AAD service. I'll keep the thread updated once they reply.

[2019-08-09 17:23] rayluo commented on #891
@bgavrilMS Interesting topic. Quick question. If the authority is tenant-specific, would ESTS also accept its token endpoint (`https://login.microsoftonline.com/CONTOSO/oauth2/v2.0/token`) as a valid `aud`?

[2019-08-09 18:39] svrooij commented on #891
I really like all of you guys helping out to my original seemingly easy question/suggestion.

@bgavrilMS if your suggestion works that would be really nice. Think that might also need some extra documentation on the page describing the certificate client credentials. https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials

By the way I think the doc

[2019-08-09 18:42] dilansudharaka opened #1332 "[Bug] CCA CreateWithApplicationOptions forces use of ClientSecret, won't allow just Certificate usage"
**Which Version of MSAL are you using ?** 4.3.0

**Platform**
net46

**What authentication flow has the issue?**
 Web App
    * [ ] Authorization code

**Is this a new or existing app? Existing single tenant app. We were using ADAL so far, and working on migrating to MSAL.

**Repro**
We use OIDC and we do not have clientsecrets, instead we use certificates. So do not pass ClientSecret in the reque

[2019-08-09 19:03] MarkZuber commented on #1332
This looks like it's a bug with the CreateWithApplicationOptions where we force a ClientSecret usage.

[2019-08-09 19:07] bgavrilMS commented on #1332
I agree, @dilansudharaka - can you try to use the Builder for all those options. There are methods on the builder for each of them (.Create(<clientID>), .WithRedirectUri, .WithAudience, .WithLogging)

[2019-08-10 13:35] Skirtek opened #1334 "[Bug] NameNotFoundException: com.android.chrome"
**Which Version of MSAL are you using ?**
MSAL v4.0.0

**Platform**
Xamarin Forms 4.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
The app is i

[2019-08-12 06:14] Skirtek opened #1336 "[Bug] Java.Net.SocketException: Socket closed"
**Which Version of MSAL are you using ?**
MSAL v4.0.0

**Platform**
Xamarin Forms 4.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
The app is i

[2019-08-12 09:43] bgavrilMS commented on #1336
Hi @Skirtek - that exception seems to come from deep in the Android code. I believe it is indicative of a temporary network failure. MSAL just uses an HttpClient to contact AAD.

I suggest you add a retry policy before calling MSAL (pretty much any call that you need to await potentially accesses the network).

[2019-08-12 09:49] bgavrilMS commented on #1336
This may also be helpful: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/exceptions#retry-policy

[2019-08-12 12:28] bgavrilMS commented on #1334
Are you sure it's the Username / Password flow that you're using here? I'm pretty sure we don't call IsChromeEnabled except on Interactive flow. Username / Password is when your app collects the credentails on its own and passes them to MSAL (we discourage this for security reasons).

[2019-08-12 12:32] Skirtek commented on #1336
Thank you for your advice! Should I use method from library, write my own method or configure something in Azure?

[2019-08-12 12:38] bgavrilMS commented on #1336
MSAL doesn't offer retry policies and AAD doesn't offer this kind of functionality, so I would write my own. There are some good open source ones, e.g. Polly.

[2019-08-12 12:38] #1336 closed

[2019-08-12 17:01] #1334 closed

[2019-08-12 17:41] bgavrilMS commented on #1329
I managed to track down the engineering team responsible for Passwordless and they are aware of the issue and it is on their backlog. I'll update this thread when I learn about updates.

Consider finding an workaround like not using login_hint until then. Or log an ICM Incident if you'd like to escalate this.

[2019-08-13 17:28] trwalke commented on #1263
Hi @mpghelli The Xamarin team would like to know what version of Xamarin.iOS you are running on the agent.

You can check what version is installed with
"monop -r:/Library/Frameworks/Xamarin.iOS.framework/Versions/Current/lib/mono/Xamarin.iOS/Xamarin.iOS.dll | grep ASWebAuthenticationSession"

[2019-08-14 05:34] prajaybasu opened #1339 "[Tracking] FIDO2 Support"
Both [Microsoft](https://www.microsoft.com/en-us/microsoft-365/blog/2018/11/20/sign-in-to-your-microsoft-account-without-a-password-using-windows-hello-or-a-security-key/) and [Azure AD](https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Announcing-the-public-preview-of-Azure-AD-support-for-FIDO2/ba-p/746362) accounts support FIDO2 based logins using Windows Hello (i.e., FIDO2

[2019-08-14 11:09] youdhbir opened #1340 "Implementing permanent/persistent cookies in MSAL 4.x"
We're in the process of migrating from using ADAL to MSAL for asp.net core web application (.net core 2.2) and have a requirement to persist authentication cookie. We could do it in ADAL by setting expiry on sign in event like below but similar implementation in MSAL is not working. Can you please guide. Thanks.

ADAL Implementation:
------------------------
            services.AddAuthentication(

[2019-08-14 11:21] bgavrilMS commented on #1340
@kalyankrishna1 @TiagoBrenck  - is this something you ran into ?

[2019-08-14 13:38] mvancamp opened #1341 "[Bug] After Log-out, "use another account" does not work correctly"
**Which Version of MSAL are you using ?**
MSAL 4.1.0.0

**Platform**
.NET Framework 4.7.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new

[2019-08-14 14:09] bgavrilMS commented on #1341
I don't think OBO has anything to do here, because OBO is just getting a token based on another token. The first token you get is using interactive authentication, which is where you see the problem.

The reason this happens is that AAD will actually store some browser cookies so it knows who you are and you don't need a password. This is because you have logged in before.

You have some control o

[2019-08-14 16:06] jmprieur commented on #1341
@mvancamp are you using a tenanted authority ? or common? do you sign-in with a guest account?

[2019-08-14 16:13] jmprieur commented on #1340
@youdhbir did you set the session cookie as essential?

[code]

[2019-08-14 16:15] bgavrilMS commented on #1341
He's using the sample as is Jean-Marc.

https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2/blob/msal3x/active-directory-wpf-msgraph-v2/MainWindow.xaml.cs#L53

[2019-08-14 16:37] mvancamp commented on #1341
Hi, Thx for commenting. @jmprieur it is with a tenanted authority. @bgravilMS I will try with the ForceLogin prompt option and I’ll come back. From now until Sunday 25th I’m in holidays, hence the earliest I can get to it will be Monday 26th.

[2019-08-14 17:05] bgavrilMS commented on #1341
Sounds good. I'm going to close this because it's not a bug, but feel free to ask a question or reopen.

[2019-08-14 17:25] TiagoBrenck commented on #1340
@bgavrilMS  I haven't run into this yet

[2019-08-14 18:16] trwalke commented on #1324
@poizan42 Your email server has been rejecting our demo package so I sent you a one drive link. let me know if you have issues testing the demo package. If it works for you then this will be released shortly

[2019-08-15 12:43] techgeek03 opened #1342 "[Documentation] Use of ConfidentialClientApplication and TokenStore"
### Documentation Related To Component:
ConfidentialClientApplication and TokenStore

### Please check those that apply

- [ ] typo
- [X] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in example
- [X] needs example

### Description Of The Issue
I have a question regarding the use of the `ConfidentialClientApplication` and token caching that is not very clear in

[2019-08-15 13:00] ffwdq commented on #425
ForceLogin doesnt seem to work with social idps, is there a way around that?

[2019-08-15 13:46] bgavrilMS commented on #425
@ffwdq - ForceLogin sets a URL param of `prompt=login`. The prompt param is OAuth2 standard, but I don't think the values are. For example Google seems to allow only "none", "consent" and "select_account".

In fact, B2C recommends that you do not use Prompt and B2C wants to handle this on their own. I am not sure how to achieve your scenario with B2C, @jennyf19 - any ideas?

[2019-08-15 14:47] bgavrilMS commented on #1342
Great questions.

1. It's absolutely fine and encouraged to have a singleton ConfidentialClientApplication created and to use DI to inject it.

Testing caveat: You may think that using DI is also gonna make things more testable. Sadly, it's difficult (impossible) to mock the builder pattern, so I would actually suggest to wrap the creation and invocation in a class of your own.

2. Default token c

[2019-08-16 07:06] techgeek03 commented on #1342
Hi,
Thanks a lot for your answers, this clears things :) It would be good if the docs are updated as well with this info :)

Regarding availability: as you said OBO flow is silent, and getting the original token require re-login. However, is it correct to say that, from the standpoint of the Web API you will most likely never perform re-login? You usually have a SAP app in front the Web API that w

[2019-08-16 08:57] youdhbir commented on #1340
Hi @jmprieur - I tried after your suggestion but it's still generating session cookies. Even, debug doesn't hit this line of code.

services.Configure<CookiePolicyOptions>(options =>
    {
        options.CheckConsentNeeded = context => true; // consent required
        options.MinimumSameSitePolicy = SameSiteMode.None;
    });

services.AddSession(opts =>
            {
                opts.Cookie

[2019-08-16 12:16] jmprieur commented on #1342
@techgeek03 : you are right that the Web API would not perform re-login, but it would send back to its caller (the SAP front end app in your case) information so that the user relogs-in in case the refresh token has expired, or the user needs to consent to more scopes;
This is explained in the following sample: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/mast

[2019-08-16 12:17] bgavrilMS commented on #1340
@jmprieur - can you help? I am not familiar with cookie config

[2019-08-16 13:15] bgavrilMS commented on #1342
@techgeek03 - I updated the guidance on the creation pattern above (point 1).

[2019-08-17 15:55] bgavrilMS opened #1345 "[Bug] MSAL does not allow you to bypass the internal token cache like ADAL does"
**Which Version of MSAL are you using ?**
4.3.1

**Platform**
all

** Issue **
In ADAL, we could disable the token cache like this:

[code]

In MSAL this is not possible, although the internal code has checks such as `if (HasCache)`
It is not possible beacause there is no way to set the cache to null.

[code]

** Proposal **
Either support this scenario (no token cache) or remove the internal logi

[2019-08-17 16:06] bgavrilMS commented on #1345
Looking at this error code, it seems that this was a conscious decision - MSAL does not support cache disabling.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/e730464b889f509380948e3beaf4a0685832a61a/src/Microsoft.Identity.Client/MsalError.cs#L71

[2019-08-19 16:18] bgavrilMS opened #1349 "[Bug] OBO flow always tries to get a token from the cache"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.3.1

**Platform**
ConfidentialClient

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Us

[2019-08-19 18:25] trwalke commented on #1324
Hi @poizan42 were you able to test the demo package I sent?

[2019-08-19 18:28] trwalke commented on #1263
Hi @mpghelli, any updates on the xamarin.iOS version? Your logs say "Xamarin.iOS, Version=0.0.0.0" but I don't think that is correct.

[2019-08-20 12:34] dennisbappert commented on #1340
The referenced article explains on how to set the cookie options by implementing SignInAsync which is part of the [RemoteAuthenticationHandler ](https://github.com/aspnet/AspNetCore/blob/d8381656429addead2e5eb22ba1356abfb419d86/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs) class (line 140). You can modify the passed AuthenticationProperties by implementing the OnTicketReceiv

[2019-08-21 03:09] youdhbir commented on #1340
Thanks a lot @dennisbappert. It worked.

[2019-08-21 03:09] #1340 closed

[2019-08-21 07:38] ffwdq commented on #425
Thanks for the answer, ended up using CefSharp in ICustomWebUi and running it in incognito mode

[2019-08-21 13:59] bgavrilMS commented on #425
@ffwdq - wow, cool!

[2019-08-21 15:40] bgavrilMS commented on #1345
Closing as by design. The cleanup done is not customer facing and should not be included in the release notes.

[2019-08-21 15:40] #1345 closed

[2019-08-21 22:55] MarkZuber commented on #1342
@jmprieur -- I understand the abstraction hiding of IHttpContextAccessor that is being discussed here.  When you're back from vacation, let's discuss.

[2019-08-22 09:04] martinstenhoff opened #1350 "Incorrect DeviceFlow Wiki Sample"
### Documentation Related To Component:
MSAL .NET DeviceFlow Wiki Sample

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in example
- [ ] needs example

### Description Of The Issue
The Device Flow sample code on the Wiki page [Device Code Flow](https://github.com/AzureAD/microsoft-authentication-library-for-do

[2019-08-22 10:06] bgavrilMS commented on #1350
I've updated the wiki, please have a look.

[2019-08-22 10:07] bgavrilMS commented on #1350
I've updated the wiki, please have a look.

[2019-08-22 10:11] martinstenhoff commented on #1350
Yes, looks correct now.

[2019-08-22 10:11] #1350 closed

[2019-08-22 15:50] bgavrilMS opened #1351 "[Bug] B2C facebook tests are failing"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.3.0

**Platform**
android, ios

**Issue**
B2C facebook tests are failing

Example failure on ios https://appcenter.ms/orgs/ADAL-DotNet/apps/DotNet-Xamarin-iOS/test/serie

[2019-08-22 15:56] bgavrilMS opened #1352 "[Bug] Test ConfidentialClientWithRSACertificateTestAsync fails consistently"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.3.0

**Platform**
net classic and net core

Test is broken by recent changes. I believe it is missing a certificate.

[2019-08-22 17:57] jennyf19 commented on #1339
@prajaybasu We are considering it. No ETA for now.

[2019-08-22 17:58] jennyf19 commented on #1329
@rhep49 still waiting for sever side.
@bgavrilMS will update the thread.

[2019-08-22 23:38] FrankHu-MSFT opened #1355 "[Feature Request] Add Interactive Login Error Handling"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The feature being requested is for the AcquireTokenInteractive method to have some sort of overloaded method that can handle errors that are being thrown back from ESTS in the webview/browser.

MSDN Thread Reference : https://social.msdn.m

[2019-08-23 23:20] trwalke commented on #1263
closing due to lack of response

[2019-08-26 08:08] jmprieur commented on #1328
@bgavrilMS @henrik-me @shoatman : does it have an impact on AdditionalClaimsToConsentTo?

[2019-08-26 08:11] jmprieur commented on #1331
See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1314

[2019-08-26 09:35] Atvaark commented on #1341
Hey @bgavrilMS,

I also noticed this odd behaviour when trying to log in with another account of the same AAD tenant.
While using `Prompt.ForceLogin` does work as a workaround, I'd prefer not having to use it.

Currently `Prompt.SelectAccount` silently picks the account in this browser cookie. You can't even check afterwards if the selected account is the one returned in `AuthenticationResult.Acco

[2019-08-26 09:57] bgavrilMS commented on #1341
@Atvaark - Have you tried passing in `.WithLoginHint` or `WithAccount` ?

@jmprieur - the behavior of the browser cookie is becoming quite contentious, but MSAL does not own it. How can we funnel feedback back to the teams that owns it?

[2019-08-26 11:29] Atvaark commented on #1341
Neither option fixes the behavior of the prompt for my use case.
`WithAccount` causes the exception described in #1031 if I pick the account that doesn't belong to the browser cookie.

Another observation I made is that if I first successfully log into multiple accounts (e. g. account *A* and account *B*) via `Prompt.ForceLogin` (and `IPublicClientApplication.GetAccountsAsync` returns two `IAccoun

[2019-08-26 11:55] jmprieur commented on #1342
@MarkZuber : ready to discuss

[2019-08-26 13:09] mvancamp commented on #1341
Hi @bgavrilMS,

Tried the different set-ups.  None of them perform as it should be.  The application will always sign-in with current domain user logged on to the system. Even if "log on with different account" is selected and a different account name is filled in, it automatically logs on with the current domain user.

[2019-08-26 13:15] SumeetABB opened #1356 "On premises example: authenticate & get claims from ADFS using ASP.NET core with MSAL.NET"
### Documentation Related To Component:
MSAL.NET on premises example

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue
On premises example to authenticate & get claims from ADFS using ASP.NET core with MSAL.NET.

[2019-08-26 18:57] jennyf19 opened #1357 "Part 1: Modify iOS broker to handle iOS 13 changes"
iOS 13 has made changes around the authenticator's ability to verify applications. Currently, MSAL.NET relies on the sourceApplication to verify requests, this will need to be modified.

[2019-08-27 10:23] bgavrilMS commented on #891
MSAL 4.3.1 released

[2019-08-27 10:23] #891 closed

[2019-08-27 10:26] bgavrilMS commented on #1332
MSAL 4.3.1 released

[2019-08-27 10:26] #1332 closed

[2019-08-27 10:30] bgavrilMS commented on #1244
Fixed in MSAL 4.3.1

[2019-08-27 10:30] #1244 closed

[2019-08-27 10:47] #1352 closed

[2019-08-27 10:48] #1331 closed

[2019-08-27 10:49] bgavrilMS commented on #1324
@trwalke - was this fixed in 4.3.1 ? Not sure if to close it or not.

[2019-08-27 10:49] #1292 closed

[2019-08-27 10:51] bgavrilMS commented on #1256
This was due to the discovery network call which we eliminated in ATS if using a known env.

[2019-08-27 10:51] #1256 closed

[2019-08-27 11:14] bgavrilMS commented on #1357
What is the user impact?

[2019-08-27 12:42] AquilaSands commented on #1342
Hi,
I've also been looking for something similar but for service to service auth using a bearer token and have been trying to figure out if it is thread safe. Based on the response from @bgavrilMS

is the following implementation for getting the token safe to register as a singleton in .net core?

[code]

[2019-08-27 12:52] bgavrilMS commented on #1342
@AquilaSands - yes, for Confidential Client flow this should be fine. There will only be 1 access token in the in-memory cache (for the app), irrespective of how many users and sessions there are

Note that you're not providing a token cache implementation, which means that MSAL will cache tokens in memory (in this case the one access token). When you restart the app / service, MSAL will have to c

[2019-08-27 13:24] rkshnair commented on #1244
@bgavrilMS @jennyf19
Is it possible to lock the orientation of Embedded WebView in this release. I can see the username / password clearing issue has been resolved. What about orientation?

[2019-08-27 18:55] AquilaSands commented on #1342
@bgavrilMS excellent, thanks for the quick reply. I think the perf will be fine if it does turn out to be an issue I can always add something to warm up the token cache and refresh the value periodically and/or stick it in Redis.

[2019-08-27 23:51] markti opened #1359 "Xamarin.Forms UI Test app.WaitForElement always times out"
**Which Version of MSAL are you using ?**
MSAL 4.2.1

**Platform**
Xamarin.Forms

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
New app, login wo

[2019-08-28 06:39] awasilik opened #1361 "[Feature Request] Android shared_prefs should not be used with plain text."
**Is your feature request related to a problem? Please describe.**
Android app security is compromised by storing access and refresh token in SharedPreferences as plain text documents.

**Describe the solution you'd like**
Tokens should be encrypted like in example github [Secure Preferences](https://github.com/ophio/secure-preferences)

**Describe alternatives you've considered**
Tokens should no

[2019-08-28 06:42] jmprieur commented on #1361
+ @shoatman FYI

[2019-08-28 09:09] bgavrilMS commented on #1361
This should really be opened on the [MSAL Android](https://github.com/AzureAD/microsoft-authentication-library-for-android) GitHub page to get traction - the decisions around token caching are taken by the Android team.

The current thinking is that SharedPreferences files are only available to the app and to any admin (sudo) user.

Is there an attack pattern that was identified?

[2019-08-28 12:27] awasilik commented on #1361
Our pen testers team identified this issue as vulnerability which could potentially expose sensitive user data. We do not need admin access to retrieve those tokens.

[2019-08-28 13:27] JBaltika opened #1362 "Nuget update to support netstandard2.0"
Hi guys,

Could it possible update nuspec and msbuild to support netstandard2.0. I understand that current netstandard1.3 library works can be added to any netstandard2.0 project. However, its few things to consider. The first projects pulling useless nugets and second more important probably  is run-time binding redirect section entries. For some enterprise solutions who has hundred projects to m

[2019-08-28 13:50] tranb3r commented on #1219
@jennyf19 Any progress on this issue ? Thanks :)

[2019-08-28 14:43] bgavrilMS commented on #1362
Could you explain more about the binding redirects please? How is affecting you?

MSAL is build for many, many platforms. I think the pure netstandard version is mainly used when referencing MSAL from shared projects like Xamarin shared. Is this your scenario? Otherwise, you'll pretty much use the .NET Core or .NET Classic version.

[2019-08-28 15:48] bgavrilMS commented on #1357
Just trying to understand the impact here. So you mean that once people upgrade to iOS 13, pre-existing apps that use the broker will stop working? Sounds like a high priority item then.

[2019-08-28 22:00] motionsmith commented on #1320
Is there a workaround?

[2019-08-29 09:06] bgavrilMS commented on #1324
Closing as per Travis's Fixed label - @trwalke  - please reopen if not fixed.

[2019-08-29 09:06] #1324 closed

[2019-08-29 09:16] bgavrilMS commented on #1320
@motionsmith - yes, you can use

` .WithAuthority(AzureCloudInstance.AzurePublic, Guid.Parse("1234.."))` or
`.WithAuthority("https://login.microsoftonline.com/1234...")`

[2019-08-30 21:20] jennyf19 commented on #1219
@tranb3r no update at the moment. thanks for the reminder.

[2019-08-31 16:18] jennyf19 commented on #1359
@markti - which platform is having the issue? are you using AppCenter? AppCenter tests can only run w/the embedded webview, not system browser.

[2019-08-31 16:19] jennyf19 commented on #1356
fyi: @jmprieur

[2019-09-02 07:09] tipa commented on #1064
This keeps happening on my users devices and I will try to get more information about their network situation. In the last case, the Windows 10 version was 10.0.17134.950

It would already help if the SDK could simply clear the token cache so that the app can ask the user again to login. Currently I need to ask my users to reinstall the app - certainly not the best solution

[2019-09-02 10:10] bgavrilMS commented on #1064
@tipa - is this with more recent version of MSAL? And the exception trace is the same?

@jmprieur @henrik-me - in UWP, MSAL stores the token cache in a file, encrypted with DPAPI. I propose that we add a small retry mechanism when accessing the cache on UWP. And if it fails, clear the cache as @tipa suggests. It's better to ask the user to login again rather than have them re-install the app.

[2019-09-02 10:38] tipa commented on #1064
Actually the exception (trace) is slightly different now (with MSAL 4.3.0):

[2019-09-02 10:47] jmprieur commented on #1064
@bgavrilMS : maybe with an option. But can we try to understand why this happens first?

[2019-09-02 11:14] bgavrilMS commented on #1064
@tipa - do you have a repro for the above? Or do you see a pattern for when the issue occurs? And how frequently this occurs?

We [store ](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/b6cda49edbba9bb88f380ddf0b7e482e0bc727f9/src/Microsoft.Identity.Client/Platforms/uap/UapTokenCacheBlobStorage.cs#L52)the data in a file called `msalcache.dat` in LocalFolder

We use DPA

[2019-09-02 11:27] jmprieur commented on #1356
Duplicate of https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/171

[2019-09-02 11:27] #1356 closed

[2019-09-02 11:32] tipa commented on #1064
Unfortunately I don't see a pattern or have an idea what causes this issue, but I pointed the user who reported this issue today to this thread, maybe he can give additional details about his network setup.
You can reproduce the crash manually by copying the msalcache.dat file from one PC to another. I haven't found another repro yet.

[2019-09-02 13:00] bgavrilMS commented on #1064
Copying the file from one machine to another will most likely not work (for MSAL it is not a supported scenario anyway). [This SO question](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/b6cda49edbba9bb88f380ddf0b7e482e0bc727f9/tests/devapps/UWP/MainPage.xaml.cs#L38) touches on it, but generally documentation is sparse.

Note that for UWP we do allow developers to prov

[2019-09-02 13:04] tipa commented on #1064
I understand, I just mentioned it in case you had difficulties reproducing the exception

Right now I am catching the exception, checking for the HResult and deleting the file manually

Thanks!

[2019-09-02 18:23] osolo opened #1365 "[Bug] AADSTS50020 error if signing out then into another tenant without restarting the app"
**Which Version of MSAL are you using ?**
MSAL 4.3.1

**Platform**
all

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive

**Description**

In UWP apps (possibly also in non-UWP), if you execute the following sequence, an AADSTS50020 is issued:

1. `AcquireTokenInteractive()` [user logs in successfully to CompanyA.com]
2. `AcquireTokenSilent()` [this is required

[2019-09-03 04:22] rayluo commented on #728
What changes are needed from client-side to use Device Flow with personal accounts (MSA)?

[2019-09-03 04:42] JRawlins737 opened #1366 "[Bug] iOS with Broker"
Using the latest MSAL (4.3.1) on Xamarin iOS platform
Have followed directions for setup broker access but get a strange Error: "The given key "hash" is not present in the dictionary..

The flow of the app starts with AcquireTokenInteractive, Broker starts up, login takes place etc, OpenUrl fires (this is strange part.. The signature your docs say should fire is:

public override bool OpenUrl(UIAp

[2019-09-03 07:02] jmprieur commented on #728
@rayluo : When this is "fixed", just change the authority to be common instead of organizations
Today MSAL.NET core replaces common by organizations (for supportability reasons MSAL.NET replaces common by organizations internally: this is because the default authority is common, and until the service implements Device Code Flow for personal accounts, every single developer using MSAL with device c

[2019-09-03 07:16] bgavrilMS commented on #728
@paule96 - you can use Interactive authentication in .Net core for a while now. MSAL will open whatever browser the OS defaults to to perform auth. Much better experience than device code flow for .NET Core.

[2019-09-03 07:48] ashikns commented on #728
@bgavrilMS I agree that addition of interactive to .Net core is great. Particularly for us it was a lifesaver since we managed to make it work in Unity as well. But it's hardly a replacement for a native flow.

[2019-09-03 10:11] bgavrilMS commented on #728
Thanks for the feedback @ashikns - we'll look at adding an embedded browser experience when .net core 3 ships. Not sure if that will help with Unity though.

[2019-09-03 12:04] jmprieur opened #1368 "[Feature Request] In confidential client apps, TokenCacheNotificationArgs or ITokenCache should tell the cache key to use"
**Is your feature request related to a problem? Please describe.**
In Web apps and Web APIs (confidential client applications) there should be one cache per user. The serialization implementation of the user token cache and the app token cache only differ by the key. It's tempting to provide a single serialization implementation (Like PR  https://github.com/Azure-Samples/active-directory-aspnetcor

[2019-09-03 14:53] bgavrilMS commented on #1368
The first proposal, to expose weather this is the app cache or the user cache should be easy to implement. But why not go further - can we abstract away this notion of 2 caches? (breaking change).

The second proposal is more complex. Token cache operations are not atomic, for example when we get a token response, we usually write 3 objects to the cache: `AT`, `RT` and `Account`. When we read from

[2019-09-03 16:23] MarkZuber commented on #1368
The cache key in this case is not one per entry, but the key to be used to persist the entire cache.  So the user token cache key would be the key to store all of a single user's cache items.  And the app token cache would be a key for the app itself.  there would only be one of these for a particular app in the system but it differentiates the app key from the individual users.  so this is still

[2019-09-04 13:48] bgavrilMS commented on #1365
I do not understand the repro steps, please clarify. You have a user e.g. john@companyA.com that is member of 2 tenants - companyA and companyB (home tenant companyA and guest tenant companyB).

How does the user login to "companyA" and to "companyB"?

[2019-09-04 13:57] osolo commented on #1365
Separate users in separate tenants.

For example, using the provided app, log in with your work (@microsoft.com) account.  Then log out and try to log in using any private/home Microsoft Account or an account on any other tenant (such as a demo tenant).

[2019-09-04 15:52] bgavrilMS commented on #1365
Can repro.

[2019-09-04 16:05] bgavrilMS commented on #1365
Can repro on other platforms, not just UWP.

[2019-09-04 17:06] bgavrilMS commented on #1365
Workaround: re-create the public client application before each request i.e.

`var pca = PublicClientApplicationBuilder
            .Create(AppId)
            .Build();`

This is a bug where we update the authority with the tenant ID in AcquireTokenSilent. The same authority (tenanted to companyA) is then re-used to issue a request for a token for a user in companyB.

[2019-09-04 17:32] trwalke commented on #1312
Hi @dmprantz, it looks like your ADFS instance is using conditional access policies to ensure device compliance based on the error you are getting back. However, the user name and password flow is not supported in environments with conditional access policies which is why you are getting the "Device is not in required device state: compliant" error instead of a successful sign in. [please see our

[2019-09-04 18:06] jennyf19 commented on #1366
@JRawlins737 Thanks for the detailed information and for opening the issue. During a failed case, can you open Authenticator, click on the top icon w/three bars, select Help, click on "send logs", add a small description like "using MSAL.NET" and then an incident ID will pop up. Can you email me the ID? jeferrie@microsoft.com

Which version of Authenticator are you using? Please try to be on the l

[2019-09-04 18:28] dmprantz commented on #1312
Thank you @trwalke.  Since opening this, I have found much of the same information you describe.  CA Policy is preventing the authentication, and I have a note from MS that it is not supported to have a daemon authenticate as a user where CA is enabled.  I traced the code pretty closely to see that interactive login launches a browser which uses Forms, and is why you can authenticate with one vs t

[2019-09-04 18:48] jennyf19 commented on #1366
@JRawlins737 sent the ID via email. Am in contact w/our iOS team to see if the broker logs provide more insight. Unable to repro at the moment.

[2019-09-04 18:58] osolo commented on #1365
I can confirm that the workaround indeed works :)

[2019-09-04 19:05] jennyf19 commented on #1366
@JRawlins737 We've identified the issue. Will notify you when we have a fix out.

[2019-09-04 20:08] trwalke commented on #1312
@dmprantz We have documentation here that describes how to sign users to a service and then call other services with the user signed in. [MSAL Confidential Client sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/b96af3b62e8fb9eab8a0434c9ed0c7a5624078f6)

In regards to your comments on the security of confidential clients, public clients are designed

[2019-09-04 20:33] dmprantz commented on #1312
I believe you have misunderstood my issue.  I do not want to authenticate on behalf of a live user.  I want a daemon to authenticate as a user.  I used the daemon sample, but it is not compatible with CA.

I understand the difference between public and confidential apps, but, it's not really relavent.  It helps to explain the concept, but this is the same as it was with Adal.Net which didn’t diffe