[2020-04-09 19:39] henrik-me commented on #1756
@bgavrilMS, regarding .netcore, are there somethings we can do better by default in the library (and perhaps will make it easier for Identity.Web and others to do the right thing and or their custom thing)?

[2020-04-09 19:51] mskilling commented on #1755
Thanks for responses.
I thought it looked very similar to MVC setup, it is not clear to me where in the razor setup I need to get the access token for the SQL connection, whether in the data context or the page model?
I am probably asking the wrong questions with my inexperience, so ideally for me would be a full example of a razor pages application that connects to SQL database on behalf of a sig

[2020-04-10 18:03] TiagoBrenck commented on #1755
Well, MSAL is a library that will help you authenticate with AAD, and acquire access token for resources on AAD as well. The reason I asked about acquiring an access token on Blazor, is because we havent come with a solution to it yet, and there are no Blazor samples using MSAL so far.

[2020-04-10 18:10] mskilling commented on #1755
@TiagoBrenck I do need an access token for a Razor application, but not for a Blazor application, I don't know if that would be different?

[2020-04-10 19:31] TiagoBrenck commented on #1755
@mskilling that wouldn't be different. From what we tested and worked so far, is just the sign-In part.

[2020-04-11 13:29] stevie1706 commented on #1671
Adding this to the protected resource map worked for me.

  ['https://dev.azure.com',["499b84ac-1321-427f-aa17-267ca6975798/user_impersonation", "499b84ac-1321-427f-aa17-267ca6975798/.default"]]

[2020-04-12 20:57] mskilling commented on #1755
So, is it not possible for me to get an access token for an Azure SQL database on-behalf-of the signed in user right now? Can I do this with an MVC app but not with a Razor app?

[2020-04-13 15:57] henrik-me opened #1757 "[Bug][Spelling] API WithInstanceDicoveryMetadata missing an s"
**Which Version of MSAL are you using ?**
Latest

**Issue**
WithInstanceDicoveryMetadata should be _WithInstanceDiscoveryMetadata_
[Typo (and then copy/pasted in multiple locations)](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/search?q=WithInstanceDicoveryMetadata&unscoped_q=WithInstanceDicoveryMetadata)

This introduced a misspelling in the WithInstanceDiscoveryMetadata

[2020-04-13 16:31] TiagoBrenck commented on #1755
With an MVC app you can use MSAL to acquire an access token on-behalf-of the signed user without a problem. I highly recommend you to follow this sample first:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/2-WebApp-graph-user/2-1-Call-MSGraph

[2020-04-14 07:48] KrishnaAgrawal5 commented on #830
Hi,

I am facing the same issue of unable to get microsoft login in windows form applications. Can someone please provide the steps on how to proceed on this issue?

[2020-04-14 08:07] KrishnaAgrawal5 commented on #830
@pritchie99 Could you please let me know the steps you performed I am facing the same issue

[2020-04-14 08:42] KrishnaAgrawal5 opened #1758 "Unable to find implementation of microsoft login for windows form applications"
I am facing problems while acquiring token using AcquireTokenInteractive in windows forms. No login window pops up.

I have tried using  result = await _clientApplication.AcquireTokenInteractive(_scopes)
                             .WithParentActivityOrWindow(new WindowInteropHelper(this).Handle)
                            .ExecuteAsync();

But it gives error on 'this' stating cannot convert to

[2020-04-14 10:05] bgavrilMS commented on #1758
Can you get rid of `.WithParentActivityOrWindow(new WindowInteropHelper(this).Handle)` first and check out the experience ?

`WithParentActivityOrWindow` on a WinForms app simply ensures that the browser pops up in the center of the app. If you do not use this method, the browser will be centred on the screen.

On WindowsForms, you can pass any `IWin32Window` object, and the `Control` class implem

[2020-04-14 10:12] bgavrilMS commented on #830
@KrishnaAgrawal5 - I answered on the other thread you opened. Let's continue the conversation there.

[2020-04-14 10:17] KrishnaAgrawal5 commented on #1758
Thanks for your quick reply  @bgavrilMS
I tried without `.WithParentActivityOrWindow(new WindowInteropHelper(this).Handle)` this and the window just gets stuck and nothing happens. Please find below my updated request:
`result = await _clientApplication.AcquireTokenInteractive(_scopes).ExecuteAsync();`

[2020-04-14 10:30] bgavrilMS commented on #1758
How do you call AcquireTokenInteractive ? On a button click ?

If the app gets stuck, it's usually a UI thread problem.

Here's an WinForms app that I use with MSAL:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/4d32fdc3cdf71bb6b71baf03bbe55e4cbafd2caa/tests/devapps/DesktopTestApp/MainForm.cs#L153

[2020-04-14 11:04] bgavrilMS opened #1759 "[Bug] Typo in public api"
Which Version of Microsoft Identity Web are you using ?
4.something

The public API: `WithInstanceDicoveryMetadata` has a typo, it should be called `WithInstanceDiscoveryMetadata` (notice the missing `s` in `Discovery`)

Proposal:

Create new method with same signature
Hide the bad method from IntelliSense
Obsolete the bad method

[2020-04-14 11:13] bgavrilMS commented on #1759
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1757

[2020-04-14 11:13] #1759 closed

[2020-04-14 11:14] bgavrilMS commented on #1757
Proposal:

Create new method with same signature
Hide the bad method from IntelliSense
Obsolete the bad method

[2020-04-14 12:24] KrishnaAgrawal5 commented on #1758
Yes I am calling on button click.

Can you suggest me the changes that needs to be done. I am using Microsoft.Identity.Client package

[2020-04-14 12:26] bgavrilMS commented on #1758
Are you using .net classic or .net core?

[2020-04-14 12:33] bgavrilMS commented on #1758
I'm not sure where you get stuck with this. I just created a very simple WinForms app, added a button and changed the Form1.cs as follows:

[code]

Works fine for me.

[2020-04-14 12:54] KrishnaAgrawal5 commented on #1758
I am using .Net framework.

I tried this sample code with a new windows form application and it works there. Thanks you so much for this.

Let me check with my original application once.

[2020-04-14 13:46] bgavrilMS commented on #1756
I'll have a look at this. We could add a simplified version of `IHttpClientFactory`, or even a static `HttpClient`.

[2020-04-14 13:50] bgavrilMS commented on #1750
For now, I will implement caching per cloud and we can revisit this if needed.

[2020-04-14 16:22] KrishnaAgrawal5 commented on #1758
In my original application I am trying to upload files to onedrive.
For files upto 4MB in size I am using below request which works fine:
`var uploadedFile =await client.Me.Drive.Root
                                                          .ItemWithPath(fileName)
                                                          .Content
                                                          .Request(

[2020-04-14 17:04] bgavrilMS commented on #1758
Probably a threading issue that you need to figure out yourself (e.g. consider not using `.Result`). It seems to me that MSAL is working fine for WinForms apps.

[2020-04-14 17:04] #1758 closed

[2020-04-14 18:52] dmeatte-aq opened #1760 "[Question] Why is the interactive dialog in framework so tall?"
**Which Version of MSAL are you using ?**
3.x

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ x ] Interactive

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**
The window height for an [interactive sign in dialog is set to 70% of the screen height](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob

[2020-04-15 00:56] JeffMushmo commented on #1398
With this capability, does it mean we won't have to setup AAD to redirect to http://localhost?

[2020-04-15 07:15] DaveBrickley opened #1762 "B2C sign up - removing Facebook results in error when using MSAL library"
## Library
- `@azure/msal@4.11.0`

## Framework

Xamarin Forms

## Description

I have need to call a validating API when signing up new users which means I had to turn to implementing a custom sign up

This all works now, but I have no need of the Facebook sign up option

However I am encountering an error when I try and remove it

I have carefully been through the process of editing the TrustFra

[2020-04-15 08:25] jmprieur commented on #1398
yes, @JeffMushmo : you'll have the capability of using an embedded browser (which redirect URI will be `https://login.microsoftonline.com/common/oauth2/nativeclient`

[2020-04-15 08:40] bgavrilMS commented on #1750
Yordan has expressed opposition to this. Will have a conversation with him first. May be that we can only implement this for some flows but not others...

[2020-04-15 09:57] harmjonker opened #1761 "Issue with redirectUri"
In an exceptional situation we notice that during a login session with MSAL/MS Authenticator/Azure AD/AFDS,  we got redirected to our general company landing page instead of being redirected to the app on the device.
We have no idea what is happening in the chain. Might there be a situation that the redirectUri gets lost in the interactions anywhere?

[2020-04-15 10:16] bgavrilMS commented on #1760
Looks like a bug to me. No idea "why this was done", that code is probably 5-10 years old :)

[2020-04-15 10:44] bgavrilMS commented on #1761
Hi @harmjonker - MSAL does not control the content of the browser / Authenticator, so it is possible that you have hit a service bug. It would be good if we could get some logs to understand if the SDK is at fault at all.

Otherwise, you need to capture a `correlation id` and start a support case with AAD to drill deeper.

Logging and correlation IDs are described here: https://github.com/AzureAD/

[2020-04-15 12:07] dmeatte-aq commented on #1760
👍 Looks like I may make a go at a fix then. Thanks.

[2020-04-15 13:32] bgavrilMS commented on #1760
Awesome, let me know if you have problems building MSAL. I would suggest that you do not build the xamarin and uwp stuff, otherwise you'll have to install a ton of VS modules. You can disable by commenting some lines [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Directory.Build.props#L8). You may have to do "msbuild /t:restore" from a develope

[2020-04-15 17:29] henrik-me opened #1763 "[Feature Request] [ConfidentialClient] Enable applications to schedule token refresh intervals easily"
Note: General functionality may also be relevant for Public Client, and thus scenarios with refresh tokens available where MSAL could potentially do more.

Our current recommendation is described under  [Pro-Active Token renewal](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/High-availability#pro-active-token-renewal).

**Is your feature request related to a problem?

[2020-04-15 17:30] henrik-me commented on #1763
@bgavrilMS @jmprieur

[2020-04-15 18:12] Petermarcu commented on #1763
@chrisamert as FYI who opened the original issues that we closed in favor of this one.

[2020-04-15 19:15] neha-bhargava commented on #1742
This is not an issue, the account was not federated. The documentation is updated with a more descriptive message.

[2020-04-15 19:15] #1742 closed

[2020-04-15 23:15] trwalke opened #1765 "[Feature Request] Update app center test app to use the latest android SDK and OS"
**Is your feature request related to a problem? Please describe.**
Android and iOS is updating continuously and we want to ensure that we have coverage for the latest and greatest software on our mobile platforms. The SDK used by the xamarinDev and xamarin appcenter apps should be updated to use the latest xamarin forms as well.

**Describe the solution you'd like**
All Xamarin test apps should be

[2020-04-16 06:01] SravanthiKare opened #1766 "[Bug] Safari Save Password prompt is not being retained on screen - iOS 13+"
**Version:** MSAL 4.11.0
**Xamarin iOS:** 13.16.0.3
**XCode: ** 11.4
**iOS Version:** 13.3, 13.4
**Authentication Flow:** Mobile - UserName Password

**Actual Statement:**
We have a requirement to enable user to Save Password using iPhone's Autofill option. Once Autofill option is enabled on iPhone, B2C Login Screen (Safari) will prompt user to Save Password. It is working as expected till iOS 12

[2020-04-16 08:45] jmprieur commented on #1766
@SravanthiKare
Thank sof raising this issue.
This is not an issue with the library, but, maybe with the B2C service. I'm going to draw their attention to it.
Were you using the system browser? or the embedded web view? (Did you use `.WithEmbeddedWebView(useEmbeddedWebView)` when building the public client application, and if yes, which value)

[2020-04-16 08:45] jmprieur commented on #1766
cc: @aiwangmicrosoft

[2020-04-16 18:13] henrik-me commented on #1754
@JohnLivermore : did you look at https://developer.android.com/studio/build/manifest-build-variables

[2020-04-16 20:13] trwalke opened #1768 "[Documentation] Add customer testimonials and experiences when moving to MSAL.NET to give confidence to newer customers looking to migrate."
### Documentation Related To Component:

### Please check those that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
Some customers are hesitant to move to MSAL.NET due to the fact that it is a very new product and does not have enough of a well known history with large partners

[2020-04-17 10:01] DaveBrickley commented on #1762
@tnorling - thank you. Is anyone able to look at this issue?

[2020-04-17 12:08] bgavrilMS commented on #1763
Let me bring up a few points to open up the discussion:

1. Refreshing involves higher COGS. Not only would we be asking for tokens more often, but we'd be asking for tokens for users who will never log in ever again.

2. MSAL cannot perform background operations. I think higher level libraries / frameworks need to schedule in the background. If MSAL starts spinning up long running operations, it

[2020-04-18 01:44] petrochuk opened #1770 "[Feature Request] Add ability to disable ADAL CacheFallbackOperations"
**Feature plan**
1. Measure improvement (start with baseline and explore improvements for a small and large cache sizes)
2. Flag to disable ADAL cache fallback (.WithDisableAdalCache - suggestions welcome)
  a. Include this flag in the ApplicationOptions
3. Add telemetry (in .net specific section) to let us know if this feature is used or not.

_Will not be doing:
Auto detect if adal fallback is u

[2020-04-18 06:07] pmaytak commented on #1763
@bgavrilMS, +1 to valid points.
I like the approach of allowing a user to customize the `refresh_in` value. We'd also have to have a minimum time limit for refreshes.

[2020-04-18 09:18] bgavrilMS commented on #1763
### RefreshIn approach

**Pros**: Simple to use, no need for background operations etc.
**Cons**: if user doesn't login for 1h, a refresh_token flow is performed when he/she logs in.

### GetCacheEntriesNearExpiry approach

`IEnumerable<(IAccount, TenantId)> GetCacheUserEntriesNearExpiry(TimeSpan timeToExpiry)` and / or a variant where the input param is the percentage (e.g. at 2/3 expiry)

This s

[2020-04-18 14:43] mliesmons commented on #1538
Would love it too.
The comment below for a WithAuthority constructor gave me some hope:

        //     Azure AD authority, nor an ADFS authority, nor an Azure AD B2C authority.

[2020-04-18 20:44] drewid commented on #669
@jennyf19 am finally able to come back to this issue and will be following up.

My man point is there should be feature parity for AD B2C when switching from the login.microsoftonline.com format to tenant.b2clogin.com format.

I can interact without user context all day long with login.microsoftonline.com but cannot with tenant.b2clogin.com.

I have azure functions that are being called which need

[2020-04-18 22:36] jennyf19 commented on #669
@vigunase @ktsakas can you assist here? Thx.

[2020-04-19 09:33] bgavrilMS commented on #669
@drewid - please open another issue, this one is too long and has been closed a long time ago. It most likely that the problem you are encountering is subtlety different than this one.

[2020-04-19 09:39] bgavrilMS commented on #1770
I would love to implement this and even set this behaviour as default.

[2020-04-19 11:41] JohnLivermore commented on #1754
Thanks.  That is what I am looking for, but I don't have a build.gradle file.  Where would that come into play or where would I find that for a Xamarin project?

[2020-04-19 16:13] jmprieur commented on #1770
i agree, @bgavrilMS that we should implement it.
What about:
`.WithSerializeAdalCache(bool? serialializeAdalV3Cache = null)`

Behavior depending on `serialializeAdalV3Cache`
| serialializeAdalV3Cache | Behavior |
|  ---- | ----- |
| `null` |  depends on the platform (see below)  |
| `true` |  Serializes the ADAL cache  |
| `true` |  Serializes the ADAL cache  |

I'm not sure about using `false` by

[2020-04-20 00:49] drewid opened #1771 "AD B2C - tenant.b2clogin.com is not providing same abilities as login.microsoftonline.com for existing AD B2C code"
**Which Version of MSAL are you using ?**
MSAL 4.11?  Believe it matches the version of Microsoft.Identity.Client? (which is 4.11)

**Platform**
dotnetcore

**What authentication flow has the issue?**
Azure Functions - not on behalf of users

**Is this a new or existing app?**
Existing code that has been working with login.microsoftonline.com, but not with tenant.b2clogin.com

**Repro**

**Expecte

[2020-04-20 00:51] drewid commented on #1771
@bgavrilMS @vigunase @ktsakas @jennyf19 Thanks - opened the new ticket

[2020-04-20 08:17] jmprieur commented on #1771
@drewid for B2C applications, you should not use .WithAuthority, but `.WithB2CAuthority`. Here the fact that you get an AADSTS error and not an AADB2C error indicates that you've been using `.WithAuthority`

Also, when you write Azure function not behalf of the user, do you mean that you've been trying to user AcquireTokenForApp ?
If that's the case, please know that Client credentials (the underl

[2020-04-20 08:36] drewid commented on #1771
Can you please provide additional clarity?

1) for B2C why does it work for with login.microsoftonline.com then?
2) why does it work with ADAL.
3) how the are non-user interactions ever supposed to work with B2C? I have many, many use cases and business logic that cannot use user interactions?
4) what methods to do so?

This is extremely frustrating. How can MS deprecate working capabilities of AD

[2020-04-20 08:42] bgavrilMS commented on #1771
@drewid - ADAL never worked with B2C authorities. You must have been targeting AAD (i.e. the B2B token provider). "login.microsoftonline.com" continues to be the AAD endpoint.

I think what you are actually doing is to use ADAL to get a token for an application (not for a user), from the Graph, and use a graph API to list the users you are interested in? To do this with MSAL, please see https://gi

[2020-04-20 08:43] jmprieur commented on #1771
@drewid ; I understand your frustration, but I think that we have some mis-understanding, here. Let's try to understand what happens. With my knowledge, client credentials have never worked with B2C (as Bogdan indicates)

1. Which authority were you using with  login.microsoftonline.com ? I don't think that this was a B2C authority, we'd want to check that
2. what was your ADAL code.

If you don't

[2020-04-20 09:40] SravanthiKare commented on #1766
@jmprieur
We are using system browser(not embedded browser) specifically for this feature. .WithEmbeddedWebView(useEmbeddedWebView) value is false.

[2020-04-20 10:43] jmprieur commented on #1766
@SravanthiKare are you sure that this is not a new privacy feature of Safari? (that you would need to opt-in to?)
@brandwe @oldalton

[2020-04-20 14:06] drewid commented on #1771
Client credentials fully work for interacting with B2C when using ADAL, you can manage accounts by username or email etc.  I have working code that does that and the MS B2CGraphClient sample project shows that. With that project you can:

- GET-USER
- CREATE-USER
- UPDATE-USER
- DELETE-USER
- GET-EXTENSION-ATTRIBUTE
- GET-B2C-APPLICATION

It would be really disappointing if I have to use ADAL, whi

[2020-04-20 16:28] bgavrilMS commented on #1771
Is this sample the one that you are trying out? https://github.com/AzureADQuickStarts/B2C-GraphAPI-DotNet/tree/master/B2CGraphClient

The sample is not getting a token from B2C, but from AAD (B2B). The token is valid for Graph, and you can use it to query the graph endpoint with the methods you exposed.

@aiwangmicrosoft - the sample is using ADAL v2. Could you please liaise with the B2C team to g

[2020-04-20 16:30] bgavrilMS commented on #1771
I think even the offical docs show updated code / MSAL on how to do this - https://docs.microsoft.com/en-us/azure/active-directory-b2c/manage-user-accounts-graph-api#code-discussion

[2020-04-20 16:52] crmann1 opened #1773 "[Bug] System.Net.HttpListenerException when system browser flow is cancelled (sometimes)"
**Which Version of MSAL are you using ?**
MSAL 4.11

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
System browser

**Is this a new or existing app?**
visual studio 2019

**Repro**
Cancel a system browser flow sign in by closing the account settings dialog when the system browser windows is up.  This will set the cancellation token to cancelled which is then pas

[2020-04-20 16:52] crmann1 commented on #1773
Sometimes we see the exception not all the time.

[2020-04-20 21:29] JasSuri commented on #1771
There is a lot of confusion here. Let me try break this down.

ADAL - Uses AAD /authorize and /token endpoints
MSAL - Ability to use AAD /authorize and /token endpoints. And ability to use B2C /authorize and /token endpoints.

AAD tenant - contains only AAD endpoints. It is a single token issuer
B2C tenant -  contains AAD and B2C token endpoints. There are two token issuers

A B2C tenant contains:

[2020-04-20 21:47] drewid commented on #1771
@JasSuri - many, many thanks for a great overview.

Are the following statement correct then?

- The "tenant.b2clogin.com" format is really for only B2C end-user facing interactions.
- The "login.microsoftonline.com" can still be used for any behind the scenes work on managing users and attributes, even if they are specific to B2C

[2020-04-21 00:33] trwalke commented on #1678
This looks more like a configuration issue on the ADFS side. I am not familiar entirely with the configuration of ADFS for Identity. Ill contact the folks in ADFS for more assistance.

[2020-04-21 05:13] henrik-me commented on #1770
@jmprieur : Seems like your table has a small bug as there are 2 entries for true, also I don't understand null (perhaps an enum if we really need more options).
nit: How about WithAdalCacheSerialization(false) ?
Also we should add an attribute ensuring we fix this to be the default behavior for the next major version. Also most of our samples should set this especially for web scenarios.

[2020-04-21 05:44] henrik-me commented on #1754
@trwalke @neha-bhargava

[2020-04-21 07:04] JasSuri commented on #1771
Correct.

Also correct, and it’s the only way. B2C attributes are inside the AAD component of a B2C tenant, the directory attribute manipulation works via MS Graph API just like it does for a AAD tenant.

[2020-04-21 10:43] jmprieur commented on #1770
Ok @henrik-me

`.WithSerializeAdalCache(bool serialializeAdalV3Cache=false)`

[2020-04-21 14:26] bgavrilMS commented on #1678
Just updating the thread with details from discussions we had over email:

- ADFS team confirms this is a known issue
- there is a workaround (details below) so most this issue will not be fixed via a servicing fix

Workaround is to replace the `scope` POST param with a `resource` POST param when contacting the /token endpoint. MSAL does have a somewhat longwinded way of doing this by allowing dev

[2020-04-21 16:25] henrik-me commented on #1754
@JohnLivermore : I believe the [Xamarin GitHub](https://github.com/xamarin) might be a better place for your questions.

[2020-04-21 20:24] drewid commented on #1771
Many thanks!  Much better clarity.  @JasSuri it deserves its own article. :)

[2020-04-21 20:24] #1771 closed

[2020-04-21 20:59] jennyf19 commented on #1771
@mmacy Can we capture what @JasSuri wrote above in either the docs or in the wiki? thx.

[2020-04-21 21:48] mmacy commented on #1771
@jennyf19 Yes, we definitely need a doc that lays out the endpoints. This is gold - nice work, @JasSuri. This will have to go to May sprint, earliest, but I'll get something stubbed out.

[2020-04-21 21:52] jennyf19 commented on #1771
Awesome...thanks for the quick response @mmacy ...and yes @JasSuri  is golden!
Thanks @drewid  for bringing this to our attention.

[2020-04-22 06:07] henrik-me commented on #1763
Should probably be combined with the throttling functionality somehow, with support for persisting throttling information at least for the lifetime of the process. Also should consider preventing tokens not near expiry from being refreshed (e.g. only if with-in 5 minutes of expiry). Should generally have an API that will not encourage the use of ForceRefresh.

[2020-04-22 07:40] SravanthiKare commented on #1766
@jmprieur
I am not quiet sure on any such privacy feature on Safari in iOS 13.*
I think in iOS 13 they have added password autofill.

[2020-04-22 08:05] harmjonker commented on #1761
We have found the pattern in the behavior. Our ADFS enforces a second factor login with TOTP. When one does not respond fast enough and has to go through a resend of the notification, then confirms the 2Factor, then the ADFS redirects to the general company landing page.

[2020-04-22 08:13] bgavrilMS commented on #1761
Sounds like a bug in ADFS. @jmprieur - who can we contact to confirm?

[2020-04-22 08:15] harmjonker opened #1775 "GetAccounts always returns 0 accounts if broker is not installed"
If we do a acquiretoken request with broker=true, what is the exact behavior in case there is no broker installed ?
I thought it would do the login without broker, but in the 4.11 release we notice that it fails to get a token. Is the intended behavior that it indeed fails and one should retry with broker=false?

[2020-04-22 08:21] bgavrilMS commented on #1775
Is this Android or iOS , or both?

As far as I remember, if the broker is not installed, MSAL will attempt to use a browser. Note that on Android the redirect uri might be different in this case, so you need to register 2 redirect uris. Or use  the embedded browser via `.WithUseEmbeddedWebUi(true)`.

CC @trwalke as he's looking in this general area now

[2020-04-22 08:29] harmjonker commented on #1775
We are only developing for Android at the moment and do use .WithUseEmbeddedWebUi. I will look for log fragment to show the case. We don't see it falling back to the browser.

[2020-04-22 08:55] harmjonker commented on #1761
yes, I agree with you.  I will let it investigate by our ADFS service provider (KPN). I have no idea whether this is a local configuration issue or generic ADFS issue. By the way we are at ADFS 2012 and are migrating to ADFS 2016 soon.

[2020-04-22 13:32] alexander-papen commented on #1775
Before calling AqcuireTokenSilent(), we query the accounts using GetAccountsAsync()
The returned account is passed as argument to the AquireTokenSilent call.

However, GetAcountsAsync() does not provide any account, see logs:

MSAL Warning False (False) MSAL 4.11.0.0 MSAL.Xamarin.Android 28 [04/22/2020 11:10:12] (UnknownClient: 0.0.0.0) No Authenticator found on the device.
MSAL Error False (False

[2020-04-22 15:23] AdamDiament commented on #1423
I have the same issue, what were your steps to fix in the end?

[2020-04-22 20:07] mjfusa opened #1776 "[Bug] Clicking on username to login does nothing [MSIX, Ping federate]"
**Which Version of MSAL are you using ?**
MSAL 4.10.0
https://www.nuget.org/packages/Microsoft.Identity.Client/4.10.0

**Platform**
net46, with Application Packaging Project (MSIX)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

**Is this a new or existing

[2020-04-23 09:30] bgavrilMS commented on #1776
Hi @mjfusa - MSAL does not control the web pages used to log the user in. MSAL just opens a browser and navigates to the authroization endpoint, where the server controls the flow. This way, the server can decide things like - is 2FA needed, password expiration flows etc.

So this looks like a server bug and your best bet is to contact them directly (e.g. open a free support case from Azure Portal

[2020-04-23 10:01] bgavrilMS opened #1777 "[Feature Request] PKCE should use 96 random bytes instead of 43 for added security"
**Is your feature request related to a problem? Please describe.**
Defence in depth

**Describe the solution you'd like**
MSAL's PKCE implementation uses a code verifier of 43 bytes. This is the minimum described in the spec RFC 7636.
To benefit from added entropy, MSAL should use the maximum described in the spec, i.e. 96 bytes

For more details see the comments on this PR https://github.com/micr

[2020-04-23 10:14] bgavrilMS commented on #1762
@aiwangmicrosoft - is this something you could investigate?

[2020-04-23 10:18] bgavrilMS commented on #1775
Thanks for the details @alexander-papen - I think you are right, this is a scenario we overlooked.

@trwalke - can we close the loop here with the Android folks? In my opinion, GetAccountsAsync should get both Authenticator and local accounts and merge them. But I do not want to reinvent the wheel...

@aiwangmicrosoft - we're struggling here to find out what is the expected behaviour in these scen

[2020-04-23 10:21] bgavrilMS commented on #1762
@JasSuri - this looks like a server side issue, do you know anything about it?

[2020-04-23 12:16] DiegoFaFe commented on #1423
@deep-mm @AdamDiament Ups, totally missed the previous notification. I just kept the older version of Microsoft.Azure.ServiceBus

[2020-04-23 16:35] AdamDiament commented on #1423
Thanks for the reply @DiegoFaFe . Downgrading wasn't an option for me dependency-wise, I need 4.x. Fortunately changing my Xamarin android linker behaviour to "Sdk and User Assemblies" seemed to clear up the build issue for me.

[2020-04-23 17:40] henrik-me commented on #1773
@crmann1 : will catching System.Net.HttpListenerException be ok as a workaround?

[2020-04-23 17:51] bgavrilMS opened #1778 "[Bug] MsalClientException UserMismatchSaveToken sometimes thrown in web apps"
**Which Version of MSAL are you using ?**
4.11

**Platform**
.net

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**
This

[2020-04-23 18:18] jmprieur commented on #1776
See also https://github.com/MicrosoftDocs/azure-docs/issues/49182

[2020-04-23 21:12] crmann1 commented on #1773
Catching it in the caller code?  We can do that for now.

[2020-04-23 22:25] henrik-me commented on #1773
@bgavrilMS @jmprieur : could/should we catch all exceptions and translate into canceled exception or perhaps user canceled?
@crmann1 : Do you happen to have a repro where we can hit this issue at least relatively frequently? Also do you have a set of logs you can share from when this issue have occurred?

[2020-04-24 01:41] mjfusa commented on #1776
@jmprieur When running as MSIX, does MSAL use the UWP Token Cache Serialization?

[2020-04-24 08:25] jmprieur commented on #1773
@henrik-me : I don't understand all exceptions? Is it what we've been doing (and should not be doing) ?

[2020-04-24 09:06] bgavrilMS commented on #1778
Fixed by https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1769

[2020-04-24 09:20] bgavrilMS commented on #1773
@jmprieur  - the cancellation semantics in .NET state that if you cancel a long running operation, that operation **should** throw an **OperationCancelledException**. In this case, the exception is HttpListenerException.

The impact is that it prevents apps from correctly observing a system browser flow cancellation, potentially crashing the app.

As an aside: because libraries are not required to

[2020-04-24 09:41] bgavrilMS commented on #1776
Yes, by default MSAL on UWP will serialize its cache to LocalAppData. You can override that, for example serialise only in memory or to some other secure storage:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization

[2020-04-24 15:27] #715 closed

[2020-04-24 15:27] #901 closed

[2020-04-24 15:27] #1536 closed

[2020-04-24 15:27] #1685 closed

[2020-04-24 15:27] #1719 closed

[2020-04-24 15:27] #1757 closed

[2020-04-24 15:27] #1778 closed

[2020-04-24 16:10] charlesroddie commented on #1098
We are seeing a similar issue on an end-user system.

Microsoft.Identity.Client 4.11.0
UWP, WINDOWS 10.0.18362
Desktop, Interactive authentication flow
Using Azure AD B2C
We have provided the internetClient capability.

Expected behaviour: the AcquireTokenInteractive box should appear after the ExecuteAsync() method is called, for the user to log in

Actual behaviour: The box does not appear, and

[2020-04-24 16:24] bgavrilMS commented on #1098
@charlesroddie - please log a separate issue

[2020-04-24 20:48] neha-bhargava commented on #1778
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 20:49] neha-bhargava commented on #1757
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 20:49] neha-bhargava commented on #1719
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 20:49] neha-bhargava commented on #1536
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 20:49] neha-bhargava commented on #1685
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 20:49] neha-bhargava commented on #715
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 20:50] neha-bhargava commented on #901
Fixed in [MSAL 4.12.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.12.0)

[2020-04-24 21:29] henrik-me commented on #1777
@bgavrilMS : About a year ago we had similar alignment for the state parameter. Should be a relatively simple API PR to ensure all libraries aligns.

[2020-04-24 21:37] henrik-me commented on #1773
@bgavrilMS thought on how we would handle this. A wrapper inside all our public api points that will validate if the exception is ours or operationcanceled and if not throw the best possible exception? Where we would err towards OperationCanceledException as the default (unless it's already an MSAL exception type)?

[2020-04-24 23:13] mjfusa commented on #1776
@bgavrilMS This may be an MSAL issue as the problem only occurs when using the embedded browser. I was able to repro differences in the login page depending on if the app is running as straight Win32 or as MSIX. See attached.
[MSAL Win32 Desktop vs same app running as MSIX packaged app.docx](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4531937/MSAL.Win32.Desktop.vs.

[2020-04-25 10:22] bgavrilMS commented on #1773
This is a bug in system browser logic, as it uses HttpListener objects, which do not support cancellation out of the box. .NET has a way to deal with these, but we have a bug.

It's a common pattern to catch exceptions like `HttpListenerException`, check if cancellation has been requested, and throw the expected `OperationCancelledException`. Relatively easy fix.

[2020-04-25 19:06] charlesroddie opened #1782 "UWP authentication crash ((WAB) authentication failed)"
Error from an end-user system. (cc @kevcrooks)

Microsoft.Identity.Client 4.11.0
UWP, WINDOWS 10.0.18362
Desktop, Interactive authentication flow
Using Azure AD B2C
We have provided the internetClient capability.

Expected behaviour: the AcquireTokenInteractive box should appear after the ExecuteAsync() method is called, for the user to log in

Actual behaviour: The box does not appear, and an exc

[2020-04-25 19:06] charlesroddie commented on #1098
@bgavrilMS done https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1782

[2020-04-27 08:56] bgavrilMS commented on #1775
@aiwangmicrosoft  - is there any progress on this? Can you please help define expected scenario here and confirm with Android team?

[2020-04-27 11:26] soooraj opened #1784 "[Question] Pre fill the last logged in user name while login in Xamarin forms"
I am using **Microsoft.Identity.Client** in Xamarin Forms app for Azure AD b2C authentication.
I have a doubt related to this,

Is there anyway I can pre fill the last logged in user name in username field?

I am using the above code for login.

Please help.

[2020-04-27 11:33] tomcurran opened #1785 "App targeting Android 8.1 not possible"
**Which Version of MSAL are you using ?**
MSAL v4.12

**Platform**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
Reproducible in

[2020-04-27 11:34] tomcurran commented on #1785
Seems related to #941

[2020-04-27 11:41] bgavrilMS commented on #1785
Hi @tomcurran - although this is not a great user experience, it is expected. Can your app not use Android SDK 9? This is not the same as the runtime Android version, which will not be impacted - i.e. your app can still target old versions of Android. Runtime != SDK.

What's happening is that MSAL is multi-targetted and supports Android 9 and NetStandard 1.3. Because your application uses Android

[2020-04-27 11:51] bgavrilMS commented on #1784
Firstly, you need to remove `.WithPrompt(Prompt.ForceLogin)`. This causes the server to ignore the browser cookies and force re-authentication. In fact, with B2C, it is recommended that you do not try to customise the authentication experience using prompts.

If this doesn't work, note that the embedded webview which you use isn't great at remembering user state. Do you need to use an embedded web

[2020-04-27 11:56] tomcurran commented on #1785
@bgavrilMS Thanks for responding so quickly. The app I'm working on could use TargetFrameworkVersion 9.0. However, as is common with enterprise apps, they are large and it can require significant effort to make changes like this. On experimentation, there were additional issues that needed to be resolved to target 9.0.

Libraries like [Xamarin.Essentials](https://www.nuget.org/packages/Xamarin.Ess

[2020-04-27 11:56] soooraj commented on #1784
Is it possible to pass as an additional parameter ? and assign the user name back to the field?

[2020-04-27 11:58] bgavrilMS commented on #1784
You can try to use `.WithLoginHint("soooraj@contoso.com")`. I am not sure this works on B2C, but it might.

[2020-04-27 12:14] #1784 closed

[2020-04-27 12:32] bgavrilMS opened #1786 "Cache Extension - performance testing"

[2020-04-27 12:32] bgavrilMS opened #1787 "Client throttling - retry-after and http status"
Full feature request: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1624

[2020-04-27 12:48] bgavrilMS commented on #1785
We have it on our roadmap to add support for Android 10, and keep supporting Android 9. We used to support Android SDK 8, but were forced to give that up some time ago. I believe the last version of MSAL that supports Android 8 is https://www.nuget.org/packages/Microsoft.Identity.Client/2.7.1;

[2020-04-27 18:50] aiwangmicrosoft commented on #1775
Synced offline with @trwalke - he has enough clarity to move forward with this issue and we will work together to get me up to speed on the broker and how to best augment the existing spec for brokers on Android today.

[2020-04-28 08:30] rfcdejong opened #1788 "[Bug] AADSTS50196: The server terminated an operation because it encountered a loop while processing a request"
**Which Version of MSAL are you using ?**
MSAL 4.12.0

**Platform**
net462

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app

[2020-04-28 08:33] jmprieur commented on #1788
@rfcdejong can you please check if you see the same behavior with MSAL.NET MSAL 4.12.0 ?
(to to confirm an intuition)

[2020-04-28 08:38] rfcdejong commented on #1788
I had the exception using 4.11.0 and updated to 4.12.0 didn't fix it.

[2020-04-28 08:45] rfcdejong commented on #1788
To verify

Microsoft.Identity.Client.MsalUiRequiredException: 'AADSTS50196: The server terminated an operation because it encountered a client request loop. Please contact your app vendor.
Trace ID: 988e6c34-56a7-4888-ab51-860838141100
Correlation ID: c2d4883f-084e-4835-a368-b70be2153872
Timestamp: 2020-04-28 08:45:18Z'

[2020-04-28 08:47] jmprieur commented on #1788
@rfcdejong : thanks for confirming. Can you please tell us a bit more about the context of your code above. Is it called from several threads?  do you have repro steps that we could use?

[2020-04-28 08:47] jmprieur commented on #1788
cc: @bgavrilMS

[2020-04-28 09:11] rfcdejong commented on #1788
Well, it seems the code calling it is not async. We used MSAL v1  1.1.0-preview  before for years in our application. I'm just migrating it to MSAL v2 but the code is not shareable anyway.

To overcome race conditions and the async await pattern and instead of ConfigureAwait in combination with GetAwaiter my co-workers wrote code like this

`            var task = Task<AuthenticationResult>.Factor

[2020-04-28 09:13] tomcurran commented on #1785
Ok, thanks Bogdan. I'll close the issue then.

[2020-04-28 09:13] #1785 closed

[2020-04-28 09:29] jmprieur commented on #1788
how did you refactor your code? @rfcdejong  ?

[2020-04-28 09:47] rfcdejong commented on #1788
By overriding the HttpClient that is being used with a custom one. Then overriding the SendAsync method which is already async and adding the access token as header there instead of at construction of the HttpClient which is inside a non async method.

[2020-04-28 11:07] bgavrilMS commented on #1776
There are 2 levels of caching that happen with authentication. The first one is based on HTTP cookies, and it is handled by the server that issues tokens (STS). The developer and MSAL have little control over this, you can influence this behaviour using `.WithPrompt` which you already use. The actual browser that is being used may behave differently - in the WIn32 Desktop we use the WinForms WebBr

[2020-04-28 11:36] bgavrilMS commented on #1788
@rfcdejong - the error you are getting seems to indicate that the server is throttling you. This can occur if a variety of situations:

- you call AAD too often with same request
- AAD is having problems and is asking you to back off

It may be that your app is retrying the same request too often, maybe there is a bug in your async handling or in some retry policy?

Some thoughts on high availabil

[2020-04-28 12:39] rfcdejong commented on #1788
Closed as I fixed it locally. Perhaps it would be a solution to implement an Execute function next to ExecuteAsync so that code which isn't async will also work without workarounds on the awaiter.

[2020-04-28 12:39] #1788 closed

[2020-04-28 23:05] mjfusa commented on #1776
Thx @bgavrilMS - one note is that in this scenario I'm running a Win32 desktop app in an MSIX context using the [Windows Application Packaging project](https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-packaging-dot-net). In this case, the desktop MSAL library is being using (not UWP). The expectation is the behavior would be the same. I believe the difference in behavior is the

[2020-04-29 00:05] mjfusa commented on #1776
[proposed Label] AppConsult

[2020-04-29 16:37] neha-bhargava opened #1791 "[Bug] When ValidateAuthority is false, bypass instance discovery call"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

Latest

**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password

[2020-04-29 17:03] kevcrooks opened #1792 "[Bug] [Xamarin.Mac] GetAccountsAsync is not returning any elements on Xamarin.Mac after an authentication"
After authenticating on Xamarin.Mac, we later call `GetAccountsAsync()` to try and refresh a token, but are not getting any results back. I think this is because the keychain caching is not working in Xamarin.Mac.

We're using version 4.12.0, and this is currently working on our other three Xamarin platforms: iOS/ Android and UWP.

I've tried to follow a similar approach to our iOS app, where we h

[2020-04-29 17:45] henrik-me commented on #1791
When fixing this, utests should be improved to cover these scenarios, possibly also an addition to e2e testing.

[2020-04-29 18:02] bgavrilMS commented on #1791
We have an E2E test that verifies behaviour when validate=true, should be easy to repurpose for validate=false as well.

[2020-04-30 05:24] jennyf19 opened #1795 "[Bug] Null ref thrown when cca built with no AuthenticationType"
Related to this issue in [ms identity web](https://github.com/AzureAD/microsoft-identity-web/pull/139)

**Repro:**
- Create a confidential client using application options (or without, based on my testing), and do not include a client secret, certificate or assertion.
- In `ClientCredentialWrapper` the [default enum value](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob

[2020-04-30 05:29] jennyf19 commented on #1792
@bgavrilMS can you assist with this?

[2020-04-30 17:04] trwalke opened #1796 "[Investigate] Investigate performance of broker authentication scenarios and Identify areas for improvment"
**Which Version of MSAL are you using ?**
Latest

**Platform**
xamarin android, xamarin iOS

**What authentication flow has the issue?**
all brokered authentication flows

We need to investigate the performance of the authentication scenarios on Android and iOS to determine how long each section of the authentication flow takes. We can use this data to look for areas of opportunity to improve perf

[2020-04-30 17:19] trwalke opened #1798 "Validate that Desktop SSO Functionality works for MSAL v3. Update Service if it works as expected"
**Is your feature request related to a problem? Please describe.**
A  number of first party client apps are running with MSAL 3 and they are in need of SSO for their scenario. The currently state of desktop SSO is to only support versions of MSAL.NET V4+

**Describe the solution you'd like**
Back port the functionality to MSAL V3+ so that more customers can take advantage of desktop SSO with MSAL.

[2020-04-30 20:32] bgavrilMS commented on #1792
We did not implement token cache persistence in xamarin.mac, just the browser popup. I can think of 2 workarounds:

1. We do have a token cache extension that persist in keychain, written for .net core and .net standard, so it should work for xamarin.mac. However, there is a bug that blocks it :(. Extension is here https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet

If you c

[2020-05-01 17:50] bgavrilMS commented on #1792
I have a fix for the cache extension and should be able to release a new version on Monday or so. https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/issues/61

[2020-05-01 22:27] jennyf19 commented on #1792
Thanks @bgavrilMS
fyi: @kevcrooks

[2020-05-01 23:15] cheenamalhotra commented on #1543
Will this feature need any changes in consuming libraries or it will be implicitly handled by MSAL?

[2020-05-01 23:20] trwalke commented on #1543
No changes needed, MSAL will automatically start detecting PKey Auth challenges and respond to them assuming the proper device cert is available.

[2020-05-03 16:21] mikegoatly commented on #1782
I have a user of my app reporting exactly the same problem. I've updated to 4.12.0 and the problem still persists. I'm unable to replicate the issue on any devices available to me so I suspect it is environmental, although from app insights I can very occasionally see others having the same issue.

My customer is on Windows Version: 10.0.18363.778 (x64) and has tried restarting and uninstalling/re

[2020-05-03 16:33] tipa commented on #1782
I strongly believe this is a Windows problem and cannot be fixed inside this library (at least not using the Web Authentication Broker). I also had my users collect the logs as suggested in the exception and [sent them to](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1098#issuecomment-557112876) @jmprieur, unfortunately haven't heard back from him

[2020-05-04 09:14] jmprieur commented on #1782
@tipa : I'm puzzled. Unless I missed something, I don't think I received logs in my mailbox?

[2020-05-04 09:17] bgavrilMS commented on #1782
@tipa  - I'll follow up with the WAB folks - could you send me those logs? Jean-Marc didn't receive them, maybe they were blocked by spam / security filters ... bogavril at microsoft com

Also, I have a few more questions:

a. What scopes are you asking?
b. Does this happen for B2C local accounts or for some / all identity providers (facebook, google etc.)
b. How often / for how many users does th

[2020-05-04 11:56] kevcrooks commented on #1792
That's great, thank you @bgavrilMS we'll update to the next release once ready

[2020-05-05 08:57] bgavrilMS commented on #1653
@neha-bhargava tested this and it looks like the system browser does not execute. We need to investigate and fix this. It is not ready to merge.

[2020-05-05 09:12] bgavrilMS commented on #636
Raising to P1 as there are many people impacted by this.

[2020-05-05 10:44] #1543 closed

[2020-05-05 10:44] #1786 closed

[2020-05-05 10:44] #1795 closed

[2020-05-05 10:44] #1787 closed

[2020-05-05 13:12] kevcrooks commented on #1782
I saw this older issue that suggests the error could be caused by a proxy on the machine (which may explain why we can't reproduce our end-user's behaviour), but I haven't looked in to this further: [https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1482](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1482)

[2020-05-05 16:21] plemm98 opened #1803 "Deprecation of login.microsoftonline.com"
### Documentation Related To Component:
Set redirect URLs to b2clogin.com for Azure Active Directory B2C
https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

### Please check those that apply

- [X] documentation needs clarification
- [X ] needs example

### Description Of The Issue
I spend an hour reading this issue : "AD B2C - tenant.b2clogin.com is not providing same abilities

[2020-05-05 17:30] bgavrilMS commented on #1803
I think you are right. The code sample you are showing is of ADAL fetching token on **behalf of an application** (based on the certificate). This endpoint will continue to be supported and that sample will continue to work.

The endpoint that is deprecated is "login.microsoftonline.com" in the context of authentication of users through the B2C policies / experiences. There you should use the "b2cl

[2020-05-05 19:38] jamesmontemagno commented on #1653
Is it that Chrome Custom Tabs doesn't open? or an embedded browser?

[2020-05-05 19:48] jamesmontemagno commented on #1653
Should be fixed up, basically ADAL does a check to see if anything can open a custom tab and if not then don't do anything. We have to use the older check.

[2020-05-05 20:21] neha-bhargava commented on #1653
Chrome Custom tabs doesn't open.

[2020-05-05 21:06] jamesmontemagno commented on #1653
Try my latest PR updates.

[2020-05-06 09:39] jmprieur commented on #1651
@trwalke @aiwangmicrosoft : what is the severity of this bug?
cc: @bgavrilMS

[2020-05-06 09:41] jmprieur commented on #1761
@harmjonker : do you have an update?

[2020-05-06 09:56] jmprieur commented on #1497
@mtanml can you repro this issue with one of our samples? https://github.com/Azure-Samples/active-directory-xamarin-native-v2 for instance?

[2020-05-06 09:57] #1698 closed

[2020-05-06 09:58] jmprieur commented on #1744
@silkfire : which framework is your app targeting? what is your scenario?
(closing as you have not answered, but feel free to answer and I'll reopen)

[2020-05-06 09:58] #1744 closed

[2020-05-06 09:59] #1754 closed

[2020-05-06 13:02] #1497 closed

[2020-05-06 17:47] bgavrilMS commented on #1728
I would like to get this in sooner rather than later. I see a pattern among our customers to create new CCA objects for each call, and to not use any cache serialisation. `AcquireTokenForClient` is the main problem here

If we had this flag, we could guide customers to writing integration tests / monitoring to check that they don't hit AAD on every request.

[2020-05-06 17:57] jennyf19 commented on #1803
@plemm98 what @bgavrilMS said plus customers didn't want to have "microsoft" anywhere in the login url, so b2clogin is the alternative or a custom domain.

Does [this documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) help you moving from login.onmicrosoft.com to *.b2clogin.com?

[2020-05-06 18:36] jmprieur commented on #1728
LGTM., @bgavrilMS.

[2020-05-07 10:48] bgavrilMS opened #1805 "[Bug] The broker changes the correlation ID"
**Which Version of MSAL are you using ?**
4.13

**Platform**
iOS (possibly Android as well)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive / Silent + Broker

Other? - please describe;

**Is this a new or existing app?**
Prod app

**Repro**

Customer encountered this in logs:

[0:] [5/5/2020 2:50:59 PM].[ThreadID 5]:[MSAL: Warning: (True) MSAL 4.13.0.0 MSAL.Xa

[2020-05-07 12:41] bgavrilMS opened #1806 "[Bug] Broker -AuthenticationResult.ExpiresOn is 50 years into the future"
**Which Version of MSAL are you using ?**
4.13

**Platform**
iOS + broker
Android + broker

**Is this a new or existing app?**
a. The app is in production, and I have upgraded to a new version of MSAL

**Repro**

I don't have an exact repro, but this problem has been reported by customers. The ExpiresOn value of the token is about 50 years into the future.

1. Use iOS + Broker (but probably repros

[2020-05-07 13:09] bgavrilMS commented on #1098
@tipa - it looks like the WAB error is because it cannot reach the ping-sso url

AuthHost encountered a navigation error at URL: <https://ping-sso.schneider-electric.com/idp/eyJ2c2lkIjoic2UuY29tIn0=/prp.wsf?client-request-id=c07c1ec.........

 HR_INET_E_RESOURCE_NOT_FOUND

A few thoughts:

- we do not collect exception messages in the logs by default, because they could contain personal identifia

[2020-05-07 13:33] tipa commented on #1098
Thanks for looking into it. This was quite an old log, once I have another user who is experiencing this and willing to collect the (PII) logs, I send them in.

[2020-05-07 16:11] trwalke commented on #1651
@jmprieur This will be a big issue for anyone who needs to pass claims to the broker so i think this is moderatly high severity. P2 seems appropriate. this will be shipping in the next release

[2020-05-07 16:14] trwalke commented on #1775
released in 4.13.0

[2020-05-07 16:14] #1775 closed

[2020-05-07 16:28] trwalke opened #1809 "[Bug] MSAL will not perform silent auth when broker is enabled and not installed."
Normally, if the broker is configured for use (WithBroker(true)) then MSAL will only attempt silent authentication through the broker. This is because the android broker does not return a RT to be stored in the cache. However, this does not mean that it is impossible for a valid RT to be in the cache ready for silent authentication. Therefore, MSAL should check its internal cache for a valid token

[2020-05-08 11:16] NunoBem commented on #1600
Looking forward for the migration to AndroidX.

[2020-05-10 20:33] stewartadam commented on #1539
@jmprieur can you provide more details on why this is closed? Are you closing this because it's not a feature B2C wishes to implement, or is this an outstanding issue being tracked elsewhere?

The points @olegbaev makes are valid IMO and requiring applications to implement a separate call to different API to terminate the refresh tokens is not an ideal UX.

[2020-05-11 09:35] jmprieur commented on #1539
@stewartadam : this is not a library related enhancement, but a B2C service enhancement, tracked by the B2C team.
@jaraya-MSFT

[2020-05-12 10:04] sangavi008 opened #1811 "how to refresh the access token without using refresh token?"
Our server based application is using basic authentication, planning to migrate to Oauth method.
Where in my code i m getting the username and password of the users and generating the access token. and doing sync of outlook appointments.
using PublicClientApplicationBuilder ,

app = PublicClientApplicationBuilder.Create(app_id)
                .WithAuthority(AzureCloudInstance.AzurePublic, tenant_

[2020-05-12 11:09] bgavrilMS commented on #1811
MSAL refreshes tokens for you, but you need to call `AcquireTokenSilent` before calling `AcquireTokenUsernamePassword` or `AcquireTokenInteractive`.

All our samples [show this](https://docs.microsoft.com/en-gb/azure/active-directory/develop/sample-v2-code).

The Username/Password sample code: https://github.com/Azure-Samples/active-directory-dotnetcore-console-up-v2/blob/master/up-console/PublicA

[2020-05-12 12:20] sangavi008 commented on #1811
Thank you for your quick response.
What my understanding is, first goes to AcquireTokenUsernamePassword  and generate the token after one hr then it goes to AcquireTokenSilent to refresh the access token.
I have one point to clarify here. Since my application is Server based application. Initially i ask for user credentials and create the instance with generated token for Exchange  and later on it

[2020-05-12 12:26] bgavrilMS commented on #1811
I am not sure I understand the architecture of your application. If you application is server side, you can use a secret or a certificate to obtain tokens on behalf of the application itself. Have a look at the daemon app samples. If you have a website, have a look at the web app / web api samples.

But to answer your question - MSAL does not do anything in the background, so you have to call it.

[2020-05-12 13:17] bgavrilMS commented on #907
Is this even doable on net45?

[2020-05-12 13:25] sangavi008 commented on #1811
I have reviewed the link. As you suggested, Instead of taking credentials from your user, i can introduce the secret key concept in my application which is feasible also.
But only point i stuck is refreshing access token in the background.
I can give you the overview of my application:
Application acts like a middle man between system which maintain the user data and Exchange [Office 365]. My appl

[2020-05-12 13:51] bgavrilMS commented on #1811
@kalyankrishna1 - can you help, I do not know what to suggest here...

[2020-05-12 14:05] pocce90 opened #1812 "[Bug] [Unity] newtonsoft.json causes crashes for MSAL on unity"
**Which Version of MSAL are you using ?**
MSAL 4.13.0

**Platform**
net45

**What authentication flow has the issue?**
* Mobile
    * [x] Interactive
    * [] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**
This is

[2020-05-12 15:40] bgavrilMS commented on #1812
We don't really use EventSource for anything except for some platform logging. I have no idea for what this code is used. I think it can be removed...

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/05d6c1b2855629ab0fd34a1db1dcc1bf58e33f99/src/client/Microsoft.Identity.Client/PlatformsCommon/Shared/MsalEventSource.cs#L12

[2020-05-12 16:47] jennyf19 commented on #1803
closing, but please reopen if needed @plemm98

[2020-05-12 16:47] #1803 closed

[2020-05-12 17:45] pocce90 commented on #1812
UPDATES:

I've captured the exception: "System.Reflection.Emit.DynamicMethod::.ctor".
if I try to go on and launch one these methods:
[code]

[2020-05-12 18:01] jennyf19 opened #1813 "Test Android X"
After this [PR merges to master](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1745), we need to run a release build to test the following:

- [ ] Android 9 + interactive/silent auth
   - [ ] Embedded webview
   - [ ] System browser
- [ ] Android 10 + interactive/silent auth
   - [ ] Embedded webview
   - [ ] System browser
- [ ] Broker Android 9 + interactive/silent

[2020-05-13 10:30] pocce90 commented on #1812
UPDATES:
I've captured the full log using
[code]
it seems there is a problem with json parser library, if it's the newtonsoft.json library I know that it doesn't work in unity L2CPP, we use a fork of that library inside our project that works in L2CPP (https://github.com/jilleJr/Newtonsoft.Json-for-Unity)

[code]

[2020-05-13 10:56] bgavrilMS commented on #1398
you can find an implementation for this here: https://identitydivision.visualstudio.com/Engineering/_workitems/edit/824799

[2020-05-13 11:05] bgavrilMS commented on #1812
MSAL uses newtonsoft.json indeed. We don't take a reference to it so as not to cause versioning problems, but we have an internal copy of it.

[2020-05-13 12:21] chrisekobo opened #1814 "Microsoft.Identity.Client.MsalException: An exception has occurred"
Version: MSAL 4.10.0
Platform: Xamarin Forms

Sometimes I receive Microsoft.Identity.Client.MsalServiceException: AADB2C: An exception has occurred. Correlation ID: 3371da50-f0a1-4351-b4ae-a38835ec5437 Timestamp: 2020-05-10 07:54:41Z in my logs.
I'm using standard SignUpInPolicy user flow to login users of my app and in the most cases login works perfectly. But sometimes this error occures with no

[2020-05-13 13:35] HaroldH76 opened #1815 "Cannot migrate ADALV3 cachetokens to MSALV3 when multiple resourceId's are used"
**Which Version of MSAL are you using ?**
MSAL 4.13.0
ADAL 5.2.7

**Platform**
Net 4.7

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
The app is

[2020-05-13 13:56] jmprieur commented on #1815
@HaroldH76 : did you have a look at this sample code: Token cache migration between [ADAL.NET 3.x, ADAL.NET 4.x, and MSAL.NET](https://github.com/Azure-Samples/active-directory-dotnet-v1-to-v2/blob/master/TokenCacheMigration/README.md) ?

[2020-05-13 14:53] HaroldH76 commented on #1815
@jmprieur thx for the quick response!

The sample you provided works flawless :-) Also when I modify the ADALV3 console app to retrieve tokens for https://graph.microsoft.com and one for https://outlook.office.com I can still use the MSALV4 console app to retrieve the same tokens with no errors about duplicate refresh tokens.

But when I implement this in my application still get the same error ab

[2020-05-13 19:30] jennyf19 commented on #1814
@chrisekobo which identity provider(s) are you targeting when this happens? If you can provide a more recent correlation id, we can try to look it up in the b2c server and see what happened.

[2020-05-14 02:12] jennyf19 commented on #1815
@HaroldH76 Do you have a repro you can share w/us?

[2020-05-14 06:25] chrisekobo commented on #1814
This is the most recent correlation id. We don't have a new one in our logs :(. In our app we are using three identity providers: local account, google, facebook. In our logs at this moment we don't have any information about idp user was using.

[2020-05-14 10:20] HaroldH76 commented on #1815
Yes! I just managed to reproduce the issue in a new webapp. See attached zip. Some instructions:

- all code is in the HomeController.cs
- clientid, secret and tentantid are hardcoded in HomeController.cs
- make sure the redirect url is registered in Azure app registration
- make sure the cache folder exists or change it

To reproduce:

- start the website
- click on the first link to generate an

[2020-05-14 10:42] bgavrilMS commented on #1815
@HaroldH76 - is it safe to place a secret in the sample itself on GitHub? Are you using a test tenant with absolutely no access to protected resources? If not, please go to your app registration ASAP and revoke the secret. You can send me a new secret by email at bogavril at microsoft.com and I'll share it with Jean-Marc and Jenny.

[2020-05-14 11:24] HaroldH76 commented on #1815
@bgavrilMS
no, I have removed my clientid and secret from the zip before I uploaded it :-) You can use your own app registrations to test it.

[2020-05-14 15:45] bgavrilMS opened #1820 "[Bug] AcquireTokenSilent / GetAccounts / RemoveAccounts + Broker is not consistent with MSAL.Android behaviour"
**Which Version of MSAL are you using ?**
4.13

**Platform**
Android

**Expected behavior**

GetAccounts should fetch local accounts from MSAL cache and the broker accounts and merge them by home_account_id.
RemoveAccount should remove the account and associted tokens from both local cache and from the broker
AcquireTokenSilent should first try to get a token from local cache and, if none is avail

[2020-05-14 15:47] bgavrilMS commented on #1820
CC @rpdome for confirmation

[2020-05-14 15:55] bgavrilMS opened #1821 "[Bug] GetAccounts / RemoveAccounts on Android + Broker is not consistent with Msal.Android behavior"
**Which Version of MSAL are you using ?**
4.13

**Platform**
android

**Repro**

**Expected behavior**
GetAccounts should fetch local accounts from MSAL cache and the broker accounts and merge them by home_account_id.

**Actual behavior**
GetAccounts does not merge local and broker accounts.

**Impact**
By not merging local state with broker state, developer does not have an overview of what accou

[2020-05-14 15:59] bgavrilMS opened #1822 "[Bug] Missing documentation and sample on how to fallback to system webview if broker is not present"
**Which Version of MSAL are you using ?**
4.13

**Platform**
android

**Repro**

1. Configure the broker, including a redirect uri
2. Use a device without broker

**Expected behavior**
The system web view should be used by MSAL because the broker is not present

**Actual behavior**
Developers cannot use the system web view because of redirect uri mismatch (redirect URI for broker is different than

[2020-05-14 16:49] bgavrilMS commented on #1814
It would be great to get more logs if you wish us to investigate what happens on the SDK side.

If this is a server-side issue (and it looks like it is), the best would be to open a support case - afaik these are free. The correlation ID and the date of when this happened should be enough for those guys to investigate what happened.

[2020-05-14 16:51] bgavrilMS commented on #1811
@TiagoBrenck - could you take a look at this scenario please?

[2020-05-14 17:06] bgavrilMS commented on #1762
The MSAL client SDK has nothing to do with IEF so I think you are better off raising a support issue (i believe these are free) or raising issues on B2C samples.

[2020-05-14 17:06] #1762 closed

[2020-05-14 17:08] #1755 closed

[2020-05-14 17:09] DaveBrickley commented on #1762
I’ve removed MSAL entirely from my app and written my own, turned out to be considerably quicker than waiting for an answer

Sent from my iPhone

[2020-05-14 17:10] bgavrilMS commented on #1737
This is a configuration issue. AAD must report that the user is "federated". If it reports that the user is "managed", then IWA doesn't work.

You must configure AD to be federated.

[2020-05-14 17:28] rpdome commented on #1820
The way we implemented this is that we have to controllers, [LocalMsalController](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/44b9414f3be233053f441435440db7fbcee312b0/msal/src/main/java/com/microsoft/identity/client/internal/controllers/LocalMSALController.java) and [BrokerMsalController](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/

[2020-05-14 17:28] TiagoBrenck commented on #1811
@sangavi008 how often would this sync operation be triggered? You said that every hour is not feasible, so how long would that be?

Also, if using client credentials is a possibility for you, then I think that could be the solution depending on how often this operation will be called.

[2020-05-14 17:39] bgavrilMS commented on #1805
It is possible that this is external.

[2020-05-14 17:48] bgavrilMS commented on #636
Looks like the broker can sometimes trigger this as well. We need to handle the null better.

[2020-05-14 17:55] bgavrilMS commented on #1805
We should test that AcquireTokenInteractive and AcquireTokenSilent preserve the correlation ID that is passed via `.WithCorrelationId`

[2020-05-14 18:04] sangavi1001 commented on #1811
@TiagoBrenck, my application acts like middleman  designed to do the sync operation between outlook and user data maintained system. its like  background job so whenever the appointment created by the users it triggers.
As per the current code it calls the access token generation method initally while I start the application service. After 1hr token expires and failing the background  sync operati

[2020-05-14 20:02] kalyankrishna1 commented on #1811
To change the lifetimes of the tokens please refer to[ Configure authentication session management with Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime)

[2020-05-14 21:57] jabbera commented on #1737
@bgavrilMS

Why doesn’t MSAL support Seamless SSO? I can be unfederated and login to SSMS with a password or any web page that supports Seamless SSO. This seems natural to support as part of the integrated workflow no?

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure?tabs=azure-powershell#active-directory-integrated-authentication

[2020-05-14 23:45] onsubmit opened #1824 "Provide more accurate Windows OS information in client info headers"
**Is your feature request related to a problem? Please describe.**
This feature request is in response to a Microsoft internal customer-reported [incident](https://icm.ad.msft.net/imp/v3/incidents/details/185949148/home). The customer noticed that when making requests on Windows Server 2012, in the sign-in activity logs, they would see OS = Windows 8 instead. After internal discussion, it was dete

[2020-05-15 01:56] jennyf19 commented on #1824
Thanks for the info @onsubmit

[2020-05-15 06:07] chrisekobo commented on #1814
@bgavrilMS  you mean to open a support case or AD B2C in Azure? I'm afraid there are not free. To open a technical case for my subscription I should upgrade my plan to paid.

[2020-05-15 09:05] jmprieur commented on #1737
@jabbera it does.
@trwalke which is the MSAL.NET minimum version to get seamless SSO.

[2020-05-15 09:22] jmprieur commented on #1824
Thanks @onsubmit !

[2020-05-15 10:59] kevcrooks commented on #1792
@bgavrilMS we're having issues adding and using the extension you mentioned on Mac. We've set it up according to the example given here in the manual test app: https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/tree/master/tests/ManualTestApp

but we're getting an exception when calling `MsalCacheHelper.CreateAsync(storageProperties)`

Is there some more information on how t

[2020-05-15 11:04] bgavrilMS commented on #1737
I'm pretty sure MSAL 4.x supports it, but it won't hurt to upgrade to latest MSAL to verify.

We make a WS-Trust query and the endpoint must report the user as being federated. This is how seamless SSO works. If user appears to be "managed", there is a configuration issue. That's my understanding of it. @trwalke can confirm.

[2020-05-15 11:09] bgavrilMS commented on #1792
What is the exception?

[2020-05-15 11:26] kevcrooks commented on #1792
I'm getting `Object reference not set to instance of an object` exception from `Msal.TraceSourceLogger.LogError` inside `Msal.MsalCacheHelper.CreateAsync`

[2020-05-15 11:38] bgavrilMS commented on #1814
I'm fairly sure you can open a free support case if you go to "Azure Active Directory" (not the B2C one) ...
![image](https://user-images.githubusercontent.com/12273384/82046426-c317a400-96a8-11ea-969a-945d7fbc4a70.png)

If you have more application logs I can take a look to see if the problem is in the SDK. But if you application only sometimes encounters this issue, it looks more like a service

[2020-05-15 12:28] chrisekobo commented on #1814
I have no more logs connected to this error. Maybe it is a service bug as you suggest.
We will add more logging to our app to have more information in the future.

Thank you  @ennyf19  and @bgavrilMS  for your help.

[2020-05-15 12:29] #1814 closed

[2020-05-15 14:47] jabbera opened #1825 "[Bug] Better error reporting when IWA is failing is needed"
**Which Version of MSAL are you using ?**
4.13.0

**Platform**
net462

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**
T

[2020-05-15 14:48] jabbera commented on #1737
Thanks! I tested this and ran into another issue I submitted.

[2020-05-15 14:51] bgavrilMS commented on #1792
Ack, I logged bug https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/issues/84 to track this - plus a simple workaround.

I'll get that fixed and released once we release MSAL 4.13, probably early next week. Until then you should use the workaround (in fact, it's a good idea to use tracing for logging anyway).

[2020-05-15 14:51] bgavrilMS commented on #1792
I'll close this issue and continue and conversation on AzureAD/microsoft-authentication-extensions-for-dotnet#84

[2020-05-15 14:51] #1792 closed

[2020-05-15 15:42] jennyf19 commented on #1814
@chrisekobo Here's how to add [msal logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#at-a-glance) which will include the correlation id. If you get one, feel free to email me and we can see if the b2c team can help.

[2020-05-15 17:29] bgavrilMS commented on #1820
Thank you for confirming Dome and explaining the architecture.

A couple of follow up questions:

- For `GetAccounts`, I assume the merge happens using home_account_id? Do you expect or handle conflicts in any way? (e.g. if a local account and a broker account have the same home_account_id?)

- Some RTs are more powerful than others when it comes to CA. I assume the RT on the broker is more powerf

[2020-05-16 00:43] IhnatKlimchuk commented on #1707
@JasSuri Thank you for answer. Where I can ask/vote for this feature?

[2020-05-17 12:41] RamjotSingh opened #1830 "[Bug] Setting validateAuthority to false still verifies the authority"
**Which Version of MSAL are you using ?**
4.13.0

**Platform**
netcore (tested, but the issue should be across platform)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [x] Integrated Windows Auth
    * [x] Username Password
    * [x] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [x] OBO
* Web API
    * [x] OBO

Other? - ple

[2020-05-17 12:43] RamjotSingh commented on #1830
Apparently it is fixed in #1791 Closing

[2020-05-17 12:43] #1830 closed

[2020-05-18 07:01] sangavi008 commented on #1811
@kalyankrishna1 As per the link i tried with Sign in frequency method i have made the configuration changes in Azure. First 1 hr it worked properly but after 1 hr it failed and received the authentication error. Would you advise more ?

[2020-05-18 09:33] henning-krause commented on #1726
Just stumbled accross because I got this exact error when using certificates created with PowerShell New-SelfSignedCertificate cmdlet, which uses CNG to create certificates.

[2020-05-18 10:03] chrisekobo commented on #1814
@jennyf19  I'll use msal logs. LogLever Error will be enough for you to to investigate in the future? At this momemnt I don't want to set LogLevel to Info because Iwill put these logs for every user in one centralized place and I don't want to have a mess of logs.

[2020-05-18 10:07] bgavrilMS commented on #1726
@henning-krause - I added a workaround, please let me know if that works.

[2020-05-18 12:14] Skirtek commented on #1814
@jennyf19 Should we provide you logs with LogLever Info or Error?

[2020-05-18 12:19] bgavrilMS commented on #1814
@Skirtek - if you can set the LogLevel to Verbose when you repro the issue, that will give us the most info.

If you can set the "Pii" flag to true that would be better - as the exception messages are stripped out otherwise.

[2020-05-18 12:35] Skirtek commented on #1814
@bgavrilMS Thank you for your response! Could you tell me what is minimum level of logging which will be valuable for you to provide answer? It will be problematic for us to store that much logs somewhere.

[2020-05-18 13:06] bgavrilMS commented on #1814
I think Info would be enough until you can repro the issue, then you can stop collecting logs.

[2020-05-18 15:21] henning-krause commented on #1726
@bgavrilMS I found another workaround. I you specify `-KeySpec KeyExchange` as a parameter for `New-SelfSignedCertificate`, it will revert to the CAPI provider and create legacy certificates. That works.

[2020-05-18 15:46] jennyf19 commented on #1814
@Skirtek Info is enough, as @bgavrilMS said, we just need the correlationId.

[2020-05-18 18:45] chrisekobo commented on #1814
I guees that not only correlation id :) because correlation id was provided by us at the initial post of this issue :)

[2020-05-18 19:07] jennyf19 commented on #1814
@chrisekobo true...good point. we just need a more recent one.

[2020-05-18 19:55] henrik-me commented on #1825
@trwalke : hoping you can review/investigate this issue.

[2020-05-18 19:57] henrik-me commented on #1824
@onsubmit : can you pls. specify exactly what you would like MSAL to return for each of the platforms of interest?

[2020-05-19 01:39] onsubmit commented on #1824
@henrik-me sent you mail internally

[2020-05-19 08:22] JasSuri commented on #1707
It's being built already, but you can vote for it or create an idea at: https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596

[2020-05-19 16:53] #1624 closed

[2020-05-19 16:53] #1791 closed

[2020-05-19 16:53] #1809 closed

[2020-05-19 16:53] #1750 closed

[2020-05-20 06:06] mike7ang1rdz commented on #1737
I'm still a little confused, we don't want to configure AD as federated. is this a MSAL bug or not?, as @jabbera   mentioned a seamless SSO should be permitted transparently.
I'm using MSAL 4.10

[2020-05-20 13:23] harmjonker opened #1833 "question about possible bug in earlier MSAL release"
With an MSAL 4.11 built app we experienced problems with getting a token on one device.
I have added app log fragments below.
We log an MS Authenticator version. 6.2004.2575, where later on MSAL does not get an account and fails with some debug info stating that there is no broker installed.
Does this look like a bug that has been solved in MSAL 4.13?

2020-05-16 19:07:22.3996 Debug 1    LogWrappe

[2020-05-20 15:05] trwalke commented on #1737
@mike7ang1rdz this is not a MSAL issue. MSAL can only perform SSO if the user realm reports back the correct response. The environment needs to be configured properly for this to work with MSAL.

i believe this can help explain a little more
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start

[2020-05-20 15:06] trwalke commented on #1737
Also, I can confirm the desktop SSO is compatible with version of MSAL starting at 4

[2020-05-20 17:37] charlesroddie opened #1834 "[Bug] libc.dylib exception when authenticating on Mac"
**Which Version of MSAL are you using ?**
Microsoft.Identiy.Client 4.13.0

**Platform**
Xamarin.Mac

**What authentication flow has the issue?**
Desktop / Mobile Interactive

**Is this a new or existing app?**
The app is in production

**Repro**

[code]

**Expected behavior**
Login flow starts in a popup.

**Actual behavior**
Exception is thrown, with message:
[code]

This error occurs on about 1/

[2020-05-20 17:56] charlesroddie commented on #1792
@bgavrilMS:
@kevcrooks got this working with your help: thanks very much!

I.e. we are using microsoft-authentication-extensions-for-dotnet cacheing to allow refreshing tokens on Mac.

I would suggest making this a default experience from msal.net, as users would expect refreshing tokens on mac to work out of the box.

MsalCacheHelper asked for some strings but they were all either strings already

[2020-05-20 19:07] jwosty opened #1835 "[Bug] Username/password field doesn't allow copy/paste with sign-in dialogue on MacOS"
**Which Version of MSAL are you using ?**
Microsoft.Identiy.Client 4.13.0

**Platform**
Xamarin.Mac

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?*

[2020-05-20 20:27] trwalke opened #1836 "[Bug] MSAL Xamarin.iOS is freezing and timing out during interactive authentication."
**Which Version of MSAL are you using ?**
4.13

**Platform**
xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
The app is in production,

[2020-05-20 21:25] jennyf19 commented on #1833
@trwalke can you please answer this? thx.

[2020-05-20 21:26] jennyf19 commented on #1834
@bgavrilMS can you take a look at this?

[2020-05-20 21:28] jennyf19 commented on #1835
@jwosty Thanks for the info. MSAL does not control the UI dialogue that is presented by the authorization server. I'll try to find the right person to answer this. appreciate you bringing it up.

[2020-05-20 21:33] jwosty commented on #1835
@jennyf19 thank you, I appreciate that

[2020-05-20 22:06] jennyf19 commented on #1835
@jwosty talked w/the MacOS UI guys, and they say the page renders a simple textbox and there is no logic to intercept the prevent the user attempting to paste in a password. It could be environmental, such as the app, platform, or OS.
Also, if you can provide a video of the experience, that would be helpful and a zip file or link to repro code that we can try out for ourselves.
Feel free to email

[2020-05-21 05:46] mike7ang1rdz commented on #1737
![image](https://user-images.githubusercontent.com/31224786/82527310-b42d6780-9b68-11ea-9e87-e69698e9e3de.png)

I think there is a bug as @bgavrilMS said that AAD must report a federated user, even if the seamless sso does not need a federated configuration forcibly... anyway we don't want to enable this feature.. the image above shows that seamless SSO is enabled.
Do you have a work around?

[2020-05-21 13:35] boboldi opened #1837 "[Bug] Login Hint and Prompt are ignored"
**Which Version of MSAL are you using ?**
v4.11.0

**Platform**
Xamarin for Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
The app is in production, and I have upgraded to a new version of MSAL

**Repro**

[code]

[code]

**Expected behavior**
Passing a login hint and a prompt to force login to the broker should cau

[2020-05-21 15:41] trwalke commented on #1833
I dont think this was fixed in 4.14 but i recommend updating regardless. looks like a strange communication error with the broker. The odd thing here is that the broker is responding with the accounts in the cache but when you go to use that same account things crash. I don't really see the exact error message here though, can you try debugging into this and grabbing the error message if there is

[2020-05-21 15:52] jennyf19 commented on #1837
@boboldi thank you .

[2020-05-21 16:33] jabbera commented on #1825
I could use some help here.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/d9ec80959483f4f14aa287cc7baf28967d8f9c90/src/client/Microsoft.Identity.Client/WsTrust/WsTrustWebRequestManager.cs#L72 is returning a 401 asking for a Negotiate.

 In a typical HTTP flow the request would be re-sent with the kerberos ticket however an exception is thrown.

Happy to open a suppor

[2020-05-21 17:02] trwalke commented on #1837
@boboldi this was a known bug that was recently resolved in the latest MSAL 4.14 release
https://www.nuget.org/packages/Microsoft.Identity.Client/4.14.0

can you try updating and signing in?

[2020-05-21 17:09] jabbera commented on #1825
Turns our our firewall was intercepting the repsonse

[2020-05-21 20:42] csadam opened #1839 "[Bug] wrong client type in the documentation of ConfidentialClientApplicationBuilder functions"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client v4.13.0

**Platform**
.net

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [x] OBO
* Web API
    * [x] OBO

**Repro**

View the documentation of t

[2020-05-22 03:29] jennyf19 commented on #1839
Thanks @csadam nice catch.

[2020-05-22 10:57] HaroldH76 commented on #1815
@jennyf19 did you manage to reproduce the issue with my sample project?

[2020-05-22 12:11] #1839 closed

[2020-05-22 13:08] bgavrilMS commented on #1796
When acquiring a token silently, MSAL goes directly to the broker. However, MSAL should first try to see if there is an access token in its cache first. MSAL's local cache should be significantly faster than talking to the broker.

We should implement / fix https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1820 before measuring perf.

[2020-05-22 14:00] joemc3 opened #1841 "Keep Xamarin dependencies updated in MSAL"
I am running a Xamarin Forms project and like to keep it updated, but the dependencies on Identity Client and other packages are out of sync.  I have to keep some of my dependencies back many versions.  The specific offending dependency in this case is  Xamarin.Android.Support.Collections

Microsoft.Identity.Client:
Microsoft.Identity.Client 4.14.0 -> Xamarin.Android.Support.CustomTabs 28.0.0.1 ->

[2020-05-22 14:03] nimehta2010 opened #1842 "Port handling in MSAL in case HTTP protocol is not enabled?"
So I have been using MSAL library for authentication on netCore desktop app. Can you let me know how to handle following scenarios. I am using interactive auth which lands you on browser -

1. What if the port is not available for communication
--
2. What if the HTTP protocol is not enabled in Windows Server machine

[2020-05-22 18:30] jennyf19 commented on #1841
Thanks @joemc3 Feel free to propose a PR if you want.

[2020-05-22 18:32] jennyf19 commented on #1842
@bgavrilMS can answer this! thx.

[2020-05-24 15:49] mllab-nl opened #1843 "[Question] Avoid loading cache multiple times"
**Which Version of MSAL are you using ?**
microsoft.identity.client 4.12.0

**Platform**
netcore

**What authentication flow has the issue?**
* Web App
    * [x] Authorization code

**Repro**

var account = await app.GetAccountAsync(accountIdentifier);
var result = await app.AcquireTokenSilent(scopesToRequest, account).ExecuteAsync();

As result of the code above function set using SetBeforeAccess

[2020-05-25 13:47] harmjonker opened #1844 "'keep me logged in'"
When logging in in Microsoft Identity Service, sometimes there is a checkmark 'keep me logged in'.  As far as I understand this sets the session token timeout and ensures that you have to login less frequently. How this work with MS Authenticator login ?
Sometimes we notice that you have to relogin after a couple of days.

[2020-05-25 14:47] LDS2020 commented on #1617
@mfeingol, thank you for reporting this bug. I spent over a week trying to fix this and would never have thought to modify the rd.xml file. I made your suggested change and it now works.

[2020-05-25 15:38] jennyf19 commented on #1844
@harmjonker The checkmark you refer to controls the session cookie in the system browser. It is not related to the tokens in the MSAL cache. I'm not sure if the Authenticator App handles this scenario is logging in w/the system browser... @shoatman @iambmelt can you provide more info here? Thanks.

[2020-05-25 16:10] niruatweb opened #1845 "[Enhancement][L] Enable OBO for SP (ADAL to MSAL Migration Issue)"
**Work**

- [x] See https://github.com/Penguinwizzard/microsoft-authentication-library-for-dotnet/commit/de00f6162e85536ff043bf5b0e87dc0c35c23b02 for a solution
- [x] Evaluate if solution will work, e.g. token cache
- [x] Create an E2E test using PPE env where this is allowed.

**Which Version of MSAL are you using ?**
4.13.0. I have described the issue in stack overflow. https://stackoverflow.mic

[2020-05-25 19:37] jmprieur commented on #1845
@niruatweb: there is no user with a SP. it's not possible to use a UserAssertion?

[2020-05-25 20:05] srishtipurohit commented on #1690
I am facing the same challenge and i thought it is due to microsoft tenant has changed their policy internally. But looks like it is MSAL lib issue. Please share solution if you got any.

[2020-05-25 20:10] niruatweb commented on #1845
Hi Jean, but how would i be able to get groups of the spn in this case. Can't i get an groups of SPN or deamon app?

[2020-05-25 22:32] dkershaw10 commented on #1845
@niruatweb Are you trying to find the groups that the service principal owns, or something else?  Please clarify.

[2020-05-25 22:40] niruatweb commented on #1845
@dkershaw10  i am trying find the group ids of which service principal is part of.

[2020-05-25 22:45] dkershaw10 commented on #1845
Gotcha - so you want all the groups that the service principal is a member of.  Microsoft Graph can give you this answer.
See https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list-memberof?view=graph-rest-1.0&tabs=http OR https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list-transitivememberof?view=graph-rest-1.0&tabs=http

If you are looking for this information to show up a

[2020-05-25 22:54] niruatweb commented on #1845
Groups are coming as part of access token. I believe i still need to pass OBO in this case. I hope MSAL bug to get OBO will be fixed soon.

[2020-05-26 08:45] bgavrilMS commented on #1690
This is ussually a configuration issue. The IWA protocol only works if the user is seen as "federated".

MSAL will make a discovery call like (the one below is using my username):

`https://login.microsoftonline.com/common/userrealm/bogavril@microsoft.com?api-version=1.0`

And you can see that the response sees the user as Federated:

[code]

[2020-05-26 09:13] Thacai commented on #1690
@bgavrilMS in my case my user is hybrid ad joined (inital screenshot), hence federated, but discovery call returns:
`{"ver":"1.0","account_type":"Managed","domain_name":"danfoss.com","cloud_instance_name":"microsoftonline.com","cloud_audience_urn":"urn:federation:MicrosoftOnline"}`

We had this issue raised directly to microsoft aswell, and even with the above "managed" user, it seems we're no lon

[2020-05-26 10:30] bgavrilMS commented on #1844
I would expect you not having to re-login. Could you give us some logs for when the re-login is requested?

[2020-05-26 11:02] bgavrilMS commented on #1843
Hi @mllab-nl

Both of the calls you mention:

`var account = await app.GetAccountAsync(accountIdentifier);`
and
`var result = await app.AcquireTokenSilent(scopesToRequest, account).ExecuteAsync();`

make MSAL load the token cache from disk. We do not give you the option to load only once, I suppose we could, but it would be a new feature / perf optimization. The thinking behind this is that you ca

[2020-05-26 12:46] bgavrilMS commented on #1213
I believe this is now in production. Closing. Please reopen if necessary.

[2020-05-26 12:46] #1213 closed

[2020-05-26 12:53] bgavrilMS commented on #1842
1. If you configure a redirect uri of `http://localhost` then MSAL will automatically find a free port that you can use. If however you configure a redirect uri of `http://localhost:1234` then port 1234 will be used. Unless you have a specific requirement, I would let MSAL find a port. Otherwise, you can use the second option and do your own port management

2. OAuth2 protocol is designed to work

[2020-05-26 14:15] Depechie commented on #575
@ajfleming1 did you got this figured out eventually? We encounter the same problem :( getting v1 access tokens and our api requires v2 tokens. So hitting a 401.

[2020-05-26 14:32] jmprieur commented on #575
Yes, indeed, @krlm, the Web API decides the accepted token version, independently of the protocol version

[2020-05-26 14:37] mllab-nl commented on #1843
Hi Bogdan!

Thank you for a quick answer.
Do you plan to expose any indication of whether the cache was already loaded in to the function registered with SetBeforeAccessAsync ?
Then the user can decide when to load/reload the cache.

Currently TokenCacheNotificationArgs does not expose any state that can be consulted except of this ugly
private static bool WasLoaded(ITokenCacheSerializer tokenCach

[2020-05-26 14:40] bgavrilMS commented on #1843
@mllab-nl - can you tell me a bit more about your scenario? Do you see performance issues with the current implementation ?

[2020-05-26 14:50] mllab-nl commented on #1843
We are have a multi-tenant distributed web app.
SQLServer distributed cache is used to persist token caches
It is quiet an overkill to fetch 8 kb+ data(Token cache size for one user) each time twice when I need to get a token.
I do not see any reason to do that and personally would not expect that this will happen for this, widely used code snippet:
var account = await app.GetAccountAsync(accountI

[2020-05-26 18:08] #1679 closed

[2020-05-26 21:45] Depechie commented on #1133
@xuehong-geng can you show some code example? I have the same problem with trying to sign in in OnAppearing on iOS

[2020-05-26 23:25] neha-bhargava opened #1847 "[Feature Request] Support Android for Work which does not allow AccountManager manipulation"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**

xamarin android
**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Pa

[2020-05-27 01:00] niruatweb commented on #1845
Hi @jmprieur I have three options to generate OBO,
1) Wait for your fix for MSAL?
2) Use ADAL for this scenario only.
3) Call OAuth directly?. Creating client assertion is tricky, it is handled properly in MSAL library. I have to copy some of that code.

I will go with one of the option based on the time it would take for MSAL fix. What is your suggestion? How many days does it take?

[2020-05-27 07:59] bgavrilMS commented on #1825
Reopening the issue so that we can capture the supportability fix that you've done in the release notes @jabbera

[2020-05-27 09:23] bgavrilMS commented on #1843
I'm still thinking how we could achieve this, I think it needs a bit of experimentation. An `app` has an in-memory `token cache` which gets syncronized from the persistence (SQL server in your case).

In desktop scenarios this is pretty simple, because there is only 1 token cache and we can simply load it at the beginning and make sure we persist it when the application stops. This can easily be a

[2020-05-27 11:16] bgavrilMS opened #1848 "[Bug] On some tenants, AcquireTokenSilent makes 2 calls to AAD instead of 1 on Win10 because of PKAuth"
**Which Version of MSAL are you using ?**
4.14

**Platform**
.net, .net core, probably the rest as well

**What authentication flow has the issue?**
ATS, probably other flows as well

**Repro**

This sometimes repros for accounts in the Microsoft tenants.

**Expected behavior**
When calling AcquireTokenSilent , MSAL should probably not advertise that it can perform PKAuth if on an unsupported OS l

[2020-05-27 11:30] bgavrilMS commented on #1848
I'm not sure if this is the expected behavior on Win 10 ... I don't understand why we need to advertise that we can perform PKAuth just to respond with a "We can't perform PKAuth" when challenged.

[2020-05-27 11:30] bgavrilMS commented on #1848
@trwalke

[2020-05-27 11:34] bgavrilMS opened #1849 "[Enhancement] Even on Win10 MSAL tries to extract a PKAuth key, which is a perf hit"
**Which Version of MSAL are you using ?**
4.14

**Platform**
net45 only

**Repro**

This is related to bug #1848 BUT is not the root cause of #1848 !

MSAL tries to determine if it's running on Win 7, 8 or 8.1, but the verification is wrong - see screenshot from my Win 10 machine:

![image](https://user-images.githubusercontent.com/12273384/83013774-7a9ba700-a015-11ea-8fdd-a08d4366599d.png)

You c

[2020-05-27 11:38] bgavrilMS commented on #1849
@trwalke

[2020-05-27 12:03] jmprieur commented on #1845
cc: @henrik-me, @bgavrilMS, @trwalke @neha-bhargava
@niruatweb : do you have a repro that you could share with us (app coordinates)?
(Jean-Marc.Prieur at Microsoft dot com)

[2020-05-27 12:42] bgavrilMS commented on #1843
I think one workaround you can use is to not call `GetAccountsAsync` and instead call `AcquireTokenSilent(scopes, username);`

I think it should be possible to figure out the username on asp.net core at least.

[2020-05-27 12:55] jmprieur commented on #1843
Yes this would be the prefered_username claim when using the v2.0 endpoint (therefore getting a v2.0 ID Token).
This will work well in single-tenant scenarios. Not sure for multi-tenants scenarios. I guess it would as well.

[2020-05-27 12:58] mllab-nl commented on #1843
Nice suggestion guys!
The cache will be loaded once to get a token.
If I I have a process that executes 100 activities that require a token, cache will be loaded 100 times.

[2020-05-27 13:04] bgavrilMS commented on #1847
Not sure this is a P1, how many customers is it affecting? How common is this scenario?

[2020-05-27 13:04] bgavrilMS commented on #1847
@aiwangmicrosoft - can you help us understand this scenario and how common it is?

[2020-05-27 13:21] bgavrilMS commented on #1847
@henrik-me - I am not sure how we should handle the associated ICM. I do not feel there is enough information to repro and do a bug fix right now. It may be that the scenario of this "Enterprise Android" is not supported by MSAL.NET  :(

[2020-05-27 13:50] bgavrilMS commented on #1737
If I remember correctly, enabling seamless SSO would make the user discovery call report back a "federated" user without federation. MSAL makes the following call (please replace with your own user):

https://login.microsoftonline.com/common/userrealm/bogavril@microsoft.com?api-version=1.0

If seamless SSO was not configured correctly, please open a case with support to get some help. I am not sur

[2020-05-27 14:02] jmprieur commented on #1843
@mllab-nl, yes. your web app is probably multi users?

[2020-05-27 14:04] bgavrilMS commented on #1834
I'm not sure what is happening, it may be a Mono issue (so you can try to use the latest Xamarin SDK or enquire about this to the Xamarin folks).

More [logs ](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging) would help to get a better idea of where the problem comes from.

I see some SO questions somewhat related to this: https://stackoverflow.com/questions/599

[2020-05-27 14:10] bgavrilMS commented on #1792
@charlesroddie - thank your following up, this is great news!

Please use different values for the cache file name and keychain account and service to avoid clashing with other apps that might use the same. I've updated the sample on GitHub. AFAIK, VS for mac and PowerShell core also use "msal_cache.dat" in that location and similar keychain properties.

The file is used as a simple signaling mech

[2020-05-27 14:12] bgavrilMS commented on #1792
@jmprieur @henrik-me @kalyankrishna1 - for the need to provide a default cache persistence layer on  public client apps...

[2020-05-27 14:19] mllab-nl commented on #1843
Yes. Multiple users from multiple domains

[2020-05-27 14:25] trwalke commented on #1847
@bgavrilMS I asked her to make a p1 based on the fact that there is a scenario that is blocked. however, I changed my mind mostly because this will only affect people using android for work who turn on a specific setting that blocks accounts from being added to the account manager. Probably not that many people

[2020-05-27 14:44] bgavrilMS commented on #1847
Do you know if there is any workaround, such as adding some extra permissions for this?

CC @rpdome

[2020-05-27 15:22] bgavrilMS commented on #1843
I wonder if this can be solved by using 2 levels of cache - one that has a low latency like a session cache plus the SQL server cache. @henrik-me has seen this architecture used by some internal service I believe and can comment.

[2020-05-27 15:26] trwalke commented on #1847
@bgavrilMS Android seems to have implemented something along the lines of a workaround in this PR here (https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/898)

Not sure exactly what it is doing yet as I have not had a chance to look into this yet. Might be worth reaching out to android to get their perspective on how to resolve this issue.

[2020-05-27 16:52] neha-bhargava commented on #1847
@bgavrilMS  As per my conversation with @rpdome, there is no way to fix this in dotnet but the workaround is something like the PR link I have pasted. It will pop up a dialog(the OS will pop this dialog and we have no control over it) indicating you cannot add an account and throw an exception. We can catch that exception in MSAL and handle it by not signing in through broker. @rpdome Please corre

[2020-05-27 17:05] bgavrilMS commented on #1821
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1820

[2020-05-27 17:05] #1821 closed

[2020-05-27 17:14] bgavrilMS commented on #1849
Probably as designed.

[2020-05-27 17:15] rpdome commented on #1847
Yes, it's pretty much the limitation of this (broker communicating) mechanism. The PR above is to make sure you 'cancel early' so that the user won't see the OS pop-up.

The long-term solution would be what @kreedula is working on, assuming that it works on Xamarin.

[2020-05-27 17:16] #1842 closed

[2020-05-27 17:18] bgavrilMS commented on #1836
I propose to close this. If we have other reports of this happening, we should consider moving away from the Xamarin recommended native http handler to the managed http handler.

[2020-05-27 17:18] #1836 closed

[2020-05-27 17:22] bgavrilMS commented on #1653
I merged the PR and added @jennyf19's tests to the issue description.

[2020-05-27 17:22] bgavrilMS commented on #1813
I copied the tests to the original issue as I've merged the PR.

[2020-05-27 17:22] #1813 closed

[2020-05-27 17:42] trwalke commented on #1848
There are cases where conditional access policies require device authentication and the client is unable to perform them due to various limitations. Because of this, PKey auth has the ability to bypass the device auth challenge if the client is unable to perform it. Therefore, PKey auth will allow clients to attempt to bypass device auth challenges so that AAD can present another authentication pa

[2020-05-27 17:42] #1848 closed

[2020-05-27 17:55] #1761 closed

[2020-05-27 19:57] harmjonker commented on #1761
We discovered the pattern and this issue has been resolved by KPN in our ADFS deployment. When not responding fast enough to the 2F challenge the wrong retry screen was displayed where state (among with redirect uri) was lost. This has been fixed by KPN and slow responses to the 2F challenge are handled correctly now.

[2020-05-27 19:58] bgavrilMS commented on #1761
Thank you for following up @harmjonker

[2020-05-27 22:11] akaviny commented on #1398
Will this also cover the case of .Net 5? No embedded browser is displayed with an experimental WinUI 3 Desktop app. The `AcquireTokenInteractive` call results in a `MsalClientException` of

`Only loopback redirect uri is supported, but urn:ietf:wg:oauth:2.0:oob was found. Configure http://localhost or http://localhost:port both during app registration and when you create the PublicClientApplicatio

[2020-05-28 06:12] mllab-nl commented on #1843
Would it be easier to make it possible to implement this function ?
private static bool WasLoaded(TokenCacheNotificationArgs args)
{
}

[2020-05-28 10:06] bgavrilMS commented on #1398
My undertanding is that .net 5 is the next version of .net core, which also includes support for mono etc. The work proposed here is for .net core 3.1, so .net 5 would benefit from it as well.

[2020-05-28 16:32] bcarthic opened #1850 "What is the organizational default expiration time for refresh_tokens"
Our scenario uses a personal live account, we needed to get the access token for the internal live account in the server. Our tenant is Microsoft organization and we are using third party app. We cant use username and password since it is not supported for personal accounts.

So we thought use refresh_token to get access token to access the resource.

What is the expiration for Refresh token in Mi

[2020-05-28 16:37] bgavrilMS commented on #1850
The default in 90 days, with a sliding window.
Our SDK (MSAL) does not expose the refresh token. It performs the scenario you are talking when you call `AcquireTokenSilent` - this will return you either an existing, non-expired access token (from the token cache managed by MSAL) or it will refresh the RT, update the cache and give you the AT.

MSAL works with personal live accounts.

Please have a

[2020-05-28 16:40] bcarthic commented on #1850
@bgavrilMS Thanks for the answer, I see the expiration time can be changed by organization/tenant admins. So how do I find Microsoft organization default value for RT expiration time?

[2020-05-28 19:01] niruatweb commented on #1845
@jmprieur  Below is the code, let me know if you want that cert that i am pointing as thumbprint.

'''            var _confidentialClientApp = MSAL.ConfidentialClientApplicationBuilder
                .Create((string)"4370834b-eb27-4dfc-b2cc-4028b4d82d1c")              .WithCertificate(GetCertificateByThumbprint("766D2D978F190227EF13D066048E160029D39BA5"))
                .Build();

            st

[2020-05-29 04:45] henrik-me commented on #1843
@mllab-nl
Can you guarantee that the cache hasn't been modified by anyone else?
Even if no, does it matter for the token you are using? How long should the TTL for the cache be, that is when is hasBeenLoaded no longer to be true? Always?
Are you only talking about confidential client scenarios?

My suggestion is to have a 2 layer cache, one memory (with the TTL you like on the items) and one sql s

[2020-05-29 05:02] henrik-me commented on #1847
@bgavrilMS @neha-bhargava @trwalke : assuming the investigation is done and this should be marked as an enhancement and not a bug?

[2020-05-29 11:10] bgavrilMS commented on #1398
I spent some time looking at this, here are my conclusions:

# Strategy of using a WinForms based web-browser:

1. MSAL's current implementation of embedded webview is based on the `WebBrowser` from .net classic can be ported to .net core with no changes
2. This webview still uses IE.
3. A new control called `WebViewControl` exists and I have a rough prototype with it (on .net core, but should wor

[2020-05-29 15:24] jennyf19 commented on #1398
@bgavrilMS this is awesome. did you put this in the wiki?

[2020-05-29 22:09] mcrozier-ngn commented on #636
Also seeing this issue for quite a few users - we just pushed our app out to 2,500+ devices with a new MSAL auth flow and within minutes were getting these crash reports. Will handle the null for now, but it's not a very elegant solution for the long term!

[2020-05-30 06:20] pottabathini opened #1851 "Google IDP throwing "This browser or app may not be secure." (External Identities)"
**Which Version of MSAL are you using ?**
Downloaded MSAL Desktop app from QuickStarts inside Portal AAD Applications blade.
(Quickstart: Acquire a token and call Microsoft Graph API from a Windows desktop app)

**Platform**
net45

**What authentication flow has the issue?**
*  Desktop
    * [ Yes] Interactive

**Is this a new or existing app?**
New App. Created for Testing

**Repro**

1. Follow b

[2020-06-01 08:15] konjac opened #1852 "WithExtraScopeToConsent is documented by not able to use"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.14

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username

[2020-06-01 13:21] bgavrilMS commented on #1398
@jmprieur - no, I don't think this is for the wiki, as it is not consumable by developers at this point.

[2020-06-01 13:49] mllab-nl commented on #1843
Hey Henrik,

Good questions.
Let me clarify one thing before I will answer those.

Please correct me if I am wrong.
It looks like you are suggesting to keep the serialized cache data somewhere in memory/redis/SQL and **each time** I need to get the token to do the following:
1. Deserialize those bytes into a TockenCache
2. Get the token
3. Discard the TokenCache ? (I will have to rebuild it anyway

[2020-06-01 14:20] bgavrilMS commented on #1851
Root cause for this is that MSAL uses an embedded IE browser on .net desktop.

I think the main out of this today is to try to use the use the system web browser (details [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/System-Browser-on-.Net-Core#system-browser-experience))

Otherwise, we need to find a way to use a more modern embedded browser. I don't think thi

[2020-06-01 14:22] bgavrilMS commented on #1850
I will answer you over email.

[2020-06-01 14:22] #1850 closed

[2020-06-01 19:48] asith-w opened #1853 "[Question] How does in-memory cache mechanism work for confidential client app app"
How does in-memory cache mechanism work for confidential client app app like below .what details are store in cache .is there any documentation

[code]

[2020-06-01 21:33] bgavrilMS opened #1854 "[Bug] [Internal] Stop using deprecated Android methods"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.14.0

**Platform**
Android

**Repro**
Some of the Android system calls are marked as deprecated. Look for the link to this bug for occurences.

**Expected behavior**
Tes

[2020-06-02 05:14] henrik-me commented on #1852
ExtraScopesToConsent only makes sense in interactive flows as UI needs to be shown for the user to concent. Thus this functionality doesn't apply to confidential client applications using client secrets.

Can you please share the scenario?

[2020-06-02 07:31] markbeij opened #1856 "[Bug] addAccount failed when calling GetAccountsAsync()"
**Which Version of MSAL are you using ?**
MSAL 4.14.0

**Platform**
Xamarin Forms mobile app (Android Only)

**What authentication flow has the issue?**
Issues occurs at `GetAccountsAsync()`, before `AcquireTokenSilent(`) or `AcquireTokenInteractive()` are called.

**Is this a new or existing app?**
This app is in production. Currently still on ADAL. We're currently working on upgrade to MSAL.

**

[2020-06-02 08:31] jmprieur commented on #1856
@markbeij are you using the latest version of MS communicator?

[2020-06-02 09:02] bgavrilMS commented on #1847
MSAL.Android (native) uses several methods to communicate with the broker:

- AccountManager
- Bounded Service (problem is that it isn't well supported in Xamarin and on some phones it is disabled when battery is low)
- ContentProvider (spec is [here](https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/1554)) - still under design

Link pasted shows how to detect

[2020-06-02 09:04] jmprieur commented on #1737
Closing as this is external, not related to the library, but configuration

[2020-06-02 09:04] #1737 closed

[2020-06-02 09:05] jmprieur commented on #1851
Closing as this question is answered

[2020-06-02 09:40] jmprieur commented on #1853
@asith-w : if your confidential client application is a Web app or a Web API, please have a look at Microsoft.Identity.Web which provides token cache serialization implementations.
Never use the default cache.

See https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization

[2020-06-02 15:15] bgavrilMS commented on #1853
@jmprieur - for client credential flow, it is recommended to serialize the cache but it is not a hard requirement. The reason is that there is no Refresh Token with this flow. So upon expiration of the Access Token (1h), MSAL will go to AAD and fetch a new Access Token.

@asith-w `AcquireTokenForClient` fetches a token from the in memory **app cache** on its own.

It's still a good idea to seriali

[2020-06-02 15:45] koenvd opened #1858 "Upgrade Web Authentication Broker internal rendering engine from IE11 to Edge"
For UWP the WebAuthenticationBroker is used for authentication here https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/b2e974de7211a3749e48cb64fa70e6c05c3b40ff/src/client/Microsoft.Identity.Client/Platforms/uap/WebUI.cs#L86.

However when attempting an OAuth flow it seems like some platforms did start blocking IE11 as a secure client (an example is Salesforce Lightning Ins

[2020-06-02 16:54] jmprieur commented on #1858
The  WebAuthenticationBroker is a Windows component. It would evolve with Windows.
We are looking at using WAM.

[2020-06-02 17:09] koenvd commented on #1858
Are you aware of a better place to follow up a possible upgrade of WebAuthenticationBroker component by Microsoft @jmprieur ?

I think the same argument might hold for the .net implementation of this library where a `WebBrowser` control is used that is still running on IE11 ...

[2020-06-02 19:24] asith-w commented on #1853
@jmprieur i am writing  app like daemon service using worker service template [such as this](https://github.com/ardalis/CleanArchitecture.WorkerService/blob/master/src/CleanArchitecture.Worker/Worker.cs)
 for me, below confidential client app has been properly managing cache tokens including for different tenants. is there are any reasons to avoid default in-memory cache ?

@bgavrilMS is there way

[2020-06-02 22:08] nikitadzambre opened #1859 "[Bug] JwtSecurityToken related help"
MSAL Version: 4.8.2
Platform: .NET 4.6.2

Authentication Flow: WEB API OBO
This is an existing app. I installed 'Microsoft.Identity.Client' library to test calling Graph API. My application already has Delegated Directory.Read.All permissions to access Graph API.

This is an API app service, which is authenticated using AAD. I want to call Graph API from my API. Since my app has delegated permissi

[2020-06-03 00:00] agrabhi commented on #1851
@jmprieur - shouldnt the solution work out of box? It seems customer needs to do extra steps to be able to use MSAL for desktop

[2020-06-03 09:47] jmprieur commented on #1851
@agrabhi
Indeed, the system web browser is used by default for mobile platforms (Xamarin.iOS / Android), but the embedded Web view is used for desktop as using the system web view does not give a very good user experience.

Adding @brandwe to comment as he owns the desktop scenarios.

Note that the work to be done for desktop apps using MSAL.NET is minimal: https://docs.microsoft.com/en-us/azure/a

[2020-06-03 10:27] jmprieur commented on #1859
@nikitadzambre
OBO is illustrated in the following sample: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

The principle is also explained here: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-api-call-api-app-configuration?tabs=aspnetcore, but if you use ASP.NET Core, we strong

[2020-06-03 10:48] lnhzd opened #1860 "manged or federated - x-client-SKU header makes a difference"
hello guys,

This is a question related to IWA flow - I am trying to understand the protocol a bit more:
I understand as part of the IWA protocol it will make a userealm request and to check if user account is managed or federated in the response. I've come across some really weird behavior:

the two requests (for the same user) returns different result depends on x-client-SKU headers are included

[2020-06-03 11:38] bgavrilMS commented on #1851
Using the system browser on desktop apps + B2C is further hampered by the fact that some IdP, such as Facebook, do not allow redirect URIs of "http://localhost"

[2020-06-03 12:27] lnhzd commented on #1860
Just to add, I asked this question as this may relate to an issue we saw a while ago - I cannot reproduce it anymore but can quickly describe it here:
on the same machine, with the same account:
1) run a console app with IWA flow, using MSAL.net: exception thrown and the error is about I'm a manged user.
2) In SSMS: select authentication method as "Active Directory - Integrated" - logged in succes

[2020-06-03 12:31] bgavrilMS commented on #1851
We have worked planned for .net core to use a browser other than IE - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1398

For .net classic, because we need to support .net 4.5, this solution will not work. You can however configure which browser is used by WebBrowser via a registry setting - see https://stackoverflow.com/questions/38514184/how-can-i-get-the-webbrows

[2020-06-03 12:40] bgavrilMS commented on #1860
You are right, the server has different behaviour based on x-client-SKU and x-client-Ver :(. This was done so as not to break backwards compatibility with non-MSAL implementations and with older implementations.

We do not document this feature flags, as these are implementation details. We do not expect developers to replicate IWA calls, as it is quite complex, so "seamless SSO" is only supported

[2020-06-03 13:16] bgavrilMS commented on #1858
For .net classic, we use WebBrowser control, which is really old, but we need it because we target .NET 4.5. You CAN change the underlying browser engine used by setting a registry key (see details [here](https://stackoverflow.com/questions/38514184/how-can-i-get-the-webbrowser-control-to-show-modern-contents))

For .net core, we currently do not support webviews / embedded browser. But we are pla

[2020-06-03 16:20] nikitadzambre commented on #1859
Thanks @jmprieur. I tried changing the Startup.Auth.cs to enable the 'SaveSigninToken' as true
![image](https://user-images.githubusercontent.com/29609199/83661585-30697700-a57b-11ea-9e51-619540fc5760.png)

But I still see the context below as null when I login to our API
BootstrapContext context = ClaimsPrincipal.Current.Identities.First().BootstrapContext as BootstrapContext;

Do I need to make

[2020-06-03 16:32] agrabhi commented on #1851
@bgavrilMS @jmprieur  I am somehow not convinced with the solution here.

- Are we expecting all consumers of apps to make the registry change?
- #1398 is only for .net core, what about .net standard?

We need to support it out of box for .net standard as well.

[2020-06-03 16:50] bgavrilMS commented on #1851
`Are we expecting all consumers of apps to make the registry change?` - we are expecting that IT admins can set this registry key via group admin policy.

`what about .net standard?`
Our support for .NET Standard is minimal. We do not support web UIs from .net standard. The only motivation for .net standard is that so MSAL plays nice with Xamarin. If you think about it, webviews are framework spec

[2020-06-03 20:48] lnhzd commented on #1860
Thanks for your reply all makes sense, is it correct to think if the AAD is configured with ADFS then it's always federated with/without headers,  x-client-SKU and x-client-Ver are only significant in the AAD where SSO is enabled because this is only supported since version 4?

_"Do you have a scenario where you cannot a MSAL library?"_
like what I said in the previous reply: msal.net (4.9.0) and

[2020-06-04 06:10] markbeij commented on #1856
I believe you mean MS Authenticator. Yes we use the latest.
I don't believe MS Authenticator could be the issue though, as the exceptions comes from MSAL calling `android.accounts.AccountManager`

[2020-06-04 08:16] jmprieur commented on #1859
@TiagoBrenck @kalyankrishna1 @Shama-K would you mind having a look at that sample?
Thanks!

[2020-06-04 08:29] bgavrilMS commented on #1856
MSAL uses the Android AccountManager to find out what accounts are present in the Authentication app. [It does this by calling](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/04c30020aff2ac9859e024b7ec000c9c12a5667c/src/client/Microsoft.Identity.Client/Platforms/Android/AndroidBrokerHelper.cs#L84) `AccountManager.AddAccount`.

If for some reason the OS is blocking call

[2020-06-04 08:54] lnhzd opened #1861 "IWA: AAD sourced users with ADDS"
A quick question:
Is it correct to think IWA in MSAL is **NOT** going to work with the following scenario:
Users created in AAD, replicated to ADDS, app running on VM (domain joined with ADDS).
i.e.: IWA is only going to work with 1 direction sync WAD => AAD, but not the other direction?
Thanks a lot.

[2020-06-04 09:11] bgavrilMS commented on #1860
Yes, Integrated Windows Auth is a pretty complex flow which the team copied from ADAL. But since most of us were new to the team, we did not have enough context into Seamless SSO and we did not test this scenario originally. After customers complained that seamless SSO was not working with MSAL, we realized that a feature flag needed to be set on the server (i.e. AAD knows to return "managed" if x

[2020-06-04 09:40] lnhzd commented on #1860
Thanks a lot!

[2020-06-04 09:40] #1860 closed

[2020-06-04 12:14] Shristi12345 opened #1862 "[Bug] ADAL token cache exception comming from MSAL"
**Which Version of MSAL are you using ?**
4.14

Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**

**What authentication flow has the issue?**
  Mobile

**Is this a new or existing app?**
This is the existing aoo and  we are planning to release it i

[2020-06-04 12:18] harmjonker opened #1863 "[Bug] MSAL.net does not return control to main activity"
**Which Version of MSAL are you using ?**
MSAL.net 4.13.0

**Platform**
Xamarin Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive

**Is this a new or existing app?**
The app has just been converted from another OAUTH2 provider to MSAL, MS Authenticator and Azure AD.
We have deployed a first production candidate to 7 users in the field. 5 of them experien

[2020-06-04 12:27] bgavrilMS commented on #1862
Could you please describe the repro steps and add the actual exception details?

[2020-06-04 12:35] bgavrilMS commented on #1806
This repros consistently.

[2020-06-04 13:15] bgavrilMS commented on #1806
Root cause was that we are mis-interpreting "ExpiresOn" (a Unix timestamp) for "ExpiresIn" (a duration in seconds). So we end up adding about 1591196764 seconds (~50 years) to the token expiration instead of converting this number to a DateTime.

The fix will also need to add logic so that Token Caching ignores tokens that have an expiration greater than 10 years.

[2020-06-04 13:49] bgavrilMS commented on #1862
Exception is

`ADAL cache is invalid as it contains multiple refresh token entries for one user. Mitigation: Delete the ADAL cache. If you do not maintain an ADAL cache, this may be a bug in MSAL`

[2020-06-04 13:49] jmprieur commented on #1861
@trwalke @bgavrilMS

[2020-06-04 14:34] stevenli510 commented on #1847
Thank you guys.
The enterprise IT is using the the setting "add & remove account" to prevent users from adding their personal account into their work profile. To me, the security team is unlikely to allow unblock this setting.
The impacted app was developed with Xamarin, I'm not sure if the dev team is willing to migrate to MSAL.Android. The reason why they want the broker auth is to perform the d

[2020-06-04 14:50] bgavrilMS commented on #1847
Device auth can only be performed using a broker (Authenticator or Company Portal) as far as I know :(

MSAL will only add a accounts of type `com.microsoft.workaccount` - is there a way to unblock only this account type?

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/9bc6b04e25685aecf38d5e072136d9c02d9223cc/src/client/Microsoft.Identity.Client/Platforms/Android/Broke

[2020-06-04 18:29] TiagoBrenck commented on #1859
@jmprieur I checked the sample and it is working properly.

@nikitadzambre Could give us a bit more of details?
 - Did you create a scope for your web api, and configured it on your client app?
 - DId you follow the instructions for the [.default](https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof#configure-authorized-client-applications-for-service-todolistservice-obo-sample-v2

[2020-06-04 23:34] trwalke commented on #1861
I am not familiar with ADDS but in assuming you are referring to ADFS?

I am not sure how to answer this. it would be best to try it out as bogdan suggested.

[2020-06-05 07:55] lnhzd commented on #1861
Thanks guys,
ADDS = Azure Active Directory Domain Services, apologize if I used the wrong abbreviation.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Integrated-Windows-Authentication
On the doc you did mention IWA is only work with WAD => AAD user sync.
With Azure Domain Service it's like the other way sync: AAD synced backed to WAD (Azure Domain Service).  If this

[2020-06-05 09:27] bgavrilMS commented on #1861
Yes, typo :)

[2020-06-05 13:43] bgavrilMS commented on #1862
Does not repro.

[2020-06-05 13:43] #1862 closed

[2020-06-05 13:59] ibebbs opened #1865 "[Bug] Uno - Exchange authorization code for bearer token blocked by CORS in browser"
**Which Version of MSAL are you using ?**
4.14

**Platform**
WebAssembly

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ X ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app

[2020-06-05 14:19] bgavrilMS commented on #1865
@jmprieur for guidance for Blazor.

MSAL.NET does not support implicit flow / running from browser, but MSAL.js does ... https://github.com/AzureAD/microsoft-authentication-library-for-js

[2020-06-05 14:43] ibebbs commented on #1865
@bgavrilMS, yes, I thought that might be the response. From what I can see MSAL.js v2 has added (almost) the exact same `PublicClientApplication` approach as is used in MSAL.NET. Given the approach is _so close_ to working as is, I was kinda hoping someone could weigh in on whether this is (an unsupported) issue in MSAL.NET or if there's an issue with Azure B2C (who's "Single-page application" pla

[2020-06-05 15:43] bgavrilMS commented on #1865
Could you describe in more detail how you got MSAL.NET to show you the login form in WebAssembly? MSAL.NET has 2 options for showing a browser when using the Authorization flow via PublicClientApplication (i.e. `AcquireTokenInteractive`)

- embedded browser (a good old WinForms panel hosting a WebBroswer control)
- system browser (i.e. start a new process, similar to `start https:\\www.login.mso.c

[2020-06-05 16:00] ibebbs commented on #1865
I use [Uno.Microsoft.Identity.Client](https://www.nuget.org/packages/Uno.Microsoft.Identity.Client/) in the webassembly project. It is "a fork of MSAL.NET - Microsoft.Identity.Client to support Uno-WASM target" and basically adds a new `IWebUI` implementation that is able to interact with the browser via JS interop. Code can be found [here](https://github.com/unoplatform/Uno.Microsoft.Identity.Cli

[2020-06-05 16:52] pocce90 commented on #1812
I've downloaded the source code, deleted all classess releted to Microsoft.Identity.Json, added newtonsoft references, edited all the "new SHA***Cng()" to "SHA***.Create()" because of another error (System.Security.Cryptography.SHA256Cng::.ctor), compiled and now I have a modded version of this library that works in Unity on Android IL2CPP

[2020-06-05 20:01] charlesroddie commented on #1834
Thanks for the link.

We fixed the probem by adding to Entitlements.plist:
[code]
and to Info.plist:
[code]

[2020-06-05 20:01] #1834 closed

[2020-06-05 22:25] trwalke opened #1867 "[Feature Request] Enable developers to provide a custom implementation of IClientAssertionCertificate with SN+I"
**Is your feature request related to a problem? Please describe.**
Customers are looking to utilize a custom implementation of IClientAssertionCertificate which is able to perform "SN+I". There was a decision made at the beginning of the implementation of this feature to disallow SN+I with custom IClientAssertionCertificates. [Here](https://github.com/AzureAD/azure-activedirectory-library-for-dotn

[2020-06-06 00:26] henrik-me commented on #1843
I'm talking about Cache and cache fallback to each layer. If found in L1 use the token from L1, if not go to L2, etc.

TTL for each cache layer is something you specify, e.g. 5 minutes, 10 minutes or the AT lifetime or... this should be set based on environment. e.g. if you have multiple nodes and all can modify the same cache entry you may have to consider a lower TTL.

There is no need to discar

[2020-06-08 06:45] markbeij commented on #1856
I'll check if we can try this

[2020-06-08 11:29] bgavrilMS commented on #1796
Added measuring logic, now waiting for https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1820 to be fixed as it should improve perf ...

[2020-06-08 13:20] bgavrilMS commented on #1867
Not sure I understand the scenario fully, because the code you mention is very old, MSAL 3.x or 2.x? `IClientAssertionCertificates` does not exist in MSAL 4.x

Can the be achived by using `WithClientAssertion` instead? This is essentially an extensibility point allowing users to transform a certificate into an assertion using whatever mechanism they wish. Can it be adapted for SNI ?

[2020-06-08 13:39] bgavrilMS commented on #1812
The reason why we copied Newtonsoft into MSAL instead of referencin it directly is that it caused a ton of problems due to diamond dependencies, i.e. apps depend on it on version x, MSAL depends on it on version y - it causes a mess that is not easy to sort out (binding redirects is the recommended solution).
We were thinking of using System.Text, which is now the recommended json parser, but it d

[2020-06-08 14:26] jmprieur commented on #1865
@ibebbs @bgavrilMS
would it make sense to contribute back to the main MSAL.NET ?

[2020-06-08 14:38] bgavrilMS commented on #1834
Thank you very much for following up @charlesroddie

[2020-06-08 14:38] jeromelaban commented on #1865
@jmprieur Yes it does make sense to contribute back soon. We've considered it and until we can get the integration to work properly from many scenarios, we'll keep it separate. The biggest constraint here is the fact that Uno for WebAssembly uses `netstandard2.0` as the TFM which could create some conflicts and misunderstandings. This is a complex discussion wrt. Blazor, and Uno support for WebAss

[2020-06-08 14:50] bgavrilMS commented on #1865
Note that you don't necessarily need to fork MSAL just for a custom implementation of `IWebUi`, we have exposed an extensibility point just for that called [ICustomWebUi](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/CustomWebUi)

I'm afarid I don't know much about the CORS issue, perhaps @jasonnutter  from MSAL.js can advise ?

[2020-06-08 14:58] carldebilly commented on #1865
@jmprieur, I would be more than happy to create a PR to merge back Uno support into MSAL.NET instead of having to maintain it on our side for each releases.

@bgavrilMS: adding support for Uno-Wasm is more than just implementing a browser... it's actually creating a new platform: https://github.com/unoplatform/Uno.Microsoft.Identity.Client/blob/master/src/client/Microsoft.Identity.Client/Platforms

[2020-06-08 16:43] jasonnutter commented on #1865
@pkanher617 Have you heard about the OPTIONS request for B2C 404ing?

[2020-06-08 17:12] carldebilly commented on #1865
Update to my previous comment: I confirm it works by using the `netstandard1.3` version of MSAL.NET. I implemented both `ICustomWebUi` and `IMsalHttpClientFactory` and I succeed to use `Microsoft.Identity.Client` package (minor a [problem with `ref` assemblies](https://github.com/unoplatform/Uno.Wasm.Bootstrap/issues/227) caused by the Uno Bootstrapper).

It think it's a viable solution better tha

[2020-06-08 23:41] bachoang opened #1871 "[Bug] MSAL.Net incorrectly detects SAML1.1 token leading to error "AADSTS7500514: A supported type of SAML response was not found" (Ping Federation)"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

This problem exists in all version of MSAL including the latest version v4.14.0
**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Int

[2020-06-09 08:13] pocce90 commented on #1812
Unfortunately Newtonsoft doesn't want to make his libraries compatible with Unity. But there is a fork of Newtonsoft that works with unity and it's updated to the latest version of newtonsoft (12.0). probably you will take only the fix that the fork do to solve the problem.
[https://github.com/jilleJr/Newtonsoft.Json-for-Unity](url)

Here the core of the fork: This repo is a fork of JamesNK/Newton

[2020-06-09 08:33] stevenli510 commented on #1847
According to the public released documentation of Android for Work, there is no such setting to only allow the specific account type. For detail, we may need checking with Google about the details.
Here is the doc for enterprise policy:
**modifyAccountsDisabled**
https://developers.google.com/android/management/reference/rest/v1/enterprises.policies

[2020-06-09 09:00] jmprieur commented on #1871
@bachoang could it be a configuration issue with the federation server? or are you sure this is a bug in MSAL.NET (and ADAL.NET)?

[2020-06-09 10:09] bgavrilMS commented on #1770
I'm wondering if we can do something smarter here. We provide 2 methods to manipulate the ADAL cache:

`void DeserializeAdalV3(byte[] adalV3State);`
`byte[] SerializeAdalV3();`

We can detect to see if these are called after the first cache read / write. If they are not, we can disable ADAL caching.

How does this sound?

[2020-06-09 10:09] bgavrilMS commented on #1770
Proposing to take this in next sprint, as it is impacting perf and has been asked by several customers

[2020-06-09 10:25] pottabathini opened #1872 "Facebook IDP throwing state mismatch error (External Identities)"
**Which Version of MSAL are you using ?**
Downloaded MSAL Desktop app from QuickStarts inside Portal AAD Applications blade.
(Quickstart: Acquire a token and call Microsoft Graph API from a Windows desktop app)

**Platform**
net45

**What authentication flow has the issue?**
* Desktop
    * [Yes ] Interactive

**Is this a new or existing app?**
New App. Created for testing

**Repro**
  * Follow be

[2020-06-09 11:35] mllab-nl commented on #1843
cache

Henrik this is exactly the core of this question. How do you do that ?

[2020-06-09 14:16] bachoang commented on #1871
@jmprieur based on everything I am seeing and comparing it to the specification.  I don't see anything the IDP is doing incorrectly.  The IDP is sending back a SAML 1.1 token in their Assertion element below:

saml:Assertion [ AssertionID=NX1Mbx7WnPnhbLgAf8t2JQS1c7W IssueInstant=2020-05-11T15:53:24.967Z Issuer=MerckPingIDPWSFedPROD MajorVersion=1 MinorVersion=1 xmlns:saml=urn:oasis:names:tc:SAML:1

[2020-06-09 17:04] nikitadzambre commented on #1859
I got the 'GroupMember.Read.All' and 'User.Read.All' Application permissions for my app and now I am able to call Graph API with these Application permissions.

[2020-06-09 17:04] #1859 closed

[2020-06-09 18:55] bgavrilMS commented on #636
Current thinking on the solution for this to stop processing if intent is null, which I think some of the folks on this thread are doing now by catching the null ref?

 Alternatively, we can throw an MSAL exception, but I am not sure there is enough information to make it a meaningful exception :(

[2020-06-09 18:58] #1858 closed

[2020-06-09 19:00] bgavrilMS commented on #1851
I think the solution here is to upgrade our embedded webview to use Edge instead of IE. Will that work?

@jmprieur for thoughts on this.

[2020-06-10 10:08] jmprieur commented on #1851
I'm not sure @bgavrilMS : we'd need to try
it might be that Google only allows for system browser. @brandwe would you know?

[2020-06-10 12:52] bgavrilMS opened #1875 "[Internal] Automate API Review tool to protect against breaking API changes"
ApiCompat  is used for Wilson and SAL, and we should extend to MSAL.

[Here ](https://identitydivision.visualstudio.com/IDDP/_taskgroup/5d4aa3fb-1633-42bb-9da3-ee1fcc3f8b9a) is the task group that we are using for cloud builds. If you are using only NuGet packages to get contract assemblies, you can disregard parameters prefixed with “ado”.

[2020-06-10 20:11] Sebastian7112 opened #1878 "MSAL Bug within Unity. Authentication through Unity for HoloLens 2"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

*** Apologies if this issue is meant for another board / repo.

Currently using the latest version of Microsoft Identity Client 4.14.0

**Platform**

Platform: UWP --> Ho

[2020-06-10 23:31] GeoK commented on #1812
@bgavrilMS - Looks like Sha256Managed is not part of the Windows Platform FIPS-validated cryptographic algorithms:
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.sha256managed.-ctor

[2020-06-11 07:25] markbeij commented on #1856
To see if `AccountManager.AddAccount` fails when running from my own code, I added some logic in the `MainActivity`

[code]

Surprisingly everything goes well and App Center analytics is called to track the event.

[2020-06-11 07:35] markbeij commented on #1856
Worth to mention that the app permissions are all enabled (forced by policy).
Other users see this as well but don't have problems using MSAL with broker.

![Screenshot_20200611-092727_Package installer](https://user-images.githubusercontent.com/20302465/84357874-9d59be00-abc6-11ea-97fe-fb0ceee7de8f.jpg)

[2020-06-11 09:18] bgavrilMS commented on #1294
user cache is empty if no accounts exist
app cache does not matter

[2020-06-11 09:18] bgavrilMS commented on #1294
Impact: reduce COGS of apps

[2020-06-11 09:22] bgavrilMS commented on #1871
P1 because it is a blocker for migration of v1 to v2

[2020-06-11 09:26] bgavrilMS commented on #1824
We also use this logic wrongly in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1849
Fix should not be difficult.

[2020-06-11 09:31] jmprieur commented on #1852
Closed as answered

[2020-06-11 09:31] #1852 closed

[2020-06-11 09:32] bgavrilMS commented on #1782
We have not found a way to expose more details from the exception, except by going through the logs manually.

Long term, the solution is to migrate to WAM...

[2020-06-11 09:32] #1782 closed

[2020-06-11 10:35] bgavrilMS commented on #1878
Sadly we don't really support Unity at the moment, but there were some attempts to get it going from the community - see similar bugs in the repo.

@jmprieur @henrik-me for awerness, maybe get some help from CxP on this important scenario?

[2020-06-11 10:48] #1651 closed

[2020-06-11 12:46] din-prajapati opened #1879 "Session Values Lost on Redirecting back to call back URL"
Hello Folks,

**BackGround** : User once logged in to the our Web Application (using App level credential) will be presented with with Mail System they want to use based on that user will be redirected to respective authorization server (exchange or google) to authenticate (using login / password of their mail system) and the auth server will return an access token back.

I have came cross one str

[2020-06-11 13:30] jmprieur commented on #1879
@din-prajapati :
- Is it B2C?
- did you have a look at the ASP.NET Core Web App incremental tutorial?
Maybe this folder: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

note that there is a number of sub-folders. you should find a solution there.

[2020-06-11 13:33] din-prajapati commented on #1879
Thanks for you reply.

Sorry i should have write underlying technology. Our application is in ASP.NET web form and ASP.NET MVC.

Also, Does it make the difference for B2B or B2C Scenario ?

[2020-06-11 14:32] bgavrilMS commented on #1856
I am having problems reproducing this issue. Please note that if you set `WIthBroker(true)` but a broker is not installed, then MSAL will use a browser instead. The stack trace which you show is definitely broker related, as MSAL does not call Android's `AccountManager` except for broker scenarios.

[2020-06-11 15:14] Toukiletoukan opened #1880 "[Bug] Integrated Windows Auth with Conditional Access"
**Which Version of MSAL are you using ?**
MSAL 4.14.0

**Platform**
.Net 4.7.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
new app

**Repro**

[2020-06-11 16:29] bgavrilMS commented on #1815
Thank you for the effort in providing the test project. I can repro this and am looking at it.

[2020-06-11 16:42] ssahon opened #1881 "[Bug] HTTP Telemetry sends invalid data through HTTP Headers, causing MSAL to crash"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.14.0

**Platform**
.net core 3.1 wpf

**What authentication flow has the issue?**
* Desktop / Mobile
    Interactive

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**
I've updated microsoft sample [sample](https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop) to work with b2c in .n

[2020-06-11 16:46] bgavrilMS commented on #1881
Looks like smth wrong with the headers. Anyway you can get hold of a network trace (Fiddler would be great) to inspect the headers?

[2020-06-11 22:13] Sebastian7112 commented on #1878
Hey Bogdan,

Someone from the team decided to give our program a run and it seems like the error is occurring due to our different Windows OS. Mine is running on 10.0.19 vs. 10.0.18.

Now that we are running on windows 10.0.18 we encounter this error. Has anyone ever seen this exception within the library?

![Capture](https://user-images.githubusercontent.com/66624447/84444180-2d235a80-ac0f-11ea-8

[2020-06-12 00:32] henrik-me opened #1883 "[Documentation] : WithScopes and anything talking about scopes in the reference docs"
See docs on scopes such as [WithScopes](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.abstractacquiretokenparameterbuilder-1.withscopes?view=azure-dotnet#Microsoft_Identity_Client_AbstractAcquireTokenParameterBuilder_1_WithScopes_System_Collections_Generic_IEnumerable_System_String__).

### Please check those that apply

- [ ] typo
- [X] documentation doesn't exist
- [X] do

[2020-06-12 16:21] bgavrilMS commented on #1878
The first exception is normal, the second one, from newtonsoft, is an issue with that library + MSAL. Other folks have reported it - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1812

[2020-06-12 16:27] bgavrilMS opened #1885 "[Enhancement] ADFS authority validation is not spec compliant"
**Which Version of MSAL are you using ?**
4.15

**Platform**
all

**Repro**

**Expected behavior**
ADFS authority validation should perform a discovery call to a global endpoint.

**Actual behavior**
no global DRS call is made

**Possible Solution**
The spec is [here](https://microsoft.sharepoint.com/:w:/r/teams/aad/devex/_layouts/15/Doc.aspx?sourcedoc=%7BF0EB0F6F-2B78-42A2-B44F-01DA1D6015E2%7D&fi

[2020-06-12 16:32] bgavrilMS commented on #1885
@neha-bhargava - I think this would be a good work item for you to work on in 4.16

[2020-06-12 16:36] bgavrilMS commented on #1880
@trwalke - thoughts?

[2020-06-12 21:29] trwalke commented on #1880
It looks like this is working for graph because it does not have the same conditional access policy applied to it. The apiScope however required device auth from the looks of it.

My understanding is that the only way to do device auth on windows is with PKeyAuth on windows 8.1 and below or with WAM which I think is limited to V1 only.

@bgavrilMS I would reach out to someone from conditional acce

[2020-06-15 09:13] negberts opened #1886 "Trouble finding examples for 1.0 tokens and .net framework 4.7.2"
Hi,

We have an Service Fabric application that is now using ADAL and an Angular SPA that call's the API of the service fabric application. The API runs on .net framework 4.7.2. We want to migrate to MSAL.

I have succesfully configured Angular to attach bearer tokens to the API. However, in the API the user is still unauthorized.

The scope of the token is http://ilionx.onmicrosoft.com/PimLocalSf

[2020-06-15 10:25] bgavrilMS commented on #1886
Hi @negberts

MSAL is only used to **acquire tokens** , it does not validate tokens. You might want to log a bug / question  on https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet ?

[2020-06-15 10:29] negberts commented on #1886
@bgavrilMS thank you… I will give it a try there. Almost all examples are .net core and version 2.0 so it's hard to figure it out...

[2020-06-15 10:38] bgavrilMS commented on #1886
@jmprieur might also be able to help. It should be a fairly common scenario, as many endpoints need to accept both v1 and v2 access tokens.

I am not familiar with token validation, but just looking at your code:

- can you capture somewhere on the protected API what part of the validation failed?
- I wonder if the valid issuers are the correct ones? You can capture an access token and decode at [

[2020-06-15 13:12] jmprieur commented on #1886
@negberts
The Azure AD endpoint (here v2.0 as you are using MSAL), is independent of the token version for the access token, which is entirely determined by what the Web API wants. See https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#accepted-token-version
So in your case MSAL will get you a v1.0 token, which will be validated by your API

[2020-06-15 19:28] neha-bhargava commented on #1776
@mjfusa I cloned the sample you created and I could not see a difference in the behavior between IssueSample and IssueSample-Installer. Do you still see a difference in behavior? Please confirm.

[2020-06-16 04:03] muak opened #1888 "[Bug] AcquireTokenInteractive not return when use SystemWebView with Apple IdP (B2C)"
I try implementing Sing in with Apple in my app with AD B2C according to the following sample:
https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple

With this provider, I attempt to sign in with the AcquireTokenInteractive method on SystemWebView.
It seems that the auth is complete, but the SystemWebView remains display white page, and the WebView is not closed and the c

[2020-06-16 08:10] negberts commented on #1886
@jmprieur I've added the default scope to the request. If I look at the response from acquireTokenSilent it looks good:

![image](https://user-images.githubusercontent.com/20299260/84737120-88ef3a00-afa7-11ea-8fa1-74ab2bbc0a7c.png)

If I take the access token to http://jwt.ms it looks good as well:

{
  "typ": "JWT",
  "alg": "RS256",
  "x5t": "SsZsBNhZcF3Q9S4trpQBTByNRRI",
  "kid": "SsZsBNhZcF3Q9

[2020-06-16 08:12] negberts commented on #1886
To be clear: the ADAL token is accepted by the backend, the MSAL token is not... The backend has not changed because I reverted the MSAL changes there.

[2020-06-16 08:53] negberts commented on #1886
I figured it out... The audience is case sensitive…

[2020-06-16 09:03] jmprieur commented on #1886
Thanks for the update @negberts.
Closing the issue.

[2020-06-16 09:03] #1886 closed

[2020-06-16 14:15] bgavrilMS opened #1889 "[Feature Request] GetAccounts with user flow filter for B2C scenarios"
**Is your feature request related to a problem? Please describe.**
In B2C, each user flow has its own tokens and therefore its own accounts. MSAL does not provide a method to filter accounts only to one flow, which would be needed for `AcquireTokenSilent` to pick the correct tokens.

**Describe the solution you'd like**
`GetAccountsAsync(string userFlow)` is needed to get accounts that are only re

[2020-06-16 14:16] bgavrilMS commented on #1889
Fixed by https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1869

[2020-06-16 14:22] bgavrilMS commented on #1888
@jennyf19 - do you remember similar issues on B2C with Apple accounts + system webview?

[2020-06-16 14:26] bgavrilMS commented on #1888
Ah, never mind @jennyf19, I think I found an issue that you worked on and describes this problem: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1491

@muak - see the investigation in issue #1491 , it seems there is a problem in iOS itself, which should have been fixed in 13.4

[2020-06-16 16:22] TiagoBrenck opened #1890 "[Documentation] IPublicClientApplication.AcquireTokenInteractive class documentation"
### Documentation Related To Component:

IPublicClientApplication.AcquireTokenInteractive

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in example
- [ ] needs example

### Description Of The Issue

It looks like the code snippet under "Remarks" title got a formating error:
https://docs.microsoft.com/en-us/dot

[2020-06-16 23:38] tawlin opened #1892 "[Bug] NullReferenceException when calling Microsoft.IdentityModel.Clients.ActiveDirectory.CryptographyHelper.GetCryptoProviderForSha256 in .NET 4.7.2"
**Which Version of MSAL are you using ?**
Microsoft.IdentityModel.Clients.ActiveDirectory, Version=2.19.0.0

**Platform**
net472

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Integrated Windows Auth

**Is this a new or existing app?**
a. The app is in production, and I have upgraded from .NET 4.5 to .NET 4.7.2

**Repro**

[code]

**Expected behavior**
Get access token b

[2020-06-17 00:57] muak commented on #1888
@bgavrilMS
Thank you for your time and reply.

This issue was completely the same as #1491.
It solved when I updated iOS version 13.3 to 13.5.

Thanks.

[2020-06-17 00:57] #1888 closed

[2020-06-17 02:13] jennyf19 commented on #1888
Thanks for the quick response @muak

[2020-06-17 02:33] SravanthiKare opened #1897 "SSO in Android using system browser approach not working"
**Description**
As given in documentation, we have tried configuring SSO by using system browser option. But, it seems it's not working. Can you please suggest what am i missing?

[code]

By default, MSAL is supposed to use system browser and share cookies for SSO. I have built 2 apps with same values. But SSO doesnt seem to work. Please help me on this regard.

**Devices:**
 - Android Version: AP

[2020-06-17 10:22] bgavrilMS commented on #1892
That is a very old (~5 years) version of ADAL that we no longer maintain. The bug has probably been fixed in subsequent releases. Please upgrade you identity library, preferably to MSAL (ADAL is on a deprecation path). I believe it's easier to upgrade from ADAL v2 to MSAL.

[2020-06-17 10:22] #1892 closed

[2020-06-17 12:13] viveknegi51288 opened #1893 "[Bug] AcquireTokenSilent not working after few mintunes in ios and anroid giving error"
**Which Version of MSAL are you using ?**

MSAL 4.14.0

**Platform**
Xamarin forms (Android and IOS)

**What authentication flow has the issue?**
* Mobile
    * [ this] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

Other? - please describe;

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**

[code]

[2020-06-18 15:41] bgavrilMS commented on #1349
@henrik-me @jmprieur @jennyf19 - as far as I remember calling OBO without AcquireTokenSilent works fine for our customers.

OBO will make a specialized search in the cache, as it searches for an access token associated with the current assertion. I am not sure we should be calling AcquireTokenSilent here, we even have a comment in our code explaining the reason why AcquireTokenSilent is discourage

[2020-06-18 15:50] bgavrilMS commented on #1349
CC @SomkaPe as you've looked at OBO in detail

[2020-06-18 19:00] yordan-msft commented on #1349
I thought we had a plan to address this issue. Basically need to make sure that tokens in the cache are obtained using same access token.
Did something change?

[2020-06-18 19:44] jmprieur commented on #1349
This is what Microsoft.Identity.Web does, @yordan-msft
but not MSAL.

[2020-06-18 20:53] trwalke commented on #1653
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:53] #1653 closed

[2020-06-18 20:53] trwalke commented on #1822
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:53] #1822 closed

[2020-06-18 20:54] trwalke commented on #636
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:54] trwalke commented on #1825
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:54] #1825 closed

[2020-06-18 20:54] trwalke commented on #1820
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:54] #1820 closed

[2020-06-18 20:54] trwalke commented on #1806
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:54] #1806 closed

[2020-06-18 20:54] trwalke commented on #1805
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:54] #1805 closed

[2020-06-18 20:54] trwalke commented on #1815
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:54] #1815 closed

[2020-06-18 20:55] trwalke commented on #1889
Resolved in [4.15](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.15.0)

[2020-06-18 20:55] #1889 closed

[2020-06-19 10:03] Toukiletoukan commented on #1880
Thanks for your help @trwalke and @bgavrilMS

Is there any samples of WAM usage in console app ?
@bgavrilMS have you been able to reach out to someone from conditional access or intune ?

[2020-06-19 19:04] tanmaymanolkar1 commented on #1897
@SravanthiKare  I have transferred the issue to the correct repository :)

[2020-06-19 19:07] tanmaymanolkar1 commented on #1897
@SravanthiKare Also if I could suggest, I can see that you are using
`AuthResult = await App.PCA.**AcquireTokenInteractive**`
probably in both your applications. It would help if you could use acuireTokenSilent in the second one, since AcquireTokenInteractive would always display a login prompt.

[2020-06-19 21:26] DaehyunLee commented on #1812
@pocce90 thanks for the info.
It seems there's a non-dynamic version of the JSON parser in the code.
I switched to that version and it seems to not crash. had to change the Sha256Cng related code.

Need some setup on the Unity side to prevent the stripping, though.
The device code method and User/password method work for me at the moment.
https://github.com/Interaptix/microsoft-authentication-libr

[2020-06-20 09:48] jmprieur commented on #1695
Additional information.
If Azure function strip out methods, you try out the workaround specified in the Microsoft.NET.Sdk.Functions repo

For now, using <_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput> is the right approach to getting around this. I'm going to close this issue and use Azure/azure-functions-host#5894 to track the fix.

Azure/azure-functions-vs-build-sdk#397 (comment)

[2020-06-20 23:13] weitzhandler opened #1898 "[Feature Request] Enable legacy username and password authentication"
Please add functionality to MSAL.NET so that it can operate on its own to authenticate legacy username/password users, JWT tokens and other scenarios outside the scope of Azure.

**Describe the solution you'd like**
Allow MSAL to work outside the scope of Azure AD too.

- IdentityServer/IDentityModel
- Custom implementation

[2020-06-21 14:45] jmprieur commented on #1898
MSAL.NET supports username/password authentication on public client applications. See

Though, considering your question, proposing to close this issue as a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1538

[2020-06-22 08:19] viveknegi51288 commented on #1893
any update ?

[2020-06-22 09:25] bgavrilMS commented on #1893
Hi @viveknegi51288 - we just released MSAL 4.15 where we've re-tested all the mobile scenarios and it all seems to work fine.

Can you try with MSAL 4.15 and if you still encounter the problem, can you enabled logging and post the logs so we can investigate please ?

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

[2020-06-22 10:19] bgavrilMS commented on #1349
If we use AcquireTokenSilent pattern, token in the cache will be used irrespective of the original access token. Our samples showcase this.

If we use AcquireTokenOBO, MSAL.NET will query the cache like AquireTokenSilent but will also use `hash(original_access_token)` for the lookup.

If we were to fix this issue, we should make `AcquireTokenSilent` not return OBO access tokens (these have an asse

[2020-06-22 10:37] bgavrilMS commented on #1897
The only way to get SSO between applications on mobile is to use a broker (Authenticator or Company Portal). I am not aware of the system browser being able to provide SSO - can you point us to the docs you found?

[2020-06-22 11:50] viveknegi51288 commented on #1893
HI @bgavrilMS , the behavior is still same, i tried with below code with (withForceRefresh(true) and with (WithForceRefresh(false)but application after few minutes prompting for login screen.

IEnumerable<IAccount> accounts = await App.PCA.GetAccountsAsync();

                        IAccount firstAccount = accounts.FirstOrDefault();
                        authResult = await App.PCA.AcquireTokenS

[2020-06-22 12:40] bgavrilMS commented on #1893
@viveknegi51288 - the logs above show are for a successful `AcquireTokenSilent` with `ForceRefresh=true`. Note that ForceRefresh will force MSAL to acquire a new access token, even if a valid access token exists in MSAL's cache.

You do not seem to be using the broker (Authenticator)? For Authenticator use, you need to add `.WithBroker(true)` on the public client application builder object.

Still

[2020-06-22 13:02] viveknegi51288 commented on #1893
@bgavrilMS   var builder = PublicClientApplicationBuilder.Create(App.ClientID);
            builder.WithBroker();
            switch (Device.RuntimePlatform)
            {
                case Device.Android:
                    builder = builder.WithRedirectUri(App.BrokerRedirectUriOnAndroid).WithLogging(Log, LogLevel.Info, true);
                    break;
                case Device.iOS:

[2020-06-22 13:15] viveknegi51288 commented on #1893
So I opened my application after 1 hour and  again its giving below error
AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '1ac00bcc-39a7-4680-90e8-16458513859b'.

[2020-06-22 13:20] bgavrilMS commented on #1893
I am not seeing any broker usage in the logs. Can you please try to set the LogLevel to Verbose and capture logs again? Also, please do not paste the actual access token on GitHub, it is public - maybe you want to delete the access token  or send the logs via email (bogavril at microsoft com). Note that these are you app logs, MSAL never logs tokens.

Your requirement is fine and MSAL should be ab

[2020-06-22 17:09] yordan-msft commented on #1349
Makes sense to me. That's why AcquiteTokenOBO exists, right?

[2020-06-22 19:40] bgavrilMS commented on #1398
I've investigated this more and found out that `WebView`, `WebViewControl` and `WebViewCompatible` are all deprecated in favour of `WebView2`. Guidance from the product group is to **not** use `WebView` control for new apps.

Currently `WebView2` is in preview and the .NET support is [expected ](https://docs.microsoft.com/en-us/microsoft-edge/webview2/roadmap) to GA around December 2020.

Unlike o

[2020-06-22 19:45] bgavrilMS commented on #1349
@jmprieur, @henrik-me - this will require a 2 phase effort:

1. Update Microsoft.Identity.Web to no longer use AcquireTokenSilent (this can be done today).  CC @jennyf19
2. Update the docs to state that AcquireTokenOBO should not be used in conjuction with AcquireTokenSilent

[2020-06-23 00:33] SomkaPe commented on #1349
As far as I remember Microsoft.Identity.Web do cache look up based on incoming access token.
In the same way as web application do cache lookup based on session id.
I do not think that persisting all tokens for client application in one cache instance is a viable option because :
1. Obo service can be used by applications on behalf of thousands or even millions of users.
2. Msal cache is not capab

[2020-06-23 07:45] SravanthiKare commented on #1897
@bgavrilMS

I think I have already added the references to the documentation in the issue description. Can you please refer on those links once.

[2020-06-23 07:47] SravanthiKare commented on #1897
@trwalke

AcquiretokeInteractive is being after unsuccessful call to get silent token. So, in second app we are actually calling acquiretoken first a das it couldn’t acquire the tolen we are making call to acquiretokeninteractive. Hope that answers your query.

[2020-06-23 13:59] viveknegi51288 commented on #1893
Thank you so much @bgavrilMS , I have now did some changes in the code and info.plist and now my application trying to get token from authenticator app.

If possible then can you please help me on one more thing, I have implemented Intune sdk also in our app which is working fine in IOS build but getting error on android.

Could you just tell me how to implement IMAMServiceAuthenticationCallback i

[2020-06-23 15:32] bgavrilMS commented on #1893
Can you point me to the docs around IMAMServiceAuthenticationCallback and how to implement it with ADAL?

[2020-06-23 15:47] viveknegi51288 commented on #1893
Please check in below link
https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-android#app-protection-policy-without-device-enrollment

Implementation you can see in the Intune sample app for xamarin forms (https://github.com/msintuneappsdk/Taskr-Sample-Intune-Android-App)

[2020-06-23 16:04] bgavrilMS commented on #1897
There are 2 levels of SSO that you can achieve. One is controlled by the SDK and one is controlled by the service itself.

The SDK maintains a cache of all the tokens. `AcquireTokenSilent` is used to retrieve tokens from this cache. Tokens from one application CANNOT be used for another application, and `AcquireTokenSilent` will fail. Moreover, the token cache on Android is stored in shared prefer

[2020-06-23 16:06] bgavrilMS commented on #1897
TLDR; I believe that if you use the standard pattern of

[code]

You will provide the best user experience.

[2020-06-23 16:32] SravanthiKare commented on #1897
Thanks @bgavrilMS. This is what we are doing to retrieve token.

But, only misunderstanding that I had is token data will be stored on cookiejar in android which can be used across applications. (As per the documentation on references provided on issue description).

Thanks for the sharing more details. I think, options that are provided on Microsoft documentation make have to be relooked as it is

[2020-06-23 17:10] trwalke opened #1899 "[Bug] MSAL Broker can sometimes fail to properly look up an account when using broker."
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.14

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Userna

[2020-06-23 18:03] tanmaymanolkar1 commented on #1897
Hi @bgavrilMS attaching the link:
https://identitydivision.visualstudio.com/Engineering/_workitems/edit/967272

[2020-06-23 18:16] bgavrilMS commented on #1726
@trwalke - I think we need to do what Wilson. Its logic is capured in 2 files:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/06cae9a6d422dac7b76f1db9de032b98c1d8c836/src/Microsoft.IdentityModel.Tokens/AsymmetricAdapter.cs#L48

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/06cae9a6d422dac7b76f1db9de032b98c1d8c8

[2020-06-23 18:31] bgavrilMS commented on #1893
If the callback signature is

`public string acquireToken(String upn, String aadId, String resourceId)` then I would implement it as

[code]

Something like that. Not sure what the `aadId` is though, is it the client id? Or a tenant ID?

[2020-06-23 18:46] #1507 closed

[2020-06-25 11:50] bgavrilMS opened #1901 "[Feature Request] Make it easier for developers to enable "SSO" on UWP"
**Is your feature request related to a problem? Please describe.**
By default, UWP web ui (WAB) does not remember the previous logged in user.
To enable this functionality, users have to perform the steps described [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/UWP-specifics).

**Describe the solution you'd like**
In addition to using "https://sso" redirect uri

[2020-06-25 14:32] bgavrilMS commented on #1893
Let's open another issue for MAM integration if required. I think the original problem has been resolved.

[2020-06-25 14:32] #1893 closed

[2020-06-25 14:36] bgavrilMS commented on #1899
How can an MSA and an OrgId have the same email address? Maybe I don't understand what an OrgId is ...

[2020-06-25 14:42] jmprieur opened #1902 "[Feature Request] Expose a new string SuggestedCacheKey in TokenCacheNotificationArgs"
**Is your feature request related to a problem? Please describe.**
Today, in confidential client applications, there needs to be one cache per user/account. And the difficulty is that the token cache custom serialization needs to decide where to serialize the cache based on some information which is not available today in the `TokenCacheNotificationArgs`.
This was solved in Microsoft.Identity.Web

[2020-06-25 14:52] frolific commented on #425
Any update on this? IMO, this should not be marked as an enhancement - it's a defect that can potentially lead to PII issues.

[2020-06-25 15:23] viveknegi51288 commented on #1893
Thanks @bgavrilMS  You helped a lot.... and issue is resolved now. Thanks

[2020-06-25 15:56] trwalke commented on #1899
@bgavrilMS  There is an email thread going where we can ask Benoit more questions about this. Im assuming orgID refers to an AAD account. There was a time where there were less restrictions on MSA email addresses so I think it is possible for an old MSA account to have the same email as an AAD account.

[2020-06-25 16:48] bgavrilMS commented on #1851
Closing in favour of #1398

[2020-06-25 16:48] #1851 closed

[2020-06-25 17:55] trwalke commented on #1867
This is actually an ADAL bug. moving there

[2020-06-25 17:59] bgavrilMS opened #1903 "[Documentation] Update Intune docs and sample code with MSAL details"
@trwalke and @bgavrilMS to help with code and scenarios. Please provide a list of docs we should look at.

[2020-06-26 07:51] janschoelchAtOK opened #1904 "[Feature Request] [Android] Inhetrit WindowManagerFlags from hosting activity when using embedded web view authentication"
**Is your feature request related to a problem? Please describe.**
This feature request is Android related. We would like to enable the WindowManagerFlags.Secure flag on every bit of our app, so that the app content gets hidden once the app enters the background (e.g. in Android task overview). This flag also prevents the user from taking screenshots. Adam Pedley once wrote a nice and short blog a

[2020-06-26 09:27] bgavrilMS commented on #1904
I'm not sure I'd be comfortable with copying ALL those flags as they are pretty powerful. But just setting the secure flag to true (always or based on the parent activity ... TBD) can be done.

@shoatman @rpdome - what do you think about this? Do you do this on MSAL.Android?

[2020-06-26 21:39] HerrickSpencer opened #1907 "[Bug] Multiple calls to AquireTokenInteractive with different accounts gives same credentials which return same initial graph account details"
I’m prototyping a scenario where we want the user to signin to multiple accounts at once.
Hitting a weird caching (I believe) issue.
(This is essentially a boiled down version of what MCT is using in the quickcreate msal provider… but I am changing it to only use Microsoft.Identity items and to not silent login, instead asking for a account selection dialog.

The code returns the same account for

[2020-06-26 21:48] HerrickSpencer commented on #1907
I'm using two Microsoft MSA's (non-work) accounts for this test, if the account domain may be of importance.

[2020-06-29 06:24] EdiWang commented on #1609
I have the same problem @Zimmergren

My website use a custom domain configured on Front Door, but AAD sign in redirect back to the app service default URL (https://****.azurewebsites.net/signin-oidc).

How to solve this issue? Is there any update?

[2020-06-29 06:31] jmprieur commented on #1609
@EdiWang @Zimmergren @ossentoo @pjevans
did you see [Deploy to App Services Linux containers, or with proxys](https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers)?

[2020-06-29 07:48] EdiWang commented on #1609
I solved the problem by removing the default host header in Azure Front Door backend pool. See my blog post: https://edi.wang/post/2020/6/29/solving-azure-ad-sign-in-failure-with-azure-front-door

[2020-06-29 08:59] janschoelchAtOK commented on #1264
This might have reappeared somewhere after MSAL 4.2.1.
If I use MSAL 4.2.1, everything works as expected.
When using MSAL 4.2.15 (latest version), I receive the error @omghb described again:

[code]

Still only appearing on Android.

[2020-06-29 11:19] bgavrilMS commented on #1264
Looks like an error from the server, related to embedded browser:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/e60f336c410e696794dbc2dc25d22afa13113ba3/src/client/Microsoft.Identity.Client/Platforms/Android/EmbeddedWebview/AuthenticationAgentActivity.cs#L118

Workaround would be to use the system browser.

[2020-06-29 11:20] bgavrilMS commented on #1264
@janschoelchAtOK - does this always happen?

[2020-06-29 11:21] bgavrilMS commented on #1264
And can you get us some logs please? https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging Feel free to send them directly (bogavril at microsoft com) if needed.

[2020-06-29 11:33] janschoelchAtOK commented on #1264
It indeed only happens when using the embedded browser as you suspected. I will send you the logs directly.

[2020-06-29 17:22] bgavrilMS commented on #1907
@neha-bhargava  - can you take a look please?

[2020-06-29 20:34] ossentoo commented on #1609
@jmprieur I had previous tried to resolve the issue by manipulating that header.  Anyway, i see that the document has been updated, so I'll take a look.

[2020-06-30 08:24] worldspawn commented on #632
@jmprieur i'm trying to use this (https://github.com/Azure-Samples/ms-identity-javascript-v2) sample and can only get 50049. My authority uri is: `https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/tfp/B2C_1A_Samssignup_signin`. I can see the browser makes a request to `https://login.microsoftonline.com/common/discovery/instance?api-version=1.0&authorization_endpoint=https://{tenant}.b2clogin.

[2020-06-30 08:39] bgavrilMS commented on #632
Hi @worldspawn - this is the repo for MSAL .NET. Please open an issue on MSAL .js (https://github.com/AzureAD/microsoft-authentication-library-for-js) or directly on the sample.

[2020-07-01 06:02] tipa commented on #1090
This bug still seems to be present, with a slightly different stack trace:
[code]

[2020-07-01 08:39] bgavrilMS commented on #1090
How would you expect MSAL to behave in this situation @tipa ? We can throw an exception from the `AcquireTokenInteractive` method and also return false from `IsSystemWebviewAvailable` I guess.

[2020-07-01 08:44] tipa commented on #1090
I would expect to be able to catch the exception so the app doesn't crash -  in other words, AcquireTokenInteractive() should throw the exception

[2020-07-01 14:12] bgavrilMS opened #1909 "[Bug] If 0 scopes are asked, AcquireTokenSilent does not hit the cache"
**Which Version of MSAL are you using ?**
4.15

**Platform**
all

**Repro**

1. AcquireToken with or without scopes
2. AcquireTokenSilent without scopes

**Expected behavior**
Cache hit

**Actual behavior**
No cache hit

[2020-07-01 17:04] bgavrilMS commented on #1294
I'm working on this but I'm slightly concerned about the naming. So we can only tell the developer if the cache contains tokens in the notifications that comes AFTER the update (OnAfterUpdate).

But what about the other 2 callbacks - `OnBeforeWrite` and `OnBeforeAccess`? Here we are firing the callback before the token is read from disk. Does it make sense to tell the user if there are tokens in t

[2020-07-01 18:02] nibdev commented on #1277
If somebody has the same problem, i found a workaround (at least for my configuration / system).

Put all your scopes in the ExtraScopes...

[code]

[2020-07-02 10:15] jmprieur commented on #1294
yes, @bgavrilMS I think it's a good proposal.

[2020-07-02 15:28] bgavrilMS opened #1912 "[Bug] GetDeviceId sometimes takes 1.5s"
**Which Version of MSAL are you using ?**
4.15

**Platform**
.net classic

**Repro**

**Expected behavior**
AcquireTokenSilent normally takes ~300ms

**Actual behavior**
AcquireTokenSilent sometimes takes ~2s, whith a lot of time spent in GetDeviceId

**Possible Solution**
GetDeviceId on .net classic tries to enumerate the system NICs and use a network address as id. This can take a very long time

[2020-07-02 21:42] #1909 closed

[2020-07-06 08:43] bgavrilMS commented on #1844
@harmjonker - I'm going to close this but please reopen if you see fit. We would need to look at broker logs to understand why a re-login is needed. Broker logs are obtained by clicking on the 3 dot button > Help > Send Logs. You'll get a short ID which you can send to us and we can extract the logs.

[2020-07-06 08:43] #1844 closed

[2020-07-06 08:53] #1861 closed

[2020-07-06 08:55] bgavrilMS commented on #1865
Am going to close this, please reopen or open a new issue as needed.

[2020-07-06 09:17] harmjonker commented on #1844
I agee.  We have some instances of unexpected login and will follow the procedure you described to figure out what is happening.

[2020-07-06 09:32] ibebbs commented on #1865
@bgavrilMS, is closing this issue the right course of action right now? I understand that its not an issue with MSAL.NET _specifically_ but it is an error that is still being investigated by the Azure AD B2C team.

Closing this issue may make it seem like this issue has been resolved when it, at the current time, it hasn't.

[2020-07-06 12:12] bgavrilMS commented on #1865
Reopening as per @ibebbs 's request. It's not clear from this thread that someone from B2C team is looking at this, I hope they are.

[2020-07-06 12:15] ibebbs commented on #1865
Thanks @bgavrilMS , yes they are looking at this. I have an open support request with them and they have confirmed the issue.

I'm not sure how best to keep this issue up to date with the support request other than updating it manually.

Any suggestions?

[2020-07-06 12:18] bgavrilMS commented on #1865
No suggestion, I think updating it manually is the only way to go.

You can add a link to the support case here, even if only @microsoft accounts can access it, so that we can check the progress. We tend to look over open issues that haven/t been actioned in a while and close them, so this will help see progress.

[2020-07-06 15:48] ibebbs commented on #1865
Sorry @bgavrilMS , I've looked but can't find any form of link for the support request in the Azure "Help + Support" blade so don't think I'm able to share a link.

If you know how, let me know and I'll try to provide one.

[2020-07-06 16:46] neha-bhargava commented on #1776
Closing this due to no response. Please reopen if the issue is still there.

[2020-07-06 17:14] crmann1 commented on #1907
With multiple MSA accounts you can only be signed in as one at a time and that is cached in the browser cookies. This seems like currently designed behavior until multi-MSA is enabled.

[2020-07-06 20:03] mjfusa commented on #1776
@neha-bhargava Yes - this still repros for me. I don't see MSAs (e.g. mike.francis@live.com) when run as MSIX-Installer.

[2020-07-06 20:05] mjfusa commented on #1776
@neha-bhargava  Can you please reopen?

[2020-07-06 23:48] neha-bhargava commented on #1907
@HerrickSpencer This could be the reason that you were logged in with the same user. Due to browser cookies.

[2020-07-07 08:16] harmjonker commented on #1907
Are you using ADFS as provider ?

[2020-07-07 09:41] kalyankrishna1 commented on #1776
@mjfusa , please capture the interaction between your app setup and the AAD STS in a  tool like fiddler and share with us. The setup you have will require quiet a bit of effort for us to set up to reproduce and this will delay resolution efforts .
The STS response and rendering should be throwing a few errors/warnings but most importantly has correrelation ids that we need to start troubleshooting

[2020-07-07 13:43] #1798 closed

[2020-07-07 13:43] #1902 closed

[2020-07-07 13:43] #1756 closed

[2020-07-07 13:44] #1294 closed

[2020-07-07 14:00] jmprieur commented on #1902
See https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/pull/38 for how the usage of SuggestedCacheKey and HasToken simplifies the token cache serialization in confidential client applications

[2020-07-07 14:00] jmprieur commented on #1756
See https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/pull/38 for how the usage of SuggestedCacheKey and HasToken simplifies the token cache serialization in confidential client applications

cc: @bgavrilMS @jennyf19 @pmaytak @henrik-me @trwalke @neha-bhargava

[2020-07-07 14:59] bgavrilMS opened #1914 "[Bug] Java.Lang exception from the broker"
**Which Version of MSAL are you using ?**
4.14

**Platform**
android + broker

**Repro**

Sometimes, when calling the broker, the following exception is thrown:

Java.Lang.Exception: Exception of type 'Java.Lang.Exception' was thrown.

JniEnvironment+InstanceMethods.CallObjectMethod (Java.Interop.JniObjectReference instance, Java.Interop.JniMethodInfo method, Java.Interop.JniArgumentValue* args)
J

[2020-07-07 16:11] bgavrilMS commented on #1914
Related Xamarin issue: https://github.com/xamarin/xamarin-android/issues/4898

[2020-07-07 16:21] bgavrilMS commented on #1914
CC @trwalke

[2020-07-07 17:48] bgavrilMS commented on #1871
@bachoang - apologies for the long delay here. Would you be able to capture a Fiddler trace to see an actual SAML 1.1 in action and send it over email (feel free to remove any sensitive fields if needed) ... bogavril at microsoft com

[2020-07-07 17:54] bgavrilMS commented on #1728
Also please see https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/1682

[2020-07-07 18:13] HerrickSpencer commented on #1907
@neha-bhargava and @crmann1 I'm seeing that it is related to multi-MSA not being enabled. Is this simply a limitation of MSA, or MSAL or something else like the Identity provider?  Is there a step I can take to enable this?

If I use an MSA and a AD account, would this work? this is more likely the correct scenario anyway, since the goal was to have  mixed graph results from a personal and work ac

[2020-07-07 21:00] timothyt commented on #1812
@DaehyunLee Thanks for the link to your changes. We had to do something similar to get ADAL working. We're migrating now to MSAL. Would you mind posting a link to your link.xml?

[2020-07-08 11:58] bgavrilMS commented on #1264
Apologies for the long delay. From the logs I gather that the redirect uri configured is `msalXXXXXXXXXXXXXXX://auth` and this is fine.

The embedded webview needs to understand when the browser navigated to the "final url" i.e. the redirect URI, so we use a callback named `ShouldOverrideUrlLoading` that gets invoked every time the url changes in the browser. It's normal for that URL to change sev

[2020-07-08 14:53] janschoelchAtOK commented on #1264
Thank you very much for the detailed answer and insights, Bogdan! Your detailed logging PR will also help us to investigate further. I will check back with our infrastructure team as they are responsible for the IDP - I'll be back soon ;-)

[2020-07-08 15:59] Sn3akyP3t3 opened #1917 "[Bug] AcquireTokenForClient Causes Application To Terminate With Code 0 Without Any Explanation"
**Which Version of MSAL are you using ?**
MSAL 4.16.0

**Platform**
.NET Core 3.1 Console Application.  Same behavior observed in a netstandard class application when tested through a netframework integration test.

**What authentication flow has the issue?**
Daemon - I believe its client credentials flow.
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant

[2020-07-08 16:49] maxk1219 opened #1918 "[Bug] PlatformNotSupportedException in AcquireTokenInteractive call"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

4.16.0
**Platform**

netstandard2.0
**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Usern

[2020-07-08 17:21] bgavrilMS commented on #1918
MSAL is indeed built against .NETSTDARD (v 1.3), but on this platform we were not able to implement interactive authentication due to some limitations in that target framework.

I can see a few ways to fix your problem:

1. In the grand majority of cases, the entry point application is either .net classic or .net core, so if you add MSAL as a dependency on the entry point app, that version of MSAL

[2020-07-08 18:14] bgavrilMS commented on #1917
It might be easier to fetch some logs from MSAL ... https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

MSAL doesn't handle well all certificates, that could be a problem, but we need more details to investigate.

[2020-07-08 18:17] maxk1219 commented on #1918
Thanks, Bogdan, for quick reply. Entry point app for my VS extension library is Visual Studio app so I don't have much flexibility for #1 there. Option #2 is an alternative, I was also considering using client credential flow in case if interactive does not work. It will require installing of a certificate on client machine but probably still less work then building UI extension via ICustomWebUI.

[2020-07-08 18:19] bgavrilMS commented on #1918
@henrik-me @jmprieur - this scenario is interesting because it showcases a use for pure .netstandard implementation.

[2020-07-08 18:22] bgavrilMS commented on #1918
@maxk1219 - isn't there a way to get a token using Visual Studio's internal identity service or some other VS extensibility mechanism? VS 2019 already references MSAL so it is in memory already...

[2020-07-08 18:31] Sn3akyP3t3 commented on #1917
I didn't see this question answered anywhere in documentation.  Does Certificate Based Authentication need to be enabled on local Exchange servers for authentication routed to Office 365 Azure hosted AD?  This was the only documentation I could find: https://docs.microsoft.com/en-us/exchange/plan-and-deploy/post-installation-tasks/configure-certificate-based-auth?view=exchserver-2019

[2020-07-08 18:38] maxk1219 commented on #1918
It is another option although I'm not sure if I can force VS to sign in if user decides not to do so. Also from library point of view I'm trying to package it in a way so it is not dependent on VS or its state since it can be also installed as a nuget package, not an extension.

One more interesting observation. I was able to get a token from MSAL using my library if it is loaded as an extension i

[2020-07-08 19:10] Sn3akyP3t3 commented on #1917
I omitted Client and Tenant ID from the logs.  Hope that's alright.  Logging level was set to verbose.

[code]

[2020-07-08 19:50] Sn3akyP3t3 commented on #1917
Just a quick note.  Were going to recreate the certificate following this procedure: https://developermessaging.azurewebsites.net/2018/09/11/authenticating-against-exchange-web-services-using-certificate-based-oauth2-tokens/  Prior to this we were using a certificate generated by the company's CA which succeeded in getting a token when testing with the Graph API, but failed with Outlook with the o

[2020-07-08 21:25] one-harsh commented on #1501
Unsure, why was this closed? The issue still exists, even in the latest nuget version.

[2020-07-09 01:01] shahzaibj commented on #1904
@bgavrilMS On Android, I don't see us setting that flag anywhere so I believe we don't do it.

@rpdome I believe for us this means setting the [FLAG_SECURE](https://developer.android.com/reference/android/view/WindowManager.LayoutParams.html#FLAG_SECURE) to true in the `onCreate` of `WebViewAuthorizationFragment.java`? 🤔

@bgavrilMS / @shoatman If we are to do it, then IMO we should probably make

[2020-07-09 07:34] janschoelchAtOK commented on #1264
@bgavrilMS I pulled `bogavril/more_logs` (your changes will help a lot!) and ran `Microsoft.Identity.Client` locally next to our solution - debugging gave us more info on how the URI is built. Looks like in our test environment there is a redirect to `urn: XXXX` which might be related to federation or integrated Windows authentication (I have close to zero experience with this). We try to investig

[2020-07-09 10:20] jmprieur commented on #1918
Yes, that make sense @bgavrilMS

[2020-07-09 10:54] bgavrilMS commented on #1885
ADFS validation algorithm works on the premises that a login hint exists. If a login hint is not passed or for the client credentials flow, MSAL is supposed to fail if the validate_authority flag is true. This is a breaking change and we need to reconsider this work item when we are ready to bump the major version.

[2020-07-09 11:03] bgavrilMS commented on #1918
@maxk1219 - this is because at runtime you can only have 1 MSAL assembly in memory. And when NuGet intervenes in the build pipeline, it sees that in the dependency graph there is MSAL for .net classic (brought in by VS) and MSAL for netstandard (brought in by you) and it chooses the .net classic version.

@henrik-me @jmprieur - how do you feel about introducing a .netstandard 2.0 or 2.1 target for

[2020-07-09 12:43] bgavrilMS commented on #1501
@one-harsh - this is an external issue. Please

[2020-07-09 12:44] bgavrilMS commented on #1501
@one-harsh - please open a case with the Azure service owning this. This is not an Identity.SDK problem.

[2020-07-09 12:44] #1501 closed

[2020-07-09 12:57] bgavrilMS commented on #1917
From the logs I do not see any issue in MSAL. The logs cut off immediately before MSAL tries to make an HTTP call to the `https://login.microsoftonline.com/common/discovery/instance` endpoint. The call doesn't fail, MSAL can handle failures and would throw an appropriate exception (or in this case just continue), the process just stops.

Maybe there is an aggressive firewall / antivirus on the box

[2020-07-09 16:31] henrik-me commented on #1918
netstandard 2.0 has some interesting challenges on net framework, as you actually need .net 4.7.2 for it to really work (long story of troubles). However netstandard 2.0 is the last netstandard 2.0 version which has a meaning for net framework, thus I blieve we should be targeting netstandard 2.0 and consider having it behave like our netcore target?

Please see additional information under the ta

[2020-07-09 16:56] trwalke opened #1920 "[Bug] MSAL android ADFS AppCenter test failing"
**Which Version of MSAL are you using ?**
ADFS V4 test is failing.

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this

[2020-07-09 17:05] trwalke opened #1921 "[Bug] Refresh tokens seem to expire early after they are refreshed silently in the cache"
**Which Version of MSAL are you using ?**
4.14+

**Platform**
xamarin android, >NET Desktop

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
a. The

[2020-07-09 17:07] trwalke commented on #1921
Had about 2 customers run into the same issue so far

[2020-07-09 17:09] bgavrilMS commented on #1921
We also have an ICM open for smth similar.

[2020-07-10 04:29] Sn3akyP3t3 commented on #1917
I don't know what is incorrect with the code I provided as it was pieced together from an existing functional project and only slightly modified with the scope for EWS token acquisition, but it seems to terminate before it completes.  If I follow the example of code found linked from Azure AD quick start for .NET
![image](https://user-images.githubusercontent.com/1790256/87116329-1f2b1e80-c23b-11e

[2020-07-10 04:52] Sn3akyP3t3 commented on #1917
It seems like changing the line in Program.cs to this resolves the failure to acquire the token:
AttemptToGetToken().GetAwaiter().GetResult();
I guess that's not equivalent to
_ = AttemptToGetToken();
my mistake!

[2020-07-10 05:32] Sn3akyP3t3 commented on #1917
This problem has everything to do with missing the warning given by Visual Studio that the call will not be awaited.  I must not have seen it due to the line being set with breakpoints which makes it extremely red and blocked out the wavy line that indicated the warning
![image](https://user-images.githubusercontent.com/1790256/87119882-d2e4dc00-c244-11ea-8510-b9e102ed3951.png)
.  When I created t

[2020-07-10 05:32] #1917 closed

[2020-07-10 10:35] rubit0 commented on #1812
Are there any workarounds? I'm having the exception regarding System.Security.Cryptography on HoloLens.

[2020-07-10 12:26] #1264 closed

[2020-07-10 12:31] pocce90 commented on #1812
I've manually edited the source code

[2020-07-10 13:23] bgavrilMS opened #1924 "[Feature Request] [Internal] Embed commit ID into the nuget package or into the DLL to prevent releasing outdated DLL."
https://stackoverflow.com/questions/15141338/embed-git-commit-hash-in-a-net-dll

[2020-07-10 13:40] Sn3akyP3t3 commented on #1917
This problem has everything to do with missing the warning given by Visual Studio that the call will not be awaited.  I must not have seen it due to the line being set with breakpoints which makes it extremely red and blocked out the wavy line that indicated the warning
![image](https://user-images.githubusercontent.com/1790256/87119882-d2e4dc00-c244-11ea-8510-b9e102ed3951.png)
.  When I created t

[2020-07-10 16:18] trwalke opened #1925 "[Bug] MSAL is failing to migrate users from ADAL with "The ADAL cache is invalid""
**Which Version of MSAL are you using ?**
4.14+

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

a. The app is in production, and I have upgraded to a n

[2020-07-10 16:22] bgavrilMS commented on #1925
We should delete the ADAL cache automatically if this happens.

[2020-07-10 16:30] trwalke commented on #1925
asked customer for additional info

[2020-07-10 18:10] bgavrilMS commented on #1921
-	The “sign-in frequency” policy is behaving correctly. If this policy is set to X hours, the user MUST re-enter their credentials after X hours, irrespective of how often they go through refresh_token grant and thus irrespective of the rolling expiration RT window
-	Currently there are no policies allowing to control the RT rolling expiration window (these [ones ](https://docs.microsoft.com/en-gb

[2020-07-10 18:10] #1921 closed

[2020-07-12 00:45] alextok commented on #1880
[WAMDesktop.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4907822/WAMDesktop.zip)
This is example how to integrate with WAM. Feel free to ask any questions.

[2020-07-12 00:59] alextok commented on #643
[WAMDesktop.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4907836/WAMDesktop.zip)

This is example how to integrate with WAM. For UWP, even more simpler, you just need to include right namespaces.

For Microsoft services it doesn't matter V1 or V2 tokens, if you use your own service, then you need to remember that WAM issues V1 tokens, though you need teach your

[2020-07-13 05:35] manikandantk88 opened #1927 "[Feature Request] Android WithUseEmbeddedWebView - Remove Sign in header bar with black background"
**Is your feature request related to a problem? Please describe.**
When we use interactive authentication flow WithUseEmbeddedWebView, There is a header bar with black background titled "Sign in". Azure AD B2C Sign-in page is customized based on brand theme and UX guidelines. This Sign-in header looks really unpleasant.
<img width="214" alt="MSAL_SIGN_IN_HEADER" src="https://user-images.githubuser

[2020-07-13 08:42] bgavrilMS commented on #1927
It's just a string that could be configurable, but I'm curious what other MSALs do and how we would expose such an API. @rpdome - do you guys expose this as a configuration?

CC @aiwangmicrosoft to follow up

[2020-07-13 08:59] negberts opened #1928 "[Question] Returned correlation id does not match the sent correlation id"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.16.1

**Platform**
Xamarin.iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Use

[2020-07-13 09:03] bgavrilMS commented on #1928
ROPC flow is not enabled on mobile. What `AcquireToken*` method do you actually use? Do you use a broker?

[2020-07-13 09:08] negberts commented on #1928
AcquireTokenInteractive with scopes to access the underlaying API. Maybe that is the problem, that the scopes should only be supplied with AcquireTokenSilent to get the access token and not while getting the ID token. WithBroker is set to true, although our tenant doesn't use brokers like Authenticator app, but other tenants which use the app do.

[2020-07-13 09:24] bgavrilMS commented on #1928
We should not be changing the correlation ID but in any case, this is a major issue from a functional perspective. We use correlation IDs only for logging purposes, so that you can track the correlation between various auth SDKs and services. It looks like the broker might be overriding the correlation ID that you pass in.

It is just a warning, it has no runtime effect. Are you seeing an exceptio