[2022-11-04 14:27] bgavrilMS opened #3789 "[Feature Request] Improved dSTS support in MSAL"
- [ ] End to end testing for client_credentials
- [ ] Manual test other flows
- [ ] Automation of other flows

[2022-11-04 14:28] bgavrilMS commented on #3789
Blocked until we have test resources from dSTS folks.

[2022-11-04 14:39] #3725 closed

[2022-11-04 14:40] #3259 closed

[2022-11-04 14:40] #3197 closed

[2022-11-04 14:41] bgavrilMS commented on #3363
This was done.

[2022-11-04 14:41] #3363 closed

[2022-11-04 17:20] bgavrilMS commented on #3753
This is in progress with @abatishchev

[2022-11-04 21:24] AMaini503 commented on #3788
@bgavrilMS Is your comment addressed to me or to the developers?

Are you saying the PII needs to be filtered by me manually or will this be addressed in MSAL.NET?

[2022-11-04 22:30] azchohfi commented on #3740
It seems like this happens because the runtime folder is only on the publish folder. I believe there is a way to provide a PublishProfile to wapproj, but I'm not sure.

[2022-11-04 22:48] bgavrilMS commented on #3788
@AMaini503 - comment is addressed to MSAL developers, not to you. We will fix this.

[2022-11-04 22:48] azchohfi commented on #3740
I came up with a workaround. In your wapproj file, add this:
[code]

[2022-11-06 18:40] JPhilC opened #3790 "[Bug] AcquireTokenInteractive - Interactive login window vanishes before user can login"
**Which version of MSAL.NET are you using?**
4.48.0.0

**Platform**
.NET Framework 4.7,1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive Azure B2C

**Is this a new or existing app?**
The app is in production and has been working fine for a number of years. As of 5th November the login page flashes up and disappears preventing users from logging in.

User
**Rep

[2022-11-07 05:04] aries-zhang commented on #3740
It looks like although VisualStudio generates the following warning message, the dlls are still successfully copied to the target path.

[code]

In a [SampleApp ](https://github.com/aries-zhang/SampleWpfApp/commit/8aaa70613bb2b02a6d07c6b829c8e70fa264c02e) I created for reproducing this error, the only issue is the same error still happens when directly hit "run" in VisualStudio. I'm guessing maybe

[2022-11-07 16:26] bgavrilMS commented on #3712
Marking this as blocked until we have a design.

[2022-11-07 17:18] bgavrilMS commented on #3301
This has been unblocked.

[2022-11-07 19:34] MandeepShahi opened #3791 "[Feature Request]Encrypting L2 cache items with Certificates"
**Is your feature request related to a problem? Please describe.**
I'm working on an app service which uses Distributed token caching feature. This feature has ways of protecting tokens with DataProtection service which uses key generation and I'm running into concurrency issue using this. Also, there's no way of directly protecting the tokens with certificates that are shared across the distribut

[2022-11-07 23:00] bgavrilMS commented on #3790
That error code is indicative of the embedded browser encountering an error in the authorization flow. The error is telling the browser that a page is forbidden. This can happen if the server (B2C) or the Identity Provider (e.g. Google, Facebook etc.) have made changes to their auth flow and have made a mistake. Most common is to have some image with http url instead of https.

Possible workaround

[2022-11-07 23:02] #2683 closed

[2022-11-07 23:02] #2711 closed

[2022-11-07 23:05] #3214 closed

[2022-11-08 02:15] Camios opened #3792 "[Bug?] COMException calling PublicClientApplication.AcquireTokenSilentAsync"
**Which version of MSAL.NET are you using?**
MSAL.NET 4.45.0

**Platform**
.NET 6.0

**What authentication flow has the issue?**
WAM (not broker preview) Authorization code flow

**Is this a new or existing app?**
Existing application. New scenario.

**Repro**
Context: We have test engineer wanting to perform test automation.

User logs into Windows using a non-domain account.
The application is t

[2022-11-08 04:46] jmprieur commented on #3791
@MandeepShahi : please see https://github.com/AzureAD/microsoft-identity-web/wiki/L1-Cache-in-Distributed-(L2)-Token-Cache#distributed-systems

[2022-11-08 05:52] MandeepShahi commented on #3791
@jmprieur I'm currently using this mode of data protection for encrypting MSAL tokens to be cached. However, since the keys are generated on different machines, while maintaining the key ring, we're running into Concurrency limitations for which there are a couple of threads currently open with DataProtection team. My query is that, why not remove this additional hog of Key sets and directly use C

[2022-11-08 06:20] RhomGit opened #3793 "[Bug] PublicClientApplication.GetAccountsAsync() crash - Key not valid for use in specified state"
**Logs and network traces**
[code]

**Which version of MSAL.NET are you using?**
4.46.0

**Platform**
.NET 4.8

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x ] Interactive

**Is this a new or existing app?**
b. The app is in production, I haven't upgraded MSAL, but started seeing this issue.

**Repro**
https://github.com/RhomGit/MSALDesktopRepro
The specific line of crash

[2022-11-08 07:32] Montago commented on #2141
I have this bug - did you find a solution ?

[2022-11-08 10:50] JPhilC commented on #3790
Thanks for the suggestions. For some reason the  Microsoft.Identity.Client.Desktop nuget package is not visible in Nuget manager and when I install it using Package Manager it causes the error:

CS1703 C# Multiple assemblies with equivalent identity have been imported: and. Remove one of the duplicate references.

Since I posted the original issue I realise that I have missed a notice posted on th

[2022-11-08 11:25] bgavrilMS commented on #3793
Hi @RhomGit - this is coming from the token cache callbacks you defined, particularly from the DPAPI calls https://github.com/RhomGit/MSALDesktopRepro/blob/0d18219c59011d842f9c0cf8d7650093162a3760/TokenCacheHelper.cs#L27

Did you roam the data maybe? DPAPI only works on 1 machine afaik. Sadly, neither Windows, Mac nor Linux offer bulletproof encryption at rest APIs, there is always some case where

[2022-11-08 11:28] bgavrilMS commented on #3792
Can you please try broker preview version?

[2022-11-08 11:35] bgavrilMS commented on #3791
The problem with using certs directly is that cert rotation is a hard problem. When you rotate the cert the cached data becomes invalid and is difficult / expensive to handle. To make matters worse, in some systems the rotation happens gradually - i.e. you can have N pods using cert_1 and N pods using cert_2

The only other way is to configure AAD to emit encrypted tokens, which is available only

[2022-11-08 11:36] bgavrilMS commented on #3790
Oh, ok, yes. Please the B2C specific authority and let us know if it fixes the issue.

[2022-11-08 12:00] JPhilC commented on #3790
That was the problem. I changed the Url used in the WithB2CAuthority method from "https://login.microsoftonline.com/tfp/[Tenant].onmicrosoft.com/b2c_1_sign_in/oauth2/v2.0/authorize" to "https://[Tenant].b2clogin.com/tfp/[Tenant].onmicrosoft.com/b2c_1_sign_in/oauth2/v2.0/authorize" and this fixed the immediate problem of the login page vanishing before users could log in.

I then had another proble

[2022-11-08 12:00] #3790 closed

[2022-11-08 13:01] bgavrilMS commented on #2141
@Montago - what `AcquireToken` method do you use?

[2022-11-08 19:10] pmaytak commented on #3236
@ayrton97 @Kavya-Gogula Were you able to use [Microsoft Identity Web](https://github.com/AzureAD/microsoft-identity-web/wiki/Azure-Functions) instead of MSAL directly?

[2022-11-08 20:45] MandeepShahi commented on #3791
@bgavrilMS I understand the Cert rotation part. But this can be handled as it has been handled when encrypting DataProtection keys with Certificates (Unprotect for a while with the older certificate while protecting with the new one).

Talking about the solution - We can extend the partial class MsalDistributedTokenCacheAdapter to add encryption before the WriteCacheBytesAsync method and add decry

[2022-11-09 00:50] matt-goldman opened #3795 "[Feature Request] Implement Single User Mode for Android"
**Is your feature request related to a problem? Please describe.**
I'm trying to build a shared-device mode application in .NET (Xamarin or MAUI), as per these docs:
https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-android-shared-devices
https://learn.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-shared-device-mode

However, `Microsoft.Identity.Client` does no

[2022-11-09 04:18] Camios commented on #3792
@bgavrilMS using preview broker (`Microsoft.Identity.Client.Broker` version `4.45.0-preview`) gives a different error

`Microsoft.Identity.Client.MsalServiceException: 'Unknown Status: Unexpected
Error: 0x80070520
Context: Winrt exception was thrown during GetTokenSilently '(pii)'.
Tag: 0x2339e502 (error code -2147023584) (internal error code 590996738)'`

[2022-11-09 05:19] Camios commented on #3792
Also tested with 4.48.0 and the only difference was the Unexpected Error's value (0xffffffff80070520 vs 0x80070520)

[2022-11-09 13:16] bgavrilMS commented on #3792
Ok, thanks @Camios , we will need to investigate this. The Windows error code you mention is:

![image](https://user-images.githubusercontent.com/12273384/200839992-fbfb457b-8078-4cc1-bafb-7a2a63310168.png)

I'm a little confused when you say `IPublicClientApplication.GetAccountsAsync()` returns 1 account. Normally this returns just the accounts in the cache. Do you mean that you interactively log

[2022-11-09 13:45] bgavrilMS commented on #3791
I am following up offline, since I believe we have a solution for 1p which relies on AAD encrypting the tokens. Will post here any fidings for 3p as well, as getting rid of certs in Identity is a top priority. Certs are hard.

[2022-11-09 16:16] bgavrilMS commented on #3236
I can't seem to repro this. Here's what I did:

1. Created a new Azure Function app and edited the csproj like so:

![image](https://user-images.githubusercontent.com/12273384/200882428-7b0de70f-2d8c-426f-9e49-64e1744eeb34.png)

2. Left the publishing profile as is:

![image](https://user-images.githubusercontent.com/12273384/200882640-a94a3df5-a2c4-4dcd-abd7-04b02881aa9f.png)

3. Added some code

[2022-11-09 17:27] jakeaufderheide commented on #3033
I also have this problem. Is plaintext not insecure?

[2022-11-09 18:16] bgavrilMS commented on #3033
Yes, it is. You could use an encrypted drive though.

Generally speaking, a malicious app can steal a token even if your file is encrypted - e.g. by sniffing the traffic or by decrypting the file - if the malicious app runs under the same user. Only Mac has app-level protection. App1 cannot access App2's keychain without permission from the user or special config.

[2022-11-09 18:31] bgavrilMS commented on #3791
I think it should be relatively simple to create a custom implementation of `IDataProtector` and to register this custom implementation. See https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.dataprotection.idataprotector?view=aspnetcore-6.0

This way you can define whatever encryption you want (or any string transformation really). And you don't have to create a cache from scratch.

[2022-11-09 18:31] bgavrilMS commented on #3791
CC @jennyf19 and @jmprieur

[2022-11-10 00:14] Camios commented on #3792
I don't know the history of the machine, I'm coming to it at this point in
time where the cache does appear to have one entry.

I could back up the token cache and delete it an try a "fresh" login if you
like?

On Wed, 9 Nov 2022 at 23:16, Bogdan Gavril ***@***.***> wrote:

[2022-11-10 04:54] Camios commented on #3792
I checked and  there is an existing token cache file for the service account.
I backed it up, then removed the token cache and started the app (still under non-domain windows account while using runas the service account).

`GetAccountsAsync` is returning empty and the fallback is to use the current OS account.
Which we pass to `AcquireTokenSilent(scopes, account)` and it gives the same MsalServic

[2022-11-10 06:43] Camios commented on #3792
So I went back to MSAL v4.45 (and token cache v2.22) and the old WAM broker and I'm getting the COMException again. Note: token account cache is empty so the account is OS account was used in the attempt.

[2022-11-10 06:58] Camios commented on #3792
Upgrading to MSAL v4.48 (and Microsoft.Identity.Client.Extensions.Msal v2.25) with old WAM broker still has the COMException

[2022-11-10 10:44] pmaytak commented on #3236
@bgavrilMS Can you repro with 4.47.0? Maybe it's net5 specific issue?

[2022-11-10 10:53] pmaytak commented on #3687
Update: Created some error-related queries. Added details in #3546 and sent via email.

[2022-11-10 10:53] pmaytak commented on #3546
More details sent via email, but in general: there seems to be 2.2x fewer errors with the updated Http client on Msal.Desktop.

[2022-11-10 11:36] bgavrilMS commented on #3792
It is most likely a limitation of WAM, but I am happy to escalate it to the WAM folks. Would be good to understand the exact repro steps, perhaps using the current OS account.

1. What is the state of the windows machine ? You can get this via cmd `dsregcmd /status`
2. What accounts do you have on the machine?
3. What account are you logged into when you get the error?

[2022-11-10 15:18] bgavrilMS commented on #3236
No, I can't repro with 4.47.0 either when targetting net6-windows10.0.17763.0. Maybe the functions runtime has relaxed the requirement?

[2022-11-10 18:30] Kavya-Gogula commented on #3236
Hi @bgavrilMS ,

Are you testing it locally or did you push it to the cloud?
It worked fine for me locally, But when I deploy to Azure Cloud, It is giving me the issue.

[2022-11-10 18:31] bgavrilMS commented on #3236
@Kavya-Gogula - I pushed it to a newly created Azure Function, not locally.

[2022-11-10 22:24] KingBob3000 commented on #3760
Hello,
I stumbled upon similar problem - IsAuthenticated is always false even though user was successfully authenticated and token retrieved.
I'm using IPublicClientApplication like below against Azure B2C from MAUI Blazor App:
AcquireTokenInteractive(B2CConstants.Scopes).WithParentActivityOrWindow(PlatformConfig.Instance.ParentWindow).ExecuteAsync().ConfigureAwait(false);
And I was expecting that

[2022-11-11 07:06] Camios commented on #3792
I'll need to get back to you next week on this one

[2022-11-11 13:54] bgavrilMS commented on #3795
Closign as duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2387

[2022-11-11 13:54] #3795 closed

[2022-11-11 14:02] bgavrilMS commented on #3760
This property `IsAuthenticated` of the ClaimsPrincipal is misleading. The `ClaimsPrincipal` is just a collection of claims from the ID Token. Having an IDToken is proof that the user authenticated, but you should also look at the expiration claims (`nbf`, `exp` etc.).

MSAL library is really geared towards providing access tokens, to be able to access downstream APIs and will manage the lifetime o

[2022-11-11 15:14] KingBob3000 commented on #3760
Thank you for the quick response.
Misleading is exactly what I got in mind related to MSAL.
For example if want to implement authentication with Azure B2C in ASP.NET Core Blazor Hybrid app you start with this https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/security/?view=aspnetcore-7.0&pivots=maui

There is a part in that article saying

`builder.Services.AddAuthorizationCore();
builde

[2022-11-11 16:22] KingBob3000 commented on #3760
My bad.
If in code above you recreate `ClaimsPrincipal as  new ClaimsPrincipal(new ClaimsIdentity(result.ClaimsPrincipal.Claims, "test")) `where `result.ClaimsPrincipal.Claims `came from `AcquireTokenInteractiveAsync` `IsAuthenticated` initialized correctly.

[2022-11-11 17:11] bgavrilMS commented on #3760
ASP.NET / Core handles authentication and as far as I know it'll refresh the id token on its own (@jmprieur and @jennyf19 to keep me honest).

Today, we recommend people to create a fake web api scope in their app registration and to ask MSAL for access tokens for that API. You'll probably find that acces token lifetime == id token lifetime. If you need to refresh the id token faster, call `Acquir

[2022-11-11 22:21] jmprieur commented on #3760
In ASP.NET/Core, the ID token is related to the user sessions and is stored in the session cookie. The browser takes care of that, and then Microsoft.Identity.Web handles the MsalUiRequiredException and challenges the user (which most of the time happens totally silently)

[2022-11-12 13:56] MandeepShahi commented on #3791
Hi @bgavrilMS this makes sense what you're suggesting - Custom implementation of IDataProtector! I thought about it from the angle of overriding the implementations of Writing to persisted resource and Reading from the resource and including implementations of Protect and Unprotect there. Will give your suggestion a try, Thanks for your suggestion!!

[2022-11-14 02:39] RhomGit commented on #3793
Hi @bgavrilMS - thanks for this. It was a roaming profile and I'll look to workaround.

[2022-11-14 02:39] #3793 closed

[2022-11-14 07:58] mk48 commented on #526
anyone got solution?

[2022-11-14 09:06] bgavrilMS commented on #526
@mk48 - do you mean how to use https://learn.microsoft.com/en-us/azure/active-directory-b2c/microsoft-graph-operations ? Where did you get stuck?

[2022-11-14 09:10] bgavrilMS commented on #3793
Thanks for confirming @RhomGit. DPAPI can in theory be used to support roaming profiles (https://stackoverflow.com/questions/27789485/does-protecteddata-work-on-multiple-computers) but we've decided to use it as defailt (only for local computers)

Another way of enabling SSO in your scenario is to use WAM + default OS account, see https://github.com/bgavrilMS/MSAL-SingleAccount-SSO

[2022-11-14 10:59] mk48 commented on #526
i wanted to get userinfo in AD-B2C, thanks for sharing that link, i will watch and update.

[2022-11-14 22:43] gladjohn opened #3803 "[Bug] [WAM Broker] Add a header title to the Account Picker"
It was possible to add a header title in the Old WAM broker experience. This needs to be added to the new preview WAM broker as well

[2022-11-14 22:46] gladjohn commented on #3803
Fixed for MSAL 4.48.1

[2022-11-14 22:46] #3803 closed

[2022-11-15 01:04] trwalke opened #3807 "[Bug] B2c Local edit test is failing on appcenter"
**Logs and network traces**
https://appcenter.ms/orgs/ADAL-DotNet/apps/DotNet-Xamarin-ADAL/test/series/msal/runs/591763ef-c6a0-439d-90c2-d5f4ca77c41a/0-0-0/68597e28-73f6-49cb-86b2-df242c3eaf19/logs

Test is failing with error:
![image](https://user-images.githubusercontent.com/30090357/201800766-bf17ce02-abd7-47d9-96bf-78e6a1f0ecc5.png)

""You do not have permission to view this page or directory"

[2022-11-15 13:39] bgavrilMS commented on #3782
Just to understand, does this problem occur after upgrading MSAL library?

[2022-11-15 14:02] DaniRvd commented on #3782
No, I migrated from ADAL to MSAL because I need to support federated accounts. For this reason, migrated to MSAL with broker.
It seems to work fine is the Microsoft authenticator is not installed on the device. If the authenticator is installed, after selecting the account in authenticator the application is restarted (see above video).
MSAL versions which I completed in the description are the ve

[2022-11-15 14:31] zmarkusdev opened #3808 "[Bug] obo_cache_key_not_in_cache_error with SQL DistributedTokenCache"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

[code]

**Which version of MSAL.NET are you using?**
MSAL.NET 4.47.2.0

**Platform**
.NET 4.6.1

**What authentication flow has the issue?*

[2022-11-15 15:42] bgavrilMS commented on #3782
@SameerK-MSFT - can you pls provide a suggestion on how to unblock the folks here? The logs show that AcquireTokenInteractive with broker is happening but then failing. Is this a regression?

default	12:47:37.356192+0200	UserDetailsClientiOS	True MSAL 4.47.0.0 MSAL.Xamarin.iOS Mono 6.12.0 (2020-02/dffa5ab9224) 15.7 [2022-11-02 10:47:37Z] Valid MSAL style redirect Uri detected.

default	12:47:37.35

[2022-11-15 16:26] gladjohn opened #3809 "[Feature Request] Use lab resources for testing"
**Is your feature request related to a problem? Please describe.**
We have apps and test resources from non-managed tenants that are still in our code base. Remove these apps and use Lab API to get managed lab apps for all tests

**Describe the solution you'd like**
Remove these apps and use Lab API to get managed lab apps for all tests

**Describe alternatives you've considered**
none

**Addition

[2022-11-15 19:42] SameerK-MSFT opened #3810 "Build Proof of Concept for MacOS Runtime broker"
Create a prototype to consume msalruntime on Mac OS
- [] Create a wrapper skeleton to consume msalruntime dylib
- [] Create a Console app
- [] Get Init to work
- [] Get SignInInteactive to work

[2022-11-15 23:13] alaskanrogue opened #3811 "Maui.Graphics.Platform.PlatformGraphicsView Token Type Not Resolved"
This issue was moved.

[2022-11-16 01:25] Camios commented on #3792
1. [dsregcmd_clean.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/10017270/dsregcmd_clean.txt)
2. Under "Email & Accounts": nothing. Under "Access work or school": "Connected to *** AD domain". Under Local Users: there some accounts
3. I'm using a non-admin, local user account to login into windows. I run a command prompt using "Run as administrator" which shows

[2022-11-16 08:59] Camios commented on #3792
I tried a new local account for windows and a different domain account to "run-as" the elevated application and I'm getting the error in all versions MSAL and even with and without the broker preview. A difference with the WAM preview is it gives MSALServiceException vs the COMException from the "old" WAM broker.

Some out of the box testing:
I tried logging into and out of windows with the domain

[2022-11-16 09:24] aetos382 commented on #3583
related issue: https://github.com/microsoft/microsoft-ui-xaml/issues/5689

[2022-11-16 10:08] aetos382 commented on #3583
`Microsoft.Identity.Client` references `Microsoft.Web.WebView2` since v4.28.0.
Therefore, libraries that reference this library (such as `Microsoft.Graph`, `Microsoft.Data.SqlClient`, and so on) are not compatible with WinUI 3.0.

[2022-11-16 10:39] bgavrilMS commented on #3583
Interesting, thanks for the update @aetos382 ... We do have a WinUI 3.0 sample and we have tested it with MSAL and did not see any error. Can you provide some repro steps?

[2022-11-16 11:18] #3811 closed

[2022-11-16 12:11] RhomGit commented on #3793
No worries @bgavrilMS

Just fyi I have now encountered a second client with this issue on our latest build (not roaming this time).
Have updated to Microsoft.Identity.Client 4.48.1 and it still persists.

I'll look into switching out to the new token caching method you described above.

[2022-11-16 12:20] #3252 closed

[2022-11-16 13:07] aetos382 commented on #3583
https://github.com/aetos382/WinUIApp

This repository contains a simple WinUI 3 app.
I just created an empty WinUI 3 app in VS 2022, placed WebView2 into the MainWindow, and added the `Microsoft.Data.SqlClient` package to the reference.
When I build this project, I get the following error.

[code]

If I remove the reference to the `Microsoft.Data.SqlClient` package from the project, or downgrade i

[2022-11-17 09:43] ancker1 commented on #3583
I have the same issue when using Microsoft.Identity.Client in a WinUIproject.

The problem arises when making a self contained WinUI application. @bgavrilMS did you make a packaged WinUI app? Because then you would not see the problem.

[2022-11-17 13:12] ancker1 commented on #3583
Based on the comment from @aetos382 I downgraded "Microsoft.Identity.Client" to version 4.27.1 and "Microsoft.Identity.Client.Extensions.Msal" to version 2.18.0 and it not works.

[2022-11-17 22:34] idenardi opened #3812 "[Bug] Azure B2C Password reset type is not showing on Xamarin.Forms UWP app"
I have a Xamarin.Forms app using MSAL.NET + ADB2C. After I updated the Page Layout Version of the Forgot Password Page to the latest version (2.1.17), UWP stopped working and it only shows a blank Page when the user navigates to the Forget Password. Android and iOS are working as expected.

All platform is working when I use the Page Layout version 2.1.16

**Logs and network traces**

**Which vers

[2022-11-18 04:45] pmaytak commented on #3236
After further investigation - yes the self-contained option seems to be the only one working; other deployment combinations do not.

From offline discussion, the self-contained would like to be avoided because of it's disadvantages, like increased deployment size and need to patch manually.

We're waiting for a confirmation / more info from the Azure Functions team if it's possible to deploy on de

[2022-11-18 11:17] bgavrilMS commented on #3812
The webview used by UWP apps is very sensitive to any issue with the content of the pages in there. If there are any problems, such as an image being referenced by HTTP instead of HTTPS, the webview stops navigation and this all appears as having crashed.

Ultimately it is a B2C service error, because they control the content of the webview. I recommend opening a ticket through the Azure Portal on

[2022-11-18 20:21] jsquire opened #3813 "EuropeWest does not work when using Microsoft.Identity.Client.ConfidentialClientApplicationOptions.AzureRegion"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#32566](https://github.com/Azure/azure-sdk-for-net/issues/32566).

### Please be aware that @Protheon  is the author of the original issue and include them for any questions or replies.

## Details

Microsoft.Identity.Client.ConfidentialClientApplicationOptions points to this document page to instruct us to

[2022-11-19 21:12] bgavrilMS commented on #3813
@Protheon - are you letting the SDK auto-discover the region or do you set the region name?

[2022-11-19 21:26] Protheon commented on #3813
hi @bgavrilMS. let me confirm that on monday to be 100% sure of what i'm saying, not currently at my work laptop.

[2022-11-20 15:45] msJinLei opened #3814 "[Bug] MSAL storage doesn't work on Linux system with XFCE desktop"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**
[code]

**Platform**
[code]

**What authentication flow has the issue?**
All the flows use tok

[2022-11-21 06:00] #3762 closed

[2022-11-21 09:43] katariapankaj opened #3815 "[Bug] Cache Miss on upgrade from .net MSAL 4.46.0 to 4.46.2"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

We recently upgraded our Microsoft.Identity.Client from 4.46.0 to 4.46.2 and Microsoft.Identity.Web.TokenCache from 1.21.1 to 1.25.1.
Post

[2022-11-21 11:05] bgavrilMS commented on #3814
Hi @msJinLei - do you know Azure CLI supports this? I wonder if MSAL py has the same issue or not?

[2022-11-21 11:06] bgavrilMS commented on #3814
CC @rayluo for thoughts on this one.

[2022-11-21 15:44] Protheon commented on #3813
hi @bgavrilMS. Here are the findings:
If I set Microsoft.Identity.Client.ConfidentialClientApplicationOptions.AzureRegion = "EuropeWest" (as visible in the aforementioned documentation) I get the error:
'No such host is known. (europewest.r.login.microsoftonline.com:443)'

If I set to "WestEurope" I get the error:
'AADSTS100007: AAD Regional ONLY supports auth either for MSIs OR for requests from

[2022-11-21 16:10] bgavrilMS commented on #3813
Thanks @Protheon - I can "decrypt" the error message for you:

- "regional feature only works for 1P apps" -  this means applications registered by Microsoft team. The regional feature is not supported by 3P, i.e. 3rd party applications.

I assume you are not internal to Microsoft? Regional auth is currently rolled out to Microsoft services only. There are plans to make regional auth available to

[2022-11-21 17:14] Tayyab53 opened #3816 "Unable to get token using EWS OAuth for Outlook - var authResult = await pca.AcquireTokenInteractive(ewsScopes).ExecuteAsync();"
public async System.Threading.Tasks.Task ProcessFiles()
        {
            var pcaOptions = new PublicClientApplicationOptions
            {
                ClientId = ConfigurationManager.AppSettings["appId"],
                TenantId = ConfigurationManager.AppSettings["tenantId"]
            };

            var pca = PublicClientApplicationBuilder
                .CreateWithApplicationOptions

[2022-11-21 19:05] mattmsft opened #3817 "Allow usage of a previously generated device code"
**Is your feature request related to a problem? Please describe.**

A new device code is always generated when calling `AcquireTokenWithDeviceCode`
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Device-Code-Flow#code-snippet

**Describe the solution you'd like**

Please allow usage of a previously generated device code in `AcquireTokenWithDeviceCode`

**Describe altern

[2022-11-21 20:47] Protheon commented on #3813
Thanks for the info @bgavrilMS . I will keep it unset then. Still, I would recommend updating the documentation because "EuropeWest" doesnt seem to be a valid region either for 1P or 3P if i understand correctly.
You may close this issue at your discression.
Best regards!

[2022-11-21 21:01] rayluo commented on #3814
If it failed with a DBus error, the keyring service is likely not up and running. And then AzureCLI/MsalPython would likely also fail with the same error. It doesn't harm if @msJinLei can try Azure CLI and confirm it. (Alternatively, if you do not have Azure CLI readily available, you can try `pip install msal-extensions` and then download and run [this sample](https://github.com/AzureAD/microsoft

[2022-11-22 05:51] pmaytak commented on #3816
@Tayyab53 What is the issue? Are you getting an error? What MSAL version do you use?

[2022-11-22 12:21] gerrit-amagno commented on #3808
Did you check the behaviour with 4.48? See #3736 for more information.

[2022-11-22 12:33] MihaMarkic opened #3819 "[Bug] Android.Content.PM.PackageManager+NameNotFoundException: com.microsoft.windowsintune.companyportal"
**Which version of MSAL.NET are you using?**
4.48.1

**Platform**
Xamarin/Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [ ] On-Behalf-Of
* Daemon app
    * [ ] Service to Service calls

Other?
A

[2022-11-22 15:22] bgavrilMS commented on #3808
I don't think we made any changes in 4.48 related to OBO

[2022-11-22 15:23] bgavrilMS commented on #3808
@pmaytak - can you provide an opinion on this one please?

[2022-11-22 16:01] morgars commented on #3815
I have the same error.

[2022-11-22 17:15] jmprieur commented on #3817
What is your scenario, @mattmsft ?

[2022-11-22 17:25] mattmsft commented on #3817
https://learn.microsoft.com/en-us/azure/search/search-howto-index-sharepoint-online

Specifically, the device code flow section. We are generating the device code error, generating an error, exiting the indexer app, then the customer resumes the indexer app after they approve the device code and checks the cached code if it was approved

[2022-11-22 17:55] Tayyab53 commented on #3816
@pmaytak: It's not giving any error during the debug of the application. The moment control goes past the below line of code, the debugging gets terminated:

var authResult = await pca.AcquireTokenInteractive(ewsScopes).ExecuteAsync();

Note: The client id and the tenant id to register the application have been provided by Active Directory team, so not sure any changes to the manifest file need to

[2022-11-22 21:10] jp98 opened #3820 "[Bug]"
**Logs and network traces**
Without logs or traces, it is unlikely that the team can investigate your issue. Capturing logs and network traces is described in [Logging wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging).

**Which version of MSAL.NET are you using?**

**Platform**
.NET Framework 4.8

**What authentication flow has the issue?**
* Desktop
    *

[2022-11-22 23:39] jmprieur commented on #3820
@jp98
is your application using an embedded web view?

[2022-11-22 23:59] jp98 commented on #3820
Yes it is using embedded web view as shown in the code provided.

On Wed, 23 Nov 2022, 12:39 pm Jean-Marc Prieur, ***@***.***>
wrote:

[2022-11-23 00:14] pmaytak commented on #3816
What type of app is this? Console? Win Forms?

If it's a Windows app, you have to call AcquireTokenInteractive on a UI thread to prevent any deadlocks with synchronization context. See wiki, which also has links to samples at the bottom: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#withparentactivityorwindow

What exception type do you

[2022-11-23 00:46] jmprieur commented on #3820
I think that the embedded web view can't access the device state (which should be a device managed by your organization)
We suggest you use WAM (See https://learn.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token-wam), or otherwise an embedded web view ()

[2022-11-23 00:47] jmprieur commented on #3820
Having said that the message from Azure AD is not explicit enough.

[2022-11-23 01:01] jp98 commented on #3820
Essentially it takes you to confirm your details on the mysignins page - if you login to the account just using the standard browser and then complete that step and then come back to the app and login again, it works ok. But it's obviously inconvenient, and also weird that it suddenly decides at that point that the browser isn't compatible, even though it's taken you through the first steps succes

[2022-11-23 01:10] Camios commented on #3792
@bgavrilMS can you please escalate to the WAM team if you haven't already?

[2022-11-23 01:14] Tayyab53 commented on #3816
@pmaytak: It's a Console App, I have used generic Exception to catch all types of errors but still it terminates the debugging.

[2022-11-23 03:14] pmaytak commented on #3808
@zmarkusdev Can you provide Verbose MSAL logs for one of those failed requests?

I immediately don't see anything that may cause this behavior, so would need to look at detailed logs step-by-step. Based on those basic logs, it seems like no tokens are even loaded into MSAL from the distributed cache for that cache key.

The cache key mentioned in the MSAL logs above is the same as the session key

[2022-11-23 03:18] pmaytak commented on #3816
Try enabling the **verbose** logs to see what's the latest thing MSAL before the crash.

[2022-11-23 11:49] bgavrilMS commented on #3792
I will follow up again, but they have suggested that some of the "run-as" operations don't work. I recommend you find another solution to test (this is for a test scenario no?), such as using `AcquireTokenByUsernamePassword`

[2022-11-23 11:50] bgavrilMS commented on #3792
@alextok - could you take a look at this WAM issue please?

[2022-11-23 11:56] bgavrilMS commented on #3820
I confirm, the embedded webview is based on old IE. There are 2 ways around this:

1. Use WAM. See https://aka.ms/msal-net-wam (please use the new preview implemenatation). This will require small app changes and registering a new redirect uri
2. Deploy a registry change to force the embedded webview to use Edge instead of IE

See details here:
https://github.com/AzureAD/microsoft-authentication-l

[2022-11-23 13:35] Tayyab53 commented on #3816
@pmaytak: While trying to enable the verbose logs in console app, there are major code differences between https://learn.microsoft.com/en-us/exchange/client-developer/exchange-web-services/how-to-authenticate-an-ews-application-by-using-oauth
AND
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Logging

Can you please send me the **EWS** OAuth Code to implement it in Con

[2022-11-23 13:54] bgavrilMS commented on #3816
Hi @Tayyab53 - your code is like

[code]

Please change it to:

[code]

[2022-11-23 13:58] Surfrat opened #3821 "Xamarin Forms UWP freezes when using B2C + MSA"
**Which version of MSAL.NET are you using?**
Version: 4.48.1

**Platform**
Xamarin Forms UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)

**Expected behavior**
Login dialog appears.

**Actual behavior**
Exception thrown.

Hi,

I have followed th

[2022-11-23 14:04] Tayyab53 commented on #3816
@bgavrilMS: Thanks for the code, I got the below in the console screen:

Informational - True MSAL 4.48.1.0 MSAL.Desktop 4.7.2 Windows 10 Enterprise [2022-11-23 14:03:30Z - 1e5575ea-30ad-49d2-ad69-0ab6d7ae6e08] MSAL MSAL.Desktop with assembly version '4.48.1.0'. CorrelationId(1e5575ea-30ad-49d2-ad69-0ab6d7ae6e08)

[2022-11-23 14:14] Tayyab53 commented on #3816
Adding entire log:

**Note:** Removed Client Id and Tenant Id

Informational - True MSAL 4.48.1.0 MSAL.Desktop 4.7.2 Windows 10 Enterprise [2022-11-23 14:03:30Z - 1e5575ea-30ad-49d2-ad69-0ab6d7ae6e08] MSAL MSAL.Desktop with assembly version '4.48.1.0'. CorrelationId(1e5575ea-30ad-49d2-ad69-0ab6d7ae6e08)
Informational - True MSAL 4.48.1.0 MSAL.Desktop 4.7.2 Windows 10 Enterprise [2022-11-23 14:05:5

[2022-11-23 17:10] msJinLei commented on #3814
Asked CLI team that they didn't test this case.

[2022-11-23 17:11] msJinLei commented on #3814
@rayluo Thanks, I will try the method you propose!

[2022-11-23 18:20] rossirpaulo commented on #3583
Any news on this; it is absolutely ridiculous that Microsoft.Identity.Client breaks WinUi entirely.

[2022-11-23 21:32] SameerK-MSFT opened #3822 "[Feature Request] Support Pii logging in MsalRuntime Interop layer"
**Is your feature request related to a problem? Please describe.**
Currently msalruntime interop layer does not support Pii

**Describe the solution you'd like**
Provide API to enable/disable Pii

**Describe alternatives you've considered**
No alternative

**Additional context**
None

[2022-11-23 22:09] bgavrilMS commented on #3583
@rossirpaulo - correct me if I am wrong, but the scenario is broken if you use MSAL and WebView2 in a WebUI application?

The only workaround I can think of is to force target MSAL's net6 dll instead of net6-windows10.0.17763 - like described here - https://duanenewman.net/blog/post/a-better-way-to-override-references-with-packagereference/

CC @pmaytak as you are looking at cleaning up some refer

[2022-11-23 22:22] bgavrilMS commented on #3821
You are using a version of UWP which is no longer supported. Please bump it up to use at least SDK level 10.0.17763.0. All other SDKs are deprecated. Note that this doesn't mean you won't support lower runtimes, such as Win 10.0.0.0, but the SDK must be at least 10.0.17763.0

https://www.nuget.org/packages/Microsoft.Identity.Client#dependencies-body-tab

[2022-11-23 22:25] bgavrilMS commented on #3821
Better yet, don't use Xamarin, it's being deprecated by Microsoft. It is being replaced by Maui. UWP is also being retired and replaced by WinUI. With Maui, you get WinUI version by default.

Here's the sample to follow: https://github.com/Azure-Samples/active-directory-xamarin-native-v2/tree/main/MAUI/MauiAppB2C

[2022-11-23 22:27] rossirpaulo commented on #3583
Or any other package that includes a version of WebView2. So, for instance, any WinUi desktop (native) application currently breaks when using Microsoft.Identity.Client too; That's because the Windows SDK and Identity.Client both have references to WebView2. The problem is that there's no way to exclude a sub-package from a package; and that is exactly what we need to do to make it work in case of

[2022-11-23 22:35] bgavrilMS commented on #3583
Did you try to follow this article that explains how to deal with diamond dependencies? https://learn.microsoft.com/en-us/dotnet/standard/library-guidance/dependencies

Is the problem that the 2 versions of WebView2 SDK are incompatible with each other?

[2022-11-23 22:43] rossirpaulo commented on #3583
The doubly referenced contexted means two DLLs are created on compilation; an error is announced on evidence of this duplication.

[2022-11-23 22:50] rossirpaulo commented on #3583
The doubly referenced context means two DLLs are created on compilation; an error is announced on evidence of this duplication.

(versioning is not necessarily the problem; in my case, they have the same version)

[2022-11-24 05:15] Tayyab53 commented on #3816
@bgavrilMS, @pmaytak: Can you please have a look at the above Verbose Logs. Please suggest is there any configuration missing.

[2022-11-24 08:19] Surfrat commented on #3821
As far as using .Net Maui - I wish I could.

I am following the .Net Maui progress closely. My problem is that the third party vendors are not quite there yet with full support. My app is 80% complete and uses Prism and a lot of the Syncfusion components. I will re-asses this in a years time and make the switch then.

[2022-11-24 13:26] Tayyab53 commented on #3816
@bgavrilMS, @pmaytak, @bratsche, @RamonPage: Can someone look at the above Verbose Logs and suggest me further how to implement it

[2022-11-24 17:42] bgavrilMS commented on #3821
Ack. Unfortunately this may take a long time to fix. The SDK itself is not responsible for the content that gets displayed in the browser. The browser is a UWP control called WAB (win auth broker - this is not the same as WAM - win auth manager).

WAB is very sensitive to HTML content it has to navigate to, and will bail on any sign of a problem (e.g. a picture is linked via HTTP instead of HTTPS)

[2022-11-25 01:41] pmaytak commented on #3816
@Tayyab53
- Are those all the logs the you get, then app crashes? Or does it hang? I don't see anything wrong so far. If does get stuck during the web request to instance discovery, it would at least end with a timeout exception. It's just strange that no exception is shown. Usually any exceptions would be printed to the console when app crashes. You can also check the Windows EventLog, maybe some

[2022-11-25 04:08] Camios commented on #3792
@bgavrilMS FYI this wasn't for an auth test scenario. It just happened to be observed during the flow. Our application needs to run elevated so we can hit this issue in normal (non-test) scenarios.

[2022-11-25 06:43] Surfrat commented on #3821
Thanks very much for your insights, as it makes design decisions easier. Is it possible to only use Local login for UWP only and Local, Google and MS for Android and iOS?

This way I can side step the problem for now or use Local login only for all three platforms.

I really appreciate your help, the joys of software engineering :)

[2022-11-25 09:08] lukasz-zoglowek opened #3825 "[Bug] LongOBO. Issues with cache serialization after user session has been revoked"
**Which version of MSAL.NET are you using?**
4.48.1

**Platform**
.NET 6.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Authentication
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web app
    * [ ] Authorization code
    * [X] On-Behalf-Of
* Daemon app
    * [ ] Service to Service calls

Other?

**Is th

[2022-11-25 10:12] Tayyab53 commented on #3816
@pmaytak, @bgavrilMS:

- These are the only logs that could generate before the app crashes.
- Yes the app crashes when "AcquireTokenInteractive" is hit without any message on the console or any pop-ups
- Not sure of the global cloud/national cloud
- **I have attached the app(zipped) format. Removed all Id's**
[EWS.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/1

[2022-11-25 10:37] jhaverkamp opened #3826 "[Bug] Microsoft.Identity.Client.MsalClientException: WAM Account Picker did not return an account."
**Logs and network traces**
MSAL.Desktop.4.48.1.0.MsalClientException:
	ErrorCode: authentication_canceled
Microsoft.Identity.Client.MsalClientException: WAM Account Picker did not return an account.
   bei Microsoft.Identity.Client.Platforms.Features.WamBroker.WamBroker.<AcquireInteractiveWithPickerAsync>d__23.MoveNext()
--- Ende der Stapelüberwachung vom vorhergehenden Ort, an dem die Ausnahme a

[2022-11-25 11:07] bgavrilMS commented on #3826
This can happen if user starts. Consider upgrading to our newer WAM implementaion, which fixes some of these bugs, including run as admin: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam#new-wam-preview-in-msal-444 (it's a small app change)

[2022-11-25 11:11] bgavrilMS commented on #3825
Thanks for the detailed repro steps. If you remove all token caching logic and add `MemoryCache` (as per https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization?tabs=aspnet#in-memory-token-cache-1) - does this still occur?

[2022-11-25 11:19] bgavrilMS commented on #3821
Yeah, app models with strict constraints like UPW are hard to work with. I am not aware of any way to configure B2C to show some providers on mobile and other providers on UWP.

[2022-11-25 11:37] bgavrilMS commented on #3816
Please update Program.cs as:

<img width="424" alt="image" src="https://user-images.githubusercontent.com/12273384/203977360-98697fba-3c35-45ee-a429-20461f2fa65a.png">

`ProcessFiles` is async, so you must wait for it to finish. .NET even gives you a warning about this

"warning CS4014: Because this call is not awaited, execution of the current method continues before the call is completed. Consid

[2022-11-25 12:01] #3816 closed

[2022-11-25 13:36] lukasz-zoglowek commented on #3825
I am not using asp net core extensions, but I think memory cache just works fine. If I examine application.UserTokenCache I can see 2 RT

[2022-11-25 14:09] Tayyab53 commented on #3816
@bgavrilMS, @pmaytak: When I use below code:
![image](https://user-images.githubusercontent.com/28978938/204001382-1d3dfbc3-d3ac-4308-936a-cfa488286fde.png)
it gives error:
![image](https://user-images.githubusercontent.com/28978938/204001529-c27ffbf4-50f4-4941-aebf-fe42fdc9d614.png)

When I add Main method, it gives similar await warning and crashes at: "AcquireTokenInteractive"
![image](https://

[2022-11-25 14:14] Tayyab53 commented on #3816
@bgavrilMS: When I run the app **without** debug mode, it is waiting for key to terminate the app, means it doesn't go beyond the line: "AcquireTokenInteractive"
![image](https://user-images.githubusercontent.com/28978938/204003154-88e5454e-d0f7-4fab-aa77-d37f2679e0c7.png)

[2022-11-28 05:05] msJinLei commented on #3814
@rayluo @bgavrilMS  Its works! Thanks. Shall I close the bug?

[2022-11-28 12:22] bgavrilMS commented on #3816
You must use the async / await pattern, for which I recommend you read about.

See https://stackoverflow.com/questions/9208921/cant-specify-the-async-modifier-on-the-main-method-of-a-console-app

[2022-11-28 12:26] Tayyab53 opened #3827 "[Bug] Program execution terminates after the code: var authResult = await pca.AcquireTokenInteractive(ewsScopes).ExecuteAsync();"
**When I use below code:**
![image](https://user-images.githubusercontent.com/28978938/204276292-4fbd07d1-d2ce-48f2-ae67-1b50941193a6.png)

**It gives the error:**
![image](https://user-images.githubusercontent.com/28978938/204276364-ad8d6c3c-784c-4b2a-b965-2b1d5f81b4fb.png)

**When I add Main method, it gives similar await warning and crashes at: "AcquireTokenInteractive"I have a program.cs as be

[2022-11-28 12:28] bgavrilMS commented on #3827
What version of Visual Studio are you using?

[2022-11-28 12:49] bgavrilMS commented on #3827
I think you are using a version of Visual Studio that is too old. Can you please use a more recent one and you'll get async for the main method in console app.

Alternatively, you can set the C# language version to something more modern, see https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version. I think you need at least 7.1 for the async stuff in console ap

[2022-11-28 14:06] jsquire opened #3828 "Documentation needs update"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#32718](https://github.com/Azure/azure-sdk-for-net/issues/32718).

### Please be aware that @Ama7608 is the author of the original issue and include them for any questions or replies.

## Details

Says "This parameter is not required for desktop or UWP applications (as a default is used)."

But then Auth thr

[2022-11-28 18:08] Tayyab53 commented on #3816
Thank you. I am able to connect to the email account.

But the login screen is popped-up during each time app is executed(Delegated Permission). Since the console application wil be scheduled using task scheduler, how can we avoid login screen pop-ups for task scheduler.

[2022-11-28 18:52] bgavrilMS commented on #3815
Does not reproduce with 4.48.x but we are still waiting for logs for 4.46.2 (@morgars - if you can share some logs, that would be great)

[2022-11-29 00:26] Tayyab53 commented on #3827
@bgavrilMS @bratsche @RamonPage @vbatts: Thank you. I am able to connect to the email account.

But the login screen is popped-up during each time app is executed(Delegated Permission). Since the console application wil be scheduled using task scheduler, how can we avoid login screen pop-ups for task scheduler job.

[2022-11-29 07:01] neha-bhargava opened #3829 "[Feature Request] Add IMDS managed identity source to MSI integration"
Add IMDS managed identity source.

- [ ] Add code for IMDS source
- [ ] Test the flow manually
- [ ] Add unit tests
- [ ] Add error handling

For more details see: #3754

[2022-11-29 07:05] neha-bhargava opened #3830 "[Feature Request] Add Azure Arc managed identity source to MSI integration"
Add Azure Arc managed identity source.

- [x] Add code for Azure Arc source
- [ ] Test the flow manually
- [x] Add unit tests
- [x] Add error handling

For more details see: #3754

[2022-11-29 07:06] neha-bhargava opened #3831 "[Feature Request] Add Service Fabric managed identity source to MSI integration"
Add Service Fabric managed identity source.

- [ ] Add code for Service Fabric source
- [ ] Test the flow manually
- [ ] Add unit tests
- [ ] Add error handling

For more details see: #3754

[2022-11-29 07:07] neha-bhargava opened #3832 "[Feature Request] Add Cloud Shell managed identity source to MSI Integration"
Add Cloud Shell managed identity source.

- [x] Add code for Cloud Shell source
- [x] Add unit tests
- [x] Add error handling
- [ ] Manual testing

For more details see: #3754

[2022-11-29 07:14] zmarkusdev commented on #3808
Yes it is the same I got during the authentication dialog.

Exactly, I have the exact key in the database and it won't find it unfortunately, this is why I built in this additional Acquire.

Here are the verbose logs, I hope you can work with this? Let me know if you need any more informations, thanks!

[code]

[2022-11-29 11:55] #3791 closed

[2022-11-29 11:59] bgavrilMS commented on #3113
As per @jmprieur 's comment, we will not fix this. Please reach out to us to improve token caching in MSAL.

[2022-11-29 11:59] #3113 closed

[2022-11-29 12:55] bgavrilMS commented on #3827
Please have a look at the sample that shows how to use a token cache - https://github.com/Azure-Samples/ms-identity-dotnet-desktop-tutorial/tree/master/2-TokenCache

You can also skip the first login prompt in most cases (but not all!) by using WAM on Windows - https://aka.ms/msal-net-wam - this will authenticate the current user to your app, provided that there is no consent need.

[2022-11-29 14:34] morgars commented on #3815
I have upgraded to 4.48.x and now i can not reproduce the error. Seems to be fixed with the newer version.

[2022-11-29 15:22] bgavrilMS commented on #3815
Thanks for confirming @morgars. Any chance you can get us verbose logs from 4.46.2 ? We are not able to repro locally. Feel free to email logs to me at - bogavril at microsoft .com

[2022-11-29 17:31] morgars commented on #3815
Hello @bgavrilMS. I downgraded to 4.46.2 to try to get logs for you, but now it seems to work with the 4.46.2. I'm confused, maybe it was some other local problem on the machine or some Assembly mismatch.

[2022-11-30 05:41] neha-bhargava opened #3835 "[Feature Request] Add App service managed identity with initial managed identity work"
Add IMDS managed identity source.

- [ ] Add initial managed identity code
- [ ] Add code for App service source
- [ ]  Test the flow manually
- [ ]  Add unit tests
- [ ]  Add error handling

For more details see: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/3754

[2022-11-30 05:44] neha-bhargava opened #3836 "[Feature Request] Managed Identity compute performance impact"
Compute the performance impact for managed identity with caching the ManagedIdentitySource and without caching the ManagedIdentitySource.

For more details refer: #3754

[2022-11-30 14:28] bgavrilMS commented on #3815
Thanks for trying @morgars , we are also unable to repro the issue ...

[2022-11-30 19:13] #3393 closed

[2022-11-30 19:46] #3458 closed