[2020-01-06 22:48] henrik-me commented on #1548
As per internal discussion seems like we have to improve the cache lookup filtering out OIDC scopes? I don't think we should ask people to do anything we should be able to filter correctly and do appropriate cache lookup.

[2020-01-07 11:13] bgavrilMS commented on #1548
Yes, I'll propose a PR shortly.

[2020-01-07 12:30] jmprieur commented on #715
@bgavrilMS : assigning to you, as agreed.

[2020-01-07 12:48] bgavrilMS commented on #715
We do not currently support "null or empty" scopes. I believe we handle OIDC scopes in a good way (there are some bugs but I'm fixing them)

[2020-01-07 14:13] bgavrilMS commented on #1547
@hpsin - yes, MSAL exposes the IdToken to the user as a raw string (there is some work to do to expose it as a set of claims). `authResult.Account.Username` is populated with the "preffered_username" scope from the IDToken (with a fallback to the `upn` scope). So, yes, `email` scope is a better bet, but I don't think MSALs are handling this scope well (we have a separate email thraed about this).

[2020-01-07 15:15] bgavrilMS commented on #715
Looking into this, it is quite complex, because MSAL assumes there is always an AT returned. But if you request 0 scopes (i.e. "openid", "offline_access" and "profile"), an AT is not returned.

[2020-01-07 15:45] WilliamWatterson86 commented on #1544
@bgavrilMS We recently had an external company perform a pen test on our apps and this came up.  So hopefully the changes planned for v4.9 will help with this one.

Here was the result of the test:

Description:
The device stores sensitive information without making use of encryption in the shared preferences. In this instance, this sensitive information included the refresh token used to generate

[2020-01-07 17:58] bgavrilMS opened #1559 "[Bug] ADFS - result.Account.Username has different values between STS and cache"
**Which Version of MSAL are you using ?**
4.7

**Repro**
1. AcquireTokenInteractive with ADFS2019 (direct connection) and observe the result
result.Account.Username is populated with IdToken UPN claim

2. AcquireTokenSilent and observe the result

**Expected behavior**
Same username

**Actual behavior**
result.Account.Username is populated with IdToken.Preffered_Username (which is null for ADFS)

[2020-01-07 18:08] bgavrilMS commented on #1547
So for all intents and purposes this is an ESTS bug - ESTS should throw an error explaining that it is not possible to request an AT for both:

- UserInfo (email scope)
- Custom scope

Instead ESTS returns an access token for the custom scope.

[2020-01-07 18:15] bgavrilMS commented on #715
Some initial work for this https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/bogavril/715

[2020-01-07 18:29] westleyMS opened #1561 "[Bug] When using google IDP with B2C, login prompt fails"
**Which Version of MSAL are you using ?**
MSAL 4.7.1

**Platform**
Net 4.5

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive

**Is this a new or existing app?**
New

**Repro**

        static async Task<AuthenticationResult> getToken()
        {
            string[] scopes = new string[] { "user.read" };

            var app = PublicClientApplicationBuilder.Crea

[2020-01-07 19:01] hpsin commented on #1547
Not quite - this is a bug that allows a client to specifically ask for both user.read and a secondary resource.  Clients are *always* allowed to request a (single) access token for Resource+openid+email+profile - that's the spec.

This is an MSAL bug as well - it should not be checking the cache for openid scopes unless the token requested was exclusively openid +Graph scopes

[2020-01-07 19:33] jmprieur commented on #1561
@westleyMS : can you please share with me (internally is fine) how to configure the tenant to enable the Google IdP? I'm supposing here (from the code) that this is not a B2C scenario?

About the error, I think that Google probably wants you to use a system browser, instead of the embedded browser.
See https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-web-browsers#system-bro

[2020-01-08 00:59] westleyMS commented on #1561
It is B2C, here is what I followed to set it up-

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-goog-app
https://aadguide.azurewebsites.net/aadb2c/aadb2cgoogleidp/

[2020-01-08 02:09] yonathanseleshi opened #1562 "[Bug] Xamarin.IOS App Authentication not working due to Keychain Security Group"
**Which Version of MSAL are you using ?**

Microsoft.Identity.Client 4.7.1

**Platform**

Xamarin Forms 4+, Xamarin.IOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [*] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

This app is i

[2020-01-08 08:20] jmprieur commented on #1561
Then if this is B2C, @westleyMS, you need to use a B2C authority (` .WithB2CAuthority`).
Please have a look to https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop for instance. There are some subtleties for B2C.

See also https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics

[2020-01-08 08:32] jmprieur commented on #1562
@yonathanseleshi
- did you read https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-xamarin-ios-considerations ?
- what did you use for `[login ur]>` ?

[2020-01-08 12:22] bgavrilMS commented on #1547
@hpsin - I fixed the MSAL bug by not looking for the `openid` `offline_access` and `profile` in the cache (but not `email`!) MSALs do not distinguish between Graph scopes and other scopes and I wouldn't want to go down that route. ESTS needs to provide a consistent approach.

My understanding once the ESTS bug is fixed is that asking for `email` and any other resource except Graph will fail.

[2020-01-08 13:03] deep-mm commented on #1423
@DiegoFaFe Can you please elaborate on how you solved this issue? I am facing the exact same issue with my Xamarin.Forms project.

[2020-01-08 15:45] bgavrilMS commented on #1550
This is not achievable because System.Text.Json does not support all the frameworks MSAL is built againt:

| TFM | MSAL | System.Text.Json |
| - | - | - |
| net classic | 4.5 | 4.6.1 |
| net standard | 1.3 | 2.0 |
| UAP | 10 | 10.0.16 |
| Android | 9 | 10 |

[2020-01-08 16:04] hpsin commented on #1547
@bgavrilMS why not email? They're all openid scopes. The bug is about asking for user.read and a non-Graph resource.

[2020-01-08 16:12] bgavrilMS commented on #1547
MSAL libraries ask for the `openid` `offline_access` and `profile` - this is required for MSALs to function, i.e. request RTs, populate the `username` field in the Account object. We don't expose `email` probably because it is not guaranteed that a user object actually has an email. This may or may not be the best design decision, but it is a decision which all ADAL and MSAL libraries follow for a

[2020-01-08 19:38] rayluo commented on #1547
IMHO:

1. The current AAD behavior (i.e. not issuing AT for multiple resources) is technically NOT a bug, because the OAuth2 specs allows authorization server to choose a subset of scopes to be fulfilled.
2. The current MSAL behavior (i.e. requesting more scopes than cached token means a cache miss) is not a bug either, because that's how the scope concept in OAuth2 is supposed to work.
3. Proposi

[2020-01-09 00:37] yonathanseleshi commented on #1562
Yes, I read

"https://login.microsoftonline.com/[tenant id]"

The authentication worked just fine on the simulator using the code above, but failed on my team's iPads with the error described above.

I'm not sure if there is something I'm missing for it to work on the device.  Here is what's in my AppDelegate:

       public override bool FinishedLaunching(UIApplication app, NSDictionary options)

[2020-01-09 08:21] jennyf19 commented on #1562
@yonathanseleshi What do your entitlements look like? Sometimes you also have to right click the properties of the project and manually add the entitlements:
![image](https://user-images.githubusercontent.com/19942418/72050359-c8399200-3275-11ea-850d-04ee93cdf364.png)

If you have a basic repro you want to share, that works as well.
cc: @aiwangmicrosoft

[2020-01-09 11:37] tomeverin opened #1566 "[Bug] AcquireTokenSilent should not make calls to the network unless required"
**Which Version of MSAL are you using ?**
MSAL 4.7.1

**Platform**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
This is a new a

[2020-01-09 13:11] bgavrilMS commented on #1566
What scopes do you ask for?

[2020-01-09 14:57] jennyf19 commented on #1420
@mtanml sorry for the delay. I will need a more recent correlation Id and we are still trying to secure test accounts to try this out. Will hopefully have some update soon. Thanks for your patience.

[2020-01-09 15:01] jennyf19 commented on #1491
Thank you for the additional information @richp582

[2020-01-09 15:07] mtanml commented on #1420
Hi @jennyf19 !  Here's a brand new Correlation ID:  f29f2952-848c-4d68-885a-f13c705e5b63

And we are now on MSAL version 4.7.1

Thanks!

[2020-01-09 15:38] richp582 commented on #1491
So, what we ended up doing, which really stinks... is removing apple sign in from our default policies and creating an apple only idp policy.  Then in our app we have a separate ui button for Sign Up / Sign In for apple.

The "main" sign up / sign in button works well enough and covers email, facebook, and google... using the system browser... the Apple button uses the embedded view...  however, w

[2020-01-09 15:44] jennyf19 commented on #1491
Thanks @rich3737 ...feel free to shoot me an email and i'll see if we can set you up with the right b2c people to share this feedback as well. jeferrie@microsoft.com

[2020-01-09 18:39] jmprieur commented on #907
@henrik-me to decide if we take for 4.9

[2020-01-09 19:03] jennyf19 commented on #1420
@mtanml Thanks for your patience. Based on the B2C logs, looks like the .well-known configuration endpoint is not correct, and returning a 404.
Which authority are you using and are you using `.WithB2CAuthority()`?

[2020-01-09 19:06] mtanml commented on #1420
@jennyf19 here's our authority configs:

                AuthorityBase = $"https://login.microsoftonline.com/tfp/{Tenant}/";
                Authority = $"{AuthorityBase}{PolicySignUpSignIn}";
                AuthorityResetPassword = $"{AuthorityBase}{PolicyResetPassword}";

                App.PCA = PublicClientApplicationBuilder.Create(ClientID)
                    .WithB2CAuthority(Authority)

[2020-01-09 19:22] jmprieur opened #1568 "[Documentation] Add an aka.ms link on method using x5c to link to 1P doc"
### Documentation Related To Component:
Add an aka.ms link in the XML documentation of methods that use the x5c parameter
The proposal is to use https://aka.ms/msal-net-sni so that first party partner learn about the way to use this API to roll over certificates using Subject Name Issuer (SNI)

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x ] documentation nee

[2020-01-09 19:32] jennyf19 commented on #1420
@mtanml What's your tenant? and could you send me logs? jeferrie@microsoft.com

[2020-01-09 20:13] tomeverin commented on #1566
Scopes string is empty = ""

[2020-01-09 20:24] yonathanseleshi commented on #1562
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.microsoft.adalcache</string>
		<string>$(AppIdentifierPrefix)[App's Bundle Identifier]</string>
	</array>
</dict>
</plist>

This is a Xamarin.Forms/i

[2020-01-10 01:50] jennyf19 commented on #1562
@yonathanseleshi thanks for the additional details. Can you send me the logs for a failed request?
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging
 Thank you

[2020-01-10 08:25] jmprieur commented on #1468
Reopening as it's fixed, but not yet released.
cc: @bgavrilMS

[2020-01-10 12:28] bgavrilMS commented on #1468
Yes, GitHub automatically closes issues after associated PRs are merged...

[2020-01-10 14:28] bgavrilMS commented on #1566
This is sort of expected because the scope "" is not a valid scope. MSAL should throw in this case, but it does not.

MSAL is a library that is used to request access tokens, i.e. tokens that can be used to access a protected API. What it looks like you are trying to do is to just log-in the user, i.e. you want just an IDToken, which provides things like an email and a username. This is not curren

[2020-01-12 04:31] tomeverin commented on #1566
Yes, I am trying to achieve log-in only. I'd really like for the offline scenario to work if a valid token is available in the cache. I'm using B2C for local account only, and am not interested in the social identity provider account support offered by B2C.

Passing scopes = { "email" } made no difference. I also tried setting up a scope in B2C portal, and passed scopes = { "https://{xxx}.onmicros

[2020-01-12 22:05] hausec opened #1572 "[Bug] Error AADSTS9001023 when using AcquireTokenByUsernamePassword() and the correct permissions are set within the app settings in AAD"
**Which Version of MSAL are you using ?**
3.0.0 preview
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**

net4.5 framework
**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    *

[2020-01-13 13:10] bgavrilMS commented on #1572
## TLDR:

[code]

## Longer Answer

### A word of warning

- please use the latest MSAL, we've fixed a bunch of stuff for the Username / Password (ROPC) flow.
- please make sure you understand the security implications of handling passwords and the fact that your users will not be able to login if 2 factor auth is enabled https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/

[2020-01-13 14:58] hausec commented on #1572
That was it! adding `.WithAuthority(AadAuthorityAudience.AzureAdMultipleOrgs)` fixed it. Thank you! Is that documented anywhere?

[2020-01-13 15:16] bgavrilMS commented on #1572
@hausec  I think it is not properly documented - I added it to our wiki but really we should be throwing a better exception.

 Our sample that showcases this flow does the right thing though:

https://github.com/Azure-Samples/active-directory-dotnetcore-console-up-v2

[2020-01-13 15:23] bgavrilMS commented on #1298
Not currently in production. Tracking issue https://identitydivision.visualstudio.com/Engineering/_workitems/edit/781973

[2020-01-13 15:29] hausec commented on #1572
Perfect, thank you.

[2020-01-13 15:29] #1572 closed

[2020-01-13 15:45] bgavrilMS commented on #1572
I'm going to leave this open as a bug for us to provide a better experience.

[2020-01-13 17:58] cswierczynski-diam commented on #1213
Hello,
Is there any update on when the work for this issue will be scheduled/released?
Thanks

[2020-01-14 00:03] henrik-me commented on #1213
@cswierczynski-diam
Before supporting embedded browsers in the netcore target we have to make some structural changes to the library ensuring we can ship a netcore target which doesn't have a dependency on WPF or Winforms. This work is currently in progress.

We have so far down prioritized providing the solution in the extensibility library as we want to make this feature part of the core library

[2020-01-14 00:05] henrik-me commented on #1398
**Important info regarding the timeline:**
We are currently prioritizing work that will enable us to ship a netcore 3 target without a dependency on Winforms of WPF for our cofidential client (web app/service scenarios).

[2020-01-14 00:41] henrik-me commented on #1572
@bgavrilMS : I assume you mean organizations in bullet 1 or your solution options?
I think we should open a feature to do both step 1 and step 2. @jmprieur ?

[2020-01-14 13:53] bgavrilMS commented on #1552
@henrik-me - do you have more details around this? What is the scenario that you are talking about?

[2020-01-14 15:40] bgavrilMS opened #1574 "[Feature Request] Improve ROPC experience by providing better errors and default authority"
See bug #1572 for details

The default authority (aad/common) does not work with ROPC because live accounts do not support ROPC (and never will). Developers are having problems with this, as the error message from Evo is not clear (see bug #1572 for details).

A better experience can be provided by:

1. Throw an MSAL client exception if the authority tenant is `common` or `consumenrs`
2. Default t

[2020-01-14 15:41] bgavrilMS commented on #1093
I believe this is fixed?

[2020-01-14 15:44] bgavrilMS commented on #1127
We publish symbols on NuGet which should be enough.

The process to publish and index symbols for VS is not compatible with hosted build agents because it requires a connection to corpnet. MSAL needs to be built and signed on hosted agents for security purposes.

[2020-01-14 15:44] #1127 closed

[2020-01-14 15:44] jennyf19 commented on #1093
@bgavrilMS [yes](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1557)

[2020-01-14 15:53] bgavrilMS commented on #1566
@TiagoBrenck - can you help ?

[2020-01-14 15:56] yonathanseleshi commented on #1562
I rolled back to version 2.7.1 to get the app working again.  I didn't save any logs.  I'll switch back to 4.7.1 and post the logs.

[2020-01-14 16:01] jmprieur commented on #1574
Thanks @bgavrilMS
2. might be better

[2020-01-14 17:12] bgavrilMS commented on #1213
While we don't support embedded browser on .net core, I believe it should be possible to use the system browser. B2C have a new app registration experience and that allows you set a redirect uri of `http://localhost`

For more details see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/System-Browser-on-.Net-Core

[2020-01-14 18:47] TiagoBrenck commented on #1566
@bgavrilMS I will help investigate this error.

@tomeverin, about the `preferred_username` question, if you could get the correct `IAccount` filtering by policy, then you are already good to go. The `IAccount` object will indeed return `username: Missing from the token response` but this is irrelevant for B2C caching. It blocks you from using logics like

[code]
but for B2C, you shouldn't use it a

[2020-01-14 19:16] TiagoBrenck commented on #1566
@tomeverin I couldn't repro the error. I have used https://github.com/Azure-Samples/active-directory-b2c-xamarin-native as code sample and performed the following steps (using emulator and real Android device):

1. With the network on, signed in for the first time (typed username and password)
1. Turned off the network and turned on airplane mode
1. Killed the running app activity on Android
1. Op

[2020-01-15 04:26] hausec opened #1575 "[Bug] Error AADSTS50011 when Application is configured for multi-tenancy"
**Which Version of MSAL are you using ?**
MSAL 3.0 Preview

**Platform**
net4.5 framework

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new

[2020-01-15 09:12] jennyf19 commented on #1575
@hausec Can you try with the latest version of the MSAL (4.7.1) and see if the issue repros there as well? You should also use `.WithRedirectUri(string redirectUri)`

[2020-01-15 10:42] tomeverin commented on #1566
Now working as expected when passing a valid scope ✔

Thanks for having a look @TiagoBrenck . I compared the sample code with my code, and couldn't find any functional differences, except the sample has an API scope when acquiring tokens... as @bgavrilMS had discussed above.

I found a different way in the B2C tenant portal to add a scope to the application, and have got MSAL working as expected.

[2020-01-15 10:44] anasimao opened #1576 "[Bug] No client secret on web app - No specific error message"
Facing an error where the no client secret was being used in a web app showed an error message that also mentioned a problem with Reply URL, only mentioning the client secret on the third line

A more precise error message should indicate that the error was with the client secret of the application.

REPRO:
On this specific case used the sample active-directory-aspnetcore-webapp-openidconnect-v2 a

[2020-01-15 11:04] bgavrilMS commented on #1576
I have already fixed that error message, which I agree is confusing. The "original exception" the useful bit. MSAL 4.8 will have the fix.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1556

[2020-01-15 11:16] jmprieur commented on #1576
Actually in that case (wrong client secret), the message won't work, or we need to add more to the aka.ms link.
We have more context here that we are in a confidential client app.

[2020-01-15 11:17] bgavrilMS commented on #1575
@hausec - when you don't specify a redirect URI (as @jennyf19 mentioned), MSAL will use the default one, which is smth like `urn:ietf:wg:oauth:2.0:oob` (it's in the OAuth spec ... doesn't even look like an url...)

However, the application registration no longer uses this url. So that's the reason for the mismatch.

To fix this I suggest you to go to the Azure portal, and in your application confi

[2020-01-15 14:28] hausec commented on #1575
Ah ok, that worked. Thank you!

[2020-01-15 14:28] #1575 closed

[2020-01-16 06:16] hausec opened #1577 "[Bug] Token not properly storing OR being pulled from cache"
**Which Version of MSAL are you using ?**
MSAL 4.7 .1

**Platform**
net.45 framework

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

Other? - please describe;

**Is this a new or existing app?**

c. This is a new app or experiment

**Repro**

[code]

**Expe

[2020-01-16 08:55] ashikns commented on #1152
For people reading this in future, it's possible to use msal for android in Unity.
1) Include msal as an aar plugin (or you can pull it as a gradle dependency using maintemplate.gradle support in Unity).
2) Make a proxy android library that calls msal and returns the access token as string. Unity supports calling Android classes and returning values from them: https://docs.unity3d.com/ScriptRefere

[2020-01-16 11:58] bgavrilMS commented on #1152
@ashikns - wouldn't it be easier to use the native MSAL for Android - https://github.com/AzureAD/microsoft-authentication-library-for-android which is written in Java? Or does Unity still need a CLR entry-point?

[2020-01-16 12:02] bgavrilMS commented on #1577
I assume this is because you have not setup a token cache serialization strategy. By default, MSAL caches the tokens in memory only - see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization

The link above shows you how to serialize on Windows. If you are looking for a cross-platform serialization strategy, we've written one here: https://github.co

[2020-01-16 13:48] ashikns commented on #1152
What I wrote is for native msal android. Unity -> proxy class -> native msal is the data flow and reverse for getting access token back in Unity.

[2020-01-16 14:40] hausec commented on #1577
Ahhhh that was it, I apologize for missing that docs, I greatly appreciate the help!

[2020-01-16 14:40] #1577 closed

[2020-01-16 15:03] bgavrilMS commented on #1577
This is fine @hausec , happy to help. And you've seen that we've opened some bugs / feature improvements based on these questions that you have, so this is quite useful.

[2020-01-16 20:21] jpda commented on #1368
What about the case where there is no account before the cache is fetched? I have a background process that uses a user's cached RTs for processing (very similar to, say, Microsoft Flow). A web flow signs in interactively, requesting offline_access + a graph scope, msal swaps auth_code, persists cache. The second process iterates through a list of users subscribed to updates, uses that cache to ac

[2020-01-17 10:24] thomas-julien opened #1579 "Error message : field not found: microsoft.identity.client.ui behavior.select account"
**Which Version of MSAL are you using ?**
MSAL 3.0.0

**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ]  Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;
[code]

[2020-01-17 10:28] bgavrilMS commented on #1579
@thomas-julien - please fill in the form with all the details about the bug. You just pasted some code.

[2020-01-17 10:29] jennyf19 commented on #1579
@thomas-julien also, can you update to the latest version of MSAL and see if it repros there as well? thanks.

[2020-01-17 13:31] thomas-julien commented on #1579
All the code here : https://mega.nz/#F!ANoXCKzT!Zssq6WJ1RohTpC9kjLy5GA
I'm trying to recover, add ,delete and show events of microsoft calendar. It's my first time on using microsoft AzureAD and its APIs. So i don't know how this error  was made.

[2020-01-17 13:35] bgavrilMS commented on #1579
Here's a sample that shows you how to get a token for the Graph using interactive authentication. We strongly advise you not to use "username/password" ROPC flow.

https://github.com/azure-samples/active-directory-dotnet-desktop-msgraph-v2

Once you are able to get a token, you can integrate this with the Graph SDK easily. Note that this repo is for MSAL, i.e. getting the tokens. We do not handle

[2020-01-17 14:01] KoenZomers commented on #830
Ran into the same here and was breaking my head over it for hours. I was using an (old-style) Windows Forms with .NET Framework application to make the call and the login screen never appeared. Until the light bulb above my head went on when I read in the Wiki that you need to call it on the UI thread as it will spawn a window to log in. I was using .Wait() to go from a synchronous button click to

[2020-01-19 19:34] bgavrilMS opened #1581 "[Bug] No broker telemetry"
**Which Version of MSAL are you using ?**
MSAL 4.7

**Platform**
ios, android

**Repro**

We do not record any standard telemetry that lets us know when a broker is invoked. There are no telemetry events related to the broker.

[2020-01-20 12:07] bgavrilMS opened #1582 "[Bug] Broker flows do not respond to cancellations"
**Which Version of MSAL are you using ?**
MSAL 4.7.1

**Platform**
android ios

[code]

Expected: An OperationCancelledException
Actual: The flow continues, even though it involves multiple long running inner operations

Note: it is not "illegal" for operations to not respond to a cancellation request (cancellation is optional), however allowing long running operations to continue is a poor experi

[2020-01-20 15:31] bgavrilMS opened #1583 "[Bug] Interactive broker flow is broken if broker app not installed"
**Which Version of MSAL are you using ?**
msal 4.7.1

**Platform**
ios, android

1. Developer asks for broker to be used
2. Broker is not installed on device

Expected: a flow where user is asked to install broker
Actual: Broker Install URL is null and experience is broken (not exactly sure how, this bug is based on observing code flow).

https://github.com/AzureAD/microsoft-authentication-library

[2020-01-20 18:00] jmprieur commented on #1583
@bgavrilMS : normally Azure AD will trigger the installation, and send back a URL to check. Is it that we don't retrieve it?

[2020-01-20 18:32] bgavrilMS commented on #1583
Yes, by reading the code it seems that there are 2 corner-case scenarios:

1. Developer wants to use the broker, but it isn't installed (this one is buggy)

2. Developer does **not** want to use the broker, but AAD (via Conditional Access) tells MSAL that it NEEDS to use the broker. The way that this is done is that AAD returns a special authorization code that contains the broker URI.
2.1. If a b

[2020-01-21 05:33] drewid commented on #669
This is "still" an issue.  Doing non-interactive, confidential app method to get a token and getting the same error.  Calling ConfidentialClientApplicationBuilder.Create.WithAuthority and using the b2clogin.com format instead of the "announced as deprecated in less than 12 months login.microsoftonline.com" format.  Help!  what to do, as With B2CAuthority is not not valid as there are no userpolici

[2020-01-21 10:13] tipa opened #1585 "[Bug] Xamarin.Android authentication fails since 4.8.0"
**Which Version of MSAL are you using ?**
MSAL 4.8.0 (bug not present with v4.7.1)

**Platform**
Xamarin.Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)

**Repro**
[code]

**Expected behavior**
User can enter login credentials and `AcquireTokenInterac

[2020-01-21 10:17] bgavrilMS commented on #1585
Thanks for reporting @tipa, we did some work to integrate the Android broker and our Android integration tests obviously need some work :).

[2020-01-21 10:28] tipa opened #1586 "[Bug] Xamarin: Make library linker-safe"
**Which Version of MSAL are you using ?**
MSAL 4.8.0

**Platform**
Xamarin.Android & Xamarin.iOS

**Repro**
Enable full linking in Xamarin project
iOS:
![image](https://user-images.githubusercontent.com/2863198/72796742-271ce500-3c40-11ea-8b0e-8f85c9c7f32b.png)
Android:
![image](https://user-images.githubusercontent.com/2863198/72796763-30a64d00-3c40-11ea-94ea-6a46bece5cc9.png)

**Expected behavio

[2020-01-21 10:31] bgavrilMS commented on #1585
@jmprieur @henrik-me - this and https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1586 suggest we need to do a full test pass on Xamarin scenarios. I suggest we unlist version 4.8.0 from NuGet, as it is likely not usable.

[2020-01-21 13:11] Daniel-NP commented on #1585
Just wanted to post the same issue. Good to know that it's not my fault. @bgavrilMS I agree with you, unlisting would make sense.

[2020-01-21 13:27] bgavrilMS opened #1587 "[Bug][VS] System Default Browser - Chrome sometimes does not display the success message"
**Which Version of MSAL are you using ?**
4.7.1

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**
Thi

[2020-01-21 13:52] jmprieur commented on #1585
@bgavrilMS I agree that we should unlist 4.8.0, but we also have to re-update the samples (which were updated to 4.8.0)

[2020-01-21 13:55] bgavrilMS commented on #1585
Well the samples will continue to work, minus the Xamarin sample which we didn't update anyway. Once we release 4.8.1 we will update the samples to that. Unlisting is more like hiding, the package is still there.

But I agree that it might be safer to revert the samples.

[2020-01-21 13:57] bgavrilMS commented on #1585
Unlisted
![image](https://user-images.githubusercontent.com/12273384/72810635-e4fe9e00-3c55-11ea-85fb-f3d2b826ce7c.png)

[2020-01-21 14:06] jmprieur commented on #669
@drewid can you elaborate about what is a system to system call? is it a Web API calling a Web API? (I'm assuming it's not using the On-behalf-of flow, as, as far as I know, it's not supported by B2C yet)

[2020-01-21 14:37] bgavrilMS commented on #1587
CC @crmann1

[2020-01-21 16:08] Diego251 opened #1588 "Question - Why is it more secure to enter the password in Microsoft portal instead of custom login screen?"
According to [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Username-Password-Authentication), it is not recommenced to have a custom login screen, but instead user should be redirected to Microsoft login screen. But if user is not yet logged, it is also required that he/she enters the password in there too. Why is that more secure than in a custom app, assuming

[2020-01-21 16:16] bgavrilMS commented on #1588
With the Username / Password flow (ROPC), your users cannot benefit from multi-factor authentication. So if your tenant admin enables 2FA, for example getting a code via SMS, your users will not be able to login (since they need to interact with a browser. Multi-factor, passwordless authentication is more secure than ROPC authentication and by designing your app correctly from the beginning, you'r

[2020-01-21 16:58] Diego251 commented on #1588
@bgavrilMS Thank you for your feedback. I understand multi-factor authentication and the other arguments, I agree with that. From the articles I am reading, seems MS would like to promote Hello, Authenticator and other mechanisms, reasons for that are clear.

I just wanted to be sure that:
1. When I am redirected to the MS sign-in page to log in with my MS account, I need to enter my password in t

[2020-01-21 17:12] bgavrilMS commented on #1588
Yes, that is fair assessment for #1. Just note that performing interactive authentication, which means opening up a browser and letting AAD handle the UI screens, will provide a better user experience. For example, AAD uses a browser session store which remembers all the logged in users, and won't re-request the password in the majority of cases.

For #2, I am not sure I fully understand the quest

[2020-01-21 17:17] rayluo commented on #1588
On top of what Bogdan's answer, there is one more reason that makes signing-in via native browser on your Identity Provider's portal, intrinsically more secure than typing your password inside a 3rd-party app. In the latter case, a day-1 end user would have no way to make sure whether that new app is a phishing app. In that sense, the entire OAuth2 framework was largely designed to avoid end user

[2020-01-21 17:36] Diego251 commented on #1588
Yes, this is exactly the problem. I need full custom branding (not only a logo). And after checking the options I started wondering why the redirection was required, as user will need to enter the password in MS screen anyway. For info the app will be a mobile app (Angular 8). To get familiar with MSAL, I started by trying to run the sample I linked above but I am getting the "no consent" issue (A

[2020-01-21 18:11] jmprieur commented on #1588
@Diego251 : to summarize it's more secure because the user and Azure AD have a private conversation in the browser about entering credentials, doing multiple-factor authentication and other conditional access, and consenting for access to resources/web APIs.
about your white label need, did you consider Azure AD B2C? See https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-

[2020-01-21 19:16] jennyf19 commented on #1585
@tipa @Daniel-NP issue has been fixed and merged into master. we are working on getting a release out. thanks for reporting this.

[2020-01-21 19:21] bgavrilMS commented on #1586
This looks like it's tied to the serialization work we've done. We've moved away from [DataContract] to Newtonsoft, and this seems to affect the serializer.

[2020-01-21 23:44] drewid commented on #669
in essence a call from a daemon type system - in this case calling from Azure Functions.  Works with login.microsoftonline.com but not tenantname.b2clogin.com.  It should be interchangeable but isn't.  login.microsoftonline.com is going away.

[2020-01-21 23:48] jmprieur commented on #669
@drewid : Azure AD B2C does not support daemon apps.
cc: @jennyf19

[2020-01-21 23:51] drewid commented on #669
@jmprieur - that's not true - AD B2C absolutely supports Confidential Client applications.  My issue is being able to use the url format with MSAL

[2020-01-22 00:00] jmprieur commented on #669
IT does support confidential client applications: Web apps and Web APIS
but not daemon applications.

[2020-01-22 00:36] drewid commented on #669
I have a whole lot of additional processing and the need to query and interact with AD B2C that I can do with ADAL but can't with MSAL using b2clogin.com (but can with login.microsoftonline.com).

What am I missing?  Azure functions should work just fine.  How would that actually be different from web apis?

Either way you run with a 1) application id and 2) application secret.   Confidential appl

[2020-01-22 00:48] jmprieur commented on #669
@drewid : when you write that you can do with login.microsoftonline.com, do you mean that you can get a token for the daemon app (`AcquireTokenForClient`) when using Azure AD. What authority did you use?
Then I also understand that when you try with a B2C authority this does not work.

Can you please share code and repro steps so that we help you?
(or raise a different issue, as this one is defini

[2020-01-22 01:01] drewid commented on #669
.WithB2CAuthority requires user policy so doesn't apply with ConfidentialClient

**Instead the following is being used:**
.WithAuthority(new Uri(String.Format(CultureInfo.InvariantCulture, _azureSettings.AADAuthority, _azureSettings.ADB2CTenantId)))

**login.microsoftonline.com** works for the authorityUri but **tenantname.b2clogin.com** does not.

[2020-01-22 01:11] jmprieur commented on #669
@drewid there is a confusion here. Confidential clients does not mean [client credentials](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#client-credentials), which is the flow used by daemon apps. WithB2CAuthority does apply to Web apps and Web APIs that process users (and they are confidential client). It does not apply to client credentials because cli

[2020-01-22 02:40] drewid commented on #669
would be great - as I need to have AD B2C working now with user interaction.  I believe there is a whole page outlining how that works.  AD B2C "needs" for it to be able to be interacted not by users for it to be useful.  Anything at scale needs system to system interactivity and the ability to connect with the underlying AD.

[2020-01-22 02:41] jennyf19 commented on #669
@drewid can you send us an email and we'll set something up with you? jeferrie@microsoft.com & jean-marc.prieur@microsoft.com

[2020-01-22 09:47] Diego251 commented on #1588
Thank you all for the feedback and @jmprieur for the links. I was sure it was not possible to have custom branding, will take a deeper look at that.

[2020-01-22 09:47] #1588 closed

[2020-01-23 07:45] sujayvsarma opened #1592 "[Issue] - NuGet Package - Errors caused by 4.8.0 package unlisting"
Sometime ago, the team published a `4.8.0` version of the Microsoft.Identity.Client package on NuGet. But the package was unlisted a couple of days ago. However, tools like Visual Studio and `build  restore` find this package and produce an `NU1605` hard-fail error while performing a restore packages & build step.  This is causing quite some consternation.

![Screenshot](https://user-images.github

[2020-01-23 09:48] harmjonker opened #1593 "Logout on device"
I have been looking at a proper way to implement a signout feature, meaning, remove all tokens for a given account from a device.
From browsing the internet I conclude this is problematic because of the session token the system webview caches in a cookie. It is prossible to remove all tokens from the cache but because of the session token cookie new tokens will be issued without new login.
Does MS

[2020-01-23 09:50] harmjonker commented on #1593
Additionally:  In my use cases we have Xamarin built apps on Android devices that consume api's in Azure.

[2020-01-23 11:40] bgavrilMS commented on #1593
Hi @harmjonker - you have a bit of control over how the browser behaves. The [OAuth2 spec](https://tools.ietf.org/id/draft-hunt-oauth-v2-user-a4c-01.html#Authentication_Request) specifies the concept of prompt for this purpose and MSAL exposes this.

[code]

This ensures that the user gets prompted for a password even if there is a browser session that could authenticate him / her. Will this work?

[2020-01-23 11:44] bgavrilMS commented on #1592
Ack @sujayvsarma, I did not realize this implication. We are actively testing 4.8.1 now.

[2020-01-23 11:56] bgavrilMS commented on #1592
I just tested with a netcore (SDK 3.1) project in Visual Studio 16.5, with `msbuild /t:restore` and with `dotnet restore` and I did not get any warnings. What env did you use ?

We would not be able to publish 4.7.1 as 4.8.1 because in 4.8 we have added new public APIs which would be removed by the "fake" 4.8.1, thus constituting a breaking change.

[2020-01-23 12:45] sujayvsarma commented on #1592
Am not the one that configured it, but the build set up is supposed to auto update minor versions if available (that is, 4.7 -> 4.8 will cause an update+restore, but 4.7->5.0 will not do anything). That is what essentially broke the build at our end.

I believe the team has now taken a temporary hard dependency on 4.7.1 until this is resolved.

PS: Curious why the version was unlisted ? I took a p

[2020-01-23 12:50] sujayvsarma commented on #1592
My Visual Studio [2019 Community Edition, 16.5 Preview 2.0] did find the unlisted 4.8 when I tried to update some *other* packages. but when I just updated the csproj with the 4.8 and hit CTRL+S, it restored 4.8 just fine, and I was able to update other packages after that.

Basically:
- Add N-1 versions of other packages to a project
- now add the 4.7.1 Microsoft.Identity.Client package
- In VS,

[2020-01-23 12:56] sujayvsarma commented on #1592
Tagging @mavasani as it could be an issue in the VS "Manage NuGet Packages for Solution" window.

[2020-01-23 13:13] bgavrilMS commented on #1592
@sujayvsarma - the reason we unlisted 4.8.0 is a bug when MSAL is used from Xamarin.Android - this is described - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1585

Otherwise, we're pretty confident that MSAL outside of iOS and Android is fine...

[2020-01-23 15:34] JohnLivermore opened #1594 "[Bug] MSAL confirmation dialog in Xamarin iOS"
We are using the Microsoft MSAL library to authenticate our users.  When a user needs to login, they are shown this dialog each time.  Is there a way to disable this prompt so the login experience is more seamless?

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/9BNA0.png

[2020-01-23 15:39] karann-msft commented on #1592
Speaking on behalf of the nuget team, unlisting a package has no impact on any project that already references it. Unlisting does not prevent restoring the package. It is purely a search and discovery concept.

[2020-01-23 15:57] sujayvsarma commented on #1592
@karann-msft - this issue has nothing to do with Nuget.

[2020-01-23 16:00] sujayvsarma commented on #1592
This is an issue with the VS [or the ecosystem that performs the package discovery, restore/update] and not with core Nuget or with this ADAL library. I will refile the issue in appropriate repos / ticket centers after I determine which one is the most appropriate. Towards that end, I am already in conversation with folks I consider relevant to continuing this discussion.

Therefore, I respectfull

[2020-01-23 16:00] #1592 closed

[2020-01-23 16:38] jennyf19 commented on #1594
@JohnLivermore This pops up anytime the app uses SFAuthenticationSession or ASWebAuthenticationSession, we cannot change what is displayed there, as that is the point of the pop up. From Apple's developer site: " users are prompted by a dialog to give explicit consent, allowing the application to access the website’s data in Safari. When the webpage is presented, it runs in a separate process, so

[2020-01-23 16:38] #1594 closed

[2020-01-23 17:08] JohnLivermore opened #1595 "[Documentation] Update code in wiki which refers to UIParent"
### Documentation Related To Component:
WIKI located here...

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue
In the wiki it states...

![image](http

[2020-01-23 17:53] jennyf19 commented on #1595
@JohnLivermore this is outdated...thanks for bringing it to our attention

[2020-01-23 18:10] JohnLivermore commented on #1595
I was wondering if using an embedded/system browser might make a difference in that iOS prompt that displays.  Can you provide guidance on how to use the system browser or embedded window?  Or if you are certain that won't solve this 'prompt' issue (you answered my question earlier today), then just let me know!

[2020-01-23 18:40] jennyf19 commented on #1595
@JohnLivermore you'll only see the prompt with the system browser, which is on by default in MSAL.NET.

Here's what you'll need for the [parent window](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#withparentactivityorwindow)

and how to enable [embedded webview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki

[2020-01-23 18:50] ps-rpopola commented on #1595
Just and FYI, if you're using Apple Sign In, you'll need to use the embedded browser as for some reason the system browser hangs and doesn't actually load the b2c web site.

[2020-01-23 18:50] ps-rpopola commented on #1595
Just and FYI, if you're using Apple Sign In, you'll need to use the embedded browser as for some reason the system browser hangs and doesn't actually load the b2c web site.

[2020-01-23 18:52] jennyf19 commented on #1595
@ps-rpopola yes, thanks...have updated my response above.

[2020-01-23 18:58] JohnLivermore commented on #1595
thanks for the clarification

[2020-01-23 19:31] jennyf19 commented on #1595
@JohnLivermore [documentation updated](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#developer-options). thanks again.

[2020-01-23 19:31] #1595 closed

[2020-01-25 00:36] trwalke commented on #1586
Hi @tipa we are going to send you a preview package to test soon. What is a good email address that we can send it to?

[2020-01-25 00:51] tipa commented on #1586
partl_at_outlook.com

[2020-01-28 13:51] bgavrilMS commented on #1586
We've realeased a 4.8.1-preview https://www.nuget.org/packages/Microsoft.Identity.Client/4.8.1-preview1 that fixes the crashing bug found on 4.8.0 and improves linking.

During our testing with Linker Options set to Link ALL, we're hitting a Null Ref exception in App Center, with no possibility of figuring out the stack trace. So there may be a bug in there still and would be great if someone can

[2020-01-28 15:53] bgavrilMS opened #1598 "iOS device with no broker installed and .WithBroker(true) results in null ref"
**Version**: 4.8.1-preview1

**Repro**
On Iphone simulator

1. Configure PCA + WithBroker(true) but no broker installed on device
2. AcquireTokenInteractive

Actual:

Stack trace:

System.NullReferenceException: Object reference not set to an instance of an object
  at Microsoft.Identity.Client.Internal.Broker.BrokerInteractiveRequest.SendTokenRequestToBrokerAsync () [0x000cd] in <d009108838894458

[2020-01-28 15:54] #1583 closed

[2020-01-28 15:54] bgavrilMS commented on #1598
NullRef -> P1

[2020-01-28 17:48] tipa commented on #1586
Can you perhaps give some more information about in what scenario you tested the 4.8.1-preview? Did the token refresh continue to work? I am currently on the fence testing that preview version in my app with a lot of users relying on the OneDrive connection to work reliably

[2020-01-28 17:59] bgavrilMS commented on #1586
We tested this manually around acquiring tokens interactive and silent, with a variety of web UIs (embedded browser, system browser, broker). We have automation for scenarios around token refresh, so I'd expect those to work. Today, our automation on Android and iOS cannot run system browsers and brokers (AppCenter limitations), but most scenarios are common between mobile and desktop and we test

[2020-01-28 19:47] tipa commented on #1586
I just tested briefly with v4.8.1-preview + Linker set to Full but I still encountered the same problem on both Android & iOS:
[code]

@bgavrilMS I would rather get this resolved sooner than later, afaik Android broker requires the MS Authenticator app to be installed and I would expect this applies only to a small percentage of my users

[2020-01-28 21:10] bgavrilMS commented on #1586
@tipa  - I assume that you are using Link All option?

[2020-01-28 21:15] tipa commented on #1586
Yes

[2020-01-29 10:17] bgavrilMS commented on #1586
Ok, able to repro the issue and found a fix. Will be releasing 4.8.1 soon.

[2020-01-29 11:19] tranb3r opened #1600 "Please update Xamarin.Android.Support.* dependencies to 28.0.0.3 on MSAL and sample"
**Which Version of MSAL are you using ?**

Microsoft.Identity.Client 4.8.1-preview1

**Platform**

Xamarin.Forms (android app)

**Repro**

Build for android a xamarin.forms app that uses both xamarin.essentials and microsoft.identity.client (most recent versions).
This results in a nuget version conflict caused by obsolete versions in microsoft.identity.client dependencies:

[code]
**Possible Solu

[2020-01-29 11:23] bgavrilMS commented on #1600
We will take a look, but NuGet suggests an easy solution for this - take a dependnecy on Xamarin.Android.Support.Collections 28.0.0.3 directly from your app and this will be used to resolve the conflict.

[2020-01-29 11:32] tranb3r commented on #1600
My app is using androidx, so it's kind of weird to add new dependencies to android support libs when I'm actually supposed to remove them.

[2020-01-29 12:55] bgavrilMS commented on #1600
@jmprieur @henrik-me - I propose to take this one in 4.9 to be in sync with Xamarin.Essentials. Accordding to the SemVer spec, this is (arguably) not a breaking change:

https://semver.org/#what-should-i-do-if-i-update-my-own-dependencies-without-changing-the-public-api

[2020-01-29 13:22] #1585 closed

[2020-01-29 17:22] trwalke opened #1602 "Update docs.ms and MSAL Xamarin sample to support Android broker"
The MSAL.NET Xamarin sample needs to be updated to support the andrdoid broker in the sample project. The documentation also needs to be updated to reflect the new changes in thew sample code and provide details on how users can properly configure MSAL.NET to authenticate with the android broker.

Sample (https://github.com/azure-samples/active-directory-xamarin-native-v2)

[2020-01-29 22:54] jmprieur commented on #1600
I'm not oppposed  @bgavrilMS
can we update the Xamarin sample at the same time (if needed) to undersstand what the customer pain will be?

[2020-01-30 04:27] mirogrg1 commented on #1420
I'm getting the same exception as well: _Microsoft.Identity.Client.MsalServiceException: AADB2C90289: We encountered an error connecting to the identity provider. Please try again later._

I am not using custom policies though and verified that I'm using a signed JWT.

[2020-01-30 04:32] jennyf19 commented on #1420
@mirogrg1 Thanks...Are you getting this error when authenticating using the passcode option? Can you provide a correlation id with a failed request?

[2020-01-30 10:58] bgavrilMS commented on #1600
Tentatively assigned to 4.9 then, since we have a bunch of work on Android as well.

[2020-01-30 11:13] tipa commented on #1586
I am still getting exceptions with 4.8.1
`await graphClient.Drive.Special.AppRoot.ItemWithPath(FileName).Request().UpdateAsync(new DriveItem { FileSystemInfo = new Microsoft.Graph.FileSystemInfo { LastModifiedDateTime = Settings.LastConfigChange } });`
[code]

[2020-01-30 11:17] tipa commented on #1586
I am still getting this exception with 4.8.1

`Java.Lang.RuntimeException: 'Unable to instantiate activity ComponentInfo{partl.workinghours/microsoft.identity.client.BrowserTabActivity}: java.lang.ClassNotFoundException: Didn't find class "microsoft.identity.client.BrowserTabActivity" on path: DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar", zip file "/data/app/partl.work

[2020-01-30 11:28] bgavrilMS commented on #1586
@tipa - I don't really know what else to do to please the linker, this class was decorated with the [Preserve] attribute, meant to give a hint to the linker to not delete this.

I will follow up with Xamarin folks. May I recommend that you don't link MSAL - I don't think there's that much to gain anyway, but happy to be proven wrong.

[2020-01-30 11:31] tipa commented on #1586
My bad, somehow the project decided to downgrade MSAl to 4.7.1 again, sorry for the false alarm!

[2020-01-30 11:31] #1586 closed

[2020-01-30 11:32] bgavrilMS commented on #1586
Ah ok, no worries, glad this works :)

[2020-01-30 15:23] mirogrg1 commented on #1420
I get the error when authenticating with user id and password. Latest correlation id is 533c15ad-0cda-4572-9f88-e34db8caa4a2

[2020-01-30 17:03] #1548 closed

[2020-01-30 17:04] #1555 closed

[2020-01-30 17:04] #1488 closed

[2020-01-30 17:05] bgavrilMS commented on #1487
This now works via the extension library: https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet

[2020-01-30 17:05] #1487 closed

[2020-01-30 17:05] bgavrilMS commented on #1468
We've changed the serializer, hopefully this works now.

[2020-01-30 17:05] #1468 closed

[2020-01-30 17:31] bgavrilMS commented on #1530
Fix

[2020-01-30 17:31] #1530 closed

[2020-01-30 17:31] bgavrilMS commented on #1530
Test is running

[2020-01-30 17:45] henrik-me opened #1603 "[Feature Request] Allow configuration of instance metadata end-point"
Today MSAL.NET supports specifying your own instance metadata allowing you to provide the cached metadata.

Additional details [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Msal-Custom-Authority-Aliases#disabling-instance-discovery)

Customers are asking for us to provide a way to configure the instance metadata end-point on top of this. E.g. in certain environ

[2020-01-30 18:11] jennyf19 commented on #1491
update: based on our testing, this is not working with passcode only and system browser

Repro:
Sign-in w/Apple. Use Passcode:
![image](https://user-images.githubusercontent.com/19942418/73477172-971a2200-4348-11ea-8a8d-7105b9334bfe.png)

Enter Passcode:
![image](https://user-images.githubusercontent.com/19942418/73477187-9ed9c680-4348-11ea-882e-30c06cf67d01.png)

Webview hangs:
![image](https://u

[2020-01-30 18:12] jennyf19 commented on #1420
@jkdouglas can you help @mirogrg1 with the IdP issues? thanks so much.

[2020-01-30 18:13] bgavrilMS commented on #1603
This is pretty easy to implement. From a user / dev perspective, authority validation has no meaning since they give us a list of "valid" authorities.

[2020-01-30 18:30] ps-rpopola commented on #1491
I guess passcode / face id would have the same experience.

Thanks for the update

[2020-01-30 18:31] jkdouglas commented on #1420
Hi @mirogrg1 and @mtanml

Could you both reach out to me via email? jodougla@microsoft.com

I would like to review the steps you took to connect to Apple and just make sure that the things are configured properly, and you properly generated the JWT to be used as the client secret.

[2020-01-30 18:57] #1518 closed

[2020-01-30 19:08] #1263 closed

[2020-01-30 19:22] #1003 closed

[2020-01-30 19:22] trwalke commented on #1003
duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/670

[2020-01-30 19:29] #1535 closed

[2020-01-30 19:35] trwalke commented on #778
moving to ADAL repo https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1692

[2020-01-30 19:35] #778 closed

[2020-01-30 19:41] trwalke commented on #1535
This issue is no longer appearing in the tests

[2020-01-30 21:34] jennyf19 commented on #1561
@westleyMS are you still having issues with this?

[2020-01-30 21:35] jennyf19 commented on #1471
in 4.8.1 release

[2020-01-30 21:35] #1471 closed

[2020-01-30 21:35] jennyf19 commented on #1532
released in 4.8.1

[2020-01-30 21:35] #1532 closed

[2020-01-30 21:35] jennyf19 commented on #1552
released in 4.8.1

[2020-01-30 21:35] #1552 closed

[2020-01-30 21:36] jennyf19 commented on #1576
fixed in 4.8.1

[2020-01-30 21:36] #1576 closed

[2020-01-31 08:42] wziska opened #1606 "[Bug] Wrong Authority created in CreateAuthorityForRequest method call"
**Which Version of MSAL are you using ?**
MSAL 4.7.1

**Platform**
net45, xamarin android, xamarin iOS

**What authentication flow has the issue?**
Any

**Is this a new or existing app?**
The app is in production, I haven't upgraded MSAL, but started seeing this issue

**Repro**

[code]

**Expected behavior**
As I added WithB2CAuthority I expect that in Authority.CreateAuthorityForRequest method n

[2020-01-31 09:19] WilliamWatterson86 opened #1607 "[Bug] Users reporting they keep having to log in"
**Which Version of MSAL are you using ?** 4.7.1

**Platform**
xamarin android, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive

**Is this a new or existing app?**
The app is in production, and I have upgraded to a new version of MSAL

**Expected behavior**
Users should only have to log in once.

**Actual behavior**
User are reporting they have to s

[2020-01-31 10:23] bgavrilMS commented on #1607
You are right - a Refresh Token is issued with the "offline_profile" scope, which MSAL always adds. It has a lifetime of 90 days and a rolling window mechanism. So as long as your users access the app at least once in those 90 days, they should not have to re-login.

However, please note that any changes such as the ones below will also force re-login:

- user resets password or password expires
-

[2020-01-31 11:54] bgavrilMS commented on #1587
@crmann1 - I can't seem to be able to repro this. Do you have a machine where this repros?

[2020-01-31 15:29] bgavrilMS commented on #1545
I investigated this based on the specs and impl of MSAL for Android. To support just client capabilities we would need to:

### Support for Client Capabilities

- [ ] Public API at application level `.WithClientCapabilities("cp1, cp2")`
- [ ] Logic to transform claims string to JSON
- [ ] Logic to merge client capabilities with other claims / .WithClaims
- [ ] Logic to bypass token cache in Acquir

[2020-01-31 15:35] bgavrilMS commented on #1545
~1 week of work.

[2020-01-31 15:53] jrmcdona commented on #1213
You cannot set HTTP redirects in Azure AD registrations.   It has to be HTTPS

[2020-01-31 19:52] ossentoo opened #1609 "[Bug] Using AAD B2C in aspnetcore 3.0 behind Azure FrontDoor results in login exception (no correlation cookies in response)"
**Which Version of MSAL are you using ?**

MSAL 4.3.0

**Platform**
netcore 3.0

**What authentication flow has the issue?**
* Web App
    * [x] Authorization code

Other? - please describe;

**Is this a new or existing app?**
c. This is a new app or experiment
App is in development testing, but not yet prod

**Repro**
[code]

/// csharp
[code]

**Expected behavior**
I've got an aspnetcore 3.0 web

[2020-01-31 23:09] jmprieur commented on #1543
On hold waiting for the test environment to be ready in the Lab

[2020-02-01 00:34] jennyf19 commented on #1562
@yonathanseleshi closing, but please reopen if the issue persists.

[2020-02-01 00:34] #1562 closed

[2020-02-01 02:17] jennyf19 commented on #1093
fixed.

[2020-02-01 02:17] #1093 closed

[2020-02-01 02:19] jennyf19 commented on #1598
Adding the fixed label, but this will not be merged to master until some more refactoring is done + testing w/Android broker. Will be included in 4.9 release though.

cc: @jmprieur @bgavrilMS @trwalke

[2020-02-01 02:27] jennyf19 commented on #1609
@ossentoo did you disable authentication in EasyAuth?

cc: @jmprieur

[2020-02-01 09:09] ossentoo commented on #1609
Hi @jennyf19 no, i don't think I've disabled it.  Can you explain a little about how this would work, or point me to some documentation?  I haven't heard of that option.

thanks

[2020-02-02 16:56] dsancho commented on #1508
I have exactly the same problem. Launched from the application drawer the application works fine but launched from a link the OnActivityResult it isn't called.

[2020-02-03 21:08] jennyf19 commented on #1609
@ossentoo In the auzre portal, under app services, you will need to make sure App Service Authentication is turned off:
![image](https://user-images.githubusercontent.com/19942418/73690889-29daf980-4686-11ea-8709-b5324996cdd8.png)

[2020-02-03 21:35] jmprieur commented on #1603
Suggesting to

**Example usage:**
[code]

as `.WithInstanceDicoveryMetadata(intanceDiscoveryUri) ` would assign validate authority to false.

[2020-02-03 22:02] jennyf19 commented on #1607
@WilliamWatterson86 This is with B2C, correct? the RT lifetime is based on policy, so maybe double check it's the right token w/the right policy that is or is not expiring on time.
Example for our su_si policy in the azure portal:
![image](https://user-images.githubusercontent.com/19942418/73694731-87bf0f80-468d-11ea-879e-6c2bebc6385c.png)

Otherwise, can you share your b2c tenant (i think you hav

[2020-02-04 06:43] henrik-me commented on #1603
I believe you are voting for defaulting to "no" authority validation (as it's what is passed in anyway). Seems like we have 3 votes on this setting validate authority to false!

(Aside: we should change that to knownauthorities instead of having the bool for validateAuthority.)

[2020-02-04 12:59] WilliamWatterson86 commented on #1607
Hi @jennyf19, yep this is B2C.

We have our policies set up using Identity Experience Framework, so the XML in the original posting is how we configure the token.

Thinking about it, it might be that we moved from policies to Identity Experience Framework in the last 2 months - so the token that was valid for the user previously would have been one from custom policies, and when they installed the

[2020-02-04 12:59] #1607 closed

[2020-02-04 15:53] jmprieur commented on #1603
I agree with @henrik-me that we should change the boolean to knownAuthority. It's a breaking change though (as customers could write validateAuthority: true). I think we can leave with it.

[2020-02-04 16:03] freever commented on #1271
@Matthewsre Did you ever find a way of making this work? I'm in the same boat.

[2020-02-04 16:16] ossentoo commented on #1609
Hi @jennyf19 I've confirmed that Authentication/Authorization is off already.

[2020-02-04 16:53] henrik-me commented on #1271
We are currently discussing with the Blazor team on how we should best integrate. At the moment we are exploring msal.js . @DarylThayil

[2020-02-04 18:18] jennyf19 commented on #1609
@jmprieur thoughts on this?

[2020-02-04 22:22] mikeliddle opened #1612 "Providing Nonce"
We're working on a project using AAD App Authentication and OpenIDConnect access tokens, and are wanting to enforce nonce to prevent replay attacks on tokens. We noticed that the identity docs support nonce, but don't see an exposed way to add nonce to the authorization request.

[2020-02-06 17:08] bgavrilMS commented on #1545
Further clarifications from Shane

1.	Please confirm that we should be sending claims to the /token endpoint (as forms param) as well as to the /authorize endpoint
2.	[shane] Confirmed.  This isn't per the OIDC spec.  I would classify as an OIDC extenson that Microsoft Identity Platform is using to allow resource challenges that can be resolved without interaction to be resolved.  The feature that

[2020-02-06 18:38] jmprieur commented on #1544
Discussing the possibility of having an opt-in flag and leave the migration aspect in 4.?
Or let developer specify their own persistence (if they have super stick security requirements).

[2020-02-06 18:48] jmprieur commented on #1498
Many exceptions can indicate a timeout.
No recent support cases on this
Now we pass all headers and body.

Let's park until more concrete spec

[2020-02-06 18:50] jmprieur commented on #1587
@crmann1 : closing for now. Feel free to reopen if you have a repro

[2020-02-06 18:50] #1587 closed

[2020-02-06 18:52] jmprieur commented on #1566
Closing as dupe of #715

[2020-02-06 18:52] #1566 closed

[2020-02-06 18:52] #1504 closed

[2020-02-06 18:55] jmprieur commented on #907
Will do after supporting .NET Core 3.0 in embedded web view

[2020-02-06 18:57] jmprieur commented on #1612
MSAL.NET uses a state that acts as a nonce. Do you need more, @mikeliddle ?

[2020-02-06 19:04] mikeliddle commented on #1612
State and nonce are very different.

See this article: https://stackoverflow.com/questions/46844285/difference-between-oauth-2-0-state-and-openid-nonce-parameter-why-state-cou

Basically State protects the end user from CSRF attacks, but Nonce is used to bind a token with a client, which helps to prevent token replay attacks. Likewise, the implicit and hybrid flows for OIDC mandate a nonce value,

[2020-02-06 20:02] jmprieur commented on #1612
Thanks @mikeliddle
My suggestion would be to use the [WithExtraQueryParameters](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.abstractacquiretokenparameterbuilder-1.withextraqueryparameters?view=azure-dotnet#Microsoft_Identity_Client_AbstractAcquireTokenParameterBuilder_1_WithExtraQueryParameters_System_String_) API

Something like
[code]

[2020-02-06 20:03] trwalke opened #1614 "[Feature Request] Add app link support to MSAL broker on Xamarin Android"
When the android broker is not installed on the device and MSAL tries to do an interactive sign in with an account with conditional access policies applied, MSAL should be able to parse the App link response from AAD and navigate to the broker application in the Android appstore.

[2020-02-06 21:07] mikeliddle commented on #1612
We tried that during the application builder stage, but when we inspected the ID token, it does not contain the nonce. Does it make a difference if you add the query param to the application object or the Acquire call?

[2020-02-06 21:30] jmprieur commented on #1612
@mikeliddle : yes. Extra query parameters are really an extensibility point. As you mentioned, in the protocol docs, the nonce is sent when acquiring the token.

[2020-02-06 22:06] trwalke opened #1615 "Migrate test infrastructure to the new Lab endpoint"
The lab has created a new endpoint for acquiring test secrets for user accounts and test applications. We will need to update the test infrastructure to point to the new endpoint.

Here is the current endpoint:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/4a58082faec3874783abb2e0b12c2834e142d422/tests/Microsoft.Identity.Test.LabInfrastructure/LabApiConstants.cs#L41

[2020-02-06 22:44] adospace commented on #1233
@Simba-Mupfunya Could you please clarify how to solve the issue without reinstall the OS? I'm facing the exactly same issue described here, thx

[2020-02-06 23:42] Alan-Jowett commented on #1612
Something doesn't match here. Trying this in the browser, I hit this endpoint (line breaks for readability):
https://login.windows-ppe.net/426c7629-1a11-43c9-af1f-cbbdd3af6ce1/oauth2/authorize?
client_id=769cc236-2a91-415c-9e7e-7fa795fd4827
&response_type=id_token
&response_mode=fragment
&scope=openid
**&nonce=MyRandomNonce**

After logging in, it redirects me to:
https://localhost/#
id_token=eyJ0

[2020-02-07 00:21] jmprieur commented on #1612
@henrik-me @bgavrilMS @jennyf19 @trwalke
is WithExtraQueryParameters only applied to the /token endpoint?

[2020-02-07 02:40] Alan-Jowett commented on #1612
Hmm, this seems to be only an issue with the DeviceCode flow...

Console.WriteLine(result.IdToken);

Results in this token:
eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ik9vTjZScnpSdldaSUFZTDhiNHNFd2lRdkY4cyJ9.eyJhdWQiOiI3NjljYzIzNi0yYTkxLTQxNWMtOWU3ZS03ZmE3OTVmZDQ4MjciLCJpc3MiOiJodHRwczovL2xvZ2luLndpbmRvd3MtcHBlLm5ldC80MjZjNzYyOS0xYTExLTQzYzktYWYxZi1jYmJkZDNhZjZjZTEvdjIuMCIsImlhdCI6MTU4MTA0Mjc2OCw

[2020-02-07 05:57] henrik-me commented on #1612
We can and should validate the nonce.

Aside: Python does this:
https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/933f94dd3cf352fde13f753d1bcb46060756097a/msal/oauth2cli/oidc.py#L58

@rayluo @SomkaPe : thoughts?

@jmprieur  Extra query parameters are send both to the authorize end-point and the token endpoint afair.

[2020-02-07 07:12] mfeingol opened #1617 "[Bug] MSAL NuGet package needs an rd.xml to work correctly in UWP apps"
**Which Version of MSAL are you using ?**
MSAL 4.8.1

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
a. The app is in production, and I have upgraded to a new version of MSAL

**Repro**
Create a UWP app project in VS 2019. Add auth to it, as per https://docs.microsoft.com/en-us/azure/active-directory/develo

[2020-02-07 09:44] Simba-Mupfunya commented on #1233
@adospace First I downloaded the package via nuget "microsoft.identity.client 4.7.1" and then I manually added the reference to Microsoft.Identity.Client.dll located in the nuget package folder to my projects (i.e Shared + Targets) and that did the trick for me. As to why this worked, im not quite sure as technically any nuget reference package should automatically be copied to your obj/bin folder

[2020-02-07 10:12] bgavrilMS commented on #1617
Please use MSAL 4.7, it had that file. Will add it back, I think we removed it because we forgot what it was doing.

[2020-02-07 16:31] bgavrilMS commented on #1617
I might have spoken too soon - the file is there and is listed as an embedded resource. https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/01d34c15191dd058b6f4f586478241bb3b9443d1/src/client/Directory.Build.props#L119

[2020-02-07 17:05] bgavrilMS commented on #1617
Ok, I think I understand this better now. We've done some work to move away from DataContract serializer to Newtonsoft.Json serializer. This must have done smth to the .net native feature.

[2020-02-07 19:08] Alan-Jowett commented on #1612
@henrik-me I am not sure what you mean by having MSAL validate the nonce? Our tentative plan calls for having the client generate a nonce as a SHA256 of the TLS master key (https://tools.ietf.org/html/rfc5246#section-8.1) which is a somewhat stable secret that remains the same across TLS reconnects, but is not spoof-able by a MITM.

Flow would be something like this:
1. Client connects to server o

[2020-02-07 19:15] henrik-me commented on #1612
Ack. We should allow you to specify the nonce and do nonce validation.

[2020-02-07 19:37] Alan-Jowett commented on #1612
Thanks for the link, I appreciate it. POP tokens are are great for providing application layer security outside of the TLS channel (it appears as if they can protect an HTTP request rather than just the TLS channel).

POP tokens would be prohibitively expensive when used to protect web-sockets or similar streaming protocols as each segment would need to be signed.

Our goal here is closer to tradi

[2020-02-07 20:10] rayluo commented on #1612
* Unlike an access token which will always be sent to a server and then be validated there, an Id Token is usually consumed immediately by the client that requested it (in order to render a UI etc.). In that sense, when/if MSAL (which runs on client-side) already helps to obtain an Id Token, MSAL can and likely should provide support for validating the nonce. @Alan-Jowett your [step 6, 7 & 8 in th

[2020-02-10 10:20] harmjonker opened #1619 "Minimum Android version"
What will be the minimum Android  version required for MSAL.net when broker support is released ?

[2020-02-10 14:00] bgavrilMS opened #1620 "[Enhancement] iOS broker logic should verify redirect URI and provide good error message"
**Which Version of MSAL are you using ?**
4.7.1

**Platform**
xamarin.ios

**What authentication flow has the issue?**
interactive  + broker

**Repro**
According to the MSAL.ObjC [docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/redirect-uris-ios):

`MSAL will verify if your redirect URI registers correctly, and return an error if it's not.`

**Actual**: MSAL.NET does not perf

[2020-02-10 15:42] bgavrilMS commented on #1619
I am not aware of a minimum version requirement. MSAL communicates with the broker and with AccountManager, both of which are pretty standard and old. @trwalke - are you aware of a version limitation?

[2020-02-10 19:05] Bloodyairtimer commented on #1508
Did some more investigation by overriding the BrowserTabActivity. But didn't find a solution yet. One difference I noticed from the 'default' flow, versus the 'Share' flow is that the OnResume method in the BrowserTabActivity is called twice. Parameters in the Intent are exactly the same.

[2020-02-10 21:27] steffos opened #1621 "[Bug] Unable to run AcquireTokenInteractive on iOS versions < 13 since version 4.8.1"
**Which Version of MSAL are you using ?**
MSAL 4.8.1

**Platform**
Xamarin.Forms (iOS)

**What authentication flow has the issue?**
Mobile Interactive

**Repro**
Run 4.8.1 with AcquireTokenInteractive on iOS 10 and it will crash (4.7.1 will work).

**Expected behavior**
Login view should appear.

**Actual behavior**
App crashes with the following message:
Foundation.MonoTouchException
  Message=Ob

[2020-02-11 15:08] pjevans commented on #1609
We're having the exact same issue. Googling came across this post...

[2020-02-11 15:36] jennyf19 commented on #1609
@ossentoo @pjevans Do you have a repro you can share?

[2020-02-11 15:41] pjevans commented on #1609
I don't, we were trying to deploy front door in front of our core 3.1 app that uses AzureADB2C auth with the supported NuGet package.  Works fantastic until put behind front door, then it just simply doesn't work at all.  I get the same correlation error mentioned above, I looked around and couldn't find anything available to remedy, so we abandoned Front Door.

[2020-02-11 17:12] bgavrilMS opened #1622 "[Bug] Android Broker fails when redirect uri contains /"
**Which Version of MSAL are you using ?**
4.9.0-preview (not yet released)

**Platform**
android

**Impact**: about 40% of developers would encounter this (there are 64 chars in base64, one of which is /, and about 28 chars in that signature. So there's a 28/64 = ~0.4 chance of this occurring).

**Repro**

1. Configure Android broker
2. When calculating the apk signature, ensure it contains a / ch

[2020-02-11 17:36] ossentoo commented on #1609
@jennyf19 I can try and craft a repo that demos the problem. Will take me a little to do it.

[2020-02-11 17:41] jennyf19 commented on #1609
@ossentoo that would be super helpful. thank you

[2020-02-12 01:21] henrik-me opened #1624 "[Feature Request] Client throttling is supported in Public Client Application"
**Overview**
- Blocking request after receiving 429, 5xx HTTP status.
- Respecting Retry-After header on any HTTP response.
- Cache for responses of interaction required messages.

**Important**
It is expectation that the calling application behavior should not change by this features, as well as it is not expected the increase of number of prompts.

**Note:**
This effort is related to Public Clie

[2020-02-12 04:15] henrik-me commented on #1621
@steffos : Are you saying any interactive request is failing? Can you pls. provide repro steps?

[2020-02-12 04:18] jennyf19 commented on #1622
[PR](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1625)

[2020-02-12 11:51] carlssonstefan commented on #1621
What I missed mentioning in description above is that this is related to the embedded web view option.

Retro steps:

- Download the Xamarin.Forms demo project - https://github.com/azure-samples/active-directory-xamarin-native-v2
- Change the call to AcquireTokenInteractive  (line 38 in MainPage.xaml.cs) to include: .WithUseEmbeddedWebView(true)
- Run project on iOS device with OS version < 13 (10

[2020-02-12 12:46] ossentoo commented on #1609
@jennyf19 I've just added you to a private fork of this repo: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

I have amended it to point to an existing deployment of an app service that is deployed behind a front door. Can you point me towards a private channel so we can discuss further?  Although the deployed app service is behind a frontdoor, the configure is currently se

[2020-02-12 14:58] steffos commented on #1621
What I missed mentioning in description above is that this is related to the embedded web view option.

Retro steps:

    Download the Xamarin.Forms demo project - https://github.com/azure-samples/active-directory-xamarin-native-v2
    Change the call to AcquireTokenInteractive (line 38 in MainPage.xaml.cs) to include: .WithUseEmbeddedWebView(true)
    Run project on iOS device with OS version < 1

[2020-02-12 15:11] plemm98 opened #1626 "True or False : Is it normal that the "MsalAppBuilder.BuildConfidentialClientApplication()" and "AcquireTokenSilent" execution time is always around 300 to 400 miliseconds even after caching it?"
According to the documentation, once the AcquireTokenSilent complete successfully, it should start using the cache to increase the performance. But, even if i'm using the cache, I don't see this performance improvement.

The documentation also specifiy the AcquireTokenSilent is now less network chatty. But, i don't see any improvement after the token is cache also. Any ideas why?

**Which Version

[2020-02-12 15:47] jennyf19 commented on #1609
@ossentoo thanks so much. you can email me at jeferrie@microsoft.com and include @jmprieur jmprieur@microsoft.com as well? Thank you!

[2020-02-12 16:25] jmprieur commented on #1626
@jennyf19 : we really need to push the B2C part of the incremental web app tutorial.

[2020-02-12 17:09] jmprieur commented on #1626
@plemm98: in a B2C app, there are accounts by policies. you need to select the right account.
Given you don't use the Web API, we recommend you look at this other sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C which should be more performant.

[2020-02-12 19:27] mantasaudickas commented on #1234
Maybe I am looking to wrong place.. but if I want to implement a background process which syncs user calendar with our system, how can I handle this without refresh token?
Scenario is simple:
- app generates authorization url where user is redirected and gives consent to read calendar
- after success it returns authorization code, which I use to get access token (and refresh token)
- I want to put

[2020-02-12 19:47] jennyf19 opened #1628 "[Bug] Xamarin iOS Broker -> System.Security.Cryptography.CryptographicException: Bad PKCS7 padding. Invalid length 0"
**Which Version of MSAL are you using ?**
4.7.1

**Platform**

xamarin iOS + Broker

**Expected behavior**
A clear and concise description of what you expected to happen (or code).

**Actual behavior**
In `BrokerKeyHelper`, if the [NSData key is null](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/Platforms/iOS/BrokerKeyHelpe

[2020-02-12 22:54] jt000 opened #1630 "[Documentation] No scopes in access token when using AcquireTokenForClient"
### Documentation Related To Component:
`ConfidentialClientApplicationBuilder AcquireTokenForClient(string[] scopes)`
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-credential-flows

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Descriptio

[2020-02-13 00:33] peombwa opened #1631 "[Bug] Can't consent to admin permissions when authority is set to AzureAdAndPersonalMicrosoftAccount"
**Which Version of MSAL are you using ?**
4.8.1

**Platform**
Windows + PowerShell

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [x] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
The app is in p

[2020-02-13 03:53] jmprieur commented on #1630
you are right @jt000 when you are using the client credentials flow, the token does not contain scopes (which are for user delegated permissions), but contains app `roles`.
See [Protected web API: Verify scopes and app roles](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles) and in particular [Verify app roles in APIs called by

[2020-02-13 04:09] jmprieur commented on #1631
@peombwa
In organizations, there are tenant admins who can allow users or apps to access all the resources of a given type in the tenant (for instance all the AuditLogs). For personal accounts, it would not make sense that an hotmail account have access to the audit logs of all MSA accounts.

You pointed to the fact that there are scopes which don't make sense for consumers (there are also scopes

[2020-02-13 04:15] jmprieur commented on #1234
Does this documentation answer your question @mantasaudickas : https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/High-availability#pro-active-token-renewal ?

[2020-02-13 04:54] mantasaudickas commented on #1234
@jmprieur kind of.. it will mean that background service cannot be shutdown for ever? Load cannot be shared between multiple instances. There cannot be any errors, issues or other problems lasting longer than one hour :)
Yeah.. it answers my question, still answer not really usefull.. :)

[2020-02-13 05:31] henrik-me commented on #1234
@mantasaudickas : what you are describing seems like an obo flow. Also you have the refresh token in the cache.

[2020-02-13 06:06] mantasaudickas commented on #1234
Is that cache stored anywhere? Is it distributed? Its kind of obo flow.. normally people call it authorization code flow :)

[2020-02-13 17:41] jennyf19 commented on #1621
@steffos Fix is in master now.

[2020-02-13 17:58] peombwa commented on #1631
@jmprieur Thanks for the answer! Asking users to specify a tenant ID or domain works for our scenario.

I'll mark this as closed.

[2020-02-13 18:27] plemm98 commented on #1626
@jmprieur : Thank you for the answer. I'm just curious, is there an example in .net framework available as well?

Best regards,

[2020-02-14 03:49] trwalke opened #1635 "[Feature Request] Update mobile test apps to provide a better user experience when debugging"
**Is your feature request related to a problem? Please describe.**
We need to update our mobile test apps to provide a visual indicator of any error so that it is easier for us to diagnose bugs.

**Describe the solution you'd like**
Pop up a dialog box with any exceptions caught and their stack trace.
Update the log page to include exceptions and stack traces as well.

[2020-02-14 09:09] bgavrilMS commented on #1635
You can use

`await DisplayAlert ("Alert", "You have been alerted", "OK");`

to get a popup - would this work? It needs to be on the main thread.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/pop-ups

[2020-02-15 04:25] jmprieur commented on #1626
@plemm98; no, I don't think so. I did not find any.

[2020-02-15 17:44] tranb3r commented on #1600
Now that androidx has been officially released, could you please skip this task and migrate directly to androidx ?

[2020-02-15 19:10] HarlowBurgess commented on #1626
Given that the referenced sample uses the built-in ASP.NET Core middleware for authentication and does not use MSAL, is the answer to this question then "True", it is expected that AcquireTokenSilent can take up to a half a second every time, regardless of any internal MSAL caching? And for those of us using a web API who therefore cannot use the built-in ASP.NET Core middleware, are we stuck with

[2020-02-15 23:09] jennyf19 commented on #1598
Released in [4.8.2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.8.2)

[2020-02-15 23:09] #1598 closed

[2020-02-15 23:09] jennyf19 commented on #1621
@steffos Released in [4.8.2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.8.2)

[2020-02-15 23:09] #1621 closed

[2020-02-15 23:09] jennyf19 commented on #1568
Released in [4.8.2](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.8.2)

[2020-02-15 23:09] #1568 closed

[2020-02-16 03:31] darrelmiller commented on #1631
@jmprieur  With MSAL 4.4, organizational admin users of the Graph PowerShell modules were able to consent to scopes such as  AuditLog.Read.All without explicitly specifying the tenant.   They cannot do that any more since we updated MSAL.NET.  The changes in MSAL 4.5+ are breaking to existing users of MSAL.NET for the device code flow scenario where the apps are using the common authority.  This w

[2020-02-16 13:35] 3xpl01tc0d3r opened #1636 "[Bug] Facing error while trying to use OBO authentication flow for native / console application"
Hi,

I am trying to develop a console application which can send an read messages from Teams on behalf of a User.
Currently it is required to use Username & Password based authentication flow for accessing the Graph API to send and read messages from Teams.
I want to avoid Username password based authentication flow if possible and leverage OBO based authentication flow using ClientSecret.

Below

[2020-02-16 16:55] jmprieur commented on #1636
@3xpl01tc0d3r

[code]

[2020-02-16 16:57] jmprieur commented on #1631
@darrelmiller : are you saying that MSAL 4.4 still work but MSAL 4.5 does not in this scenario?
@bgavrilMS @trwalke @henrik-me

[2020-02-16 16:57] #1630 closed

[2020-02-16 17:59] darrelmiller commented on #1631
Yes.  This code fails before giving a code with MSAL.NET higher than 4.4. and succeeds with 4.4

[code]

[2020-02-16 18:24] 3xpl01tc0d3r commented on #1636
Hi,

When calling `var accounts = await app.GetAccountsAsync();` I get 0 as count value means I am not able to fetch any account info.
Is it possible to get the account details with ClientSecret or it is mandatory to get the token Interactively ? If yes is there a way to avoid interactive login and login with username & password authentication flow.

Below is the code snippet

[code]

I am getting

[2020-02-17 03:55] HarlowBurgess commented on #1626
I found the answer, at least for my case. I was explicitly including openid and offline_access in Scopes. I removed those and AcquireTokenSilent went from 300ms-400ms to <5ms. Yay! Figured it out when I came across this:
[Bug] "offline_access" scope causes token cache misses
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1548

[2020-02-17 09:23] mavusi opened #1637 "User Flow URL incorrect[Bug]"
**Which Version of MSAL are you using ?**
v4.8.2

**Platform**
ASP.NET Core 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
This is a new app

[2020-02-17 09:25] mavusi commented on #1637
I should note that the working/expected behaviour URL format was copied from the "run userflow" screen in Azure AD.

[2020-02-17 10:11] #1637 closed

[2020-02-17 10:12] mavusi commented on #1637
I am closing this issue because it seems to be intermittent and based on something on Azure AD, rather than with this library. Why both my URLs work, is another matter, but it's AD's issue.

[2020-02-17 11:04] bgavrilMS commented on #1626
@HarlowBurgess - thank you for investigating this fully. I fixed that bug by making sure those scopes are not used when searching in the token cache. MSAL 4.8+ should have the fixes.

There are other OIDC reserved scopes that cause similar problems, mainly "email", that require more complex work - see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1547

[2020-02-17 11:04] #1626 closed

[2020-02-18 14:16] bgavrilMS commented on #1298
This has been resolved - Integrated Windows Auth returns the FOCI flag. I've tested the End to End.

[2020-02-18 14:16] #1298 closed

[2020-02-18 14:39] jmprieur commented on #1298
Thanks @bgavrilMS

[2020-02-18 16:28] bgavrilMS opened #1639 "[Bug] WithClaims should bypass token cache"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.8.1

**Platform**
all

**What authentication flow has the issue?**
AquireTokenSilent

**Repro**

[code]

**Expected behavior**
An AT token from the cache MUST not be ret

[2020-02-18 17:10] isaacrlevin opened #1640 "[Bug] Token not being passed to GraphServiceClient"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.8.2

**Platform**
net472 WPF

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username P

[2020-02-18 17:13] bgavrilMS commented on #1640
That's a lot of code @isaacrlevin - maybe you can norrow down the repro ? MSAL is only invoked in `AuthenticateRequestAsync`. Can you remove the exception handling around `AcquireTokenInteractive` and report back on the exceptions?

[2020-02-18 17:22] jmprieur commented on #1639
wow @bgavrilMS : is the claims a key of the cache? how does it work today: we should see infinite loops?

[2020-02-18 17:29] isaacrlevin commented on #1640
Issue related to Graph SDK, moving big over there

[2020-02-18 17:29] #1640 closed

[2020-02-18 17:35] bgavrilMS commented on #1639
claims is not a key of the cache. Today if you pass Claims to AcquierTokenSilent, it would return you an access token that is not tied to those claims. So Claims only works with `AcquireTokenInteractive` really.

[2020-02-18 17:37] jmprieur commented on #1639
Oh, yes that makes sense. today we get a claims challenge and call AcquireTokenInteractive.
Good point for client capabilities;

[2020-02-18 21:03] trwalke opened #1642 "[Investigate] Determine if disabling certificate revocation list checking is bad practice in the Android Broker scenarios"
Investigate weather or not there will be an potential security issue if we enable broker support on MSAL.NET with the broker signature verification not checking against certificate revocation lists.

We have a new build warning in MSAL with the new android broker implementation:
`Warning IA5352: Do Not Change X509ChainPolicy. RevocationMode to NoCheck`

Coming from [here](https://github.com/AzureA

[2020-02-18 21:15] trwalke opened #1643 "[Feature Request] Expand automated mobile testing to cover more platforms"
**Is your feature request related to a problem? Please describe.**
We need to investigate how much coverage we can implement using the current appcenter/Xamarin.UiTest infrastructure so that we can cover more platforms on android and iOS.

**Describe the solution you'd like**
Automated testing coverage on appcenter to include platforms as far back as Android JellyBean (4.1.0+) and iOS 10+. We can

[2020-02-18 22:58] rayluo commented on #1298
Confirmed with Bogdan, "FOCI is now returned in Integrated Windows Auth. (we) do not expect any client-side changes".

[2020-02-18 23:52] michaelfsarkis opened #1644 "Working with React Native"
Can I use the package with React Native? if yes, is there any sample code to use?

Thanks

[2020-02-19 01:58] trwalke opened #1645 "[Enhancement] Add additional logging/Documentation links to ease supportability issues with the Android broker"
**Is your feature request related to a problem? Please describe.**
Add additional logging to MSAL broker classes to help demistify errors during debugging so that customers are hopefully able to unblock themselves with the right information.

**Describe the solution you'd like**
Add additional logs on the broker operation methods.
Add additional aka.ms links to specific error messages that point t

[2020-02-19 02:04] trwalke opened #1646 "[Documentation] Create migration guide from ADAL to MSAL for Android broker"
### Documentation Related To Component:
Add a wiki page to decribe how a customer would migrate their existing broker implementation on ADAL.NET to MSAL.NET

[2020-02-19 02:06] trwalke commented on #1646
Wiki page here
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/How-to-migrate-from-using-Android-Broker-on-ADAL.NET-to-MSAL.NET

[2020-02-19 11:52] bgavrilMS commented on #1644
This package is a .NET package and published to NuGet. I don't think you can invoke .net code from React Native (happy to be proven wrong).

Have you looked at the MSAL for javascript ? https://github.com/AzureAD/microsoft-authentication-library-for-js

[2020-02-19 16:27] jdestefano123 opened #1647 "[Bug] complete acquire token error"
**Which Version of MSAL are you using ?**
msal:1.1.0-hf1

**Platform**
Android

**What authentication flow has the issue?**
Mobile
Refresh

Other? - please describe;

**Is this a new or existing app?**

The app is in production, I haven't upgraded MSAL, but started seeing this issue

**Repro**

Unable to reproduce consistently

**Expected behavior**
User should be logged in upon completion of auth

[2020-02-19 16:27] #1647 closed

[2020-02-19 16:28] jdestefano123 commented on #1647
User Error - Resposting to Android

[2020-02-19 20:23] mjcheetham opened #1648 "[Bug] User's default web browser does not open when running via `sudo`"
**Which Version of MSAL are you using ?**
MSAL 4.8.2

**Platform**
netcore (Linux and macOS)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**

[code]

[code]

**Expected behavior**
The current (real) user's default web browser is opened to the authentication page.

**Actual behavi

[2020-02-20 09:42] ali-hamud opened #1650 "[Documentation] bug in code samples for creating token using certificate?"
### Documentation Related To Component:
Not sure.

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in example
- [ ] needs example

### Description Of The Issue
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-credential-flows#code-snippet

current sample:
X509Certificate2 certif

[2020-02-20 11:02] bgavrilMS commented on #1650
Fixed the docs. Yes, you need to pass the certificate there. `WithCertificate` needs an X509Certificate2 parameter anyway, so you can't accidentally pass in a secret.

[2020-02-20 11:02] bgavrilMS commented on #1650
Thanks for reporting!

[2020-02-20 11:02] #1650 closed

[2020-02-20 11:38] bgavrilMS opened #1651 "[Bug] MSAL does not pass in claims to the brokers"
**Version**
4.8.2

**Platform**
Android, iOS

Neither iOS nor Android brokers are being given user configured claims, although brokers support claims.
iOSBroker has [some logic related to claims](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/7a7b5a1c6d3769740a10afb83184a2c91befc324/src/client/Microsoft.Identity.Client/Platforms/iOS/iOSBroker.cs#L111), but the E2E does

[2020-02-20 18:37] jmprieur commented on #1648
Thanks @mjcheetham
from your point of view is it a bug ? or an enhancement?

[2020-02-21 11:55] bgavrilMS commented on #1545
This is done with the exception of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1651 - I do not know the broker protocol to fix this properly.

[2020-02-21 13:12] mjcheetham commented on #1648
@jmprieur it depends on what it meant by the "system" browser. According to the `SystemWebViewOptions` documentation the 'default' or 'system' browser should be:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/1cef43d185bb0a1dcc013d2ec232ae9d4c6c053a/src/client/Microsoft.Identity.Client/ApiConfig/SystemWebViewOptions.cs#L55-L61

I also realise the customised browser la

[2020-02-21 15:49] WilliamWatterson86 commented on #1090
Hey @jennyf19 - I am seeing a few crashes in App Center like this too.  See stack trace below:

This is on production and I am not sure what browsers or if the user has chrome installed.

My code checks IsSystemWebViewAvailable and displays a message if a browser is not available but it must get passed this and then crashes.

Is this something you have seen before?  Is there any way to catch this

[2020-02-24 08:40] tranb3r opened #1653 "[Feature Request] Upgrade library to use AndroidX"
The official stable NuGet packages for AndroidX have been released.
Could you please upgrade the msal lib to use AndroidX?

More information from xamarin here:
https://devblogs.microsoft.com/xamarin/xamarin-forms-xamarin-essentials-go-androidx/

@jennyf19 has kindly listed some scenarios that we should test:

- [x] Android 9 + interactive/silent auth
   - [x] Embedded webview
   - [x] System brows

[2020-02-24 08:54] bgavrilMS commented on #1653
This seems to be the official recommendation from the Xamarin team. All Xamarin libraries should support this.

It is not clear to me if the upgrade won't break backwards compatibility and also how keeping this version (i.e. not upgrading to AndroidX) affects applications. @tranb3r  - what is your opinion on this?

[2020-02-24 09:09] tranb3r commented on #1653
My opinion is that:
- most developers are eager to migrate to androidx asap
- backwards compatibility should not be a major issue, assuming you follow the recommendations and add a new target for android10 (with androidx) while keeping the existing android9 target (with support libs).

Anyway, I'd rather ask @redth and @jamesmontemagno for their opinion !

[2020-02-24 09:52] #1644 closed

[2020-02-24 12:38] bgavrilMS commented on #1617
I can't repro this, what is the exception that you are getting?

[2020-02-24 15:03] bgavrilMS commented on #1606
Ack, I can see the problem. To work around it you need to specify an authority when you create the `PublicClientApplication`. It doesn't matter the policy, as the policy specified in `AcquireTokenInteractive` will be taken into account.

[2020-02-24 17:09] mfeingol commented on #1617
I forget the exact exception, but basically sign-in attempts throw and fail.

If you still can't repro it, I'll get more precise details.

[2020-02-25 08:16] soooraj commented on #636
@bgavrilMS @jennyf19

I am still getting this issue in app center.

I am using the latest version of the library 4.8.2

[code]

[2020-02-25 16:46] dansiegel opened #1657 "[Documentation][Update] Remove wiki docs referencing MSAL v2...leads to confusion."
### Documentation Related To Component:

AAD B2C Specifics

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example
- [x] out of date

### Description Of The Issue

The current documentation in the WIKI for the AAD B2C Specifics currently documents the older way to configure the PublicClie

[2020-02-25 16:48] jennyf19 commented on #1657
Thanks @dansiegel

[2020-02-25 17:14] jmprieur commented on #1657
Actually this is a MSAL 2x specific page
the MSAL 3.X and above is https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics

[2020-02-25 17:15] jennyf19 commented on #1657
@jmprieur yes, but we should remove v2. i don't think we need those anymore. what do you think?

[2020-02-25 17:15] jennyf19 commented on #1657
@jmprieur yes, but we should remove v2. i don't think we need those anymore. what do you think?

[2020-02-25 17:20] drzdbd1 opened #1658 "[Documentation] Custom token cache in MSAL v3"
### Documentation Related To Component:

TokenCache
### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [x ] needs example

### Description Of The Issue

I'm using ConfidentialClientApplicationBuilder to build ConfidentialClientApplication for my daemon app, is there a way I can provide a custom TokenCa

[2020-02-25 17:37] dansiegel commented on #1657
you are right... didn't even notice that it was a v2 specific page... I do think @jennyf19's idea is probably the right way to go... having documentation laying around for v2 and v3+ gets too confusing and will lead people to the wrong docs.

[2020-02-25 19:00] jmprieur commented on #1657
@jennyf19 : yes. the question is what page pointed to v2.0 ?

[2020-02-25 19:16] jennyf19 commented on #1657
@dansiegel how did you find the v2.0 page? was it linked from somewhere else?

[2020-02-25 19:18] dansiegel commented on #1657
that's a great question... I'm not quite sure exactly what brought me there... I have a lot of open tabs... it was probably a combination of Google + whatever the Wiki naturally shows

[2020-02-25 19:51] trwalke commented on #1619
@harmjonker This will depend more on the Android broker that you use. The company portal broker required android 5 or higher. Microsoft authenticator requires android 4.4 or higher. So long as you meet these requirements MSAL should be able to authenticate with the broker

[2020-02-25 19:52] trwalke commented on #1619
@harmjonker Also, you need to ensure that you have installed either Intune Company Portal (Version 5.0.4689.0 or greater) or Microsoft Authenticator (6.2001.0140 or greater) to work with MSAL broker when released in 4.9

[2020-02-25 19:52] #1619 closed

[2020-02-25 23:09] jmprieur commented on #1658
@drzdbd1 : I advise you have a look at the following token cache providers for confidential clients: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/Microsoft.Identity.Web/TokenCacheProviders

See also https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/Microsoft.Identity.Web#token-cache-serialization

[2020-02-26 04:05] drzdbd1 commented on #1658
@jmprieur Thanks for the reply.

However, I think these hooks are used for custom token serialization, not the TokenCache implementation itself. I think internally the concurrent requests would still be constrained by SemaphoreSlim(1,1) - only one thread is allowed to read the token at a time, I wonder why it was designed this way and how it would scale?

[2020-02-26 10:11] kevcrooks commented on #1420
@WilliamWatterson86 I think we're having a similar issue, and have followed the instructions you mentioned to create a custom policy in Azure which works fine (when we test using jwt in the portal).

However, when using the policy with msal in the app, when we click on "Sign in with Apple", there's an error:
"invalid_request" and "invalid redirect_uri" in the sign-in page (this is running on a sim

[2020-02-26 10:20] jkdouglas commented on #1420
@kevcrooks For the reply URL on the Apple side, did you update it to your actual tenant info? If your tenant name was contoso.onmicrosoft.com you would use as the reply url: contoso.b2clogin.com/contoso.onmicrosoft.com/oauth2/authresp

Let me know if this resolves your issue.

[2020-02-26 10:27] kevcrooks commented on #1420
@jkdouglas thank you for the quick reply, yes I think the reply URL on the Apple side is correct. After setting up the custom policy, I was able to test the sign-in flow from our Portal, and this works ok, and returns the correct token after signing in.

It's only when using the same flow in our existing msal setup that I get the "invalid redirect_uri" error, and I thought this may be because msal

[2020-02-26 10:45] bgavrilMS commented on #1420
@kevcrooks - have you tried configuring the redirect uri via `.WithRedirectUri` ? You may have to play with using an embedded browser / system browser `WithUserEmbeddedWebUi(true)` because I am not sure the default system browser can get back to your ios app if it isn't in the correct format...

[2020-02-26 11:20] kevcrooks commented on #1420
@bgavrilMS yes we currently have the following setup for msal in our app:
[code]
We call this as:
[code]
where the [Portal App Id] is set up in Azure for "Mobile and Desktop Applications" and the redirect uri of the app is the same: `msal[Portal App Id]://auth`

I am wondering if it could be a problem linking with this Portal app (since for testing in the Portal, we use a dedicated jwt test app, a

[2020-02-26 12:01] kevcrooks commented on #1420
I've looked in to this again now having just posted and compared our msal implementation to the sample code here:

https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-b2c-xamarin-native/integrate-azure-ad-b2c-xamarin-forms/

I think the issue is that our msal library was still using the outdated "login.microsoftonline.com" instead of "[tenant].b2clogin.com".

Having changed thi

[2020-02-26 14:00] laurensbro opened #1660 "OnActivityResult returning 2001/2004 instead of -1,0 or 1. Is this ok?"
**Which Version of MSAL are you using ?** 4.9.0 - preview with broker support for android

**Platform** xamarin android

**What authentication flow has the issue?**
* Mobile
    * [v ] Interactive

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**

[code]

**Expected behavior**
resultCode is of type "Android.App.Result", should be -1, 0 or 1.

**Actual behavior**
I'm

[2020-02-26 14:06] bgavrilMS commented on #1642
Could you then please disable the warning in the code? You have to use a pragma (#) and provide a reason.

[2020-02-26 14:25] laurensbro opened #1661 "Not returning from "AcquireTokenInteractive" when SetAuthenticationContinuationEventArgs after cancel (backbutton)"
**Which Version of MSAL are you using ?** 4.9.0 - preview with broker support for android

**Platform** xamarin android

**What authentication flow has the issue?**
* Mobile
    * [v ] Interactive

**Is this a new or existing app?**
c. This is a new app or experiment

**Repro**

[code]

**Expected behavior**
Calling AcquireTokenInteractive, device starts MS-Authenticator as expected. After pressin

[2020-02-26 14:41] bgavrilMS commented on #1660
I think this is an implementation detail and you should not check the return code. MSAL will throw appropriate exceptions based on it. We have to expose this detail because the interface Android provides is `OnActivityResult(int requestCode, Result resultCode, Intent data)`

2004 in this case means OK
2001 means cancelled.

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blo

[2020-02-26 15:06] bgavrilMS opened #1662 "[Bug] Android broker does not expose the broker error codes when failing"
**Which Version of MSAL are you using ?**
4.9

**Platform**
ios, android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Actual**:

On iOS, MSAL throws

[2020-02-26 15:11] bgavrilMS opened #1663 "[Bug] Brokers and webviews should be consistent when user cancels authentication"
**Which Version of MSAL are you using ?**
4.9

**Platform**
android, ios

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Expected behavior**
When MSAL does not use the broker, it

[2020-02-26 15:12] bgavrilMS commented on #1661
This is possibly a bug.

[2020-02-26 15:16] bgavrilMS opened #1664 "[Bug] WithBroker and WithUseEmbeddedWebView should be mutually exclusive"
**Which Version of MSAL are you using ?**
4.9

**Platform**
android, ios

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

[code]

[2020-02-26 15:18] bgavrilMS commented on #1661
The expected behaviour is to throw an exception with an `authentication_cancelled` error code.

[2020-02-26 15:22] bgavrilMS commented on #1661
I also logged bug https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1663 to ensure that the behaviour on iOS and Android is consistent.

Ideally it should also be consistent to when not using a broker, but this is a bit harder. When not using a broker, MSAL will throw an `MsalClientException` with error code `authentication_cancelled`

But we treat errors coming from th

[2020-02-26 16:00] steffos opened #1665 "[Bug] WithUseEmbeddedWebView and Android - activity title is always 'Sign in'"
MSAL.NET 4.8.2

Android

When using .WithUseEmbeddedWebView(true) and Android, activity title is always 'Sign in' regardless if I'm opening the window with purpose to perform another policy such as 'Reset password'

![image](https://user-images.githubusercontent.com/1426950/75362634-55ce5100-58b9-11ea-8d35-7f92bc78703d.png)

**Repro**
Use .WithUseEmbeddedWebView(true) on an Android project and per

[2020-02-26 20:28] #1664 closed

[2020-02-26 20:30] jmprieur commented on #1664
Why did you close it @bgavrilMS ? you might want to add an explanation?

[2020-02-26 22:20] bgavrilMS commented on #1664
Yes, sorry, I should have provided an explanation here.

One of the flows behind InteractiveRequest with broker is:

1. If WithBroker is set to true
2.  Attempt to invoke the broker and get the token
3.  If this fails, e.g. if broker is not installed, the use a web view

So it actually does make sense for the user to specify both of these.

[2020-02-27 01:42] mfeingol commented on #1617
Okay,

The exception:

[code]

The stack trace:

[code]

[2020-02-27 04:04] jmprieur commented on #1617
@mfeingol : which authority did you use?

[2020-02-27 04:09] mfeingol commented on #1617
I'm not specifying an authority, so whatever the default is.

To reiterate: this issue only repros with .NET Native compilation enabled and `Microsoft.Identity.Client` not explicitly included in Runtime Directives.

[2020-02-27 04:16] jmprieur commented on #1617
Thanks @mfeingol : I understand fully now.

[2020-02-27 07:01] laurensbro commented on #1660
Thanks, that will do. Closing.

[2020-02-27 07:01] #1660 closed

[2020-02-27 11:50] bgavrilMS commented on #1663
Fixed by @trwalke with https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1666

[2020-02-27 11:51] bgavrilMS commented on #1662
Fixed by @trwalke  with https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1666

[2020-02-27 18:03] gonzobrains opened #1667 "How to add PIN-based authorization?"
Hi,

I am writing a Xamarin mobile app.  I have gone through the sample that connects to the Graph API via AcquireTokenInteractive().  What I'd like to do at this point is provide a way to authenticate using a PIN instead of AD username/password.  How can I accomplish this?

Thanks,
Jeff

[2020-02-27 18:09] jmprieur commented on #1667
@gonzobrains : this is not something that you'll control from the library, but that the tenant administrator will control using conditional access policies (for your app, or users, or platforms).

See https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview

[2020-02-27 18:23] gonzobrains commented on #1667
Thank you for your rapid response.  I figured this was the case; I just don't know where to go to figure out how to implement this on the backend as I don't know if that is something already implemented by Azure/OAuth2/etc.

I think the idea would be to initially have the user authenticate with AD username/password but add PIN-based as an extra layer of security while the token is still valid (hen

[2020-02-29 01:09] libbro2006 opened #1670 "Add support for authentication with FIDO2.0 security keys"
One of the top requests for passwordless with FIDO2 auth is for admins to be able to log into Powershell with their security keys.

Much like any other web-authentication flow, if the user has a FIDO2 credential and is on a PC running Windows 1903 or higher, a user should be able to "Sign in with a security key" and login via WebAuthN to their Microsoft account.

Please reach out to me via interna

[2020-02-29 01:11] jmprieur commented on #1670
@libbro2006 : why did you remove the scenario in the template?
I'm assuming this is a desktop application?
Is it using the embedded web view or the system browser?

[2020-03-01 04:24] dpaulino opened #1671 "[Question] How to use MSAL to obtain access token for Azure DevOps REST API? (with support for both personal MSA and Azure AD)"
**Which Version of MSAL are you using ?**
MSAL 4.8.2

**Platform**

UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**

[2020-03-02 23:45] jmprieur commented on #1603
I also agree that `.WithInstanceDiscoveryMetadata()` should set `validateAuthrority` to `false` automatically.

[2020-03-03 02:29] bganapa opened #1673 "[Bug] IOException: The process cannot access the file '%appdata%\.IdentityService\msal.cache.lockfile' be cause it is being used by another process"
**Which Version of MSAL are you using ?**
4.8.1.0

**Platform**
net45

**What authentication flow has the issue?**

    * [ ] Username Password

Other? - please describe;

**Is this a new or existing app?**
The app is in preview/private module version

**Issue**
While running our automation with the Az.Accounts powershell module , we hit the following issue. We do not have any tests running in par

[2020-03-03 11:06] bgavrilMS commented on #1671
@jmprieur - I checked and this repros for me as well. Is this resource refusing MSA tokens even though the client allows them?

[2020-03-03 11:09] bgavrilMS commented on #1673
I will investigate

[2020-03-03 15:07] dpaulino commented on #1671
Not quite sure what you mean. Can you rephrase? Azure DevOps is supposed to allow MSA authentication

[2020-03-03 15:17] bgavrilMS commented on #1673
Is this [PowerShell 7 RC 3](https://github.com/PowerShell/PowerShell/releases/tag/v7.0.0-rc.3)  ?

[2020-03-03 15:50] bgavrilMS commented on #1673
I can see a lock being acquired but it should also be released pretty quickly. A few questions:

- Is the lock file ever deleted?
- Inside the lock file there is a process ID of the process which holds the lock. Can you observe what is happening with this process?
- Have you defined your own values for LockRetryDelay and LockRetryCount? They default to 100ms delay with 600 retries.
- Can you give

[2020-03-03 17:22] TheOnlyWei commented on #1673
Some extra information since I produced the bug initially:

- The lock file flickered in and out of existence as if it was being deleted and created every half second.
- The bug was first encountered when I ran the Powershell Canary.Tests.ps1 and Powershell CTQ Workloads.Tests.PS.ps1 at the same time, so there is probably a deadlock or race condition. Although I cancelled both test then just ran t

[2020-03-03 17:27] bgavrilMS commented on #1673
It's normal for the lock file to get created and deleted quickly - since acquiring the lock means creating the file and releasing the lock means deleting the file.

I would expect the lock file to be invoked 2 or 3 times ( I need to see your code to be sure):

- once when you register the token cache via `MsalCacheHelper.RegisterCache`
- once when you get a token from AAD and we persist it

It wou

[2020-03-03 19:27] trwalke opened #1675 "[Bug] MSAL does not return from the system browser when a broker redirect URI is used on android"
**Which Version of MSAL are you using ?**
Latest

**Platform**
android only

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
1. Configure broker use `WithBroker(true)`
2. R

[2020-03-03 20:03] jamesmontemagno commented on #1653
Our recommendation is to use AndroidX when compile mode is set to Android 10. All AndroidX packages use the migration so they can work side-by-side existing libraries that haven't updated. Mostly this will help when developers are using Xamarin.Forms and Xamarin.Essentials so eventually over time Support Libs will fade away.

[2020-03-04 13:42] bgavrilMS opened #1676 "[Bug] When using the Android broker, RemoveAccount does nothing"
**Which Version of MSAL are you using ?**
4.9-preview

**Platform**
android

**Repro**

1. (optional) AcquireTokenInteractive with broker
2. GetAccounts - this actually gets accounts from the broker
3. call RemoveAccount on one of the accounts

**Expected behavior**
The account should be removed from the broker or at least the access token should be removed.

**Actual behavior**
Nothing happens

N

[2020-03-04 20:37] mremkiewicz opened #1678 "[Bug] Issue with on behalf of flow via MS ADFS 2019"
Not sure if this is a bug or configuration issue.

**Which Version of MSAL are you using ?**
MSAL 4.8.2

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [X ] OBO

Other? -

[2020-03-05 13:05] harmjonker opened #1679 "Selecting different account in the broker with ADFS as identity provider"
Do you guys also run tests like changing between accounts within the same domain, where ADFS is identity provider for Azure AD login ?
We experience some weird behavior when changing account, coming back with a previous account into MSAL acquiretokens calls.

[2020-03-05 13:53] bgavrilMS commented on #1679
Hmm, could you give us a few more details like some repro steps please? When you say accounts, do you mean that you are logging in interactively in AAD, then trying to use the IAccount object to login silently to ADFS? Or are you talking about the experience in the browser?

In the MSAL token cache, all objects (tokens and accounts) are indexed by enviroment, i.e. the host part of the authoirty UR

[2020-03-05 18:52] henrik-me commented on #1676
Triage: We need to call remove account on broker and explore in further details on the behavior of the RemoveAccount api.

[2020-03-05 18:57] jennyf19 opened #1681 "Update to http telemetry schema v2"

[2020-03-05 21:00] harmjonker commented on #1676
Application starts with select-account screen  (as per preview release the acquiresilent call crashes we direct the acquiretoken call to the account select step)

![Screenshot_20200305-214431_Company Portal](https://user-images.githubusercontent.com/55669455/76024828-0d073f80-5f2c-11ea-8c21-a5a72eeec7a6.jpg)
=> I choose 'Account toevoegen'  (add new account)

I then shows an ADFS screen (as least

[2020-03-06 08:57] tipa opened #1683 "[Bug] CryptographicException when using Android Broker"
**Which Version of MSAL are you using ?**
MSAL 4.9.0

**Platform**
Xamarin Android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or exis

[2020-03-06 09:15] tipa opened #1684 "[Documentation] Method WithReplyUri does not exist"
### Documentation Related To Component:
Xamarin.Android Broker

### Please check those that apply

- [x] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [x] error(s) in example
- [ ] needs example

### Description Of The Issue
The docs mentions `WithReplyUri` [in several places](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/search?q=WithRep

[2020-03-06 09:17] bgavrilMS commented on #1684
Yes, `WithRedirectUri` is meant.

[2020-03-06 09:26] bgavrilMS commented on #1684
Thank you for reporting this @tipa , fixed.

[2020-03-06 09:26] #1684 closed

[2020-03-06 09:59] bgavrilMS opened #1685 "[Bug] Potential cache consistency issues in multi-threaded env"
**Which Version of MSAL are you using ?**
4.9

**Platform**
.net and .net core

**What authentication flow has the issue?**
All, but confidential flows affected the most

**Repro**

In high load enviroments, where the token cache is shared by many threads, cache inconsistency can occur because the access to the underlying token cache is not fully syncronized. In particular, the in-memory cache use

[2020-03-06 10:00] bgavrilMS commented on #1685
Example problematic call:

[code]

[2020-03-06 13:45] bgavrilMS opened #1686 "[Bug] After the user logs out, they can find themselves still logged in"
This bug can potentially occur when multiple processes access the same cache. It mainly affects the extension use cases, but it is an MSAL bug.

https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/issues/64

[2020-03-06 15:09] bgavrilMS commented on #1681
The doc describing this is still open, with several questions on it. There are no acceptance tests either - I proposed one. IMO, this is not ready to be worked on.

CC @jmprieur @henrik-me

[2020-03-06 15:29] bgavrilMS commented on #1678
What version of ADFS are you using?

It is ok for MSAL to add more scopes. We always request "offline_acess", "openid" and "profile" - these are required for MSAL to work.

[2020-03-06 15:29] bgavrilMS commented on #1679
Application starts with select-account screen  (as per preview release the acquiresilent call crashes we direct the acquiretoken call to the account select step)

![Screenshot_20200305-214431_Company Portal](https://user-images.githubusercontent.com/55669455/76024828-0d073f80-5f2c-11ea-8c21-a5a72eeec7a6.jpg)
=> I choose 'Account toevoegen'  (add new account)

It then shows an ADFS screen (as least

[2020-03-06 15:31] bgavrilMS commented on #1679
This seems like a broker issue. @trwalke  - have you encountered this?

[2020-03-06 16:31] mremkiewicz commented on #1678
We are using AD FS on Windows Server 2019 version 1809 (OS Build 17763.1039)

[2020-03-06 16:43] mremkiewicz commented on #1678
Here are the configurations for the services in ADFS.  Policy Detail service (policydetailconfig.txt) is the calling the Enterprise Policy Information service (epiconfig.txt).

Let me know if you need anymore information.

[policydetailconfig.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4299333/policydetailconfig.txt)
[epiconfig.txt](https://github.com/AzureAD/

[2020-03-06 18:20] #1602 closed

[2020-03-06 18:22] trwalke commented on #1402
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:22] #1402 closed

[2020-03-06 18:22] trwalke commented on #1614
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:22] #1614 closed

[2020-03-06 18:23] trwalke commented on #1622
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:23] #1622 closed

[2020-03-06 18:23] #1646 closed

[2020-03-06 18:23] trwalke commented on #1663
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:23] #1663 closed

[2020-03-06 18:23] trwalke commented on #1662
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:23] #1662 closed

[2020-03-06 18:24] trwalke commented on #1661
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:24] #1661 closed

[2020-03-06 18:24] trwalke commented on #1639
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:24] #1639 closed

[2020-03-06 18:24] trwalke commented on #1606
Fixed in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:24] #1606 closed

[2020-03-06 18:24] trwalke commented on #1545
released in 4.9.0
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.9.0

[2020-03-06 18:24] #1545 closed

[2020-03-06 20:24] trwalke commented on #1683
Hello Tipa, so far I have been unable to reproduce this. Do you have any logs or a full stack trace? A repro app would be great if possible.

Thanks

[2020-03-06 23:16] tipa commented on #1683
It's kind of a weird exception. I currently cannot reproduce it with a blank app, but I can provide you the stack trace that I am getting in my app:
[code]

Will try to narrow down the problem tomorrow to see what actually makes the difference.

[2020-03-06 23:42] tipa commented on #1683
![image](https://user-images.githubusercontent.com/2863198/76130788-6181ec00-600c-11ea-8ab5-90b8cda28b8c.png)

[2020-03-07 11:44] tipa commented on #1683
After multiple hours of debugging I finally found out that deleting the **.vs  + obj + bin** folders resolved the issue. I have no idea why, but it fixed the issue for me in 3 separate projects. Hope this helps anyone who is experiencing the same issue.

[2020-03-07 11:53] tipa commented on #1683
You can reproduce the problem with the project attached. Make sure you have all these checkboxes set:
![image](https://user-images.githubusercontent.com/2863198/76142843-ccb1d980-6071-11ea-9af3-48131b7d7cd9.png)
[App1.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4301768/App1.zip)

[2020-03-07 13:01] wjvii opened #1688 "MSAL Token Cache for Packaged Desktop Application"
In reading through the documentation it states that MSAL handles the token cache for Android, iOS and UWP but not Desktop apps. My question is, how does MSAL handle token caching for desktop apps that are packaged for the store and have a package identity. Does it handle it like the desktop app or more like the UWP app. As a side note, we are using the Windows Application Packaging Project type to

[2020-03-07 13:27] tipa commented on #636
This is very easy to reproduce, I am surprised this hasn't been fixed yet. Repo attached:
[App1.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4301858/App1.zip)

[2020-03-07 20:32] jmprieur commented on #1688
For desktop apps, the recommendation is to use:
- either your own token cache serialization. See https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2/blob/msal3x/active-directory-wpf-msgraph-v2/TokenCacheHelper.cs
- or leverage a more productized extension library bringing cross platform token cache. See https://github.com/AzureAD/microsoft-authentication-extensions-for-dotn

[2020-03-07 20:41] wjvii commented on #1688
Thank you so much. This extension library looks easy enough to use. I just wasn't certain if having it "packaged" changed anything about how the MSAL token cache would work.

Thank you again.

[2020-03-07 20:51] jmprieur commented on #1688
@wjvii : I'm not familiar with the Windows Application Packaging Project, but I would think it's a question of making sure that your packaged app can write at the location on disk where you want to serialize your token cache. (maybe make it possible in the manifest?)

[2020-03-09 11:55] Thacai opened #1690 "[Bug] Federated user: Integrated Windows Auth is not supported for managed users"
**Which Version of MSAL are you using ?**
MSAL 4.9

**Platform**
net472

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**

[2020-03-09 13:37] bgavrilMS commented on #1603
I can't really distinguish if the user has passed the flag `ValidateAuthority` or not, because all the `WithAuthority` methods all take in a default param like this:

`public T WithAuthority(Uri authorityUri, bool validateAuthority = true)`

To overcome this, we would need to split these methods into 2, where the second method actually means "MSAL chooses for me".

`public T WithAuthority(Uri auth

[2020-03-09 15:57] henrik-me commented on #1603
This would change defaults I believe so a behavioral breaking change?

How about a new internal property for handling this case during object build time (or perhaps build time can take a look at whether the uri has been passed in)?

[2020-03-09 19:33] #1520 closed

[2020-03-10 15:33] bgavrilMS commented on #1185
We replaced the serialization to use Newtonsoft internally, to overcome these type of bugs. Hopefully this is fixed. Please reopen if issue still persists.

[2020-03-10 15:33] #1185 closed

[2020-03-10 19:14] kakins opened #1695 "Documentation for Azure Function authentication"
**Is your feature request related to a problem? Please describe.**
No existing problem with the framework per-se.

**Describe the solution you'd like**
This is a request for documentation and perhaps examples for authenticating with Azure Functions.  In short, I'd like to use the plain "Azure Graph" demo example already described in the docs, but additionally grant access to an Azure Function endp

[2020-03-10 20:04] tipa commented on #636
Maybe add a try-catch-all in that method, it also throws other exceptions, like this one:

[code]

[2020-03-10 20:15] trwalke commented on #1683
Hi Timo, which version of android are you using to reproduce this? Also, is this running in a simulator or on an actual device?

Can you also try making an acquire token interactive call right before you do the getAccountsAsync? I want to see if other broker apis will trigger the same error.

[2020-03-10 20:36] tipa commented on #1683
It happens on both emulator and physical device, deployed on Android 9 & Android 10. See my initial post for Xamarin.Android and VS19 info.

When I just keep hitting "Continue" in VS, the broker eventually shows up, I think the problem mainly (or even exclusively) happens for `GetAccountsAsync`

Are you having problems reproducing the problem? As I said, it is likely an issue that needs to be reso

[2020-03-10 21:51] trwalke commented on #1683
yes, I am unable to reproduce this but I want to get a few more details on what exactly is happening here. so you are saying that this doesn't happen when you do acquireTokenInteractive() without GetAccountsAsync? I would expect that it should because every call to the broker makes the same signature check which constructs the X509Certificate

[2020-03-10 22:03] tipa commented on #1683
When I just call acquireTokenInteractive() it happens as well.

[2020-03-11 08:32] dpaulino commented on #1671
Would anyone have ideas here?

[2020-03-11 09:45] trwalke opened #1696 "[Bug] Certain error messages are not returned from the Andorid Broker"
**Which Version of MSAL are you using ?**
4.9.0

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Create a service error with a misconfigured

[2020-03-11 11:39] harmjonker commented on #1679
I have been called by KPN, our provider of the ADFS service for NS.
He explained ADFS keeps a session with duration of one hour to prevend re-login in different applications from the desktop workstations.  This session is the reason that logging in with another account within an hour will always return the logged with that session. Somehow, this session info is also taken into account with the flo

[2020-03-11 12:15] bgavrilMS commented on #1671
@henrik-me @jmprieur - I can repro this, but I don't know the reason the resource is refusing MSA accounts. Do you know who we could contact for this?

[2020-03-11 14:08] harmjonker opened #1698 "prompt to install broker from the store"
I found this (below) in the documentation, but what is needed to get Azure AD to install a broker ? We don't see that happening in our case.

_How do you use brokers for your application?
You call WithBroker() at the construction of the application. When the user signs-in interactively, they will be prompted by Azure AD to install the correct broker from the store, depending on the conditional acc

[2020-03-11 14:21] bgavrilMS commented on #1698
This is a great question @harmjonker . There's supposedly a CA (conditional access) policy you can add that requires your users to authenticate with the broker.

MSAL has following logic:

- if broker is not installed, try to use a browser to login the user
- AAD will refuse this (based on CA) and will send a special message to MSAL via redirect url
- MSAL interprets this message and opens the App

[2020-03-12 14:59] adrienbarde commented on #1678
hi everyone, i have exactly the same issue with **ADFS 2016** when i use **on behalf of flow**

[2020-03-12 15:25] bgavrilMS commented on #1678
@adrienbarde - MSAL does not support ADFS 2016 (I believe it's 2016 is better known as ADFS v4). MSAL only supports ADFS 2019.
ADAL supports ADFS v2, v3 and v4.

[2020-03-12 15:40] adrienbarde commented on #1678
OK thank you for your reply

[2020-03-12 18:01] rijulluman-msft commented on #1476
I am facing a similar issue currently
[code]

[2020-03-12 21:00] dfederm opened #1702 "[Bug] IPublicClientApplication is not mockable"
**Which Version of MSAL are you using ?**
Latest

**Platform**
Any

**What authentication flow has the issue?**
N/A

**Is this a new or existing app?**
N/A

**Repro**
`IPublicClientApplication` is not mockable. Specifically the `AcquireTokenByIntegratedWindowsAuth` method returns a `AcquireTokenByIntegratedWindowsAuthParameterBuilder` object, but that class only has internal constructors. This mak

[2020-03-12 21:22] jmprieur commented on #1702
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/184, which provides some work arounds

[2020-03-13 00:40] dfederm commented on #1702
@jmprieur #184 is closed from 2017. Would you prefer I re-open it or use this issue? The interface as it currently exists cannot be unit tested.

[2020-03-13 06:57] dpaulino commented on #1671
I'm reproducing the same problem in xamarin. So this issue does not seem to be specific to the client platform

[2020-03-13 13:19] bgavrilMS commented on #1702
Due to the use of the builder pattern, mocking the interface is practically impossible. We've tried. Even if the interface was mockable, mocking the builder pattern is hellish to say the least. So we decided to keep the builder pattern for the flexibility it provides in terms of the API.

I suggest you wrap all the MSAL calls into your own object, add an interface to that and mock it. It will be f

[2020-03-13 13:27] bgavrilMS commented on #1695
We have [some docs ](https://docs.microsoft.com/en-gb/azure/active-directory/develop/authentication-flows-app-scenarios) around the types of application that need to access AAD, although they do not mention functions by name. I assume that you'd like to access the graph on behalf of a service, not on behalf of a user, right? In that case, please have a look at the ["daemon app" samples](https://do

[2020-03-13 13:28] #1688 closed

[2020-03-13 13:52] fabicz opened #1705 "[Feature Request] AcquireTokenInteractive in select account dialog to offer only accounts related to requested tenant"
**Is your feature request related to a problem? Please describe.**
When I restrict login to my application only to users of specific tenant, I'm still presented with select account dialog and other account's are there.

**Describe the solution you'd like**
I would like to be presented only accounts that can login (are from same tenant)

**Sample code**
[code]

**Select account dialog**
![account_s

[2020-03-13 15:23] bgavrilMS commented on #1671
Hi @dpaulino - no, it's not a problem from the library, it's a problem with the resource. This is why I marked the issue as 'external'. I couldn't find the people who own this - may I suggest you log a bug on Azure Dev Ops instead?

[2020-03-13 16:24] LanceKing-eLogic commented on #636
We're seeing this issue for some users as well. Anyone know of a suitable work-around that doesn't break auth flow?

@bgavrilMS  Any update on this by chance?

[2020-03-13 16:36] kakins commented on #1695
Thank you for your response.

I assumed I would call the function on behalf of the _user_.  My function app is acting as an API, and the API should handle access to certain endpoints based on the AAD authenticated user.

So my thoughts were to do the following:

1. User logs in to Azure AD via MSAL
2. Receive the access token for the user
3. Use that same token to authenticate/access my Azure Func

[2020-03-13 18:59] bgavrilMS commented on #1695
So at step 1, how would the user log in? Would they type a command in a console ? Or would there be a web app that redirects the user to AAD for them to login? And then the web app calls into your function?

First scenario is described [here](https://docs.microsoft.com/en-gb/azure/active-directory/develop/authentication-flows-app-scenarios#a-desktop-app-calling-a-web-api-on-behalf-of-a-signed-in-u

[2020-03-13 19:29] dfederm commented on #1702
@bgavrilMS This issue keeps coming up so being able to test their code is clearly a scenario developers want.

Wrapping in our own interface with concrete is a workable solution but it's not one that scales. Imagine needing to do this for every 3rd party package one consumes. That's just a nightmare of extra interface/class pairs purely because the underlying library doesn't want to expose an API

[2020-03-13 21:09] trwalke opened #1706 "[Test] Migrate confidential client tests to use the new lab apps"
Confidential client tests are tied to an application not provided by the lab as the lab did not have support for these tests at the time of creation. Once the LAB api is updated with the latest Arlington changes, we can migrate the confidential client tests to use the lab applications for authentication.

[2020-03-14 00:05] kakins commented on #1695
It is actually a native windows application.  But it does open a web browser, allowing the user to enter their credentials.

[2020-03-14 10:07] bgavrilMS commented on #1702
Reopening and adding for review to next major version as it would constitute a breaking change.

[2020-03-14 10:08] bgavrilMS commented on #1702
I want to be transparent in that we do not for-see a major version of MSAL in the near future. Wrapping MSAL logic is the only way to test your stuff today.

[2020-03-16 03:57] IhnatKlimchuk opened #1707 "[Question] AcquireTokenSilent behaviour for updated claims"
**Which Version of MSAL are you using ?**
MSAL 4.9.0

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive/Silent
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
This is

[2020-03-16 10:37] bgavrilMS commented on #1707
Very interesting issue.

The token cache that MSAL maintains holds on to access tokens, refresh tokens etc. `AcquireTokenSilent` tries to find you an access token from the cache first, without going to AAD. This works for the lifetime of the access token (1h). So during this interval you will not see claim changes, because you are just getting cached results.

Workarounds:

1. Wait 1h ... then MSA

[2020-03-16 10:59] bgavrilMS opened #1708 "[Bug] Client Credentials flow with certificate not working with ADFS"
**Which Version of MSAL are you using ?**
4.9

**Platform**
confidential client

**What authentication flow has the issue?**
confidential client

**Repro**

[code]

**Expected behavior**
tokens

**Actual behavior**
bad cert error

**Possible Solution**
After investigation with PowerShell team, we believe the aud claim in the signed assertion we send to the authority is wrong. The aud claim should

[2020-03-16 11:03] bgavrilMS commented on #1708
This is blocking Azure Stack

[2020-03-16 15:09] LanceKing-eLogic commented on #636
@nhsimarsden
Hey Ian, any chance you found a work-around for this that didn't break auth flow? I'm surprised this has gone under the MSAL team's radar this long.

[2020-03-16 15:11] tipa commented on #636
Try-catch the method call. When `data` contains data from the auth activity, it is not null and therefore shouldn't crash

[2020-03-16 15:37] henrik-me commented on #1698
@harmjonker are you using the broker in your flow?

AAD will not automatically install the broker, your app has to take advantage of the broker. If you do and the broker is not installed MSAL, will guide the user to install the broker.

@trwalke : please confirm.

[2020-03-16 16:02] jmprieur commented on #1708
@bgavrilMS : we use the issuer only in the case of ADFS? or even Azure AD?
I agree the audience cannot be the issuer.

[2020-03-16 16:04] jmprieur commented on #1708
@bgavrilMS @trwalke @jennyf19 @henrik-me @aiwangmicrosoft
I propose we take a 4.9.1 (with Pop ATS)

[2020-03-16 16:06] bgavrilMS commented on #1708
@jmprieur - given that we had a new feature in that changes the public API (instance metadata uri), I think it has to be called `4.10`

[2020-03-16 16:09] bgavrilMS commented on #1708
@jmprieur - we use the token_endpoint value for `aud` for AAD. For ADFS for some reason it is set to use the issuer.

But this isn't the only problem. I think the header that we send is wrong - we use `kid` but both Wilson and ADAL uses `x5t`.

[2020-03-16 16:13] trwalke commented on #1698
Yes, that is correct @bgavrilMS and @henrik-me, The broker application will not be automatically installed but MSAL should direct (Via app link) you to one of the android broker applications(either company portal or authenticator) in the app store when you try to authenticate with an account that requires conditional access. The last thing I remember regarding this was the service was not ready to

[2020-03-16 18:34] henrik-me opened #1709 "[Feature Request] Improve AcquireToken handling for Confidential client flows for expired secrets"
**The challenge**
When a secret changes the MSAL cache will still have a Access token which would typically have a lifetime of 1h. This means the secret will be in the MSAL cache for up to 1h and the resource may reject the token as they have implemented instant revocation.

**Adding to the confusion**
The AcquireToken call for Confidential Client doesn't used a cache lookup and there is no way fo

[2020-03-16 20:10] chrisevans9629 opened #1710 "[Bug] B2C + desktop SystemWebView returns redirecturi mismatch"
**Which Version of MSAL are you using ?**
latest 4.9.0
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**

netcore & net48
**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [

[2020-03-16 20:46] bgavrilMS commented on #1710
Hi @chrisevans9629 - you need to register the redirect URI in the application portal first. I don't remember if B2C allows you to configure "http:\\localhost" ... but may allow you to configure "http://localhost:12345" (or whatever port you want). Please let us know if this works for you.

PS: may I ask why you need Edge browser?

[2020-03-16 21:19] chrisevans9629 commented on #1710
I have "http://localhost" registered in the azure portal for my B2C app.  And I don't need to use Edge browser.  That was just for testing.  I'll edit my code to remove it as it's irrelevant.
Note that this app works with the integrated browser, but not the system web browser, so I don't think it's a redirect uri issue?

[2020-03-16 21:29] bgavrilMS commented on #1710
The integrated browser doesn't need and doesn't use the redirect uri. MSAL can tell when the embedded browser has finished and it can read the final URL which contains a code.

The redirect uri is needed for the system browser. MSAL has no control over the system browser, except to tell it where it go. Then AAD redirects to http://localhost:<port> and MSAL will be listening on that port. That's ho

[2020-03-16 21:32] chrisevans9629 commented on #1710
Okay that makes sense.  I'll try that and will give you an update
tomorrow.  Thank you.

On Mon, Mar 16, 2020, 4:30 PM Bogdan Gavril <notifications@github.com>
wrote:

[2020-03-16 22:13] IhnatKlimchuk commented on #1707
@bgavrilMS

After almost 1 day later and with `WithForceRefresh(true)` I still see old values after `AcquireTokenSilent`. Any ideas why is it happening? I use default `Sign up and sign in` (v1) flow.

[2020-03-16 22:20] jmprieur opened #1711 "[Bug] WithProofOfPosession produces a token of type POP, whereas the Wilson 6.0 expects PoP"
**Which Version of MSAL are you using ?**
4.9

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Expected behavior**
Send PoP

**Actual behavior**
Sends POP

[2020-03-16 22:29] IhnatKlimchuk commented on #1707
@bgavrilMS tested with `Sign up and sign in v2` - behaviour is the same, no update. Can you confirm that claims should be refreshed?

[2020-03-16 22:43] bgavrilMS commented on #1707
Yes, claims should be refreshed as far as I know. A new id token is issued by the refresh_token flow.

Can you try to skip the cache altogether (i.e. don't call AcquireTokenSilent) and just use AcquireTokenInteractive ? Are there claims present then?

[2020-03-16 23:06] IhnatKlimchuk commented on #1707
My steps:
0. In Azure ad b2c UI I update user "name" to "2"
1. I start an app with prevoiusly signed user, that had claim "name" equal "1"
2. In App constructor I do `AcquireTokenSilent` and receive success with claim "name" equal to "1"
3. Call `AcquireTokenInteractive `, enter credentials and receive success with claim "name" equal to "2"
4. After app restart `AcquireTokenSilent` returns success

[2020-03-16 23:21] bgavrilMS commented on #1711
Hmm, the validating service that we use for integration testing  does not seem to complain about this. I guess Wilson tightened the rules. @GeoK - are there plans to update the validation service to use Wilson 6? Or I could contribute to the project if pubic?

[2020-03-16 23:29] jmprieur commented on #1711
Actually Wilson does a case insensitive match, so this works (my bad @bgavrilMS )
but in the Middleware grooming meeting we've advised that MSAL.NET sends "PoP". Not super urgent.

[2020-03-16 23:36] GeoK commented on #1711
@bgavrilMS Both Wilson and SAL and lax on the validation side. Extra spaces and different casing are forgiven. The [spec](https://tools.ietf.org/html/draft-ietf-oauth-signed-http-request-03#section-4.1) defines "PoP" as the authentication scheme.

[2020-03-17 07:11] henrik-me commented on #1708
Seems like a regression from PoP? We used to use x5t/x5c (SNI) and did not have the kid previously?

[2020-03-17 09:50] ankitk20 opened #1713 "[Bug]"
**Which Version of MSAL are you using ?**
MSAL 4.9.0

**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [x] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**

**Repro**

[code]

**Expected

[2020-03-17 09:57] bgavrilMS commented on #1713
Hi @ankitk20 - this is by design and is an optimisation that AAD implemented. I'm not 100% sure, but I think it applies to all authentication flows.

How is this affecting you?

[2020-03-17 10:11] ankitk20 commented on #1713
If this is by design then, why is there a need to pass scope as a parameter to the method?

[2020-03-17 10:29] bgavrilMS commented on #1713
For consent purposes - the user still needs to consent on the required scopes. But access tokens will have all effective scopes. https://docs.microsoft.com/en-gb/azure/active-directory/develop/v2-permissions-and-consent#scopes-and-permissions

[2020-03-17 11:46] #1713 closed

[2020-03-17 12:21] chrisevans9629 commented on #1710
That was the issue.  http://localhost does not work, but http://localhost:8090 does when setup in azure and msal.  Thanks for your help!

[2020-03-17 12:21] #1710 closed

[2020-03-17 21:43] bgavrilMS opened #1715 "[Bug] WithProofOfPossesion not exposed on AcquireTokenSilent builder"
**Which Version of MSAL are you using ?**
4.9

**Platform**
net45

**Problem**
The method WithProofOfPossesion exists on all public client AcquireToken* method calls except on AcquireTokenSilent.

**Impact**
No way to use the token caching with PoP tokens

[2020-03-17 22:15] trwalke commented on #1676
This fix will now allow users to remove account data from the android broker for a specific client id. once the account is removed, it will no longer show up in the results of GetAccountsAcync().

[2020-03-17 22:44] trwalke opened #1716 "[Bug] when used on the acquireTokenParameterBuilder, WithAuthority() does not change the authority sent in broker requests."
**Which Version of MSAL are you using ?**
4.9.0

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
make an interactive request to android broker

[2020-03-17 23:25] chris-skuvault opened #1717 "[Question] Using ROPC flow in Azure AD B2C AcquireTokenByUsernamePassword returning bad request"
**Which Version of MSAL are you using ?**
MSAL 4.9.0

**Platform**
netcore3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * **[ ] Username Password**
    * [ ] Device code flow (browserless)

Other?

**Is this a new or existing app?**
new library i'm writing

**Expected behavior**
When calling AcquireTokenByUsernamePas

[2020-03-17 23:32] jmprieur commented on #1716
@trwalke
I don't think that using /organizations in .WithAuthority on an acquireToken method is a valid scenario. .WithAuthority is only to specify a tenant, I would think?
What scenario are you trying to achieve? what authority was passed in the app builder?

[2020-03-17 23:57] trwalke commented on #1716
Quick question, shouldn't the value set in AcquireTokenParameterBuilder.WithAuthority(value) be honored in brokered authentication regardless of the scenario?

[2020-03-18 01:55] IhnatKlimchuk commented on #1707
@bgavrilMS Any updates? @henrik-me I haven't received answer, can you please remove label?

[2020-03-18 08:58] bgavrilMS commented on #1707
Thanks for following up @IhnatKlimchuk - this may well be a B2C bug. I'll investigate and follow up.

[2020-03-18 09:07] bgavrilMS commented on #1717
Looks like a configuration issue or a B2C bug. Needs investigation. @jennyf19 - do you know if this is supposed to work, especially with a graph scope?

[2020-03-18 09:08] bgavrilMS commented on #1717
PS: thanks for using ROPC for testing purposes and not hopefully not in an app / website :)

[2020-03-18 14:20] #1603 closed

[2020-03-18 14:20] #1615 closed

[2020-03-18 14:20] #1696 closed

[2020-03-18 14:20] #1708 closed

[2020-03-18 14:20] #1715 closed

[2020-03-18 14:26] bgavrilMS commented on #1695
Have a look at the sample "desktop app calling web api" https://docs.microsoft.com/en-gb/azure/active-directory/develop/authentication-flows-app-scenarios#a-desktop-app-calling-a-web-api-on-behalf-of-a-signed-in-user. Feel free to ask more questions if you get stuck.

[2020-03-18 16:26] jmprieur commented on #1717
@chris-skuvault. If you are using a B2C authority, you can only request a scope for a B2C Web API? I don't think that B2C can call MSGraph. Adding @mmacy to confirm
cc: @bgavrilMS @jennyf19

[2020-03-18 17:20] mmacy commented on #1717
@jmprieur I am not sure on this, perhaps @JasSuri or @yoelhor can help out.

[2020-03-19 10:50] IlyaSemenchenko commented on #1628
Hi @jennyf19 we got the same error on our test device with MSAL 4.9.0 version.
Are you going to complete PR and fix the issue?
Thanks

[2020-03-19 14:59] rmotyka commented on #1476
In appsettings.json in AzureAd add ClientSecret with proper value it helped me with the same exception.

[2020-03-19 16:10] bgavrilMS opened #1719 "[Bug] AcquireTokenForClient throws a null reference exception when using a cert in .cer format / without private key"
**Which Version of MSAL are you using ?**
4.10

**Platform**
netcore (did not test net45, probably the same)

**What authentication flow has the issue?**
Client Creds

**Repro**

[code]

**Expected behavior**
A nice exception telling me to use a certificate that can be used for signing.

**Actual behavior**
System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an

[2020-03-19 17:19] jennyf19 commented on #1628
@IlyaSemenchenko can you send me an email? we are unable to repro this and will send you a private build to try. thanks. (jeferrie@microsoft.com)

[2020-03-19 19:06] Zimmergren commented on #1609
I've seen similar issues, and it looks like the redirect uris come back incorrect for my requests. I make a request to the Front Door url, but the b2c returned request persists on containing the azure website backend url as a redirect url (which isn't an allowed redirect uri, as we use the domain for front door).

Is there any update on this topic, or any output to share from the private e-mail di

[2020-03-19 21:02] chris-skuvault commented on #1717
@jmprieur I might be missing something but will try and sum up my experience trying to resolve this issue. I would appreciate any additional guidance you can give.

An app registered in azure ad b2c tenant doesn't support the use of the mircosoft graph api permissions set on the registered application attached to the tenant?

I tried removing the ms graph scope and only supplying the openid and of

[2020-03-20 00:06] kakins commented on #1695
Thank you for the response.  After glancing through the documentation you linked, I'm not really sure that helps me answer my question.   Most of those steps I have completed.  The tricky part is getting to the specific configuration of Azure Function authentication with AD.

The web app scenario mentioned in the docs you linked just applies to calling the Graph API from a desktop app, which is al

[2020-03-20 05:59] GGorelko commented on #1685
The issues I'm currently facing with similarly are related to the bug above (package version 4.9). The web app is spinning up multiple threads to send requests acquiring access tokens for Confidential client and I can see from time to time exceptions like below (any hints how to work around this)?:

           `ConfidentialClientApplicationBuilder appBuilder =
            ConfidentialClientApplica

[2020-03-20 07:53] dpaulino commented on #1671
Looks like ADO is not set up for MSAL. This is really frustrating for me, but I will close this ticket now.

[2020-03-20 08:01] #1671 closed

[2020-03-20 09:47] JasSuri commented on #1717
Azure AD B2C Application registrations **cannot** request any tokens for Microsoft APsI, or Microsoft Services.
Azure AD B2C Application registrations **can**  request any tokens for your own APIs and their corresponding Application Registrations, by passing in their identifierURI and Scope in the Scopes parameter in MSAL..

Unfortunately, our doc has a bug, when using the Application Registration

[2020-03-20 12:54] adrienbarde commented on #1678
finally we updated ADFS to 2019 but I still get the error "MSIS9601: The 'resource' parameter is missing in the request. Send the 'resource' parameter that contains the resource identifier's value."

[2020-03-20 16:32] jmprieur commented on #1678
Did you apply service pack KB 4490481 to Windows Server?
See details in https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-adfs-support#msal-connects-directly-to-ad-fs

[2020-03-20 20:08] chris-skuvault commented on #1717
@JasSuri Thanks this helped me figure it out! I don't actually need my users to interact with graph api directly and instead can just use my app registration permissions. I had already setup a app with a client secret for this purpose. Is there a problem using app registration for both public and client operations?

In my case I'm using the public client to acquire the username and password and th

[2020-03-22 10:51] adrienbarde commented on #1678
Yes the service pack is installed. I Tried to add WithExtraQueryParameters but i still got the error

[code]

[2020-03-23 08:19] bgavrilMS commented on #1695
@kalyankrishna1 @TiagoBrenck @jmprieur  - do we have samples for Azure Functions integrating with AAD? I believe the scenario here is protecting an API that's hosted with Azure Functions..

[2020-03-23 10:23] adrienbarde commented on #1678
Here is my Fiddler trace

![image](https://user-images.githubusercontent.com/5081583/77306965-bace6880-6cf8-11ea-95b6-96588a1fb351.png)

[2020-03-23 11:55] bgavrilMS commented on #1685
@GGorelko - could you log a separate issue for this please? We treat null reference exceptions as high priority bugs.

[2020-03-23 12:12] bgavrilMS opened #1721 "[Internal Request] Remove MATS ?"
**Which Version of MSAL are you using ?**
MSAL 4.9

**Platform**
all

We already have reports of MATS telemetry introducing bugs ... see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1685
There is also a perf impact of collecting and managing all that data.

If MATS is a no-go in the medium-long term, we should remove it.

[2020-03-23 18:52] Mephisztoe opened #1723 "[Bug] Keychain access broken when using Hot Restart and Xamarin.Forms"
**Which Version of MSAL are you using ?**
MSAL 4.9.0

**Platform**
Xamarin.Forms .NET Standard 2.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is th

[2020-03-23 19:50] jmprieur commented on #1695
@kakins :
Did you see https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-configuration#token-validation-in-azure-functions ?

[2020-03-23 22:30] trwalke commented on #1676
Released in 4.10

[2020-03-23 22:30] #1676 closed

[2020-03-23 23:32] kakins commented on #1695
@jmprieur No I don't believe I did!  I searched high and low for something resembling that but couldn't find it (via Google of course).  Thank you I will be taking a look!

[2020-03-24 02:41] mremkiewicz commented on #1678
From my perspective, I didn't find the 4490481 hotfix installed.  However, I did install KB4541331, based on the Microsoft Update Catalog and how I interpret the catalog, KB4541331 supersedes 4490481 hotfix.  Correct me if I'm wrong.

With that said, I am still getting the same error:
"MSIS9601: The 'resource' parameter is missing in the request. Send the 'resource' parameter that contains the res

[2020-03-24 03:50] jmprieur commented on #1678
@trwalke : do you have an idea?

[2020-03-24 12:05] rikyuz opened #1724 "[Bug] Can't navigate back from ToS and Privacy Statement sites in consent prompt"
**Which Version of MSAL are you using ?**
MSAL 4.9.0

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**

[2020-03-24 13:26] bgavrilMS commented on #1723
Can you get your app to work without Hot Restart?

[2020-03-24 13:41] Mephisztoe commented on #1723
That's a good question. Last time I did, it worked. However, right now, I don't have a Mac available to test it.

Also, actually got it to work late evening yesterday by editing the keychain access group identifier. For reasons I don't understand, something seems to expect the string matching the bundle identifier. The moment I used the apps' bundle-identifier everything fell magically into place

[2020-03-24 13:47] bgavrilMS commented on #1723
Hot Restart is aimed at making quick changes to the XAML / UI of the app. According to their blog `It supports changes to code files, resources, and references`. I don't think they support changes to the Entitlements...
Not sure if there's much we can do for this on MSAL side, but happy to help with keychain access issues.

[2020-03-24 13:47] #1723 closed

[2020-03-24 13:51] bgavrilMS commented on #1724
I tried with a .net app (not UWP) and those clicking those links makes the system browser pop up and navigate.
I can confirm the issue on UWP though, clicking those links leads to the embedded browser navigating to the TOS page itself.

Would it be possible for the TOS page to have a url "back" button instead? That might work.

The control we use to perform authentication - WebAuthenticationBroker

[2020-03-24 13:54] bgavrilMS commented on #1724
The issue will likely be fixed when we integrate with WAM, tracked by https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/643

[2020-03-24 14:00] rikyuz commented on #1724
I have tried to add a back button to the page like so:

`<a href="#" onclick="history.go(-1)" class="w3-button w3-theme-d4">Back</a>`

This however doesn't navigate back to the consent prompt but instead goes to the home page of office.com for the account I'm signing in with.

@bgavrilMS do you have any idea when to expect this to be fixed?

[2020-03-24 14:08] bgavrilMS commented on #1724
I'll leave the issue open since the workaround doesn't work. @jmprieur can advise on next steps. I'll contact the WAB team for guidance on this.

[2020-03-24 14:09] rikyuz commented on #1724
@bgavrilMS thanks, I'll stay tuned!

[2020-03-24 19:06] bgavrilMS opened #1726 "[Bug] CryptographicException when using CNG certificate"
**Which Version of MSAL are you using ?**
4.10

**Platform**
net45 (does not repro on netcore)

**Repro**

ClientCreds with a certificate generated from ADFS 2019 or any CNG certificate
Simplest is to run the integration test `ClientCreds_WithCertificate_Adfs_Async` which will download such a certificate...

Expected: MSAL should fetch a token
Actual: Cryptographic Exception

System.Security.Crypt

[2020-03-25 13:01] bgavrilMS opened #1728 "[Feature Request] Add an enum that indicates the source of a token - cache, IdP or broker."
**Is your feature request related to a problem? Please describe.**
Services need to monitor and alarm around cache hits, including the token cache.

**Describe the solution you'd like**
`AuthenticationResult.TokenSource`

**Describe alternatives you've considered**
Logs and ExpiresOn property can also be used but logs require lots of post-processing and ExpiresOn cannot be used reliably.

[2020-03-25 14:05] jmprieur commented on #1728
@bgavrilMS : would we want it to be a public property?

[2020-03-25 14:11] bgavrilMS commented on #1728
Yes, this would benefit our customers in Web Api / Web Api and Daemon scenarios at scale. Some of hte issues they are facing are described below. This improvement hope to address problem 4.

Problem 1: if a customer brings online a large number of machines at once (e.g. during a big scale up), then each of these machines will go to AAD to fetch a token, even though the token is identical
Solution:

[2020-03-25 15:29] henrik-me commented on #1728
Docs and samples should be updated to showcase usage of this. Similar to logging to be on by default.

[2020-03-25 18:31] rikyuz commented on #1724
@bgavrilMS did you hear back from the WAB team? @jmprieur do you have a solution how to overcome this problem?

[2020-03-25 18:53] jmprieur commented on #1724
@rikyuz :the WAB team has a work item in progress to fix this (for a future version of Windows)

Do you need to sign-in AAD only users? or also AAD + MSA?
If you want to sign-in only Work and School accounts (AAD), then this sample might help you: https://github.com/azure-samples/active-directory-dotnet-native-uwp-wam : it's leveraging WAM (which does not yet support AAD+MSA)

[2020-03-25 19:29] jmprieur commented on #1724
no, indeed, you cannot use WAM in that case.
Removing the "bug" as this is not an MSAL.NET bug, but an external issue (with Windows), which they are going to fix.
Do you agree to close the issue @rikyuz  ?

[2020-03-25 19:31] rikyuz commented on #1724
@jmprieur I guess we don't have a choice. You may close this issue.

Is there any way for me to monitor how the fix implementation is progressing? Is there any time estimate?

[2020-03-25 20:17] jmprieur commented on #1724
I'll ask the Windows team.

[2020-03-26 19:09] jmprieur commented on #1724
@rikyuz :The Windows team advised that you use FeedbackHub / feature request to track it

[2020-03-26 19:09] #1724 closed

[2020-03-26 19:13] rikyuz commented on #1724
@jmprieur All right. Thank you for helping out!

[2020-03-26 20:44] chris-skuvault opened #1731 "[Feature Request] If Authority is Azure B2C then use "name" as "perferred_username""
**Is your feature request related to a problem? Please describe.**
Currently when requesting a token from using `app.AcquireTokenByUsernamePassword` the username is not getting set when `app.GetAccountsAsync()` is called. This is causing the lookup in the token cache to be difficult to use. I would like to be able to look in cache for username property to filter the account.

According to document

[2020-03-27 01:22] kakins commented on #1695
@jmprieur This was very helpful -- almost what I was looking for.  It looks like the project you referenced does the token verification inside the Azure Function.  I'm interested in using the Azure Function "Easy Auth" method if possible, and I still haven't found documentation or working example for that.

[2020-03-27 04:16] maliksahil commented on #1695
@kakins this may help - https://docs.microsoft.com/en-us/archive/blogs/mihansen/azure-active-directory-authentication-easy-auth-with-custom-backend-web-api. Any reason why you can't just validate the token?

[2020-03-27 09:13] IlyaSemenchenko commented on #1628
Hi @jennyf19 , as you already have a fix for the issue, when could we expect new version with the fix?

[2020-03-27 15:58] bgavrilMS commented on #1731
Thanks for the detailed feature request @chris-skuvault. @jmprieur , @jennyf19  - what do you think?

[2020-03-27 16:07] pdemro commented on #1476
Make sure your ClientSecret/ClientId are not missing!  This was my issue as well.

[2020-03-27 16:45] jennyf19 commented on #1731
Thanks @chris-skuvault ...I answered in the [other issue](https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/issues/64) as well. Enabling the "name" claim in the id_token means you can filter the name out and display it to the user, if you want. You cannot get the user name from the MSAL Account, like you could with an AAD only application. Our MSAL cache just looks for the pr

[2020-03-27 16:45] #1731 closed

[2020-03-29 15:27] kakins commented on #1695
@maliksahil No particular reason I _can't_ validate the token inside the function.  I just assumed there would be some sort of documentation for using the Azure Functions Easy Auth authentication options configured in Azure with MSAL.NET.

That being said, using this example greatly helped and ended up resolving the issue for me: https://docs.microsoft.com/en-us/azure/active-directory/develop/scen

[2020-03-30 09:09] nexxuno commented on #636
So a null check on `data` should be better than a trycatch. The problem is even worse when you start having other handlers (for other application logics) in the OnActivityResult. I'll try the null check workaround and wait for the fix.

[2020-03-30 14:06] bgavrilMS commented on #715
A few questions:

1. For client credentials, I think this is not a valid scenario - i.e. scopes must always be requested
2. For AcquireTokenSilent - how should MSAL behave? If there are 0 tokens, should we return an AuthenticationResult made up of an IdToken only?

[2020-03-30 15:59] jmprieur commented on #715
- yes, indeed, @bgavrilMS : for client credentials one needs to profile a "resource/.default" scope
- AcquireTokenSilent yes, I think that IDToken only would be good. An alternative is not allow 0 scope if for AcquireTokenSilent. Maybe that's better.
- Also OBO requires a scope.

[2020-03-30 19:08] bgavrilMS commented on #715
@jmprieur - thx for clarifications especially around OBO

I can now confirm that B2C does not issue an access token by default. So this will be some extra work required.

I think AcquireTokenSilent should allow 0 scopes. Let me see if I can serve the Id Token from the cache.

[2020-03-30 19:33] henrik-me opened #1733 "[Feature Request] Show url in sign-in dialog/window hosting the embedded browser"
The “Sign in to your Microsoft account” does not show the URL being requested. There is no way to tell if this is a legitimate request or if I am being phished/compromised somehow.

**The issue is described in more details here:**
https://developercommunity.visualstudio.com/idea/904445/security-issue-sign-in-to-your-microsoft-account-d.html

**Current:**
![image](https://user-images.githubusercont

[2020-03-30 19:59] jmprieur commented on #1733
@henrik-me : and we agree that
1) this is in the embedded web view?
2) that would be an opt-in behavior?

[2020-03-30 21:12] tFable commented on #1329
Hey @henrik-me , @bgavrilMS . We are still observing this issue. Is this on the radar to fix in the near future?

Our use case is Managed Apple ID's ("Apple ID for Business".) Passwordless is skipped and we need to login with the Password flow. When doing a trace, it looks like Apple is including the "login_hint=" as a query parameter when POSTing to Azure AD.

[2020-03-31 10:51] bgavrilMS commented on #1329
@tFable - I see the issue on the AAD service on our internal tracker and I asked for an update.

[2020-03-31 13:54] bgavrilMS commented on #715
Just so we're on the same page:

- AcquireTokenXXX, on B2C, returns an AuthResult that looks like this:

![image](https://user-images.githubusercontent.com/12273384/78034186-48e0c980-735f-11ea-8a32-6abd1d2e5fbd.png)

ExpiresOn is a struct, so it cannot be null. That value is the default (DateTime.Min).

- AcquireTokenSilent always perfoms a refresh_token flow
- OBO and ClientCreds do not support t

[2020-03-31 16:16] #1581 closed

[2020-03-31 16:16] bgavrilMS commented on #1581
Probably not interesting at this point. HTTP telemetry allows us to add more data points if needed.

[2020-03-31 22:11] aprilPE opened #1736 "Back Button on Login oAuth throws access denied error code"
**Which Version of MSAL are you using ?
.Net 4.9

**Platform**
Net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?** B

[2020-04-01 01:07] jennyf19 commented on #1491
@rich3737 @WilliamWatterson86
This issue seems to be fixed in iOS 13.4. See linked issue for more details ->
"The original issue was an Apple bug and was caused by a race condition between Apple ID extension returning result and ASWebAuthenticationSession response handling (webkit was getting cancelled error -999)."

[2020-04-01 05:52] mike7ang1rdz opened #1737 "[Bug] Windows integrated authentication Azure AD and WinForms, Integrated Windows Auth is not supported for managed users"
**Which Version of MSAL are you using ?**
 MSAL 4.10

**Platform**
.net 4.6.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing

[2020-04-01 13:54] WilliamWatterson86 commented on #1491
@jennyf19 - just tried this and you are right - working well now!  Thanks for all your help

[2020-04-01 14:34] #1716 closed

[2020-04-02 14:38] bgavrilMS commented on #1737
@trwalke - I think you investigated this some time back - is there anything else users need to do to get this flow working for managed users?

[2020-04-02 16:35] bgavrilMS commented on #715
I had a long conversation with @shoatman about the behavior of `AcquireTokenSilent` with 0 scopes. `AcquireTokenSilent` is meant to retrieve a fresh access token, not a fresh id token. MSAL was not built to handle id tokens as more than metadata, so parsing the IDToken and fetching the `exp` claim for more advance uses is uncharted territory.

As such, I've decided to follow @jmprieur 's initial a

[2020-04-02 16:54] jmprieur commented on #715
Thanks for confirming, @bgavrilMS and for following-up with @shoatman . This makes sense.

[2020-04-03 10:17] bgavrilMS opened #1739 "[Bug] AcquireTokenSilent on ADFS always hits the STS"
**Which Version of MSAL are you using ?**
4.10

**Platform**
all

**Repro**

[code]

**Expected behavior**
AcquireTokenSilent should hit the cache

**Actual behavior**
refresh_token flow is used to get a new AT every time

**Additional context/ Logs / Screenshots**
It looks like ADFS /token response lists the scopes only as "openid", even if MSAL requests "openid", "profile" "offline_access" and "

[2020-04-03 12:51] rikyuz commented on #1724
@jmprieur sorry to bother you again but I noticed that Microsoft has implemented a back button to their ToS and Privacy Statement pages which can be navigated to from the login popup:

<img width="489" alt="Microsoft Privacy Statement" src="https://user-images.githubusercontent.com/51473445/78362405-b7719180-75c2-11ea-845e-dbb299dd1518.png">

Would it be possible to ask from someone how these butt

[2020-04-03 15:55] jennyf19 commented on #1491
Thanks @WilliamWatterson86 . Will close this issue. Thank you.

[2020-04-03 15:55] #1491 closed

[2020-04-03 15:56] jennyf19 commented on #1420
The issue is fixed in iOS 13.4. See linked issue for more details ->
"The original issue was an Apple bug and was caused by a race condition between Apple ID extension returning result and ASWebAuthenticationSession response handling (webkit was getting cancelled error -999)."

[2020-04-03 16:40] jabbera commented on #1737
I have this same issue, but we are using the staged rollout functionality.

[2020-04-03 21:00] neha-bhargava opened #1742 "[Bug] IWA fails if 2 work and schools accounts are present on machine"
**Which Version of MSAL are you using ?**
Latest

**Platform**
net classic

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app

[2020-04-03 21:42] jmprieur commented on #1742
Thansk @neha-bhargava
@bgavrilMS : I believe Pop is not implemented yet for IWA? It would depend on Kerberos implementing it?

[2020-04-03 23:05] trwalke commented on #1711
Resolved in [4.11.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-03 23:05] #1711 closed

[2020-04-03 23:05] trwalke commented on #1505
Resolved in [4.11.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-03 23:05] #1505 closed

[2020-04-03 23:05] trwalke commented on #1642
Resolved in [4.11.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-03 23:05] #1642 closed

[2020-04-03 23:05] trwalke commented on #1645
Resolved in [4.11.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-03 23:05] #1645 closed

[2020-04-03 23:06] trwalke commented on #1675
Resolved in [4.11.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-03 23:06] #1675 closed

[2020-04-03 23:06] trwalke commented on #1681
Resolved in [4.11.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-03 23:06] #1681 closed

[2020-04-04 01:15] jennyf19 commented on #1628
Fix is out today in [4.11 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.11.0)

[2020-04-04 01:15] #1628 closed

[2020-04-04 08:18] tranb3r commented on #1600
Any progress ?

[2020-04-04 08:18] tranb3r commented on #1653
Any progress ?

[2020-04-06 07:13] vipulkelkar commented on #1473
I am trying to achieve a similar thing. Using code_verifier in confidential client. The open id connect options allow us to handle options.Events.OnAuthorizationCodeReceived within which I have extracted the code verifier sent to get auth code and then acquire a access token for custom web api bu calling the token endpoint instead of using the ConfidentialClient. I get the access/refresh and Id to

[2020-04-06 09:02] bgavrilMS commented on #1742
I edited the bug to make it clear that this has nothing to do with POP. The bug is in the code that extracts the current Windows user.

[2020-04-06 09:08] bgavrilMS commented on #1736
This was discussed with the Identity leads a few days ago. It has been agreed that MSALs can translate the "access_denied" error into the "user_cancelled" error, since from the application consuming MSAL "access_denied" is not materially different than "user_cancelled", but it is confusing. The orginal intent of "user_denied" was to show that "the user denied authentication", e.g. by clicking "bac

[2020-04-06 13:54] bgavrilMS commented on #1653
So this involves providing support for android10 framework. We are currently on android9. There are 2 ways of doing this:

1. Add a new target to MSAL

PROS: backwards compatibility
CONS: difficult to maintain 2 different android versions (we'd need to run 2 sets of tests etc.)

2. Replace android9 with android10

PROS: easier to maintain
CONS: not backwards compatible

[2020-04-06 14:18] aprilPE commented on #1736
As long as I know access_denied and consent_required are not thrown in any other scenarios, then I am ok with looking for these specific error codes.

[2020-04-06 14:35] bgavrilMS commented on #1736
I believe `consent_required` can also be created if the user refuses to consent the scopes that you ask for. So it's a somewhat different use case ...

[2020-04-06 14:44] aprilPE commented on #1736
If they consent but then later remove that consent, is consent_required the error message thrown when next log attempt is made by my application?

[2020-04-06 14:49] bgavrilMS commented on #1736
I'm sorry @aprilPE , I don't know the answer to that question. Consent is handled by the AAD service itself, not by the SDKs. The SDKs only pop-up a browser. Perhaps you can experiment a bit with this yourself?

I would expect that if a user removes consent, the following will happen:

1. AcquireTokenSilent will continue to work for about 1h, since Access Tokens are not re-verified
2. AcquireToken

[2020-04-06 15:32] aprilPE commented on #1736
thanks.  I'll try it out and let you know.

[2020-04-06 16:36] eprofeta opened #1743 "Exception in token acquisition when going through a proxy with credentials (HTTP response 407 Authentication Required)"
I am using  IClientApplicationBase.AcquireTokenSilent and IPublicClientApplication.AcquireTokenInteractive in a Windows desktop app (based on
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-windows-desktop).
The initial request sent:
CONNECT login.microsoftonline.com:443 HTTP/1.1
Host: login.microsoftonline.com
If sent through a proxy with username/password, the proxy

[2020-04-06 16:37] silkfire opened #1744 "[Feature Request] Support for .NET Standard 2.0/2.1"
Is there any reason why this package is stuck at .NET Standard 1.3 and not being multi-targeted together with the more current .NET Standard 2.0 or 2.1?

[2020-04-06 16:40] bgavrilMS commented on #1743
Which call exactly is returning the 407 error? It may help to capture a Fiddler trace. Is it the call to /authorize endpoint (which is not handled by MSAL) or some other call ?

[2020-04-06 16:50] bgavrilMS commented on #1744
MSAL does a things which are tightly coupled with the framework: pops up browsers, stores tokens securely and a bit of cryto work.

As such, we've decided to target a lot of frameworks explicitly and provide the best experience for each of these platforms. For example, on .net classic we can host a browser in a win forms pane. On .net core, we can only use the system browser. Some defaults are als

[2020-04-06 16:55] eprofeta commented on #1743
[4524_Full.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4439749/4524_Full.txt)

[2020-04-06 16:59] eprofeta commented on #1743
The code is (snippet)
IPublicClientApplication clientApplication = PublicClientApplicationBuilder.Create(clientID)
                .WithAuthority(authorityURI)
                .Build();
AuthenticationResult authResult = await clientApplication.AcquireTokenInteractive(scopes).ExecuteAsync();

[2020-04-06 16:59] bgavrilMS commented on #1743
MSAL provides an extensibility point so that you can inject your own HttpClient, which you can configure with your proxy, including proxy auth.

As for when the browser pops up, there aren't really that many options. The embedded browser which you use is really just Edge. I would assume your browser is already configured to use this proxy?

[2020-04-06 17:03] eprofeta commented on #1743
Attaching stack trace for
AuthenticationResult authResult = await clientApplication.AcquireTokenSilent(scopes, user).ExecuteAsync();
[StackTraceForAcquireSilent.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4439779/StackTraceForAcquireSilent.txt)

[2020-04-06 17:04] eprofeta commented on #1743
Yes browser is already configured. Would the HttpClient option work for both interactive and silent acquisitions?

[2020-04-06 17:06] bgavrilMS commented on #1743
Yes, if the browser is already configured, configuring the HttpClient should do the trick.

[2020-04-06 17:07] eprofeta commented on #1743
OK. I will explore this direction. Thanks!

[2020-04-06 17:24] bgavrilMS commented on #1726
Quite a few bugs around certificate usage in MSAL now ... @henrik-me @trwalke  Perhaps it's time to bite the bullet and upgrade to use Wilson?

[2020-04-06 17:36] jamesmontemagno commented on #1653
I have put in the PR for this for Option 1. It will need some test heads to be generated for Android 10, which is think wouldn't be too hard as they are just shim head projects.

Look at the SDK I think an issue will arise if a developer targets Android 10 today using the AndroidX migration package. It will upgrade your library automatically at build time to use AndroidX, however there is a hardco

[2020-04-06 18:06] jmprieur commented on #1726
yes, that would be a good optimization if this works for all platforms? (or would we have two code paths)?

[2020-04-06 20:21] Debro012 opened #1747 "[Bug] AuthenticationException: Code: generalException when attempting to authenticate and make calls to Graph APIs within a simple console app on an Azure VM."
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**4.11.0**

**Platform**

**.Net Core 2.1**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    *

[2020-04-06 21:56] bgavrilMS commented on #1726
Well we would use Wilson for 2 things: Client Creds and PoP, which are really only present on .net classic and .net core;

Wilson has bindings for .net classic 4.5 and .net standard 2.0

So in the short term, we could move to use Wilson without changing our supported frameworks. In the longer term we might have to take a breaking change if we will want to support PoP on UWP for example, or if we w

[2020-04-06 22:09] bgavrilMS commented on #1747
1. I assume you used actual values for "clientID", "tenantID" and "clientSecret" ?
2. We do not own the Graph SDK. Could you provide a repro for the MSAL client only please? Or log the bug on the Graph SDK folks.

if instead of creating the graph object you just call and this fails, it's a problem of MSAL's

[code]

Otherwise, it's a graph problem: https://github.com/microsoftgraph/msgraph-sdk-dot

[2020-04-06 22:12] jmprieur commented on #1726
Let's do that, then, and if we see the value, let's move to 5.0 (given that it's only about platforms)

[2020-04-07 07:35] IhnatKlimchuk commented on #1707
@bgavrilMS any updates? Can I help you?

[2020-04-07 09:47] bgavrilMS commented on #1707
Sorry @IhnatKlimchuk , did not make any progress on this. In your repro steps above, at step 2, can you add a `.WithForceRefresh(true)` so that we're sure the cache is bypassed please?

I think the issue is not related to the SDK, as we're getting tokens, but to the service. @JasSuri - can you help or add somebody who knows more about this?

[2020-04-07 09:54] JasSuri commented on #1707
AAD B2C does not update the claim set when doing a silent login (refresh token flow). Therefore the behaviour you're seeing is expected. If you have the user go through the "profile edit" journey, you can obtain the updated claims based on their updates. But if you modify their data on the backend with Graph API, the new claims will not be reflected in the users tokens until a fresh authentication

[2020-04-07 09:56] bgavrilMS commented on #1213
Just an update on this - B2C have now implemented support for http://localhost:<port> so AcquireTokenInteractive will work for the Identity Providers that allow this kind of redirect uri. They will support `http://localhost` (no port) soon.

[2020-04-07 10:38] bgavrilMS opened #1748 "[Documentation] IWA for MSA always fails because MSAL ignores 406 (bad content) error"
**Which Version of MSAL are you using ?**
4.10

**Platform**
net45, netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

Attempt IWA flow for an MSA user

**Expected b

[2020-04-07 14:42] bgavrilMS opened #1750 "[Feature Request] OIDC metadata cache should ignore tenants"
**Which Version of MSAL are you using ?**
4.11

**Platform**
all

**Scenario**

1. AcquireToken* using tenant1
2. AcquireToken* using tenant2

**Expected behavior**
A single call to OIDC metadata should be performed

**Actual behavior**
2 calls are performed (one for each tenant)

**Possible Solution**
We have discussed with the server-side folks and they have agreed that we can cache by environme

[2020-04-07 16:12] henrik-me commented on #1398
@jmprieur : Thinking this feature should be solely about supporting Edge? Perhaps a separate feature to potentially support a specific netcore3/3.1 target/netstandard?

Asides:
For WebView2 (Edge Chromium): https://docs.microsoft.com/en-us/microsoft-edge/hosting/webview2
For WebView (Wrapping UWP controls in WinForms and WPF): https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/wpf-

[2020-04-07 16:57] #1516 closed

[2020-04-07 17:05] #1541 closed

[2020-04-07 17:12] jmprieur commented on #1561
Closing as this was answered

[2020-04-07 17:12] #1561 closed

[2020-04-07 17:13] jmprieur commented on #1612
Closing as this was answered

[2020-04-07 17:13] #1612 closed

[2020-04-07 17:14] jmprieur commented on #1636
This is expected; client credentials (AcquireTokenForApp) gets tokens for the app, not the user, and therefore there are no user accounts

[2020-04-07 17:14] jmprieur commented on #1636
Closing as this was answered

[2020-04-07 17:14] #1636 closed

[2020-04-07 17:16] jmprieur commented on #1658
We have have token cache implementations for:
- public client applications: https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet/wiki/Cross-platform-Token-Cache
- confidential client applications: https://github.com/AzureAD/microsoft-identity-web/wiki/token-cache-serialization

[2020-04-07 17:16] jmprieur commented on #1658
Closing as this was answered

[2020-04-07 17:16] #1658 closed

[2020-04-07 17:17] jmprieur commented on #1667
@gonzobrains : in the Azure AD world this is entierely driven by Azure AD (and therefore by policies). The client only displays the HTML page sent by Azure AD.

[2020-04-07 17:17] jmprieur commented on #1667
Closing as this was answered

[2020-04-07 17:17] #1667 closed

[2020-04-07 17:20] jmprieur commented on #1698
@trwalke @bgavrilMS : I believe this was fixed?

[2020-04-07 17:22] jmprieur commented on #1717
Closing as this was answered

[2020-04-07 17:22] #1717 closed

[2020-04-07 17:22] jmprieur commented on #1736
Closing as this was answered

[2020-04-07 17:22] #1736 closed

[2020-04-07 17:23] jmprieur commented on #1743
Closing as this was answered

[2020-04-07 17:23] #1743 closed

[2020-04-07 18:25] jmprieur commented on #1398
@henrik-me : yes, Edge or Chronium?

[2020-04-07 20:58] henrik-me commented on #670
Will pick up later. Un-assigning form Travis

[2020-04-07 20:59] henrik-me commented on #901
Unassigning Travis. Open for all. Not part of current planned release

[2020-04-07 21:01] henrik-me commented on #1683
@trwalke to add more details on why P2

[2020-04-07 21:04] henrik-me commented on #1536
Please re-create cert and get the pipeline updated.

[2020-04-07 21:31] westleyMS commented on #1561
Thanks for your help @jmprieur it was an issue with google requiring using a system browser and not the web browser control.

[2020-04-07 23:49] trwalke commented on #1683
The customers that have reported this have indicated that this issue does not interfere with the functionality of the authentication scenarios, setting priority to P2

[2020-04-08 01:09] trwalke commented on #1698
yes

[2020-04-08 13:16] Debro012 opened #1751 "[Documentation] HttpClient factory needs an example"
### Documentation Related To Component:
Need detailed documentation or example for implementing IMsalHttpClientFactory.

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue
My application will be used behind a firewall, and I need to utilize a proxy to mak

[2020-04-08 13:21] Debro012 commented on #1747
Thank you @bgavrilMS . Upon further research I have discovered the issue is in relation to proxy config. I am will need to build an understanding on IMsalHttpClientFactory, for I can utilize an HttpClient configured to go through the proxy. However, I have opened the following request, for no detailed examples are available for reference: https://github.com/AzureAD/microsoft-authentication-library

[2020-04-08 14:13] bgavrilMS commented on #1751
I added an example at:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/HttpClient

Could you take a look please?

[2020-04-08 14:14] bgavrilMS commented on #1747
Sounds good, let's follow up the discussion on the documentation issue you've opened.

[2020-04-08 14:14] #1747 closed

[2020-04-08 14:30] Debro012 commented on #1751
This is EXACTLY what I needed. Thank you for the example and the quick reply!

[2020-04-08 15:13] bgavrilMS commented on #1751
Good to hear it works. @jmprieur - could we get the msdn docs updated as well?

[2020-04-08 15:13] #1751 closed

[2020-04-08 18:40] bgavrilMS commented on #1750
@jmprieur @henrik-me - I think I'm going to go one step further and not call OIDC at all? This is what Java does.  I talked to Jason about possible impact on cross-cloud scenarios, and there shouldn't be any. Thoughts?

We can add an option to toggle this later on, if needed, smth like:

`.WithOIDCDiscovery(Discovery.PerTenant)` with possible values `None` (default), `PerTenant` and `PerAuthority`

[2020-04-08 19:55] JohnLivermore opened #1754 "[Bug] AndroidManifest.xml hardcoded android:scheme issue"
We are using the Microsoft.Identity.Client package (4.7.1) for leveraging the MS identity platform.  As part of the setup for this, you need to add a line to your AndroidManifest.xml file with ...

![image](https://user-images.githubusercontent.com/1489667/78827675-19f2d500-79a9-11ea-8d8e-c0a098f9851b.png)

However, this is a hardcoded value that we need to change during our build process.

Can so

[2020-04-08 23:03] mskilling opened #1755 "[Documentation] Add Examples for Razor Pages"
I am new to web app creation and I would like there to be some examples of using this authentication library with razor pages. All examples seem to be MVC usage and with my limited knowledge I am not sure how to implement differently for razor pages.
I am writing a web app that authenticates with a Microsoft account and then needs to connect to an SQL database on behalf of the user signed in, it d

[2020-04-09 02:45] jmprieur commented on #1750
@bgavrilMS  In which cases would we skip it? for Azure AD?
Do we care if we don't get the issuer aliases? (I though they were needed to know the preferred one?

[2020-04-09 05:29] henrik-me commented on #1750
@jmprieur we would always skip it. Suggesion from Bogdan is though to potentially add functionality that would enable calling the OIDCDiscovery endpoint. Not having to make this call is a huge performance gain. We don't really need anything from there any way... will be a benefit in many scenarios. Not sure if there will be any sort of impact with the work for the CloudInstanceAware feature? @bgav

[2020-04-09 05:31] henrik-me commented on #1750
Aside: ADAL does this per Authority today.

[2020-04-09 08:29] bgavrilMS commented on #1750
I am proposing to skip the call to get the OIDC metadata:

https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration

We only use the `authorization_endpoint` and `token_endpoint` from there

The logic around instance metadata (i.e. aliases and authority validation) remains the same.

[2020-04-09 10:54] bgavrilMS commented on #1755
@kalyankrishna1 @TiagoBrenck @jmprieur  can answer this question better.

My limited understanding is that Razor is similar to the view part of MVC. Integration with AAD is done more at controller level and via configuration of the services, which remain largely the same.

[2020-04-09 11:19] bgavrilMS commented on #1398
Deliverable 1: Edge on Windows (by copying the .net classic implementation into the extension library)
Deliverable 2: (needs a spike) Edge Chromium on Windows via webview2
Deliverable 3: (needs a spike) Support for Mac and Linux via https://github.com/SteveSandersonMS/WebWindow (thanks @mjcheetham )

I think this work item covers deliverable 1. Personally I would spike deliverable 3 directly befor

[2020-04-09 12:44] bgavrilMS opened #1756 "[Feature Request] Prevent HttpClient port exhaustion"
**Which Version of MSAL are you using ?**
4.11

**Platform**
net45, netcore

Affects confidential clients

**Repro**

1. Do not provide a custom IHttpFactory
2. Many threads AcquireToken (e.g. web site at scale)

**Expected behavior**
MSAL should work

**Actual behavior**
After some time, an exception from HttpClient occurs complaining about port exaustion.

**Possible Solution**
There is a soluti

[2020-04-09 14:38] krlm commented on #575
@jmprieur Could you correct me if I'm wrong? The only option to force AzureAD to issue V2 access token to some custom WebApi is to explicitly set in its manifest `accessTokenAcceptedVersion` to 2?
How then I can do that with CLI or PowerShell, is my only option graph api?

[2020-04-09 15:24] jmprieur commented on #1750
Thanks for explaining.  Yes: that would always work for Azure AD.
We'd need to check for national clouds though ?

[2020-04-09 15:32] bgavrilMS commented on #1750
I don't think that for national clouds it is different ... https://login.microsoftonline.de/common/v2.0/.well-known/openid-configuration

I need to check for B2C and ADFS. But typically these 2 endpoints (token and authorize) are formed by adding the suffix `oauth2/v2.0/authorize` to the authority.

[2020-04-09 16:32] TiagoBrenck commented on #1755
@mskilling do you need to acquire an access token as well?

[2020-04-09 17:35] henrik-me commented on #1683
@trwalke please add more details on where this exception is thrown and what code is not executed.

[2020-04-09 17:36] henrik-me commented on #1683
@trwalke : is this a debug only scenario? if yes, please close.

[2020-04-09 17:37] henrik-me commented on #1683
@tipa ^^

[2020-04-09 17:38] henrik-me commented on #1673
Fixed in extensions

[2020-04-09 17:38] #1673 closed

[2020-04-09 17:44] henrik-me commented on #1748
Triage: MSA is not expected to work with IWA, however with WAM support we should be able to get tokens for some scopes/resources. @jmprieur to update docs.

[2020-04-09 17:50] henrik-me commented on #1742
Triage: suggestion, use current logged in user as the fallback