[2020-07-13 09:50] negberts commented on #1928
Well, after that the access token that is generated does not give acccess to the API. This is happening both in MSAL as in ADAL. But because it happened in ADAL I tried migrating to MSAL exactly because of the related bug you mentioned.

I've tried another version with broker support disabled and I get the same error.

I will try to investigate some options further...

[2020-07-13 10:17] bgavrilMS commented on #1928
MSAL only fetches tokens, so as long as you received a token MSAL's job is done. You can inspect the token at https://jwt.ms/
The token should be identical whether you use the broker or not.

[2020-07-13 15:08] negberts commented on #1928
@bgavrilMS thank you for your quick responses. In the end it appeared the resource/scope is case sensitive. So https://pimota.onmicrosoft.com/PimApi is a different resource than https://pimota.onmicrosoft.com/pimapi which I find a bit surprising, but okay. I did a tolower() on both sides and now it is working.

[2020-07-13 15:08] #1928 closed

[2020-07-13 15:41] bgavrilMS commented on #1928
Yeah, I also find it a bit surprising when a system is treating Uri in case sensitive way by default :(. Seems to happen a lot.

[2020-07-13 16:14] Crossbow78 opened #1932 "[Bug] Cannot use personal account to login to KeyVault"
**Which Version of MSAL are you using ?**
- Microsoft.Identity.Client 4.16.1
- Microsoft.Azure.KeyVault 3.0.5

**Platform**
.NET Core 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ]

[2020-07-13 16:39] bgavrilMS commented on #1932
Hi @Crossbow78 - please try to use use:

![image](https://user-images.githubusercontent.com/12273384/87330002-d40d5600-c52f-11ea-92eb-b798641d4987.png)

[2020-07-13 18:56] neha-bhargava commented on #1907
@HerrickSpencer As per our offline conversation, I am closing this issue as it appears to be a graph issue where the user is not getting refreshed whereas MSAL gives the correct logged in user name.
Feel free to reopen or create a new issue as appropriate.

[2020-07-13 18:56] #1907 closed

[2020-07-13 19:23] Crossbow78 commented on #1932
I have exactly that same API permission defined in my app registration.

And I've replaced the scope override in code with:
[code]
But it gives me exactly the same result, only allowing me to select Azure tenant accounts.
Note that I've already tried enabling verbose logging on the PublicClientApplication, but that didn't mention anything about the allowed audience.

Are you able to reproduce? Wha

[2020-07-13 19:38] bgavrilMS commented on #1932
This is not an MSAL issue, as MSAL does not control the dialog between the user and the Identity Provider. MSAL only pops up the browser and caches the tokens. I'm getting the same error as you by the way, so I don't think it's a configuration issue.

It's quite possible that KeyVault does not allow MSA logins.

![image](https://user-images.githubusercontent.com/12273384/87345932-c0221e00-c548-11e

[2020-07-13 20:19] Crossbow78 commented on #1932
Note that I can use the ADAL (*) library for authentication and it will work fine with a personal account and I receive my certificates, but the interactive flow is a lot less practical (I'm just copying url's from and to a console window to get past)...
This led me to believe MSAL is somehow involved in the 'negotiation' about the effective sign-in audience.

(*) Microsoft.IdentityModel.Clients.A

[2020-07-14 05:51] rajesh-naik-by opened #1934 "B2C token validation by MSAL library"
**Is your feature request related to a problem? Please describe.**
I have a generic question about token validation from msal library for dotnet, does msal library takes care of validating below attributes from the token? or is it a responsibility of consumer to validate the token?

- Signature
- exp
- nbf
- iss
- aud

**Describe the solution you'd like**
I would like to have token is being valida

[2020-07-14 10:08] janschoelchAtOK commented on #1264
Just as follow-up and that you know what went wrong: Our infrastructure team indeed found a misconfiguration in their federation infrastructure. Error was completely on our side. Thank you @bgavrilMS for your time investigating and helping me out with the logging. They wouldn't have found the solution so quickly without your ideas!

[2020-07-14 11:06] bgavrilMS commented on #1264
Thank you for following up @janschoelchAtOK , hopefully this will help other people facing the same problem!

[2020-07-14 11:38] ryanglenn79 commented on #1731
Hi all, I have parked this issue for some time while moving on with other requirements. I'm now coming back to customizing the B2C screens, however "Missing token from response". I have everything working fine and I am receiving a name claim from B2C, however when the token expires and needs to re-authenticate, the message is displayed in the email Text box of the login dialog. I may still be miss

[2020-07-14 12:43] bgavrilMS commented on #1932
I'm not sure what you mean by using ADAL, as ADAL targets the v1 endpoint of AAD, which does not support personal accounts. The flow where the user gets an url and a code in the console and they pick it up is called DeviceCodeFlow, and it is supported by both ADAL and MSAL.

I don't know why the KeyVault SDK doesn't advertise a scope, I assume it is because they are still focused on integratin wit

[2020-07-14 17:48] jennyf19 commented on #1731
@ryanglenn79
so this is coming from MSAL and the cache. B2C does not return a preferred_username, so we have no value to display there for B2C. And the webview is outside of the control of MSAL, it's presented by AAD B2C.
The way around this is to not send the account w/the request, as that's prepopulating the user name that you don't want, because that's the replacement username MSAL is using.

B

[2020-07-14 20:13] rubit0 commented on #744
On Unity with the Android Platform this problem is still here:

AndroidPlayer(ADB@127.0.0.1:34999) MissingMethodException: string string.TrimEnd(char)
  at Microsoft.Graph.BaseClient..ctor (System.String baseUrl, Microsoft.Graph.IAuthenticationProvider authenticationProvider, Microsoft.Graph.IHttpProvider httpProvider) [0x00006] in <82276935ca794febb71fef8639d57cdf>:0
  at Microsoft.Graph.GraphSer

[2020-07-14 20:44] Sebastian7112 opened #1936 "Microsoft.Identity.Client.MsalServiceException"
**Which Version of MSAL are you using ?**
MSAL 1.1 (Running older version due to compatability with Unity)

**Platform**
UWP

**What authentication flow has the issue?**
* Desktop / Mobile / HoloLens 2
    * [ x] Interactive

**Is this a new or existing app?**

**Repro**

[code]

**Expected behavior**
Authentication to work and allow application to call the **Azure Data Explorer API**

**Actual be

[2020-07-15 01:31] PeterWone opened #1937 "SHA256Cng breaks Core code"
**Preamble**
After forking your repo to have a go at fixing it myself, I discovered that you have a NetCoreCryptographyManager which means you have some awareness of the problem. Now I'm unsure whether this is a broken version of identity, or something is causing the wrong version of Connect-ExchangeOnline to be loaded. I'm investigating that at the moment so it's entirely possible I will delete t

[2020-07-15 02:38] #1937 closed

[2020-07-15 11:24] bgavrilMS opened #1938 "[Bug] MSAL throws a bad exception on AcquireTokenSilent + Broker if RT is expired"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
4.16

**Platform**
xamarin.android

**What authentication flow has the issue?**
AquireTokenSilent + broker

**Repro**

1. Configure the "sign in frequency" (e.g. to 1h to

[2020-07-15 11:33] bgavrilMS commented on #1938
Setting as P1 as 2 customers are impacted by this.

[2020-07-15 11:43] ryanglenn79 commented on #1731
@jennyf19, you are a genius, thank you so much. I was passing the account with the request. I was certain that it was required. Its working great now.

[2020-07-15 12:36] bgavrilMS commented on #1726
Also see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1937#event-3546620587 for an example of how to create this type of cert.

[2020-07-15 12:37] bgavrilMS commented on #1937
Hi Peter, this is the MSAL repository. ADAL has been deprecated and we will not fix this sort of bug there. There is at least 1 known issue with CNG certs in MSAL, but as far as I know it does not affect .net core

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1726

The issue also shows a workaround. Hope this helps.

[2020-07-15 13:41] bgavrilMS commented on #1731
@jennyf19 - great workaround! I wonder if MSAL could do more ...

- offer the IdToken as a dictionary of claim name / claim value so that developers don't have to parse it themselves
- Use the value of IdToken email if available as Account.Username ?

[2020-07-15 15:01] kevcrooks opened #1939 "[Bug] [UWP] Sign in with Apple has stopped working in Xamarin UWP"
We have recently noticed that our sign-in with Apple policy (following the instructions here: https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple) has stopped working.

When we click on the policy to open the sign in page, there's a brief spinner and then a blank screen, with just the "Connecting to a service" box at the top.
![image](https://user-images.githubuserconte

[2020-07-15 20:18] jennyf19 commented on #1939
@kevcrooks thanks for notifying us. MSAL .NET does not control the UI, maybe something changed on the B2C side or w/Apple. @adamstoffel do you have any thoughts on this? thanks.

[2020-07-15 20:25] jennyf19 opened #1940 "[Feature Request] For AAD B2C cache key, use only the uid + utid."
For AAD B2C, have the cache key be only uid + utid, without the policy. This way, we can delete all the accounts for a given user based on the uid, regardless of the policy. Right now, we can only delete the token related to the currently used policy, which is not all the tokens in the cache.

AuthCode flow
Acquire token silent
`app.GetAccountAsync(identifier).ConfigureAwait(false);`

[2020-07-16 05:47] tipa opened #1942 "[Bug] Occasional MsalUiRequiredException: AADSTS70000: The provided value for the 'code' parameter is not"
**Which Version of MSAL are you using ?**
v4.15.0

**Platform**
UWP + Xamarin.iOS + Xamarin.macOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive

**Is this a new or existing app?**
b. The app is in production, I haven't upgraded MSAL, but started seeing this issue

**Repro**

[code]

**Expected behavior**
No exception

**Actual behavior**
Occasionally, the ex

[2020-07-16 11:01] bgavrilMS commented on #1942
Hi @tipa - this looks like a service issue. MSAL gets the authorization code from the user after the interaction (via conversation with /authorize endpoint) and exchanges it for an access token.

I would recommend you open a support case for this via the Azure Portal. These are free as far as I know.

[2020-07-16 11:03] tipa commented on #1942
Ok, closing it as it's not a library issue according to you.

[2020-07-16 11:03] #1942 closed

[2020-07-16 14:03] Lele19xx opened #1943 "AcquireTokenInteractive: Object reference not set to an instance of an object"
I've implemented the msal call for both android and ios;
android it's ok (the login page is called correctly), while with iOS I've an error on the AcquireTokenInteractive call. This is the stackTrace, please help me:

  at Microsoft.Identity.Client.Platforms.iOS.EmbeddedWebview.EmbeddedWebUI+<>c__DisplayClass10_0.<Authenticate>b__0 () [0x0000b] in <1064850b8ccf4fdca41264fad5861831>:0
  at Foundati

[2020-07-16 14:49] jennyf19 commented on #1940
@bgavrilMS this is an [example](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/compare/jennyf/b2cCacheKey) of what we need. i wanted to run a build to try it out.

[2020-07-16 15:53] neha-bhargava commented on #1943
Hi @Lele19xx which version of MSAL are you using. Can you add logs as described here -- https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging and paste some logs?

[2020-07-16 15:55] bgavrilMS commented on #1940
Sure, but that logic should be moved to `SuggestedWebCacheKeyFactory.GetKeyFromResponse`

[2020-07-16 16:33] bgavrilMS commented on #1940
What do we use today? Isn't it the homeAccountId? In B2C, I believe the objectId also contaisn the policy.

[2020-07-16 17:27] jennyf19 commented on #1940
ObjectId does not have the policy, we'd have to get it from the IdToken.

[2020-07-17 05:58] Lele19xx commented on #1943
2020-07-17 07:56:24.738 MX.iOS[877:494048] (False) MSAL 4.14.0.0 MSAL.Xamarin.iOS 13.3 [07/17/2020 05:56:24 - 3e52b93a-38e4-470b-8e11-fb4ae9e74afc] [Instance Discovery] Skipping Instance discovery for non-AAD authority
2020-07-17 07:56:24.739 MX.iOS[877:494048] MSAL Info False (False) MSAL 4.14.0.0 MSAL.Xamarin.iOS 13.3 [07/17/2020 05:56:24 - 3e52b93a-38e4-470b-8e11-fb4ae9e74afc] [Instance Discove

[2020-07-17 11:57] bgavrilMS commented on #1943
Null refs originating from MSAL are always a bug.

[2020-07-17 14:36] bgavrilMS opened #1946 "Implement POP (SHR) for confidential client"
What MSAL implements today:

- [WithProofOfPossession](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/67325c7cabb9e4dbccc32c6764c865f088b8f3ad/src/client/Microsoft.Identity.Client/ApiConfig/AbstractPublicClientAcquireTokenParameterBuilder.cs#L43) API
- this is available on .NET desktop for public client only
- there exists an internal interface `IPoPCryptoProvider` for

[2020-07-17 15:09] bgavrilMS commented on #1946
CC @henrik-me - a spec for the PoP work

[2020-07-17 18:38] neha-bhargava commented on #1934
@rajesh-naik-by  MSAL does not validate or decode the access token and neither should the application team decode the access token. There is middleware library to validate the token. @jmprieur, @GeoK Any suggestions?

[2020-07-17 18:47] jmprieur commented on #1934
@neha-bhargava is right. MSAL.NET is a token acquisition library (which can acquire tokens which are not even JWT, BTW)
Only the Web API for which the token was acquire should validate tokens,  you need to use https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki

Note that this library is used by ASP.NET and ASP.NET Core
For more information, see https://docs.m

[2020-07-18 01:20] FreddyD-GH opened #1947 "MsalExtensionException constructor always throws ArgumentNullException"
**Which Version of MSAL are you using ?**
4.16.0

**Platform**
.NET Core 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
This is a new app or

[2020-07-18 01:23] jennyf19 commented on #1947
@FreddyD-GH thanks for all the details on the issue.
cc: @trwalke @neha-bhargava

[2020-07-18 01:59] neha-bhargava commented on #1943
@Lele19xx How are you setting up the public client?

[2020-07-18 13:37] Lele19xx commented on #1943
PublicClientApplicationBuilder.Create(ClientID)
                    .WithB2CAuthority(AuthoritySignInSignUp)
                    .WithRedirectUri($"msal{ClientID}://auth")
                    .WithIosKeychainSecurityGroup("xxxxxxxxxxxxxxxxx.com.microsoft.adalcache") //For IOS
                    .WithLogging(MyLoggingMethod, LogLevel.Info,
                       enablePiiLogging: true,

[2020-07-18 17:22] RamjotSingh opened #1948 "[Bug] MSAL Suggested cache key can create performance issues to due to over serialization"
**Which Version of MSAL are you using ?**
4.16.1

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x] OBO

Other? - please describe;

**Is this a new or existing app?**

[2020-07-20 07:58] bgavrilMS commented on #1948
CC @jmprieur @jennyf19

[2020-07-20 09:47] bgavrilMS commented on #1947
@FreddyD-GH - what are you trying to do ? It looks like this exception was made public by mistake, but it is not actually used by any of our extesnion points.

I think you should be fine throwing whatever exceptions you see fit and MSAL will log and rethrow them. The only "special" exception is `OperationCanceledException` to denote cancellation https://github.com/AzureAD/microsoft-authentication-

[2020-07-20 09:48] bgavrilMS commented on #1947
Since this type is unusable, I will delete it even if it is public.

[2020-07-20 10:32] FreddyD-GH commented on #1947
I don't particularly need this exception, I was only following the documentation.  For example, [the CustomWebUi documentation](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/CustomWebUi) says:

I think it may be mentioned one or two other places in the docs as well.

[2020-07-20 11:58] bgavrilMS commented on #1947
Ack, I'll check for docs and update.

[2020-07-20 13:07] #1934 closed

[2020-07-20 13:52] bgavrilMS commented on #1948
@jmprieur - would it not be enough to use home account id as the cache key? MSAL would still do the right thing and try to acquire OBO token with initial token hash...

[2020-07-20 14:26] bgavrilMS commented on #1726
Upon further investigation, it seems that Wilson is also not able to handle these certs on .net 45. So the way to move forward here is to add also target .net 461 as make a simple code change.

[2020-07-20 17:11] kalyankrishna1 commented on #1936
This involves an app having provisioning issues in the Microsoft Corp tenant. Please use the internal Stackoverflow to discuss this. This can be closed

[2020-07-20 17:18] lnhzd opened #1950 "ID token related information is lost in the second call of AcquireTokenOnBehalfOf"
To reproduce the issue, make 2 consecutive OBO calls with the same scope and same user assertion:

var result1 = Await this.confidentialApp.AcquireTokenOnBehalfOf(scopes, userAssertion).ExecuteAsync().ConfigureAwait(false);
var result2 = Await this.confidentialApp.AcquireTokenOnBehalfOf(scopes, userAssertion).ExecuteAsync().ConfigureAwait(false);

result1 has ID token, tenantId, uniqueId, accountN

[2020-07-21 07:57] RamjotSingh commented on #1948
@bgavrilMS @jmprieur  What would be the implications of using accountId as cache key but still using token hashes as token reacquire pattern? Does MSAL store along side serialized data which token was used to generate this cache entry? If this is the case then I wonder if using token hash is actually a better approach. The test bed for any key should be, it should have manageable number of tokens

[2020-07-21 08:25] bgavrilMS commented on #1948
Yes, using home_account_id as cache key this is what I am also thinking. Moreover, the original assertion for OBO will expire very 1h, so any cache entries that contain it will never be seen. This is not ok for token caches that do not support Time To Live configurations (SQL? ).

MSAL stores the assertion hash along with each access token. When you call OBO with assertion hash A1, we load all the

[2020-07-21 08:29] bgavrilMS commented on #1948
By the way @RamjotSingh - we are trying to add a few operational data points to MSAL, such as an [enum ](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1728)that tells you where the token comes from (cache or AAD). Do you have suggestion for other data points?

[2020-07-21 10:25] bgavrilMS commented on #796
This was implemented

[2020-07-21 10:25] #796 closed

[2020-07-21 10:31] bgavrilMS commented on #1105
This is not MSAL docs.

[2020-07-21 10:31] #1105 closed

[2020-07-21 10:31] bgavrilMS commented on #1130
We fixed this a while back

[2020-07-21 10:31] #1130 closed

[2020-07-21 10:33] bgavrilMS commented on #998
Will consider as part of the tenant profiles improvement.

[2020-07-21 10:33] #998 closed

[2020-07-21 10:33] #1459 closed

[2020-07-21 10:34] bgavrilMS commented on #1431
I believe this request is no longer actual.

[2020-07-21 10:34] #1431 closed

[2020-07-21 10:36] bgavrilMS commented on #1417
Thank you for considering IHttpClientFactory, please let me know if you have other suggestions on how to integrate with libraries such as Polly.

[2020-07-21 10:36] #1417 closed

[2020-07-21 10:36] #1401 closed

[2020-07-21 10:37] bgavrilMS commented on #1368
We have implemented this.

[2020-07-21 10:37] #1368 closed

[2020-07-21 10:38] #1349 closed

[2020-07-21 10:39] RamjotSingh commented on #1948
@bgavrilMS Might be worth exposing information from AAD which is useless for request tracking. MSAL allows setting correlationId headers, but if I remember correctly EvoSTS sends back a bunch of headers which are useless when contacting AAD support.

Other data point might be time taken to acquire token, since one call to MSAL can actually mean multiple calls to underlying service (config discover

[2020-07-21 10:41] bgavrilMS commented on #1339
FIDO keys should work fine. On Windows, you need to use the system browser, ideally the new Chromium based Edge, although Chrome also works as far as I know.

In the future, we will extend support to the embedded browser as well. Tracking issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1398

[2020-07-21 10:43] bgavrilMS commented on #1355
Not an MSAL issue, as there is no server side support.

[2020-07-21 10:43] #1355 closed

[2020-07-21 10:45] bgavrilMS commented on #1329
We do not have the capacity track service issues using this GitHub issues page. This enhacement has been worked on and is possibly fixed by now. Please open issues directly on the service from the Azure Portal support pages.

[2020-07-21 10:45] #1329 closed

[2020-07-21 10:46] bgavrilMS commented on #1271
As far as I know this scenario is now supported through the use of Microsoft.Identity.Web https://github.com/AzureAD/microsoft-identity-web

[2020-07-21 10:46] #1271 closed

[2020-07-21 10:50] bgavrilMS commented on #1206
Please see https://github.com/AzureAD/microsoft-identity-web - it is now possible to use any IDistributedCache cache with it.

[2020-07-21 10:50] #1206 closed

[2020-07-21 10:51] #1192 closed

[2020-07-21 10:52] #1635 closed

[2020-07-21 10:53] #1631 closed

[2020-07-21 10:54] #1579 closed

[2020-07-21 10:58] bgavrilMS commented on #1526
We have discussed about this feature internally and have decided to against it, because cache location and schema should be under MSAL's control. In the past, when developers have control over location / schema, this was causing problems when multiple apps where trying to use the same location .

[2020-07-21 10:59] bgavrilMS commented on #1485
We need to move to at least 4.6.1 to be able to work around cert issues, which are becoming very difficult to support.

[2020-07-21 11:01] #1479 closed

[2020-07-21 11:01] bgavrilMS commented on #1472
We definitely migrated off MyGet

[2020-07-21 11:03] bgavrilMS commented on #1766
I am closing this issue because it is not an SDK issue. Please open a bug on the service, as they control the content in the browser. You can do this though the Azure Portal support pages.

[2020-07-21 11:03] #1766 closed

[2020-07-21 11:04] #1721 closed

[2020-07-21 11:04] bgavrilMS commented on #1721
Not removing since there is a public API behind it...

[2020-07-21 11:06] bgavrilMS commented on #1705
Hi @fabicz - MSAL does not control the content of this dialog - the AAD service owns it. I this you have a good point, but we cannot action it.

Please open an issue / support case through the Azure Portal so that it reaches the right audience.

[2020-07-21 11:06] #1705 closed

[2020-07-21 11:11] bgavrilMS commented on #1670
This should work with system browser but not with embedded browser until we implement https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues?q=is%3Aissue+is%3Aopen+edge

[2020-07-21 11:16] bgavrilMS commented on #1940
This requires more information / a full spec before it can be actioned.

[2020-07-21 11:37] Tarunshrma commented on #783
Hi @JohnLivermore

I am facing the same issue as mentioned in this thread.. I am using a custom build config QA & made sure it is using Entitlement.plist. Have you used WithIosKeychainSecurityGroup("*") to make it work ?

Thanks
Tarun Sharma

[2020-07-21 18:03] jmprieur commented on #1105
and you cannot call Graph with social identities

[2020-07-21 19:13] dansiegel commented on #1105
@jmprieur that makes sense that Graph wouldn't work for social identities... but there is still AAD behind everything... so I would think you could ultimately use the backing AAD instance to assign users into groups and determine what group a user is in

[2020-07-21 19:35] ryfow commented on #1690
I think I may be running into this too although I'm getting "unknown_user_type" instead of "integrated_windows_auth_not_supported_managed_user" My account_type shows as managed in discovery response.

[2020-07-21 20:05] ryfow commented on #1690
Take the following with a grain of salt because I don't know what I'm talking about, but...

I think the issue is that you need your domain to be federated in the sense that Azure AD redirects login requests to an AD FS server. The AD FS server can do windows integrated auth with the desktop and tell Azure AD that the user is authenticated. If there's no AD FS doing the magic, IntegratedWindowsAut

[2020-07-21 20:52] NightOwlCoder opened #1952 "Log user into Azure DevOps with MSAL"
**Which Version of MSAL are you using ?**
`Microsoft.Identity.Client v4.16.1`

**Platform**
`Xamarin Forms`, with targets for `iOS`, `Droid`, `UWP` and `macOS`

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OB

[2020-07-22 08:55] jmprieur commented on #1952
Which article is it, @NightOwlCoder ?
Are you using the Azure DevOps SDK?  https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-6.0 ?

[2020-07-22 11:54] klemensurban opened #1954 "PublicClientApplication.AcquireTokenSilent.ExecuteAsync() throws System.ArgumentException after Token expiration if Token does not contain an upn Attribute (Shibboleth)"
**Which Version of MSAL are you using ?**
MSAL 4.16.1.0

net45

Desktop / Mobile
    * [x] Interactive with ADFS2019 + federated SAML Claims Provider

c. This is a new app resp. previous App with ADAL
-->

**Repro**

[code]

**Expected behavior**

.AcquireTokenSilent(adfsScopes, account).ExecuteAsync()
should return authenticationResult with a new valid Access- and ID-Token based on the refresh to

[2020-07-22 15:09] mmacy commented on #1105
@dansiegel We're going to be putting together some clearer documentation on AAD and B2C token endpoints and what's possible with the tokens obtained from them, but until then, here's some cut-and-paste of info on the topic originally from @JasSuri.

---
There is only one pattern to access the Microsoft Graph API in AAD/B2C app scenarios, in general:

1. User logs in to B2C app via [B2C app registr

[2020-07-22 15:31] JohnLivermore commented on #783
@Tarunshrma ours looks like this...

.WithIosKeychainSecurityGroup("com.microsoft.adalcache")

[2020-07-22 18:36] udlose commented on #1417
@bgavrilMS I'm confused.  This solution is integrated with Polly.

[2020-07-23 03:08] manikandantk88 commented on #1927
Any update on this?

[2020-07-23 08:15] bgavrilMS commented on #1927
No update on this @manikandantk88, I am not sure when we can visit this or what is the right thing to do (@aiwangmicrosoft  is on point for the scenario)

If you are blocked, MSAL does offer a mechanism of providing your own WebView - WithCustomWebUi. You could just copy our implementation of the embedded web ui but customize it. Let me know if you want me to give you a few code pointers.

[2020-07-23 12:17] #1726 closed

[2020-07-23 16:16] NightOwlCoder commented on #1952
Yes, I've found that one also, that confirms (https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-6.0#authenticate) the same as this one:

https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/authentication-guidance?view=azure-devops

When you go to the ADAL page (https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/active-dir

[2020-07-23 16:56] bgavrilMS opened #1956 "Support for regional ESTS."
To increase the reliability, availability and perf of Azure, regionalization aims to keep all trafic inside a geographical area. For example, if an app needs to fetch data from Key Vault in WestUs2, all the traffic this entails - including MSAL generated traffic - should stay in WestUs2.

Proposal
The following proposal is an algorithm composed of several steps. Step 1 introduces new public API an

[2020-07-23 17:37] aiwangmicrosoft commented on #1927
@manikandantk88 Like Bogdan mentioned, you can provide your own WebView or tweak ours today, so I'm not sure what you would like the customization flow to look like?

[2020-07-23 17:48] bgavrilMS commented on #1952
Hi @NightOwlCoder - ADAL library is officially [deprecated](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363) and the replacement is MSAL.

I logged an [issue ](https://github.com/microsoft/azure-devops-auth-samples/issues/56) on Azure DevOps sample to upgrade.

I think it should be fairly easy to u

[2020-07-23 20:41] prajaybasu commented on #1339
A seamless FIDO2 experience across Microsoft applications will require the adoption of WebView2, as mentioned in your  linked issue. Given that a lot of Microsoft first party desktop applications use the embedded view, I still cannot use my YubiKey to login anywhere on my personal computer except on the web apps.

[2020-07-23 20:46] prajaybasu commented on #1339
MSAL desktop and mobile libraries should also consider supporting a 100% native login experience on platforms where it is possible (Windows currently) to make the passwordless experience seamless without browser redirects. Native interop with the WebAuthN Win32 API would be required - https://github.com/Microsoft/webauthn

[2020-07-24 08:46] bgavrilMS commented on #1339
Thanks for the detailed explanation @prajaybasu . WebView2 is still in preview so we cannot use it until it is generally available. I have a prototype of MSAL using WebView2 and it's working well.

We are also looking at integrating with WAM https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/643 which should open up the Windows Hello and other native experience.

[2020-07-24 10:49] bgavrilMS commented on #1943
I'm not sure what's happening because we have automated tests that run this scenario. But can you please try to use just

`.WithIosKeychainSecurityGroup("com.microsoft.adalcache")`

MSAL will figure out the team ID on its own.

[2020-07-24 12:41] Lele19xx commented on #1943
....same error

[2020-07-24 15:02] JamesHHoustonII commented on #1776
I am having the same issue the code copied and pasted has ask for escape characters but that leads to a different error about the name of my application. This error is preventing me from moving forward with app development.

![CacheFilePath error 1](https://user-images.githubusercontent.com/10920521/88405328-b8f2df80-cd94-11ea-9a82-e1980cbc3758.jpg)

![CacheFilePath error 2](https://user-images.gi

[2020-07-27 16:25] neha-bhargava commented on #1912
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:25] #1912 closed

[2020-07-27 16:29] neha-bhargava commented on #1768
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:30] neha-bhargava commented on #1871
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:30] neha-bhargava commented on #1773
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:30] #1773 closed

[2020-07-27 16:32] #1925 closed

[2020-07-27 16:36] neha-bhargava commented on #1620
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:36] #1620 closed

[2020-07-27 16:37] neha-bhargava commented on #1947
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:37] #1947 closed

[2020-07-27 16:37] neha-bhargava commented on #1938
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:37] #1938 closed

[2020-07-27 16:40] neha-bhargava commented on #1728
Fixed in [MSAL 4.17.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.17.0)

[2020-07-27 16:40] #1728 closed

[2020-07-27 18:17] henrik-me commented on #1924
@bgavrilMS : we should consider getting this done for the next release.

[2020-07-28 17:38] bgavrilMS commented on #1871
Not fixed.

[2020-07-29 09:01] stezma opened #1963 "SDK is not compatible with AndroidX libraries. (Azure AD B2C) Xamarin Android"
SDK Version - 4.17.0

I am using all the latest Android X libraries in my Xamarin Forms application. And when I try to update update the **Microsoft.Identity.Client** SDK from **4.14.0** to **4.17.0.** I am getting the below errors during compilation.

_/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(3,3):_ Error _XA0121:_ Assembly 'Xamarin.Android

[2020-07-29 09:05] bgavrilMS commented on #1963
We have added an Android X target framework recently, and I think those assemblies are not used at all. Can you confirm that your project in build against MonoAndroid 10 ?

[2020-07-29 09:08] stezma commented on #1963
Yes!! I am using TargetFrameworkVersion 10

`  <TargetFrameworkVersion>v10.0</TargetFrameworkVersion>`

[2020-07-29 09:10] bgavrilMS commented on #1963
So ... you are using an XForms app, built against MonoAndroid 10 and you are upgrading from MSAL 4.14 to 4.17? Is that the scenario?

I'm marking this as external as the upgrade to Android X is a Xamarin experience, but let's try to get a repro first before involving them.

[2020-07-29 09:13] stezma commented on #1963
@bgavrilMS . Yes you are right till 4.14 everything working fine even with my AndroidX libraries. Something happed after that.!

[2020-07-29 09:16] talk2stephan commented on #1963
I believe i was also having the same issue and reverted back to old version.

[2020-07-29 09:16] bgavrilMS commented on #1963
Can you confirm that you are using the latest Visual Studio and Xamarin SDKs?

[2020-07-29 09:19] stezma commented on #1963
Yes I am using the latest version of Visual studio for Mac. Please find the below details taken from my VS.
[VS details.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/4993892/VS.details.txt)

[2020-07-29 09:19] bgavrilMS commented on #1963
I can offer a potential workaround to override the NuGet behavior of targetting Android 10 version of MSAL and relying on the older Android 9 version.

[code]

[2020-07-29 09:27] stezma commented on #1963
This means latest version of SDK referencing  previous version of MonoAndroid (9.0) ?
So this is going to be a temporary fix right?

[2020-07-29 09:33] talk2stephan commented on #1963
I can confirm that this fix also not working. I am getting the same error. Not sure why. :(

[2020-07-29 11:15] Tarunshrma commented on #1927
Hi @bgavrilMS ,

I have similar requirement as mentioned by @manikandantk88.   I did not find any sample code or good pointers to implement WithCustomWebUi. Can you please suggest some good pointers, I am using Xamarin forms.

Thanks
Tarun Sharma

[2020-07-29 12:14] bgavrilMS commented on #1927
What sort of customizations would you require there?

- the color of the top bar
- the title (I think webviews should use the title of the HTLM login pages as they come in from AAD, but not sure how to achive this in Android)

ICustomWebUi docs are [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.extensibility.icustomwebui?view=azure-dotnet) and our current implementati

[2020-07-29 16:52] bgavrilMS commented on #1963
@talk2stephan  - I updated the workaround .. it should be using `$(PkgMicrosoft_Identity_Client)`, this is based on the technique described [here](https://duanenewman.net/blog/post/a-better-way-to-override-references-with-packagereference/) but it might not work.

@stezma - I tried the following upgrade path and it all worked fine for me :( - could someone you try to isolate some repro steps ?

1.

[2020-07-29 18:00] aiwangmicrosoft commented on #1903
Couple of articles/samples to update:

Article 1: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-xamarin#prerequisites
PR 1: https://github.com/MicrosoftDocs/memdocs-pr/pull/1581

Sample - we should propose changes, README and config.
https://github.com/msintuneappsdk/Taskr-Sample-Intune-Xamarin-Android-Apps

[2020-07-29 21:35] trwalke commented on #1903
Some good links:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/How-to-migrate-from-using-Android-Broker-on-ADAL.NET-to-MSAL.NET
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/How-to-migrate-from-using-iOS-Broker-on-ADAL.NET-to-MSAL.NET
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Leveraging-the-broker-on-iOS-

[2020-07-30 14:22] manikandantk88 commented on #1927
Thanks

[2020-07-30 18:49] cbrianball opened #1964 "OBO question."
### Documentation Related To Component:
Exceptions

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue
All documentation on how to handle `MsalUiRequiredException` appear to assume the `PublicClientApplication` type is used and not the `ConfidentialClient

[2020-07-31 10:11] bgavrilMS commented on #1964
Hi @cbrianball - I think the question here is - what are you trying to do ?

With regards to the UIRequiredException, this can be thrown by `AcquireTokenSilent` when MSAL and AAD detect that interaction is required (e.g. security policies have changed, you ask for more scopes and user needs to consent etc. etc.). If you use a public client (win forms, wpf, console app) then you'd call `AcquireToke

[2020-07-31 10:17] jmprieur commented on #1964
If you're using ASP.NET Core, you might also be interested in this article: https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access
and this sample: https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

[2020-07-31 13:56] jmprieur commented on #1948
Thanks @bgavrilMS and @RamjotSingh for these explanations.
- Given that MSAL.NET will anyway do what is needed (get only the OBO token with the given hash key of the incoming token from the cache once deserialized, whatever partition is realized by the serialization), it's ok to have the homeAccountId + something as the suggested cache key as well for OBO. This would also help @TiagoBrenck in his

[2020-07-31 14:38] jmprieur opened #1965 "[Bug] AcquireTokenOnBehalfOf does not respect the WithAuthority modifer"
**Which Version of MSAL are you using ?**
4.17.0

**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
* Web API
    * [x ] OBO

**Repro**

See also customer bug in Microsoft.Identity.Web: [Bug] Token acquisition

[2020-07-31 15:02] jmprieur opened #1966 "[Enhancement] AcquireTokenSilent should not return token acquired by OBO"
**Which Version of MSAL are you using ?**
4.17.0

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ x ] OBO

**Expected behavior**
`AcquireTokenOnBehalfOf` does a cache lookup with a filter o

[2020-07-31 15:03] jmprieur commented on #1966
cc: @bgavrilMS @jennyf19

[2020-07-31 15:11] jmprieur opened #1967 "[Enhancement] GetAccountsAsync should no longer be exposed in confidential client applications (via deprecation)"
**Which Version of MSAL are you using ?**
4.17.0

**Platform**
net45, netcore

**What authentication flow has the issue?**
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

[code]

**Expected behavior**
`GetAccountsAsync()` does not make sense in confidential client applications as there should be one cache per user and GetAccountsAsync() does not know which

[2020-08-03 08:17] stezma commented on #1963
Thanks for the support :)
I am travelling right now. I will try to create a sample app and share with you as soon as I can.

[2020-08-03 11:22] bgavrilMS commented on #1897
Agreed, there is more work on the server side and broker side to enable better system  browser behavior. Closing this question for now.

[2020-08-03 11:22] #1897 closed

[2020-08-03 12:12] bgavrilMS commented on #1880
Closing as duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/643

[2020-08-03 12:12] #1880 closed

[2020-08-03 12:52] bgavrilMS commented on #1950
No, this is a bug, will get it fixed asap.

OBO call actually looks in the token cache because it tries to find access tokens associated with the same assertion. It seems that when looking into the cache, we find the access token but we don't look for the idtoken.

[2020-08-03 12:59] jmprieur commented on #1950
@bgavrilMS is there enough information in the ID token to get the home tenant id ?

[2020-08-03 13:01] bgavrilMS commented on #1966
I can make `AcquireTokenSilent` not return existing ATs that have associated assertion hash. But I can't make `AcquireTokenSilent` refresh the RT :(, so `AcquireTokenSilent` will still succeed. Unless AcquireTokenSilent is also configured with an assertion hash which would probably solve some of the OBO issues :).

Not sure this can be implemented, but M.I.W can do the right thing.

[2020-08-03 13:05] jmprieur commented on #1966
@bgavrilMS but OBO would refresh the token ? if ATS is not used?

[2020-08-03 13:38] bgavrilMS commented on #1966
No, OBO would make a token request on the user assertion. ESTS will response with the typical (AT, RT, IdT)

[2020-08-03 13:39] bgavrilMS commented on #1966
I think that with OBO, we should never use the RT... Maybe that's an alternative fix, OBO should not save the refresh token from EVo....

[2020-08-03 14:01] bgavrilMS commented on #1950
The IDToken contains `oid` and `tid`, but I am not sure if the `tid` is the "home tenant id" ... it probably is though.

Why do you ask?

[2020-08-03 14:46] jmprieur commented on #1950
to understand if we could surface the IAccount.

[2020-08-03 16:27] bgavrilMS commented on #1950
I am afraid there isn't enough information for this. Imagine you do `AcquireTokenOBO(scope, assertion)` ... MSAL has to first read the cache and try to find an access token and ID token. But we don't have enough information to figure out `home_tenant_id` at this point

[2020-08-03 16:38] jmprieur commented on #1950
@lnhzd why do you need the ID token? for a service to service call? do you mind explaining your scenario (out of curiosity)

[2020-08-03 17:42] bgavrilMS opened #1969 "Migrate Xamarin Wiki content to docs.ms"

[2020-08-03 17:55] aiwangmicrosoft commented on #1969
Tracking is in content docs VSO:
[https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1092988](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1092988)

[2020-08-03 20:46] anandthirumala commented on #1420
I'm getting the same exception as well:

Microsoft.Identity.Client.MsalServiceException:

AADB2C90289: We encountered an error connecting to the identity provider. Please try again later.

Correlation ID: 18012cae-fff9-4860-88f5-d2fd863466d4
Timestamp: 2020-08-03 20:23:54Z

MSAL.Xamarin.iOS.4.17.0.0.MsalServiceException:
	ErrorCode: server_error
Microsoft.Identity.Client.MsalServiceException: AADB

[2020-08-03 21:24] anandthirumala opened #1971 "[Bug] Exception using sign in with Apple Id with multiple apps"
**Which Version of MSAL are you using ?**
4.17.0.0

Platform
xamarin iOS

What authentication flow has the issue?
Desktop / Mobile

I'm getting the following exception, Kindly help;

The issue clearly is when using multiple apps. Can't get more than one app to work. If I make one work then the other one will break with this exception.

Microsoft.Identity.Client.MsalServiceException:

AADB2C90289:

[2020-08-03 21:42] jennyf19 commented on #1420
@anandthirumala are you on >= iOS 13.4?
Can you include the full [MSAL logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#at-a-glance) please?
Can you explain more what you mean by one app works, but the other doesn't. thx.

[2020-08-03 22:02] anandthirumala commented on #1420
I am using IOS 13.6.

Is this what I shall do to get the full logging,

var app = PublicClientApplicationBuilder.Create(config.ClientId)
          .WithLogging(MyLoggingMethod, LogLevel.Info,
                       enablePiiLogging: true,
                       enableDefaultPlatformLogging: true)
          .Build();

Sorry I am relatively new to Azure B2C.

[2020-08-04 02:25] jennyf19 commented on #1420
@anandthirumala you can push the logs to a .txt file or use whatever the iOS default uses.
How does your acquire token call look? Apple Sign-In is still in preview w/B2C, so it might be faster to contact Josh (jodougla@microsoft.com) and he can take a look at your config.

[2020-08-04 14:34] OblivionSY opened #1974 "[Documentation]"
### Documentation Related To Component:
MSAL / IMAP

### Please check those that apply

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue
I would like to see an example of a console app requesting a token which it can save for use later (next time it runs) so that it can re-authenticate w

[2020-08-04 14:38] bgavrilMS commented on #1974
Please have a look at MSAL sample page - https://docs.microsoft.com/en-gb/azure/active-directory/develop/sample-v2-code
Most of our samples show you how to configure MSAL to persist the token cache. You can start with the Desktop (WPF) sample to see the calling patterns

[2020-08-05 00:16] JavaSergo opened #1975 "[Documentation]"
### Documentation Related To Component:

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue

[2020-08-05 01:15] jennyf19 commented on #1975
@JavaSergo Which documentation are you referring to? This issue is incomplete at the moment. Thanks.

[2020-08-05 01:18] jennyf19 commented on #1971
@anandthirumala I answered you on the [other issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1420#issuecomment-668256165). Not sure how to help you here, as Apple Sign-in is in preview w/B2C, and as I mentioned, you should try contacting Josh (jodougla@microsoft.com) for help with the configuration. Can you provide a repro w/two applications so we can try it ou

[2020-08-05 04:12] henrik-me commented on #1966
We should be absolutely sure we are not breaking anything when making this change.
@jmprieur : would be good to have the scenario you are trying to solve fixed. I don't from this description understand why we would not want to return the obo token.

[2020-08-05 07:46] lnhzd commented on #1950
not exactly our scenario but to simplify it: for logging purpose - so logging is associated with the user context.
I am aware that the information we need (e.g.: preferred_username claim, oid) can be extracted from the access token as well - but the way we USED to do it is to get an access token for calling SQL Azure (down stream service) whenever we need the display name - a bit lazy but the theo

[2020-08-05 08:14] jmprieur commented on #1950
cc: @bgavrilMS @jennyf19 @pmaytak

[2020-08-05 09:07] alexm186 commented on #446
_{client}/.default_ works

[2020-08-05 09:39] ibebbs commented on #1865
Hi @bgavrilMS ,

Any idea why this issue has been marked as "done" on the project board? It's still very much not done I'm afraid.

By way of an update, the Azure AD B2C team did release a fix for the OPTIONS issue such that it now responds to the call. Unfortunately, it does not respond _correctly_! The response to the OPTIONS call does not include the 'Access-Control-Allow-Origin' header require

[2020-08-05 12:08] davidmarek opened #1977 "[Feature Request] MsalServiceException should allow setting of Headers"
**Is your feature request related to a problem? Please describe.**
I am unable to test my retry logic based on returned headers from AAD because I can't mock MsalServiceException with headers.
Headers and maybe some other properties of MsalServiceException have internal setter and there is no constructor that would set them.

**Describe the solution you'd like**
MsalServiceException should have a

[2020-08-05 12:38] davidmarek commented on #1977
I found a possible workaround using reflection:
[code]

[2020-08-05 12:42] bgavrilMS commented on #1977
Thanks @davidmarek , I'll mark this as a bug because it is blocking testing.

[2020-08-05 13:49] #1964 closed

[2020-08-05 13:50] cbrianball commented on #1964
Thanks for the info!

[2020-08-05 15:04] jennyf19 commented on #1975
closing, but please reopen with the necessary information to investigate or act. thank you.

[2020-08-05 15:04] #1975 closed

[2020-08-05 15:11] bgavrilMS commented on #1971
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1420

[2020-08-05 15:11] #1971 closed

[2020-08-05 18:19] bgavrilMS commented on #1865
I'm not sure what we can do here as we do not own Uno's fork of MSAL, nor do we own MSAL js. It looks like you've successfully engaged with the B2C server team and with the MSAL js team.

[2020-08-06 04:01] henrik-me opened #1978 "[Feature Request] Performance investigation"
We have a report of performance issues. This feature is tracking initial investigation and will outline issues identified.

Context:
Two customers have made some measurements that we need to look into. One have provided some very detailed insights that we need to validate. As we start this work the issues will be outlined here.

Note:
All customers finding issues, performance or otherwise are high

[2020-08-06 13:34] jmprieur opened #1979 "[Bug] Performance: when IConfidentialClientApplication is used as a singleton service, the cache size grows"
**Which Version of MSAL are you using ?**
4.17.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [w ] OBO

**Repro**
See the repro with Ramjot (offline)

**Expected behavior**
One cache per

[2020-08-06 13:34] jmprieur opened #2216 "[Enhancement] When IConfidentialClientApplication is used as a singleton service, the cache size grows"
**Which Version of MSAL are you using ?**
4.17.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [x ] OBO

**Repro**
See the repro with Ramjot (offline)
See [Product Backlog Item 1103111: Pe

[2020-08-06 13:44] jmprieur commented on #1979
Investigation for the token cache accessors:

The 4 access in the case of a new token are:
1) Try to look into the cache based on the token from the Web API (from its hash really).
2) it's a new token so does not find it.
 -- gets the token using On behalf of flow
-- lock the cache for modification
3) read the cache the cache key is still the hash, but now we know the identity of the user as we go

[2020-08-06 14:12] bgavrilMS commented on #1979
It should possible to have a cache strategy where an app has exclusive access over the cache. I believe MSAL.py used to have this strategy by default. It

- loads the cache when the app starts
- persists the cache when the app stops or crashes

Problem is, if you scale your web app to use multiple servers, how can you guarantee one server has exclusive control over a set of users? You cannot.

I t

[2020-08-06 15:39] carldebilly commented on #1865
@bgavrilMS There's is no fork of MSAL on Uno. We're simply pushing a [custom implementations of `ICustomWebUi` and `IMsalHttpClientFactory`](https://github.com/unoplatform/uno/tree/master/src/AddIns/Uno.UI.MSAL).

Uno is using the unforked version of MSAL **dotnet** (not MSAL.js) running using .NETStandard 1.3 on mono-wasm in a browser.

[2020-08-06 16:53] jmprieur commented on #1950
@lnhzd this released in MSAL.NET 4.17.1 yesterday

[2020-08-06 16:53] #1950 closed

[2020-08-06 16:53] #1965 closed

[2020-08-06 16:53] jmprieur commented on #1965
This released in MSAL.NET 4.17.1 yesterday

[2020-08-06 16:58] jmprieur commented on #1948
@RamjotSingh
Given our investigation, I don't think that changing the SugestedCacheKey is the problem, at least for the user token cache.
Do we want to take the App context change? Is there value.

for the user context, recommending to keep what we have.
I raised another issue for the performance issue you discovered (and the fact that the cache accessors are called twice):
https://github.com/Azur

[2020-08-06 17:06] jmprieur commented on #1979
@RamjotSingh prioritizing this one.
cc: @bgavrilMS @henrik-me @trwalke @neha-bhargava
cc: @aiwangmicrosoft FYI

[2020-08-06 18:17] neha-bhargava opened #1980 "[Bug] Improve data structure for scopes"
There are two expensive methods inside ConvertStringToLowerCaseSortedSet and SopeContains, both in the same ScopeHelper class:

[code]

Here are the problems:
1.	There is no need to call ToLowerInvariant
2.	String.Split is expensive
3.	The string form of string.Split is more expensive than the char version. But here it’s really just string.Split(‘ ‘).
4.	SortedSet is the wrong data structure to us

[2020-08-06 20:18] neha-bhargava opened #1981 "MSAL logging evaluates expressions even if logging is disabled"
Right now MSAL does string concatenation / string formatting and only then checks if the logs are enabled or not. This is a performance issue and we should be only creating logs when enabled.

How we do logging today:

[code]
This evaluates the Count even if logging is disabled.

Possible solution:

- Modify the logging methods to use function pointers and lazily evaluate the strings

[code]

[2020-08-06 20:51] ibebbs commented on #1865
Hi @bgavrilMS, I understand your sentiment here: This is very much an issue with Azure AD B2C ***not*** with the MSAL.net library.

Blocked sounds like an apprioriate status but if you would prefer to close this for reasons of getting it off the project board, that would be understandable.

If you do decide to leave this issue open, I will be sure to update it when I receive further information fr

[2020-08-07 07:36] RamjotSingh commented on #1979
@bgavrilMS ADAL has that sweet spot though right? IIRC It assumes it has exclusive access to cache and that cache overwrites are fine since 2 tokens from AzureAD in the same duration are going to largely be identical. Hence my recommendation, remove the cache locking and unlocking. The steps become

1. Check if cache has value
2. If cache has value, return, otherwise go to AzureAD and get a new to

[2020-08-07 07:37] RamjotSingh commented on #1948
@jmprieur Yes their is still value to app context change. Because regardless of the other cache issues, putting all tokens in a single bucket for app context will have issues no matter what we do. For high traffic services they will be storing and pulling 1000s of token atleast. Which in itself is super bad, MSAL client caching issue or no.

[2020-08-07 07:48] MSThug opened #1982 "ITokenAcquisition.GetAccessTokenForUserAsync() results in AADSTS50158: External security challenge not satisfied."
I know I'm touching tech from a number of teams here so if this is not the right forum I apologize.

So, I have a netcoreap3.1 Azure web service I've created that is setup with MVC and API controllers. I'm also using the latest MSAL.NET library for authentication.  Additionally, I'm using the latest Microsoft Graph API.  When users login and use the MVC controllers/actions, calls to ITokenAcquisit

[2020-08-07 08:09] jmprieur commented on #1982
@MSThug
Did you read this article:
https://github.com/AzureAD/microsoft-identity-web/wiki/Managing-incremental-consent-and-conditional-access

[2020-08-07 08:14] jmprieur commented on #1982
@MSThug : even simpler : you should use the templates that create a Web app calling graph directly:
https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template#use-the-web-app-mvc-template

[2020-08-07 08:22] ibebbs commented on #1865
Just had an update from the Azure AD B2C team: A fix for this issue will be deployed on the 21st August.

Fingers crossed it correctly implements the CORS protocol. I'll test as soon as the fix has been deployed and update this issue accordingly.

[2020-08-08 16:31] OblivionSY commented on #1974
Thank you! I didn't check the WPF ones, but actually was the most helpful. Really appreciate the prompt response.

[2020-08-10 07:05] anpin commented on #1420
I'm having exactly the same issue as @anandthirumala and I'm also getting the same error when I'm testing using b2c portal. I already tried multiple ways to connect Apple to B2C and I find documentation misleading. First I was following this example [https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple](url) and I've got the same error, then I was following the custom po

[2020-08-10 09:19] bgavrilMS commented on #1974
No prob. If yo are interested in .net core / Linux and Mac support, we have a published a token cache for public clients here: https://github.com/AzureAD/microsoft-authentication-extensions-for-dotnet . Just for Windows it's easier to use the one in the sample.

[2020-08-10 09:19] #1974 closed

[2020-08-10 18:23] jennyf19 commented on #1420
@anpin yes, please contact him directly...thank you!

[2020-08-10 22:06] philip-young commented on #1420
@jennyf19 Hello, I am also experiencing the same error, after trying the same ways as @anpin above.  `AADB2C90289: We encountered an error connecting to the identity provider. Please try again later. ` This is even with just testing the Custom Policy from the B2C Portal itself. Any advice? Should I try to contact Josh as well?

[2020-08-10 22:31] jkdouglas commented on #1420
Hi all - Please shoot me an email with this info:
1) How are you setting up the connection to Apple? (screenshot of built in custom OIDC or custom policy technical profile)
2) Are you using the right info to generate the secret? Apple Team ID, Apple Service ID, Apple certificate key
3) How are you generating the client secret?

We can start with that info and then troubleshoot from there. Thanks!

[2020-08-11 01:05] jennyf19 commented on #1420
Thanks @jkdouglas !!

[2020-08-11 19:52] KatherineHe15 opened #1983 "[Feature Request] NEL integration with MSAL"
### Customer Value ###
MSAL customers need to be able to access the Identity network, and any outages in the network can have a profound impact on said customers. Outages can be caused by issues that can't be detected server-side, so without a client-side monitoring mechanism, the response to the outage is delayed. To decrease the effects of this, and to elevate our customers' experience, we need

[2020-08-12 08:57] bgavrilMS commented on #1983
1. Since NEL is sever-side driven, the first requirement is to have the STS integrate with it
2. MSAL allows developers to [use their own HttpClient ](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-provide-httpclient). Apps willing to try this out can simply plug in the NEL client integration code by injecting a custom HttpClinetHandler. There are no changes needed on MSA

[2020-08-12 11:31] bgavrilMS commented on #1983
Also, @KatherineHe15 - could you provide an estimate performance impact on an app willing to use NEL:

- cold start, i.e. application just starts and needs to download policies etc.
- normal functionality, i.e. how many extra HTTP calls are performed by the app

[2020-08-12 14:19] KatherineHe15 commented on #1983
Hi @bgavrilMS , I've updated the issue to address your comments!

[2020-08-12 15:01] anpin commented on #1420
My issue was in the generated client secret. I was using a .net code from one of the samples and @jkdouglas pointed out that I should try to use JS script as in the pdf above which worked like a charm

[2020-08-12 15:38] jabbera opened #1985 "[Bug] WsTrust federation error isn't being returned"
**Which Version of MSAL are you using ?**
4.17.1

**Platform**
Windows

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**

[2020-08-12 16:52] jennyf19 commented on #1420
Thanks for the update @anpin

[2020-08-13 05:43] harmjonker opened #1987 "re-authenticate behavior"
We are rolling out multiple MSAL.net ( MS Authenticator broker based ) apps on Android to many users now and we see different behavior with respect to when users have to authenticate for apps:
- some people have to reauthenticate for every new MSAL.net converted app that is installed on their device, where we would expect one to have to authenticate only for the first app, but then the account is

[2020-08-13 14:35] hiteshdasikamw opened #1988 "[Bug] Issue with MSAL 4.16.0 library when using Integrated Windows Authentication"
**Which Version of MSAL are you using ?**
MSAL 4.16.0

**Platform**
netcore

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing ap

[2020-08-13 14:46] bgavrilMS commented on #1988
I think you are using some sort of federation and the federated server is refusing the connection. Are you maybe behind a proxy that requires auth?

[code]

It migth help to capture the traffic using Fiddler/

[2020-08-13 14:50] hiteshdasikamw commented on #1988
I am not behind any proxy actually. This works fine when I use MSAL 4.15.0. (The same code that I showed). I am trying to understand what is going wrong here.

[2020-08-13 15:01] jabbera commented on #1988
We started receiving this error randomly beginning around Saturday and we didn't change what was in production. Its the reason why I submitted PR https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/1984 so hopefully I can figure out what's going on.

[2020-08-13 16:46] kyurkchyan opened #1989 "[Bug] Azure AD B2C on Xamarin.Forms throwing error B2C 'authority' Uri should have at least 3 segments"
**Which Version of MSAL are you using ?**

MSAL 4.17.1

**Platform**
xamarin android, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

I am trying to integrate

[2020-08-13 16:49] bgavrilMS commented on #1963
Sure, please revive this thread if we can repro.

[2020-08-13 16:49] #1963 closed

[2020-08-13 16:50] bgavrilMS commented on #1899
If we cannot have a repro on this, I suggest we close this.

[2020-08-13 16:54] bgavrilMS commented on #1989
what's the exception?

[2020-08-13 17:17] kyurkchyan opened #1990 "[Bug] Azure AD B2C on Xamarin.Forms throwing error B2C 'authority' Uri should have at least 3 segments"
**Which Version of MSAL are you using ?**

MSAL 4.17.1

**Platform**
xamarin android, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**

I am trying to integrate

[2020-08-13 17:51] kyurkchyan commented on #1990
It appears I was doing it wrong. I shouldn't have used the endpoints from the B2C itself, rather I should have created specific iOS & Android app registrations. Here's what I have done.

1. I have registered new public client/native application
2. I have added iOS & Android platforms with correct bundle IDs
3. After this, I have opened app specific platform registration details
4. I have copied th

[2020-08-13 17:51] #1990 closed

[2020-08-13 18:23] bgavrilMS opened #1991 "[Feature Request] netstandard 2.0 or 2.1 support"
**Is your feature request related to a problem? Please describe.**
Customers are asking for a more capable .net standard version of MSAL, which allows for interactive flow. Some scenarios are:

- MSAL usage in plugin scenarios - e.g. if I want to write a roslyn analyzer, it will be consumed by .net classic or by .net core but this is not known until my analyzer is deployed into VS or run via comma

[2020-08-13 18:23] jennyf19 commented on #1989
@kyurkchyan For MSAL .NET you have to include /tfp/ in the authority URL that you pass in. so this: `https://TENANT.b2clogin.com/tfp/TENANT.onmicrosoft.com/<policy-name>/`

You are right that the endpoints do not require it, this is because /tfp/ was required when b2c used login.microsoftonline.com as the domain, but when they changed to *.b2clogin.com and more custom domains, this requirement was

[2020-08-13 18:28] jennyf19 commented on #1989
@kyurkchyan Here's the related [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1293) but we tracking this internally now as we are making improvements across all the MSALs in the area of B2C Developer Experience.

[2020-08-14 12:48] bgavrilMS commented on #1988
@jabbera  - we plan to release MSAL 4.18 end of next week, but I've built a preview package that has your change - see attached (I had to rename to zip, but it's a nupkg).

[Microsoft.Identity.Client.4.18.0-preview1.nupkg.zip](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/5074586/Microsoft.Identity.Client.4.18.0-preview1.nupkg.zip)

[2020-08-14 14:24] jabbera commented on #1988
Thanks!

[2020-08-14 16:56] jonpayne opened #1992 "[Bug] MSAL should not set ServicePointManager.DefaultConnectionLimit"
**Which Version of MSAL are you using ?**
MSAL 4.17.1.0

**Platform**
.NET Framework 4.6.2

**What authentication flow has the issue?**
Client credentials

**Is this a new or existing app?**
This is a new app or experiment

**Repro**
[code]

**Expected behavior**
MSAL should not change `ServicePointManager.DefaultConnectionLimit`.

**Actual behavior**
MSAL overrides the `ServicePointManager.Defaul

[2020-08-14 17:53] jonpayne opened #1993 "[Feature Request] Improve logging"
Logging at `LogLevel.Info` is too verbose and the logs are unstructured. A simple request to get a token using a client secret logs 18 events. In a service that requests many tokens, writing 18 events per token request adds a lot of noise to the service logs.

Logs are sent to the `LogCallback` delegate as an unstructured string. In a service that has structured logs, passing the date, time, OS ve

[2020-08-14 19:30] TiagoBrenck opened #1994 "[Bug] AcquireTokenByIntegratedWindowsAuth + ADFS returns parse error"
**Which Version of MSAL are you using ?**
MSAL 4.17.1

**Platform**
net 4.7.2

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [x] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;
This is inside an ADFS enviro

[2020-08-15 21:59] jennyf19 commented on #1871
@bgavrilMS @neha-bhargava What's the status on this?

[2020-08-17 00:31] mirogrg1 commented on #1420
My app also started experiencing the above issue without any prior changes to code or configuration:
_AADB2C90289: We encountered an error connecting to the identity provider. Please try again later.
Correlation ID: 527ec55a-07f2-4385-8cc7-831968fc5806_

I am able to see the above error while testing the policy from Azure Portal.

[2020-08-17 10:50] bgavrilMS commented on #1994
Thanks @TiagoBrenck . MSAL does not support this flow for ADFS authority, but it should throw a nice exception (also for B2C authority)

[2020-08-17 11:19] last1here opened #1995 "[Bug] iOS broker redirect uri validation"
**Which Version of MSAL are you using ?**
MSAL 4.17.1

**Platform**
Xamarin Forms (iOS)

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a new or existing app?**
Existing a

[2020-08-17 11:23] NewteqDeveloper commented on #544
@Sharor Thank you so much for your comment on this! It helped us found the issue for one of our team members. For some reason, they did not have the ASPNETCORE_ENVIRONMENT being set by the IDE, so it was reading empty values from the `appsettings.json` when it actually needed to read them from `appsettings.Development.json`

Was so confused, because it was working for all our 4 members. But your c

[2020-08-17 13:24] bgavrilMS commented on #1992
I agree @jonpayne , MSAL should not change global settings.

[2020-08-17 14:05] bgavrilMS commented on #1995
Thank you for reporting and investigating @last1here , I'll get this fixed ASAP.

[2020-08-17 15:54] jkdouglas commented on #1420
Apple only allows the client secret to be valid for a max of 180 days. Could it be your client secret expired and you need to generate a new one?

[2020-08-17 15:54] TiagoBrenck commented on #1994
FYI @kalyankrishna1

Thanks @bgavrilMS

[2020-08-17 16:27] KrothuTheCoder commented on #1988
I have had the same error with 4.17.1 when upgrading from 4.6.0 where the exact same code was working.

[code]

[2020-08-17 16:30] bgavrilMS commented on #1987
Hi @harmjonker,

Because MSAL works with scopes, not with resources, consent may be required. You can however pre-consent, just log in as a tenant admin in the Azure portal, and you will have the option of preconsenting.

As for the fact that users have to re-authenticate on a daily basis, there is a new CA policy that could explain this - the "sign in frequency" - this requires the user to actual

[2020-08-18 01:25] mirogrg1 commented on #1420
Yes, that may have been it although I don't remember when exactly I generated the secret. It is working now after generating a new client secret. Thanks for the guidance @jkdouglas.

[2020-08-18 10:19] bgavrilMS opened #1999 "[Bug] Improve perf by using correct patterns for ConcurrentDictionary"

[2020-08-18 16:58] bgavrilMS commented on #1871
Parsing the MEX document and understanding SAML is very difficult and I do not have enough expertise or test resources to make meaningful progress. I am marking this item as blocked until we can find better guidance (C++ or WAM?)

@jmprieur  @henrik-me

[2020-08-18 17:07] bgavrilMS commented on #1948
@jmprieur  - question around app context key, where you propose to use the tenant ID as part of the key.

It is possible (although highly not recommended) to start off with the **common** authority for client creds. So before making the request, the cache key is "clientID_common_AppTokenCache"

After the request comes back from the server, we need to save the token somewhere. But now we have the t

[2020-08-18 21:50] JohnLivermore opened #2002 "[Bug] Xamarin Forms can't login with Android using MSAL 4.17.1"
**Which Version of MSAL are you using ?**

4.17.1

**Platform**

![image](https://user-images.githubusercontent.com/1489667/90563847-0121d980-e16a-11ea-8e00-14499939892f.png)

**Issue**

We have an existing app that is deployed through the iOS and Google Play stores.  The app uses the 4.17.1 version of the MSAL library for authentication and is working fine in our production environment for both p

[2020-08-19 10:10] #1999 closed

[2020-08-19 10:40] bgavrilMS commented on #2002
@JohnLivermore - what version of MSAL were you using before? We added support for Android X recently, although functionally this shouldn't have changed much.

If the control doesn't go back from the browser to the app, it's ussually smth wrong with `AuthenticationContinuationHelper.SetAuthenticationContinuationEventArgs(requestCode, resultCode, data);`

We do have some logging in that method, coul

[2020-08-19 14:02] bgavrilMS commented on #1948
As discussed with @jmprieur , decided not to change the cache keys.

[2020-08-19 14:36] JohnLivermore commented on #2002
It never hits this code...

![image](https://user-images.githubusercontent.com/1489667/90648331-ff562580-e1fe-11ea-841c-a7db6df02d6a.png)

Keep in mind, this only happens when pointed to our prod Azure AD and ONLY with Android.  The same settings with iOS work fine.  I assume there is javascript running in that browser that might be erroring out?

I already posted this, but just to highlight it ag

[2020-08-19 15:04] bgavrilMS opened #2004 "[Bug][Internal][S] SSH integration test failing"
Test: Interactive_SSHCert_Async

Failure message:

 Test method Microsoft.Identity.Test.Integration.SeleniumTests.InteractiveFlowTests.Interactive_SSHCert_Async threw exception:
    Microsoft.Identity.Client.MsalServiceException: AADSTS29007: The permission (scope) list Agreement.Read.All Agreement.ReadWrite.All AgreementAcceptance.Read AgreementAcceptance.Read.All AllSites.FullControl AllSites.Ma

[2020-08-19 15:16] JohnLivermore commented on #2002
Ok, I added the logging you mentioned above.  It never hits this breakpoint...

![image](https://user-images.githubusercontent.com/1489667/90653494-dfc1fb80-e204-11ea-992f-04bdfabd1ca7.png)

So no logs are produced.

You asked what version of MSAL we were using.  We have tried and seen the same behavior/results with 4.17.1 and 4.7.1.

[2020-08-19 17:27] bgavrilMS opened #2006 "[Internal] Win8 tests failing"
The download build artifacts is failing with:

##[error]Artifact DeviceAuth not found for build 595789. Please ensure you have published artifacts in any previous phases of the current build.

https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=595789&view=logs&j=07ccd3ec-7321-59f5-aff8-256ef91a53a3&t=f59f9100-793c-54ce-6c97-70273a84ce67

[2020-08-19 19:15] JohnLivermore commented on #2002
We figured this out.  The Android manifest has a reference to the ClientID.  We switched it to our production value, and everything is working now.

![image](https://user-images.githubusercontent.com/1489667/90679804-54596200-e226-11ea-94c2-47124ce030d9.png)

[2020-08-19 19:15] #2002 closed

[2020-08-20 07:30] Soulzr commented on #1152
Hi everybody, I have been trying to implement MSAL for Android in Unity for over two weeks. But im stuck in creating the proxy class that calls MSAL. I have some questions that maybe @ashikns or someone else could answer me.

1. Do i have to include MSAL as an aar plugin in my unity project or do i have to add it to my proxy class?
2. When i call MSAL from my proxy class (which is an Android Libra

[2020-08-20 10:06] bgavrilMS commented on #1871
For an example SAML response that can be used for Integrated Windows Auth, please see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/cd4ebe05119e7a6004fc480661702c1e0a9dbf51/tests/Microsoft.Identity.Test.Unit.net45/Resources/TestMex2005.xml#L785

[2020-08-20 12:20] alexander-papen opened #2007 "[Bug] AcquireTokenSilent throws an exception"
**Which Version of MSAL are you using ?**
MSAL 4.14 and MSAL 4.15

**Platform**
Android Xamarin, note that there is no broker (Authenticater) installed on the mobile devices

**What authentication flow has the issue?**

* Mobile on Android device
    * [x] AcquireTokenSilent

Other? - please describe;

**Is this a new or existing app?**
The app is in production with 2 different versions using msal

[2020-08-20 15:26] bgavrilMS commented on #2007
Interesting, the exception trace shows the actual issue is not in MSAL, but in the Xamarin layer / Java.

The bug is in the HTTP stack that MSAL uses. For Xamarin.Android, we use a platform native http client handler called AndroidClientHandler (code [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/Platforms/Android/Andr

[2020-08-20 15:28] plemm98 opened #2008 "[Bug] - Unable to authenticate a user bearer token and also an application bearer token in a web api endpoint"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**
netcore 3.1

**What authentication flow has the issue?**
ClientCredential flow

**Is this a new or existing app?**
This is a new app or experiment

**Repro**

[2020-08-21 15:14] swidz opened #2009 "Microsoft.Identity.Client and getting rid of System.Windows.Forms reference"
I am working on an integration library that references Microsoft.Identity.Client (I have also tried to use older implementation Microsoft.IdentityModel.Clients.ActiveDirectory)

My library type is .Net Standard 2.0

If my library is referenced in .Net Core Class Library project then the build references Microsoft.Identity.Client which does not include reference to System.Windows.Forms

If my libra

[2020-08-24 06:37] ChrisPetit commented on #1576
This is still not fixed...I is not clear at all how to solve this error....

[2020-08-24 07:49] jmprieur commented on #1576
@anasimao : are you using the latest version of MSAL.NET? I see this error message all the time?
Is it an option for you to use Microsoft.Identity.Web ?

[2020-08-24 08:11] bgavrilMS commented on #1576
Please don't revive old issues without context. There is a form to fill for logging bugs, which should give us more insights, so please open a new issue and reference the old one if needed.

[2020-08-24 14:28] EdBlacker commented on #1865
Hi Ian

I just retried with my code and I still get a CORS error from the token request.

However, it may just be my code: Is it working for you?

Regards
Ed

From: Ian Bebbington
Sent: 07 August 2020 09:23
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: EdBlacker; Manual
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] [Bug] Uno -Exchange authorization code for beare

[2020-08-24 21:03] ibebbs commented on #1865
Hi Ed,

I haven't had an update from the AAD B2C team so I hadn't bothered testing the endpoint yet. I'll give them a poke and see where they're at then get back to you.

Cheers,
  Ian

[2020-08-25 09:45] EdBlacker commented on #1865
Sounds good – thanks for the efforts, and keeping me in the loop.

Cheers
Ed

From: Ian Bebbington
Sent: 24 August 2020 22:04
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: EdBlacker; Manual
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] [Bug] Uno -Exchange authorization code for bearer token blocked by CORS in browser(#1865)

Hi Ed,
I haven't had an update from th

[2020-08-25 18:05] willfiddes opened #2011 "[Feature Request] More logging for IWA"
**Is your feature request related to a problem? Please describe.**
Troubleshooting issues during IWA are difficult. In most cases the federated service may return a error message or a firewall/proxy/gateway may return an error that is not in a format in which MSAL can interpret and throws a ParsingWsMetadataExchangeFailed or ParsingWsTrustResponseFailed

**Describe the solution you'd like**
MSAL v

[2020-08-25 20:27] ibebbs commented on #1865
Latest from the AAD B2C team:

[2020-08-26 03:07] NelsonLamprecht opened #2012 "Permit a ConfidentialClientApplication to work on UWP apps."
**Is your feature request related to a problem? Please describe.**
I'm frustrated I can't use a certificate, installed with my UWP app, to get AzureAppConfig/Keyvault configuration data.

**Describe the solution you'd like**
Remove the GuardMobileFrameworks method from the ConfidentialClientApplication.
While I understand the 80/20 rule, i should be able to use a UWP app, specifically in an locked

[2020-08-26 07:39] timdriever commented on #1987
Our issue can be reproduced on different Samsung smartphones and happens when both phone's power saving mode and Authenticator optimizations are enabled. Authenticator appears to be unable to retrieve a new token because network calls are blocked. There is wifi on the phone. Is there a workaround available for this?

Adb Logging:

[code]

[2020-08-26 16:19] johnwc commented on #1234
What is the purpose of not allowing access to the refresh token? If it is apart of standard oAuth flows and usage, why is the MSAL library holding it hostage? I understand that you are trying to make the MSAL library over the top nice by handling the refresh process automatically for us, but there is scenarios where we need access to that refresh token as well. A few here have pointed out that we

[2020-08-26 16:42] henrik-me commented on #1234
@johnwc : I don't believe we are holding the RT hostage. We are encapsulating it in the cache of MSAL, and you can share that cache with your background process and there MSAL will have access to the RT. The reason for doing this is to ensure optimal number of refreshes and thus calls to AAD for a new valid token. Any reason you are not sharing the cache directly with your background process?

[2020-08-26 16:46] johnwc commented on #1234
@henrik-me Yes, the background processes are azure functions that are completely separate from the front end web app. They are also written in a completely different language. Is there a way to share the cache of MSAL from a C# front end, with an azure functions python background process?

[2020-08-26 16:55] henrik-me commented on #1234
The cache can and is sharable across .NET, Java, Python and soon with Node (currently in preview) as well.
@rayluo for Python.

[2020-08-26 18:16] johnwc commented on #1234
@henrik-me Where is the cache stored? How do I share MSAL cache from a App Service(.Net Core 3.1) running on a Windows App Service Plan, with Azure Functions(Python) running on a Linux App Service Plan?

This is good that they are shareable, and it seems like it will solve our issue. What about scenarios where someone is not using MSAL library in a backend service and just needs the raw refresh to

[2020-08-26 19:43] henrik-me commented on #1234
@johnwc : I would like to understand more of the scenarios in the backend service where MSAL is not used. To understand the reasoning for not using the libraries and what may be what we should focus on.

Readings about caching across the platforms:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-python-token-cache-serialization
https://docs.microsoft.com/en-us/azure/active-dir

[2020-08-26 19:51] johnwc commented on #1234
@henrik-me We don't have the scenario as of today, but one that I can think of easily would be a language that the MSAL does not support yet. Lile PHP for example. I know we have a fairly large PHP app that is about to be ported to Laravel, it will be using AAD B2C to secure it.

[2020-08-26 20:22] johnwc commented on #1234
@henrik-me I understand how the front end web app can use the distributed cache and store it in a SQL server, but how does the backend python service pick this account up and use the cached credentials?

[2020-08-26 20:36] trwalke opened #2013 "[Feature Request] Implement POP (SHR) for confidential client bringing your own keys (#2)"
What MSAL implements today:

- [WithProofOfPossession](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/67325c7cabb9e4dbccc32c6764c865f088b8f3ad/src/client/Microsoft.Identity.Client/ApiConfig/AbstractPublicClientAcquireTokenParameterBuilder.cs#L43) API
- this is available on .NET desktop for public client only
- there exists an internal interface `IPoPCryptoProvider` for

[2020-08-26 20:37] trwalke commented on #2013
Continuation of https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1946

[2020-08-26 20:37] trwalke commented on #1946
Continuing in Part 2 (https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2013)

[2020-08-26 20:47] henrik-me commented on #1234
The best way to demonstrate this is how Microsoft Identity Web works and how you hook in cache providers. While that is currently only operating for .NET consider that the backed service could be replaced by a version written in Python. This is something I believe we could provide a sample on at some point in time. Essentially the cache is just a blob of data that can be read by either of the libr

[2020-08-26 21:01] johnwc commented on #1234
@henrik-me I was looking at the example of MSAL for [web python app](https://github.com/Azure-Samples/ms-identity-python-webapp/blob/master/app.py#L64-L72) using cache serialization, what I don't understand is when it calls `accounts = ConfidentialClientApplication.get_accounts()` and then `ConfidentialClientApplication.acquire_token_silent(scope, account=accounts[0])`; on the backend, how would i

[2020-08-26 21:44] rayluo commented on #1234
@johnwc

The `accounts = get_accounts()` and then `acquire_token_silent(scope, account=one_account_chosen_from_accounts)` pattern is initially designed for Desktop or Mobile app where end user could sign in with multiple accounts. In a web app context, that sample persists the current signed-in end user's token cache into session, and stick with a "One Token Cache per User" model, so that the `get

[2020-08-26 21:59] johnwc commented on #1234
@rayluo I'm fine with persisting the token cache into a distributed cache like SQL or KeyVault, we will even write the needed cache provider to read/write from the distributed cache vault. I just need to know how to pick that cache up on the backend and use it for a specific user. The user logs into the front end, and then kicks off a long running process(azure functions) that needs to only run in

[2020-08-26 22:02] henrik-me commented on #1234
Please see the code in Identity.web. MSAL .NET exposes what is called a cache key in the serialization method, that is build based on whether it's a user cache or an app cache.

[2020-08-26 23:56] Coder-RKV opened #2014 "Unable to hide tool bar - Cancel & Done button for IOS and Sign In Title bar for Android"
Using .WithEmbeddedWebView does not allow to customize to hide the tool bar options - Cancel and Done button for IOS and Title Bar in Android.

[2020-08-27 04:20] jennyf19 commented on #2014
@iambmelt how do you guys handle this in native Android?

[2020-08-27 16:51] henrik-me commented on #1856
@markbeij we are not able to reproduce this issue. Closing, however if you have more information and still need our assistance pls. add more details and re-open.

[2020-08-27 16:55] henrik-me commented on #2009
@swidz  We are not planning on removing the reference to winforms for the net desktop target. however we are planning on supporting embedded webviews on netcore via custom ui. Closing, if you need more information please reopen and let us know

[2020-08-27 16:55] #2009 closed

[2020-08-27 17:19] henrik-me commented on #1903
planning: @aiwangmicrosoft @jmprieur to synergize on this and update the sample

[2020-08-27 17:25] henrik-me commented on #2007
@alexander-papen : did you open an issue in the Xamarin repo for this?

[2020-08-27 17:28] henrik-me commented on #1994
By design

[2020-08-27 17:28] #1994 closed

[2020-08-27 17:31] henrik-me commented on #1914
planning: Travis to follow up with the more-info

[2020-08-27 17:33] henrik-me commented on #1885
planning: Neha to get the latest status

[2020-08-27 17:39] henrik-me commented on #1871
@jmprieur for evaluating priority

[2020-08-27 17:45] henrik-me commented on #1796
planning: Next step is to find next improvements

[2020-08-27 17:48] salhathloul opened #2015 "[Bug] Microsoft.Identity.Client.MsalUiRequiredException"
**Which Version of MSAL are you using ?**
 Microsoft.Identity.Client, Version=4.17.1.0

**Platform**
asp net mvc .net framework 4.8

**What authentication flow has the issue?**
* Web App
    * [ ] Authorization code , Graph Api , open id, AcquireTokenSilent

Other? - please describe;

**Is this a new or existing app?**
b. The app is in production, I haven't upgraded MSAL, but started seeing this i

[2020-08-27 17:52] henrik-me commented on #1090
planning: @trwalke to validate this scenario

[2020-08-27 19:13] jmprieur commented on #2015
@salhathloul
which token cache do you use? maybe the cache is deleted?

[2020-08-27 19:29] jennyf19 commented on #2015
@salhathloul this [sample](https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/blob/5ee5e3de886fc9065cdb11de6d5913a4cb87c562/WebApp/Controllers/HomeController.cs#L59) should help you see how to set this up and handle the re-sign in of the user.

[2020-08-27 21:52] lion92pl commented on #1723
@Mephisztoe I have tried with `clientApplicationBuilder.WithIosKeychainSecurityGroup(Xamarin.Essentials.AppInfo.PackageName)` and it is not working. `Xamarin.Essentials.AppInfo.PackageName` resolved properly to our package name. From what I can see in Hot Restart article I guess that it updates binaries in app container. In my case app wasn't installed on device prior to using Hot Restart, so app

[2020-08-27 22:34] iambmelt commented on #2014
@Coder-RKV @jennyf19 If you'd like to hide the title bar on Android, you can apply a `theme` in your application's `AndroidManifest.xml` to the relevant `Activity` -- an example of how to apply a theme can be found [here](https://stackoverflow.com/a/3752646). Note you will need to apply a theme that does not display the title bar.

[2020-08-27 22:54] Coder-RKV opened #2017 "[Bug] Unable to view Keypad on IOS on Input focus - Xamarin Forms - EmbeddedWebView"
**Which Version of MSAL are you using ?**
4.17.1

**Platform**
Xamarin Forms

**What authentication flow has the issue?**
Other?
On the IOS Simulators (haven't yet tested on the phone), unable to see the keypad opening for any input fields. Tried IOS 11 (13.6.1) and IOS 8 (13.6.1). I am using EmbeddedWebView to display.

**Is this a new or existing app?**
App is in development

**Expected behavior

[2020-08-27 23:07] Coder-RKV commented on #2014
@iambmelt Thank you for your comment.
Applied a theme that doesn't display the title bar

[Activity(MainLauncher = false, Theme = "@style/MyTheme")]
    [IntentFilter(new[] { Intent.ActionView },
        Categories = new[] { Intent.CategoryBrowsable, Intent.CategoryDefault },
        DataHost = "auth",
        DataScheme = "msal[ClientId]")]
    public class MsalActivity : BrowserTabActivity
    {

[2020-08-27 23:40] iambmelt commented on #2014
@Coder-RKV I suggest following up with @jennyf19 -- using the Android library, this is working for me

![image](https://user-images.githubusercontent.com/990063/91505148-c31c6800-e883-11ea-92ba-43a76593cd45.png)

[2020-08-28 00:03] jennyf19 commented on #2014
thanks @iambmelt - we hard code the "sign-in" value. will look into this.

@Coder-RKV can you share a screen shot of the issue for iOS?

[2020-08-28 00:06] Coder-RKV commented on #2014
Thank you @iambmelt
This is the sample I am referring to - https://github.com/Azure-Samples/active-directory-b2c-xamarin-native.

@jennyf19 Here's the IOS Screenshot
<img width="327" alt="Screen Shot 2020-08-27 at 8 05 04 PM" src="https://user-images.githubusercontent.com/1075905/91506666-a8a4b780-e8a0-11ea-8464-0ef3b4d109c1.png">

Are there any work arounds with any examples that I can explore? L

[2020-08-28 00:08] jennyf19 commented on #2014
@Coder-RKV i'll have to ask our iOS team...btw...embedded webview is not recommended for B2C, as Google auth is not allowed w/embedded webview, you'd have to use the system browser. We recommend system browser for B2C for this reason. With system browser and B2C, you can customize all the elements of the sign-in screen. Is that what you're looking for?

[2020-08-28 00:11] neha-bhargava opened #2018 "Add telemetry for the region detected."
**Is your feature request related to a problem? Please describe.**
Add telemetry to log the detected region when .WithAzureRegion is set to true.

**Additional context**
As a follow up to [Support for regional ests](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1956), log the region detected or not detected to telemetry.

[2020-08-28 00:16] Coder-RKV commented on #2014
@jennyf19 The requirement is to give a native app experience to the user since B2C is as of now just utilized for in-house account maintenance for the App. Hence utilized the embedded web view. If using the system browser, we can customize the screen to look like a native screen (I think it pops out in IOS) - like hiding the address bar e.t.c., please guide me to an example of that, I can check th

[2020-08-28 00:46] jennyf19 commented on #2014
@Coder-RKV I see. thanks for the additional information. Here's a [doc](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview) from B2C on UI customization, if you need more help, let us know and we can put you in touch with someone from B2C.
Is this what you're looking for on Android?
![image](https://user-images.githubusercontent.com/19942418/91508724-26f75e80-e88d-11

[2020-08-28 01:09] jennyf19 commented on #2017
thanks @Coder-RKV can you provide screenshots or a recording of what you're seeing. thanks.

[2020-08-28 01:25] Coder-RKV commented on #2017
@jennyf19 Please find attached.

The input is in focus, but unable to see the keypad.
Just seeing a Done button to come out of the focus for the input.
![Simulator Screen Shot - iPhone 8 - 2020-08-27 at 21 02 39 2](https://user-images.githubusercontent.com/1075905/91510617-9da35480-e8ab-11ea-81a0-f33429a7de00.png)

[2020-08-28 01:28] Coder-RKV commented on #2014
@jennyf19 Thank you. We're already using Custom HTML. So that's covered, thanks.

Its great to not see the Sign In text in the above screenshot, we'd want that but without the black bar as well. Basically, the title bar itself to be hidden.

[2020-08-28 01:39] jennyf19 commented on #2014
@Coder-RKV
![image](https://user-images.githubusercontent.com/19942418/91511484-a0df1600-e894-11ea-9158-9fdbdd8e71a7.png)
I put this in the manifest:
` <application android:theme = "@android:style/Theme.NoTitleBar">`

[2020-08-28 01:42] jennyf19 commented on #2014
@Coder-RKV Here's a link to b2c samples w/the UI customization: https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview#examples

[2020-08-28 01:43] jennyf19 commented on #2017
@Coder-RKV I checked w/our iOS team, and this is an issue w/Apple. They reported the issue a few days ago and are waiting to hear back. Will mark as external for now. thanks for reporting.

[2020-08-28 01:48] Coder-RKV commented on #2017
@jennyf19 Thank you for confirmation. Just wanted to double check on one thing though. Will it work on publishing to the device?

Perhaps its a simulator only issue?

[2020-08-28 01:51] jennyf19 commented on #2017
@Coder-RKV our iOS team first noticed on a device, and sent that feedback to Apple, so to answer your question, I doubt this will work on a device. If i get more info from them, i'll update this issue.

[2020-08-28 01:55] Coder-RKV commented on #2017
@jennyf19 Thanks. So in essence the library version is unstable / unusable for IOS as of now.

[2020-08-28 02:02] jennyf19 commented on #2017
@Coder-RKV more like an issue w/Apple, not us. You can use system browser until things w/Apple get resolved.
@kaisong1990 is working w/Apple on this, & can chime in and answer more questions if needed.

[2020-08-28 02:05] Coder-RKV commented on #2014
@jennyf19 Thanks a tonne. So this'll be available in the next build or I'd have to try tweaking the manifest for my application (I doubt that's possible as it's already set to a particular style). Per the above comment, I've already tried that with the MSALActivity and that didn't work either.

[2020-08-28 02:06] Coder-RKV commented on #2017
@jennyf19 Thank you. BTW, observed the same for without EmbeddedWebView(true) i.e. the system browser (at least on the simulator).

[2020-08-28 02:07] jennyf19 commented on #2014
@Coder-RKV i don't think it will work w/the "sign-in" label hard coded, but w/that removed, you should be able to tweak things. will be in the next release, as the current release that's being tested (4.18) is already in testing mode, so missed that one. how urgent is this for you?

[2020-08-28 02:08] jennyf19 commented on #2017
@kaisong1990 - @Coder-RKV is reporting the same on simulator. Which os version are you using @Coder-RKV ?

@trwalke can you try this out (embedded & system browser) w/the same os version? thx.

[2020-08-28 02:13] Coder-RKV commented on #2014
@jennyf19 Actually it was a little urgent as this is a part of the sprint and the sprint release is slated for 1st September. Thats why I was trying all that I could to achieve this.

[2020-08-28 02:14] jennyf19 commented on #2014
ok. I'll talk w/the team and see what we can do. otherwise, they are on a two week cadence for releases. should know more tomorrow (Friday). @Coder-RKV

[2020-08-28 02:15] Coder-RKV commented on #2014
Thank you so much @jennyf19

[2020-08-28 02:28] Coder-RKV commented on #2014
@jennyf19 Could you also please let know about the IOS side? For the Cancel button?

[2020-08-28 02:30] kaisong1990 commented on #2017
@Coder-RKV We are facing the very similar issue on iOS side (real device) when user tries to type in username/password in the webView, the keyboard shows as transparent. Discussed with the web team, and they confirmed there is no special handling before showing the keyboard. We have filled a feedback to Apple regarding this issue and pending their response at the moment.

[2020-08-28 02:32] jennyf19 commented on #2014
@Coder-RKV you might be able to use a customer renderer to hide those elements. we don't have a sample showing it though. you'd have to search. if i find anything, i'll let you know.

[2020-08-28 02:33] Coder-RKV commented on #2017
@kaisong1990 Thank you for confirmation. Will keep an eye on this.

[2020-08-28 02:33] Coder-RKV commented on #2014
@jennyf19 Sure thanks, will check.

[2020-08-28 05:33] johnwc commented on #1234
@henrik-me How do I call the MSAL python module in the backend function to retrieve one of those cached token entries? That is my dilemma, where do I pass in what user I need to retrieve the token for?

[2020-08-28 05:38] rayluo commented on #1234
MSAL Python token cache can be deserialized from a previously serialized content. You can refer to [this code snippet](https://msal-python.readthedocs.io/en/latest/#msal.SerializableTokenCache). MSAL .Net probably also expose a serialize method.

[2020-08-28 11:23] Coder-RKV commented on #2017
@kaisong1990 @jennyf19 Any updates? This is actually a critical blocker to use MSAL library for our project.

[2020-08-28 11:23] Coder-RKV commented on #2014
@jennyf19 Please let me know if we have any update on the timeline?

[2020-08-28 13:34] johnwc commented on #1234
@rayluo @henrik-me Ok, so lets take your example link. I see how to add a cache class instance, understood that already. In the context of `app = msal.ClientApplication(..., token_cache=cache)` we are creating a ClientApplication instance as `app`. Now, if a user `joe@ad.corp` logged in on the frontend and initiated the backend to run. In the backend, what do I call in the `app` object to get the

[2020-08-28 15:30] jennyf19 commented on #2017
@Coder-RKV We are waiting to hear back from Apple. The issue is external to MSAL. @kaisong1990  will update when he has info.

[2020-08-28 16:12] kaisong1990 commented on #2017
@Coder-RKV One more clarification from you. Based on the description, it said ```the keyboard is not showing```, and the screenshot shows the arrow and done button at the very bottom. Can you try to type cmd+k on simulator to see if you can see the keyboard?

[2020-08-28 16:53] Coder-RKV commented on #2017
@kaisong1990 oh my god... that's like a crazy moment... do you think it'll work on the device as well then?
I'll try to publish it and check it anyway

[2020-08-28 17:00] kaisong1990 commented on #2017
@Coder-RKV This is a feature on iOS simulator to let developers see more content during development. It should not happen on real device

[2020-08-28 19:58] jennyf19 commented on #2014
@Coder-RKV looks like the team will try to get this out next week. @trwalke will start that process once 4.18 is out the door.

[2020-08-28 20:01] rayluo commented on #1234
@johnwc This is the other half to my last night's answer.

MSAL .Net does provide several serialize methods. You should use [this latest one](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/4.17.1/src/client/Microsoft.Identity.Client/ITokenCacheSerializer.cs#L28) for cross-language token cache format. More info [here](https://github.com/AzureAD/microsoft-authentication-

[2020-08-28 20:21] Coder-RKV commented on #2014
@jennyf19 Thank you, please also keep me posted on the dates by which we can check out the nugget / branch. So that I can also communicate accordingly.
Thank you again.

[2020-08-28 20:29] jennyf19 commented on #2014
sounds like a plan @Coder-RKV

[2020-08-28 20:59] Coder-RKV commented on #2017
@kaisong1990 @jennyf19 On an iPhone X OS 13.5.1, I am able to view the number keypad and the email (alphanumeric) keypad. With the cmd x, I'm able to see in simulator too.

[2020-08-28 22:38] jennyf19 commented on #2017
@Coder-RKV can we close this issue? @trwalke is going to investigate the other iOS/Apple issue and open a new issue if needed. sound good?

[2020-08-29 00:51] johnwc commented on #1234
@rayluo @henrik-me Guys... I've already said that we have written the class for storing/retrieving the token cache, and we are plugging it into the Python MSAL module as your example shows using the `token_cache` parameter for the constructor of `ClientApplication`. I need to know how to now call the instance `app` that is of type `ClientApplication`. I can only assume that I am calling the method

[2020-08-29 04:03] rayluo commented on #1234
That is correct. It is the "step 2" in our [3-step pattern](https://github.com/AzureAD/microsoft-authentication-library-for-python#usage).

[2020-08-29 04:44] johnwc commented on #1234
@rayluo The one thing that I worry about from just looking over the [MSAL Python caching class](https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/dev/msal/token_cache.py#L262), is that it looks like it assumes that all of the items in the serialized cache belongs to one user, the current active user. In our case, on the web frontend we are writing the cache to the KeyVaul

[2020-08-29 07:25] rayluo commented on #1234
Your observation is correct. And that was [what I mean by this earlier comment](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1234#issuecomment-681139845): "In a web app context, that sample persists the current signed-in end user's token cache into session, and stick with a "One Token Cache per User" model, so that the get_accounts() would still work."

And that is

[2020-08-29 08:10] jmprieur commented on #1234
@rayluo @johnwc: yes, Microsoft.Identity.Web maintains a partition of the token cache for you, and in fact the cache key is now computed by MSAL.NET (`SuggestedCacheKey` property of the token serialization even args)

The cache key is for the moment:
- Client id for the app token cache. We might move to clientId + tenant ID (for multi-tenant applications)
- a hash of the user assertion in the case

[2020-08-29 16:33] Coder-RKV commented on #2017
@jennyf19 Closing the issue as am able to view the input keypad.

Also, could you please provide a one liner for the open iOS/Apple Issue so that we can be aligned on the same and if it has any impact.

[2020-08-29 16:33] #2017 closed

[2020-08-29 20:13] jennyf19 commented on #2017
@kaisong1990  can provide a one-liner and @trwalke will update if MSAL .NET is impacted

[2020-09-01 07:02] moanrose commented on #1988
I am experiencing the same issue on MSAL 4.17.1

But I only see the issue on .NET core, if i run the exact same code on .NET framework - it works as intended

.NET Framework 4.7.2
.NET Core 3.1

[2020-09-01 10:00] taruns-hexaware opened #2023 "Need Help In Customising In App Browser Using ICustomWebUi Interface"
### Documentation Related To Component:
ICustomWebUi: Customising  In App Browser For AD B2C Flow
### Please check those that apply

- [ ] typo
- [x] documentation doesn't exist
- [x] documentation needs clarification
- [ ] error(s) in example
- [x] needs example

### Description Of The Issue

I am using AD B2C for my Xamarin form application. I am able to customize the top navigation bar by embed

[2020-09-01 11:17] jmprieur commented on #2023
@taruns-hexaware : thanks for raising this issue
I don't think that we have the full coverage of the B2C scenarios when one customizes the Web view.
Adding an enhancement label

[2020-09-02 02:51] Coder-RKV commented on #2014
@jennyf19 Any update please.

[2020-09-02 02:52] Coder-RKV commented on #2017
@kaisong1990 @trwalke @jennyf19 One-liner and impact please

[2020-09-02 03:31] kaisong1990 commented on #2017
The issue we saw earlier is that when user taps textfield from sign in flow on web view, for example, email address or password field, the keyboard window will present from bottom. However, the keyboard itself is transparent. We found this issue during one of our bug bash from real device. And there is no constant way to reproduce this issue. The issue can be fixed by reopen the app or navigate we

[2020-09-02 03:41] jennyf19 commented on #2014
@Coder-RKV this will be in the 4.18 release, which should be out sept 2 or 3.

[2020-09-02 10:32] ibebbs commented on #1865
Given there has been no update from the Azure AD B2C team, I tested this issue this morning and can confirm it still exists.

I have asked for an updated ETA...

[2020-09-02 11:56] markbeij commented on #1995
We have this issue as well. This should be patched to 4.17.2 as this makes MSAL for iOS quite useless

[2020-09-02 13:57] harmjonker commented on #1987
We are experiencing serious problems with the apps that use MSAL.net and Authenticator for getting access tokens due to this optimization functions. We are now telling the end users to turn off optimization in MS Authenticator to keep things working.  But we really would like to know what is happening and how to deal with this.
What is your advice on this power saving mode and the Authenticator op

[2020-09-02 20:24] trwalke commented on #1956
fixed in [Release 4.18.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.18.0)

[2020-09-02 20:24] #1956 closed

[2020-09-02 20:24] trwalke commented on #1946
fixed in [Release 4.18.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.18.0)

[2020-09-02 20:24] #1946 closed

[2020-09-02 20:25] trwalke commented on #1980
fixed in [Release 4.18.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.18.0)

[2020-09-02 20:25] #1980 closed

[2020-09-02 20:25] trwalke commented on #1995
fixed in [Release 4.18.0](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/4.18.0)

[2020-09-02 20:25] #1995 closed

[2020-09-02 21:04] jennyf19 commented on #2014
@Coder-RKV this has been fixed and in release 4.18.

[2020-09-02 21:25] trwalke commented on #2014
Thanks @jennyf19

[2020-09-02 21:25] #2014 closed

[2020-09-03 16:19] trwalke opened #2026 "[Enhancement] Resolve PKeyAuth Bypass on unsupported platforms for 301 Found Status"
**Which Version of MSAL are you using ?**
Current

**Platform**

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Try to sign into an application interactively with a device

[2020-09-03 16:32] trwalke opened #2027 "[Fundamentals] Failing/Missing integration tests need to be investigated."
**Which Version of MSAL are you using ?**
Latest

The following tests have been added to the test sheet and could not be found. Please verify if these tests are missing/failing.

**Confidential client:**
"Web API calls graph on behalf of ADFS user"
"Web App calls graph on behalf of user"
"Acquire a token with auth code in ASP.NET CORE website"

**Public client (AppCenter)**
"Interactive with Promp

[2020-09-03 16:46] trwalke opened #2028 "[Internal] Improve the Azure AD build system speed and reliability"
**Is your feature request related to a problem? Please describe.**
The current build system can be somewhat unstable and can to take up to 40 mins for all tests to run. Tests are run at the end of the build so if they fail, it takes a significant amount of time to rerun the tests to debug issues.

**Describe the solution you'd like**

[2020-09-03 17:21] trwalke commented on #1985
Fixed in 4.18.0

[2020-09-03 17:21] #1985 closed

[2020-09-03 17:35] trwalke commented on #1833
Please reopen if this fix is still needed

[2020-09-03 17:35] #1833 closed

[2020-09-03 17:53] trwalke commented on #1943
@Lele19xx  Do you have any more information on how to reproduce this?

[2020-09-03 17:57] #1472 closed

[2020-09-03 17:58] trwalke commented on #1472
During triage we decided to close but if there is a customer need for daily builds we can do this.

[2020-09-03 17:59] #1981 closed

[2020-09-03 18:00] bachoang opened #2029 "[Feature Request] MSAL Logging should include machine info"
**Is your feature request related to a problem? Please describe.**
Per discussion with Jenny Ferries and Jean-Marc, customers often run into intermittent issue with AcquireTokenSilent pulling up no account info even though they have already authenticated.  This might be due to the customers not using distributed MSAL Token cache when running the web site in a web farm.  They often will use in memo

[2020-09-03 18:08] #2006 closed

[2020-09-03 23:25] trwalke commented on #1987
Hello @harmjonker , this is a well known issue for brokered authentication on android. The background communication can be impacted by the optimization settings in the OS. There should be a menu option in the authenticator to make this easy.

This is entirely outside the control of MSAL.NET and the mechanism that MSAL uses to communicate with the broker should not be affected by power optimization

[2020-09-03 23:56] trwalke commented on #1914
What needs to be done here is the handling of the potential exceptions thrown when using GetAccountsAsync()

ForExample:
[code]
see this for more details
https://github.com/xamarin/xamarin-android/issues/4898#issuecomment-680147755

What is happening here is that some of the exception types are not being used by the linker and when an exception is thrown, MSAL throws a strange error that is not ve

[2020-09-04 00:04] trwalke commented on #1863
This is looking like an issue with the authenticator app not being able to return the control back to MSAL. Unfortunately, I am unable to reproduce this issue so please reopen this if you have more information/a repro.

[2020-09-04 00:04] #1863 closed

[2020-09-04 07:38] RhomGit opened #2030 "[Bug] Edit Profile is asking user to log in"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.18.0

**Platform**
.NET Standard 2.0, .NET Framework 4.6.1, WPF

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive B2C

**Is this a new or existing app?**
The app is in production but updated MSAL version and changed areas of code and are now re-testing.

**Repro**

[code]

**Expected behavior*

[2020-09-04 07:45] RhomGit opened #2031 "[Bug] Editing and saving profile clears cached accounts"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.18.0

**Platform**
.NET Standard 2.0, .NET Framework 4.6.1, WPF

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive B2C

**Is this a new or existing app?**
The app is in production but updated MSAL version and changed areas of code and are now re-testing.

**Repro**

[code]

**Expected behavior*

[2020-09-04 10:42] jmprieur commented on #2031
which token cache serialization did you use, @RhomGit ?
What's the code to create the public client application?

[2020-09-04 10:46] jmprieur commented on #2030
@RhomGit, how did you get the account. Did you use [app.GetAccountsAsync(AuthB2C.AuthorityEditProfile)](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/IClientApplicationBase.cs#L59).FirstOrDefault() ?

[2020-09-04 20:28] neha-bhargava commented on #1881
@ssahon The fiddler trace does not seem to indicate the problem. Did you look at https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop/blob/133a352aed5ea9c30cf039ec88785c109c385b69/active-directory-b2c-wpf/MainWindow.xaml.cs#L43 where the sample is handling reset password. I was able to use the sample to reset password.

[2020-09-04 22:06] RhomGit commented on #2031
Hi Jean-Marc,

[code]

[2020-09-04 22:13] jennyf19 commented on #2031
@RhomGit are you using your own keychain group or "com.microsoft.adalcache"? If this is on iOS, the tokens will go to the keychain. If you're not on iOS, you don't need this line ` .WithIosKeychainSecurityGroup("com.microsoft.msalrocks")`...which platform are you having the issue on?

[2020-09-04 22:16] RhomGit commented on #2030
Sorry for not including that piece of info.

I was using the (older?) method using GetAccountByPolicy() but have now changed it to the following with same result.

[code]

Interestingly the accounts enumerable does have something in it but FirstOrDefault() returns null.
![image](https://user-images.githubusercontent.com/25700833/92288137-895ff700-ef3e-11ea-8a5d-b5f2eafb682f.png)

I tried to put it

[2020-09-04 22:19] jennyf19 commented on #2030
@RhomGit Can you share the original code and include the silent calls + AT interactive calls?

[2020-09-04 22:34] RhomGit commented on #2031
Hi Jenny,

this particular issue is on Windows desktop (I haven't tested other platforms). The iOS bit is in there because I share the MSAL portion of my code across many projects (including a Xamarin Forms mobile app) ... and yes, I need to update the keychain group to my own ;)

[2020-09-04 22:35] jennyf19 commented on #2031
@RhomGit You said this was working previously? which version was working? do you have a repro you can share?

[2020-09-04 22:43] RhomGit commented on #2030
Hi Jenny,

the original code used a Helpers class for "GetAccountByPolicy". Please find it all below:

[code]

[code]

[code]

[2020-09-04 22:46] jennyf19 commented on #2030
@RhomGit cool, thanks! i assume this is the same code reported in the other issue. if you have a repro, that would help. I can use our B2C tenant and see what's going on better.

[2020-09-04 22:50] RhomGit commented on #2031
I honestly couldn't tell you as it has been such a long time (more than a year at the very least). Its a feature that you add in and then never test again until a user reports an issue (or a developer misclicks "Sign Out" and then recognises an issue hehe).

[2020-09-04 23:07] jennyf19 commented on #2031
@RhomGit that's true. lol.

if you can send us a zip file, or point us to a repo, that would help, as in recent testing w/MSAL, I haven't seen this issue.

[2020-09-05 00:07] RhomGit commented on #2030
Hi Jenny,
I have quickly thrown together a repro here: https://github.com/RhomGit/MSALDesktopRepro
Its really rough, sorry.

The buttons on the right, click in this order:
Create Auth, Silent and then Edit Profile.
![image](https://user-images.githubusercontent.com/25700833/92292222-a7355800-ef4e-11ea-813f-1054e3ff8aa7.png)

[2020-09-05 00:08] jennyf19 commented on #2030
thank you! @RhomGit

[2020-09-05 00:34] RhomGit commented on #2030
There was no sign out function and silent failure wasn't handled nicely so I have pushed an update.

So the steps for repro would be:
- Create Auth object
- Interactive sign in (using your own B2C values)
- Edit Profile (should work)
- Close and reopen the App
- Create Auth object
- Silently sign in
- Edit Profile (should require additional authentication)

[2020-09-07 09:17] ibebbs commented on #1865
@EdBlacker, the Azure AD B2C team deployed a fix for this issue on Friday. I ran some preliminary tests and it seems to work.

@bgavrilMS, unless @EdBlacker encounters further problems, I believe this issue can be closed now. Thanks for keeping it active while the issue was addressed.

[2020-09-07 09:27] Coder-RKV commented on #2030
#metoo :)

[2020-09-08 08:51] #1865 closed

[2020-09-08 08:51] jmprieur commented on #1865
Thanks for the update, @ibebbs!

[2020-09-08 09:05] edparitor commented on #1865
@ibebbs @jmprieur I confirm that it's working for me - thanks all!

[2020-09-08 12:43] tipa opened #2032 "[Feature Request / Question] Save, query, remove multiple IAccounts using a custom identifier"
**Describe the solution you'd like**
In my app, I want my users to be able to connect to multiple Microsoft Graph services. More specifically, my users are already able to connect to the MS Graph and grant the app permission to access their OneDrive. Now I also want them to be able to connect to their Outlook calendar so that the app can display their appointments. The user should be able to use e

[2020-09-08 16:11] joshtransient opened #2033 "[Documentation]"
### Documentation Related To Component:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Integrated-Windows-Authentication
Intgegrated Windows Authentication flow

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [X] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue
The link http

[2020-09-08 16:25] jmprieur commented on #2033
#assign jmprieur

[2020-09-08 16:25] jmprieur commented on #2033
Thanks for the heads-up @joshtransient
I just fixed it.

#please-close

[2020-09-08 16:41] joshtransient commented on #2033
That was fast :) Thanks @jmprieur

[2020-09-08 16:41] #2033 closed

[2020-09-08 17:30] neha-bhargava commented on #1885
There was a meeting to discuss this and it was stated that for ADFS 2019 the DRS discovery is not applicable. So, what we do currently in MSAL is compliant with it. Closing it until there is some change in the security compliance. @henrik-me @bgavrilMS

[2020-09-08 17:30] #1885 closed

[2020-09-09 01:57] jennyf19 commented on #2030
@RhomGit the repro you sent was SUPER helpful, love the app, very awesome. Thank you so much. I started w/this issue. I'll see if i have time to tackle the second issue today as well.
Here is my suggestion:
- I followed your repro steps, also, SUPER helpful, thank you so much. definitely saved us both a lot of time and back & forth.
- [x] Create Auth object
- [x] Interactive sign in (using your ow

[2020-09-09 01:58] jennyf19 commented on #2030
@Coder-RKV I'd need to see your code, do you have a link or repro you can share? thx.

[2020-09-09 02:02] jennyf19 commented on #2031
@RhomGit i think what I wrote in #2030 will resolve this one as well, but i'm not sure. If you disagree, just provide the repro steps, like you did in the other issue and i'll try it out. looks like the same issue though w/an authority mismatch. MSAL is defaulting to su_si, but you're trying to use an account from edit_profile, but su_si is a separate authorization server from the edit_profile one

[2020-09-09 02:09] jennyf19 commented on #1835
@jwosty what's the status on this one? feel free to close if it's been resolved. thanks.

[2020-09-09 02:11] jennyf19 commented on #1879
@din-prajapati apologies for us taking awhile to get to your issue.
Do you have a repro or a link to a repro that we can use to try and reproduce this issue and see your code set-up?

[2020-09-09 02:19] jennyf19 commented on #1943
@Lele19xx What do your AcquireTokenInteractive and AcquireTokenSilent calls look like? or do you have a link to the code you can share? Thx!

[2020-09-09 02:30] jennyf19 commented on #1943
nevermind...i see it above. do you have a link to your code or a repro we can try?

[2020-09-09 05:05] RhomGit commented on #2030
I am not sure I understand sorry.

Why do you have one for edit profile? In the repro 3rd step I only have 1 account when calling "pca.GetAccountsAsync()" and that is susi.

Furthermore calling this returns null:
[code]

Yet when calling the following code in Step 3 the Edit Profile dialog opens perfectly (no additional auth required).
[code]

If I understand what you are saying then perhaps the a

[2020-09-09 14:16] jennyf19 commented on #2030
I have two because I signed in initially (step 2) and got a token and then did edit profile (step 3), so now i have two accounts in the cache. When I closed the app, I did not sign out, so the accounts were still in the cache when I reloaded the app.

right, because you don't have an account for that policy in the cache.

`.WithAccount()` acts like the login hint, so it can "pre-fill" the sign-in

[2020-09-09 16:49] henrik-me commented on #1992
Fix is in 4.18

[2020-09-09 17:01] henrik-me opened #2034 "[Bug] Creating the HttpClient is not thread safe"
**Which Version of MSAL are you using ?**
4.18.0

**Platform**
Desktop (verified on net desktop, same issue applies to netcore, and possibly other targets)

**What authentication flow has the issue?**
All flows as this is about the HttpClient

**Is this a new or existing app?**
Existing in prod.

**Repro**
Verified by code inspection:
src/client/Microsoft.Identity.Client/Platforms/netdesktop/Http/

[2020-09-09 17:08] #1992 closed

[2020-09-09 22:50] RhomGit commented on #2030
Hmm, that is a different result to me.

1. Sign out
2. Create Auth object
3. Interactive sign in (using your own B2C values)
4. Edit Profile (should work)
a) I only have a susi account
b) B2C uses the 'active session cookie' to use the susi account to validate the edit_profile B2C authority
c) it works

5. Close and reopen the App
6. Create Auth object
7. Silently sign in
8. Put a breakpoint on Au

[2020-09-09 22:50] #2030 closed

[2020-09-09 22:50] #2031 closed

[2020-09-09 22:57] jennyf19 commented on #2030
@RhomGit not a waste of time at all. we recently did work in a related area, so it was good to triple check we didn't have any issues there. I really appreciate the repro and quick responses from you. very helpful. if anything else comes up, let us know.

Also, @jmprieur and I realized this is not very well documented, not from us, nor B2C, so something we can improve for sure.

[2020-09-09 23:15] kylepope-ge commented on #1609
@ossentoo We are running an ASP.NET Core 3.1 server and have the exact same problem with the correlation cookie. Observing the original request to authenticate, it looks like our server is not including the correct redirect_uri query parameter as mentioned by @Zimmergren. The solution that @EdiWang documented looked promising, but because we don't have a custom domain, going to the Front Door fron

[2020-09-10 07:21] hpsin opened #2037 "[Feature Request] Ability to append headers on requests to the IDP for code and RT redemption"
**Is your feature request related to a problem? Please describe.**
In order for our next generation Tenant Restrictions feature to work  securely, web applications must forward the headers they receive with the code to AAD to ensure that code injection attacks do not succeed. To do so, they need to be able to add a header to an auth code redemption request and an RT redemption request.

**Describe

[2020-09-10 07:50] jmprieur commented on #1609
Closing as answered
See also https://github.com/AzureAD/microsoft-identity-web/wiki/Deploying-Web-apps-to-App-services-as-Linux-containers

[2020-09-10 07:50] #1609 closed

[2020-09-10 07:52] jmprieur commented on #1473
This is now spec-ed (see Jenny's work in the MIcrosoft.Identtiy.Web issue). We just need to add an extra parameters for the code verifier which will be provided by ASP.NET Core.

Remains to prioritize
(before .NET 6)

[2020-09-10 17:50] hpsin commented on #2037
Thanks Henrik - that's a good start.  This makes per-request injection rather difficult still, and can induce race conditions easily (e.g. the usual pattern of a static shared HttpClient being called to update the header dynamically is sure to fail).

[2020-09-10 18:18] jennyf19 commented on #425
In the UI, you can click the vertical three dots, and hit "forget the account", this is the way suggested by Azure AD. The user has to make this decision, not the SDK.
closing as external.

[2020-09-10 18:18] #425 closed

[2020-09-10 18:20] jennyf19 commented on #670
closing, as old.

[2020-09-10 18:20] #670 closed

[2020-09-10 18:21] jennyf19 commented on #907
@henrik-me  update on this? ;)

[2020-09-10 18:39] jennyf19 commented on #2032
Yes, this is our current recommendation. We will keep the issue open and see if developers +1 👍 it, so we can gauge the priority & then determine next steps. Thanks for bringing it to our attention.

[2020-09-10 18:41] trwalke commented on #1943
Please provide more information and reopen.

[2020-09-10 18:41] #1943 closed

[2020-09-10 18:55] trwalke commented on #1881
Please provide more info and reopen @ssahon

[2020-09-10 20:26] tipa commented on #2032
Thanks for your response. Too bad there's no easy solution for this. I might create a new client app in Azure then as this seems to by far the easiest solution...

[2020-09-10 23:00] Coder-RKV commented on #2030
@jennyf19  For repro, we can use exactly the same as https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/ and just add an WithUseEmbeddedView(true) in the SignInInteractively.

Please note that the above implementation works for Android.

[2020-09-10 23:38] jennyf19 commented on #2030
@Coder-RKV if that's the case, then I can't repro the issue, as the sample referenced works as expected. Probably easier to share a repro or link to the code. thx.

[2020-09-10 23:58] Coder-RKV commented on #2030
@jennyf19 Thank you for taking time to reply. However, wondering the repro would just be the same. The sample referenced works as expected without the Embedded Web View, the moment we introduce it, it just works in Android.

Snippets of the changes
private async Task<UserContext> SignInInteractively()
        {

            IEnumerable<IAccount> accounts = await _pca.GetAccountsAsync();

[2020-09-11 00:01] jennyf19 commented on #2030
@Coder-RKV you need to have `.WithB2CAuthority(B2CConstants.AuthorityEmailVerification)` not `.WithAuthority(B2CConstants.AuthorityEmailVerification)`

[2020-09-11 00:10] Coder-RKV commented on #2030
Tried it, no luck,

[2020-09-11 00:12] jennyf19 commented on #2030
@Coder-RKV you can open a new issue w/exactly what the issue is & provide a repro. thanks.

[2020-09-11 00:22] one-harsh commented on #1501
In case people end up here, looking for solution, there is a cleaner way to fix it. Add the following XML snippet to the failing csproj which uses PackageReference:
[code]

[2020-09-11 00:43] Coder-RKV opened #2038 "[Bug] Edit Policy using Embedded Web View asks for sign in for IOS"
**Which Version of MSAL are you using ?**
4.17.1 (Also tested with 4.18.0)

**Platform**
xamarin android, xamarin iOS

**What authentication flow has the issue?**
* Desktop / Mobile
    * **[ ] Interactive**
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Is this a

[2020-09-11 00:46] jennyf19 commented on #2038
@Coder-RKV thanks for opening the issue here. Will be easier to keep things separated.

[2020-09-11 00:49] Coder-RKV commented on #2014
Thank you. Implemented and working as expected!

[2020-09-11 00:55] jennyf19 commented on #2038
@Coder-RKV can you try removing [`.WithAccount()`](https://github.com/Coder-RKV/msal-xamarin-sample-embeddedwebview/blob/master/UserDetailsClient/UserDetailsClient.Core/Features/LogOn/B2CAuthenticationService.cs#L92)?

linking the [other issue which has some info as well](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2030).

[2020-09-11 01:05] Coder-RKV commented on #2038
@jennyf19 tried the same, again. Actually, tried all that's in the other issue as it had really good information and explanation.
No luck.

[2020-09-11 01:11] jennyf19 commented on #2038
@Coder-RKV okay, thanks, we'll try to repro w/the code you sent. appreciated.

[2020-09-11 10:04] ntvuong1709it opened #2039 "[Bug] Cannot get Access token from AcquireTokenInteractive"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client: 4.18.0

**Platform**
.Net 4.7.2

**What authentication flow has the issue?**
* Desktop / Mobile
    - [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is

[2020-09-11 21:27] trwalke commented on #1987
@harmjonker  Please reopen if needed.

[2020-09-11 21:27] #1987 closed

[2020-09-11 21:28] trwalke commented on #1899
Could not reproduce

[2020-09-11 21:28] #1899 closed

[2020-09-12 01:48] Coder-RKV commented on #2038
@jennyf19 Any luck?

[2020-09-12 02:01] Coder-RKV commented on #2038
@jennyf19 Also on a side note, is there a way we can request a fresh token (without from the cache, since that seems to get with the older claims) silently?

Use case is, on one of the successful activity from the app (user creation on the in-house system) the backend updates certain information to the Azure. Now, the existing access token would not have that information, so the rest of the applic

[2020-09-12 02:06] jennyf19 commented on #2038
@Coder-RKV so this is as expected because we are relying on the cookies to determine if the user sees the login screen or not. each policy is a separate authorization server, so there is no way for us (the client sdk) to connect the policies. so when using embedded webview, your users will see an addition prompt. another reason to use the system browser.

going to mark it "by-design" as there is n

[2020-09-12 02:10] jennyf19 commented on #2039
@ntvuong1709it is the redirect uri correctly registered?

[2020-09-12 02:24] Coder-RKV commented on #2038
@jennyf19 Thank you.. Sad that there is no fix / for the additional log in for IOS. I was also thinking more from the underlying web-view cookies settings. Will let know if I find any work around.

Thank you for your inputs regarding the scenario. Though conceptually through the B2C docs, leveraged whatever I can, including the id_token. The challenge is the edit profile is done through Graph API

[2020-09-13 15:43] ntvuong1709it commented on #2039
Yes, it does. If the redirect uir is incorrect, there will be different error.

[2020-09-13 16:36] jennyf19 commented on #2039
@ntvuong1709it Can you provide your manifest from the portal and a link to your code? you can send via email if you prefer : jeferrie@microsoft.com

[2020-09-14 03:19] ntvuong1709it commented on #2039
Sorry for the late response, I have sent you the email with the manifest file. Please have a look

[2020-09-14 16:04] trwalke commented on #1988
Was able to reproduce. Investigating solution

[2020-09-14 17:50] jennyf19 commented on #2039
@ntvuong1709it so you need to use `.WithDefaultRedirectUri()`, because the one you are using is for web applications, which are confidential clients, and because of the redirect uri you are using, so Azure AD thinks you are a confidential client, noted by `"Web"` in the manifest:
[code]
so AAD continues to ask for a client secret/certificate when you try to sign-in.

Try to edit the manifest to th

[2020-09-14 21:25] Coder-RKV commented on #2038
@jennyf19 I recommend to kindly add this as a limitation to the library. 3/4th way of the implementation in our project we have come across this, if we'd had known this upfront, we might have looked into other options in terms of UX up-front. This is a critical production ready functionality for all those who use EmbeddedView.

[2020-09-14 22:08] jennyf19 commented on #2038
@Coder-RKV I understand. most of our b2c customers are using system browser though because google doesn't allow embedded webview as a sign-in, and you get SSO (the issue you are running into on embedded webview) across policies.

[2020-09-15 03:27] MrRyeS opened #2040 "[Bug] The AcquireTokenSilent method never work"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.18.0

**Platform**
netcore 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [#] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is

[2020-09-15 03:29] ntvuong1709it commented on #2039
@jennyf19 ,
Thanks for the reponse.
I edited the manifest according to your suggestion as below:

[code]
For the console app, it's working now.

I still keep reply url for Web because I have a web app config as below.

[code]
If I use `.WithDefaultRedirectUri()`, I can get access token. However, if I specify the `RedirectUri = "http://localhost:49468/"` in the `pcaOptions` and remove `.WithDefault

[2020-09-15 05:48] fstugren commented on #1988
I have noticed the same change in behavior for AcquireTokenByIntegratedWindowsAuth when switching from Microsoft.Identity.Client version **4.15.0** to any of the newer versions. 4.15.0 is the last package version where my code works with AcquireTokenByIntegratedWindowsAuth. Older versions work too. As soon as I switch to 4.16.0 up to 4.18.0 (most recent version at the time I write this) the **pars

[2020-09-15 07:47] jmprieur commented on #2039
@ntvuong1709it

As @jennyf19 suggested, if you want to use `RedirectUri = "http://localhost:49468/"` in the `pcaOptions` and remove `.WithDefaultRedirectUri()`, then you need to make  `http://localhost:49468/` an installedClient (that is native client/or public client app) URL, not a Web URL:

[code]

[2020-09-15 07:52] jmprieur commented on #2040
@MrRyeS : this is expected as you recreate the Public client application each time without serializing the token cache.

See:
-  https://github.com/Azure-Samples/ms-identity-dotnet-desktop-tutorial/tree/master/2-TokenCache to learn how to use a cross platform cache that we release with MSAL.NET
- or https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2/blob/63b46c35f205691d26

[2020-09-15 09:51] MrRyeS commented on #2040
@jmprieur Thanks a lot for the quick response! My usage scenario is quite simple, so I tried to use the same pca every time and it works fine now. The links are really helpful! Thanks again.

[2020-09-15 10:31] ntvuong1709it commented on #2039
@jmattheus ,
Thanks for the response, it was a bit confuse because it is a web app and I expect that the type of Redirect Uri should be **web**. But if that is how it works, i guess it's fine.

[2020-09-15 12:12] alexander-papen commented on #2007
Yes I openned an issue at Xamarin repo like 11 days ago.
Didnt get any response on that issue yet

[2020-09-15 15:42] henrik-me commented on #2007
@alexander-papen : did you try applying the workaround suggested by @bgavrilMS ?

[2020-09-15 18:33] Coder-RKV commented on #2038
@jennyf19 This is disappointing. At one place we mention that using System Browser is recommended, and at other, we don't even have the ability to perform a clean log out. The current log out feature only clears the token from the cache. What about the session that we're been talking about? I've even tried implementing low level method to clear the session cookies which doesn't work either, perhap

[2020-09-15 18:47] jennyf19 commented on #2039
@ntvuong1709it it is confusing.

[2020-09-15 18:51] jennyf19 commented on #2038
@Coder-RKV we don't clear the session cookies, just the cache. You can force a sign-in each time by passing in ForceLogin.
@jmprieur  thoughts on the above?

[2020-09-15 19:22] Coder-RKV commented on #2038
Thanks @jennyf19 . Exploring forcelogin...

[2020-09-15 21:21] phil4business opened #2041 "[Bug] MSAL 4.18.0 Returns Default Set of Scopes on First Call"
**Which Version of MSAL are you using ?**
MSAL 4.18.0

**Platform**
net472

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [x] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app

[2020-09-15 21:31] Coder-RKV commented on #2038
@jennyf19 ForceLogin seems to be working. Quick question. I've been seeing issues and something from the past for
1. making the IOS popup of system browser as full view.
2. Customizing / Hiding the Address bar of the system browser popup for both Android and IOS.

However haven't got anything concrete for the same. Could you please direct / advise on the same?

[2020-09-16 01:32] dansiegel commented on #1105
not sure if this issue should perhaps be reopened, there is a new issue that is tracking the Graph API for B2C, or I've just totally missed some existing docs.

Was hoping there could be some clarification at least. As of last year this issue was closed as using the Graph was considered not possible with B2C. In my latest dev environment with B2C I've noticed however that Graph seems to be there o

[2020-09-16 01:59] tmarkovski commented on #1105
I can confirm that B2C works with Microsoft Graph, have been using it production for about a year now using MSAL for authentication and Microsoft.Graph for user management.

[2020-09-16 03:47] ntvuong1709it commented on #2039
Anyway, thanks for the quick support @jennyf19 , @jmprieur . I appreciate that

[2020-09-16 07:16] jmprieur commented on #2039
Thanks for the update, @ntvuong1709it
Closing this issue.

[2020-09-16 07:16] #2039 closed

[2020-09-16 07:18] jmprieur commented on #2041
Which `scopes` are you asking for? (something ending in `.default` ?

I believe that this has nothing to do with MSAL, but with app registration. I suppose that someone has done some admin consent on resources, which are already approved, and therefore all these approved scoped would be returned in the token.

Is it a problem for you?

[2020-09-16 07:19] jmprieur commented on #2040
Closing this issue @MrRyeS as it seems you agree that it's answered.
Feel free to reopen if you disagree.

[2020-09-16 07:19] #2040 closed

[2020-09-16 09:18] raboon opened #2043 "[Documentation] How to authenticate OAuth with PKCE ?"
### How to authenticate OAuth with PKCE need an example:

### Please check those that apply

- documentation doesn't exist
- documentation needs clarification
- needs example

### Description Of The Issue

Is it possible to provide an example of how to authenticate with OAuth + PKCE ?
My authentication and authorization server is not Azure.

[2020-09-16 09:22] JasSuri commented on #1105
It is now possible to create a B2C app reg, and give it permission to Graph API. But the usage of that is still following AAD principals, ie you get the token from AAD endpoint, not the B2C endpoint.
I dont really recommend it right now due to confusion, just have AAD App reg for AAD workloads, and B2C App reg for your User Flows/Custom Policies.

[2020-09-16 09:48] jmprieur commented on #2043
@raboon
- Do you mean in public client applications? (desktop/mobile)? In which case nothing needs to be done, as MSAL.NET already uses OAuth code flow + PKCE for all the public client application interactive token acquisition;
- Or do you mean in confidential client applications ? (that is in this case Web apps) ? For this, MSAL.NET does not support it yet (and to be fair confidential client appl

[2020-09-16 10:45] raboon commented on #2043
I want to build it as part of the outlook add-in.

I tried with public client application. I tried from Console example in **MsalNetExt**.
i set
`var pca = CreatePublicClient(url);
private static IPublicClientApplication CreatePublicClient(string authority)
        {
            var appBuilder = PublicClientApplicationBuilder.Create(Config.ClientId)
                .WithAuthority(authority)

[2020-09-16 11:16] phil4business commented on #2041
```Scopes = new string[] { "User.Read", "api://{audienceId}/Admin" }``` were all that I was requesting. In previous versions a token with only the api://{audienceId}/Admin scope was returned.

Yes, the app registration has 2 api permissions approved. Microsoft Graph/User.Read and the custom api permission (granted with admin consent). The app registration has not changed, but reverting the library

[2020-09-16 14:23] jmprieur commented on #2043
@raboon : you have used an app which is used for testing MSAL.NET

What you want to do is read https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-overview and the following articles.

[2020-09-16 15:03] Coder-RKV commented on #2038
@jennyf19 Please do let me know if we have anything per the above comment.

[2020-09-16 20:11] nickgmicrosoft commented on #1105
Hi folks, adding to what Jas mentioned:

User tokens issued by the Azure AD B2C authentication service (tokens generated via user flows/custom policies) are not valid with MS Graph. MS Graph will not recognize these.

In order to use MS Graph, there are two options:
1. App to App using Azure AD’s OAuth client credentials (recommended) – use Application permissions. [Documentation](https://docs.mic

[2020-09-16 20:17] saephraim opened #2044 "[Bug] AcquireTokenByIntegratedWindowsAuth exception starting in version 4.16.0"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 4.16.0  and greater

**Platform**
netcore 3.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [X ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please de

[2020-09-16 20:18] jennyf19 commented on #2038
@JasSuri can you provide the documentation/sample for how to customize the UI for B2C? Thank you.

[2020-09-16 20:31] saephraim commented on #2044
FYI... I just glanced through the issues, this appears to be a duplicate of #1988

[2020-09-16 20:58] trwalke commented on #2044
Yes, We are currently looking at this now. thanks for providing info

[2020-09-16 21:00] trwalke commented on #2044
@saephraim As this is a duplicate. please monitor the other issue for updates. I will close this one for now.

[2020-09-16 21:00] #2044 closed

[2020-09-16 22:11] Coder-RKV commented on #2038
@JasSuri @jennyf19 @jmprieur Would love to see elaborate or even some documentation / sample against how to customize **SYSTEM WEB VIEW** implementation through the library. Currently, whatever I've observed, it overrides pretty much everything that's provided for customization. Also, I'm running short of time :) You guys have been very helpful and responsive until now to guide, provide work aroun

[2020-09-16 23:51] jennyf19 commented on #2038
This is for security reasons so the user knows they are going to a legitimate site. If you don't want "microsoft" branding there, you would need to go the custom domain route, which @JasSuri  could provide information on as well, if that's even possible.

@trwalke can you look into this one:

whenever i have run iOS w/system browser it takes up the full screen. thx.

[2020-09-17 00:45] Coder-RKV commented on #2038
@jennyf19
Thank you for point no 1. It makes sense. However, in android it is editable. Can we make it non editable?

It always comes up as a popup in my simulator. Attaching screenshot.
![Simulator Screen Shot - iPhone 11 - 2020-09-16 at 20 44 36](https://user-images.githubusercontent.com/1075905/93406370-7feb5e80-f85d-11ea-9f5d-9cb4068fc563.png)

[2020-09-17 00:56] jennyf19 commented on #2038
@Coder-RKV I believe the system browser popup you're seeing is part of iOS 13, which is to show the user he/she is having a private dialogue w/the authorization server, outside of the app, so it's slightly off. We don't control that.

For android, not sure what you mean by "editable".

[2020-09-17 01:16] Coder-RKV commented on #2038
@jennyf19

Okay. So basically you mean to say when we use MSAL, it is not customizable, correct? If I want to customize it, I'd have to create my own library / implementation, correct?

Attaching screenshot.
![Screenshot_1600305145](https://user-images.githubusercontent.com/1075905/93408167-e1153100-f861-11ea-8ccf-5c7a1098654f.png)

[2020-09-17 02:25] jennyf19 commented on #2038
You can customize the UI. But that's outside the scope of MSAL. We can't control how the OS presents the UI. just like we can't control the pop-up on iOS 13 that shows up. @JasSuri  can provide docs on how to customize the UI.

You cannot make the full browser non-editable. More info [here](https://identitydocs.azurewebsites.net/static/v2/authorization-agents.html)

[2020-09-17 02:40] Coder-RKV commented on #2038
Thanks @jennyf19  Looking forward for the documents quickly if that helps from @JasSuri

[2020-09-17 08:44] JasSuri commented on #2038
If you want to change the way the Webview appears, its controlled by MSAL, and has certain impacts on SSO and UX, see [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews) for your options.

As for being asked to login for profile edit - do not pass an account object in with the MSAL call.
MSAL iOS will pass query param (prompt=select_account) if you do pass in

[2020-09-17 12:49] jamboharris commented on #1678
I've also hit this issue -> latest MSAL & ADFS 2019 & same error message.

Can I just confirm:

- This bug isn't going to be fixed?  (or am I misunderstanding?)
- The workaround is to replace the `scope` param (AND it's data) with a `resource` param holding different data?
- I'm struggling to understand what I should send in the resource param.  I need to access the ADFS graph using on-behalf-of -

[2020-09-17 13:43] mremkiewicz commented on #1678
@jamboharris The workaround given to me is to downgrade to ADAL and use it instead of MSAL.  In my scenario, this worked.  Not sure when this will be fixed.

[2020-09-17 14:16] trwalke opened #2045 "[Bug] Some error details from MSAL broker are lost during handshake"
**Which Version of MSAL are you using ?**
Current

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
no repro available

**Expected behavior**
W

[2020-09-18 07:40] jmprieur commented on #2041
@phil4business : Something I've noticed also is that the scopes you ask for involve two resources (Graph and your API).
In general, Azure AD gets token for only one resource at the time (but user.read is a bit special as it's also the profile)

you might want to do do 2 calls:
- AcquireTokenXXX("api://{audienceId}/Admin")
- then AcquireTokenSilent("User.Read")

[2020-09-18 13:28] phil4business commented on #2041
Yes going back to the previous 1-call behaviour would be preferred but:

I did not realize I was effectively requesting access to two different apis with User.Read and /Admin. I thought User.Read was some kind of "generic" permission. Now that you've pointed it out, this behaviour totally makes sense.

Is there an example application or a place in the docs where this is talked about? From what I'v

[2020-09-18 14:58] jmprieur commented on #2041
@phil4business : This doc and the link mention this: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token?tabs=dotnet#withextrascopetoconsent

[2020-09-19 15:28] jennyf19 commented on #2015
closing as per css, issue has been resolved, by using the client credentials grant.

[2020-09-19 15:28] #2015 closed

[2020-09-21 12:56] Coder-RKV commented on #2038
@JasSuri  Thank you for your inputs.

This is a Xamarin Forms application. Whereas the link provided is for native IOS project. I don't think this customization is available. I saw that link and tried already once.

@jennyf19  has been very helpful and we have already tried this. It doesn't work. Not even in the repro provided. Which is why I raised the issue in the first place :) If at all you're

[2020-09-21 14:11] JasSuri commented on #2038
Sorry missed the Xamarin piece, we are looking into this for you

[2020-09-22 07:50] jmprieur commented on #1398
@bgavrilMS adding documentation on how to install the required components for WebView2: https://docs.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#understanding-the-webview2-runtime

[2020-09-22 07:51] jmprieur commented on #1339
@bgavrilMS : adding a link on how to install WebView2: https://docs.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#understanding-the-webview2-runtime

[2020-09-22 08:41] cljung commented on #2038
Is this happening when testing on a device or the Simulator, because when testing on an iOS device, SSO works for me

[2020-09-22 15:07] jennyf19 commented on #2038
thanks @cljung, yes there is a difference between the simulator and the device. @Coder-RKV are we able to close this issue?

[2020-09-22 16:31] chrisspen commented on #449
This doesn't seem to be the case anymore. That does indeed allow me to authenticate, but  the generated token doesn't grant access to anything, even though I've given my app permission to everything. All API calls with the token return the error message:

    Error Message: The token contains no permissions, or permissions can not be understood.

[2020-09-22 19:11] jmprieur commented on #449
@chrisspen : could you send me a screenshot of the API permissions page for your app in the app-registration portal (jean-marc dot prieur at microsoft dot come) ?

[2020-09-22 19:31] phil4business commented on #2041
Thanks for the link. I was able to get it working. Cheers!

[2020-09-22 19:31] #2041 closed

[2020-09-23 01:14] Coder-RKV commented on #2038
Nope, the issue still persists with Embedded Web View, even on the device. Perhaps we can keep it open if we plan to perform an enhancement for it... Or if we have some ability to customize..

[2020-09-23 13:23] alexander-papen commented on #2007
I didn't apply the suggested workaround. The incident is seen on the production environment only. We are reluctant to deploy such change in a production environment at this moment.

[2020-09-24 06:11] markbeij opened #2053 "[Bug] AADSTS900144: The request body must contain the following parameter: 'refresh_token'."
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

MSAL 4.17.1

**Platform**
Xamarin Android

**What authentication flow has the issue?**
Implicit flow

**Is this a new or existing app?**
The app is in production. Just mi

[2020-09-24 07:52] liquidcowgithub opened #2054 "[Bug] Remote certificate is invalid according to the validation procedure when using Microsoft.Data.SqlClient 2.0.1"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client (>= 4.14.0) as a dependency of Microsoft.Data.Sqlclient 2.0.1

**Platform**
netcore - .net core 3.1.8 on mcr.microsoft.com/dotnet/core/aspnet:3.1-bionic images on AKS, Microsoft.Data.SqlClient 2.0.1

**What authentication flow has the issue?**
* Desktop / Mobile
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Use

[2020-09-24 08:42] jmprieur commented on #2054
@liquidcowgithub
Thanks for raising this issue. I understand the repro, however, I don't understand how this is actionable for the MSAL.NET team? I don't see either that MSAL.NET has a dependency on `Microsoft.Data.Sqlclient 2.0.1`. (It's the contrary actually).

![image](https://user-images.githubusercontent.com/13203188/94121781-0a315500-fe52-11ea-9c48-ed9e47ac7fcc.png)

I would think that you'd

[2020-09-24 09:06] liquidcowgithub commented on #2054
Thanks @jmprieur,

I reached out here on suggestion from discussion on the issue I raised against Microsoft.Data.SqlClient ([738](https://github.com/dotnet/SqlClient/issues/738)) primarily just to air the use case, and to check that the observed behaviour is expected.

On looking through the docs when opening this issue, I did see the httpclient mechanism,  https://github.com/AzureAD/microsoft-aut

[2020-09-24 10:41] jmprieur commented on #2053
@markbeij:
- can you share a correlation ID?
- can you use the latest version of MSAL.NET (4.18.0)

@hpsin would you have any idea of what could happen?

[2020-09-24 12:54] markbeij commented on #2053
@jmprieur this is the Correlation ID: b445de4d-664e-4f02-9695-fe9a93b7f1e3
 Timestamp: 2020-09-23 10:12:28Z
Hope this helps..

[2020-09-24 13:59] tjagdaledminc commented on #1514
May i know what fixes we have done to close this issue?
Thanks

[2020-09-24 14:43] jmprieur commented on #2053
@markbeij : I could not find it for some reason.
Do you have another one?

[2020-09-24 14:55] jennyf19 commented on #2053
@markbeij could you provide us with [logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#at-a-glance) from a failed case?

[2020-09-24 20:32] justinasfour04 commented on #1888
@bgavrilMS I'm facing the same issue but with Xamarin Android in the simulator. None of the actions on the B2C webview are reacting and redirecting back to the underlying code. It is not redirecting back to the app

[2020-09-24 23:16] neha-bhargava opened #2055 "Fallback for local imds call failure due to using an unsupported version"
**Is your feature request related to a problem? Please describe.**
The call to local imds requires version as a query param. The request will fail in case the version is not supported.

**Describe the solution you'd like**
Add a fallback in case the local imds call fails to check the current version and query updated link. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-me

[2020-09-25 01:28] jennyf19 commented on #1888
@justinasfour04 we recommend using a device whenever possible, as there are differences in behavior between the simulator and device.  @jkdouglas can you help the above, is this something you've seen w/the Apple IdP on simulator? thanks.

[2020-09-25 09:52] maugerc commented on #1514
Hi, I rollback MSAL version to previous. I think with the .NET Standard 2.1+ and Android 10+ the MSAL new version work fine, I don't tried.

[2020-09-25 09:58] markbeij commented on #2053
This is the correlation id from App Center. I guess this is not what you asked for..
Since we are unable to track down the users, we don't have more logging than that App Center is giving us.

[2020-09-25 10:01] solankivinay4u commented on #1514
@tjagdaledminc @maugerc I can build in local machine with old version. In order to work in Azure pipeline, I have update packages for Android and it works fine. Additionaly I have to add Dotnet core as suggested by @jmattheus in pipeline.
Thanks for all support guys!!

[2020-09-25 16:56] #1977 closed

[2020-09-25 16:56] trwalke commented on #1977
Fixed in 4.18

[2020-09-25 20:29] justinasfour04 commented on #1888
I was missing the manifest file edits that are needed as described here https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-xamarin-android-considerations#update-the-android-manifest

[2020-09-25 23:52] trwalke commented on #1920
Resolved in 4.19.0 https://www.nuget.org/packages/Microsoft.Identity.Client/

[2020-09-25 23:52] #1920 closed

[2020-09-25 23:52] trwalke commented on #2034
Resolved in 4.19.0 https://www.nuget.org/packages/Microsoft.Identity.Client/

[2020-09-25 23:52] #2034 closed

[2020-09-25 23:52] trwalke commented on #2045
Resolved in 4.19.0 https://www.nuget.org/packages/Microsoft.Identity.Client/

[2020-09-25 23:52] #2045 closed

[2020-09-25 23:53] trwalke commented on #2018
Resolved in 4.19.0 https://www.nuget.org/packages/Microsoft.Identity.Client/

[2020-09-25 23:53] #2018 closed

[2020-09-25 23:53] #1969 closed

[2020-09-26 19:52] jennyf19 commented on #2053
@markbeij can you share the app center logs? we can do email if you prefer.

[2020-09-28 10:49] bgavrilMS commented on #2012
@kalyankrishna1  to advise on this scenario. Not sure why you need app 2 app flow - are you trying to avoid user interaction? Perhaps using `AcquireTokenByIntegratedWindowsAuth` can be used instead?

`It should be up to the developer to determine the scenario and understand the risks but not be explicitly blocked
since it doesn't meet the "typical" scenario.` - this has not been our experience so

[2020-09-28 12:14] cindycluck opened #2060 "[Bug] B2C interactive prompt does not render well in UWP"
**Which Version of MSAL are you using ?**4.19.0
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

**Platform**
   UWP

**What authentication flow has the issue?**   ALL Interactive in UWP mbedded Webviews.
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integ

[2020-09-28 13:27] NelsonLamprecht commented on #2012
The scenario is a kiosk type application where the user doesn't not sign in to the device or the application.
IntegratedWindowsAuth is not an option at this moment since the devices are not running on domain joined devices nor are they able to be "lightweight" domain joined via Azure Ad due to the fact they are running in windows kiosk mode which requires a local account. In all honesty, we are mo

[2020-09-28 13:48] bgavrilMS commented on #2060
@aiwangmicrosoft may want to contact the Windows folks for a resolution. MSAL does not own the Windows control that displays this.

[2020-09-28 14:10] bgavrilMS commented on #2012
That makes sense. Do you think the users have no way of extracting that cert?
If you can safely deploy a secret / cert, then confidential client should be available.

[2020-09-28 16:12] NelsonLamprecht commented on #2012
The certificate is deployed outside the application and the devices are locked down in such a way they couldn't run any other application and all the keyboards, mice, external devices are blocked. I agree that I should be able use confidential client if I can control the certificate and access to it. I'm effectively going to be doing the same thing by using certificate authentication with a custom

[2020-09-28 16:21] bgavrilMS commented on #2012
@jmprieur @henrik-me  - this looks like good evidence for enabling confidential client on UWP. We also had this ask in the past for  IOT scenarios.

[2020-09-28 21:15] neha-bhargava commented on #1872
I was able to repro the scenario. For some reason when the username is long there is a mismatch in the original state and state returned in the auth result. Which is validated [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/271cfbb35667525cd18287e0bf887206dea0ab44/src/client/Microsoft.Identity.Client/Internal/Requests/Interactive/AuthCodeRequestComponent.cs#L209)

[2020-09-29 09:52] tipa commented on #1901
Unfortunately the "https://sso" workaround did not work for me - I had to re-type my mail address.

Could you please evaluate the use of a custom dialog like the one attached below instead of `WebAuthenticationBroker`?
It does not have the limitations mentioned [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/UWP-specifics). Because it uses a `WebView` control (an

[2020-09-29 09:55] TimPenfare opened #2061 "Unable to add custom claims with .withClientClaims"
I am unable to add custom claims
app = ConfidentialClientApplicationBuilder.Create(_credentials.clientId)
                    .WithClientClaims(cert, new Dictionary<string, string> { { "client_ip", ipAddress }, { "email", email } })
                    .WithAuthority(new Uri(_oauth.Authority))
                    .Build();

[2020-09-29 10:03] jmprieur commented on #1901
@tipa
Thanks for your suggestion. We plan to move to use WAM, on Windows 10. Would that solve your issue? (I would think so).

cc: @bgavrilMS

[2020-09-29 10:06] jmprieur commented on #2061
@TimPenfare
Even if MSAL.NET sends the claims, in the end Azure AD decides if the claims are included in the token.
Did you read this article ?
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims ?

What do you observe? Do you expect the claim to be in the ID Token (for the client)? or the access token (for the resource)

[2020-09-29 10:13] tipa commented on #1901
I never worked with WAM so I don't know if that would solve all those problems - sorry.
If it solved the SSO problem, why is this issue still open? :)
When are you planning to move to WAM?

[2020-09-29 10:39] bgavrilMS commented on #1901
Hi @tipa - I am currently working on it, and would like to release a first version (in some sort of preview) pretty soon, 1-2 weeks.

[2020-09-29 10:56] bgavrilMS commented on #1901
I'm happy to send out a preview build if you'd like to try @tipa, things are more or less final on UWP.

[2020-09-29 11:15] tipa commented on #1901
Sounds great, would love to try it out and give feedback

[2020-09-29 11:30] TimPenfare commented on #2061
Hi, I am trying to add email claim to a access token I am generating using client credentials and cert.

Cheers

From: Jean-Marc Prieur <notifications@github.com>
Reply to: AzureAD/microsoft-authentication-library-for-dotnet <reply@reply.github.com>
Date: Tuesday 29 September 2020 at 11:07
To: AzureAD/microsoft-authentication-library-for-dotnet <microsoft-authentication-library-for-dotnet@noreply.

[2020-09-29 11:52] TimPenfare commented on #2061
Hi, All I want to do is to add an additional claim in the payload of the access token I thought the .withClientClaims performed that function

From: Jean-Marc Prieur <notifications@github.com>
Reply to: AzureAD/microsoft-authentication-library-for-dotnet <reply@reply.github.com>
Date: Tuesday 29 September 2020 at 11:07
To: AzureAD/microsoft-authentication-library-for-dotnet <microsoft-authenticati

[2020-09-29 13:56] TimPenfare commented on #2061
The only claims I am seeing are
"aud": "api://xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx",
  "iss": "https://sts.windows.net/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx/",
  "iat": 1601387205,
  "nbf": 1601387205,
  "exp": 1601391105,
  "aio": "E2RgYGixvf9YYMmM+Du27hP1z9rtBwA=",
  "appid": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx",
  "appidacr": "2",
  "idp": "https://sts.windows.net/d03f5aab-5d5f-4af1-9674-e5baa59cf00f/",

[2020-09-29 17:22] trwalke opened #2062 "[Bug] Sometimes the status code returned in broker error messages is not parsed in the right format"
**Which Version of MSAL are you using ?**
4.19

**Platform**
xamarin android

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
**Expected behavior**
MSAL should properly par

[2020-09-29 18:02] bgavrilMS opened #2063 "[Bug] RemoveAccount can fail silently in cache sharing apps"
**Which Version of MSAL are you using ?**
4.19

**Platform**
all with custom cache

**What authentication flow has the issue?**
refresh_token

**Is this a new or existing app?**
VS and family

**Repro**

App1 and App2 share the cache (via FOCI or by using the same client_id)

1) App 1 calls `AcquireTokenSilent` for account A which results in a refresh_grant flow occuring
2) App 2 removes account A

[2020-09-29 22:07] neha-bhargava commented on #1872
This is a bug in MSAL. The fiddler trace contains the correct state in the auth result while the result is truncated here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/271cfbb35667525cd18287e0bf887206dea0ab44/src/client/Microsoft.Identity.Client/Platforms/netdesktop/EmbeddedWebUi/WindowsFormsWebAuthenticationDialogBase.cs#L198.

Looks like the Uri.OriginalString has

[2020-09-30 06:50] bgavrilMS commented on #1872
So, you're saying that MSAL intercepts the full url and that .net's url.OriginalString caps it to 2083? I'm not sure the problem is with url.OriginalString. The size limitation is typically imposed by the browsers, see https://stackoverflow.com/questions/29458445/what-is-a-safe-maximum-length-a-segment-in-a-url-path-should-be/33733386#:~:text=According%20to%20the%20HTTP%20spec,remain%20under%20app

[2020-09-30 06:52] bgavrilMS commented on #1872
If on .net classic, it may be that the embedded webview has this limitation, although I'm not sure you can use the system webview with facebook because it may not allow setting http://localhost:1234 as redirect uri....

[2020-09-30 10:00] jmprieur commented on #1872
Would we think that moving to Edgium would solve the issue @bgavrilMS ?

[2020-09-30 10:09] bgavrilMS commented on #1901
Hi @tipa - I have published a [preview MSAL package with WAM support](https://www.nuget.org/packages/Microsoft.Identity.Client/4.20.0-wampreview1) and added some documentation and some questions to this page: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/WAM

Please let me know if this all works for you or not.

[2020-09-30 10:11] bgavrilMS commented on #1872
No idea, but possible :). @neha-bhargava might want to investigate furher in the code first to see if we truncate the url somewhere.

[2020-09-30 10:17] bgavrilMS commented on #1988
This is the root cause: https://github.com/dotnet/runtime/issues/26397 i.e. UseDefaultCredentials is broken.

[2020-09-30 10:19] tipa commented on #1901
Thanks for the preview - I just tried it out. I had to call `WithBroker()` for the new UI to come up.
I was presented a login screen with the accounts available on my Windows installation. Once I clicked my main account, I had to enter my PIN, then an exception was thrown:
[code]
Did I forget to configure something else?

Apart from that, I am unsure if I would switch to WAM for my apps because:
-

[2020-09-30 10:30] bgavrilMS commented on #1901
For the error ... did you register the redirect URI as described? Can you login with a work (AAD) account interactively?

For adding the account to Windows, this is interesting. I haven't tested this path. I only tried adding an AAD account, for which I can see this screen (basically asking me to add the account to Windows or use it just for this app).

![image](https://user-images.githubuserconte

[2020-09-30 10:52] tipa commented on #1901
Sorry, haven't seen your first comment before I started to test the new version. After adding the redirect uri and waiting ~10 minutes it worked.

This is the path I go through when adding a new account:

-------------
![image](https://user-images.githubusercontent.com/2863198/94675971-e02cd680-031a-11eb-93d9-2e82b6f0a8fc.png)

-------------
![image](https://user-images.githubusercontent.com/28631

[2020-09-30 11:19] markbeij commented on #2053
I'd prefer email. Where can I send it to?

[2020-09-30 11:28] bgavrilMS commented on #1901
Ok, great, thanks @tipa, this is very helpful. I'll talk to the WAM guys to see if there's a way to avoid adding the MSA account to Windows accounts (somehow I doubt it). And I'll rethrow that "internal" exception to give a better message.

Note that if you use "organizations" or a tenanted authority, you will not see the "add new MSA account" option.

[2020-09-30 11:36] bgavrilMS commented on #1901
As for adding a new browser control, we have it on our backlog to add support for https://docs.microsoft.com/en-us/microsoft-edge/webview2/ in .NET Fx / Core. I see that this control will also be available in WinUi 3, but I am not sure this helps you?

[2020-09-30 11:46] tipa commented on #1901
I am currently using the [WinUI NuGet package](https://www.nuget.org/packages/Microsoft.UI.Xaml) in my UWP apps so if that means the WebView2 will be available in MSAL for UWP, that would probably help.

[2020-09-30 13:37] bgavrilMS opened #2065 "[Bug] Expose the original certificate on CCA object to help with SN/I scenarios"
**Is your feature request related to a problem? Please describe.**
For SN/I configurations with mutliple certs, some developers (e.g. Kusto Explorer) have to reload a bunch of certificate from disk to check properties, which is very time consuming.

**Describe the solution you'd like**
For SN/I configurations, it would be helpful if confidential client application objects would expose the original

[2020-09-30 13:55] WilkoThomassen commented on #1856
I'm experiencing this issue. User has a Galaxy S7, Android 8.0.0.0

Log from AppCenter:

{
  "length": 0,
  "offset": 0,
  "id": "7eef2702-44c6-4f14-8ecd-9e30035835c7",
  "exception": {
    "type": "Microsoft.Identity.Client.MsalClientException",
    "message": "addAccount failed",
    "stackTrace": "  at Microsoft.Identity.Client.Platforms.Android.Broker.AndroidBroker.HandleBrokerOperationError (

[2020-09-30 14:47] bgavrilMS commented on #1914
As per AccountManager specs, an OperationCancelledException is thrown when:

`OperationCanceledException if the operation was canceled for any reason, including the user canceling the creation process or adding accounts (of this type) has been disabled by policy`

I bet that in 99% of the reported case, the actual issue comes from "disabled by policy".

[2020-09-30 18:39] markbeij commented on #1856
Please reopen as this still occurs. @WilkoThomassen added extra info. Hope this helps.
This occurs in 4.17.1 as well.

[2020-10-01 06:16] Coder-RKV commented on #2038
@jennyf19  @cljung @JasSuri The silent login for Browser web view for Edit policy doesn't work in IOS-14 even for the sample app with out of box policy. Please advise.

[2020-10-01 12:51] JasSuri commented on #2038
Can you let us know exactly what webview is being used?
https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#cookie-sharing-and-single-sign-on-sso-implications

[2020-10-01 13:02] Coder-RKV commented on #2038
@JasSuri the default one. Please feel free to use https://github.com/Coder-RKV/msal-xamarin-sample-embeddedwebview and make EmbeddedView as false and we're able to replicate.

[2020-10-01 16:14] ckrempp91 commented on #1174
So to confirm this wont work for the Azure B2C case because the authority host is something like this: {tenantName}.b2clogin.com?

If so, then I take it there would have to be a code adjustment to support the the vast array of URLs rather than just the provided list in the list up above: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1174#issuecomment-509664673

[2020-10-01 16:18] bgavrilMS commented on #1174
@ckrempp91 - please open a new issue if needed, this has been fixed and closed more than 1 year ago. ATS should not make a network call unless required, e.g. if the access token expired (typically after 1h).

[2020-10-01 16:58] henrik-me commented on #2038
@trwalke to ensure we have ios14 tests in AppCenter and validate locally with System browser and embedded webview.

[2020-10-01 16:59] henrik-me commented on #1872
@neha-bhargava have identified this to be a bug in MSAL or incoming request as fiddler shows we get the right data back.

[2020-10-01 17:03] henrik-me opened #2071 "Update documentation to let users know not to use simulator."
Update documentation to let users know not to use simulator.

[2020-10-01 17:07] henrik-me commented on #1879
Marking as resolved, please provide additional details for us to help troubleshoot and reopen.

[2020-10-01 17:07] #1879 closed

[2020-10-01 17:22] jennyf19 commented on #2071
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Android-iOS-Emulator-with-MSAL
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-Docs

[2020-10-01 17:22] #2071 closed

[2020-10-01 17:28] henrik-me commented on #2026
@trwalke : to investigate if is this a general issue based on your findings for Android

[2020-10-01 17:33] henrik-me commented on #2063
@bgavrilMS to update with discussed solution

[2020-10-01 17:43] henrik-me commented on #2060
@cindycluck : We don't own this Windows control and can't help fix this. Closing. The scenario is not well supported in UWP.

[2020-10-01 17:43] #2060 closed

[2020-10-02 18:33] neha-bhargava commented on #1796
With same scope as used in acquire token interactive with broker and with force refresh true time taken to acquire token silent:

**AcquireTokenSilentViaBrokerAsync in 909 ms**
ValidateBrokerRedirectURI in 8 ms
**InitiateBrokerHandshakeAsync in 383 ms**
IsBrokerInstalledAndInvokable in 10 ms
VerifyAuthenticator in 9 ms
IsBrokerInstalledAndInvokable in 10 ms
VerifyAuthenticator in 8 ms
**GetAccount

[2020-10-05 12:39] bgavrilMS commented on #1796
How long does this take for MSAL.Android? I doubt we can go faster than them :)

[2020-10-05 14:26] shristikatiyar opened #2076 "[Bug] Power Optimization settings on Android apps from getting tokens from the broker"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
MSAL 4.17

**Platform**
xamarin android

**What authentication flow has the issue?**
*Mobile
    * [ ] Silent

**Is this a new or existing app?**
 The app is in production, and we have moved from ADAL to MSAL

Repro
We get Exception type: Microsoft.Identity.Client.MsalS

[2020-10-05 17:44] bgavrilMS commented on #1872
There are 3 ways I can see fixing or mitigating this problem:

1. Use WebView2 instead of the old InternetExplorer control - blocked until WebView2 API is GA'ed (end of year) - tracking issue https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1398. It would also require an investigation if WebView2 does not have the same limitation.
2. Use the system web view instead. Ho

[2020-10-05 19:42] henrik-me commented on #1872
@neha-bhargava  @bgavrilMS state validation is protocol specific. The added complexity of the state param is suggested in the spec.
Where in this case is the truncating happening, reading the above that seems like it's happening in the uri class? Can you pls. help clarify exactly what is causing the truncation?

[2020-10-05 19:44] neha-bhargava commented on #1872
@henrik-me the URI class does not have any cap on the string values. This is something that seems to be happening at the browser end.

[2020-10-05 19:46] henrik-me commented on #1872
@neha-bhargava can you pls. confirm where the issue is?
The state param is in place for CSRF protection. Not sure if it's a great idea to lax this requirement. Will require a protocol discussion.

What is the current limitation in the urn size?

[2020-10-05 20:11] neha-bhargava commented on #1872
@henrik-me While debugging I found that the URL always have 2083 characters and same is mentioned here: https://support.microsoft.com/en-us/help/208427/maximum-url-length-is-2-083-characters-in-internet-explorer

[2020-10-05 20:16] henrik-me commented on #1872
Thanks, not exactly what I meant. What does this mean in terms of max length for the upn (email address)

[2020-10-05 21:25] neha-bhargava commented on #1872
The upn I used was 35 (including @gmail.com) characters long. The mentioned upn is also more than 35 characters. The url contains parameters: code, state and session_state. Looks like the longer username adds more characters to token. It might only be happening for fb because the username has '@gmail.com' added. Which makes it even bigger. For IDP like gmail, it has a cap on the length of username

[2020-10-05 23:06] dansiegel opened #2077 "[Bug] iOS KeyChain error points to wrong docs location"
**Which Version of MSAL are you using ?**

4.18.0

**Platform**

xamarin.ios

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing a

[2020-10-06 08:09] shristikatiyar opened #2078 "[Bug] MsalUiRequiredException not thrown when no tokens in the broker's cache"
**Which Version of MSAL are you using ?**
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.17

**Platform**
xamarin android

**What authentication flow has the issue?**
* Mobile

**Is this a new or existing app?**
a. The app is in production, and I have upgraded from ADAL to MSAL

**Repro**

[code]

**Expected behavior**
When there is no tok

[2020-10-06 08:31] bgavrilMS commented on #2078
We will fix this in our next release (next week maybe). As a workaround, please inspect the error code yourself and assume interaction is required when that error code pops up.

The request does actually go to the broker, and the broker returns this error code, but MSAL does not interpret it like a UiRequiredException.

@trwalke  - easy fix, but please make sure the associated test which has been

[2020-10-06 08:57] bgavrilMS commented on #2076
Marking this as P1 since several customers are severely impacted by this. We need to understand why this is happening and what can we do to prevent it. It is possible that it is outside MSAL's control and we need to document what developers can do, for example by throwing an exception with an explanatory error message.

[2020-10-06 08:59] bgavrilMS commented on #2076
@shristikatiyar - we will discuss with the broker team, but the best thing you can do short term is to ask users (ex via an error message) to mark the broker as extempt from power settings.

[2020-10-06 09:04] bgavrilMS commented on #2061
Client credentials grant is also know as "service to service" authentication, i.e. you are requesting a token on behalf of a service, not on behalf of a user. So I don't think there is an email grant to be had.

You can try to also request for the "profile" or "email" scopes and see what happens.

[2020-10-06 09:10] #2043 closed

[2020-10-06 09:14] bgavrilMS commented on #2028
I've upgraded the tests to run on .net core 3
I've upgraded the test runner to vstest, which results in ~10 min improvement with some tests running in paralel.
I've upgraded the integration tests and ADO will automatically re-run failed tests.

[2020-10-06 09:22] bgavrilMS commented on #2011
@willfiddes - we are hesitant to log the requested messages because it may contain sensitive data. It's a big security problem to log tokens and other such pieces of data.

We had an improvement to add the WS trust response in the exception message in case parsing fails - see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/commit/761941679a620724b9ee2885d553ed24bcb33d24

Not

[2020-10-06 09:27] bgavrilMS commented on #2023
Typically when the URI from the browser starts with the redirect URI (which you control / configure), this is when you know that the navigation is complete. It's up to the browser to handle all the redirects etc.

I know @jennyf19 made some changes to remove the "Sing In" from the title. What other customization do you need?

[2020-10-06 10:42] bgavrilMS commented on #2077
Hi @dansiegel - some parts of our wiki were indeed moved to docs.ms, but it seems to me that the paragraph around Enabling KeyChain Access describes what do ... https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-xamarin-ios-considerations#enable-keychain-access

[2020-10-06 13:18] taruns-hexaware commented on #2023
Thanks @bgavrilMS

Does that "Sign-in" thing is released... can we externalise the string like some parameter ?

Regards
Tarun Sharma

[2020-10-06 13:25] bgavrilMS commented on #2023
I think we just removed it completely, so there is no title at all.

[2020-10-06 13:26] bgavrilMS commented on #2023
Commit is https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/commit/4cef956ada53eabe4b633a4ac3e9183de973ad73 - should have already been released.

[2020-10-06 15:22] jennyf19 commented on #2023
@taruns-hexaware @bgavrilMS @jmprieur yes, that has been released. But you can put whatever you want there by editing the [manifest](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/commit/4cef956ada53eabe4b633a4ac3e9183de973ad73#diff-75259b16b33feead706840e7acf66b64R6)

[2020-10-06 16:14] henrik-me commented on #1872
@neha-bhargava : can we pls. document max upn lenght and add a aka.ms link to the exception pointing to a wiki page where we describe this issue? Also did you investigate using system browser? E.g. it may be that we can recommend using Edge, Chrome or another browser as a work around?
@bgavrilMS @neha-bhargava : makes sense to start a conversation with the ests team on mitigations (e.g. shortening

[2020-10-06 16:27] neha-bhargava commented on #1872
@henrik-me This is a desktop app, we don't have an option to use the system browser.

[2020-10-06 17:53] bgavrilMS commented on #1872
@neha-bhargava - yes, you do, just use `.WithEmbeddedBrowser(false)` and be mindful of the redirect uri (http://localhost or http://localhost:1234). The problem is that you'll need to configure this redirect uri on the IDP - facebook, and I don't think they allow `http://localhost` nor `http://localhost:1234`

[2020-10-06 22:50] neha-bhargava commented on #1872
@bgavrilMS Yes, I was able to use `.WithUseEmbeddedWebView(false)` and add the redirect uri http://localhost and it worked. Thanks

[2020-10-06 22:54] neha-bhargava commented on #1872
@pottabathini this is a limitation of embedded web view as it uses Internet Explorer and it truncates the url to 2083 characters causing the state returned in the url by the server to be truncated and hence mismatch with the original state. Please try to use `.WithUseEmbeddedWebView(false)` and add a redirect uri as mentioned above. You might have to add the redirect uri to your app too in the por

[2020-10-07 09:04] #2028 closed

[2020-10-07 10:26] bgavrilMS commented on #1872
Very cool, we have a path forward I think. Would be good to record this on the "known issues" page - https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/known%20issues

[2020-10-07 14:45] dansiegel commented on #2077
@bgavrilMS yeah I figured that's where the docs moved... was more filing that specific issue because the link went to the wrong place and should be updated to help folks out.

I will add my actual code was:

[code]

and my Entitlements were:

[code]

just like the docs say, and I was getting this error on the Simulator, but not the device.

[2020-10-07 19:49] henrik-me commented on #1872
@neha-bhargava : would be great to get the max length of the urn documented. Aside: Seems like the aka.ms link should point to the page Bogdan outlines with a href to the section on state parameter mismatch instead of it's own wiki page?

[2020-10-07 20:02] jennyf19 commented on #2077
@dansiegel should be fixed now, if you want to double check.

[2020-10-07 20:14] dansiegel commented on #2077
@jennyf19 looks like it's pointing at the right place now...

I might suggest checking the rest of the links in the error messages... it looks like there's about 40 in total. The chances are there are several more that need to be updated due to the change in where the docs are... it would really suck if someone had to open an issue for each one 😉

https://github.com/AzureAD/microsoft-authenticatio

[2020-10-07 20:16] jennyf19 commented on #2077
@dansiegel yes, I agree. I'll open a new issue for that.
Should this one be closed or did you figure out the keychain issue? thanks again for letting us know.

[2020-10-07 20:17] jennyf19 opened #2083 "[Documentation] Check aka.ms links"
As wiki info has moved to docs.ms some aka.ms links still point to the wiki, where the content has been removed. check & update aka.ms links

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/MsalErrorMessage.cs

[2020-10-07 20:17] jennyf19 commented on #2077
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2083

[2020-10-07 20:22] dansiegel commented on #2077
Well I was never actually able to figure out what the issue was that was causing my issue sadly. If anyone has any ideas i'm all ears... but I'm going to close the issue since technically the issue was about the wrong docs location 😄

[2020-10-07 20:22] #2077 closed

[2020-10-07 20:24] jennyf19 commented on #2077
@dansiegel do you have a repro you can share? which version of iOS are you using? feel free to open another issue if you want.

[2020-10-07 20:32] dansiegel commented on #2077
I'll open a new issue for it. I need to generate a simpler reproduction

[2020-10-08 08:21] bgavrilMS commented on #2038
@trwalke - can we close this?

[2020-10-08 09:11] smartcodinghub opened #2084 "[Bug] AcquireTokenSilent not respecting WithExtraQueryParameters"
**Which Version of MSAL are you using ?**
4.19.0

**Platform**
net45

**What authentication flow has the issue?**
* Desktop / Mobile
    * [X] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

Other? - please describe;

**Is this a new or existing app?**
b.

[2020-10-08 10:45] bgavrilMS commented on #2084
Hi @smartcodinghub - I'm curious of what you are trying to achieve by passing this resource param?

WithExtraQueryParams adds that string as GET (query) params. MSAL communicates via GET with the /authorization endpoint, in the first step of `AcquireTokenInteractive`, so this is a natural way of configuring the UI popup.

When MSAL performs the "refresh_token" grant, it communicates with the serve

[2020-10-08 10:56] smartcodinghub commented on #2084
Hi!

The resource param is used by adfs to identify which api is the access token for. In a client, you can have many APIs and in adfs, that APIs can have different sets of claims. So, here are the steps:

* Use the interactive UI to get the  AccessToken for the first resource (or the main API you will ve using). This works great, I get a token with the claims needed for that API and configured in

[2020-10-08 12:11] bgavrilMS commented on #2084
So to try to unblock you, you can take over the http communication and change any params you want, see https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-provide-httpclient

Sending a "resource" param is an ADFS concept I am not familiar with, probably because it is not OAuth spec compliant. OAuth allows client apps to request claims, which can be achieved via configuration a

[2020-10-08 13:10] smartcodinghub commented on #2084
Yep, the 'resource' param is not standard. In this post you can see an example: https://coding.abel.nu/2017/12/using-adfs-with-azure-api-management/. In ADAL it works apparently but not in MSAL. If its possible to add the ExtraQueryParameters to the refresh_token query, it will work perfect.

You can't request optional claims to ADFS since the claims are configured in a per WebAPI basis in ADFS. T

[2020-10-08 13:29] bgavrilMS commented on #2084
I wouldn't have noticed you're not a native English speaker if you hadn't mentioned it.

[2020-10-08 14:32] jennyf19 commented on #2038
@bgavrilMS no. This is an issue with b2c. They are working on it.

[2020-10-08 15:29] trwalke commented on #2027
Confidential client tests were found in the code. it is just very difficult to find them in the results on azure devops.

"Web App calls graph on behalf of user"
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/4bfe7219bb19d82e479ac62a62174e339bb4b7d1/tests/Microsoft.Identity.Test.Integration/HeadlessTests/ConfidentialClientIntegrationTests.cs#L416

"Web API calls graph

[2020-10-08 15:29] #2027 closed

[2020-10-08 20:16] #1914 closed

[2020-10-09 09:18] aduggleby opened #2085 "[Bug] GetAccounts returns null despite having Accounts in TokenCache"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client 1.1.0

**Platform**
netcoreapp3.1

**What authentication flow has the issue?**
Other: not directly related to authentication flow but rather reading value from a populated TokenCache

**Is this a new or existing app?**
New test app to test Update path for existing app

**Repro**

- Prime the TokenCache with a successfully authenti

[2020-10-09 10:45] bgavrilMS opened #2086 "[Feature Request] Change the default Prompt"
**Which Version of MSAL are you using ?**
4.x

**What authentication flow has the issue?**
* Desktop / Mobile
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username Password
    * [ ] Device code flow (browserless)
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Expected behavior**
If user does not specify a prompt, we should probably not send an

[2020-10-09 14:13] smartcodinghub commented on #2084
Hi!

I solved the issue using the HttpCLient. Here are the important parts of the code:

[code]

This is not the best solution because it uses a Singleton dependecy (ResourceParamManager) and I don't really like it but it works perfect and I get different AccessToken using the same refresh_token.

*Important* I noticed a point I was missing. The token endpoint is POST, so actually the ExtraQueryPa

[2020-10-09 14:39] jennyf19 opened #2087 "[External Bug] SSO state lost in system webview on iOS 14"
**Issue:**
iOS 14 will delete session cookies during different webview launches while iOS < 13 keeps the session cookies during different webview launches.
The SSO cookies are dropped by the B2C server as session cookies, that's why iOS 14 loses SSO.

**note:** This is with the system browser. Embedded webview, by design, loses the session cookie when the user closes the embedded webview.

Current

[2020-10-09 14:45] jennyf19 commented on #2038
@Coder-RKV & @cljung i created a new [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2087) for tracking, even though external to MSAL, we are assisting in testing. closing this issue, as the original question was answered. the current issue is w/system browser on iOS 14.

As [noted above](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/i

[2020-10-09 14:45] #2038 closed

[2020-10-09 16:35] jennyf19 commented on #2086
@bgavrilMS why not just use noPrompt, which we already have? Is there a customer ask for this? I would think if they don't specify, then we do don't send a prompt, instead of doing "selectAccount".

[2020-10-10 19:03] DAConsulting commented on #589
Is there any solution to a "full" signout at this point?

[2020-10-11 08:56] bgavrilMS commented on #589
You application does a "full" signout by calling `RemoveAccount` and removing any account info from its cache. Applications do not normally have control over browsers, this control is reserved for the user only. You wouldn't want some app that you sign out of to clear Chrome's cookies on your device.

In some very specific circumstances (embedded browser on Windows when using .NET classic), there

[2020-10-11 15:44] bgavrilMS opened #2089 "[Feature Request] Simplify default redirect URIs suggested by MSAL"
**Is your feature request related to a problem? Please describe.**
There are too many redirect URIs in use today - obo::urn, UseRecommendedRedirectUri etc.

**Describe the solution you'd like**

For public client, the default should be:

- embedded redirect uri on .net fx and .net core on Windows (assuming we will have embedded browser on .net core)
- http://localhost on Mac and Linux for system b

[2020-10-12 05:23] erich-wang opened #2090 "[Bug][Regression] Get NoTokensFoundError when migrating ADAL v3 token for user who has multi tenants"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest version. Preview version are also ok.
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 4.19.0, the issue doesn't exist in MSAL 4.10.0

**Platform**
netcore/.Net 4.5

**What authentication flow has the issue?**
* Desktop / Mobile
For users associated wit

[2020-10-12 09:02] jmprieur commented on #2089
Microsoft.Identity.Web already takes care of this for web apps. No redirect URI for web APIs and daemon apps

[2020-10-12 15:16] bgavrilMS opened #2092 "[Feature Request] Enable WAM on UWP (experimental)"
Based on feedback from WAM team, MSAL should improve the following:

- [x] Prompt mapping available from RS4 onwards (see API below)
- [x] WAM is available on all Win10, not just RS3+. WAM's "FindAllAccounts" is in RS3+. MSAL is tollerant of this API not existing.
- [x] Enable WAM only on UWP as experimental

[code]

[2020-10-12 15:55] bgavrilMS commented on #2086
@jennyf19 - I agree, but it's a bit of a breaking change.

Today, if we don't specify, we use "select_account". I think we should not send any value, as you say.

Kusto Explorer has spent a lot of time trying to get this to work and have eventually found that "no_prompt" is a better option than "Select_account"

[2020-10-12 15:59] bgavrilMS commented on #2084
Thank you for posting your solution @smartcodinghub!

@jmprieur - do you know who to follow up with for ADFS?

[2020-10-12 15:59] #2084 closed

[2020-10-12 17:55] neha-bhargava commented on #2004
This is a server error. Created an icm for ests: https://portal.microsofticm.com/imp/v3/incidents/details/209099217/home

[2020-10-12 18:58] Sharor commented on #544
@NewteqDeveloper my pleasure! Glad my past pain could help someone 😄 Really appreciate you telling me!

[2020-10-13 00:58] #1898 closed

[2020-10-13 01:16] jennyf19 commented on #2086
@bgavrilMS B2C would also prefer this as well.

@jmprieur thoughts on this, as far as the customer perspective?

[2020-10-13 03:36] henrik-me commented on #2086
We should default to not sending any prompt value, I believe that is the latest recommendation from ests

[2020-10-13 07:36] jmprieur commented on #2086
yes, I agree. "no prompt" provides the best experience and does a select_account when needed. That's what we should use. I'm not even sure that this would break anything (but we'd have to test a bit)

[2020-10-13 10:03] bgavrilMS commented on #2086
Ok, I added this on the 4.21 release cycle.

[2020-10-13 15:39] DAConsulting commented on #589
To be clear, I'm not looking for a hack.   I am **already** clearing the cache using RemoveAccount.  When I later invoke "AcquireTokenInteractive" the PublicClientApplication implemenation invokes an activity which redirects to the Azure sign on.  Once there, despite the fact that I have cleared the token cache, Azure still "remembers" my password from a previous login.  What I would expect is for

[2020-10-13 16:02] bgavrilMS commented on #589
Yeah, as I said, MSAL libraries can't control the browser cache. You do have some level of control over the interactive experience when using prompts - for example to force the user to re-enter their password, you can do:

[code]

A better way to deal with requirement however would be via Conditional Access. You ask the tenant admin to require users to enter their passwords at least once every x h

[2020-10-13 16:14] DAConsulting commented on #589
This is probably what I was looking for.  Testing it now...  Thank-you.

[2020-10-13 16:24] DAConsulting commented on #589
Yup.  I'll tell you... the docs on this stuff are VERY lean.   I've been searching for "force login"... "force password prompt" and pouring over the MS docs for the past week (in between other tasks)... and found nothing.

Who would search for "conditional access session lifetime"?    LOL!

At any rate.  Thanks for your help!

[2020-10-13 16:26] bgavrilMS commented on #589
Ha ha, yes, there is too much information to put in the docs. Don't hesitate to log a bug / question on MSAL repo, we will try to help.

[2020-10-13 17:03] #2078 closed

[2020-10-13 17:03] #2065 closed

[2020-10-13 17:03] #1872 closed

[2020-10-13 17:03] #1988 closed

[2020-10-13 17:03] #2062 closed

[2020-10-13 20:54] bgavrilMS commented on #1812
The main workaround here is to use MSAL's netstandard DLL. The rest do not work with Unity.

[2020-10-13 20:55] bgavrilMS commented on #1812
Note that our current .netstandard implementation does not offer AcquireTokenInteractive

[2020-10-13 20:56] bgavrilMS commented on #1453
I think we now generally agree that we will not do this.

[2020-10-13 20:56] #1453 closed

[2020-10-13 22:31] fuocor opened #2095 "[Bug] Version 4.20.0 with dotnet sdk 5.0.100-rc.2.20479.15 results in NETSDK1130 error"
**Which Version of MSAL are you using ?**
4.20.0

**Platform**
dotnet sdk 5.0.100-rc.2.20479.15

Other? - please describe;
using rc2 sdk and version 4.20.0 of MSAL results in:
`error NETSDK1130: Referencing a Windows Metadata component directly when targeting .NETCoreApp,Version=v5.0 is not supported. Use the C#/WinRT projection tool (https://aka.ms/cswinrt) or a provided projection for this targe