[2018-04-19 15:31] stumpykilo opened #550 "Error Acquiring Token - MsalServiceException: AADB2C90146"
I have recently setup a Azure AD BC2 with two web apis and one native application. I can successfully use the Microsoft.Identity.Client nuget package in a legacy Windows Forms app and get authorization to call one of my apis. When I configure the second api with its appropriate .read and .write scopes I get this error (I've replaced my actual tenant domain with myb2c):

Error Acquiring Token:
Micr

[2018-04-23 06:16] ashikns opened #551 "Device flow in MSAL"
The documentation specifies device flow is not yet supported in MSAL. I was wondering anyone has looked into it though. Whether there's any branch or fork that adds complete or incomplete support for this.

This [MSDN post](https://blogs.msdn.microsoft.com/azuredev/2018/02/13/assisted-login-using-the-oauth-deviceprofile-flow/) is where I got the idea from.

[2018-04-23 07:08] henrik-me commented on #551
The AAD v2 end-point does not yet support this flow. We support this in ADAL which works against the v1 end-point. As soon as AAD is ready we will be working on enabling this flow.

[2018-04-23 08:30] jmprieur commented on #551
See also the summary of grants supported in public client applications in [Differences between ADAL.NET and MSAL.NET applications](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal#public-client-applications)

[2018-04-23 09:37] ashikns commented on #551
I see. Is there anyway to support AAD v2 endpoint in a HoloLens D3D(not Xaml) app then? Or any way to support personal microsoft accounts in AAD v1 endpoint?

[2018-04-23 11:50] jmprieur commented on #551
no @ashikns : the V1 endpoint does not support personal accounts. See [Choosing between ADAL.NET (Azure AD V1) and MSAL.NET (Azure AD V2)](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Register-your-application-with-Azure-Active-Directory#choosing-between-adalnet-azure-ad-v1-and-msalnet-azure-ad-v2)

Device code flow will be coming to the V2 endpoint later this year.

[2018-04-24 05:37] teichgraf commented on #551
Thanks for the info. Device Flow is coming later this year. Any ETA? Seems like a critical feature to me.

What other ways could we go iin the mean time to get a HoloLens with a D3D app working (no WebView)?

[2018-04-24 17:05] henrik-me commented on #551
There are currently no other options available. The Identity team are working on enabling this scenario as soon as possible.

[2018-04-24 17:10] abhidnya13 commented on #551
The only way to get a HoloLens with a D3D app working is to use device code flow in ADAL which supports the v1 endpoint. So, for now, only work or school accounts can be used. As @henrik-me mentioned, we will be working on enabling this flow for personal accounts as soon as AAD v2 endpoint starts supporting it.

[2018-04-25 08:42] yanoska opened #552 "Explicit definition of proxy"
Hi,
when the library is used behind the proxy, there is no way (except setting Microsoft.Identity.Client.Internal.Http.HttpClientFactory._client by reflection) to set the values of proxy. It would be nice to be able to set custom HttpClientHandler throught HttpMessageHandlerFactory.

[2018-04-25 10:10] jmprieur commented on #552
@yanoska : did you try to configure the proxy at the system level. `HttpClient` used by MSAL should be able to use it. For instance I'd think setting [WebRequest.DefaultWebProxy](https://www.bing.com/search?q=webrequest.defaultwebproxy&form=EDGNTT&qs=PF&cvid=e57027460fb44894b68148a597cd18ac&refig=ae758c3aafae44cc965e42ddf9426b53&cc=FR&setlang=en-US&elv=AY3%21uAY7tbNNZGZ2yiGNjfNTg8W4Rv8MPoPW8nmNYrx

[2018-04-25 11:01] yanoska commented on #552
@jmprieur: No, I didn't. It is working. For some reason I assumed something like constructor of GraphServiceClient which accepts instance of HttpClientHandler. Thanks.

[2018-04-25 11:01] #552 closed

[2018-04-25 11:24] jmprieur commented on #552
thanks for the update, @yanoska
I've updated the conceptual documentation adding an article to use proxies : [using MSAL.NET with a proxy](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/proxy)

[2018-04-25 18:11] pdeliot opened #553 "Nuget compatibility problem with recent Xamarin.Android.Support.Compat"
NU1107: Version conflict detected for Xamarin.Android.Support.Compat. Reference the package directly from the project to resolve this issue.
 MyApp.Android -> Xamarin.Android.Support.v7.MediaRouter 27.0.2 -> Xamarin.Android.Support.v7.Palette 27.0.2 -> Xamarin.Android.Support.Compat (= 27.0.2)
 MyApp.Android -> Microsoft.Identity.Client 1.1.2-preview0008 -> Xamarin.Android.Support.CustomTabs 25.4.

[2018-04-25 18:13] jmprieur commented on #553
@pdeliot : did  you read [Troubleshooting Xamarin.Android issues with MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Troubleshooting-Xamarin.Android-issues-with-MSAL)

[2018-04-25 18:24] pdeliot commented on #553
The issue is occuring during Nuget Package restore.
If the package is referenced by manual proj. editing or referenced before upgrading target to 27.0.1, I have an error but the build is possible and all looks functionnal.

The issue is during package installation validation.

[2018-04-25 18:30] jennyf19 commented on #553
Yes...we've had issues with the Nuget Package restore in the past...a typical problem with Xamarin dependencies. Based on your experiences, looks like we need to update the documentation to include higher versions as well. Does that make sense?

[2018-04-25 18:31] pdeliot commented on #553
Probably updateing depedency requirement in the nuget package description would solve the issue.

[2018-04-29 14:49] jmprieur commented on #546
Closing this issue, as the sample was missing iOS specific steps, which were provided by @mathildeRoussel
See https://github.com/Azure-Samples/active-directory-xamarin-native-v2/issues/23

[2018-04-29 14:49] #546 closed

[2018-04-29 14:49] jmprieur commented on #546
cc: @jennyf19 : FYI

[2018-05-04 12:53] kensykora commented on #547
Just FYI, we figured out reliable steps to reproduce. This seems to occur when users disable the Chrome browser app in their settings.

Steps to reproduce:

1. Navigate to settings > Apps
2. Select Chrome
3. Tap "Disable" button, confirm warnings
4. Launch an app with this component integrated on Android.
5. Attempt to start a login workflow

Expected: ?? Some other default browser is used instead

[2018-05-04 13:36] jmprieur commented on #547
+ @jennyf19 who is working on fixing this experience;
Indeed, for the moment, on Xamarin.Android, MSAL.NET requires Chrome tabs to be present. We are working on fixing this issue.

[2018-05-09 07:05] sameerkattel opened #555 "Cannot acquire token when I am running web app."
I am running a web app hosted in iis express at http://localhost:52419/  and the calls get stuck in token generation forever. But when I test the method from console, it all works fine : there is no problem with token generation (await daemonClient.AcquireTokenForClientAsync(new[] {msGraphScope});.

[code]

[2018-05-09 07:31] jmprieur commented on #555
As this is a web app, you need to use the [auth code](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-with-authorization-codes-on-web-apps) flow.
I suggest you have a look at https://github.com/microsoftgraph/aspnet-connect-rest-sample/blob/81e9b4fee570cdb09e45eb4492f0f73a6cbba698/Microsoft%20Graph%20REST%20ASPNET%20Connect/Microsoft%20Graph%20REST%20AS

[2018-05-09 07:38] sameerkattel commented on #555
@jmprieur  But Client Credential flow is supported in web app. https://github.com/Azure-Samples/active-directory-dotnet-daemon-v2.  This all works fine in https://github.com/Azure-Samples/active-directory-dotnet-daemon-v2/blob/master/UserSync/Controllers/SyncController.cs

[2018-05-09 07:51] jennyf19 commented on #555
@sameerkattel - Did you set two redirect uri's, as noted in the [sample](https://github.com/Azure-Samples/active-directory-dotnet-daemon-v2#register-an-app) you linked?
The base URL for `https://localhost:44316/`, as well as `https://localhost:44316/Account/GrantPermissions`

[2018-05-09 07:54] sameerkattel commented on #555
@jennyf19  Yes I have linked it. The token generation is working when run from console but it is not working when run as web app.

[2018-05-09 08:13] jennyf19 commented on #555
@sameerkattel - I don't see where you are doing anything with the authorization header, like in the [sample](https://github.com/Azure-Samples/active-directory-dotnet-daemon-v2/blob/8af2750e769780c77ef99dff86ad9ead37090551/UserSync/Controllers/SyncController.cs#L61)

[2018-05-09 08:29] jmprieur commented on #555
@sameerkattel sorry, indeed i read your comment too quickly. Client Creds is fine
Did you declare your asp.net web app as supporting async?

[2018-05-09 09:06] sameerkattel commented on #555
@jennyf19 : It's being set

[code]

And again it's working when called from console app. It's only not working in web context.

[2018-05-09 09:20] sameerkattel commented on #555
@jmprieur :  These methods are called from ApiController.

[code]

[2018-05-09 09:31] jmprieur commented on #555
@sameerkattel. I suspect you are experiencing a MT issue.  I don't think that you should use .Result(). See [Reminder: Do not call ADAL or MSAL async methods synchronously from the UI thread](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/adalnet_3_19#reminder-do-not-call-adal-or-msal-async-methods-synchronously-from-the-ui-thread)

I'd advise you change your controlle

[2018-05-09 11:06] sameerkattel commented on #555
@jmprieur : I never read that part :) . Turning  methods to async did the trick.

[2018-05-09 11:06] #555 closed

[2018-05-09 11:08] jmprieur commented on #555
glad to read it did, @sameerkattel
@jennyf19 : we need to be explicit about this in the conceptual documentation (in the Client Creds section, add a paragraph for ASP.NET controllers that need to be async, and a troubleshooting FAQ for MT.

[2018-05-09 13:09] jennyf19 commented on #555
@jmprieur Sounds good, I will update the docs.
@sameerkattel Glad you got it figured out

[2018-05-10 10:17] konrad11901 commented on #553
This issue still occurs:

[code]

When can we expect a fix?

[2018-05-10 16:12] jennyf19 commented on #553
Thanks @konrad11901 We'll look into this.

[2018-05-11 00:12] henrik-me commented on #529
@ruchiverma6 did you try out the latest MSAL preview release?

[2018-05-11 00:35] henrik-me commented on #545
@adamtoth are you using the latest version of ADAL? Assuming this is a desktop app? We haven't tested managed C++ thus not sure what is happening (though it should work). Have you tried the same in a sample C# app? The OS will sync the call to the UI thread and if anything else is holding on to the same thread then it will be in a deadlock. Are you opening the messagebox from the same location in

[2018-05-11 00:41] henrik-me commented on #549
@BradCOnGitHub : I had the same issue this week. My workaround... was to re-install VS 2015 and VS 2017... by uninstalling both first. I tried all sorts of tricks to install the target packs etc. nothing worked.

[2018-05-11 10:26] pasn commented on #550
@jmprieur, please re-open. We have exactly the same issue with B2C as OP. What you wrote is right for Azure AD v2, but will end up with AADB2C90146 error on authorize endpoint (exactly the same exception as OP wrote about). On the other hand, Azure AD v2's authorize endpoint accepts scopes for multiple resources followed by token endpoint calls to get each access token separately.

What we found i

[2018-05-11 13:32] jennyf19 commented on #550
Thanks for the additional information @pasn
We'll get back to you and @stumpykilo

[2018-05-15 20:30] nrandell opened #556 "Container app on azure configuration"
Just spent a few hours trying to get this working. I had previously had something working ok in a windows web app, but when switching to a container web app under Linux, it kept on redirecting back to the insecure `http://xxxxxx.azurewebsites.net/signin-oidc` rather than the secure `https://xxxxx.azurewebsites.net/signin-oidc`

A lot of reading and trial and error and this appears to work.

[code]

[2018-05-18 10:05] mazong1123 opened #557 ".NET Core 2.0 Console App: NotImplementedException: The method or operation is not implemented."
Seems like `PublicClientApplication` does not support .NET Core 2.0 Console App. Why does it call UI components?

[code]

[2018-05-18 13:19] jennyf19 commented on #557
@mazong1123  as you mentioned, .NET Core does not have UI components, and due to the multi-platform targeting of the library, we had to the following for .NET Core:
[code]
Using #ifdefs in the [PublicClientApplication](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/dev/src/Microsoft.Identity.Client/PublicClientApplication.cs) class was not sufficient and caused issues

[2018-05-21 12:35] jmprieur commented on #516
@MattHoneycutt  I guess you should rather use MSAL.js (not MSAL.NET) ?

[2018-05-21 16:59] jennyf19 commented on #535
![systembrowsermsal](https://user-images.githubusercontent.com/19942418/40319616-a563346c-5cdd-11e8-82d3-2328bef9c172.PNG)

[2018-05-21 16:59] jennyf19 commented on #535
![systembrowsermsalandroid](https://user-images.githubusercontent.com/19942418/40319632-add78210-5cdd-11e8-9b09-71735d5792df.PNG)

[2018-05-21 17:01] jennyf19 commented on #535
![embeddedmsalandroid](https://user-images.githubusercontent.com/19942418/40319714-f5df7a36-5cdd-11e8-9efc-9f1b6661f4be.PNG)

[2018-05-22 19:34] jennyf19 commented on #520
@Yahku - Do you think your issue is related to [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/553)?

We are looking into the issue w/27.0.2. Thanks for your patience.

[2018-05-22 20:29] davidallen-bluemetal commented on #520
@Yahku , it sounds like you have a rogue .NetStandard reference in your Android project. The platform specific projects should not reference NuGet packages with cross reference dependencies (such as .NetStandard). Check the project references for any NuGet packages with a .NetStandard dependency that you've installed in your Android project by mistake.

[2018-05-22 21:47] Yahku commented on #520
At first, thanks for the fast reply! Looks like the same, yes, waiting for a fix there!

I have not found a rogue reference, anyways i will try it with a new project after the fix. Visual Studio plus the packet manager seem to produce a little mess from time to time . . .

[2018-05-22 22:27] pkkj opened #559 "Support the suberror in the MsalServiceException object"
Recently the Azure AD add a new member in the error object called suberror. It gives a detail reason of the “errorcode”. For example, when errorCode is “invalid_grant”, the error could be:

**suberror = basic_interaction**

`{"error":"invalid_grant","error_description":"AADSTS50079: Due to a configuration change made by your administrator, or because you moved to a new location, you must enroll in

[2018-05-23 05:43] ruchiverma6 commented on #529
I was using  MSAL Microsoft.identity.client version 1.0.304142221-alpha.

I tried updating Microsoft.Identity.Client.1.1.2-preview0008  for xamarin project.
After updating to Microsoft.Identity.Client.1.1.2-preview0008 successfully.
I am using xamarin.form to Xamarin.Forms.2.5.0.280555.
I am using android.support library having versions 25.4.0.2.

After updating, my existing code it is giving buil

[2018-05-23 16:33] dhirujadhav commented on #520
I am getting the same issue also -- please let us know when this is fixed.

[2018-05-23 16:46] jennyf19 commented on #529
@ruchiverma6 - Sorry you're having issues with this. MSAL does not use `PlatformParameters`, that is used in ADAL (our older authentication library). Can you make sure there are no references to ADAL in the nuget package manager?
Also, can you please send me the exact Acquire Token method you are using?
Here is the official [Nuget site](https://www.nuget.org/packages/Microsoft.Identity.Client/1.1.

[2018-05-23 17:11] jennyf19 commented on #520
@dhirujadhav and @Yahku we will have a release out shortly with a fix.

[2018-05-23 17:14] cansado2930 commented on #534
Two questions, how many time do we have to wait to see the new version? if the time is undefined yet, are there some workaround that could I do while? (I have read a new thread About this https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/547)
Thank you

[2018-05-23 17:20] jennyf19 commented on #534
@cansado2930 @eyadon - The Webview changes have been implemented for MSAL in the combined library repo, which is inside the [ADAL repo](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet). You are welcome to try out MSAL on the dev branch and get back to us with feedback.

We are still working out the implementation details, but for the time being, you can use this as a [guide](ht

[2018-05-23 17:30] jennyf19 commented on #559
@pkkj Thanks for all the details...we will look into it.

[2018-05-24 02:00] syedwalihasan opened #561 "An error occurred trying to restore packages : unable to find version 1.1.3-alpha0009 of package Microsoft.Identity.Client"
![error](https://user-images.githubusercontent.com/18749369/40460487-f675c69e-5f17-11e8-8890-208e8e3e6cfc.png)

It was Microsoft Team Sample presented at Build Conference

[2018-05-24 03:18] jennyf19 commented on #561
@syedwalihasan - This is the latest version of the library [v1.1.2-preview](https://www.nuget.org/packages/Microsoft.Identity.Client/1.1.2-preview0008). The Team Sample must be using their own version. You could try uninstalling and then reinstalling, or give us a link to the sample, and we can take a look. thanks

[2018-05-24 06:51] syedwalihasan commented on #561
Below the project link, i tried uninstalling, that didn't work either :(
https://github.com/Azure-Samples/xamarin-azure-businessreview

[2018-05-24 15:54] Dark-Bond commented on #446
I need an example of this working.  I have an Win8.1 application working with the Microsoft.Identity.Client 1.0.0.  When I tried to upgrade to UWP and Microsoft.Identity.Client 1.1.2, the parameters changed.  I tried modifying the ClientId to use the format here but it doesn't work.  So the old API and old format works just fine, new API and new format give me a message: AADB2C90117: The scope 'ap

[2018-05-24 16:09] Dark-Bond opened #562 "New API is busted for Native Client applications"
I need an example of this library working with a Native Client. I have an Win8.1 application working just fine with the Microsoft.Identity.Client 1.0.0. When I tried to upgrade to UWP and Microsoft.Identity.Client 1.1.2, the parameters changed. I tried modifying the ClientId to use a new format that I saw on one of the issue pages, but it doesn't work.
So the old API and old format works just fine

[2018-05-24 17:45] #562 closed

[2018-05-24 17:52] Dark-Bond commented on #562
When I create a Native Client for my **AAD B2C** Application, I'm not given the option of creating a 'scope' for it.  This seems to be a Web API concept and I don't see how it applies to the options I'm given when I configure my application.

[2018-05-24 17:57] jmprieur commented on #562
@Dark-Bond : the scope is not for your Native application, but for the Web API that this native application calls. Can you please explain your scenario a bit (what does your Native app do), so that we can help you better.
BTW, if it calls an Azure AD V1 web API, you might want to read https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal#scopes-for-a-v1-applicati

[2018-05-24 18:49] Dark-Bond commented on #562
The example you cited above for a UWP used the same ClientID that I used in the 1.0.0 version

`private static string ClientId = "0b8b0665-bc13-4fdc-bd72-e0227b9fc011";
`
This now returns a **Argument Exception** in the 1.1.2 version.

[2018-05-24 21:39] jennyf19 commented on #561
@syedwalihasan Closing this, as it is not an issue with MSAL, but let us know if you need further assistance with this.

[2018-05-24 21:39] #561 closed

[2018-05-25 11:42] cansado2930 commented on #534
Thank your @jennyf19  I'm going to try it from your repo. One question, as It is from dev branch, does it have some telemetry? I ask it because, If it has, I have to indicate on privacy policy of my app.
Thank you

[2018-05-25 14:41] jmprieur commented on #562
@Dark-Bond : do you have a repro project that we could look at?

[2018-05-25 14:45] jmprieur commented on #562
Adding  @parakhj for the B2C question. The AAD V2 endpoint requires a scope, but I don't know for B2C. Do you want to try with "api://{clientId}/.default" ?

[2018-05-25 14:58] Dark-Bond commented on #562
I don't have a small enough repo to post.  Possibly this weekend I can create a basic web service that just logs in.  There are no scopes in the B2C setup for a Native Client.  I don't know how I would begin to guess at a default scope (even if one exists).  I just know that the old API (1.0.0) didn't require a scope to find the authority and log in.

[2018-05-25 15:02] jennyf19 commented on #534
@cansado2930 - Awesome! Thank you! Please give us feedback and suggestions for improvement. You can email me at jeferrie@microsoft.com if that is easier.
We do collect telemetry.

[2018-05-25 15:02] jmprieur commented on #562
@Dark-Bond, I don't thik you should create a repro during the WE. I'll try to have a look at the differences between 1.00 and 1.0.2 from this point of view. We'll wait for Parakh's answer for B2C, but if you can just try if ".default" works, this would be good

[2018-05-25 19:30] jennyf19 commented on #553
@konrad11901 @pdeliot
Plus update to the latest version of MSAL [1.1.3-preview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/1.1.3-preview). We have the fixes in there for 27.0.2 and MonoAndroid8.1

[2018-05-25 19:30] #553 closed

[2018-05-26 18:44] konrad11901 commented on #553
I can also confirm that this issue doesn't occur with the latest version. Thanks for the fix!

[2018-05-27 04:04] jennyf19 commented on #553
@pdeliot @konrad11901 Thanks for the follow-up...much appreciated!

[2018-05-27 19:43] mazong1123 commented on #557
Do we have any ETA for this?

[2018-05-28 00:04] jmprieur commented on #557
@mazong1123 on which platform do you want to run your .NET Core app? (Windows, Linux, Mac)?
For the moment, .NET Core does not bring a UI? (in particular we need a web browser).

[2018-05-29 10:28] sameerkattel opened #565 "Issue with nuget package"
I get below error once nuget package https://www.nuget.org/packages/Microsoft.Identity.Client/1.1.3-preview0012 is installed

using visual studio 2015 community edition.

[2018-05-30 08:52] JaykeBird commented on #468
Hey @jmprieur , so if I may ask, what was the reason for closing this? Is it something that's just beyond the scope of this library?

[2018-05-30 13:51] jmprieur commented on #468
Yes, indeed, I was told that this is the MSA service that re-requests consent each time. Let me check if this still true as thing have evolved since December. @JaykeBird did you try recently?

[2018-05-30 14:06] dimitertodorov commented on #552
Is WebRequest.DefaultWebProxy supported on dotnet core.

D

[2018-05-30 14:38] dimitertodorov opened #566 "Running on dotnet core does not respect WebRequest.DefaultWebProxy"
Please see here for previous issue on this.
#552

Unfortunately, dotnet core does not support DefaultWebProxy
This means when running in a Firewalled environment, there is no way to complete the Authentication.

Overriding the _client within HttpClientFactory works using Reflection, but is not ideal.
Possible Fixes
- Allow for passing in a custom HttpClientHandler in Client constructors. (Similar

[2018-05-30 21:03] henrik-me commented on #566
thanks @dimitertodorov for pointing out the issue. @rayluo for awareness as he is currently looking at the http handling. @jmprieur seems worth documenting until we have something more user friendly.

[2018-05-30 21:51] JaykeBird commented on #468
Hmm... utilizing the WPF sample app, it actually seems to perform correctly now after restarting the app (i.e. not asking me to log back in/get consent again). I'm experiencing a different situation in my own app, but I feel that I may be doing something incorrect there. Thank you for responding!

[2018-05-30 22:15] jmprieur commented on #468
Thanks for the update, @JaykeBird
On my side I confirmed, the consent should not be re-asked now for MSA.

[2018-05-30 22:20] jmprieur commented on #566
Done: See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/proxy

[2018-05-30 22:20] #566 closed

[2018-05-30 22:31] henrik-me commented on #287
Tracking technical debt as part of user stories on the backlog. closing this issue.

[2018-05-30 22:31] #287 closed

[2018-05-30 22:32] henrik-me commented on #288
Closing this issue. Will track as user story on the backlog.

[2018-05-30 22:32] #288 closed

[2018-05-30 22:36] henrik-me commented on #407
closing issue. relevant work to be tracked as a user story on the backlog.

[2018-05-30 22:36] #407 closed

[2018-05-30 22:38] henrik-me commented on #565
@sameerkattel thanks for the heads up. we are investigating.

[2018-05-31 00:46] jennyf19 opened #567 "ActivityNotFoundException not handled when Chrome is disabled"
**Repro steps**

1. Disable Chrome on an Android device
2. Run Xamarin Android test app
3. MSAL picks up a [package](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/dev/src/Microsoft.Identity.Client/Platforms/Android/AuthenticationActivity.cs#L129) for `com.android.chrome` but `StartActivity()` cannot handle the [Intent](https://github.com/AzureAD/microsoft-authenticati

[2018-05-31 02:39] parakhj commented on #562
@Dark-Bond Check out this article to see how to configure scopes in B2C applications: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens

[2018-05-31 19:01] jennyf19 commented on #557
@mazong1123 - Can you try this [branch](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/jennyf/removeUI) and let us know if it fixes the issue for you?

When I tried this in our [combined library](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/tree/jennyf/removeUI), I had issues with the multi-targeting, but things are building fine for me in jus

[2018-05-31 19:24] Dark-Bond opened #569 "TokenCacheExtensions not available in UWP"
Using Assembly Microsoft.Identity.Client, Version=1.1.2.0, the class TokenCacheExtensions is available to my WPF (.NET Framework 6.1) application.  The same thing can be found in the sample application at https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2.git.  However, when I load the same version of the library into my UWP application, this class can't be found.  I hav

[2018-05-31 21:17] muhammetsahin opened #570 "Object reference not set to an instance of an object"
Hi,

I'm using Microsoft.Identity.Client, Version=1.1.3.-preview0012

And i've got this error on iOS. (android works fine)

{System.NullReferenceException: Object reference not set to an instance of an object
  at Microsoft.Identity.Client.TokenCacheAccessor.Remove (System.String key, System.String service) [0x00055] in <7f73819fd99b45669100adda813d89e4>:0
  at Microsoft.Identity.Client.TokenCache

[2018-05-31 23:46] jennyf19 commented on #570
@muhammetsahin Thank you so much for letting us know...was able to reproduce and will have a fix out shortly.

[2018-05-31 23:48] #567 closed

[2018-06-01 00:48] Dark-Bond commented on #562
No, nothing works.  I took the example from "https://github.com/Azure-Samples/active-directory-dotnet-native-uwp-v2" and added these lines:

`        //Below is the clientId of your app registration.
        //You have to replace the below with the Application Id for your app registration
        private static string ClientId = "2c2fb9e7-a056-4506-9638-ab5bf9e3ad2c";
        private const string

[2018-06-01 01:18] Dark-Bond commented on #562
@parakhj - I also followed the instructions on the page you gave, to the letter.  The results were no different: "The scope <blah> provided in the request is not supported."

[2018-06-01 01:29] Dark-Bond commented on #562
Holy sh*t!  That worked!  Thanks for your help.  Your documentation needs work, though.  I've wasted three days on this.  The example that Jean-Marc posted referenced had the scope name without the URI information:

`string[] scopes = new string[] { "demo.read" };
`

[2018-06-01 01:34] parakhj commented on #562
Glad to know! Sorry that it took you so long. Which documentation are you referring to?

[2018-06-01 01:39] Dark-Bond commented on #562
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens
Now that I know what I'm looking for, I can pull apart one of the URIs that you have as an example, but not in a million years would I have associated that with the 'scopes[]' variable in the example that  Jean-Marc provided.

[2018-06-01 01:43] SomkaPe commented on #569
TokenCacheExtensions  is meant to be used for cache persistence on platforms were we do not provide default persistence.
On UWP cache is stored as application data, so there is no need to implement persistence.

[2018-06-01 01:44] Dark-Bond commented on #569
Then tell me how I clear the persistence when I want a new user to log in, please?

[2018-06-01 01:50] SomkaPe commented on #569
Just use interactive acquire token api. When you call silent acquire token api you have to provide User, which is already logged in (by calling getUsers api you can get list of currently logged in users).

[2018-06-01 03:08] jennyf19 commented on #570
@muhammetsahin We have fixed this in [1.1.4-preview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/1.1.4-preview)

Manual testing done w/Android device, iOS device and iOS simulator

cc: @jmprieur @henrik-me

[2018-06-01 03:08] #570 closed

[2018-06-01 05:06] jennyf19 commented on #453
@duckwaffle - Can you try with the latest version of [MSAL 1.1.4-preview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases/tag/1.1.4-preview)? Let us know if you still see the issue.

[2018-06-01 05:08] duckwaffle commented on #453
@jennyf19 oh wow haha. I probably won't do that, I don't really care about UWP ARM devices any more now that the platform is officially dead ;)

[2018-06-01 05:08] #453 closed

[2018-06-01 05:09] jennyf19 commented on #453
@duckwaffle ha!

[2018-06-01 05:54] jmprieur commented on #569
@Dark-Bond
- there are several ways. If this is for testing only, you can un-install the UWP app, which will remove all associated data including the cache. I mention that because if you are trying to loggin a user on some of our samples which don't have a sign-out button, that's the way I do
- In you app, provide a sign-out button to remove the user. [PublicClientApplication](https://github.com/A

[2018-06-01 05:56] jmprieur commented on #556
Hello @nrandell : are you sure that this question is related to MSAL.NET ? Or would it be related to ASP.NET ? ASP.NET Core?
cc: @jennyf19

[2018-06-01 06:10] jmprieur commented on #562
@Dark-Bond, indeed most of our examples are for the MSFT Graph, which has well known scopes like `User.Read`, and therefore for these you don't need to provide the URI to the resource

[2018-06-01 06:19] muhammetsahin commented on #570
@jennyf19  thank you so much you are really fast.

[2018-06-01 07:48] nrandell commented on #556
I raised it here as it seemed to be the most appropriate place. To be honest it may just be that documentation is required, but I would rather raise something so it can help other people

[2018-06-01 14:56] Dark-Bond commented on #562
I appreciate that, but for those of us working with the Native Applications, the lack of documentation can be a real time-killer.

[2018-06-02 02:58] jmprieur commented on #562
@Dark-Bond : are you familiar with [MSAL.NET conceptual documentation](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki#conceptual-documentation)?
What else would you want to see there?

[2018-06-02 03:03] jmprieur commented on #556
Thanks @nrandell.
I certainly want to use this knowledge somewhere. Probably in a documentation about middleware (to come), or maybe ASP.NET.

[2018-06-02 04:28] Rick-Anderson commented on #556
@scottaddie  @guardrex  This should probably go in https://github.com/aspnet/Docs
Can you recommend a place?

[2018-06-02 12:59] guardrex commented on #556
We cover this, but it probably isn't cross-linked well. @nrandell, it looks like you didn't come across our topic on this in your search for a solution ... https://docs.microsoft.com/aspnet/core/host-and-deploy/proxy-load-balancer

@nrandell, what topic(s) were you using when you were working on your implementation of the container app under Linux? The simplest solution is perhaps to link that top

[2018-06-02 18:58] cansado2930 commented on #534
Thank @jennyf19 I have sent you feedback. And thanks you by explain the telemetry.

[2018-06-03 00:48] Dark-Bond commented on #569
OK, uninstalling just to force a new set of credentials is a terrible idea.
But, running through the list of stored users in the PublicClientApplication is elegant, it does work for me, and is the proper solution to this problem.
**In plain English, the PublicClientApplication takes care of all the caching implicitly, so there's no need to create your own implementation of TokenCache.  If you want

[2018-06-03 00:49] #569 closed

[2018-06-03 00:55] Dark-Bond commented on #562
The MSAL.NET documentation isn't all that useful.  I've got a fair idea of the concepts, it's the actual implementation that causes us consumers of these libraries the pain.  I understand that the packages are coming out in rapid-fire order and it's tough to go back and make sure the examples keep up with the new libraries.  In this instance, we're dealing with voodoo.  You have an example that wo

[2018-06-03 05:13] nrandell commented on #556
Good question, but I'm not sure where I was looking in order to find it.

What I do remember is that it was very hard to find out just how app service for containers works and where IIS fits in.

My understanding now is that all app services sit behind IIS which terminates the HTTPS and forwards the request using HTTP (though how this will support HTTP/2 I don't know yet ...)

I think it may make

[2018-06-05 13:57] pellea opened #575 "Wrong version of access token (got Azure AD V1 instead of V2)"
Hello,

Using the MSAL.NET library, I successfully retrieved an access token (from an ASP.NET Core 2.1 website). When I copy/paste it in the https://jwt.ms/ website, it indicates that "This is an Azure AD V1 token.".

Here are the URLs I used:
[code]
I'm using the Microsoft.Identity.Client 1.1.4-preview0002.

Here is the code that gets the access token:

[code]

Why do I get a V1 token instead of

[2018-06-05 21:12] rggammon commented on #446
@jmprieur - re: your "{client}/default" suggestion, I get -
AADSTS70011: The provided value for the input parameter 'scope' is not valid. The scope e3f68.../default is not valid.

[2018-06-05 21:18] Dark-Bond commented on #446
If it's a native application, you might find some useful information in this thread: [https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/562](url)

[2018-06-05 21:37] rggammon commented on #446
thanks for the thread. In my case, I am trying to achieve what is alluded to in https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations

I can also switch to ADAL & the non-v2.0 endpoint as a work around.

[2018-06-06 19:32] Dark-Bond opened #577 "TokenCache doesn't remember credentials in .NET Framework 4.6.1"
Everything seems to work.  Get a pop-up window that asks for credentials, I get a access token.  I can log into my service protected by AAD B2C.  However, when my .NET Framework 4.6.1 Console application logs back in again, there are no users in the cache.  The exact same code is working in my UWP application and I get a valid IUSER in the UWP application and can log in silently.

[2018-06-06 22:01] Dark-Bond commented on #577
Never mind.  I was looking at an older class that inherited TokenCache.  The version of the class that uses the TokenCacheHelper does seem to work with 4.6.1.

[2018-06-06 22:01] #577 closed

[2018-06-07 09:18] mazong1123 commented on #557
@jennyf19 Thanks I'll give it a try.

[2018-06-08 18:18] jennyf19 commented on #557
@mazong1123 - we are having issues w/the multi-targeting...we are going to discuss options as a team and we will get back to you.

[2018-06-08 22:29] mbalsam opened #578 "ADAL to MSAL Port for application where cloud servers are given access tokens by mobile."
We have an ADAL application that we want to port to MSAL to support DOTNET core.

It appears that most of the workflows that are documented, present a model where the client generates its access token and keeps the token active using the client device..

Our current model works and uses a client and a server approach with ADAL.   This is our workflow.

1. Mobile application acquires an access toke

[2018-06-11 09:27] #516 closed

[2018-06-11 09:27] jmprieur commented on #516
Closing as this is rather an ADAL.js issue.
BTW ADAL.js now has wrappers for Angular.js and Angular 2+

[2018-06-12 11:27] AnandPhadke commented on #547
I am facing same issue, how to use  msal library without chrome ?

[2018-06-12 14:27] jmprieur commented on #547
you cannot today, but @jennyf19 has the fix.

[2018-06-12 19:32] jennyf19 commented on #547
@AnandPhadke
The Webview changes have been implemented for MSAL in the combined library repo, which is inside the [ADAL repo](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet). You are welcome to try out MSAL on the dev branch and get back to us with feedback and suggestions.

We are still working out the implementation details, but for the time being, you can use this as a [gui

[2018-06-14 10:08] AnandPhadke commented on #547
I am working on the native android app, I don't have chrome install in my device(customise OS ). Can you please help me to use the library without chrome either with default browser or webview.
Thanks in advance!!

[2018-06-14 11:39] jmprieur commented on #547
@AnandPhadke: if you are working on a native android app, then this library (ADAL.Net) is probably not what you are looking for. You should ask your question in https://github.com/AzureAD/microsoft-authentication-library-for-android/issues

[2018-06-14 22:05] jmprieur commented on #575
@pellea :
1. Could you please share with us the issuer of your token (`iss` claim, that you'll find by using https://jwt.ms)
2. Can you please tell us more about your resource? is it a V1 or a V2 resource?

[2018-06-15 09:30] pellea commented on #575
@jmprieur  :

1. "iss": "https://sts.windows.net/[MY_TENANT_ID]/"
2. The resource is the API. How do I get the version information?
I use this following scope: "https://xxx.onmicrosoft.com/MyApi/MyEntity.Read"

[2018-06-15 09:41] jmprieur commented on #575
Thanks @pellea
For the API, I just wanted to make sure that this was a V2 Web API? (not a V1 one)

[2018-06-15 09:56] pellea commented on #575
It's an aspnetcore 2.1 project then yes it's not the V1.

[2018-06-15 18:30] danieldobalian commented on #575
@pellea can you share you app ID for your client?

[2018-06-15 19:05] pellea commented on #575
@danieldobalian => 5df493a9-03f4-4010-9616-b4965022f513

[2018-06-16 01:01] joaocpaiva opened #579 "Web UI not visible when running in Windows VR headsets"
PublicClientApplication.AcquireTokenAsync never returns because the Web UI is not visible.

Repro:
1) Download [project](https://drive.google.com/open?id=15oeAs5L1q0ymVGcJZUEgi4QpAzbTya7x)
2) Open Visual Studio solution and build for x86.
3) Open "Mixed Reality Portal" with simulation enabled.
4) Run project in Local Machine.

Observe that AcquireTokenAsync is invoked but it never returns (the Web

[2018-06-16 12:56] jmprieur commented on #579
Hello @joaocpaiva
Is there a Web browser in a Windows VR headset?

If that's not the case, you should use the device code flow (which enables you to sign-in in the app running in the VR headset from your phone for instance), or another device. But [Device code flow](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Device-profile-for-devices-without-web-browsers) is not yet

[2018-06-18 20:03] danieldobalian commented on #575
I believe it's being classified as a v1 token due to the resource being an Azure AD v1.0 app. This won't impact your client app all that much. Confirming with your client id.

[2018-06-19 17:55] joaocpaiva commented on #579
@jmprieur yes Microsoft Edge is available.

[2018-06-20 13:14] pellea commented on #575
How to create an Azure AD v2 app? I used the add button in "enterprise apps" from "Azure Active Directory".

[2018-06-20 16:23] jmprieur commented on #575
Then that's a V1 app.
V2 apps are registered using the V2 application registration portal for the moment: please see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Register-your-application-with-Azure-Active-Directory

[2018-06-20 17:12] pellea commented on #575
So do I need to create a "Converged applications" or "Azure AD only applications" in https://apps.dev.microsoft.com?

[2018-06-20 17:14] jmprieur commented on #575
you need to create a converged application, @pellea

[2018-06-21 08:52] samneirinck opened #580 "Enable ETW logging"
I'm trying to diagnose some issues we're having where the `AcquireTokenForClientAsync` call takes too long on some environments, and would like to look into the logs.

It seems like setting `Logger.DefaultLoggingEnabled` is no longer the correct way [due to this PR](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/pull/415/files). Is the only supported scenario to set the `Lo

[2018-06-21 09:54] jmprieur commented on #580
@samneirinck did you have a look at the conceptual documentation [Logging](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging). It explains why things changed, and how to use the logger.
Thanks for your feedback about the ETW events. that's something we could introduce in MSAL (they were in ADAL) if this is important for you. can you please tell me more about your

[2018-06-21 10:05] samneirinck commented on #580
I didn't, thank you. It looks like I implemented it as described on the wiki.

About ETW: I thought the `DefaultLoggingEnabled` property in previous versions enabled logging to ETW? I didn't confirm, but this was just by reading through the source code that it eventually drops down to ETW.
The benefit I see is that I can quickly enable/disable the logging, without needing either a configuration ch

[2018-06-21 10:32] sameerkattel opened #581 "How to request token from appTokenCache?"
[AcquireTokenSilentAsync using cached token](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token) seems to only work for userCacheToken. What about appTokenCache?

[2018-06-21 11:02] jmprieur commented on #581
@
what is your experience? is it a question ? or a bug? if that's a bug do you have repro steps? some with which we can repo?

[2018-06-21 11:07] sameerkattel commented on #581
@jm
 It's a question. How to request a cached token for client app credential? AcquireTokenSilentAsync only considers user token cache.
Here is the current code where everytime i am requesting a token which i want to avoid.
[code]

[2018-06-21 11:18] jmprieur commented on #581
@
the userTokenCache contains access/refresh tokens for users. It's used in all the overrides involving users (that is public client application flow, and the on behalf of flow and code flow in the case of confidential client applications) . The app Token cache is used in the flows where the app request a token in the name of no user (in its own name), that is only for the confidential client flow

[2018-06-21 11:48] sameerkattel commented on #581
@Jm
 But when I try to call AcquireTokenForClientAsync  daemonClient.Users value is always null and it always throw exception
[code]

[2018-06-21 12:04] jmprieur commented on #581
@sameerkattel
I understand your concern now, and sorry if the doc is not perfect.
With the  [confidential client flow](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Client-credential-flows) your daemon application is requesting tokens in its own name, so there is no user, so there is no user.

Also  `AcquireTokenForClientAsync` pre-checks the cache, so no need to call

[2018-06-21 12:06] #581 closed

[2018-06-21 12:15] josephkandi opened #582 "System.MissingMethodException with Xamarin Forms on Android"
I have installed the `1.1.4-preview0002` nuget with Xamarin.Forms 3.1.0.5839.44 and i get the exception `System.MissingMethodException`
[code]

[2018-06-21 12:19] sameerkattel commented on #581
@jmprieur  Thanks! Now i know where i was doing wrong. I was instantiating the client inside delegationhandler everytime  :)

[2018-06-21 19:11] henrik-me commented on #565
@sameerkattel : Which project type are you using? It works for me with Win8.1.

[2018-06-21 21:31] andresk09 commented on #432
is ADFS already supported? @jmprieur

[2018-06-22 05:51] sameerkattel commented on #565
@henrik-me The solution has console app,class libraries and windows application. I am running on windows 10. .net framework 4.5.2

[2018-06-22 06:29] jmprieur commented on #432
Not yet, @andresk09, but we are working on Windows Integrated Authentication at the moment
I'm assuming you are ok to use the login.onmicrosoftonline.com authority and let Azure AD redirect to ADFS? you are not looking for a direct route to ADFS?

[2018-06-22 17:30] henrik-me commented on #565
@sameerkattel:  I just created a new console app targeting Microsoft.Identity.Client 1.1.4-preview0002 using VS 2015 enterprise. I would not assume differences to using the community edition. Can you try the latest?

[2018-06-24 21:56] DaRosenberg opened #583 "AcquireTokenAsync() throws wrong exception type when authentication in cancelled"
This method currently throws a `MsalServiceException` with an `ErrorCode` property set to `MsalClientException.AuthenticationCanceledError` if the authentication is cancelled client-side.

Note the mix-up between the exception type and the class on which the error code constant is defined.

I would expect a `MsalClientException` to be thrown in this case.

[2018-06-26 00:36] ivannp commented on #551
Isn't the situation similar for application accessing OneDrive? I.e. is there an alternative to the interactive flow which is supported only on Windows?

[2018-06-26 06:12] jmprieur commented on #551
@ivannp : do you need to sign-in users with their Microsoft Personal accounts (MSA) for now? (and therefore use ADAL.NET rather than MSAL.NET for the moment?)
All the ways to acquire tokens with msal are described here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-Tokens

[2018-06-26 17:54] ivannp commented on #551
@jmprieur : I need something working across platforms (.net core - command line), ideally for all account types. Until the issue with the interactive login on Linux is addressed (it doesn't fire a browser, instead does windows specific code), a working device code seems to be the only viable solution.

[2018-06-26 17:57] ivannp opened #584 "Is there ANY user option for AcquireTokenSilentAsync?"
AcquireTokenSilentAsync takes IUser as a required parameter. Cannot be null. Isn't it a better interface to have an option to specify "use the first or any user from the cache"? There seems to be such an option in ADAL.NET.

[2018-06-26 18:11] jmprieur commented on #584
You need to use
[code]

Please see [Recommended call pattern in public client applications](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AcquireTokenSilentAsync-using-a-cached-token#recommended-call-pattern-in-public-client-applications)

[2018-06-26 18:15] jmprieur commented on #551
Thanks @ivannp
It's definitively on our plans to add Device code flow in MSAL.NET. We'll do it as soon as Azure AD supports it.
For interactive login on Linux, this is really .NET Core not providing a web browser. I don't think that this is in the plans for the moment.?

[2018-06-26 21:59] DaRosenberg opened #585 "ClientApplicationBase.Users is always empty on iOS"
This reproduces reliably both in our app, and in the sample app here: https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

It seems that, at least on iOS (I have not tested on other platforms), tokens are never added to the cache. Inspecting the `ClientApplicationBase.Users` property always yields an empty enumerable, and calling the `ClientApplicationBase.GetUser(string identifie

[2018-06-26 22:59] DaRosenberg opened #586 "Allow client app to control SFSafariViewController tint colors on iOS"
Currently, on iOS, the interactive request web browser always renders with a (rather unattractive) light blue tint on the navigation bar and command bar.

We need to be able to control this from our app, because the current resulting user experience is simply not acceptable for us when the authentication UI uses such an out-of-place color scheme that does not fit at all within the context of our a

[2018-06-26 23:54] DaRosenberg commented on #585
BTW, also tried this against tip of dev, from our own app. Same result.

[2018-06-27 01:51] henrik-me commented on #551
@ivannp there are no integration to browsers i .net core. thus we have to build that integration ourselves based on platform. If you have any suggestions on how we should go about that pls. let us know. A PR would be great.

[2018-06-27 07:37] jmprieur commented on #551
@ivannp : yes this is possible to run a browser, but the experience of adding a tab to an existing browsing session, and then ask the user to close the browser (which BTW closes all the tabs if the user does not pay attention and does not translate this into "close this tab") is not very good. But I guess it's better than nothing as today. Thanks for the feedback

[2018-06-27 10:20] jmprieur commented on #586
Thanks for your feedback, @DaRosenberg. cc @jennyf19
The current version uses the system web browser, so I guess this is what you are seeing. I'm not sure if the application can control its colors. Note that we are soon going to release a version of MSAL which enables an embedded web browser. Would that inherit the colors of the application?

otherwise, I suppose that we'd need to surface platform

[2018-06-27 10:22] jmprieur commented on #585
@DaRosenberg : do you sign-in with an Azure AD account? or a Microsoft personal account? do you see the issue in both?

[2018-06-27 10:33] DaRosenberg commented on #586
@jmprieur The current version (in *this* repo) uses `SFSafariViewController`, and yes the application can control it's colors, that's what I tried to describe above with the two properties. I made these improvements in my fork, and it works great. I'm happy to provide a PR for your review?

I should check out your upcoming MSAL which uses an embedded web browser, to try and understand if that woul

[2018-06-27 10:34] DaRosenberg commented on #585
@jmprieur For all my testing so far I have been signing in using a Azure AD B2C tenant, using Microsoft Account as the configured identity provider.

[2018-06-27 10:39] bgavrilMS commented on #586
@DaRosenberg - we're moving the development of MSAL here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet - follow the instructions for building the dev branch https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/ADAL-.NET-Build-&-Run

The next version of MSAL is probably going to be a 2.x.x-preview, since MSAL will be split into 2 assemblies, although there

[2018-06-27 10:47] DaRosenberg commented on #586
@bgavrilMS Thanks for that clarification. Would you say MSAL is the preferred choice for a cross-platform mobile app targeting AAD B2C or should we be considering ADAL?

[2018-06-27 10:54] bgavrilMS commented on #586
Yes, MSAL is the lib of choice. @jmprieur created a very nice graphic explaining this (rather complex) - have a look https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Register-your-application-with-Azure-Active-Directory

[2018-06-27 10:55] jmprieur commented on #586
@DaRosenberg : as @bgavrilMS explained the source code for the next version of MSALNET in indeed in the `dev` branch but of the `ADAL.NET` repo (we know, this is weird!). What happens is that we have been working on a common core DLL between ADAL.NET and MSAL.NET, and found it easier for the moment to have the code for both libraries in one repo (and unfortunately it went to ADAL.NET whereas the f

[2018-06-27 13:33] DaRosenberg commented on #586
@jmprieur Thanks, I'll give that one a try and see how I fare - will report back on this issue.

[2018-06-27 13:39] jmprieur commented on #586
@DaRosenberg : we are still testing the embedded web view, BTW, so not 100% sure everything works yet
you might want to try the following branch of the sample (or do the step above yourself): https://github.com/Azure-Samples/active-directory-xamarin-native-v2/tree/jmprieur/testEmbeddedWebView

[2018-06-27 21:39] teelinmaloney commented on #425
@jmprieur Any timeframe on the web-view for sign-off and is there a temporary work around? If users enter the wrong creds they are unable to re-auth using the correct account. Also, I would expect UIBehavior.ForceLogin to prompt the user for credentials but this doesn't seem to have any effect.

[2018-06-28 11:16] jmprieur commented on #425
@teelinmaloney : as far as a work around is concerned, did you notice that in the sign-in web view, there is a vertical … on identities. this triggers a contextual menu with 2 options:
- disconnect
- sign-out and forget.
![image](https://user-images.githubusercontent.com/13203188/42031135-786add5a-7ad5-11e8-8da9-b01fe277115b.png)

[2018-06-28 19:20] DaRosenberg commented on #585
@jmprieur I tested this with the newest version of MSAL in the ADAL repo (tip of the dev branch) and the issue is the same.

However I think I have managed to isolate this down to where it fails:

![image](https://user-images.githubusercontent.com/3889090/42055857-b295892e-7b18-11e8-95e9-ca0f871f4c0b.png)

This is in `Microsoft.Identity.Core/Platforms/iOS/TokenCacheAccessor.cs`. As you can see, th

[2018-06-29 03:20] henrik-me commented on #585
@SomkaPe : can you pls. take a look at this one?

[2018-06-29 12:10] pankajisgarg commented on #441
I am also facing same issue, created a new project using VS2017 (with latest update). Just added the Nuget reference to projects, didnt mess with dlls. tried multiple times but didnt help.

[2018-06-29 14:02] jmprieur commented on #585
@DaRosenberg : we are going to look at it.
I'm a bit confused by the fact that you are completely blocked: the tip has not released yet? you mean previous versions of MSAL also exhibited this issue?

[2018-06-29 14:36] DaRosenberg commented on #585
@jmprieur Yes, all versions of MSAL I have tried exhibit the same issue for us - also 1.1.4-preview0002.

[2018-06-29 14:43] jmprieur commented on #585
@DaRosenberg : did you look at this sample? (I recommend reading the readme in detail): [xamarin-native-v2](https://github.com/azure-samples/active-directory-xamarin-native-v2)

[2018-06-29 14:49] DaRosenberg commented on #585
@jmprieur Since we use AAD B2C we looked at this sample:
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

As I mentioned in my initial comment, the issue **also reproduces with that sample**.

I did read the readme of the sample very thoroughly, and carried out all the steps. I also looked at the readme of the sample you linked to now, and it does not seem to differ much, I ca

[2018-06-29 15:41] DaRosenberg commented on #585
@jmprieur @henrik-me @SomkaPe I found the solution.

1. Keychain access needs to be enabled in `Entitlements.plist`.
2. If using Xamarin, the `Entitlements.plist` also needs to be added to "custom entitlements" for the `iPhoneSimulator` platform configurations; this is not done automatically for a new Xamarin project, but is required for Keychain access to work on the simulator.

I strongly sugges

[2018-06-29 16:11] jennyf19 commented on #585
Thanks @DaRosenberg - We have information on this in our wiki in [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization#on-ios-you-need-to-enable-keychain-groups), but I will add it to the MSAL wiki.

@jmprieur I'll take a look at updating the samples.

[2018-06-29 16:29] jennyf19 commented on #585
@DaRosenberg - Started to document this in our [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-groups) in MSAL.

[Issue for b2c](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/issues/55)

[Issue for Xamarin v2](https://github.com/Azure-Samples/active-directory-xamarin-native-v2/issues/33)

Can we clo

[2018-06-29 16:31] DaRosenberg commented on #585
@jennyf19 Yep.

[2018-06-29 16:31] #585 closed

[2018-06-29 21:58] dwhiteddsoft commented on #551
I see that you are hoping to have MSAL.NET support for Device flow but my question is does the consumer endpoint support device flow? I have tested AAD does. I cant seem to get the consumer side to work though

[2018-06-29 22:09] henrik-me commented on #551
@dwhiteddsoft MSAL.NET doesn't support device code flow yet because the AADv2 end-point doesn't support it. If you use ADAL.NET which connects to AADv1, then you have device code flow. AADv2 will possibly be able to support Device Code flow for AAD accounts sooner than for MSA accounts.

[2018-06-30 13:45] bgavrilMS commented on #441
@scionwest @AlexanderViken @jhvanderven What version of Xamarin Android is your app targeting - 7 or 8?

We compile our library against both netstandard1.3 and Xamarin Android 7 (MonoAndroid7). Netstandad 1.3 includes Xamarin Android 7. The reason we compile against Xamarin Android 7 explicitly is that we have code that is Android specific.

[2018-07-01 23:29] DaRosenberg opened #588 "No way to avoid IDP selection prompt when invoking "edit profile" policy in B2C?"
My app is a Xamarin.iOS app targeting an AAD B2C tenant.

To invoke the AAD B2C "edit profile" policy, it seems we need to specify an explicit authority in the call to `AcquireTokenAsync()`, using one of the overloads that accept an `authority` parameter.

However, all 4 overloads that accept an `authority` parameter, also require the `behavior` parameter, and because the `UIBehavior` type is a `s

[2018-07-02 00:01] DaRosenberg opened #589 "Add sign-out functionality to MSAL"
Please do correct me if I am wrong, but I have not been able to find any sign-out functionality in MSAL.

It would be useful to have something like a `PublicClientApplication.SignOut()` method to perform the following tasks:

- Remove cached tokens in MSAL
- Send a OIDC sign-out request to the tenant, in our case AAD B2C, to complete the sign-out (see [here](https://docs.microsoft.com/en-us/azure/

[2018-07-02 09:52] bgavrilMS commented on #589
@DaRosenberg - thanks for the feedback, we are thinking of adding a feature to what you have described. Other ADAL libraries offer such functionality.

Note that MSAL does offer a mechanism to remove users from the token cache:

[code]

@jennyf19 - do you know if we document anywhere how to delete cookies from the system browser ?

[2018-07-02 10:05] pankajisgarg commented on #441
I am also hitting same issue, with latest version of nugets and VS 2017 updates. I am targeting Android 8.1.

[2018-07-02 12:20] bgavrilMS commented on #441
@pankajisgarg - thx for reporting. I am unable to repro this, here's what I tried:

1. Create a new Xamarin XAML (Xamarin.Forms) OR Android Class Library (Xamarin) OR Android App Single Page. All target **MonoAndroid 8.1** (this is not the same as Android version - right click on the Mono.Android reference in Solution Explorer and inspect the path to find the version).
2. Add a NuGet reference to

[2018-07-02 15:47] DaRosenberg commented on #589
@bgavrilMS Yep, we are already using the `PublicClientApplication.Remove()` method to clear the token cache, but as you know, this only gets us half way. :) Next user who wants to sign in with the same IDP will still be automatically signed in as the previous user, hence the need for clearing the `WKWebView` cookies etc.

We would do the cookie clearing ourselves, but the issue for us is that all

[2018-07-05 22:43] #583 closed

[2018-07-11 15:40] Livven commented on #589
Unfortunately clearing cookies is impossible right now.

On Android, the use of Chrome Custom Tabs means that we don't have any control over cookies as those are shared with the external Chrome app and thus not accessible. The user would have to manually open the website in Chrome and then log out from any identity providers. Theoretically we could automatically open the logout URL, if one exists,

[2018-07-11 16:29] jennyf19 commented on #589
@DaRosenberg @Livven
We have [embedded webview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Webviews) support in MSAL in our [Combined repo](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet). We are still working out a few things, but please try it out and let us know your thoughts/suggestions. We also updated to `WKWebView` for iOS.

[2018-07-12 08:21] JohnHMP opened #590 "Missing nuget version: Microsoft.Identity.Client.1.1.1-alpha0414"
UPDATE: Urgh, it appears this version is on the overnight nuget feed, not on nuget.org. I am not sure why our droid VSTS CI build is no longer able to see it (the overnight build feed is in the same nuget.config that the iOS build has), but it is not the issue I reported. This issue should be closed.

We have been piloting a new app that uses MSAL.NET for auth and the nuget package version we are

[2018-07-12 10:56] bgavrilMS commented on #590
Hi @JohnHMP - did you find the missing package?

[2018-07-12 11:01] JohnHMP commented on #590
Yes, I found the version on the overnight feed. The issue I am having is that our VSTS CI build for our Droid app is not finding it. I *think* it is because it finds the package name on nuget.org so doesn't look at the overnight feed. I am testing a solution where I do a nuget restore from the overnight feed before anything else in the VSTS build configuration.

[2018-07-12 13:16] JohnHMP commented on #590
@bgavrilMS actually, no that specific version isn't in the overnight feed anymore. I am guessing some housekeeping has taken place and only the last 30 overnight builds a retained.
I have done a compare between the build date of the 1.1.1 alpha dll and the release date of the 1.1.1 preview version on master, and there appears to be no code changes.
https://github.com/AzureAD/microsoft-authenticati

[2018-07-12 13:22] bgavrilMS commented on #590
@JohnHMP - I don't know the history of MSAL as I joined the team only a few weeks ago. However, if the alpha is no longer available and you have to switch to the preview, you might as well move to the latest preview?

Otherwise, I would expect there to be no public surface changes between the alpha and the preview, maybe some bug fixes.

@jennyf19 or @henrik-me may know more (they are on the PST t

[2018-07-12 13:29] JohnHMP commented on #590
@bgavrilMS normally I would agree, but if I can be sure of no code changes between the 2 builds then I don't have to interrupt this sprint. I can schedule the upgrade to the latest preview in a later sprint, however.

[2018-07-12 20:38] georgii11 opened #591 "PublicClientApplication doesn't work on WP8.1 (System.NullReferenceException crash)"
Hello,
I am trying to follow the sample for UWP (https://github.com/microsoftgraph/uwp-csharp-connect-sample) and implement a simple way to connect to a microsoft account on windows 8.1 and windows phone 8.1 too (in c#).
It's all working fine on UWP and W8.1, but on WP8.1, the constructor for PublicClientApplication doesn't work and my app crashes with System.NullReferenceException. I couldn't fin

[2018-07-13 10:41] bgavrilMS commented on #591
The sample is using a pretty old preview version of Microsoft.Identity.Client - could you update it to the latest version (currently 1.1.4-preview) and try again?

[2018-07-13 14:49] georgii11 commented on #591
I tried with the latest too and it's the same thing.

[2018-07-16 16:16] KarinBerg opened #592 "Missing MsalClientException.NetworkNotAvailableError on iOS & Android"
For platform Xamarin.iOS and Xamarin.Android there is no check for an available network connection in class WebUI. So in this case an HttpRequestException is thrown and not the expected MsalClientException with ErrorCode "NetworkNotAvailableError".

Please add an network connection check for this platforms to be consistent over all platforms.

[2018-07-16 16:39] KarinBerg opened #593 "Wrong exception type thrown for "User canceled authentication" on Xamarin.Android & Xamarin.iOS"
When I close the system browser on Xamarin.Android or Xamarin.iOS to cancel the sign-in process I get the following exception:
[code]
I would have expected an Microsoft.Identity.Client.Msal**Client**Exception instead.
Or do I understand something wrong?

[2018-07-17 10:37] jmprieur commented on #588
+ @parakhj
I believe that this is on the backlog to try and fix this. @negoe : can you please confirm?

[2018-07-17 11:35] bgavrilMS commented on #591
Hi @georgii11 - we are actually planning to stop supporting Win Phone and Win 8.1 apps for MSAL. ADAL would continue to support these platforms.

So we wouldn't have a ship vehicle even if we found a fix for this issue.

@jmprieur can confirm this.

[2018-07-17 11:35] #591 closed

[2018-07-17 11:39] jmprieur commented on #591
@georgii11 : can you please explain what your scenario is requiring MSAL.NET for windows phone 8.1 applications? do you use B2C? or do you want to sign-in both work & school and personal accounts? can you explain a bit more?

[2018-07-17 13:36] bgavrilMS commented on #592
+ @jmprieur for triage

[2018-07-17 14:45] jmprieur commented on #589
Also, on the backlog we want to provide a good sign-out (which involves the service removing the cookie), and sign-out from device.

[2018-07-17 18:04] jmprieur commented on #591
So indeed, if you are using the Live SDK, you need Microsoft personal accounts (= MSA = Live accounts). so the options are:
- MSAL supports Windows Phone 8.1
- or you don't migrate from the Live SDK (as ADAL does not support Microsoft personal accounts)

+ @henrik-me @bgavrilMS FYI

[2018-07-20 13:58] KarinBerg commented on #593
@bgavrilMS : Unfortunately there is still the Microsoft.Identity.Client.MsalServiceException instead of the Microsoft.Identity.Client.MsalClientException.

I tried out the nuget package "2.0.0-internalwkWebViewUpdate17325" from MyGet but I have still the same issue.

[2018-07-20 14:39] bgavrilMS commented on #593
@KarinBerg - apologies I did not explain the naming of our internal builds, you've used a rather old one. The naming convention is:

<version>-internal<buildnumber><branch>

The build number is made up of: 3 digits - the day of the year, 2 digits - the build number of the day

Sadly it tooks us a few attempts to get there and myget is a bit dirty with older non-standard versions. Would it be possi

[2018-07-20 14:59] KarinBerg commented on #593
@bgavrilMS: Oh sorry, I was blind. I did not saw that there are some newer versions.

[2018-07-23 10:00] georgii11 commented on #591
Well since the Live SDK will become deprecated not migrating to anything will mean to drop the feature.

Is there any chance MSAL will support Windows Phone 8.1 at least to allow a migration like this, with minimum functionalities ?

[2018-07-26 10:05] phatcher opened #594 "Azure B2C Client credential flow"
I can acquire a token from Azure B2C for client credential flow by performing an explicit request against the api e.g.
[code]
Is there a way to use ADAL to issue the same request?

[2018-07-26 10:09] bgavrilMS commented on #594
@phatcher

No, ADAL does not support B2C. Have a look at the picture in the ADAL wiki for the mapping between ADAL / MSAL and the various flavours of AD:

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Pre-requisite-Register-your-application-with-Azure-Active-Directory

[2018-07-26 10:14] bgavrilMS commented on #594
The recommended way of accessing B2C is by using MSAL. There are a few sample apps on the main page referring to B2C:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2018-07-26 11:06] phatcher commented on #594
@bgavrilMS Thanks for that, actually just noticed the front-page has some code that might work so I'll give it a try...
[code]

[2018-07-26 11:29] bgavrilMS commented on #594
Closing this, please open or reply if you have more questions.

[2018-07-26 11:29] #594 closed

[2018-07-26 18:09] SergeBerwert opened #595 "Is this library dead?"
I have a question is this project dead, or is Microsoft just ignoring de basic needs of customers here also? If I look at the Insights it looks like an abandoned Product.
We plan to develop a new product and I would not like to ride a dead horse.
But maybe I don’t get it and there is a newer library available?

[2018-07-26 19:19] bgavrilMS commented on #595
@SergeBerwert This project is not dead and the commitment to support it stands. We are actively working on it. We are trying to consolidate this project (MSAL) with the older ADAL library https://github.com/AzureAD/azure-activedirectory-library-for-dotnet and will be releasing both libraries from the ADAL GitHub repo. We are on course of releasing the "unified" libraries from the ADAL repo as soon

[2018-07-26 21:44] SergeBerwert commented on #595
@bgavrilMS thanks for your response. As I understand you work in a different repo. But the Microsoft.Identity.Client is still not as release version available for more than two years. I hope you understand why I finally got a little frustrated about.

[2018-07-27 09:19] bgavrilMS commented on #595
Sure. Let us know if you are missing any feature from MSAL. @jmprieur will help triage and prioritize.

[2018-07-27 09:19] #595 closed

[2018-07-30 09:29] jmprieur commented on #529
Closing this one as we did not hear from you @ruchiverma6
Please re-open if you still experience the issue

[2018-07-30 09:29] #529 closed

[2018-07-30 09:36] jmprieur commented on #367
Closing as there was no reply

[2018-07-30 09:36] #367 closed

[2018-07-31 01:57] federicobarera opened #597 "Azure AD OAuth - User in multiple directories and GraphAPI"
I'll re-post a question asked on stack overflow without success.
https://stackoverflow.com/questions/51531081/azure-ad-oauth-user-in-multiple-directories-and-graphapi

let's say I have a identity (foo) that lives as a 'member' in directory1, but is also added as (ext) global administrator in directory2.

Also, we have a company that has released a multi tenancy app that requires permissions to do

[2018-07-31 21:07] federicobarera commented on #597
Hi,

I've raised this question in the library section for two reasons:

There is no global aad project in GitHub which would trigger a conversation with the devs involved and 2, I hoped there might have been an existing setting to pass to adal to trigger a ?discovery=true in the common endpoint to force an extra discovery step of the tenancies before granting.

We hit real case scenarios where con

[2018-08-01 21:56] henrik-me commented on #592
Will require a bit of refactoring. I assume this is possible especially with the latest updates in the dev branch. @bgavrilMS can you pls. take a look at this?

[2018-08-02 14:31] bgavrilMS commented on #542
@jmprieur - would we want to add null as default values for the 2 token cache params or just update the docs?

[2018-08-02 14:37] jmprieur commented on #542
@bgavrilMS : please just remove OPTIONAL for the moment. We need to think a bit more of the token cache (user and apps)

[2018-08-06 06:49] myokeeh opened #599 "UWP, Azure App Service, Converged App (v2, OAuth2.0), WebAuthenticationCoreManager and Microsoft acccounts"
How do I make all of these things work? UWP, Azure App Service, Converged App (v2, OAuth2.0), WebAuthenticationCoreManager and Microsoft accounts.

I have had a hard time getting a cohesive documentation on this.

I want to maintain the sign-in experience that one gets using apps like the Microsoft Store so I've been using WebAuthenticationCoreManager. However I've been pushed over the edge becaus

[2018-08-06 14:14] henrik-me commented on #549
Closing. @BradCOnGitHub pls. re-open if you have tried above and still have an issue. Also pls. notice that the latest MSAL is now in the ADAL repo (dev branch) which doesn't have a dependency on VS 2015 anymore.

[2018-08-06 14:14] #549 closed

[2018-08-06 14:35] jmprieur commented on #383
On the backlog.

[2018-08-06 16:25] danieldobalian commented on #599
Hi @myokeeh,

Can you elaborate on the exact sign in experience you want to deliver? Also, what type of accounts do you want to sign in?

There's a few tools you can use to accomplish similar things. The primary difference is feature set and level of abstraction (App Services is a PaaS tool for example and handles much of the complexity). Based on the description above, I think a few have been con

[2018-08-07 05:49] myokeeh commented on #599
I really want to use the native Windows 10 sign-in experience in my UWP app like what's shown below. (`WebAuthenticationCoreManager`?)

![image](https://user-images.githubusercontent.com/3663297/43756377-33d4a35c-99c9-11e8-80f2-467519b75b09.png)

I currently have users signing into my UWP app with an App Service backend (`MobileServiceClient.LoginAsync()`) using Microsoft accounts. This currently

[2018-08-09 05:49] henrik-me commented on #441
We believe this issue has been fixed. Feel free to re-open if this is still an issue for you.

[2018-08-09 05:49] #441 closed

[2018-08-11 05:30] myokeeh commented on #599
@danieldobalian, thoughts?

[2018-08-13 09:26] joaocpribeiro opened #600 "System.InvalidOperationException: Collection was modified"
I am acquiring a token with the following code.
[code]
Since this runs in a Service Fabric environment (actor stateful service), it is possible that it is called multiple times at the same time.
Currently I am obtaining sometimes the exception "Collection was modified; enumeration operation may not execute."
And this is the stacktrace:
[code]
As far as I can see in https://github.com/AzureAD/micro

[2018-08-13 09:35] jmprieur commented on #600
@joaocpribeiro : which version of MSAL.NET preview are you using?
cc: @SomkaPe @henrik-me

[2018-08-13 09:37] joaocpribeiro commented on #600
1.1.2-preview0008

[2018-08-13 09:49] bogdang83 commented on #600
Hi @joaocpribeiro ,

Please note that active development of the MSAL library actually happens on this repo: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet - but please continue to log issues about MSAL here.

I would recommend you try with the latest preview version of MSAL, i.e. 1.1.4-preview;
Or you could go one step above and try with an un-released version of MSAL (https:/

[2018-08-14 08:27] jmprieur commented on #542
Fixed

[2018-08-14 08:27] #542 closed

[2018-08-14 14:46] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44098875-9b7d9e64-9fe1-11e8-82a0-d70029e6cbb6.png)

[2018-08-14 19:33] ameem85 opened #601 "AcquireTokenAsync throws exception after the WebBrowser Intent redirects to the application scheme uri"
When I use `FormsAppCompatActivity ` instead of `FormsApplicationActivity`, the exception is thrown at the following line of code:

`var result = await App.AcquireTokenAsync(new string[]{"User.Read"}, associatedActivityUiParent);`

The above call does launch the web browser intent, and I am able to complete the authentication flow in the browser. But when the browser redirects back to the android

[2018-08-15 15:57] jdevost commented on #449
Hi @delepster,
I know it's late but I ran into this today, and found this post. I thought I'll share for the next one stumbling here.

With `grant_type=client_credentials` you use `https://graph.microsoft.com/.default` for scope. It will give you the permission defined in your app.

I had to use my tenant endpoint for the `/token` request, not *common*. You get the tenant id after the admin consen

[2018-08-16 00:05] brentschmaltz commented on #383
@jmprieur once we ship Wilson 5.2.5, we can start to think about this.
5.2.5 is about a week away.

[2018-08-23 07:26] marilag opened #602 "Disable logging of access token on Xamarin.Android"
Our app just got PEN tested and one of the issues was that the access token appears on the log in Android devices after a successful log-in. We tried to set the logging level to warning or error but we can still see the token using logcat. Is there a way to disable this completely?

[2018-08-23 09:08] bgavrilMS commented on #602
Hi @marilag, thank you for reporting, what version of the library are you using? Also, how does the log line look like - I am going to search for it?

[2018-08-23 12:56] bgavrilMS commented on #557
Closing, please let us know if there are any other questions.

[2018-08-23 12:56] #557 closed

[2018-08-23 15:34] marilag commented on #602
We are using v 1.1.2. Here's how the log look like.
![msallog](https://user-images.githubusercontent.com/9032945/44535463-58ffe400-a6fa-11e8-9d33-90a642dcff49.png)

[2018-08-23 15:50] bgavrilMS commented on #602
Got it. The team have audited all logging for GDPR and have introduced a mechanism for ensuring that the auth library does not log personal identifiable information. Please have a look at this wiki page that describes it:

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

You'll need to upgrade the latest version of the library (1.1.4-preview - no breaking change

[2018-08-23 15:50] #602 closed

[2018-08-23 16:27] jennyf19 commented on #602
@marilag - Can you update to 1.1.4-preview, set up the MSAL logging as noted in the link above, and send us the complete log for an acquire token call? Can also be sent via email if you prefer. Thanks.

[2018-08-24 15:34] bgavrilMS commented on #599
@myokeeh - agreed, MSAL now uses the Web Auth Broker on UWP to interact with the system. This is quite old and does not provide a good experience on UWP - i.e. the "web view" does not show users already connected to windows etc. We are looking at using a newer technology for this.

We are also looking at adding support for Win Integrated Auth, i.e. have MSAL use the identify of the logged in user.

[2018-08-24 17:12] myokeeh commented on #599
@bgavrilMS That sounds great. I suppose there's no interim solution? Is there a roadmap or schedule to look forward to?

[2018-08-24 17:14] bgavrilMS commented on #599
@jmprieur can comment on the roadmap, Win Integrated Auth is very much requested so it will likely come first / soon.

[2018-08-27 08:16] jmprieur commented on #599
@myokeeh : we are working on bringing MSAL;NET on parity with ADAL.NET (adding missing flows like Windows Integrated Authentication, Username/Password and Device code flow). When this is done we'll work on integrating with WAM.
The roadmap is here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki#roadmap

[2018-08-27 11:37] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44657759-4f2df780-a9fe-11e8-97d1-1abbffade340.png)

[2018-08-27 12:02] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44658598-b26d5900-aa01-11e8-9c91-e40972c27e30.png)

[2018-08-27 12:28] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44658761-2ad41a00-aa02-11e8-9f6e-d8e8d5f0baaf.png)

![image](https://user-images.githubusercontent.com/13203188/44658812-5eaf3f80-aa02-11e8-9f4a-0f815d4af947.png)

[2018-08-27 12:51] jmprieur opened #603 "MSAL 2.0.0-preview breaking change - TokenCacheExtention.Deserialize(null) throws"
Try the following code in MSAL.NET 1.1.4-preview
[code]
this works

now upgrade to MSAL.NET 2.0.0-preview
this throws a NullReferenceException:

  | Name | Value | Type
-- | -- | -- | --
  | StackTrace | "   at Microsoft.Identity.Core.MsalIdHelper.GetMsalIdParameters()\r\n   at Microsoft.Identity.Client.Internal.MsalLogger.Log(LogLevel msalLogLevel, String logMessage, Boolean containsPii)\r\n   at

[2018-08-27 12:52] jmprieur commented on #603
@jennyf19, @trwalke, @rayluo : FYI, this breaks a number of Web App samples.
I think we should fix it.

[2018-08-27 13:38] jmprieur commented on #603
Verified

[2018-08-27 15:51] henrik-me commented on #603
This is not the right fix. Have shared info via email.

[2018-08-27 15:51] henrik-me commented on #603
This is not the right fix. pls. revert

[2018-08-27 16:31] jmprieur commented on #603
@henrik-me : @jennyf19 reverted it. Thanks for catching it.

[2018-08-28 07:03] #603 closed

[2018-08-28 12:13] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44722040-19574480-aacc-11e8-8d88-96e20eb89919.png)

![image](https://user-images.githubusercontent.com/13203188/44722109-4efc2d80-aacc-11e8-8597-5aac8088ffb5.png)

![image](https://user-images.githubusercontent.com/13203188/44722143-73f0a080-aacc-11e8-9ea7-3a5afd622dca.png)

[2018-08-28 12:25] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44722725-3ab93000-aace-11e8-8f14-ef350bc975b9.png)

[2018-08-28 23:45] jmprieur commented on #82
Done.
See https://aka.ms/msal-net-2-released

[2018-08-28 23:45] #82 closed

[2018-08-28 23:47] jmprieur commented on #526
The Graph API cannot be called by B2C at the moment.
Adding @parakhj for elaborating.

[2018-08-28 23:47] #526 closed

[2018-08-28 23:47] jmprieur commented on #182
@trwalke : I guess this is done?

[2018-08-28 23:47] #182 closed

[2018-08-28 23:50] jmprieur commented on #279
the dependency is no longer there.

[2018-08-28 23:50] #279 closed

[2018-08-28 23:50] jmprieur commented on #439
Done.
See https://aka.ms/msal-net-2-released

[2018-08-28 23:50] #439 closed

[2018-08-28 23:51] jmprieur commented on #479
closing as there was no answer.

[2018-08-28 23:51] #479 closed

[2018-08-28 23:53] jmprieur commented on #556
Closing as the documentation was moved to ASP.NET

[2018-08-28 23:53] #556 closed

[2018-08-28 23:53] jmprieur commented on #559
@henrik-me : good candidate ?

[2018-08-28 23:54] jmprieur commented on #565
Closing as no-repro

[2018-08-28 23:54] #565 closed

[2018-08-28 23:55] #575 closed

[2018-08-28 23:56] henrik-me commented on #559
We already have a prototype. Unfortunately the bigger suberror story for evo is not fully complete. @abhidnya13 can demo the prototype to the team.

[2018-08-28 23:57] jmprieur commented on #588
@henrik-me another good one;

[2018-08-29 00:08] henrik-me commented on #588
@jmprieur : makes sense to investigate options.

[2018-08-29 00:40] parakhj commented on #526
The graph API does not accept B2C tokens (B2C tokens are different than AAD tokens since they are two different services).

[2018-08-29 10:40] Daniel-NP opened #604 "TokenCache doesn't work with B2C authorities after migrating to MSAL 2.0.0-preview"
I made to following steps for migration from v1.1.4 to 2.0.0:

- Enable embedded WebView:  `            App.Services.UiParent = new UIParent(this, true);`
- Switch from `IUser` to `IAccount`
- Changed the AcquireTokenSilentAsync from
`AuthenticationResult = await PCA.AcquireTokenSilentAsync(
                    Scopes, GetUserByPolicy(PCA.Users, PolicySignUpSignIn), Authority, false);`
 to
`

[2018-08-29 10:54] bgavrilMS commented on #604
As far as I know, the migration path is from ADAL 3.* to MSAL 2 or from ADAL 4.* to MSAL 2, not from MSAL 1.* to MSAL 2. @jmprieur to confirm

[2018-08-29 10:58] jmprieur commented on #604
Yes, the MSAL 1.x cache is not compatible (this was not a promise: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet#important-note-about-the-msal-preview).

The ADAL 3.x and ADAL.4x caches are compatible with MSAL .2.x with a bit of work (See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#you-can-enable-sso-between-adalnet-3x-a

[2018-08-29 11:00] jmprieur commented on #604
Also @Daniel-NP : do you have a sample where we could repro the issue?

[2018-08-29 11:38] Daniel-NP commented on #604
@jmprieur: how can i see that the cache is empty?
When I call this
`             AuthenticationResult = await PCA.AcquireTokenAsync(scopes,  App.Services.UiParent);
                var accounts = await PCA.GetAccountsAsync();` the accounts are empty.

I'm using the Azure B2C service and MSAL on my client. So I don't think I use ADAL at all.
[Here](https://gist.github.com/Daniel-NP/8b0b0d55b822579e

[2018-08-29 12:27] jmprieur commented on #604
@Daniel-NP : I realize you are using MSAL and not ADAL (was giving you the information about the cache migration, but indeed, for B2C, this is not relevant)
Does AcquireTokenAsync works (is there a IAccount in the authentication result)?

Since; from what I understand, you can customize which claims need to appear in the B2C token, I suspect that the token received by B2C is missing claims that th

[2018-08-29 12:30] Daniel-NP commented on #604
I'm currently preparing a sample application. Is it possible for you to use your own azure b2c credentials or do I need to share my credentials with you?

[2018-08-29 14:43] henrik-me commented on #604
@jmprieur @Daniel-NP : You will likely benefit from looking at the log. There are 2 claims required to be able to cache, those are unfortunately not part of the default B2C setup. @parakhj was on point to help ensure this happened. The log will tell you which two claims needs to be there.

[2018-08-29 16:38] jmprieur commented on #604
@Daniel-NP : I was able to repro it. (in other B2C tenants as well)
What I observe is that:
- I can get a token interactively (both an access token and an idToken), but the `Account` member of the `AuthenticationResult` has the following characteristics (different from what we have for the AAD tokens):
  - the Username is null
  - the AccountId's ObjectID contains the policy : ObjectId = "<guid>-b

[2018-08-29 23:17] henrik-me commented on #604
@Daniel-NP : we are working with the B2C team to get this addressed. the workaround for now is to setup the claim mapping. @trwalke will keep this thread updated on our progress.

[2018-08-30 10:08] crazynitha opened #606 "AcquireTokenSilentAsync Is not working as expected after updating MSAL 2.0.0-preview (Xamarin Forms with B2C)"
I tried to update the below line of code based on the new documentation.

[code]
This is all about calling AcquireTokenSilentAsync() but I am getting the response of GetAccountsAsync() always null.

[code]

[2018-08-30 10:38] jmprieur commented on #606
Thanks for reporting @crazynitha
This is actually a duplicate of #604. Closing it as such. I also renamed the title slightly as this is a B2C issue

See also my answer in [active-directory-xamarin-native-v2 issue #38](https://github.com/Azure-Samples/active-directory-xamarin-native-v2/issues/38)

[2018-08-30 10:39] #606 closed

[2018-08-30 10:41] jmprieur commented on #604
Added it to the MSALNET 2.0.0-preview [known issues](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released#known-issues). The explanation and the work around are available in https://aka.ms/msal-net-token-cache-index-keys

This was also raised as a sample issue in [active-directory-xamarin-native-v2 issue #38](https://github.com/Azure-Samples/active-direct

[2018-08-30 11:51] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44849863-4e6caf80-ac10-11e8-8e4b-c59452d14ccf.png)

[2018-08-30 14:05] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/44856370-166e6800-ac22-11e8-90f9-65d31e86ae92.png)

![image](https://user-images.githubusercontent.com/13203188/44856646-c93ec600-ac22-11e8-85d0-12eaa505b123.png)

![image](https://user-images.githubusercontent.com/13203188/44856653-cd6ae380-ac22-11e8-95d7-52527361ff89.png)

![image](https://user-images.githubusercontent.com/13203188/4485

[2018-08-31 08:08] jmprieur opened #607 "XML comment warnings"
**Repro steps**
1. Build MSAL.NET (from the ADAL repo)

**Expected**
it's warning clean

**Actual**
the work done on the XML comments introduced warnings **in some platforms** as the XML comments reference types and members which are not defined in every platform (that's for example the case of ConfidentialClientApplication referenced in a number of locations)

[2018-08-31 08:23] jmprieur opened #608 "UserAssertion should only be defined in DESKTOP and NET_CORE"
**Repro** steps
- Observe MSAL.NET public API
- See that `UserAssertion` is defined in every platform
- but observe that it can only be used in platforms where the [AcquireTokenOnBehalfOfAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.confidentialclientapplication.acquiretokenonbehalfofasync?view=azure-dotnet) method of [ConfidentialClientApplication](https://docs.micr

[2018-08-31 14:47] #607 closed

[2018-09-04 14:43] phatcher opened #609 "AcquireTokenAsync throws NotImplemented on netcoreapp2.0"
I'm trying to convert an app to netcore2.0 and one of its libraries uses Microsoft.IdentityModel.Clients.ActiveDirectory to acquire tokens.

Unfortunately AcquireTokenAsync throws a NotImplemented exception - is there anyway around this?

[2018-09-04 15:28] bgavrilMS commented on #609
Hi @phatcher - currently we do not support interactive flows (i.e. showing the browser) in netcoreapp. This is because netcore does not provide such APIs. We do not have a workaround for this, expect to use a non-interactive authentication flow such as username/password or Win Integrated Auth see https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/AcquireTokenSilentAsync-using

[2018-09-04 15:54] phatcher commented on #609
@bgavrilMS Thanks for the clarification._

[2018-09-04 16:34] #609 closed

[2018-09-05 07:07] ali-h2010 opened #610 "Unable to find package Microsoft.NETCore.UniversalWindowsPlatform . No packages exist with this id in source(s)"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
MSAL 2.0.0-preview
**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
NA

**Expected behavior**
Packages should restore from the Nuget feed.

**Actual behavior**
Microsoft.NETCore.UniversalWindowsPlatform is not being restored because it's not found

[2018-09-05 09:23] devlanfear opened #611 "MSAL: PublicClientApplication throws NullReferenceException in constructor on iPhone simulator"
---
Using https://github.com/Azure-Samples/active-directory-xamarin-native-v2 on iPhone Simulator 11.4
without any changes (also tried with keys from existing apps)
---

**Which Version of MSAL are you using ?**
MSAL 2.0.0-preview

**Which platform has the issue?**
Xamarin.Forms iOS

**What authentication flow has the issue?**
Mobile

**Repro**

			PCA = new PublicClientApplication(ClientID)
			{

[2018-09-05 15:45] jmprieur commented on #611
@devlanfear : had you installed a previous version of the sample application in the past in the simulator?

[2018-09-05 16:43] ali-h2010 commented on #611
I have the same problem
This is the first time I use this library
Should i install an old version of the Microsoft.Client.idintity?

[2018-09-05 17:16] jennyf19 commented on #611
I think the problem is with the sample. I was not able to repro using the dev apps inside of MSAL. I'll take a look.

cc: @jmprieur

[2018-09-06 05:49] devlanfear commented on #611
I tried on clean simulator also - same issue @jmprieur

[2018-09-06 05:55] ali-h2010 commented on #611
When i try to install the app on a physical device, i get the following error:
`Your code signing/provisioning profiles are not correctly configured. Probably you have an entitlement not supported by your current provisioning profile, or your device is not part of the current provisioning profile.`

the app is not being deployed to the device. Only when i remove the custom Entitlements.plist that

[2018-09-06 06:29] ali-h2010 commented on #611
I think the issue is in the keychain settings

[2018-09-06 06:43] ali-h2010 commented on #611
In this line:
`AuthenticationResult ar = await App.PCA.AcquireTokenAsync(App.Scopes, App.UiParent);`
UiParent is null for iOS. while there is an activity for the windows device

[2018-09-06 07:07] ali-h2010 commented on #611
![screen shot 2018-09-06 at 9 47 07 am](https://user-images.githubusercontent.com/12033261/45140742-72a23080-b1bc-11e8-924e-bb268cafcdee.png)
Key chain security is also null

When i run on the simulator, it fails on the constructor. And when i run on a physical device, it fails on getting the token

[2018-09-07 01:30] jennyf19 commented on #611
Simulator does not use the keychain sharing group, but a device will. The issue is possibly stemming from `GetTeamId()` returning null, but having issues getting a consistent repro. Hopefully will have a better update soon.

cc: @jmprieur

[2018-09-07 15:37] jmprieur commented on #610
@ali-h2010 .
Microsoft.NETCore.UniversalWindowsPlatform is the Windows Universal Platform SDK. It's not really a package and I'm not sure it applies on Mac (I need to check).

What are you trying to do? build the MSAL.NET solution with Visual Studio for Mac?
can you provide repro steps? Is it:
- I'm in VS for Mac
- I open the Solution ...
- I try to build
- Microsoft.NETCore.UniversalWindowsPlatfo

[2018-09-07 21:42] ZeroPKI commented on #611
Thanks for opening this issue, I thought it was some kind of issue with Prism. I'm getting the same error

        public App() : this(null)
        {
        }

        public App(IPlatformInitializer initializer) : base(initializer)
        {
            //PCA = new PublicClientApplication(AppSettings.MSAL_ApplicationID)
            //{
            //    RedirectUri = $"msal{AppSettings.MSAL_App

[2018-09-08 01:18] mfeingol opened #612 "COMException calling PublicClientApplication.AcquireTokenSilentAsync"
**Which Version of MSAL are you using ?**
MSAL 2.0.0-preview

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop
    * [x] Interactive

**Repro**
[code]

**Expected behavior**
I'd expect this to work, as it did in 1.1.4-preview0002.

**Actual behavior**
When signing in with an MSA, I see the following exception:
[code]

I've tried this with two different M

[2018-09-09 10:41] ali-h2010 commented on #610
@jmprieur ,

I was actually trying to run the sample app but i might have missed something up.
My task is very simple. I need to authenticate employees using active directory for our enterprise company. This is easily doable using ASP.NET. But, i am confused regarding the Xamarin development which support to be a piece of cake considering that we are working with Microsoft Products.

This topic is

[2018-09-09 10:42] ali-h2010 commented on #610
Please close this issue since i don't have control over the statues

[2018-09-09 12:15] ali-h2010 commented on #611
Any update on this matter?
Is there any temporary work around to authenticate users using AD in iOS?
It's working fine in Android and in ASP.NET it's easy to add enterprise authentication.

[2018-09-09 16:57] jmprieur commented on #611
@ali-h2010, @jennyf19 is looking at it.
Can you please confirm you only see that on the iOS simulator, not on an iPhone device?

[2018-09-09 20:35] ali-h2010 commented on #611
@jmprieur , i get Null Reference Exception on both. I have been using keychain on the simulator and it worked fine in all our apps. I tried to add the keychain in the Entitlement and info.

[2018-09-09 20:41] ali-h2010 commented on #611
@jmprieur , am i the only one who is facing issues when running on a physical device?
@ZeroPKI ,@devlanfear

[2018-09-10 02:17] jmprieur commented on #611
@jennyf19 did not manage to repro it on a physical device, @ali-h2010
which iPhone are you using?

[2018-09-10 11:11] armin-o commented on #611
Same Issue here:

Actual behavior Simulator
Constructor throws NullReferenceException

Actual behavior iPhone8/IOS11
 var tr = App.PCA.AcquireTokenAsync(App.Scopes, App.UiParent);
                tr.Wait(); // <- NullReferenceException

[2018-09-10 14:09] jmprieur commented on #612
Thanks for the feedback.

The content of the cache is not kept when upgrading from MSAL 1.1.4-preview to MSAL 2.0.0, but MSAL.2.0.0 does migrate the cache from ADAL (where most production apps are). Sorry for the inconvenience
There are breaking changes in MSAL.Net 2.0.0 which are explained in https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released. If you u

[2018-09-10 16:07] mfeingol commented on #612
Thanks for your reply!

That's unfortunate about upgrades from previous releases of MSAL.

Because of the COMException I never managed to obtain a working instance of IAccount. Hopefully it'll have what I need.

Any ideas on the exception?

[2018-09-11 02:10] jmprieur commented on #612
thanks for the update @mfeingol
We are going to look at the exception

[2018-09-11 04:28] bgavrilMS commented on #612
@jennyf19 - this looks similar to the bug you just fixed where the dictionary key already exists - is it the same dictionary ?

Microsoft.Identity.Core.Telemetry.TelemetryTokenCacheAccessor.SaveAccessToken(MsalAccessTokenCacheItem item, RequestContext requestContext)

[2018-09-11 05:26] ali-h2010 commented on #611
@jmprieur
I tested with this sample for native iOS and it's working as expected on the simulator
https://github.com/Azure-Samples/active-directory-ios-swift-native-v2
But, our focus right now is Xamarin forms.
Please support us in this issue.

[2018-09-11 14:05] Rashun001 commented on #611
Works on the Physical Device, not on the emulator.

[2018-09-11 14:57] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/45366759-6dfec300-b594-11e8-914f-2e24de669e09.png)

[2018-09-11 17:27] jennyf19 commented on #611
Thanks for the update @ali-h2010
We are still working on this issue. Will keep you posted. Thanks for your patience.

[2018-09-11 18:12] trwalke commented on #604
We have implemented a fix for this issue and we are planning to release within the next week or so

[2018-09-11 19:43] TuroczyX commented on #604
@trwalke That would be perfect! Could you please update the sample code-s as well. It would help a lot.

[2018-09-13 06:59] jmprieur opened #613 "AADB2C accounts are not removed from the cache in MSAL.Net 2.0.1-internal25504dev"
**Which Version of MSAL are you using ?**
MSAL.NET 2.0.1-internal25504dev (Sept 12th, hotfix release candidate)

**Which platform has the issue?**
All

**What authentication flow has the issue?**
* Desktop
    * [x ] Interactive
* [ x] Mobile

**Repro**
1. clone the https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop repository
1. checkout
1. upgrade to MSAL.NET 2.0.1-internal2550

[2018-09-13 07:02] jmprieur commented on #613
@jennyf19 @trwalke

[2018-09-15 06:01] trwalke commented on #604
@TuroczyX Will do. in the meantime, we have released a hotfix for this https://www.nuget.org/packages/Microsoft.Identity.Client/2.0.1-preview

[2018-09-15 15:42] #613 closed

[2018-09-15 15:45] #604 closed

[2018-09-15 15:48] jmprieur commented on #612
@mfeingol :for the COM exception, do you want to check if MSAL.NET 2.0.1 fixes it?

[2018-09-16 21:52] mfeingol commented on #612
@jmprieur: nope, still seeing the same exception with 2.0.1-preview:

[code]

[2018-09-18 03:40] HarlowBurgess commented on #611
It doesn't work for me even for a new blank project. I also reset the simulator to its initial state just in case.

Repro steps: Create a new blank Xamarin.Forms project with the following:
Xamarin.Forms 3.2.0.839982
.NET Standard 2.0.3
Microsoft.Identity.Client 2.0.1-preview
iPhone X iOS 11.4 Simulator

App.xaml.cs:
public App()
{
    InitializeComponent();
    PublicClientApplication PCA = new P

[2018-09-18 16:41] jennyf19 commented on #611
@HarlowBurgess @ali-h2010 - Thanks for the update. I need to update my comment as well, as I was able to reproduce with a blank project (as you did), and in other samples. We are not able to repro it in our dev samples. We will keep you posted. Thanks.

[2018-09-20 07:18] bergmolch opened #614 "Crash on UWP when saving AccessToken"
---
UWP App crashes after typing in the correct credentials
---

**Which Version of MSAL are you using ?**
MSAL 2.0.1-preview

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Mobile

**Repro**

* Open the WebView where the credentials can be typed in
* Type in the credentials correctly
* Press OK

**Expected behavior**
AccessToken gets created and stored, app-f

[2018-09-21 17:11] sumodmadhavan opened #615 "B2C Authentication not working post Microsoft.Identity.Client Upgrade >2.0.0-preview"
### Problem Statement

We upgraded from .NET Core 2.0 to .NET Core 2.1. In the process we upgraded the assemblies Microsoft.Identity.Client. Post upgrade B2C authentication is not working. Upgrade has caused breaking changes.

### Assemblies not working

## .NET Version : .NET Core 2.1

Microsoft.AspNetCore.Authentication | 2.1.2
Microsoft.AspNetCore.Identity | 2.1.3
Microsoft.Identity.Client | 2.

[2018-09-21 19:48] Mohsens22 opened #616 "Persistent sign-in MicrosoftGraph"
**Which Version of MSAL are you using ?**
MSAL 2.0.1-preview
**Which platform has the issue?**
Net46 console app

--------

Hey,
I'm using MSAL with MSGraph, it seems that there is no way for me to save `TokenCache` in a file system to have a persistent sign in experience.

Take a look at https://stackoverflow.com/questions/52394383/persist-sign-in-microsoft-graph-c-sharp-sdk for details.

[2018-09-21 20:18] henrik-me commented on #615
@sumodmadhavan : Did you try with the latest version of MSAL.NET? v. 2.0.1-preview? Se e.g. https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-V2.0.1

[2018-09-21 20:19] henrik-me commented on #615
@jennyf19 @bgavrilMS @MarkZuber

[2018-09-22 19:00] sumodmadhavan commented on #615
@henrik-me . Issue is resolved with  v. 2.0.1-preview. We can close this issue.

[2018-09-22 19:00] #615 closed

[2018-09-23 17:07] bgavrilMS commented on #616
Hi @Mohsens22 - apologies for not replying earlier, we have to get better at monitoring SO. I replied on stackoverflow where you added more details about the problem. I'm adding my answer here as well:

I will try to clarify the issues here:

1. MSAL .net is build for different platforms - .net desktop, .net core, UWP, xamarin android and xamarin iOS. On some of these platforms (UWP and xamarin) w

[2018-09-24 16:23] brunokc opened #617 "NullReferenceException on PublicClientApplication.AcquireTokenAsync()"
**Which Version of MSAL are you using ?**
MSAL 2.0.1-preview

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
iPhone with iOS 12.

**Repro**

[code]

**Expected behavior**
AcquireTokenAsync() should complete successfully and start the client authentication flow on the phone. This same code snipped worked just fine with MSAL 1.1.4-preview0002.

Note that A

[2018-09-24 16:58] henrik-me commented on #615
@sumodmadhavan : thanks for confirming.

[2018-09-24 17:13] sergioacortes commented on #617
Same problem, I have tested it with emulator and physical device, I have downgrade to version 1.1.4 preview and it works.

Guess it is a problem within the constructor of PublicClientApplication class

Regards

[2018-09-24 17:36] brunokc commented on #617
Thank you for confirming, @sergioacortes. To be clear though, in my case I can construct the class just fine. I set its RedirectUri property and only when I call AcquireTokenAsync() I get the exception. I have also downgraded to 1.1.4-preview0002 and things are working again.

[2018-09-24 17:53] jennyf19 commented on #617
@sergioacortes @brunokc

We are aware of the [issue w/iOS simulator](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/611). Recommendation is to continue using 1.1.4-preview for the time being.

[2018-09-24 17:55] jennyf19 commented on #614
@bergmolch - I am unable to reproduce the issue on UWP. Can you share the code you are using for the AcquireToken call? Thanks.

[2018-09-25 06:28] ali-h2010 commented on #611
@HarlowBurgess ,@jennyf19
Can you please share with me how to sign out using MSAL 1.1.4 ?
`App.PCA.GetUser(String identifier)`
require a string identifer
and
`App.PCA.Remove(IUser user)`
require a reference to the user.

From where can i get the string identifier for the user that is currently logged in?

[2018-09-25 09:17] bgavrilMS commented on #611
Hi @ali-h2010 - please open a new issue for your problem. MSAL 1.1.4 is used in production env by quite a few people. App.PCA.Users should be populated with users once a token has been acquired. It is essentially a view over the token cache.

[2018-09-25 14:57] mattwoberts opened #618 "Sample for asp.net core using MSAL.NET and Graph API?"
**Is your feature request related to a problem? Please describe.**
I'm really struggling to get started with what I thought was a simple requirement - I want users of my web app to be able to sync events with their office 365 calendar - they need to authenticate with MS (work / school account). and grant permissions for the sync (including future sync). I understand I need to use the token cache t

[2018-09-26 11:03] sergioacortes commented on #617
@brunokc @jennyf19 I have downgrade to version 1.1.4 It works well but not with physical devices with iOS 12

Kind regards

[2018-09-26 11:04] bergmolch commented on #614
This is the call we use in the PCL:

This works with v. 2.0.0-preview and does not in 2.0.1-preview

[2018-09-26 11:53] bgavrilMS commented on #614
@bergmolch - do you have all the auth code in your PCL library? How do you construct the PublicClientApplication ?

[2018-09-26 12:18] bergmolch commented on #614
Yes, it is all in the PCL except for the UIParent-Provider which is implemented on each Platform. Android returns a UIParent which uses the embeddedWebView if no chrome is installed. iOS and UWP return null.
[code]

[2018-09-26 12:29] bergmolch commented on #614
It is a NetStandard (1.4) project

`<TargetFramework>netstandard1.4</TargetFramework>`

[2018-09-26 17:57] sergioacortes commented on #612
Any update about this issue?

[2018-09-27 04:04] henrik-me commented on #618
@mattwoberts
[This sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/aspnetcore2-2) shows the integration to an MVC application running netcore 2.1.
[This sample](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-with-authorization-codes-on-web-apps) shows how to use the Authorization code in a web app to ca

[2018-09-27 12:03] emulic commented on #612
The same issue here too.

[2018-09-27 12:08] bgavrilMS commented on #612
HI @sergioacortes @emulic - we'll look at this as soon as possible, apologies for the delay.

[2018-09-27 14:23] TKNos opened #619 "Crash on UWP after migration from 1.1.2 to 2.0.0"
**Which Version of MSAL are you using ?**
MSAL 2.0.0-preview

**Which platform has the issue?**
UWP

**What authentication flow has the issue?**
* Desktop

**Repro**
Upgraded a working application from 1.1.2 to 2.0.0. After creating a new package and distributing it via sideloading, users installing the new version can no longer start the app. After a short period of time the application simply cr

[2018-09-27 14:59] brunokc commented on #617
@sergioacortes, version 1.1.4 seems to be working fine for me on my iPhone with iOS 12. I can't use the resulting token to authenticate with my Azure Mobile Services but I believe that's a problem there (it doesn't look like it supports RS256 JWTs?). The resulting user returned by MSAL seems to be all correct, as far as I can tell.

[2018-09-27 15:46] henrik-me commented on #619
@TKNos : This is not a file that the library does anything with. Do you store the cache in that file? If so, pls. take a look at the changes we made to the cache between v1 and v2 [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released). See specifically the section on the cache.

Aside: We have identified [an issue with the http stack on UWP](https:/

[2018-09-27 15:54] henrik-me commented on #551
This is no longer blocked and we have started the work on the Device Flow.
CC: @MarkZuber

[2018-09-27 16:04] henrik-me commented on #599
@myokeeh : We are putting the final touches on Integrated Windows Authentication for MSAL and it will be included in our next release coming out very soon.

[2018-09-27 16:54] johanalex566 opened #620 "'ClientApplicationBase.Users' is obsolete: 'Use GetAccountsAsync instead"
---
Hi, please helpme with the next problem

---

I'm trying to get GetAccessToken but i have a problem with the next line, I can not get the users

    AuthenticationResult result = await cca.AcquireTokenSilentAsync (scopes, cca.Users.First());

The problema says

'ClientApplicationBase.Users' is obsolete: 'Use GetAccountsAsync instead

[2018-09-27 18:14] tipa commented on #611
The same issue occurs for me when the auth is attempted while the phone screen is locked. Then the library cannot access the keychain and get the teamId, resulting in the error. Maybe adding Accessible = SecAccessible.Always to this line resolves the issue: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/1d3eb8c49be9039d99c1bf0057e98506c256b6de/core/src/Platforms/iOS/Token

[2018-09-27 18:29] bgavrilMS commented on #620
Yes, the API has changed in MSAL 2, it uses the concept of Account instead of User. But changes are minimal, you just change to:

[code]

[2018-09-27 19:51] #616 closed

[2018-09-28 16:00] bgavrilMS commented on #612
Looking at this now. The stack trace and the error message point out at an issue when storing the ATs. On UWP the library stores the tokens using the platform ApplicationData storage. I think in your case we're hitting a storage limit. Investigating further...

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/core/src/Platforms/uap/TokenCacheAccessor.cs#L76

[2018-09-28 16:28] bgavrilMS commented on #612
Ok, I now understand this problem and I can repro it. The repro steps are:

1. Create a UWP app and configure it to perform auth with MSAL 2.x
2. Configure it to perform an interactive token request and ask for several scopes - not just a few, e.g.

 "User.Read", "Files.ReadWrite.AppFolder", "Files.Read.All", "Calendars.Read", "Calendars.Read.Shared"

3. Run the app and login when the browser requ

[2018-09-28 17:54] myokeeh commented on #599
Will corresponding documentation come out with that update? Is it already in the MSAL 2.1.0-preview released yesterday?

[2018-09-28 18:45] jennyf19 commented on #599
@myokeeh - It's in the current release, [MSAL 2.1.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.1.0), and here is a [link to the wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Integrated-Windows-Authentication)

[2018-09-29 04:43] henrik-me commented on #619
@bgavrilMS : is this related to the issue you found regarding long scopes on UWP?
@TKNos : no longer sure about the file. We will be looking closer at this and provide an update.

[2018-09-29 06:36] myokeeh commented on #599
Will Microsoft accounts be supported in some future release?

[2018-10-01 12:47] bgavrilMS commented on #619
@TKNos - on UWP, we don't allow you to provide a TokenCache because we provide one that uses the ApplicationDataContainer

I see that this is a Xamarin application. How is it structrured?

- do you use a netstandard shared project?
- where does the auth code live - on the netstandard project or on the UWP project?

[2018-10-01 13:05] TKNos commented on #619
@bgavrilMS Thanks for your respose.

- It is a .NET standard 1.4 project (`<TargetFramework>netstandard1.4</TargetFramework`)
- The auth code lives in the shared project

[2018-10-01 13:46] bgavrilMS commented on #619
@TKNos - I'll look into this, but authentication is platform specific, i.e. some parts, especially the UIBehaviour need to instantiated on the non-shared assemblies. As a workaround, you could try to move auth code to each platform, this should work.

@jmprieur - we really need to prioritize getting a sample for Xamarin forms to understand how this needs to be implemented.

[2018-10-01 16:09] markolbert opened #621 "Google Identity Provider: Redirect to Custom Attribute Page Not Working"
I'm trying to implement Azure AD B2C authentication for an AspNet Core 2.1 website using the Microsoft Account and Google identity providers. My code is based on [this example](https://github.com/chrispadgettlivecom/WebApp-OpenIDConnect-DotNetCore21).

The Microsoft Account flow works the way I expect it to: authenticate, and then get sent to a page where you are requested to fill in custom attrib

[2018-10-01 16:12] markolbert commented on #621
Forgot to mention: I'm using the new b2clogin.com domain throughout. The example I'm working off of uses the older microsoftonline.com domain. That probably doesn't matter, but...

[2018-10-02 00:07] alexkatz opened #622 "System.ArgumentNullException from TokenCacheAccessor.CreateRecord, Xamarin.iOS"
**Which Version of MSAL are you using ?**
MSAL 2.1.0-preview

**Which platform has the issue?**
Xamarin iOS

**What authentication flow has the issue?**
Mobile - iOS

**Repro**
[code]
**Expected behavior**
An token is retrieved and a user record is created in the token cache.

**Actual behavior**
It looks as though the TokenCacheAccessor is failing to create a record after attempting to acquire a

[2018-10-02 02:10] jmprieur commented on #621
Adding @parakhj as I think that's an issue with b2C? (not MSAL.NET ?)

[2018-10-02 03:55] jmprieur commented on #535
![image](https://user-images.githubusercontent.com/13203188/46328474-4364c080-c5bc-11e8-8865-582d1933eb2d.png)

[2018-10-02 04:07] markolbert commented on #621
You could be right; it's unclear to me.

I forgot to mention that an earlier version of my app -- which didn't follow that example source code I cited, and did use the deprecated microsoftonline.com domain -- worked the way I expected it to (i.e., after authentication by either Google or Microsoft, the custom attribute page appeared).

I thought MSAL might be involved because it's part of the appr

[2018-10-02 04:38] jmprieur commented on #614
@bgavrilMS : can this be due to the long key issue?

[2018-10-02 14:04] bgavrilMS commented on #614
@jmprieur  - Yes, this seems to be the case. Easy to confirm though - @bergmolch - what scopes are you using (or how many, if you do not wish to disclose the exact scopes).

Related issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/612

[2018-10-02 14:05] bgavrilMS commented on #612
We have a fix and expect to hot fix this issue soon.

[2018-10-02 14:06] bgavrilMS commented on #614
Closing as duplicate, based on the stack trace

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/612

[2018-10-02 14:06] #614 closed

[2018-10-02 16:16] bgavrilMS commented on #622
Haven't looked in details at this, but I think I know where it coming from. When we save to the token cache, we serialize and save 4 objects - AT, RT, IdToken and Account. In this case, saving the account to the key chain fails.

On iOS, we save the Account ojbect like this:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/core/src/Platforms/iOS/TokenCacheAccessor.cs#L1

[2018-10-03 15:53] ZeroPKI opened #625 "Why does the documentation prefer I use a scheme instead of universal links? (From Stackoverflow)"
From StackOverflow:
https://stackoverflow.com/q/52631090/9403965

All of the MSAL documentation wants me to use a prefix such as msalGUID:/// when authenticating back to the local device.

Then there is the oddball url urn:ietf:wg:oauth:2.0:oob that appears by default in the MSAL portal.

Since every URL I list there is essentially a backdoor into my application, I want to understand the security

[2018-10-03 17:54] jennyf19 commented on #617
@brunokc @sergioacortes

Can you try the following, using MSALv2.1.0-preview:
- In VS, under Debug tab, go to nameOfMyApp.iOS Properties...
- Then go to iOS Bundle Signing
- Under Custom Entitlements, click the ... and select the Entitlements.plist file from your app

In the csproj file of the iOS app, you should have this line now included:
``` <CodesignEntitlements>Entitlements.plist</CodesignEn

[2018-10-03 18:07] hig-dev commented on #611
@jennyf19 I had the same problem and your solution worked with MSAL 2.1.0-preview on the iPhone Simulator.

[2018-10-03 18:10] jennyf19 commented on #611
@hig-dev - Excellent...thanks for the quick response.

[2018-10-03 18:47] aespino27 commented on #612
Not only scopes, any native or custom directory attribute added to the token might also increment the size.
Actually, I did hit with this error in previous versions, as I brought many custom directory attributes in the token; I didn't went though much thinking, but noticed that reducing the amount of custom attributes in the token to about 2, "made the error disappear", further than that ... boom.

[2018-10-03 18:49] tipa commented on #611
@jennyf19 thanks for the update, but I am still a bit confused, as for me it also works with my own, keychain-access-group `$(AppIdentifierPrefix)$(CFBundleIdentifier)`. Is there any benefit from using `$(AppIdentifierPrefix)com.microsoft.adalcache`?
Also does this solve the issue I experience when trying to create a `PublicClientApplication` instance when the screen is locked? Should I open a new

[2018-10-03 18:55] jennyf19 commented on #611
@tipa
**answers to your questions:**
I am still a bit confused, as for me it also works with my own, keychain-access-group $(AppIdentifierPrefix)$(CFBundleIdentifier). Is there any benefit from using $(AppIdentifierPrefix)com.microsoft.adalcache?
- No benefit. Using your own keychain access group is fine.

Also does this solve the issue I experience when trying to create a PublicClientApplication

[2018-10-03 19:10] tipa opened #626 "PublicClientApplication constructor throws exception when iPhone screen is locked"
**Which Version of MSAL are you using ?**
MSAL 2.1.0-preview

**Which platform has the issue?**
Xamarin.iOS

**What authentication flow has the issue?**
Mobile

**Repro**

[code]

**Expected behavior**
The constructor does not crash

**Actual behavior**
An NullReferenceException is thrown in method [GetTeamId()](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/1d3eb8c49be90

[2018-10-03 19:11] parakhj commented on #621
@markolbert gonna ask a few clarifying questions:
1. Are you using a built-in or custom policy? I assume custom policy?
2. The custom attribute page usually comes up during sign up only - did you use a custom policy to insert an attribute page during sign in as well?
3. If you capture a network trace, is Google returning a code/token back to B2C?

[2018-10-03 19:11] tipa commented on #611
@jennyf19 I created a new issue here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/626
The default accessibility `AfterFirstUnlockThisDeviceOnly` is not used everywhere in the library, which causes the issue.

[2018-10-03 19:21] jennyf19 commented on #626
@tipa - Can you please provide detailed repro steps? Thank you.

[2018-10-03 19:30] tipa commented on #626
I am using a geofence in my iOS app. When a user enters or leaves a geofence, the phone screen might be locked when the app is invoked in the background. I then want to read or write from or to OneDrive.
My code looks a bit like this:
[code]

[2018-10-03 21:37] markolbert commented on #621
1. I'm using built-in policies, edited via the Azure AD B2C portal to include certain specific, pre-defined attributes.
2. I'm not using custom policies.
3. Google is returning a token, which is being handled by the OnAuthorizationCodeReceived(AuthorizationCodeReceivedContext context) event handler.

[2018-10-04 01:48] jennyf19 commented on #622
@alexkatz
I could not repro the issue. I was able to login w/B2C (Google and Facebook) and an account was created.
We did fix an issue with TeamId() returning null, so you could try with this [branch](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/tree/jennyf/teamId), and see if that helps.
Also, make sure to have this in the `Info.plist` file `$"msal{client_id}"`
[code]

cc:

[2018-10-04 09:20] bgavrilMS commented on #612
Actually we use a UWP platform dictionary to store both key and values. A access token key is just an identifier and does not hold the actual token. The dictionary value does...

[2018-10-04 16:09] brunokc commented on #617
@jennyf19 , unfortunately it didn't seem to work for me. Using 2.1.0-preview, made sure I had keychain-access-groups in my Entitlements list (I already had it in there for other reasons) using my own access group, tried that same code and got the same NullReferenceException.

[code]

Again, this was tested on a real device (iPhone 6S with iOS 12).

Let me know if I can provide any additional infor

[2018-10-04 16:40] jennyf19 commented on #617
Thanks @brunokc - did you have this in the csproj file of the iOS app?`<CodesignEntitlements>Entitlements.plist</CodesignEntitlements>`

[2018-10-04 16:58] brunokc commented on #617
I do. At first it was only under Release|iPhone. Following your instructions, I added it under Debug|iPhone as well. That's when deployment stopped working, probably due to my limited (free) developer account I'm using.

[2018-10-05 17:55] jennyf19 commented on #622
@alexkatz Any update on this?

[2018-10-05 20:56] jennyf19 commented on #622
returning error message in [MSAL v2.2.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)  and updates to [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-access) for configuration assistance

@alexkatz - Can you confirm v2.2.0 solves the problem for you? Thanks.

[2018-10-05 20:58] jennyf19 commented on #612
@aespino27 @mfeingol @henriko2018 @sergioacortes @emulic

This has been fixed in [MSAL v2.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)

Please re-open this issue if necessary.

[2018-10-05 20:58] #612 closed

[2018-10-05 21:00] jennyf19 commented on #489
SFAuthenticationSession and ASWebAuthenticationSession updates in [MSAL v2.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)
@onovotny

[2018-10-05 21:00] #489 closed

[2018-10-05 21:05] jennyf19 commented on #617
@brunokc
Returning error message in [MSAL v2.2.0](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)  and updates to [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-access) for configuration assistance

Can you try w/v2.2.0? if you're still having issues, email me (jeferrie@micro

[2018-10-05 23:34] jennyf19 commented on #611
@devlanfear @ali-h2010 @ZeroPKI
returning error message in [MSAL v2.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)  and updates to [wiki](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-access) for configuration assistance

Please re-open if you continue to have issues

[2018-10-05 23:34] #611 closed

[2018-10-06 04:33] RhomGit opened #628 "AcquireTokenAsync: Safari cannot open the page because the address is invalid"
Microsoft.Identy.Client 1.1.4-preview0002
Xamarin.Forms.3.2.0.871581
netstandard2.0
iPhone 8 Plus iOS 12.0 Simulator

- I am using Xamarin, have the MSAL flow working in Android and am now trying to get it doing the same for iOS.
- I call "AcquireTokenAsync"
- The login.microsoftonline.com dialog opens correctly.
- I enter the user destails correctly and sign in.
- pca opens the error dialog "Safa

[2018-10-07 19:59] tipa opened #629 "PublicClientApplication constructor throws exception on Android"
**Which Version of MSAL are you using ?**
MSAL 2.2.0-preview

**Which platform has the issue?**
Xamarin.Android 9, targeting Android P

**Repro**

[code]

**Expected behavior**
new instance of `PublicClientApplication` is created

**Actual behavior**
Application crashes with the following exception:
[code]

**Additional context/ Logs / Screenshots**
Only happens sometimes, not reliably reproducabl

[2018-10-08 09:51] Surfrat opened #630 "GetAccountsAsync() does Instance Discovery call...will not work off-line"
---
name: Bug report
about: Pca.GetAccountsAsync() does not work offline

---

**Which Version of MSAL are you using ?**
MSAL 2.2.0-preview (Latest)

**Which platform has the issue?**
UWP, Xamarin android, . Cannot test iOS due to this issue with PCA and iOS simulator.

**What authentication flow has the issue?**
* Desktop
    * [x] Interactive
    * [ ] WIA
    * [ ] U/P
    * [ ] Device code flo

[2018-10-08 11:54] bergmolch commented on #614
Version 2.2-preview fixed that issue, thanks!

[2018-10-08 12:39] bgavrilMS opened #631 "Device Code Flow logs too many errors while polling"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
2.2.0

**Which platform has the issue?**
all, I tested with .net core

**What authentication flow has the iss

[2018-10-08 16:54] MarkZuber commented on #631
This is due to OAuth2Client auto-throwing an exception whenever there's an error response (non 200) and logging the exception (OAuth2Client.cs line 167).  We'll need to look into error responses there because there are cases (like this one) where we don't want to throw/log since the error conditions are expected.

[2018-10-08 17:33] bgavrilMS commented on #614
Thank you for confirming Fabian, much appreciated!

[2018-10-08 22:06] jennyf19 commented on #617
Fixed w/MSALv2.2.0 and update to Wiki w/clearer advice for [iOS UIParent](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#controlling-the-location-of-the-dialog-with-the-parent-parameters-uiparent) and fixing of incorrect link to Xamarin-v2 sample. FYI - @brunokc
cc: @jmprieur

[2018-10-08 22:06] #617 closed

[2018-10-09 02:09] jennyf19 commented on #626
@tipa - I wasn't able to repro this issue.
Are you creating the UIParent in the [AppDelegate](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/msal/tests/dev%20apps/XForms/XForms.iOS/AppDelegate.cs#L56)?
Also, have you tried w/[Msal2.2.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.0)?

[2018-10-09 02:15] RhomGit commented on #628
Thanks for the response @jennyf19 .

I have switched everything over to the latest v2.2.0-preview and the results are as follows:

**WPF - Windows 10 (.NET Framework 4.6.2 w/ .netstandard2.0 backend)**
Works correctly.

**Android - Android Emulator - Android 8.0 API 26**
Trying to go anywhere near PublicClientApplication raises this:
System.MissingMethodException: System.Threading.Tasks.Task`1<Mic

[2018-10-09 02:50] jennyf19 commented on #628
@RhomGit - Thanks for the additional info.
Are you setting up the UIParent correctly for [iOS and Android](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#choosing-between-embedded-web-browser-or-system-browser-on-xamarinios)?

Here's an example for [iOS](https://github.com/Azure-Samples/active-directory-xamarin-native-v2/blob/master/UserDetail

[2018-10-09 05:16] RhomGit commented on #628
Thanks @jennyf19 ,  I had copied the `result = await app.AcquireTokenAsync(scopes, firstAccount); ` code from https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/msal-net-2-released and didn't realise that it wasn't actually passing in the UIParent anymore (whoops). The examples you linked were helpful, I have added it in as the 3rd parameter and now v2.2.0-preview successf

[2018-10-09 05:16] #628 closed

[2018-10-09 06:58] tipa commented on #626
I am not creating a UIParent because the `PublicClientApplication` constructor already throws the exception.
I have not tried Msal2.2.0-preview yet but I don't see why any of the changes relate to this bug report. The [GetTeamId()](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/1d3eb8c49be9039d99c1bf0057e98506c256b6de/core/src/Platforms/iOS/TokenCacheAccessor.cs#L83)-meth

[2018-10-09 12:45] jmprieur commented on #626
To be sure, I understand, @tipa : your app is started with the screen unlocked, and the screen get locked, and the app is re-invoked in the backgroud, which does call the constructor again? (sorry for my lack of knowledge of iOS)

[2018-10-09 12:47] jmprieur commented on #628
Thanks for confirming, @RhomGit !

[2018-10-09 12:59] tipa commented on #626
I create a new instance of `PublicClientApplication` every time my "sync"-procedure is invoked

[2018-10-09 13:19] jmprieur commented on #626
Thanks for the quick update, @tipa
So I guess we'd need to have some configuration to enable your scenario.

[2018-10-09 13:41] tipa commented on #626
Thanks! As I wrote in my initial message, I would simply add `Accessible = SecAccessible.Always` (or `Accessible = _defaultAccessiblityPolicy` (which is set to `AfterFirstUnlockThisDeviceOnly`)) to this line:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/1d3eb8c49be9039d99c1bf0057e98506c256b6de/core/src/Platforms/iOS/TokenCacheAccessor.cs#L89

[2018-10-09 16:31] #551 closed

[2018-10-09 16:36] jmprieur commented on #625
Closing as the question was answered in Stack overflow

[2018-10-09 16:36] #625 closed

[2018-10-09 16:37] jennyf19 commented on #628
Thanks @RhomGit - glad you got it working and the links were helpful.

[2018-10-09 16:39] jmprieur commented on #383
@brentschmaltz @henrik-me is it something we'd like to do in Q2?

[2018-10-09 16:58] henrik-me commented on #383
@jmprieur @brentschmaltz : why is this on the .net backlog? Is this a tacking item for replacing encryption in msal.net with Wilson? Can't we make a simpler fix in MSAL.NET for now?

[2018-10-09 21:23] DaRosenberg opened #632 "MsalServiceException AADSTS50049 when targeting B2C"
I just migrated our code to MSAL 2.2.0 and also changed to use the `b2clogin.com` domain instead of the `login.microsoft.com` domain we were using before.

I cannot seem to figure out how to construct the correct `authority` string. Here is what my code currently looks like:

[code]

I have tried various different ways to format the authority string, but no matter what I do I get the same exceptio

[2018-10-09 21:29] DaRosenberg commented on #632
@jennyf19 In response to your comments:

Yes, did read the docs. And yep, I'm aware that I'm formatting my redirect URI differently than the docs do, but I double checked to make sure that's not the issue.

I did some debugging by cloning your repo, and I think the problem might be here:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/core/src/Instance/AadInstanceDisco

[2018-10-09 21:31] jennyf19 commented on #632
@DaRosenberg Thanks
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1314

[2018-10-09 21:44] DaRosenberg opened #633 "iOS TokenCacheAccessor swallows "missing entitlement" errors"
**Which Version of MSAL are you using ?**
MSAL 2.2.0-preview

**Which platform has the issue?**
Xamarin.iOS

**What authentication flow has the issue?**
Mobile

**Expected behavior**
When the app is missing the necessary entitlements to write to the key chain, an exception should be thrown to alert the developer to this fact.

**Actual behavior**
The `TokenCacheAccessor `class for iOS never checks

[2018-10-09 23:01] DaRosenberg opened #634 "TokenCacheAccessor on iOS uses "com.microsoft.adalcache" as its default keychain group"
**Which Version of MSAL are you using ?**
MSAL 2.2.0-preview

**Which platform has the issue?**
Xamarin.iOS

**What authentication flow has the issue?**
Mobile

**Expected behavior**
If a key chain security group is not explicitly set by the application, the expectation is that the `TokenCacheAccessor `would use `NSBundle.MainBundle.BundleIdentifier` as the default value.

**Actual behavior**
Inst

[2018-10-10 02:13] jennyf19 commented on #632
@DaRosenberg I was able to repro this. Will meet w/B2C team tomorrow and get back to you. Thanks for bringing up this issue.

[2018-10-10 09:22] mattwoberts commented on #618
Thanks for the information, I think that's enough for me to work out what I
need to do :)

On Tue, Oct 9, 2018 at 5:26 PM Jean-Marc Prieur <notifications@github.com>
wrote:

--
Matt Roberts

e: roberts.mattroberts@gmail.com
t: mattwoberts

[2018-10-11 00:10] jennyf19 commented on #632
The instance discovery is not part of our client code, and needs to be fixed elsewhere. Still working on that...will update when we have meaningful information to share.
@DaRosenberg

[2018-10-11 10:19] Surfrat commented on #630
Can someone please confirm that this does/doesn't work offline?

If my code is wrong then please point me in the right direction.

Thank you.

[2018-10-11 14:58] jmprieur commented on #630
@Surfrat : we are investigating
Just checking, when you write offline, do we agree that you mean no network connection?
so far what we have found is that getting the accounts (when there is an identity in the cache) works (returns a result) when the device is not connected to the phone, but acquiring a token does not work.

Can you please tell us more about your scenario? are you trying to have so

[2018-10-11 15:01] jmprieur commented on #626
@oldalton : would you have any guidance on this issue ?
cc: @jennyf19

[2018-10-11 15:16] Surfrat commented on #630
Yes, offline means no internet/network connection. In the previous major version it would find the token in the cache (sorry if I have some of the terminology incorrect).

I want the functionality to work as in the previous version. Previously if you ran the app with no internet connection it would grab the token and you could then work offline. I will not do changes to the cached info but will us

[2018-10-11 15:40] henrik-me commented on #626
@jennyf19 @jmprieur : to me what @tipa says make perfect sense. only question I would have is whether we should allow it to roam to another device (my first reaction is no). Thus we should rather be using AlwaysThisDeviceOnly. @tipa would this setting work for you?

[2018-10-11 16:42] jmprieur commented on #622
@alexkatz : closing this as we think it's fixed.
Feel free to reopen if this does not work for you

[2018-10-11 16:42] #622 closed

[2018-10-11 16:49] jmprieur commented on #631
Let's change the severity of this error, so that it only logs when the log serverity is info.

[2018-10-11 16:56] jmprieur commented on #632
Added external until B2C adds a discovery endpoint

[2018-10-11 17:02] jmprieur commented on #621
@parakhj : I think this is not related to the library. Can you please confirm, based @markolbert's answers. Also how do we want to track that on your tracking items? do we want us to create a bug or User story in your VSTS team project?

[2018-10-11 17:07] jmprieur commented on #547
@AnandPhadke : closing it. Feel free to reopen if this is still an issue for you

[2018-10-11 17:07] #547 closed

[2018-10-11 17:16] parakhj commented on #621
Sorry - i missed the reply from Mark. This is not related to the library. @markolbert it's been a while so i'm curious if you figured it out. The only potential explanation is that the user already exists, and that is why the custom attributes page didn't show up (since it only shows up on sign up). I will test this in my tenant to confirm. If i can repro it, i will let you know.

@jmprieur we don

[2018-10-11 18:38] oldalton commented on #626
TeamId can be always accessible, as there's no private information in it.
Tokens have to be AfterFirstUnlockThisDeviceOnly to prevent roaming.

[2018-10-11 21:05] jmprieur commented on #621
Proposing to close this issue as external (to MSAL.NET).
Parakh will follow-up with you @markolbert
Feel free to reopen if you disagree.

[2018-10-11 21:05] #621 closed

[2018-10-11 21:08] jmprieur commented on #634
@DaRosenberg : we are using the following `"com.microsoft.adalcache"` keychain group in order to have SSO between Xamarin.iOS apps and Native iOS apps written with MSAL.iOS (or ADAL.iOS as a matter of fact). This is something that some customers have requested.

you can always set the key chain security group to `"NSBundle.MainBundle.BundleIdentifier"`

Closing this issue as won't fix. Feel free t

[2018-10-11 21:08] jmprieur commented on #633
Thanks @DaRosenberg : this is a good point. We'll fix that.

[2018-10-11 21:09] jmprieur commented on #631
PR available: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1315

[2018-10-11 21:13] jmprieur commented on #586
@parakhj : do you want to have a look at this one (for the experience with teh B2C landing landing page). I don't think that this is MSAL.NET related.

[2018-10-11 21:17] jmprieur opened #635 "Make AcquireTokenAsync cancellable by passing CancellationToken"
*Created from the corresponding feature request in ADAL.NET (ADAL.NET#[1306](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1306)), raised by @marnilss*

**Is your feature request related to a problem? Please describe.**
When doing broker assisted logins (MS Authenticator) in an App, and the user cancels the login process by pressing Home button on device and then react

[2018-10-11 21:45] DaRosenberg commented on #634
@jmprieur I don't have permission to re-open, but I would like to. :)

I disagree for the following reasons:

1. If the intention is for apps from the *same vendor* to have SSO between them, then the keychain group name should be scoped to that vendor and for that we instead have the team ID. So if this is the scenario you are intending to solve, then this default value should be prefixed with the

[2018-10-12 08:51] bgavrilMS commented on #635
@jmprieur - this is a great feature to add and should be added to all our async methods. API design standards for async APIs state that they should all have an overload taking a Cancellation Token.

[2018-10-12 13:05] henrik-me commented on #634
@DaRosenberg @jmprieur : This was chosen as iOS native has been using this as the default setting for a very long time. We have been prioritizing default alignment with the native library higher than previous MSAL's for which the format has also changed and thus SSO will not work either. It is highly recommended that developers change this value and align the value across all their apps.

[2018-10-12 14:11] nhsimarsden opened #636 "Handle null intent in SetAuthenticationContinuationEventArgs (MSAL 2.1.0)"
**Is your feature request related to a problem? Please describe.**
_SetAuthenticationContinuationEventArgs_ is the method used in when implementing MSAL for Xamarin Andorid, which handles the return from an interactive sign-in. It takes three arguments, requestCode (int), resultCode (Result) and data (Intent).

I am working with Xamarin.Forms and experiencing an issue on Android where the user tri

[2018-10-12 14:15] henrik-me commented on #599
@myokeeh : MSA's are in the plan for WAM. Not sure if that was what you asked about though.
CC: @jmprieur

[2018-10-12 15:12] nhsimarsden commented on #636
Rather than not calling `SetAuthenticationContinuationEventArgs`, another workaround is to create a dummy intent:

[code]

This is better than not calling SetAuthenticationContinuationEventArgs (which is breaking my sign-in logic). The only problem I can see here is that the interaction doesn't continue (for example, a B2C password reset which requires the user to enter a verification code that th

[2018-10-12 17:26] bgavrilMS opened #637 "Token serialization not possible on Public Client for .net core"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
 MSAL 2.2.0

**Which platform has the issue?**

net core

**What authentication flow has the issue?**
* Deskt

[2018-10-12 17:30] jennyf19 commented on #637
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1307

[2018-10-12 17:42] bgavrilMS commented on #637
Issue has been fixed.

[2018-10-12 17:42] #637 closed

[2018-10-12 19:57] parakhj commented on #586
I'm not exactly sure where the blue is coming from... likely the blue in our template? @DaRosenberg do you have another UI template by any chance that you can use to customize the UI? Here is a custom one if you need it - https://fabrikamb2c.blob.core.windows.net/b2cpartnerconference/unified.html

[2018-10-12 22:18] DaRosenberg commented on #586
@parakhj We have already created a custom template for this page, with completely custom styling from scratch, and it does not have this issue, so for our project we are good. But this would be a problem for anyone who would prefer not to go through the work of custom styling - B2C would be a lot better if all the standard templates looked good out-of-box. Currently the default pages are so poorly

[2018-10-12 22:20] DaRosenberg commented on #586
@parakhj And regarding this particular issue, it seems to be some kind of blue border rendered at the top edge of the screen, that gets positioned behind the translucent bar. Any content outside of the bar should not affect the rendering of the bar.

[2018-10-12 22:52] markolbert commented on #621
@parakhj, I run into the problem (failure to redirect to the custom attributes page) even after I delete the authentication from within Chrome. Which I presume is enough to delete the user? If not, I'm happy to try deleting the user, if someone can explain to me where I go to do so.

[2018-10-12 23:40] parakhj commented on #621
Go to the settings for Azure AD B2C in your Azure AD B2C directory. Click on users. And then find and delete the user there.

________________________________
From: Mark Olbert <notifications@github.com>
Sent: Friday, October 12, 2018 3:52 PM
To: AzureAD/microsoft-authentication-library-for-dotnet
Cc: Parakh Jain; Mention
Subject: Re: [AzureAD/microsoft-authentication-library-for-dotnet] Google Id

[2018-10-15 17:10] mikerains commented on #589
Should be opt-in to participate in the shared cookie, and be able to log out and remove cookies for a specific tenant.  Facilitate multiple directories and managing multiple identities across app.

[2018-10-15 17:34] magnusnorberg commented on #626
@tipa @jennyf19 @jmprieur @oldalton
I am desperately trying to understand under what conditions the GetTeamId() is throwing this null reference exception.

I get this behavior on Xamarin.iOS with ADAL 4.1.0-preview and 4.0.0-preview (and I cannot change to MSAL since we use Brokered SSO in some scenarios).  (ref issue https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1206

[2018-10-15 18:36] parakhj commented on #586
@DaRosenberg Great feedback - we do have better templates coming (as you noticed)! We are working to bring them out of preview very soon, so stay tuned there.

+ @Sammak

[2018-10-15 20:37] helzgate commented on #622
I'm using 2.2.0-preview (brand new, **not** upgraded from ADAL)  and I'm having this exact same error both with simulator and real device.  I too am using a custom sign-in policy because I have to migrate accounts from users whose passwords I can't decrypt .    I have no clue what to do.  I'm using the user migration strategy found [HERE](https://docs.microsoft.com/en-us/azure/active-directory-b2c

[2018-10-15 20:42] jennyf19 commented on #622
@helzgate - we have some fixes for iOS coming out later today or early tomorrow. You can try out this [branch](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/tree/jennyf/iOS) and see if this solves the problem for you. Otherwise, I'll take a look at the link you sent and get back to you. Thx.

[2018-10-15 21:12] magnusnorberg commented on #626
@jennyf19
I have looked at the latest source code and I see that you have added improved error handling to GetTeamId() with the error message CannotAccessPublisherKeyChain. BUT, the problem for me is that I have done everything according to https://aka.ms/msal-net-enable-keychain-access and although the code is successfully most of the time, at some occasions we still get the null reference except

[2018-10-16 09:17] magnusnorberg commented on #626
@jennyf19 It would be interesting to inspect SecStatusCode when our app is failing, to help us understand under what circumstances it's impossible to read from keychain until force refresh of the app.

SecRecord match = SecKeyChain.QueryAsRecord(queryRecord, out SecStatusCode resultCode);

If I want to instrument this myself, is it the dev branch I should use for my testing?

Thank you

[2018-10-16 10:46] jmprieur opened #638 "Missing DeviceCodeAuthorizationCodeExpired error in MsalClientException"
**Which Version of MSAL are you using ?**
MSAL.NET 2.2.0-preview

**Which platform has the issue?**
all supporting Device Code flow.

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] WIA
    * [ ] U/P
    * [ x] Device code flow (browserless)
* [ ] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Write code using De

[2018-10-16 10:46] jmprieur commented on #638
cc: @bgavrilMS

[2018-10-16 13:34] helzgate commented on #622
@jennyf19  I'm not in a huge hurry so I'll just wait.  How will I know when there is a new release?  I don't think subscribing to this issue will do me much good since it's closed.

[2018-10-16 14:32] jennyf19 commented on #622
@helzgate - I will ping you here. If the release doesn't address your issue, you can reopen this issue or open a new issue with a description, and we will track it there.

[2018-10-16 14:36] helzgate commented on #622
@jennyf19 Thank you!

[2018-10-16 14:56] bgavrilMS commented on #638
There seem to be bunch of error codes that we do not expose in MSAL. Should be a simple fix.

[2018-10-16 15:06] bgavrilMS opened #639 "Username / Password not getting a token for an @microsoft account, whereas ADAL is"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
2.2.0-preview

**Which platform has the issue?**
.net and uwp

**What authentication flow has the issue?**
*

[2018-10-16 17:56] bgavrilMS opened #640 "Bad exceptions on both ADAL and MSAL on IWA when not on corporate network"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
2.2.0-preview

**Which platform has the issue?**
netcore (but most likely also net desktop and UWP)

**What a

[2018-10-17 15:28] #631 closed

[2018-10-17 15:28] #629 closed

[2018-10-17 15:28] #626 closed

[2018-10-17 15:56] jennyf19 commented on #622
@helzgate Here is the release for [Msal 2.2.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.1) with the fixes and on [nuget](https://www.nuget.org/packages/Microsoft.Identity.Client/2.2.1-preview)

If this release does not address your issue, we can reopen this one or start a new one.

[2018-10-18 11:37] jmprieur opened #641 "`IPublicClientApplication` contains only one override of `AcquireTokenByUsernamePasswordAsync` whereas `PublicClientApplication` contains two"
**Which Version of MSAL are you using ?**
MSAL 2.2.1-preview

**Which platform has the issue?**
net45

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] WIA
    * [x ] U/P
    * [ ] Device code flow (browserless)
* [ ] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
`IPublicClientApplication` contains only one overr

[2018-10-18 11:55] bgavrilMS commented on #641
Will review all public api differences between the interface and the clients. Note that in this case, the 2nd override of AcquireTokenByUP is an obsolete one.

[2018-10-18 12:44] jmprieur opened #642 "Device code flow was available in ADAL.NET for Xamarin.Android. Its no longer in MSAL.NET"
**Which Version of MSAL are you using ?**
MSAL.NET 2.2.1-preview

**Which platform has the issue?**
Xamarin android

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] WIA
    * [ ] U/P
    * [x] Device code flow (browserless)
* [ ] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
Observe the public APIs of ADAL.NET a

[2018-10-18 12:48] jmprieur commented on #639
Closing as this is a service side configuration of conditional access.

[2018-10-18 12:48] #639 closed

[2018-10-18 12:55] jmprieur opened #643 "[WAM integration] UWP + WAM with 3rd party support"
**Is your feature request related to a problem? Please describe.**
Today UWP applications can leverage Integrated Windows Authentication when they run on devices/machines which are domain or AAD joined, but they cannot benefit from SSO with the signed-in account when this is a Microsoft personal account (MSA)

**Describe the solution you'd like**
Be able to have SSO with the signed-in user in Wind

[2018-10-18 12:57] jmprieur commented on #599
Now that MSAL.NET provides Integrated Windows Authentication, remains the integration with WAM. Closing this issue as a duplicate of #643 from that respect.

[2018-10-18 12:57] #599 closed

[2018-10-18 20:24] marilag opened #644 "With certificate pinning, HttpRequestException when calling AcquireTokenAsync from Xamarin Forms"
Using MSAL 1.x with B2C (still in the process of upgrading to 2.x). In our production app, we intermittently receive HTTPRequestException - An error occurred while sending the request, when calling AcquireTokenAsync. Sometimes, it resolves by restarting the app but sometimes it doesn't. Sometimes, turning Internet on/off fixes it. All other network calls from our app and other apps work, except MS

[2018-10-18 22:11] jennyf19 commented on #644
@marilag Could you try with [Msal2.2.1](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.2.1) and let us know if the problem continues. Which platform (iOS/Android/UWP) are you getting this issue with? Can you include the [MSAL logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#sample-for-logging-in-msal-2x)?

[2018-10-19 00:49] jennyf19 commented on #642
Done by @MarkZuber in this [PR](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1335) tested w/Android and iOS

[2018-10-19 00:49] #642 closed

[2018-10-19 06:41] pangar-ms opened #645 "ADAL flexibility to dynamically specify the Client/App ID is required"
**Is your feature request related to a problem? Please describe.**
Ours is a companion app, where one client app can talk to different service instances deployed in customer Azure subscription. Currently we have a way to pair single application to any instance and complete authentication. With MSAL client Id is embedded in config hence will not be able to change it dynamically as was possible in A

[2018-10-19 07:02] jmprieur commented on #645
@pangar-ms : I don't understand why multi tenant would not work for you. Is it because your app is working in several clouds?

Worse case you could always maintain a dictionary of ClientApplicationBase keyed by ClientId?

[2018-10-19 07:11] AlexSchuetz opened #646 "Could not load type of field 'Microsoft.Identity.Core.UI.WebviewBase:asWebAuthenticationSession'"
Version: MSAL 2.2.0-preview and MSAL 2.2.1-preview
Platform: Xamarin.IOS
Authentication flow: Mobile
SDKs:

- Xamarin.Apple SDK: 4.11.0.756
- Xamarin.Android SDK: 9.0.0.19

Nuget-Packages:

- Xamarin.Forms 3.2.0.871581

Calling `App.AuthenticationClient.AcquireTokenAsync(Constants.Scopes, App.UiParent)` throws the following exception on IOS:

[code]

On android everything works as expected.

Since

[2018-10-19 07:15] jmprieur commented on #646
@AlexSchuetz
Did you make sure that you have installed the latest Visual Studio 2017 (15.8.7 for windows) and at least XCode 10 on the Mac to get the classes needed to run ASWebAuthenticationSession (ex. AuthenticationServices)

[2018-10-19 07:30] AlexSchuetz commented on #646
My setup:
On Windows I have Visual Studio 15.8.2 installed
On my remote MAC I have XCode 10 (10A255) and Visual Studio 2017 for MAC (7.6.9)

[2018-10-19 07:44] Surfrat commented on #630
Hi Jenny,

Thanks for the update. I think we are missing each other here. In my code, when offline, this line

 IEnumerable<IAccount> accounts = await Pca.GetAccountsAsync();

throws an exception and I never get to GetAccountByPolicy(). Even if I did accounts is null.

This is a Xamarin Forms app and I am testing under UWP. In previous testing I tested all platforms with the same result.

A soluti

[2018-10-19 08:35] bgavrilMS commented on #630
@Surfrat

Thank you for outlining the issue. I confirm that pca.GetAccountsAsync will perform a web request, so it cannot be done offline. This is the call: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/core/src/Instance/AadInstanceDiscovery.cs#L53

The reason behind the web request is that we are trying to collect the identity provider aliases (e.g. "login.microsoft

[2018-10-19 08:40] bgavrilMS commented on #636
@nhsimarsden - When you say that the app crashes when the intent is null, do you mean that MSAL throws a null reference exception or some other exception that causes the app to crash? If that is the case, then we should treat this as a bug.

[2018-10-19 08:41] AlexSchuetz commented on #646
I did the following updates:

- Visual Studio 2017 (Windows) 15.8.2 -> 15.8.7
- Xamarin.IOS (Mac) ->12.0.0.15 (Did that before without updateing Visual Studio on Windows, but remote connection changed it back again. Now the remote connection works with the new version)

I also changed the SDK Version of the IOS-Project from "default" to "12.0".

The compiler error disappeared now.
The runtime exce

[2018-10-19 08:43] Surfrat commented on #630
You have identified the problem correctly.

Re: "If I understand correct, you restrict internet access of your app and rely on intranet / specific ports to access the protected resources?"

I am not doing this at this stage. All I want to know is that the user is authenticated and then can do protected stuff.

Being a mobile app I want the user to be able to work offline with his protected files.

[2018-10-19 08:49] jmprieur commented on #646
Thanks for confirming it worked, @AlexSchuetz
closing this issue.
BTW, I've also highlighted this issue a bit more (added boldface) in the [Troubleshooting](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Pre-requisites-to-build-ADAL.NET-and-MSAL.NET#troubleshooting) section of pre-requisites.

[2018-10-19 08:50] #646 closed

[2018-10-19 08:53] jmprieur commented on #630
@Surfrat : when you write the name in the token, you mean the name in the IAccount? or the name in a token. (in that case ID token? or access token?)

[2018-10-19 08:56] jmprieur commented on #630
oh, @Surfrat the  B2C sample that @jennyf19 has tested withis the following: https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

[2018-10-19 09:05] Surfrat commented on #630
This is the info in the token:

`if (authenticationResult?.IdToken != null)
            {
                JObject user = _userService.ParseIdToken(authenticationResult.IdToken);
                GivenName = user["given_name"]?.ToString();
                Surname = user["family_name"]?.ToString();
                Name = user["name"]?.ToString();
                Id = user["oid"]?.ToString();`

I will

[2018-10-19 09:39] nhsimarsden commented on #636
@bgavrilMS - Yes, you are correct. Below is the crash detail I pulled from App Center which led me to discover this issue:

[code]

[2018-10-19 09:42] jmprieur commented on #644
Thanks for the update @marilag. Closing the issue as external, and updated the title
Feel free to share your solution in this issue when you find it (so that it helps other customers)

[2018-10-19 09:42] #644 closed

[2018-10-19 09:54] jmprieur commented on #630
Thanks for confirming
In ADAL v2, you have the notion of IAccount which has a displayable name
Please see https://aka.ms/msal-net-2-released for the detail of changes in MSAL.NET between 1.x and 2.x

[2018-10-19 10:54] Surfrat commented on #630
Just ran your sample.

The sample does not retrieve a token even though you are online. You have to login every time. I don't know how it is possible for this to work offline. It also shows the same error as in my app:

![image](https://user-images.githubusercontent.com/2066487/47214175-715c4a00-d39d-11e8-8024-7117c84fb5be.png)

So the real question is:

Can this library be used offline in the sam

[2018-10-19 11:01] jmprieur commented on #630
Thanks for the clarification @Surfrat
Let's make sure we agree on the repro steps. Here is my current understanding. Can you please confirm?

**Repro steps:**
1. build and deploy https://github.com/Azure-Samples/active-directory-b2c-xamarin-native
  - on which platform? Android? iOS? UWP?
2. login with a social identity which in this case is a gmail account?
3. close the application
4. set the dev

[2018-10-19 12:08] Surfrat commented on #630
1. UWP.

I used the built in account (local to B2C). surfrat77@gmail.com

Expected and actual is 100%. I expect the page to popup with your details even though you have airplane mode on.

Thanks.

[2018-10-19 12:13] jmprieur commented on #630
thanks @Surfrat. This will help us repro and we'll get back to you.
cc: @jennyf19 @bgavrilMS

**Repro steps:**
1. build and deploy https://github.com/Azure-Samples/active-directory-b2c-xamarin-native
  to UWP
2. login with a social identity which in this case is a b2C local account
3. close the application
4. set the device in plane mode.
5. Reopen the application

**Expected:**
The user is alread

[2018-10-19 13:05] WilliamWatterson86 opened #647 "Exception: AcquireTokenSilentAsync An item with the same key has already been added. Key: User-Agent"
**Which Version of MSAL are you using ?**
MSAL 2.2.1-preview

**Which platform has the issue?**
Xamarin Android

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* [X] Mobile
* Web App
    * [ ] Authorization code
    * [ ] OBO
* Web API
    * [ ] OBO

**Repro**
I hav

[2018-10-20 00:41] jennyf19 commented on #638
fixed w/[2.30](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.3.0)

[2018-10-20 00:41] #638 closed

[2018-10-20 10:05] valuesoft-dk commented on #526
Then how to get more information about the B2C-signed in user, clientside ? For instance what groups the user is member of ? Or any of the other things you can do with https://graph.microsoft.com and https://graph.windows.net ?

[2018-10-20 16:37] jmprieur commented on #526
@valuesoft-dk
@parakhj or @SaeedAkhter-MSFT will confirm, but my impression is that with B2C you use social identities, whereas the notion of groups is something that's in Azure AD (not social identities), therefore I'd think that if you want to use your you'd want to use Azure AD directly?

[2018-10-21 07:51] jmprieur opened #648 "Make it more obvious that MSAL.NET is actively worked on (but the source code is currently in the ADAL.NET repo)"
### Documentation Related To Component:
Readme.md

### Please check those that apply

- [ ] typo
- [ ] documentation doesn't exist
- [x ] documentation needs clarification
- [ ] error(s) in example
- [ ] needs example

### Description Of The Issue

**Why?**
Some customers/partners are confused seing that everything was deleted from the dev branch but that's still the default branch and master is p

[2018-10-21 11:38] NikolaosWakem commented on #526
Having put a B2C product into production - would I touch it again? Never.. it’s a complete white elephant with almost no support and zero resource being put into it by Microsoft.. my advice would be to avoid like the plague

[2018-10-22 05:55] AlexSchuetz commented on #632
Any informations on when b2clogin will be possible or on how to use it at the moment?

[2018-10-22 08:29] AlexSchuetz opened #649 "System.ArgumentException on IOS if AccessToken is NULL"
**Which Version of MSAL are you using ?**
MSAL 2.3.0-preview

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Desktop
    * [x] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [x] Xamarin.iOS
    * [ ] Xamarin.Android
    * [ ] UWP
* Web App
    * [ ] Authorization code

[2018-10-22 15:08] jonhilt opened #650 "NullReferenceException in AcquireTokenForUserCommonAsync if parent is null"
**Which Version of MSAL are you using ?**
MSAL 2.3.0-preview

**Which platform has the issue?**
Xamarin.iOS

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [X] Xamarin.iOS
    * [ ] Xamarin.Android
    * [ ] UWP
* Web App
    * [ ] Authorization code

[2018-10-22 15:11] jonhilt commented on #650
The problem occurs in this file...

[2018-10-22 15:12] jonhilt commented on #650
The problem is in [PublicClientApplication.cs](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/bf98182b61747a37eca1d34aede542191d68f798/msal/src/Microsoft.Identity.Client/PublicClientApplication.cs)

[code]

Here, `parent` is null in this scenario.

[2018-10-22 22:21] SomkaPe opened #651 "TokenCache.Clear internal Api does not clear persistent version of Adal cache"
TokenCache.Clear internal API does not clear persistent  Adal cache - only Msal persistent  cache cleared.

Root cause:
"onAfter" delegate is not called (only in memory representation of Adal cache is cleared).

[2018-10-22 22:27] SomkaPe opened #652 "RemoveAdalUser internal API does not remove all relevant Adal cache entities (migrarion form adalv3 to adalv4 to msal2 scenario)"
RemoveAdalUser internal API  remove users only by accountId.
This approach does not work for next scenario:
if you get AT for res1 in adal v3 than migrate to adal v4 and get token to res2 you will have next state of the cache:
for the same Account you have one entity in adal cache in adalv3 format (no client info)
another entity in adal v4 format (with client info).
So you have two Adal cache enti

[2018-10-22 22:29] SomkaPe opened #653 "NullPoinetEx in RemoveMsalAccount and RemoveAdalUser when adalv3 account passed"
NullPoinetEx in RemoveMsalAccount (Msal) - when adalv3 account passed
NullPoinetEx in RemoveAdalUser (Msal) - when adalv3 account passed

adalv3 account - has null account Id because it is derived from client info, which is not requested in adal v3

[2018-10-22 22:35] SomkaPe opened #654 "TokenCacheSerializeHelper.DeserializeUnifiedCache does not clear in memory version of cache Instead int appends it"
TokenCacheSerializeHelper.DeserializeUnifiedCache does not clear in memory version of cache so it is appending it instead.

it is an issue when persisted cache is shared by few app.
If persisted cache is cleared by app 1, and than app 2  read  persistent cache -  cache entities stored in memory will be be kept so cache clear operation by app 1 will be ignored by app 2

[2018-10-23 07:57] jmprieur commented on #645
@pangar-ms : please close this issue if you are satisfied with the answer.

[2018-10-23 08:32] AlexSchuetz commented on #550
@jmprieur Unfortunatly I may not share the whole project:

Initializing AuthenticationClient:
[code]

The following request works as expected: AuthenticationPage is shown and after selecting the user I receive an AuthenticationResult with an AccessToken:
[code]

However this request causes the AADBC90146 error. (firstAccount being NULL)
[code]

I just noticed, that the two scopes already differ in

[2018-10-23 09:50] AlexSchuetz commented on #550
I now verified, that the hostname in the scopes is not the cause of this issue. Here is the exception message:

[2018-10-23 10:27] taimila opened #655 "AcquireTokenAsync() call does not return when continuation is set with some B2C local accounts"
---
name: AcquireTokenAsync() call does not return when continuation is set

about:
Authentication with Azure B2C AD seems to work fine and control returns to `MainActivity. OnActivityResult()` where I call `AuthenticationContinuationHelper.SetAuthenticationContinuationEventArgs(requestCode, resultCode, data);` in order to communicate MSAL that it's time to move on. This works almost always withou

[2018-10-23 11:16] bgavrilMS opened #656 "On NetCore, the token cache is always shared"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
dev and MSAL 2.3.0

**Which platform has the issue?**
netcore

**What authentication flow has the issue?**
Both Public and Confidential clients. All flows that use a token cache.

**Repro**
1. Create 2 ConfidentialClient or PublicClients objects. On each one, create a new TokenCache. Do n

[2018-10-23 11:19] jmprieur commented on #655
@taimila : do I understand that those failing identities are local B2C identities?

[2018-10-23 11:22] jmprieur commented on #3
In progress: PR is https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/pull/1331

[2018-10-23 11:57] pangar-ms commented on #645
Thanks after making web application multi tenant it is working now.

[2018-10-23 11:57] #645 closed

[2018-10-24 01:41] valnav commented on #526
@NikolaosWakem We are investing resources towards Azure AD B2C and would love to understand the issues you faced. If possible, we can setup a phone conversation to discuss this.

@valuesoft-dk - You are correct **Azure AD B2C is for local accounts as well**. I wanted to clarify your statement.

Important: To use the Graph API with your B2C tenant, you need to register an application using the App

[2018-10-24 08:05] valuesoft-dk commented on #526
Can you point me to a working sample that demonstrates just that ? It's Angular (not AngularJS), so TypeScript or JavaScript its fine.

[2018-10-24 11:19] taimila commented on #655
I was able to reproduce this issue with [sample application](https://github.com/Azure-Samples/active-directory-xamarin-native-v2) by modifying it to point to our Azure AD B2C tenant. Logging in with most accounts works fine, but with few accounts it gets stuck and timesout eventually. I wonder is there some Azure AD B2C configuration that could cause this. 🤔

[2018-10-24 11:34] jmprieur commented on #655
@parakhj @valnav do you have any idea?

[2018-10-25 05:46] ImadElayyan opened #657 "Unhandled exception while calling Azure ADB2C"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
MSAL 2.3.0 - preview

**Which platform has the issue?**
Xamarin android

**What authentication flow has the issue?**
* Mobile
    * [X ] Xamarin.Android

**What is the identity provider ?**
Azure AD B2C

If B2C, what social identity did you use?

Facebook
Microsoft
Username and password

[2018-10-25 08:05] stevehurcombe commented on #647
Hi,
I think I have the answer, at least in my scenario. I had been trying to acquire a token silently on app startup and it that failed then I would kick off a full login. Turns out I'd missed an await on that first call so I had a race condition and I'm guessing these calls aren't thread safe?

Either way, once I added the await the errors disappeared.

Hope that helps!

[2018-10-25 08:47] stevehurcombe commented on #647
I'm doing this in OnStart():

[code]
The first line was the one missing the await and it was calling (from the V1->V2 migration article)
[code]
and
[code]
The next line was of course firing immediately (due to the missing await) and it was failing on it's own call to because the AccessToken hadn't been retrieved yet:
[code]

Adding the await caused the code to flow the way I had intended, not the

[2018-10-25 08:53] WilliamWatterson86 commented on #647
Thanks @stevehurcombe - will try something similar!

[2018-10-25 19:13] valnav commented on #655
I am looking at it @taimila - are there any specific errors you got.

[2018-10-25 19:28] lanatmwan commented on #431
can we expect that the interactive api will be added back in .net core 3 since it sounds like it is going to have a browser? https://blogs.msdn.microsoft.com/dotnet/2018/10/04/update-on-net-core-3-0-and-net-framework-4-8/

[2018-10-25 21:11] Thraka commented on #431
@lanatmwan I dont think there is a browser for .net core 3, not sure where you read on that on the linked page.

[2018-10-26 00:56] lanatmwan commented on #431
@Thraka Sorry, guess I read that too quickly and had a bout of wishful thinking. I didn't notice that the new browser control was for .Net Framework.

Similar to your previous comment about using console, I would like to see an official powershell core cmdlet that can perform the authentication but it sounds like "device flow" is the closest I am going to get.

[2018-10-26 05:13] taimila commented on #655
Unfortunately, no. `AuthenticationContinuationHelper.SetAuthenticationContinuationEventArgs(...)` returns normally without errors.

[2018-10-26 13:36] AlexSchuetz commented on #657
This seams to be caused by missing CAs (either not present or not configured for the HttpClient).
I don't know how to lookup the CAs installed, nor do I know which HttpClient-implementation uses which CAs. I suspect the Mono-HttpClient uses its own CAs.

Here are jsut some advices on how I would try to dig into this:

1. Do you get an error or warning if you open the login url in one of the instal

[2018-10-26 17:44] jmprieur opened #658 "AcquireTokenWithDeviceCodeAsync should respect AAD API version, (send either code or device_code)"
**Is your feature request related to a problem? Please describe.**
For device code flow, MSAL.NET currently sends `code` whereas the OAuth2.0's standard wants `device_code`.

During the deployment, both should be supported based on AAD's expectations

[2018-10-26 18:31] Thraka commented on #431
@jmprieur The azure cli works around this browser limitation. You really should too 😄

[2018-10-26 20:38] henrik-me commented on #656
Just discussed with Petro. Pls. validate the scenario where we have both an application cache and a user cache. This may be an issue on other platforms as well. @SomkaPe has additional details.

[2018-10-26 21:48] jennyf19 commented on #658
fixed in [2.3.1-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.3.1)

[2018-10-26 21:48] #658 closed

[2018-10-27 01:16] henrik-me commented on #656
Fix is in the repo. Will be part of the next release

[2018-10-27 01:16] #656 closed

[2018-10-27 11:09] ImadElayyan commented on #657
I have tried it from desktop application and it is working fine , the WebView is presented and I was able to login. It is only failing from Xamarin android. I have captured the traffic via WireShark and it is using TLS 1.2

[2018-10-27 12:17] stevehurcombe opened #659 "SerializationException within AcquireTokenSilentAsync"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client (NuGet) 2.3.1-preview

**Which platform has the issue?**
xamarin.android

**What authentication flow has the issue?**
[*] Xamarin.Android

**What is the identity provider ?**
[*] Azure AD B2C

If B2C, what social identity did you use?
Google

**Repro**
I'm getting an exception on this line:
[code]

**Actual behaviour**
Exception:

[2018-10-28 07:56] myokeeh opened #660 "ADAL vs. MSAL AuthenticationResult AccessToken Different"
I've noticed that the `AccessToken` from `AuthenticationResult` from ADAL vs. MSAL are different.

Why? Any way to have MSAL return `AccessToken` as ADAL would?

Context:

Using Azure App Services, `LoginAsync` works with the access token from ADAL, but not the one from MSAL.

[2018-10-28 17:50] Bloodyairtimer opened #661 "Null reference on iOS AcquireTokenAsync(Scopes, UIParent)"
---
name: Bug report
about: Create a report to help us improve

---

**Which Version of MSAL are you using ?**
MSAL 2.2.1-preview AND MSAL 2.3.1

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Mobile
    * [X ] Xamarin.iOS

**What is the identity provider ?**
* [ ] Azure AD
* [ X] Azure AD B2C

If B2C, what social identity did you use?
Microsoft Accoun

[2018-10-28 18:40] jennyf19 commented on #661
@Bloodyairtimer Are you using embedded webview or system browser? Here's more info on using [UIParent](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Acquiring-tokens-interactively#controlling-the-location-of-the-dialog-with-the-parent-parameters-uiparent)

Here's an example for [iOS](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/dev/msal/tes

[2018-10-28 18:56] Bloodyairtimer commented on #661
I tried both, but seems like there is no difference. Based on the exception my assumption would be that it has nothing to do with the webbrowser, but more with writing the token info to my keychain or something like that.

[2018-10-28 19:16] jennyf19 commented on #661
@Bloodyairtimer If it's a keychain issue, you _should_ be getting back a better error message...we've tried to return error messages w/details on how to mitigate these types of issues. :/
 Do you have [keychain access groups](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-groups) set up in Entitlements.plist and did you enable

[2018-10-28 20:51] stevehurcombe commented on #659
Hi @jennyf19,
No problem, log file is attached.
[log.txt](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/files/2523194/log.txt)
I'm not clear what that sample is trying to do, nor the significance of the fact that accounts are a collection, however I can say that I'm only ever expecting one account to be logged in at any one time and my code is pulling the first user from t

[2018-10-29 01:14] jennyf19 commented on #659
@stevehurcombe - Thanks for the logs and code snippet.
Could you try something like this and see if it helps:

[code]

If `firstAccount` is null, then the AT silent call will fail with an `MsalUIRequiredException`, which you will catch and then do an AcquireToken call, which will show the interactive UI and the user will sign in, then you will have a token in the cache and `firstAccount` will be 1

[2018-10-29 08:37] jmprieur commented on #660
@myokeeh : do you have detailed repro steps that we could follow to understand what is your expected result and what you observe? For the moment, I don't understand your question.

MSAL does return an access token (AuthenticationResult.AccessToken). MSAL.NET does all what ADAL.NET does and more in the sense that it's capable of returning an Azure AD v2.0 token in the case the scopes you use corres

[2018-10-29 08:45] myokeeh commented on #660
Expected behavior is a successfull log-in to Azure App Services using the AccessToken.

This works:
[code]

This does not work (Exception at LoginAsync):
[code]

[2018-10-29 08:52] jmprieur commented on #660
@myokeeh : what was the resourceId in ADAL.NET? Is it a Web API ? I see that you have used scopes = {"User.Read"} which is for reading the profile of the use who signed-in in the app.

If it's a web API, you might want to try string[] scopes = { resourceId+"/user_impersonation"}

For more details, please read: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Adal-to-Msal

[2018-10-29 08:56] jmprieur commented on #661
@Bloodyairtimer : can you repro the issue with this sample? https://github.com/Azure-Samples/active-directory-b2c-xamarin-native (and maybe your own app coordinates) ?
otherwise can you please tell us what is different?

[2018-10-29 09:08] stevehurcombe commented on #659
jennyf19 I'm aware of the MsalUiRequiredException pattern. Later on, if my access token is empty, that's when I call the AcquireTokenAsync method and the UI opens. I do this to centralise where and when I want the login UI to show (for example during initial sign in).

Pretty sure that the accounts collection contains only 1 value so looking for an account that matches the policy won't return anyt

[2018-10-29 09:13] Bloodyairtimer commented on #661
@jmprieur I tried the sample app. Without changing anything it's working. If I update the application with my clientID etc. than I also get the null reference exception.

I changed ClientID, Tenant, policynames and in the info.plist the url schemes to msal<myclient-id>. That should be it right?

[2018-10-29 09:20] jmprieur commented on #661
@Bloodyairtimer : did you also change the Entitlements.plist ? (or is it the info.plist for you). Did you make sure that you have the keychain access group?
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Xamarin-ios-specificities#enable-keychain-access

[2018-10-29 09:23] Bloodyairtimer commented on #661
Yes, I have updated the sample app with my azure b2c values. I'm not sure what i should change in the entitlements.plist compared to the sample app?

[2018-10-29 09:31] Bloodyairtimer commented on #661
Thanks! I did remove some claims. I now have enabled all the default ones and the app is working fine now. I will start unchecking them one by one to see which one is the one necessary.

[2018-10-29 09:41] jmprieur commented on #661
Thanks for confirming, @Bloodyairtimer, and please share the result of your investigation. I'll update the documentation.

[2018-10-29 15:09] AlexSchuetz opened #662 "ArgumentNullException on IOS if AccessToken is NULL"
**Which Version of MSAL are you using ?**
Microsoft.Identity.Client v2.2.1-preview

**Which platform has the issue?**
xamarin iOS

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [x] Xamarin.iOS
    * [ ] Xamarin.Android
    * [ ] UWP
* Web App
    * [

[2018-10-29 15:16] AlexSchuetz commented on #657
@ImadElayyan I suppose you have configured "native TLSv1.2+" in your android project then.

Probably the CA you require is not installed or not used on your android device. Unfortunately I don't know how to check or how to fix this.

[2018-10-29 16:15] Bloodyairtimer commented on #661
Just checked which claim in my Azure B2C AD is causing the issue and I see that it is this one:

**User's Object ID (Object identifier (ID) of the user object in Azure AD)**

[2018-10-29 19:14] jennyf19 commented on #659
@stevehurcombe Couple questions for you:
1. Is the SerializationException being thrown when you do the ATSilent call, or is it something you are noticing in the logs? Any chance you could provide the stack trace as well? You can also email it, if that's easier: jeferrie@microsoft.com
2. When you run GetAccountsAsync(), are there any accounts?

[2018-10-29 19:48] stevehurcombe commented on #659
This is all I get, no stack trace:
![snap 2018-10-29 at 19 38 18](https://user-images.githubusercontent.com/2033186/47675613-56b27e00-dbb2-11e8-91fe-951605303ed6.png)
However, you are right, it is an internal unhandled exception. The code does run on normally. I should have spotted that. I ran the code on and caught more of the log if you want it.
[log.txt](https://github.com/AzureAD/microsoft-aut

[2018-10-29 20:23] jennyf19 commented on #659
@stevehurcombe
We think the issue is that since we've changed the formal of the MSAL cache, starting with MSALv2+, if you have entities, stored in the old format (MSALv1), there are required fields that are missing. This exception is internal and suppressed, we log a message, but continue forward. Based on the latest log you sent, you are getting a token in the cache, so it seems to working. Do yo

[2018-10-29 22:01] teelinmaloney opened #663 "Could not resolve type with token 010000dd (from typeref, class/assembly Microsoft.Identity.Client.ClientCredential"
**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
2.3.1-preview

**Which platform has the issue?**
Xamarin android, Xamarin iOS

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Wi

[2018-10-29 22:04] stevehurcombe commented on #659
@jennyf19 I do keep the CLR exceptions on, I like to know when something breaks, handled or not!
I've just cleared all the data from my device and launched the app, thereby triggering the full UI to login. I then relaunched it twice and I did not get the exception. It's been at least an hour now and I haven't seen the exception again. I'll let you know if it comes back.

[2018-10-29 22:05] jennyf19 commented on #659
@stevehurcombe thanks for the update. Did you recently update from msalv1 to v2+?

[2018-10-30 05:50] #660 closed

[2018-10-30 06:46] jmprieur commented on #663
@teelinmaloney : the authority **should not** contain "/oauth2/authorize". What you have expressed is the authorize endpoint of the authority.
Use the following as the second parameter of the constructor
[code]

[2018-10-30 09:59] jmprieur commented on #657
@ImadElayyan. Please see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/tls-issues for a full description.
Which version of Android are you using?

[2018-10-30 14:17] teelinmaloney commented on #663
@jmprieur In this case the code never even makes it that far. Take the following example:
[code]

[2018-10-30 14:24] bgavrilMS commented on #663
@teelinmaloney - ConfidentialClient is not supported on iOS and Android - only the public client. The fact that it appears on Intellisense is a bug - I assume that your auth code is in the "shared" assembly, which is a NetStandard assembly. The Netstandard assembly exposes ConfidentialClient, so that it can be used in .net core applications. On iOS and Android we should throw PlatformNotSupportedE

[2018-10-30 14:30] skorpionet100 commented on #615
I receive AADSTS50049: Unknown or invalid instance at AcquireTokenByAuthorizationCodeAsync  method using the 2.0.0-preview to 2.3.1-preview versions on this sample: https://github.com/chrispadgettlivecom/WebApp-OpenIDConnect-DotNetCore21 that with 1.1.4 works.... what's changed?

[2018-10-30 14:30] teelinmaloney commented on #663
@bgavrilMS You are correct, it is within the shared assembly. We do require the use of non-interactive auth flow as this is for a service account which the user should not need to interact with. We were using the ADAL library before to accomplish this however we were hoping to be able to consolidate down to a single library. The PCA instance that we're using authorizes the user using B2C. Is there

[2018-10-30 16:38] stevehurcombe commented on #659
I did, however I have purged data off the device many times.

So this is what I've tried now.

- I cleared all the data, which caused a full UI login. No problems.
- Launching the app again also worked without exceptions. You can see that in the log.txt file. It did this a few times without issue.
- Today I launched it again and the exception re-appeared again. The second log file.

I suspect some

[2018-10-30 20:41] valnav commented on #526
@valuesoft-dk  You can take a look at this sample [b2c-webapp-webapi](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/). it gives you an idea on how to do this.

[2018-10-31 14:43] dustynl commented on #550
I'm having exactly the same issue as @pasn  and @stumpykilo :(  Any developments on this?

[2018-10-31 17:29] mehamm commented on #632
Same issue as DaRosenberg above.  Not able to login using my-tenant-name.b2clogin.com as above but login.microsoftonline.com does work.  Tried multiple formats for the authority string but still continue to receive the following error: Microsoft.Identity.Client.MsalServiceException: AADSTS50049: Unknown or invalid instance.

One thing I did notice in my registered ad b2c app in the azure portal is

[2018-10-31 18:17] jmprieur commented on #550
@AlexSchuetz @dustynl
https://{tenant}.onmicrosoft.com/api1 is not the same **resource** (API) as https://{tenant}.onmicrosoft.com/api2 even if they are hosted on the same host. See they have a scope (read in each case)

The limitation is that you **cannot** ask a token with scopes mixing Web apis in one call. This is a limitation of the service (AAD), not of the library.
you have to ask a token f

[2018-11-01 00:56] AlexSchuetz commented on #550
@jmprieur I didn't try to get a token for both apis in one call, but to ask a token for `CostumerScopes` (resource 1) and o get consent for `VendorScopes` (resource 2) just like described in the mentioned document. I don't get to that point to be able to ask for the token of resource 2 with `AcquireTokenSilentAsync(AuthenticationConstants.VendorScopes);`, since already the first method throws.

To

[2018-11-01 02:02] AlexSchuetz opened #664 "Unhandled Exception: MsalClientException: Chrome is not installed on the device"
**Which Version of MSAL are you using ?**
MSAL 2.3.0-preview

**Which platform has the issue?**
xamarin android

**What authentication flow has the issue?**
* Desktop
    * [ ] Interactive
    * [ ] Integrated Windows Auth
    * [ ] Username / Password
    * [ ] Device code flow (browserless)
* Mobile
    * [ ] Xamarin.iOS
    * [x] Xamarin.Android
    * [ ] UWP
* Web App
    * [ ] Authorization c

[2018-11-01 02:13] AlexSchuetz commented on #664
I also tried **MSAL 2.3.1-preview**

[2018-11-01 07:33] jmprieur commented on #664
@AlexSchuetz
We have the code in dev to fix this. We need to release it
cc: @jennyf19 @henrik-me

[2018-11-01 09:06] stevehurcombe commented on #659
@jennyf19 I don't know if you've seen my most recent feedback, but I wonder if I'm falling foul of this 'feature':
https://stackoverflow.com/questions/43711590/old-data-appears-in-sqlite-database-when-reinstalling-app

[2018-11-01 09:35] jmprieur commented on #550
Thanks for clarifying, @AlexSchuetz. I'll update the docs
@parakhj : this scenario (acquiring a token for a set of scopes, and also consenting for scopes) does not seem possible with B2C (it is possible with AAD)

[2018-11-01 09:48] AlexSchuetz commented on #664
Do you have a schedule for this? We need to move to production soon 😅

[2018-11-01 09:55] jmprieur commented on #664
@AlexSchuetz : is it an option for you to [build](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Pre-requisites-to-build-ADAL.NET-and-MSAL.NET) MSAL.NET and try-out if this solves your issue?

[2018-11-01 10:14] janireu commented on #93
We would also like to avoid requesting the "offline_access" scope. Our sessions are very short (less than 5 min) so we don't need long term access, we just read the user profile once.

Our main problem is the permission prompt for the users that looks invasive and we don't really need :

Are there any plans now to make this scope optional?

[2018-11-01 12:29] AlexSchuetz commented on #664
@jmprieur Still have to fix some issues myself ;) But I will have a look at it. Do I need to build the MSAL.sln?

[2018-11-01 12:49] jmprieur commented on #664
@AlexSchuetz : the dev branch. and yes, this is MSAL.sln.

[2018-11-01 14:12] janireu commented on #93
@jmprieur Thanks for answering so quickly

Right now, we are
1. calling GetAuthorizationRequestUrlAsync, which I believe always includes scopes "profile, openId, offline_access".
2. calling AcquireTokenByAuthorizationCodeAsync that apart from the provided scopes, checks if the default ones have been granted (I've checked calling this method without the offline_access scope granted and I get an err

[2018-11-01 14:51] jmprieur commented on #93
@janireu. Are you doing this from a Web application? maybe an ASP.NET or ASP.NET core web app?

[2018-11-01 15:15] janireu commented on #93
Yes, it's a web application but I'm not using Microsoft to hold the session, just to record some information.

[2018-11-01 17:06] tipa opened #665 "AcquireTokenSilentAsync hangs for multiple minutes"
**Which Version of MSAL are you using ?**
MSAL 2.3.1-preview

**Which platform has the issue?**
Xamarin.Android

**What authentication flow has the issue?**
Xamarin.Android

**Repro**

[code]

**Expected behavior**
The auth flow ends in a reasonable amount of time (<1min) - successfully or unsuccessfully

**Actual behavior**
For one of my users, the authentication hangs for a very long time (>4 mi

[2018-11-01 17:50] bgavrilMS commented on #663
@teelinmaloney - the ADAL method you are using is not meant for mobile apps. I've obsoleted it just now, all the other overloads were obsolete on mobile. As you can see, this isn't for technical reasons, i.e. the flows work fine, but for security reasons. You can read more about this here: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Right-usage-of-confidential-client-f

[2018-11-01 18:53] teelinmaloney commented on #663
@bgavrilMS Thanks for the clarification. We're connecting to the Dynamics CRM API, which requires either a licensed user or application user to authenticate. If our mobile users were licensed in Dynamics, we'd be able to use an interactive flow, however, since they are not licensed (e.g., users outside the organization), we need to communicate with the API using a non-interactive application user.

[2018-11-02 01:29] toddsharpe opened #667 "Enabling authentication on devices with-out mouse and keyboard for UWP/IoT (was: MSAL Refresh Token?)"
---
name: MSAL Refresh Token?
about: Refresh token not a part of AuthenticationResult

---

**Which Version of MSAL are you using ?**
Note that to get help, you need to run the latest preview or non-preview version
For ADAL, please log issues to https://github.com/AzureAD/azure-activedirectory-library-for-dotnet
MSAL 2.3.1-preview

**Which platform has the issue?**
UWP

**What authentication flow

[2018-11-02 03:11] DevKumar4Git opened #668 "AADSTS65002: Consent between first party applications and resources must be configured via preauthorization."
While trying to use AcquireTokenWithDeviceCodeAsync with msal 2.3.1 preview, I am hitting this issue while login to https://microsoft.com/devicelogin with auth code. I am using a console app on .net core.

[2018-11-02 08:59] jmprieur commented on #668
@DevKumar4Git :  sent you an email with the explanation, as this is a first party specific error.

[2018-11-02 08:59] #668 closed

[2018-11-02 09:09] jmprieur commented on #667
Thanks for sharing your scenario., this is very useful to find the best solution.

Can you consider your iOT device as a confidential client (can keep a secret or certificate ?). If that's the case you could use the [On-behalf-of flow](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/on-behalf-of) on the iOT. This way the iOT would receive the access token from the UWP a

[2018-11-02 10:12] bgavrilMS commented on #663
I would consider having a WebApi in the middle. Users / mobile apps connect to the WebApi, performing interactive flow. The WebApi connects to Dynamics using ClientCredentials (i.e. application wide grants). We have a sample showing how to protect a WebApi and how to access it here https://github.com/azure-samples/active-directory-dotnet-native-aspnetcore-v2

@jmprieur can also chime in / confirm

[2018-11-02 16:03] jmprieur commented on #641
@bgavrilMS @henrik-me
given that the missing override is an obsolete one, suggesting won't fix;

[2018-11-02 16:05] jmprieur commented on #640
@henrik-me : this is not great but I think we can live with just documenting it?

[2018-11-02 16:37] toddsharpe commented on #667
Thank you for the reply! I was taking a look at that flow but I couldn't find the method AcquireTokenOnBehalfOfAsync like you specified. ConfidentialClientApplication doesn't exist. To clarify, the IOT device is running a UWP (its Windows IOT). I am using the NuGet package "Microsoft.Identity.Client". Am I missing something?

Thanks!

[2018-11-02 17:06] henrik-me commented on #641
@jmprieur @bgavrilMS : why is it obsolete? We just added these. Would be great if you could specify which one was obsolete. If we agree it is obsolete then this bug could be used to go and flip that on the public client. Not convinced people using the API is actually using the interface thus they can still get to it.

[2018-11-02 17:15] mehamm opened #669 "Azure AD B2C: Error: "AADSTS50049 Unknown or invalid instance""
I'm trying to adapt to the new b2clogin.com before login.microsoftonline.com (currently working for me) is deprecated but keep getting Error: "AADSTS50049: Unknown or invalid instance".

I'm making an authentication call from a Xamarin.Android app to an ASP.Net Core 2.1.1 web api with Microsoft.AspNetCore.Authentication.AzureADB2C.UI package installed.

Also, calls with PostMan to mytenant.b2clogi

[2018-11-02 17:53] jmprieur opened #670 "CI tool warns about breaking changes in the public API"
**Is your feature request related to a problem? Please describe.**
We want to know when there are API breaking changes

**Describe the solution you'd like**
Identity Model Extensions for .NET have a tool to do that
- CI tool breaks the CI build when the PR proposes a breaking change in the public API
- CI tool issues a warning when the PR proposes a (non-breaking) change in the public API

[2018-11-02 17:53] jmprieur commented on #670
@GeoK @brentschmaltz @mafurman as discussed.

[2018-11-02 18:39] AspenForester opened #671 "No help exists for the MSAL.PS PowerShell cmdlets"
### Documentation Related To Component:
Help for MSAL.PS cmdlets

### Please check those that apply

- [ ] typo
- [X] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in example
- [X] needs example

### Description Of The Issue
Please provide an example that demonstrates each of the of Parameter Sets for each of the cmdlets.
Thank you!

[2018-11-02 19:01] bgavrilMS commented on #641
Let's not "Won't Fix" this, there are public methods not added to the interface.

[2018-11-02 20:04] henrik-me commented on #640
@bgavrilMS @jmprieur : Should be possible to have separate exception on ADAL vs. MSAL. In case we actually can figure out what to throw instead. Also it could inherit from the same exception ensuring we do not break existing clients. E.g. a FederatedServiceException which inherits from the ServiceException?

[2018-11-02 20:07] henrik-me commented on #669
MSAL.NET doesn't support b2clogin.com. Working with the B2C team to find a way to make this work. ETA is currently unknown, however we are looking into it.

[2018-11-02 20:14] henrik-me commented on #667
@toddsharpe : We are currently not including the ConfidencialClient in the uap10.0 target, however it is in netstandard and netcore.

@jmprieur @bgavrilMS : I currently see no reason why we should not be able to include it, thoughts?

[2018-11-02 20:33] henrik-me commented on #665
It seems like login.microsoftonline.com is not reachable (the error received says that there is no response from the server and thus the request timed out) from the network you are on, the log says time-out. Are you using a proxy?

[2018-11-02 20:36] henrik-me commented on #671
@AspenForester : Can you pls. point to the PowerShell cmdlets you are referring to? This team doesn't ship any powershell cmdlets, however perhaps with a pointer to the exact scripts we can find the missing information.

[2018-11-02 20:44] henrik-me commented on #662
@AlexSchuetz : It is not expected that you get null back if the B2C tenant is setup correctly.

It seems like the authority format you are using is fine.
"https://login.microsoftonline.com/tfp/{Tenant}/{PolicySignUpSignIn}"

It seems relevant to examine your setup. I just validated our sample here with a google account and that works fine. Does the sample work for you (with and with-out your own A

[2018-11-02 20:47] toddsharpe commented on #667
Thanks @henrik-me. UWP supports .net standard 2.0 if I'm not mistaken, I'll try extracting this logic into a .net standard dll and trying to invoke it that way.

If there was a way to serialize the TokenCache, transport it, and Deserialize it on the IOT UWP that would also work. I see TokenCache has the serialize/deserialization methods in ADAL but not MSAL, is this correct?

[2018-11-02 20:58] tipa commented on #665
The error didn't happen for me but for on of my users. The reason I created this issue is that I think the auth process should not take 4 mins before failing in such a scenario. The library seems to send 12 web requests with a timeout of 20 secs each. Is that intended behavior?

[2018-11-02 21:15] AlexSchuetz commented on #662
As far as I know to get an Accesstoken you have to request a resource.

But there is none configured yet.

However on Android I get an AuthenticationResult with an Id-token. So it
doesn't seem right to drop that Id-token on IOS.

Maybe no resource is needed, since authentication and claims are
sufficient. Seems to be a supported scenario by B2C and should therefore
also be supported by msal.

Am F